[2018-08-02 22:53] brockallen commented on #2249
properties added to api and identity resources

[2018-08-02 22:53] #2249 closed

[2018-08-02 22:54] brockallen commented on #2055
Created date time added to the secret EF class.

[2018-08-02 22:54] #2055 closed

[2018-08-02 23:38] senseibaka commented on #2502
Yes, I was thinking that might be the case (controlled with a call to `HttpContext.SignInAsync`, right?).
However at the same time I'd be wanting the actual user's session to be remembered....

The alias is controlled by the client, and acts sort of like a grant session (so each time the client wants to do an auth request, they'd first need to create a new alias and supply its details). I agree, i

[2018-08-03 00:24] brockallen commented on #2502
When you issue the claims in the login cookie you can put more claims, such as the real sub as some custom claim. Maybe that'd help?

No pressing plans (there is an open issue somewhere). We do accept sponsorship to prioritize such things.

[2018-08-03 00:35] brockallen commented on #2285
which of these do we want tin 2.3?

[2018-08-03 00:38] #1865 closed

[2018-08-03 00:43] brockallen commented on #1940
Personally, I don't see a huge benefit in this. I'd only consider it if @scottbrady91 thinks there's value in it. Scott? We either do this in 2.3 or never, I think.

[2018-08-03 00:44] brockallen commented on #1933
Done.

[2018-08-03 00:44] #1933 closed

[2018-08-03 00:45] brockallen commented on #2359
How would this event look like?  Just a delegate? Or something from DI? DI is tricky since this token thing runs outside of http requests.

[2018-08-03 00:45] brockallen commented on #2271
ping

[2018-08-03 00:53] senseibaka commented on #2502
That might be an option, using the extra claims parameter on HttpContext.SignInAsync, I assume?

Hmm, or something I could try my hand at (if I could find the time, that is...)

Thanks

[2018-08-03 00:55] brockallen commented on #2502
Yes.

So given that you have what I think you need for now, I'll close. If you run into problems reopen or open a new issue.

[2018-08-03 00:55] #2502 closed

[2018-08-03 01:05] brockallen commented on #2305
so you want the refresh token expiration to be affected by something in the request? and thus the client config in the DB is ignored?

[2018-08-03 01:06] brockallen commented on #2488
Any input on this?

[2018-08-03 01:37] brockallen commented on #2273
Ok, I finally looked into this, ans yes, as you discovered we prefer our endpoints over custom ones for the same paths. I don't recall if we intended for them to be replaceable. @leastprivilege do you recall?

[2018-08-03 01:42] brockallen commented on #2252
IIRC the spec says to return 200 no matter what.

[2018-08-03 03:26] rexdefuror commented on #2488
Hi and sorry for the delay I’m on a trip so no constant internet connection.

Anyways, the motivation for this came from observing our production environment for last few months. More control over the log levels in various places would be more than welcome. For instance, we wish to setup an automated alert system but we dont want certain logs to be considered as errors so they dont alert anyone. M

[2018-08-03 03:46] ghstahl commented on #2305
Kindof. In my case the rule is it cannot be greater than what is configured so not completely ignored.

[2018-08-03 05:16] leastprivilege commented on #2353
OK - details have been worked out. All releases to nuget will be signed in the future.

[2018-08-03 05:16] #2353 closed

[2018-08-03 05:17] leastprivilege opened #2507 "Prepare EF for key management data structures"

[2018-08-03 05:28] leastprivilege commented on #2285
all of them - some are useful for admin interfaces.

client last access is something I heard a couple of times - we don't have to use it internally - but that timestamp could easily be set in an ext. point.

[2018-08-03 05:30] leastprivilege commented on #2311
I deliberately put that in 2.3.x - we first need to move core to 2.1 - then we can assume presence of things like the http client factory.

[2018-08-03 05:42] leastprivilege opened #2508 "Move all repos to ASP.NET Core 2.1"
* In October, ASP.NET 2.0 will be "out of service".
* 2.1.x will be the new LTS version.
* 2.1 has improvements like HttpClientFactory.

[2018-08-03 12:09] gsvitak commented on #2359
A delegate is fine. Understand the DI complexity.

[2018-08-03 12:12] brockallen commented on #2273
Not hard -- we change the order we look thru the list. For some reason I thought we allowed this in IS3 -- I'll compare.

[2018-08-03 12:25] scottbrady91 commented on #2271
I'll get a PR done early next week.

[2018-08-03 12:35] scottbrady91 commented on #1940
Agreed, I'm not sold. I think the custom stores require minimal effort to implement, allowing you to define your own entities and keys, and whatever patterns your desire.

[2018-08-03 14:00] kevinlo commented on #2273
Is it as simple as this in the EndpointRouter .Find function?

`foreach(var endpoint in _endpoints.Reverse())`

[2018-08-03 14:40] leastprivilege opened #2509 "Update all projects"
* SourceLink support
* ASP.NET Core 2.1
* flatten src and test folder
* use unified .cake file

[2018-08-03 15:44] PKrause79 opened #2510 "Login not possible when using IDS4 together with ASP.NET Identity following the quickstart example"
I want to build a Identity Server OIDC service, having an additional simple ui for registration/profile/email-notification of the users.

So I followed the official quickstart manual to achieve this: http://docs.identityserver.io/en/release/quickstarts/6_aspnet_identity.html

1. first I built the ui with the Visual Studio 2017 default template for ASP.NET Core Identity (.NET Core 2.1.2), so I can

[2018-08-03 16:54] jamescrowley321 commented on #1940
The custom stores don't solve the problem of creating a CRUD interface for
the data store. I used a different pattern to get around this, so feel free
to close the issue.

On Fri, Aug 3, 2018, 8:35 AM Scott Brady <notifications@github.com> wrote:

[2018-08-03 17:33] brockallen commented on #2273
prolly, and i think that's what we had in IS3

[2018-08-03 18:13] nloding opened #2511 "Logout not functioning across multiple subdomains"
### Issue / Steps to reproduce the problem

I have an application that has multiple subdomains - for example, portal.mysite.com, admin.mysite.com, etc. - and they all use auth.mysite.com, which is running IdentityServer 4. The main site is using React with oidc-client-js, and the whole thing is set up for implicit flow. When the site transitions between subdomains, I call `oidcUserManager.signinSi

[2018-08-03 19:13] rexdefuror commented on #2488
If you’re reworking logging in general than a minor update for this would suffice I dont have example code on me since Im limited to my phone, but the basic idea could be to create an extension method(s) for logging and make it switch based on some value either from your constant class or from wherever that in my mind feels like least trouble and change for this sort of thing. Then just change all

[2018-08-03 19:19] brockallen commented on #2489
This discussion (https://github.com/aspnet/Security/issues/1832#issuecomment-410330370) makes me think we can't rely upon anything anymore, so just make an explicit "What's Your Cookie Scheme" property on our `AuthenticationOptions`. Yet another thing to configure.

[2018-08-03 21:16] adrianiftode commented on #2264
We used 3K and seemed ok until now. However that code didn't reach the production yet. I think 4k is fine, it really has to be a really big certificate with lots of information to exceed this value.
Thanks. Will you close this?

[2018-08-03 21:22] brockallen commented on #2264
Ok, I'll make the change and will close this issue once it's done.

[2018-08-03 21:33] brockallen commented on #2264
ok, done.

[2018-08-03 21:33] #2264 closed

[2018-08-03 21:35] brockallen commented on #2280
done

[2018-08-03 21:35] #2280 closed

[2018-08-03 21:39] brockallen commented on #2285
ok, done. also added LastAccessed to APiResource if the desire is to track last client/api authentication (think introspection).

do we also want a LastAccessed on the secret table?

[2018-08-03 21:40] #2285 closed

[2018-08-03 21:40] brockallen commented on #1940
Ok, thanks for the discussion. We'll close it then.

[2018-08-03 21:40] #1940 closed

[2018-08-03 21:54] brockallen commented on #2359
Ok so turns out i was already resolving stuff from DI in the token cleanup, so we can do a service in DI

[2018-08-03 22:31] brockallen commented on #2359
ok, done -- and with an interface in DI.

[2018-08-03 22:31] #2359 closed

[2018-08-03 22:43] brockallen commented on #2300
done

[2018-08-03 22:43] #2300 closed

[2018-08-03 23:44] LindaLawton commented on #2280
yup our third parties need description on the consent screen.

thanks

[2018-08-04 00:16] gsvitak commented on #2359
Thank you!! Do you have a unit test to show how it works?

[2018-08-04 01:51] brockallen commented on #2359
no, but the sample EF host does. if you'd like to add tests, we'd love them

[2018-08-04 01:52] brockallen commented on #2280
ok, then perhaps we can try to re-apply the PR to the new structure. of you can always just do it in your UI.

[2018-08-04 02:38] alexsandro-xpt commented on #497
Nice information, thank you @leastprivilege for share.

[2018-08-04 09:59] MCFHTAGENTS commented on #2060
I am seeing a similar issue in IdentityServer 2.2 with ASP.NET CORE 2.1.2
https://stackoverflow.com/questions/51684095/how-do-i-stop-identityserver4-refresh-tokens-expiring

[2018-08-04 13:59] LindaLawton commented on #2280
the problem is simple the field exists in ef it doesn't not exist in the ids datamodel.  why exactly would the datamodel not include all values available in ef.   if you don't want description why was it added in the ef?

I can't just add it to the ui it doesn't exist.   I applied that pr three months ago because we needed it in production asap I told management it would be in the next release as

[2018-08-04 14:10] brockallen commented on #2280
We're actively working on 2.3 given that we have time now. 3 months ago we were't. If you're on holiday, I'd not bother and enjoy the time off instead.

[2018-08-04 14:23] brockallen opened #2513 "Make AddScriptCspHeaders and AddStyleCspHeaders public"
From https://github.com/IdentityServer/IdentityServer4/pull/2260

[2018-08-04 14:25] brockallen commented on #2513
done

[2018-08-04 14:25] #2513 closed

[2018-08-04 14:35] brockallen opened #2514 "Add more strict cache control headers when softer headers are already added by HttpContext.SignInAsync"
https://github.com/IdentityServer/IdentityServer4/pull/2234

[2018-08-04 14:38] brockallen commented on #2514
done, thanks @garymacpherson

[2018-08-04 14:38] #2514 closed

[2018-08-04 15:44] brockallen commented on #1866
not going to bother, since we don't have write APIs or an edit abstraction above.

[2018-08-04 15:44] #1866 closed

[2018-08-04 15:50] brockallen commented on #2218
Basically anywhere `Invalid` is called in the `AuthorizeRequestValidator` you're looking for the error description to be filled in.

[2018-08-04 16:00] brockallen commented on #2218
submitted a PR for review for this

[2018-08-04 16:30] brockallen commented on #2489
PR submitted

[2018-08-04 19:06] brockallen opened #2517 "Add explicit FK properties in EF entities to allow EF Core DataSeeding"
https://github.com/IdentityServer/IdentityServer4.EntityFramework/pull/138

[2018-08-04 19:08] brockallen commented on #2517
done

[2018-08-04 19:08] #2517 closed

[2018-08-04 21:31] brockallen opened #2518 "Add AsNoTracking for readonly queries"
https://github.com/IdentityServer/IdentityServer4.EntityFramework/pull/136

[2018-08-04 21:31] brockallen commented on #2518
done

[2018-08-04 21:31] #2518 closed

[2018-08-04 22:13] LindaLawton commented on #2353
can I ask where you got the certificate?   I need to do the same at some point on one of my projects

[2018-08-05 02:04] Mardoxx opened #2519 "IAuthenticationHandlerProvider not working as expected"
I can't resolve an authentication provider by its name from `IAuthenticationHandlerProvider` when using IDSrv because it's got a completely different [implementation](https://github.com/IdentityServer/IdentityServer4/blob/8aa7b020ebb52e5e721953bd3ecd4483f22b5d86/src/Hosting/FederatedSignOut/FederatedSignoutAuthenticationHandlerProvider.cs), and changed what it returns compared to the [default](htt

[2018-08-05 02:12] Mardoxx commented on #2519
I was thinking about perhaps using `Castle.DynamicProxy`, but it's bound to break something or somewhere... it involves too many (i.e. more than 0) assumptions about how the return value is gonna be used..

[2018-08-05 02:35] brockallen commented on #2353
From being in the .NET Foundation.

[2018-08-05 02:37] brockallen commented on #2519
Sorry, I'm not following.

[2018-08-05 02:45] Mardoxx commented on #2519
`await _handlerProvider.GetHandlerAsync(_context, "name")` will return a `AuthenticationRequestHandlerWrapper` instead of the actual handler type

[2018-08-05 02:52] Mardoxx commented on #2519
It's okay I've solved what I needed to now.

[2018-08-05 02:52] #2519 closed

[2018-08-05 05:54] leastprivilege commented on #2353
You just need a code signing certificate from one of the public CAs.

[2018-08-05 07:04] garymacpherson commented on #2514
Cheers for that, happy to help.

[2018-08-05 13:18] leastprivilege opened #2520 "Update templates for 2.3"
once 2.3 is released.

[2018-08-05 13:31] leastprivilege commented on #2509
Done for

* IdentityServer4
* IdentityServer4.Storage
* EntityFramework.Storage

[2018-08-06 01:57] h2chch opened #2521 "Is it possible to have custom subdomain login pages?"
My objective is to have:

first.domain.com/identity/login?
second.domain.com/identity/login?
.
n.domain.com/identity/login?
Depending from which subdomain user is coming from, he will be redirected to one of the login page above. Is it possible to achieve this on IdentityServer?

[2018-08-06 09:47] vighneshtrivedi2004 opened #2522 "Windows Authentication in Identity Server 4 using API in HTML / JS Client via Ocelot"
I want to use Windows Authentication in Identity Server 4 using API in HTML / JS Client, via Ocelot - API Gateway.

I tried the knowledge base link as mentioned below:

http://docs.identityserver.io/en/release/topics/windows.html

This turns on the Windows Authentication in Identity Server using Kestrel and IIS Express.

However, on calling ExternalLogin method on AccountController gives 401 - una

[2018-08-06 13:12] brockallen commented on #2522
Then build your login page to work the way you want.

[2018-08-06 13:34] vighneshtrivedi2004 commented on #2522
Thank you for your response. We already have login page implemented. We want to find exact API endpoint within identity server to perform windows authentication.

Should we use connect/token endpoint or call ExternalLogin method within AccountController? Or perhaps this involves calling different endpoint?

[2018-08-06 13:38] brockallen commented on #2218
merged.

[2018-08-06 13:38] #2218 closed

[2018-08-06 14:03] brockallen commented on #2434
merged

[2018-08-06 14:03] #2434 closed

[2018-08-06 14:07] brockallen commented on #2489
merged

[2018-08-06 14:07] #2489 closed

[2018-08-06 14:15] brockallen commented on #2388
merged, thanks!

[2018-08-06 14:15] #2388 closed

[2018-08-06 15:30] brockallen commented on #2067
As you should have seen from the other issue, the AsNoTracking was merged. Thanks!

We're still debating the async EF features. Feel free to comment on that.

[2018-08-06 16:59] brockallen commented on #2522
One of us is not understanding.

That question doesn't make any sense to me.

Which HTML page? In the client or in IdentityServer?

I don't know what Ocelot is.

[2018-08-06 17:54] vighneshtrivedi2004 commented on #2522
We have a HTML page for Login on the our client side where we want to achieve same functionality as the "Windows" button in the Quick Start UI sample. In other words, let us say that user enters windows credentials on this HTML page on the client side and clicks Login button, after that, how do we initiate windows authentication driven by Identity Server?

We are also struggling to use windows aut

[2018-08-06 19:52] dazinator commented on #822
I just hit this, when creating a vanilla `asp.net core` project that uses `individual user accounts`, with the `scaffolded` identity razor pages UI. The project worked out of the box, and it also worked when I added bitbucket external authentication, however when trying to bring `identity server 4` into the mix, after looking at the samples and docs, I was unable to get it to work.

Note the sampl

[2018-08-06 20:59] nloding commented on #2511
I've played with cookie authentication schemes, none made a difference. I've manually deleted all the cookies, same issue. I've also used the interaction service to manually revoke all tokens for the session, and I still get logged in just fine.

I admit, I don't fully understand the back channel/front channel stuff, but the issue I'm trying to solve here is all within one tab - the app isn't runn

[2018-08-06 21:58] brockallen commented on #2522
Why don't you make that button trigger authorization and send an acr_value to IdentityServer with idp:windows? That way it just works with how our quickstart works and you'd get SSO from that. Other than that, I don't have any suggestions for doing it programmatically. I'm sure there are ten other ways you could get it hacked together, but the protocols all point you at doing the authentication at

[2018-08-07 00:59] brockallen commented on #2271
BTW, I think we'd prefer these in for the preview1 if possible (meaning prior to any updates for device flow, since we decided that will be for preview2).

[2018-08-07 01:38] brockallen opened #2523 "CorsService doesn't handle null for origin"
Sometimes in some situations null is passed as the origin -- handle that better.

[2018-08-07 14:21] brockallen opened #2526 "Check to see if we handle access denied from external IdPs in our templates"

[2018-08-07 14:32] rlanga commented on #2486
Hi, I figured it out. I was using migrations created whilst using a MySQL driver. I deleted the migrations and made fresh ones with npgsql.
Sorry for all the hassle!

[2018-08-07 14:32] #2486 closed

[2018-08-07 15:22] scottbrady91 commented on #2271
I've just realized that most of these have got unique indexes.

The only way I can see to get around this is to bring the normalization stuff into IdentityServer/the EF repo, or to get rid of the indexes. Both will be awkward for both existing IdentityServer or AdminUI users.

Let me know what you think.

[2018-08-07 16:12] alexdresko commented on #2510
I'm in the same boat, though I feel like this is probably a duplicate issue... just worded differently somewhere else.

[2018-08-07 16:12] brockallen commented on #2271
Perhaps AdminUI should treat the ClientId and ResourceName as the normalized values?

[2018-08-07 16:18] alexdresko commented on #2510
Ha. As luck would have it, I think I just got it working. [This](https://github.com/IdentityServer/IdentityServer4/issues/2373#issuecomment-396625276) post was extremely helpful.

I did scaffold Identity as instructed. Also, here's my full `startup.cs`

[code]

[2018-08-07 16:43] scottbrady91 commented on #2271
I'm not against that; the whole normalization thing was a non-starter as you saw. But unfortunately, I'm not going to be able to discuss it with anyone before preview1.

[2018-08-07 16:44] scottbrady91 commented on #2271
Happy to wait or do you want the reserved & description stuff anyway?

[2018-08-07 19:46] nloding opened #2528 "Reference token authorization failing with JS client and API"
### Issue / Steps to reproduce the problem

In troubleshooting #2511 I decided to give reference tokens a try, as you can revoke those. I set up my API like so:

[code]

And updated my API to use this configuration:

[code]

You can see my previous config there, just for reference. I see the following in the output:

[code]

I've confirmed that my JS client is passing the access_token I received w

[2018-08-08 02:04] brockallen commented on #2271
description should be in there already.

[2018-08-08 02:04] brockallen commented on #2271
i'm ok to wait on the rest

[2018-08-08 02:07] brockallen commented on #2528
AddIdentityServerAuthentication uses Bearer as the scheme. Is IdentityServerAuthenticationDefaults.AuthenticationScheme the same?

Also, do you have a UseAuthentication in your MW pipeline?

Any logs in the API?

[2018-08-08 02:09] #2471 closed

[2018-08-08 02:09] #2477 closed

[2018-08-08 02:10] #2498 closed

[2018-08-08 02:10] #2500 closed

[2018-08-08 02:10] #2501 closed

[2018-08-08 02:10] brockallen commented on #2503
Any update?

[2018-08-08 02:15] liugt34 commented on #2503
i think this problem is maked by nginx ,but i don't know how to resolve it ? i use another windows server,and use iis, and it worked well

[2018-08-08 02:25] nloding commented on #2528
@brockallen I copied that code snippet directly from the docs. Not sure what you mean if `IdentityServerAuthenticationDefaults.AuthenticationScheme` is the same? I do have `app.UseAuthentication()`, and it does work perfectly (except for my subdomain logout issue #2511) with JWT tokens. It's the switch to reference tokens that is wonky.

Nothing obvious in the API logs. I'll turn up the logging to

[2018-08-08 05:54] Manojmadhav commented on #2477
Rectified the issue, The subject property is mandatory in User object even if we don't use the same.

[2018-08-08 06:27] leastprivilege commented on #2521
There is only one login "route" - but from there you have full control where you want to redirect the user to. Just preserve the original returnUrl and come back to that when you are done.

[2018-08-08 06:27] #2521 closed

[2018-08-08 06:34] leastprivilege commented on #2505
You are correct that we are filtering claims in the userinfo endpoint.

But the real issue you are seeing is, that the access token that is used to access userinfo does not contain the session ID claim. Thus it is missing in IsActiveAsync.

OAuth access tokens don't have the concept of a session - if the sid claim is missing, you should probably ignore it in IsActive.

[2018-08-08 06:37] leastprivilege commented on #2252
@LindaLawton does your investigation involve reading specs before declaring bugs?

https://tools.ietf.org/html/rfc7009#section-2.2

closed as by design.

[2018-08-08 08:14] himalpatel81 opened #2529 "IdentityServerAuthenticationOptions cannot be provided per tenant"
Implement a class that inherit from "IOptionsMonitor<IdentityServerAuthenticationOptions>" and override the "Create" method. Create method in my case identity the tenant based on the host name and set the related "Authority: & "APIName".

In the Startup.cs, register the Singleton using following code.
`ervices.AddSingleton<IOptionsMonitor<IdentityServerAuthenticationOptions>, IdentityServerTenantP

[2018-08-08 08:39] shaikatz opened #2530 "Issue with Implicit flow quickstart and default authentication cookie lifetime"
### Issue / Steps to reproduce the problem
Set up a an external TicketStore, and use the Implicit flow quickstart, identityserver will start to generate exceptions.

The problem is that the default cookie expire timespan is 10 hours, but the quickstart does not set `AuthenticationOptions` `IsPersistent` field to true.

The flow is that user is login, getting a session cookie, and doesn't close the

[2018-08-08 10:28] kieronlanning opened #2531 "More than twenty 'IServiceProvider' instances warning."
I've also posted this in the Entity Framework Core issues repro, but I think it maybe related to IdSrv4's use of EF...

[Issue: 12927](https://github.com/aspnet/EntityFrameworkCore/issues/12927)

This is the issue as it stands, but I'll add a little more detail after:

When using EF Core 2.1.1 after a number of calls into my service I start seeing the following warning:

I've followed the instruct

[2018-08-08 12:25] PKrause79 commented on #2510
@alexdresko thank you for your post - this solved my problem! Even I needed to update your code with adjustments from the other thread you mentioned ... I am very happy now :)

Here is my complete running project (its just the running quickstart example without any other functionality) - so everybody with the same problem can look into it how we solved it:

[IDS4ASPI_v2.zip](https://github.com/Ide

[2018-08-08 12:42] brockallen commented on #2503
Supporting nginx is beyond what we can help you with here.

[2018-08-08 12:44] brockallen commented on #2529
We don't support that, sorry.

[2018-08-08 12:45] leastprivilege commented on #2505
Will close this - feel free to re-open if you have further questions.

[2018-08-08 12:45] #2505 closed

[2018-08-08 13:04] #2503 closed

[2018-08-08 13:05] #2529 closed

[2018-08-08 13:55] alexambrogi commented on #2501
I have a similar problem
run:
var disco = await DiscoveryClient.GetAsync("http://localhost:5000");
error:
Error connecting to http://localhost:5000/.well-known/openid-configuration: An error occurred while sending the request.

[2018-08-08 15:37] nloding commented on #2528
@brockallen here is the full debug output when I make a request (actually a few requests) after authenticating: https://gist.github.com/nloding/863f458f441fd14505daa36bc3ccc849

I removed the `IdentityServerAuthenticationDefaults.AuthenticationScheme` setting, so it's just `services.AddAuthentication()` - the log was identical.

I also forgot to include versions:
IdentityServer4.AspNetIdentity: 2.

[2018-08-08 15:50] nloding commented on #2528
Also, here is a longer debug log, that starts from when I click "Login" and authenticate, through to the failed requests when the login callback completes: https://gist.github.com/nloding/dd363fc035a9cf54bdf624560d31e717

[2018-08-08 16:47] brockallen opened #2532 "Consider resolving login url, et al from named options"
So that LoginPath doesn't need to be explicitly set.

[2018-08-08 18:28] vighneshtrivedi2004 commented on #2522
I tried calling authorize end point using below URL but still there is no success. I am assuming you suggested to call identity server authorize endpoint for performing windows authentication:

http://localhost:5000/Authorize?scope=api1&client_id=client&response_type=id_token token&acr_values=idp:Windows&state=abc&nonce=xyz&redirect_uri=" + encodeURIComponent("http://localhost:5000")

[2018-08-08 18:46] brockallen commented on #2522
Just to be clear, I was suggesting the normal authorization request by redirecting the user's browser (not an ajax call).

[2018-08-08 18:55] brockallen commented on #2523
fixed

[2018-08-08 18:55] #2523 closed

[2018-08-08 18:56] brockallen commented on #2067
No additional input on this thread? We're planning on releasing a 2.3 preview1 soon, so time to discuss is now.

[2018-08-08 19:08] brockallen commented on #2530
I don't follow. These values are legal, as they are saying the cookie should expire in 10 hours but not be persistent. Setting a 10 hour cookie does not require it to be persistent.

[2018-08-08 19:43] leastprivilege commented on #2528
I don't see a call to the introspection endpoint..

[2018-08-08 19:50] nloding commented on #2528
@leastprivilege I don't either - I was curious about that, but didn't know if it should hit checksession first. Using `AddIdentityServerAuthentication` should call the introspection endpoint, shouldn't it? I'm not sure at this point how I can determine if there's a bug with IdentityServer or an issue with my configuration.

[2018-08-08 20:07] brockallen commented on #2531
Can you reproduce this with our EF host sample?

[2018-08-08 20:31] brockallen commented on #2509
EF is now updated and the QS UI has also been sync'd

[2018-08-08 20:32] Exocomp commented on #2252
I suggest logging a different message than "Token successfully revoked". Looking at the log it gives the wrong impression that the token has really be successfully revoked.

Perhaps in the log indicate the token was not revoked due to the wrong client or invalid token, since the log is there for troubleshooting purposes that will be helpful.

[2018-08-08 22:05] brockallen commented on #2509
ASP.NET Identity now as well

[2018-08-08 23:32] kieronlanning commented on #2531
@brockallen I’ll give it a go over the next few days and report back.

[2018-08-08 23:56] brockallen commented on #2531
Please use the dev branch, as we've made several update recently. Thanks.

[2018-08-09 00:15] brockallen commented on #2526
ok, no fix here. for some reason i thought the built in plumbing sent the error to the callback page. it doesn't :/

[2018-08-09 00:17] brockallen opened #2533 "DistributedCacheStateDataFormatter should handle failed Unprotect workflows"
Currently null json is being sent into the ObjectSerializer.FromString.

[2018-08-09 00:41] brockallen commented on #2273
PR submitted for this: https://github.com/IdentityServer/IdentityServer4/pull/2534

[2018-08-09 00:43] brockallen commented on #2420
Is there a way to do this in your migration creation, so we don't have to add code inside the core ef module for DB specifics?

[2018-08-09 00:44] brockallen commented on #2201
Closing. If you still have issues, feel free to reopen.

[2018-08-09 00:44] #2201 closed

[2018-08-09 01:02] brockallen commented on #2454
IIRC this was done to cut down on the serialized payload (but i'd have to really dig into it to be sure). This was necessary since we changed how we send it all to using a query string param and not as a cookie.

As for not being an open redirecter, could an attacker not take advantage of a client with a XSS vulnerability in their state param? I could see that as an attack against not validating t

[2018-08-09 03:41] liugt34 opened #2535 "add identity method and return 404"
i have write a user account webapi , so i useed the identity in the code
in the Startup.cs ,,i add this method
`services.AddIdentity<ApplicationUser, ApplicationRole>().AddEntityFrameworkStores<ApplicationDbContext>().AddDefaultTokenProviders();`

but it return 404 error

![tim 20180809114123](https://user-images.githubusercontent.com/8056013/43876807-345fe352-9bc9-11e8-8a9d-656ee86c97d8.png)

whe

[2018-08-09 06:35] leastprivilege commented on #2535
I can't see how this is an issue with IdentityServer. Please use one of the support options here:

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-08-09 06:35] #2535 closed

[2018-08-09 06:36] leastprivilege commented on #2526
but the QS UI should probably show how to handle external errors, no?

[2018-08-09 06:37] leastprivilege commented on #2252
There is a warning

https://github.com/IdentityServer/IdentityServer4/blob/b5342381935600af3e06fe8d3d5c48963d6659e2/src/IdentityServer4/ResponseHandling/TokenRevocationResponseGenerator.cs#L115

Do you want anything beyond that? Want to PR?

[2018-08-09 06:38] leastprivilege commented on #2528
Also check the logs in the API.

[2018-08-09 07:18] #2509 closed

[2018-08-09 07:18] #2508 closed

[2018-08-09 07:22] leastprivilege opened #2536 "Update Quickstarts"
* using templates and dotnet CLI
* using 2.1

etc

[2018-08-09 08:03] shaikatz commented on #2530
The exception was thrown by my own implementation of TicketStore,
The issue that I see here is that I couldn't anticipate requests that their token was expired since the cookie has a life time of 10hours, and my redis cache expiry set to 10 hours.

But, because we don't set the cookie to be persisted, it doesn't have 10 hours expiry in the client side (because it's a session), and he send a reques

[2018-08-09 12:05] kieronlanning commented on #2531
@brockallen Does that include the use of the `.UseLoggerFactory`?

[2018-08-09 12:34] SilvanaBanana opened #2537 "Reference Token Grant not found in store"
### Issue / Steps to reproduce the problem
I set up my own Authentication Server with IdentityServer4, and I also have a WebApi and a Client which uses Resource Owner Password Flow for Authentication. I use a Database for for persisting operational data and Reference tokens.
My implementation was working fine two days ago (I could log in, call protected Methods and Log out) but all of a sudden, no

[2018-08-09 12:36] brockallen commented on #2526
Isn't that MS docs? You have to do it in each external handler's callback.

[2018-08-09 12:37] brockallen commented on #2530
I think your token store just returns null if you can't find a matching item.

[2018-08-09 12:38] brockallen commented on #2531
I don't think so.

[2018-08-09 12:39] brockallen commented on #2537
Sounds environmental.

[2018-08-09 12:47] kotikavoori opened #2538 "No migrations were applied. The database is already up to date for ConfigurationDbContext - Ref Example Client :Combined_AspNetIdentity_and_EntityFrameworkStorage"
im trying to use this example from git repo : Combined_AspNetIdentity_and_EntityFrameworkStorage , For some reason im able to use only IdentityDB in Sqlite DB.Not able to migrate or update  ConfigurationDbContext

### Issue / Steps to reproduce the problem
Checkout the repo
do update database - context ConfigurationDbContext , the sqlite.db[ASpidUsers.db] wont get updated..the message in console i

[2018-08-09 12:47] kotikavoori commented on #2538
@brockallen please check this one

[2018-08-09 12:51] dpcrman commented on #2059
Thank you for your advice

[2018-08-09 12:53] shaikatz commented on #2530
I know how to fix my store implementation to prevent the exception.
I just think that the behaviour of the cookie (session and not 10 hours expiry because of the persistent false) is counter intuitive.

[2018-08-09 12:53] #2530 closed

[2018-08-09 12:57] brockallen commented on #2530
Well, to me it makes perfect sense. I do agree with you that the docs on the IsPersistent flag are confusing. I read the comment you pasted several times and it still doesn't make much sense to me, and if you take it at face value the comment is wrong (if not misleading). I'd suggest opening an issue with Microsoft.

[2018-08-09 14:04] balaji-rajan commented on #909
Hi, Thank you all. This thread was very helpful and solved my queries on MVC client. I would like to know how could be same can be achieved in JS/Angular (OIDC-Client) to pass additional parameters?

[2018-08-09 15:05] nloding commented on #2528
@leastprivilege there is no call made to the introspection endpoint, just checksession. Here is the full log with all log levels set to `Debug` on the API. https://gist.github.com/nloding/6733f8562302dd5351be49d89bc0444a

This seems to be a bug. Per the docs, just using `AddIdentityServerAuthentication` should call the introspection endpoint automatically. And it's not.

Some additional details: I

[2018-08-09 15:28] leastprivilege commented on #2528
I'd want to see the logs of the API **only**

[2018-08-09 15:34] nloding commented on #2528
Aha, some success! I added the following options:

[code]

... and now the introspection endpoint is called. Here are the logs: https://gist.github.com/nloding/644685325a7bb3d761ebd2a088fac76f

Doesn't look like `AddIdentityServerAuthentication` uses the Bearer scheme by default, perhaps?

Unfortunately, the Identity UserManager isn't able to find the user (`_userManager.GetUserAsync(HttpContext.P

[2018-08-09 15:37] leastprivilege commented on #2528
You should always set the default scheme.

see here

https://github.com/IdentityServer/IdentityServer4.Samples/blob/dev/Clients/src/SampleApi/Startup.cs#L29-L64

[2018-08-09 15:52] nloding commented on #2528
I had it set per the docs here: https://identityserver4.readthedocs.io/en/release/topics/apis.html#the-identityserver-authentication-handler

`services.AddAuthentication(IdentityServerAuthenticationDefaults.AuthenticationScheme)` but that isn't the same scheme, it seems.

Now I just need to figure out why my user is null, even though it shows the right ID in the logs ("Authorization was successful

[2018-08-09 15:59] leastprivilege commented on #2528
no - they are the same.

you can choose whatever scheme names you want - as long as they match.

[2018-08-09 16:05] nloding commented on #2528
Shouldn't it have worked with that previous set up, then? The only change I made was from:

`.AddAuthentication(IdentityServerAuthenticationDefaults.AuthenticationScheme)`

to

[code]

[2018-08-09 16:25] leastprivilege commented on #2528
look at the snippet I sent you.

[2018-08-09 16:32] #2526 closed

[2018-08-09 16:36] brockallen commented on #2273
Actually, can you for now test putting your endpoint in prior to IdentityServer's registration in DI. Just after I did these changes, I realized that if we reverse the order, we might in fact be breaking someone else that already uses this.

[2018-08-09 16:39] brockallen commented on #2271
Also, for reserved -- can't that go into the properties table? Seems like a good place without needing a schema change.

[2018-08-09 16:39] nloding commented on #2528
I'll submit an update to the docs - that first parameter in `AddIdentityServerAuthentication` is not in the docs.

I also figured out the null user issue - I had to add this line to `AddIdentity`: `config.ClaimsIdentity.UserIdClaimType = "sub";`

Thanks for all your hard work on this library!

[2018-08-09 16:40] #2528 closed

[2018-08-09 16:41] brockallen commented on #2528
We have an extension method to add ASP.NET Identity into IdentityServer.

[2018-08-09 16:42] brockallen opened #2539 "Consider Add or Replace Endpoint extension method"

[2018-08-09 16:58] nloding commented on #2528
@brockallen I am using that. And everything works great with JWTs, but when I switched to reference tokens I had to add this line for `UserManager.GetUserAsync` to find the user.

[2018-08-09 17:00] Irfan434 commented on #2241
I think the directions mentioned in the first comment are here:
http://docs.identityserver.io/en/release/quickstarts/3_interactive_login.html

The above link is page 3 of the IdentityServer4 tutorial. The first page is here:
http://docs.identityserver.io/en/release/quickstarts/0_overview.html

[2018-08-09 17:31] brockallen commented on #2528
Right, and why in your API project would you be referencing ASP.NET Identity? That's somewhat counter intuitive. The identity of the user should be delivered to your API via the access token.

[2018-08-09 18:37] brockallen commented on #2532
I looked into this @leastprivilege -- turns out we do the opposite; we set the handler options to use our settings. I now recall when we were designing this -- that was deliberate. We made the decision to make our settings the primary value, and we overwrote the settings on the cookie option. So now... we're changing our thinking?

[2018-08-09 18:43] nloding commented on #2511
I was able to get this working with reference tokens, which I can fully revoke, as opposed to JWTs which I cannot. As I've learned more about these specs, this is the way I should have gone in the first place!

[2018-08-09 18:43] #2511 closed

[2018-08-09 19:34] brockallen commented on #2510
I finally had a chance to look into this. The problem is that IdentityServer (build 2.3 and prior) requires the host to have configured a default authentication scheme. This is how we know who the user is. In ASP.NET Identity prior to their 2.1 changes, they set this in the call to AddIdentity. Well, in 2.1 for their self-contained UI they changed how they're doing it. Instead they only set a defa

[2018-08-09 19:47] brockallen commented on #2532
I tested the above approach and it seems to work well. The only possible breaking behavior is if someone were previously setting the cookie options path to something invalid and then those were getting corrected by our default paths to "/Account/Login" for example. Otherwise, this seems like it's going to work out alright.

[2018-08-09 19:52] brockallen commented on #2532
PR submitted @leastprivilege

[2018-08-09 19:55] brockallen commented on #2539
For this, we already have a AddEndpoint -- perhaps this impl shoul[d just change to put the item in front?

[2018-08-09 20:13] brockallen commented on #2510
Part of this is already fixed here; https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/commit/58b895052ec0b094439138643654c36847651e7b

The other part depends on this PR which is yet to be merged: https://github.com/IdentityServer/IdentityServer4/pull/2540

[2018-08-10 05:10] MuhammadAqibAli commented on #1854
@twenzel  I have same issue with 2.2.0 version

[2018-08-10 11:30] mfnaseem opened #2541 "CSP issue with IS4, RedirectUris"
I'm just creating the new solution  by using
https://github.com/identityserver/IdentityServer4.QuickStart.UI/tree/release

everything was working fine, but when i tried to add my template it started to give CSP errors

I debugged the application and see that it successfully logs me in, when it goes to redirect it ends up
 with a CSP error:

plz help me out whats i m missing
Thanks!

![image](https

[2018-08-10 11:38] brockallen commented on #2541
Are you not familiar with CSP?
https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

[2018-08-10 11:40] brockallen commented on #2541
Can you elaborate on which code you started with and what additional code you added? I'm trying to understand your steps.

[2018-08-10 11:56] mfnaseem commented on #2541
Step1: I followed the exact course from plural sight securing-aspdotnet-core2-oauth2-openid-connect
till I can login with IS4 and that redirects back to my website
Step2: Included my own template into that solution
Step3: after getting the CSP errors I added the Nuget package of NWebSec.AspNetCore.Middleware in Identity layer
that resolved the issue till login (authorization), but redirecting back

[2018-08-10 12:45] brockallen commented on #2541
So you will need to track down which CSP rules you added (either intentionally or unintentionally) and find out if they're from IdentityServer's CSP from our templates or elsewhere (I suspect it's from elsewhere). And then you'll need to find out how to configure those CSP rules to work with what IdentityServer needs to do on that one rendered page. You should notice we already emit the scipt hash

[2018-08-10 12:52] brockallen commented on #2373
Follow-up on this thread: https://github.com/IdentityServer/IdentityServer4/issues/2510#issuecomment-411871543

[2018-08-10 14:11] PrabhujiMudragalla opened #2542 "Use Service Fabric Reliable Collection for Identity server"
Hi Team,

We are using Service Fabric(.Net Framework) for our application, so we are in a plan to migrate Identity Server Web application to Service Fabric Stateful service with Reliable collections. Can you provide necessary steps to migrate the database tables to Reliable collections and necessary steps to migrate the web application.

[2018-08-10 14:15] PrabhujiMudragalla opened #2543 "Migrate Identity Server 3 to Service Fabric 4"
Do we have any steps to migrate ASP.NET Identity server 3 to the ASP.NET Identity server 4 for DotNet Framework >4.6 application?

[2018-08-10 15:40] brockallen commented on #2542
No, sorry. We don't have any information on that.

[2018-08-11 04:57] mfnaseem commented on #2541
Thanks brokallen..

I came out from this issue with a little change
added an attribute ".ScriptSources(s => s.UnsafeInline())"

app.UseCsp(opts => opts
            .BlockAllMixedContent()
            .StyleSources(s => s.Self())
            .StyleSources(s => s.UnsafeInline())
            .FontSources(s => s.Self())
            .FormActions(s => s.Self())
            .FrameAncestors(s => s.Self())

[2018-08-11 10:42] kamikyo commented on #2028
@jkeslinke @brockallen
I have the same problem.
But this [link](https://stackoverflow.com/questions/50670654/net-core-2-cookieauthentication-ignores-expiration-time-span) solve it.

[2018-08-11 12:45] brockallen commented on #2541
So all set on this issue? We can close?

[2018-08-11 14:50] brockallen commented on #2510
I'm going to close this, as the other two issues will provide resolution. Thanks.

[2018-08-11 14:50] #2510 closed

[2018-08-11 14:52] brockallen commented on #2543
We don't have any thing specific. I'd suggest starting with our quickstarts, then from that knowledge you'd have to take what you have for IS3 and plan for yourself moving to IS4.

[2018-08-11 14:52] #2543 closed

[2018-08-11 14:52] #2542 closed

[2018-08-11 14:56] brockallen commented on #2538
I just ran the "ef database update" for both DbContexts for that QS sample and it worked fine. I don't know why you have that error. But if it says the DB is there, then it should be fine.

[2018-08-11 14:57] brockallen commented on #2522
Any update?

[2018-08-11 14:57] brockallen commented on #2478
Any update on this?

[2018-08-11 15:11] vighneshtrivedi2004 commented on #2522
Hi Brock,

Thank you for providing extended support. My issue here is that I am not sure on what should be ideal workflow to implement windows authentication from a HTML client which is targeting to use Identity Server for authentication and token generation.

I have read the documentation on windows authentication. It suggests to use Kestrel and IIS Express from Visual Studio with windows authent

[2018-08-11 15:47] MichalJana opened #2544 "IdentityServer4 Asp.Net Core Identity does not redirect back to client"
I have basic IdentityServer4 with Asp.Net Core Identity. After redirecting to the login page and signing in, IdentityServer does not redirect me back to the client. I have already tried to post here [https://stackoverflow.com/questions/51683801/identityserver4-asp-net-core-identity-does-not-redirect-back-to-client](url) without success.

Here is repository with the solution:
[https://github.com/Mi

[2018-08-11 15:49] brockallen commented on #2522
Our samples show an approach for windows authentication, and that's the most common approach. At this point, it seems that this issue does not reflect a bug or feature request within IdentityServer, so I'll close this issue. If you need commercial support to try to help you with your project, then see [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

[2018-08-11 15:49] #2522 closed

[2018-08-11 15:50] brockallen commented on #2544
Do the samples work for you? If so, then this doesn't seem to be a bug or problem with IdentityServer itself.

[2018-08-12 14:39] Mardoxx commented on #2531
Post impl of `LoggerFactory`

[2018-08-12 14:49] Mardoxx commented on #2420
First link you posted told you how to do this.

In your DbContext impl:
[code]

[2018-08-12 15:25] Mardoxx commented on #2192
Registers TokenCleanup.Start and .Stop to the respective starting and stopping callbacks of the given app lifetime. I.e. starts up the cleanup schedule on app startup and stops it when it's shutting down.

[2018-08-12 22:47] eyupalemdar commented on #1854
I don't want to open new issue so i wrote here. I am facing the same problem too with IdentityServer4.AccessTokenValidation (version 2.6.0)

[2018-08-13 05:37] MontyGvMC commented on #2420
Yeah, already forgot about that post. Thank you for your hints. For myself I fixed it by writing a create script for PostGre SQL and scaffolding the db context from that database. Within the Identity Server I still use the default provided EF db context for reading from the db.

This issue was more pointing out (for you or other users) that the provided entiy framework core db context **only** wor

[2018-08-13 07:15] SilvanaBanana commented on #2537
@brockallen Was indeed environmental. My bad, thanks a lot for the hint in the right direction.

[2018-08-13 07:15] #2537 closed

[2018-08-13 08:08] nigelhoward commented on #2478
No update I'm afraid - I can however consistently repeat above
We have implemented IDS4 and clients behind Nginx for an easier life!
But thanks for you help so far Brock Vader :-)

[2018-08-13 08:58] ltduy opened #2546 "Signout prompt is not showing when ClientId is available"
I'm getting issue with QuickStart.UI when Signout prompt is not show up when try to signout from client because ``ShowSignoutPrompt`` is always ``false`` when client is available

https://github.com/IdentityServer/IdentityServer4/blob/706b3d1618547d7bc264693f7b2cd0333ad8faef/src/Models/Messages/LogoutRequest.cs#L177

Should it be something like this?
[code]

[2018-08-13 12:17] brockallen commented on #2546
ClientId is present when the client has authenticated the signout request with the id_token_hint, therefore we don't need to prompt for signout. So the current logic is correct. If you always want to prompt then feel free to change the UI logic.

[2018-08-13 12:20] brockallen commented on #2420
@MontyGvMC one thing we've started using to manage multiple database (instead of EF migrations) is DbUp: https://dbup.readthedocs.io/. I use migrations to get my starter SQL, then hand work it as needed. DbUp then helps apply is to the DB and deal with versioning over time.

[2018-08-13 12:21] #2478 closed, assigned to nobody

[2018-08-13 12:30] brockallen commented on #2454
Any other inputs to this conversation @KevinCathcart? Don't forget that if you don't like the behavior you can always replace the `IEndSessionRequestValidator` with your own.

[2018-08-13 12:30] #2541 closed

[2018-08-13 12:30] #2544 closed

[2018-08-13 12:32] brockallen commented on #2145
Do we have any suggestions on this issue? I'd like to not have to do anything custom for a specific provider in the EF code. And if you have a way outside of this to change the column, I think that will be the solution. Perhaps EF migrations isn't the right tool for the job, and if that's the case it's more of a Microsoft issue (and limitation/failing).

[2018-08-13 13:48] danutzplusplus opened #2547 "Client Credentials developer portal"
Hi,

This is a feature request or a question with regards to how safe this would be.
How doable, in a secure manner of course, would a developer portal be on the identity server, where 3rd party users of your identity server could access an admin page where they can set their own client secret. Thus eliminating this management issue, and having the client owner handle this.

I realize this would i

[2018-08-13 17:25] MontyGvMC commented on #2420
If this question is into my direction: I am sorry I don't understand.

[2018-08-13 19:11] rushfrisby commented on #1575
Googling the error message brings up this issue in first position. Kinda funny.

[2018-08-13 20:58] brockallen commented on #2420
@MontyGvMC I was looking for help in solving this within the core EF code we provide without making it provider specific. Otherwise, your fix is to do something in your migrations code, which is beyond this repo thus I can close the issue.

[2018-08-14 07:18] ltduy commented on #2546
Thank you! I'm closing this issue now

[2018-08-14 07:18] #2546 closed

[2018-08-14 12:39] neildonkin commented on #2262
@leastprivilege I get the same error but I am not using any API resources in my project as yet and am returning an empty ApiResource array from my `IResourceStore`.

I have had a look at the `IResourceStoreExtensions.CheckForDuplicates` source code and I cannot see why this would be an issue.  I have also checked to ensure I don't have any duplicate `IdentityResource` definitions.

Is there an iss

[2018-08-14 13:56] scottbrady91 commented on #2271
https://github.com/IdentityServer/IdentityServer4.EntityFramework.Storage/pull/2

[2018-08-14 14:06] nenadvicentic commented on #528
Is there anyway to do the following in implicit flow (website authentication) in `IdentityServer4`:

1. Include "preferred_username" and "roles" into identity token
2. Load additional claims from userendpoint: "given_name", "family_name" and "birthdate" later, using access token which was passed together .

I am trying to migrate from `IdentityServer3`, where this was trivial to implement, setting

[2018-08-14 14:47] brockallen commented on #528
You could control that behavior in your profile service.

[2018-08-14 15:35] nenadvicentic commented on #528
@brockallen Can you elaborate shortly on that, please?

As far as I understand, I would need to parse `ProfileDataRequestContext` `Caller` property and then, based to decide based on `Client` which claims to pass and which once to filter?

[2018-08-14 15:36] brockallen commented on #528
Yep, something like that.

[2018-08-14 15:41] nenadvicentic commented on #528
Hmm... OK. That will require to maintain parallel configuration and to ensure it's always in sync with IdentityServer's configuration of `IdentityResources`. Feels a bit hacky, but I'll give it a shot.

Thank you for the tip. I would not come up with that solution on my own.

[2018-08-14 15:42] nenadvicentic commented on #528
@brockallen  Just from curiosity, what was the reason behind the decision to remove that feature from `IdentityServer4`?

[2018-08-14 15:45] brockallen commented on #528
https://github.com/IdentityServer/IdentityServer4/issues/528#issuecomment-264591934

[2018-08-14 20:48] nenadvicentic commented on #528
So `Required` was 1st renamed to `AlwaysIncludeInIdToken` and then removed. Did not get that while reading 1st time.

Regarding the scenario where user info endpoint is called automatically, immediately after login, client app still ends up persisting all claims permanently.

My scenario is to call `id_token` with minimal number of claims (`sub` and `roles`), to have less data in the cookie, and t

[2018-08-15 06:42] newlearner88 opened #2548 "What will be ExternalLoginConfirmation work with Azure AD external login with ASP.NET Idenity in Identity Server4"
I am using ASP.NET Core 2.0 , follow below article to get work with asp.net identity in IdenityServer4:

http://docs.identityserver.io/en/release/quickstarts/6_aspnet_identity.html

After add Azure AD login , i modify the ExternalLoginCallback as document show
`

       // read external identity from the temporary cookie
        var result = await HttpContext.AuthenticateAsync(IdentityServerConsta

[2018-08-15 11:25] rexdefuror commented on #2488
@leastprivilege Have you had time to make any decision regarding this?

[2018-08-15 11:46] odysseus1973 opened #2549 "How to change client secret from code?"
Hi!

I want to change clients secrets from my code. I read the documentation and did not understand how to do it. When I add new List<ClientSecret> to client ClientSecret property, old secret is not deleted.
So to change the secret, I have to delete the client and recreate it. Is there another way to do this?

Thanks!

[2018-08-15 12:11] logcorner commented on #2382
Hi, I have the same issue , with identity server version 2.0.0-rc1
![1](https://user-images.githubusercontent.com/5066547/44147483-a2bcab58-a094-11e8-86a5-4bb7ef48e125.png)
![2](https://user-images.githubusercontent.com/5066547/44147484-a2dbc83a-a094-11e8-962f-fcc14a8010f2.png)

[2018-08-15 14:52] brockallen commented on #2382
@logcorner this might be the issue? https://github.com/IdentityServer/IdentityServer4/issues/2510#issuecomment-411871543

[2018-08-15 14:53] brockallen commented on #2549
We don't have a convenience for that, so you will have to manage those values yourself. We don't provide something for this because different projects manage that data differently.

[2018-08-15 14:53] #2549 closed

[2018-08-15 14:54] brockallen commented on #2548
You might need to use the ASP.NET Identity API on the SignInManager to get the external user. It all depends how you setup your external authentication.

[2018-08-15 19:06] flauberjp commented on #1223
I was dealing with a similar issue... I was thinking that I couldn't use as RedirectUris the root of my SPA, for instance, http://www.mysite.com/, in the end I fixed it by delete the bin and obj folder from my project, then rebuild everything, this way it recognized my root as a valid redirect URI.

[2018-08-15 23:06] jucha65 opened #2550 "Compile w powerShell last build fail"
### Issue / Steps to reproduce the problem
vs Community 2017 vr. 15.7.3 Spanish
Windows 10 Pro
powerShell as Administrator

Run:
D:\myApp\IdentityServer4-dev> .\build.ps1
Build
========================================
Microsoft (R) Build Engine versión 15.7.179.6572 para .NET Core
Copyright (C) Microsoft Corporation. Todos los derechos reservados.

  Restore completed in 33,37 ms for D:\myApp\Iden

[2018-08-15 23:42] ramanathants opened #2551 "Error parsing discovery document when using SSL"
Hello,

I am running IdentityServer4 and WebApi in the same project.  The site is configured to run using SSL.  I am able to hit the token endpoint successfully and get a token back using the SSL token endpoint.  However when I use the generated token to call my api resource, I am getting an exception in reading discovery document using SSL.
The same thing works when I turn-off SSL and use the nor

[2018-08-16 00:44] elukewalker commented on #2232
@TomCJones the OP would have to implement the [WebAuthn RP operations](https://www.w3.org/TR/webauthn/#rp-operations).

[2018-08-16 00:47] abergs commented on #2232
@elukewalker and @TomCJones That is what we are solving in this lib: https://github.com/abergs/fido2-net-lib. Lot's of exciting progress the last couple of days.

[2018-08-16 01:12] elukewalker commented on #2232
FIDO2 also fits nicely into the OpenID [Enhanced Authentication Profile](http://openid.net/wg/eap/)  (EAP) Working Group's [EAP ACR Values](http://openid.net/specs/openid-connect-eap-acr-values-1_0.html) spec which enables OpenID Connect RPs to request phishing-resistant authentication be performed.

[2018-08-16 02:42] TomCJones commented on #2232
I get this - any idea about where to look?
Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 GET http://localhost:4728/
Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request finished in 334.4534ms 404

[2018-08-16 02:54] TomCJones commented on #2232
never mind - he really means it
http://localhost:4728/index.html

[2018-08-16 03:53] John0King opened #2552 "What's the right way to create a `IProfileService`"
I saw the code about `DefaultProfileService` and `TestProfileService`  but it seems not work properly.
here's the  hybrid flow log (I'm manually add the "name" claim in context.RequestedClaimTypes)
[code]

From the sourse code :
`DefaultProfileService` and `TestProfileService`  only add claims in `ProfileDataRequestContext.RequestedClaimTypes`  which only has value in "Implicit flow"
I have servic

[2018-08-16 03:56] brockallen commented on #2552
The design is that you indicate the expected claim types on the IdentityResource or the ApiResource if you wan those claims in the tokens.

[2018-08-16 03:58] John0King commented on #2552
@brockallen

IdentityServer4.Services.DefaultClaimsService: Debug: Claim types from profile service that were filtered: sub

I do add the claims but why it filter again ?

[2018-08-16 04:02] John0King commented on #2552
And Is there a sample of ExtensionGrant and custem claims in access_token ?

[2018-08-16 04:13] ramanathants commented on #2551
@brockallen

I did not get anything in the inner exception, just the stack trace below.

[2018-08-16 04:57] quanterion commented on #2067
It is suprising to me that EF access is sync. Everywhere in Asp.Net Identity it is async. So I think IdentityServer should follow this pattern.

[2018-08-16 07:14] John0King commented on #2552
@brockallen

Thanks for anwser my question.~~ But I'm confusing about `id_token` and `access_token`. They both in jwt formate .~~

I read [this doc](https://identityserver4.readthedocs.io/en/release/intro/terminology.html#identity-token) and now I understand except one I'm not sure.

Is `Implicit` a special  flow that will add more claim in id_token ?

[2018-08-16 08:01] newlearner88 commented on #2548
Could you help please tell me how to sue SignInManager to get the external user , it always return null . I set as

 services.AddDbContext<ApplicationDbContext>(options =>
                options.UseSqlServer(Configuration.GetConnectionString("DefaultConnection")));

            services.AddIdentity<ApplicationUser, IdentityRole>()
                .AddEntityFrameworkStores<ApplicationDbContext>()

[2018-08-16 08:44] newlearner88 commented on #2548
After some research , i modify codes in ExternalLoginCallback :

            var result1 = await HttpContext.AuthenticateAsync(IdentityServerConstants.ExternalCookieAuthenticationScheme);
            if (result1?.Succeeded != true)
            {
                throw new Exception("External authentication error");
            }

            // retrieve claims of the external user
            var e

[2018-08-16 09:40] topfunet commented on #1969
This is how we do it, hope can help you!
Because when we click a action with [Authorize] we will be redirected to identityserver's Login page with a lot of parameters, so we can't just go to Register page, there is no parameter such as state and nonce.
So, how about we add a parameter like op=register when we redirect to /connect/authorize, then if identityserver found this parameter it will redir

[2018-08-16 09:43] Jonesie commented on #2186
Microsoft.IdentityModel.Logging.IdentityModelEventSource does not have a ShowPII property, at least in FX 4.6.2.

[2018-08-16 09:45] Jonesie commented on #2186
Im getting this:
ArgumentException: IDX12401: Expires: '08/16/2018 09:44:47' must be after NotBefore: '08/16/2018 09:44:47'.

[2018-08-16 12:08] shaikatz opened #2553 "When external OIDC provider returns an error, IDSrv generate 500 to the user"
### Issue / Steps to reproduce the problem
Set external odic provider and let him return error.
This makes the identity server throw an exception and result the client receive 500 instead of seeing the actual error from the oidc provider.
I except the user to see the description of the error as I see it in the log in the ErrorDescription field.

### Relevant parts of the log file
[code]

[2018-08-16 12:14] Jonesie commented on #2186
Doh. I had the token timeout set to 0 :/

[2018-08-16 14:07] brockallen commented on #2553
Handling the error from an external IdP is up to you in your external handler configuration.

[2018-08-16 14:07] brockallen commented on #2551
Then it's hard to say.

[2018-08-16 14:08] brockallen commented on #2548
Sorry, that's beyond the support we can offer here, since it's not an IdentityServer issue.

[2018-08-16 14:11] brockallen commented on #2552
As I said before, the claims in the tokens are controlled by which UserClaims you designate when you model the IdentityResource and ApiResource. Perhaps you read the docs: http://docs.identityserver.io/en/release/topics/resources.html

[2018-08-16 14:12] brockallen commented on #2067
@quanterion but if the perf numbers show it's worse, then just because it came from Redmond does it make sense to use?

[2018-08-16 16:20] cdwaddell opened #2554 "Should SessionId Cookies be considered "Essential""
Cross linked from oidc-js issue: https://github.com/IdentityModel/oidc-client-js/issues/612

It looks like Session cookies are not considered essential for GDPR compliance. It looks like webservers may not send cookies that are not flagged `IsEssential`.

https://docs.microsoft.com/en-us/aspnet/core/security/gdpr?view=aspnetcore-2.1#essential-cookies

Message cookies may need this treatment as wel

[2018-08-16 16:31] cdwaddell commented on #2554
FYI, the default value of `CheckConsentNeeded` is false, so this will only affect users that turn this setting on as a way to comply with GDPR.

[2018-08-16 16:38] jucha65 commented on #2550
Thank you.
Update to last .NET Core 2.1 SDK
BR.

[2018-08-16 16:38] #2550 closed

[2018-08-16 19:54] kkaung commented on #2059
@andy194 so was your solution to implement ws-federation instead of using openid on your .net framework app?

[2018-08-16 19:54] quanterion commented on #2067
I suppose the main benefit of async is non-blocking calls. So we are not wasting threads just wait for the db operation to complete. Secondly perf numbers are tricky ones. I do think if make tests under load with database on another computer (so round-trip time is large) async methods can win.

[2018-08-16 22:48] andy194 commented on #2059
Yes, if you don't, you end up with the eternal loopback scenario, never
getting a response from ID4.

On Thu, 16 Aug 2018, 20:54 Kevin Aung, <notifications@github.com> wrote:

[2018-08-17 00:41] brockallen commented on #2273
@BrahmaReddyMadhira any comments on this?

[2018-08-17 04:00] John0King commented on #2552
@brockallen
The  `DefaultProfileService`   do **not** have  those line
[code]
and the `ProfileDataRequestContext.RequestedClaimTypes` is an empty list
but `ProfileDataRequestContext.RequestedResouce` is
[code]

Is this by design ?

[2018-08-17 06:36] newlearner88 commented on #2548
@brockallen  I have got the external user and save into the database , see my above reply . The problem is identity server will not redirect to my client after sign-in .

[2018-08-17 08:09] scottbrady91 commented on #2548
` /connect/authorize/callback` is the correct URL after user auth. You need to first go back to IdentityServer to continue the authorization request, before you can go back to the client app.

IdentityServer should then create tokens, etc. and then redirect you to http://localhost:49459/signin-oidc

[2018-08-17 15:42] furqan56 opened #2555 "SSO doesn't work with asp.net mvc 5 client when deployed to IIS, Locally works great"
**Identity Server Setup:**

public void ConfigureServices(IServiceCollection services)
        {
            services.AddDataProtection()
                .PersistKeysToFileSystem(new DirectoryInfo(Configuration.GetValue<string>("ProtectionKeyLocation")))
                .SetDefaultKeyLifetime(TimeSpan.FromDays(14));

            services.AddMvc().SetCompatibilityVersion(CompatibilityVersion.Versio

[2018-08-17 17:52] BrahmaReddyMadhira commented on #2273
I did not get a chance to look into this yet. will do it soon

[2018-08-17 21:35] gvdonovan opened #2556 "HomeController.Login does NOT handle 'cancel'"
Based on the latest bits the IdentityServer4.QuickStart.UI does not handle the [Cancel] button.

[2018-08-17 22:11] brockallen commented on #2556
In what way?

[2018-08-18 00:35] gvdonovan commented on #2556
What should be done in mvc client to handle access denied when user cancels
login?

On Fri, Aug 17, 2018 at 5:11 PM Brock Allen <notifications@github.com>
wrote:

[2018-08-18 00:42] brockallen commented on #2556
That's up to the client application (and the tech stack you use to help with the protocol). In ASP.NET Core MVC, you'd handle the error event.

[2018-08-18 01:28] pigwing opened #2557 "about both use same account login mvc client and js client sometime return 401"
i have create two client, one is mvc client (use in C#) and other is js client (use in spa use the oidc javascript client.js) i found that when i use the same account login mvc web and spa web some time mvc will return 401 statuscode and the spa will cros error
identityserver4 use https
that i found the identityserver4 logging  my identityserver4 server use https and some logging display
Request s

[2018-08-18 01:30] pigwing commented on #2557
mvc client visit pc browser
js client visit mobile browser
use same account login access in the same time
some time mvc client will return 401 statuscode and the js client will return cross error

[2018-08-18 05:44] gvdonovan commented on #2556
I'm using the MVC app (implicit) that is provided in the samples.  Would
like to redirect to an 'Access Denied' page or something of the like if
they hit cancel.  It currently returns to http://localhost:5002/signin-oidc
with the following error:

OpenIdConnectProtocolException: Message contains error: 'access_denied',
error_description: 'error_description is null', error_uri: 'error_uri is
null'.

[2018-08-18 09:00] brockallen commented on #2556
This is by design and up to the client to handle. Now if you're asking for the samples to be clarified, then we will gladly accept a PR for that. You'd handle it by handling the error event on OIDC options in the client.

[2018-08-18 10:30] brockallen commented on #2557
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-08-18 10:30] #2557 closed

[2018-08-18 10:32] brockallen commented on #2555
Sorry, but this sounds environmental.

This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-08-18 10:32] #2555 closed

[2018-08-18 10:33] #2538 closed

[2018-08-18 10:34] brockallen commented on #2556
Closing. If you wish to beef up the same clients, please send a PR. Thanks.

[2018-08-18 10:34] #2556 closed

[2018-08-18 10:34] brockallen commented on #2454
Closing. If you still have issues, feel free to reopen.

[2018-08-18 10:34] #2454 closed

[2018-08-18 10:35] brockallen commented on #2547
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-08-18 10:35] #2547 closed

[2018-08-18 10:35] #2548 closed

[2018-08-18 10:35] brockallen commented on #2551
Closing. If you still have issues, feel free to reopen.

[2018-08-18 10:35] #2551 closed

[2018-08-18 10:35] #2553 closed

[2018-08-18 16:39] sguryev commented on #1727
`JsonKeyClaimAction` is in the Microsoft.AspNetCore.Authentication.OAuth v2.1.1 out pf the box
Usage: `options.ClaimActions.Add(new JsonKeyClaimAction(JwtClaimTypes.Role, null, JwtClaimTypes.Role));`

I just can't understand why they pass `"role"` value to the `valueType` parameter. Like here: https://github.com/aspnet/Security/issues/1449#issuecomment-332767846
I expected something like "String".

[2018-08-18 16:48] cnayan opened #2558 "Please change signature of AddTestUsers"
Not high priority, but if signature of method can be changed to use IEnumerable, it would be easier to pass even arrays.

[code]

Proposing change:

Current:
[code]

New:
[code]

[2018-08-18 17:32] leastprivilege commented on #2558
The UI needs to be able to add to the list of test user (for external logins and auto provisioning).

[2018-08-18 17:32] #2558 closed

[2018-08-19 12:30] homam1 opened #2559 "Using Authorization Code flow with SPA (Angular login page without cookies) is not logging in"
Using IdentityServer4, I'm implementing Code flow authorization on an existing system which supports only ResourceOwnerPassword grant type in IdentityServer and works well.

### Issue / Steps to reproduce the problem
1. I got into a stage where the user is promoted to authenticate, then redirected to server connect/authorize/callback

2. After that it is not authenticating and coming back to the l

[2018-08-19 12:51] brockallen commented on #2559
You will have to debug how the cookie is being set on the login page and why it's not being passed back to the authorize callback endpoint.

[2018-08-19 17:09] KevinCathcart commented on #2454
The biggest issue with replacing the `IEndSessionRequestValidator` is that the existing code relies heavily on internal classes, so replacing it with custom code requires either modifying the library, using private reflection, or copying a whole bunch of code from the library. None are great options.

[2018-08-19 17:31] homam1 commented on #2559
I think it is because they are two different application, the backend is on a different domain than the front-end. What can we do in such a case @brockallen ?

[2018-08-19 17:56] KevinCathcart commented on #2454
Hmm... I guess i was misremembering, since the `IEndSessionRequestValidator` was not the first thing I tried to hook.

Just copying that whole `EndSessionRequestValidator` class and modifying it should work.

If `EndSessionRequestValidator` were made public code copying could even be eliminated. A wrapper could simply request that this exact class be injected, delegate to it, and then could adjust

[2018-08-19 18:41] brockallen opened #2560 "Consider making EndSessionRequestValidator public"

[2018-08-19 18:41] brockallen commented on #2454
#2560

[2018-08-19 18:42] brockallen commented on #2559
Sorry -- helping on your app's design is beyond the support we can give here. This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-08-19 18:42] #2559 closed

[2018-08-20 01:14] newlearner88 commented on #2548
@scottbrady91  , your process is actually the same as you said , i use asp.net identity in identity server , and config the external login in identity server , after external login , i use identity to save local user and sign-in ,but after that , identity server wouldn't redirect to my client MVC.

[2018-08-20 08:02] lousaibiao commented on #1186
Hi anyone has any opinion now?

[2018-08-20 09:10] JimBobSquarePants commented on #336
Both links 404.

[2018-08-20 11:49] nenadvicentic commented on #528
@brockallen I tried to override `IProfileService` service, but solution is less then optimal.

`GetProfileDataAsync` method gets called only if `AlwaysIncludeUserClaimsInIdToken` is set in client configuration. So effectively,  `AlwaysIncludeUserClaimsInIdToken=true` has to be configured, to achieve filtering of claims. Separate (but dependent) custom configuration is also required, to define what

[2018-08-21 04:55] skartknet commented on #2337
Same issue  here :( Has anyone found a solution? It looks like the endpoint using the Identity Server Authentication doesn't find the configuration. Any workarounds?

[2018-08-21 08:53] PrabhujiMudragalla opened #2562 "Create custom Configuration Stores for External Storage"
Hi Team,

We are planning to migrate our database to Service Fabric Reliable collections, so we are also planning to move Identity Server tables.
To do that we are trying to create a custom configuration stores for Identity Server as mentioned in below URL:
[Typical Deployment](http://docs.identityserver.io/en/release/topics/deployment.html)
But we are planning to use APIs for accessing the Identi

[2018-08-21 09:00] sammyelal commented on #2350
Hi guys this happend to me as well. I found out you get the error if you name your solution/project with the same name as the NuGet package.

[2018-08-21 15:34] codeonnn commented on #1959
Hi @yfr7

Thank you very much, was trouble shooting same problem from last 2 days.
Changed the browser all together, and correct redirect started happening with consent page.
I think cookies are not getting cleared correctly.

[2018-08-21 20:09] abergs commented on #2232
@leastprivilege I think it would be interesting to discuss my second point from earlier comment. In anyway, could a Resource Owner see if the JWT has been created by a second factor on the IdSrv? A special claim?
Could a Resource Owner ask the client the make an assertment against the IdSrv if that claim is not present or e.g. older than 20 minutes (similar to linux sudo)? Or what each Resource Ow

[2018-08-22 04:57] Heurazio opened #2563 "Use service discovery for Authority"
Let's assume I have a bunch of APIs running in Docker (with replicas) and I like to protect the APIs with IdentityServer. I'm also using service discovery (e.g. `Consul`) to get services, check their health, and do load-balancing. What is the best way to add the "Authority" of the IdentityService (or it's replicas) to the protected APIs using service discovery?

[code]

When I add the basic setup

[2018-08-22 05:19] ChineseWelshman opened #2564 "Q: Support for caching and/or rotating signing keys?"
Relying Parties and other Clients use the public keys made available from the jwks endpoint to validate the signature on tokens issued by Identity Server 4. The OIDC spec recommends using the HTTP `Cache-Control` Header option and the `max-age` directive to inform clients how long they can cache the public keys for before returning to the _jwks_uri_ location to retrieve replacement keys from the I

[2018-08-22 07:54] scottbrady91 commented on #2562
Yes, you can write your own stores that call out to APIs instead of using databases directly. What you do inside these stores isn't the concern of IdentityServer, only that you return data.

Just be aware that some of these stores get hit a lot, and putting an HTTP request in the middle of them is going to affect performance.

[2018-08-22 09:03] andrehamer commented on #2353
When should we expect the signed dlls in nuget?

[2018-08-22 12:26] PrabhujiMudragalla commented on #2543
Thanks for the update Allen.
Do we have any quick start for Identity Server 4 with .Net Framework

[2018-08-22 13:10] agnimitra commented on #455
Hi Guys, is there any documentation available for this now. Can anyone please redirect me to the docs.

[2018-08-22 14:13] brianperera commented on #1873
@KG1805 I have the same issue with my project. Did you manage to find a solution for this?

[2018-08-22 14:21] leastprivilege commented on #2353
The dlls are not signed. Only the nuget.

[2018-08-22 14:27] WalissonPires commented on #736
@EdwinHauspie Could you give me details on how you did this implementation? I have the same need and I'm lost in it.  :s

[2018-08-22 16:21] agnimitra opened #2565 "Cookie Not getting expired after logout from Identityserver4 : .net core 2.0"
I am using identityserver4 for all configured clients with "AccesssTokenType=1" i.e. reference type.

I have one web app hosted for server, and other one for clients.

I used default identityserver settings, which generated two cookie, one for session Id "idsrv.session", and other one for authentication "idsrv".

In logout I do signout

            await HttpContext.SignOutAsync(IdentityServerCons

[2018-08-22 18:42] kieronlanning commented on #2531
@brockallen I think it's safe to close this report now.

On the linked issue in the EF Core repro, it seems lots of people have this issue, and it does seem like it's related to the way Autofac is handling some of the `DbContext` related registration, so unrelated to IdentityServer 4 I'd say.

Thanks for your support!

[2018-08-22 18:42] #2531 closed

[2018-08-22 19:40] nukec commented on #2432
Sorry for late response @ncbaihly I was quite busy. I made a pull request for samples, you can have a look my change here: https://github.com/IdentityServer/IdentityServer4.Samples/pull/276

[2018-08-22 21:41] brockallen commented on #2543
Yes, consult the docs.

[2018-08-22 22:00] brockallen commented on #2564
We have support for this on the `DiscoveryOptions` by setting `ResponseCacheInterval`. By default it's disabled, so you would need to enable this in production.

We currently have support for automatically managing and rotating signing keys within IdentityServer, but this feature is only offered as a commercial add-on. If you're interested, send us an email: contact@identityserver.io.

[2018-08-22 22:09] brockallen commented on #2563
The short answer is to use DNS. Having said that, this seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-08-22 22:09] #2563 closed

[2018-08-22 22:15] #2562 closed

[2018-08-22 22:33] brockallen commented on #2565
Scheme `idsrv.session` is not a cookie authentication handler scheme identifier. It's just an internal cookie we maintain and when you get rid of the `DefaultCookieAuthenticationScheme` we will cleanup up the other cookie.

[2018-08-23 03:09] agnimitra commented on #2565
Hi @brokallen, I understood that part. I am also doing await HttpContext.SignOutAsync(); along with "idsrv" & "idsrv.external".

Please let me know if I am able to explain my scenario better or should I add more description/code.

Can anyone help me fixing this security venerability.

[2018-08-23 04:56] ChineseWelshman commented on #2564
Hi Brock,

Thanks for sharing your initial thoughts on this.

The comments in the DiscoveryOptions.cs files state:

 the maxage value of the cache control header (in seconds) of the HTTP response. This gives clients a hint how often they should refresh their cached copy of the discovery document. If set to 0 no-cache headers will be set. Defaults to null, which does not set the header.

[2018-08-23 06:41] EdwinHauspie commented on #736
@WalissonPires
- have backchannel logout implemented in your identity server setup and all your clients
- when a user logs in via your identity server app, retrieve the previous IS session id, which you have persisted somewhere before
- if the user is not allowed to have multiple sessions, create and send logout tokens to all your clients. (see https://github.com/IdentityServer/IdentityServer4/blo

[2018-08-23 06:52] ScarlettCode commented on #2494
I think this [doc](http://docs.identityserver.io/en/release/quickstarts/6_aspnet_identity.html) should be updated noting this

[2018-08-23 09:46] dinhc commented on #1969
Hi @brockallen
I know this is an old issue but your comment is the closest I found at describing the problem I have right now. Would you have a suggestion on the UX flow regarding the return url back to the client? I am not sure what is the common method?
Should I pass it along with the confirmation url in the confirmation email?
What if the confirmation url is too long? Can I store the return url

[2018-08-23 11:19] WalissonPires commented on #736
@EdwinHauspie Thank you for the clarification. I'll follow in your footsteps.

[2018-08-23 11:38] marcels2204 opened #2566 "Implicit Flow / Secured Downloads with Url Token"
Implemented Implicit Flow with IdentityServer4.
Now i want to secure downloads with Url Access Tokens.
Can this be mixed? (Header or Url token validation) How to configure this?

Whould like to make POST Request for getting access token.
Then i would make an GET Request for the downloadable file (/api/docs/ey329362....)

Client is an Angular 6 SPA.

[2018-08-23 12:00] PrabhujiMudragalla commented on #2543
Hi Allen,
There are only blogs that says it supports in .Net Framework but there are no samples or reference to implementation in .Net Framework 4.6

We can't introduce .Net Core to our existing environment as there are some Nugets dependent on .Net Framework. So can you guide me how to implement Identity Server 4 in .Net Framework

[2018-08-23 12:41] PresidentCamacho opened #2567 "Using POST ../connect/introspect returns statuscode 415."
Hi,

I'm trying to use the connect/introspect endpoint to validate my access_token created by the same STS that I'm trying to call its introspect endpoint. Now when calling this endpoint I get the error "415 Unsupported Media Type". I've not added anything in the header nor body.

Sending the Basic auth in the header gives the same error.
Also when sending the access_token as <token> in token=<tok

[2018-08-23 13:38] brockallen commented on #2543
IdentityServer is just a library that targets netstandard. Just build your ASP.NET Core app targeting .NET framework. Consult Microsoft with how to do that.

[2018-08-23 13:39] brockallen commented on #2494
This is an community driven OSS project. PRs for docs are welcome.

[2018-08-23 13:40] brockallen commented on #2566
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-08-23 13:40] #2566 closed

[2018-08-23 13:42] brockallen commented on #2564
Nothing, really. It seemed sufficient to use the one setting for both.

[2018-08-23 13:43] brockallen commented on #2565
Then you should know there's no point in using HttpContext.SignOut to clear it.

What security venerability?

[2018-08-23 13:44] brockallen commented on #2567
I bet you're sending it as json and not x-www-form-url-encoded.

[2018-08-23 14:02] Eneuman opened #2568 ".Net Core 2 Cookie Consent and IsEssential?"
Hi

It looks like the IdCookie will not be set If using .Net Core 2.1 with the new Cookie Consent option, if the user opts out of cookies. The IdCookie must be considered essential to the functionallity of IdServer, so perhaps the IsEssential = true should be set here ?

https://github.com/IdentityServer/IdentityServer4/blob/e14a1e9b2dfd4173bedb3e570ac5c888927ccb22/src/Services/Default/DefaultUser

[2018-08-23 14:08] alexsandro-xpt commented on #2494
It's real, the docs is out of date. A some days I had to do a lot of search on the web to learn some question about ASP Net Identity and Identity Server integration and customization.

[2018-08-23 14:50] brockallen commented on #2568
dup #2554

[2018-08-23 14:57] brockallen opened #2569 "Consider using new endpoint routing features in ASP.NET Core 3.0"

[2018-08-23 15:00] Eneuman commented on #2568
Correct, closing

[2018-08-23 15:00] #2568 closed

[2018-08-23 15:40] agnimitra commented on #2565
Thank you @brockallen for your response.

We have done VAPT testing of our product and below are the observation

Step 1: End User logins to the client website by entering the proper credentials.
Step 2: In between I've intercepted the request using the "Burp Suite" tool and copied the complete response. This response comprises of all the redirect URLs and the cookie value.
Step 3: I signed out fr

[2018-08-23 16:02] brockallen commented on #2565
Sure, and this type of attack could steal the user's original password too.

This is the real issue you're asking about -- when you signout, you want the cookie to no longer be valid, even in the scenario when it's stolen and replayed. This is not something IdentityServer can address, because we use Microsoft's cookie authentication to achieve signin. You would have to fix this by changing the def

[2018-08-23 18:54] pmehta1682 opened #2571 "Refresh Token revocation - all tokens for the associated subject are deleted instead the only one that was requested to revoke"
Currently there is a bug with the way the token revocation works that was reported [here ](https://github.com/IdentityServer/IdentityServer4/issues/1315) The issue is currently the token is revoked by ClientId and SubjectId instead of the Key(handler) so if the same user is logged in on multiple devices, if he logs out from one device it logs him out from all devices.
I know this has been fixed in

[2018-08-23 21:30] ChineseWelshman commented on #2564
Ok, Thanks.

[2018-08-23 21:30] #2564 closed

[2018-08-23 22:27] salem84 commented on #2352
Hi,
I suppose the issue in PDF is due to Sphinx generates TOC in Latex/PDF unlike HTML website; each title in index.rst file produce a single chapter in PDF (also it is only a paragraph).

As I know we can improve it in two different ways:
1. The simplest: we add a section "Documentation" before .. toctree:: Sphinx directive, so the TOC is correct, also there are "fake" chapter before "Documentati

[2018-08-24 01:03] brockallen commented on #2352
Sure, any PRs to allow this to always be updated would be welcome.

[2018-08-24 04:36] KG1805 commented on #1873
Its related to data in the tables.
Please make sure all the data available in the below tables are correct. That is data in the tables must matches with your client application & identity server application's configurations..

1. Clients
2. ClientGrantTypes
3. Client Scopes
4. Client Secrets
5. ClientCorsOrigins
6. ClientPostLogoutRedirectUris
7. ClientRedirectUris

My Sample data is attached.
[ID

[2018-08-24 05:54] MovGP0 commented on #2488
I'd use the `Microsoft.Extensions.Logging.Abstractions` NuGet for the log. One can than filter log events by namespace.

Microsoft's logging interface is very basic, but it is supported by all common logging libraries.

[2018-08-24 06:05] PresidentCamacho commented on #2567
You're correct, my body was empty but its defaulting to form-data. Changing it to x-www-form-url-encoded gave me 400 Bad Request which is a better statuscode :)

[2018-08-24 06:25] PresidentCamacho commented on #2567
One more thing I don't know if I should create a new thread for it or not, but its a direct followup to this question.

When adding Token to the body I used an access token issued by this STS to see if the endpoint works and sure enough it gave me statuscode 200. But to be sure I also edited the access token and it still gives me statuscode 200.

Should it be like this?

[2018-08-24 06:39] PresidentCamacho commented on #2567
Never mind, the body of the return said it all. Thanks!

[2018-08-24 06:39] #2567 closed

[2018-08-24 06:56] leastprivilege commented on #2488
Doh. Yes absolutely.

[2018-08-24 07:40] rexdefuror commented on #2488
@MovGP0 We are using `Microsoft.Extensions.Logging.Abstractions` however I fail to see how this relates. I don't want to filter them, I want to set the different log level for various errors.
Perhaps I'm missing something here.

[2018-08-24 10:16] devdigital opened #2572 "Brand error page"
Hi, if you wish to brand Identity Server based on the client id, or tenant ACR value, then we have access to the `returnUrl` within the query string, and we can derive the client id and ACR values from that.

However, is there any recommended way to brand the Identity Server error page, as it isn't forwarded the `returnUrl`, where the client id or ACR values can be accessed, only an `errorId`, whi

[2018-08-24 13:04] agnimitra commented on #2565
Thank you @brockallen for the correct direction. This approach wored and have fixed my problem.

So, the basic problem is with Microsoft .net Core cookie Managemnt, its not handling the lifetime of cookies correctly.

Identityserver is awesone 👍 🥇

[2018-08-24 13:04] #2565 closed

[2018-08-24 14:09] brockallen commented on #2045
Not if the spec spec support it. But what I'd argue is that when the authorize request is initially processes with its ui_locales that the app track that in the user's session at IdentityServer. Then at logout time you use that to do your localization. That makes much more sense to me.

[2018-08-24 14:10] brockallen commented on #2572
Use our interaction service, as our samples show.

[2018-08-24 14:11] brockallen commented on #2572
This is somewhat difficult, because you might be on the error page because the returnUrl (meaning the original authorize request params) is itself invalid in some way.

[2018-08-24 14:37] devdigital commented on #2572
Could the `ErrorMessage` model be updated to include the client id and acr values if they are present and valid? Happy to create a PR if the idea is sound.

[2018-08-24 14:49] brockallen commented on #2572
There might already be an open issue related to these ideas... try to find it and see where we stand on this, since you're not the first to ask.

[2018-08-24 15:41] igor-moskvitin commented on #2045
@brockallen clear. i am using it as you say, but what if user on client change language after signin - thats strange if all on client side will be on new language, but logout screen confirmation - on previous. I agree that its a not frequently case, but its can be. and @brockallen set it to future - thats why i ask.

[2018-08-24 16:30] damienbod commented on #2045
The ui_locales  must be supported as defined in the Core section 15.1

http://openid.net/specs/openid-connect-core-1_0.html

As the OpenID Connect Session Management 1.0 is built on top of this, the RP-Initiated Logout must support this per specification.

Also your preferred solution will not work if I change the language after a login, which is a normal use case in most applications which we dep

[2018-08-24 16:33] brockallen commented on #2045
That's authorize, not end session.

I don't see how that logic follows. Does that mean end session should accept all the same params as the authorize endpoint?

Why would an end user change their language? What's an example of that use case?

[2018-08-24 18:05] damienbod commented on #2045
In section 15.1:

15.1.  Mandatory to Implement Features for All OpenID Providers

All OpenID Providers MUST implement the following features defined in this specification.
This list augments the set of features that are already listed elsewhere as being "REQUIRED" or are described with a "MUST", and so is not, by itself, a comprehensive set of implementation requirements for OPs.

Preferred Local

[2018-08-24 18:30] brockallen commented on #2045
I'm pretty sure you realize that section 3.1.2 is the authorization endpoint section.

I don't see that statement in the spec, so this seems to be your interpretation. And all OP requests would mean token, discovery, etc.

I appreciate the desire to have the locales on every page, but I don't intend to add custom non-spec compliant workarounds (like so many other implementations). Please don't try

[2018-08-24 18:47] salem84 commented on #2352
I have updated on my fork the docs... you can view at [HTML](https://identityserver4-s84-test.readthedocs.io/) / [PDF](https://media.readthedocs.org/pdf/identityserver4-s84-test/latest/identityserver4-s84-test.pdf)

I apologize for previous commit references in issue history.
If you agree with changes, I'll create the PR

[2018-08-24 19:00] leastprivilege commented on #2488
You are right - I was too quick closing the issue.

That being said - we don't plan to touch the logging system soon. As I mentioned before, we are planning to re-write it anyways. Then this requirement will be considered.

Check Serilog - it offers a pretty powerful filtering and processing pipeline - maybe you can achieve your goal this way.

[2018-08-24 19:11] rexdefuror commented on #2488
@leastprivilege We're already using Serilog for various things, however unfortunately it cannot override this in any way. Guess we'll wait for your upgrade on logging. Then we can review this matter and see if it can be done more naturally.

[2018-08-25 09:43] MovGP0 commented on #2488
Serilog is the library I am using in all my projects. However, I am not sure if it's the right tool for libraries on GitHub. A common logging library might be the better choice here. People who use the library in their projects should use Serilog, but not required to do so.

[2018-08-25 11:50] frabe1579 opened #2573 "Unable to read clients from configuration when a client has one or more claims."
If I load clients from asp.net core configuration file, and the client has one or more claims, the configuration binder throws an exception because it cannot create instances of type Claim. This is not the expected behavior, but anyway is a Configuration Binder limitation, which cannot create instances of classes which does not have a public parameterless constructor.
At the moment we cannot expan

[2018-08-25 20:12] ScarlettCode commented on #2494
Can we merge [this](https://github.com/IdentityServer/IdentityServer4/pull/2008) and then we can update based off that, or should we create a new PR with changes based on what it is currently?

[2018-08-25 20:35] brockallen commented on #2494
Yes @ScarlettCode we should merge that. I do need to update it for 2.1 though.

[2018-08-26 14:48] jeroenheijmans opened #2574 "Consider making docs URLs use HTTPS"
It seems that the documentation URL at the `docs.identityserver.io` domain only supports [HTTP](http://docs.identityserver.io), but not [HTTPS](https://docs.identityserver.io). Even though I have no experience with *.github.io pages on *custom* domains, it does seem there is support for HTTPS on those too (based on [this announcement](https://blog.github.com/2018-05-01-github-pages-custom-domains-

[2018-08-26 16:11] jeroenheijmans commented on #2574
Thanks for the prompt response.

I'm a bit confused though, who is "*their*" in your reply? Don't both `identityserver4.readthedocs.io` and `docs.identityserver.io` belong to IdentityServer4, hosting the same content? Put differently, regardless of what the `readthedocs.io` link does, wouldn't it make sense to enable HTTPS for `identityserver.io` too?

The reason I ask might be relevant here too.

[2018-08-26 16:40] brockallen commented on #2574
We use `readthedocs.io` to host our docs, and they do it for free for OSS projects. That's the "they". If we wanted our docs domain hosted by them we'd have to share our cert. I'm sure we could do that, but then I'm also pretty sure it would no longer be free then.

[2018-08-28 12:40] kalexx commented on #2042
Just for the protocol...
I changed the default schema to "identity" in Migration classes and I ran to this problem.
Found nothing which helped me solve the problem and I just played around with AddConfigurationStore options and set the options.DefaultSchema to "identity" and the problem solved...

`
  AddConfigurationStore(options =>
  {
          options.ConfigureDbContext = builder => builder.Us

[2018-08-28 13:31] RajasekarPR opened #2575 "sub claim is missing when login with different login page in the solution"
Hi Team,

I have included the Identity Server as separate module in my another project. I have login screen which accepts username and password, When i am try to login with login page, I am getting subclaim is missing from IIdentityAuthenticationService.cs file (Line Number : 130)

I want to supress Identity Server SignInAsync method calling in Identity Server Module. How to do so ?

Kindly do the

[2018-08-28 13:59] brockallen commented on #2575
This usually happens when you don't have the default authentication scheme set to the same scheme you use on your login page.

[2018-08-28 15:29] satyajit-behera opened #2576 "protecting an API written in asp.net 5 / web api 2"
All the samples explain how to protect an API written in asp.net core.
[code]
Is it possible to protect APIs written in asp.net 5 / web api2 with full .net framework using Identity Server 4. How?

Thanks

[2018-08-28 16:14] VictorioBerra commented on #2388
@opoutere I hope this is not too off topic but I am curious to what you are doing with the extra params in the introspection endpoint?

[2018-08-29 06:30] leastprivilege opened #2577 "Make sure all nugets publish the repo URL"
https://blog.nuget.org/20180827/Introducing-Source-Code-Link-for-NuGet-packages.html

[2018-08-29 12:25] mrqinxw opened #2578 "ClientSecrets is not work, i have new a client and set clientSecreets, but in my client, i can get tokens whthout any secret"
i have new a client named webformClient in identitySever4,  and set ClientSecrets
![image](https://user-images.githubusercontent.com/12837565/44787937-2b6bdc80-abcb-11e8-9422-ab8763e31c48.png)
but in my webformClient,i didn't set clientSecret,![image](https://user-images.githubusercontent.com/12837565/44787776-a5e82c80-abca-11e8-8512-75ac30a6452a.png)
 even i set a wrong secert like
![image](https

[2018-08-29 14:07] santhudr commented on #1521
Hi,
 I've the same issue, but my redirect url already has got '/' at the end of redirecturl:
http://localhost/AuthServer/identity/wsfed/?wa=wsignin1.0&wtrealm=http%3a%2f%2flocalhost%2fmvcclient%2f&wctx=rm%3d0%26id%3dpassive%26ru%3d%252fMVCClient%252f&wct=2018-08-29T12%3a47%3a59Z

Any idea?

[2018-08-29 16:50] gcardozoj commented on #765
Hi! where can I found an example of that configuration: use ADFS as an External Identity provider for IdSrv4? In another post I read this: "You have to setup IdSrv in ADFS as a relying party, and ADFS in IdSrv as an identity provider" but I dont know how can I do that.

In documentation I saw it may be done using Oidc: ".AddOpenIdConnect("adfs", "ADFS", options =>{...});"

but what is the configur

[2018-08-29 18:45] Murtuzakabul opened #2579 "Unable to validate jwt token with self signed certificate"
I am using .Net Core on linux server. I have two services running, one is identity server and another is my web application. I successfully get the token from identity server but my application is not able to validate the token. Here is the error I am getting.

To further clarify, I am using a self signed certificate. When I request the same page i.e. 'https://localhost:5010/.well-known/openid-con

[2018-08-29 19:31] VictorioBerra commented on #2218
@LindaLawton

Do you have a link to the errors they expose specifically. This might also be a question for you too @brockallen : Exactly how much of exposing these errors is a problem? Is it kind of like specifying "Your username was right, but you provided the wrong password."?

While I think some errors are very helpful to expose for developers like "Invalid scope for client" but the result of t

[2018-08-29 21:05] VictorioBerra commented on #1547
@brockallen

Why do you do this two different ways in your two different API samples?

## IdentityServer4.Samples/Clients (AddAuthentication(IdentityServerAuthenticationDefaults.AuthenticationScheme))
https://github.com/IdentityServer/IdentityServer4.Samples/blob/release/Clients/src/SampleApi/Startup.cs#L20

## IdentityServer4.Samples/Quickstarts (AddAuthentication("Bearer"))
https://github.com/Id

[2018-08-30 12:47] binbsr commented on #1939
@brockallen @leastprivilege Urls like:
https://github.com/IdentityServer/IdentityServer4/blob/dev/src/Host/Startup.cs#L86-L87 does not work anymore and can't get help you guys suggest us for. Do we have any chance we can update them?

[2018-08-30 13:05] Meertman commented on #727
I had this problem as well when I was setting up federation from localhost to the Identity Server 4 demo environment.

Additional details:
- I am using ASP.NET Core 2.1
- I am using ASP.NET Core Identity

This was related to the fact that at the enterprise were I am working, all outbound traffic needs to be authenticated and pass through a proxy. I found a way to circumvent this at the moment (by

[2018-08-30 16:36] gcardozoj opened #2580 "ADFS as external identity provider for IdSrv4"
Hi! Where can I found an example of this configuration: use ADFS as an External Identity provider for IdSrv4? In another post I read this: "You have to setup IdSrv in ADFS as a relying party, and ADFS in IdSrv as an identity provider" but I dont know how can I do that.

In documentation I saw it may be done using Oidc: `.AddOpenIdConnect("adfs", "ADFS", options =>{...});`

But what is the configur

[2018-08-30 19:55] khabubu opened #2581 "Valid Refresh Token unable to renew Access Token"
### Issue / Steps to reproduce the problem
I have an aspnet 2.1 client connecting to our authorization server. Since an access token has limited lifetime we want to use the refresh token to renew the expired access token however we keep get an error that says invalid grant and the following are our logs

### Relevant parts of the log file

[code]
And the refresh token is stored in the PersistedGra

[2018-08-30 23:54] klanglie opened #2582 "redundant one line of code."
I noticed a small piece of redundant code in ReturnUrlParser.cs It calls parser.IsValidReturnUrl, then right afterwards calls parser.ParseAsync(returnUrl) which again calls the same IsValid method. The only implementation of IReturnUrlParser is OidcReturnUrlParser.cs.

[2018-08-31 11:53] GersonDias commented on #1186
I'm having the same kind of challenge making a UI using React to deal with all process (login, email confirmation, password reset, new user registration). The lack of guidance in this area is a pity.

[2018-08-31 16:54] VictorioBerra opened #2583 "AuthorizeResponseGenerator never looks used to me."
I tried to find all references for `AuthorizeResponseGenerator  : IAuthorizeResponseGenerator` and there was nothing. I see the stub `StubAuthorizeResponseGenerator` used a handful of times in the UnitTests project. What is the point of AuthorizeResponseGenerator?

[2018-09-01 15:02] VictorioBerra opened #2584 "Google login for demo.identityserver.io throws an error."
![image](https://user-images.githubusercontent.com/2934507/44947131-0f845880-adce-11e8-973c-abc2adfa5399.png)

[2018-09-01 23:05] vejandla commented on #1186
@gersonDias, i have achieved this by configuring userinteraction options login url. I set the login url to single page application url and from there, you are on your own in writing functionality for the above asked use cases

[2018-09-02 01:10] brockallen commented on #1186
I think everyone is having a hard time understanding the relationship between the UI and IdentityServer. The short answer is the authentication cookie. Make your UI do whatever it needs to for any of those things. It's really unrelated to IdentityServer, But when your user wants to authenticate, then you need your server code behind the UI to issue the authentication cookie using the default authe

[2018-09-03 01:13] vaarenyam opened #2585 "How to Force Logout after Change Password / New User Creation"
How can one Logout a user after the user has changed password or after a new user registration.

I have tried the following code:

await HttpContext.SignOutAsync().ConfigureAwait(false);
await _signInManager.SignOutAsync().ConfigureAwait(false);
await HttpContext.SignOutAsync(IdentityServerConstants.ExternalCookieAuthenticationScheme);

Why is such a simple requirement not in-built?

Can someone p

[2018-09-03 05:02] mrqinxw commented on #2578
Sorry,I've woeked it out,The token endpoint requires the client secret, but the authorization endpoint doesn’t. we can close this issue.

[2018-09-03 06:05] #2578 closed

[2018-09-03 08:00] leastprivilege commented on #2584
Steps to repro? Works for me...

[2018-09-03 13:16] omkarchoudhari opened #2586 "IdenityServer4 support for ASP.NET CORE 2.1"
we are working with ASP.NET CORE 2.1, and wondering if IdenityServer4 support this version ?

[2018-09-03 13:37] brockallen commented on #2586
Yes it does.

[2018-09-03 13:37] #2586 closed

[2018-09-03 13:38] leastprivilege commented on #2584
ah - try https

[2018-09-03 14:15] leastprivilege commented on #2577
Missing

* IdentityServer4.AspNetIdentity

[2018-09-04 04:48] MeatDuckXp commented on #2337
Same here. I was working through the quickstarts sections, was about to test the MVC Client and I got the same error.

`InvalidOperationException: IDX20803: Unable to obtain configuration from: '[PII is hidden]'.
Microsoft.IdentityModel.Protocols.ConfigurationManager<T>.GetConfigurationAsync(CancellationToken cancel)
Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler.HandleChal

[2018-09-04 07:16] mackie1001 commented on #2232
@abergs when we implemented IDS4 I made it a requirement that the amr claim return something sensible - e.g. `"amr":["pwd","otp"]`. The spec says `amr` values are outside its scope but `acr` values are defined and in the new EAP draft they add "phr" and "phrh" (for phishing resistent and phishing resistent hardware) which fit nicely with my existing theme so I'd be tempted to use those values depe

[2018-09-04 07:29] MrCodeB commented on #2146
@huytnd Hi, i also have this problem...

[2018-09-04 09:24] saurabhlogward opened #2587 "IdentityServer4 + AWS Cloud directory ?"
This more of information I am requesting on how to integrate the IdentityServer4 to work with AWS Cloud Directory.
Use Case:
AWS Cloud directory helps to manage the hierarchical data where as IdentityServer can be used for authenticating the users from the cloud directory.
Question:
Is this possible with IdentityServer current API's ?

[2018-09-04 09:54] leastprivilege commented on #2587
Yes - you are writing that code yourself. So you can use whatever data store you like.

[2018-09-04 10:14] saurabhlogward commented on #2587
Any references/example for such customization of having AWS Cloud directory as underlying data source for authenticating the user ?

[2018-09-04 10:32] mrqinxw opened #2588 "expiretimespan is not working"
i have set ExpireTimeSpan = TimeSpan.FromMinutes(1), and SlidingExpiration = false,but it's not working,i gets logged out after 1 hour

[2018-09-04 11:57] abergs commented on #2232
@mackie1001 hey, thanks for the comment.

How would this work, simply redirecting to the SSO login page would (naively) redirect back to the client (redirect URL) since we have a valid session cookie.
Would the recommended approach be a custom login page which accepts re-auths even though user is logged in.

[2018-09-04 12:19] brockallen commented on #2587
Not for AWS, sorry.

[2018-09-04 14:49] DaveOHenry opened #2589 "Q: Is the AdminUI frontend / backend path configurable?"
We are in the process of planning the infrastructure for an Identity Server project and decided to go with AWS ECS and (if possible) deploy everything under one single DNS name, for example:

1) https://id.mycompany.com -> Identity Server
2) https://id.mycompany.com/Account/Register -> Our registration page
3) https://id.mycompany.com/admin -> Admin UI frontend
4) https://id.mycompany.com/api -> A

[2018-09-04 15:35] TomCJones commented on #2232
There are now a mix of ideas that are not fitting together well at all.
1. session cookies that have info needed to access apis that are obtained before accessing the api
2. progressive authentication where the api has specific needs that may not be part of default authn
3. user consent - which seems to only track scopes and not other requests for claims.
It seems like a paradigm shift is in order

[2018-09-04 15:38] alexsandro-xpt commented on #2589
I will do something like this but I will run it under AKS at Azure and each App under respective subdomain DNS.

[2018-09-04 16:28] khabubu commented on #2581
I can find it in my data store, However I noticed that the client was only given the grant type "Hybrid" However when I try renewing the access token it says invalid refresh token.
I was able to fix this issue by providing the following grants to the client
[code]
After that change I was able to renew the access token

[2018-09-04 21:53] giometrix opened #2590 "Documentation for defining scopes seems to be out of date"
I hope this is the right place to report this, apologies if not (I tried updating the doc myself but clicking on the "edit on github" link resulted in a 404.

On https://dbsphinxtest.readthedocs.io/en/latest/start/scopes.html it says:

which seems to be incorrect.  I believe the new way is via `AddInMemoryApiResources`

[2018-09-04 21:58] giometrix commented on #2590
Nevermind, I just noticed the url was not from the official documentation.

[2018-09-04 21:58] #2590 closed

[2018-09-05 07:10] mrqinxw commented on #2588
@brockallen i want to let user log off after 1 minute,so i did this,
![image](https://user-images.githubusercontent.com/12837565/45076625-729f2380-b11d-11e8-8907-f67580520612.png)
![image](https://user-images.githubusercontent.com/12837565/45076678-98c4c380-b11d-11e8-9006-b806be98a7a5.png)
but,i loged off until 1 hour later, if any else work i have todo?

[2018-09-05 08:08] maythamfahmi commented on #1005
did you found a solution for this problem?

[2018-09-05 11:37] devdigital opened #2591 "Reference token validation issue with localhost"
I'm using Identity Server 4 to generate reference tokens, and forwarding that (via a delegation custom extension grant) to an OWIN/.NET 4.x based service which uses the Identity Server 3 access token validation middleware to validate the token.

However, running this locally (IS4 at http://localhost:5000), I'm getting the following output from the token validation middleware when it attempts to us

[2018-09-05 12:27] brockallen commented on #2588
That will allow your cookie middleware control the cookie lifetime yes, rather than the id_token.

[2018-09-05 14:47] kieronlanning commented on #2337
I've got this exact issue running in Docker in Azure too (Azure App Services - Linux Containers).

I've disabled the PII masking, so I can see exactly what the URL. What's interesting here is that the URL it says it's 'Unable to object configuration from', when copied into a browser, works just fine.

[2018-09-05 15:01] scottbrady91 commented on #2337
It's a routing issue. Otherwise, the other likely culprit is an https requirement.

[2018-09-05 15:21] kieronlanning commented on #2337
I've just noticed, when running in Docker the responses from the `.well-known/openid-configuration` endpoint are all `http`, but the entire app is setup to be `https`.

I've no idea how to turn that on.

[2018-09-05 21:08] wklingler commented on #1495
@LindaLawton Did you ever get info about what tables have been changed?  We can't use the migration method so we need to know what columns need to be updated/added.

[2018-09-05 21:44] wklingler commented on #1495
I compared the two Client files between the two different versions and found these differences:

LogoutUri was replaced by FrontChannelLogoutUri and BackChannelLogoutUri
LogoutSessionRequired was replaced by FrontChannelLogoutSessionRequired and BackChannelLogoutSessionRequired
ConsentLifetime was added (nullable int)
PrefixClientClaims was changed to ClientClaimsPrefix
PairWiseSubjectSalt was add

[2018-09-06 02:01] mrqinxw commented on #2588
@brockallen
but the cookie lifetime is not the value what i set
![image](https://user-images.githubusercontent.com/12837565/45130566-bea0a580-b1bb-11e8-9e9a-59098d21f509.png)

[2018-09-06 02:34] brockallen commented on #2588
It seems you have many many questions that are beyond IdentityServer. Since they are not a bug report or an issue, I'm closing this issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-09-06 02:34] #2588 closed

[2018-09-06 06:48] PresidentCamacho opened #2592 "Custom scope missing from external identity provider."
Hi,

I've setup an IdentityServer4 with only an external identity provider as the way to login. Now this external identity provider have a custom scope `x_scope`.

**My external identity provider**

[code]

**How my resources are set up:**

[code]

**The Client that is using my identityserver:**

[code]

**The client setting up authentication:**

            services.AddAuthentication(options =>

[2018-09-06 08:58] ciptoj commented on #2195
I've got same issue, any enlightenment how you solve this @vaustral

[2018-09-06 12:01] devdigital commented on #2591
As an update, adding `ServicePointManager.Expect100Continue = false;` to the OWIN/.NET 4.x backend service fixes the issue. It only occurs locally, so I haven't delved into debugging what IS4 returns from the `/connect/introspect` endpoint.

In terms of the other question though, I've found an [example](https://github.com/IdentityServer/IdentityServer3/issues/1725#issuecomment-190290329) of writin

[2018-09-06 12:37] devdigital commented on #2591
Thanks, we're already using a custom extension grant for simple delegation, exactly from the docs - how can this be extended to change the reference token type to a JWT?

[2018-09-06 12:40] leastprivilege commented on #2591
You can change the token type on the request object that gets passed into the validator

[2018-09-06 13:03] devdigital commented on #2591
Thanks, `context.Request.AccessTokenType = AccessTokenType.Jwt;` is working as expected. This issue can be closed.

[2018-09-06 13:06] #2591 closed

[2018-09-06 21:41] mtkamran commented on #1186
@brockallen Could IdentityServer4 be leveraged for mobile application using a framework such as Flutter? Thanks!

[2018-09-07 01:47] lwansbrough opened #2594 "OidcReturnUrlParser.IsValidReturnUrl fails if return URL is not local"
My UI is rendered via a Node.js server running on port 8080. This UI includes the consent and sign in flows. A .NET server runs on 50291 which is where IS4 and my API are located.

In order to accomplish this, I've set the following URIs in my service options:

`BaseUri` is `http://localhost:50291`, while `ClientUri` is `http://localhost:8080`
[code]
Visiting `http://localhost:50291/connect/author

[2018-09-07 02:06] ryanmendoza opened #2595 "External authentication failing on iOS 12"
Please only use the issue tracker for bug reports and/or feature requests. For general security questions, or free or commercial support options do __not__ use the issue tracker and instead see [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

For bug reports,  include the relevant log files related to your issue. See here how to enable [logging](https

[2018-09-07 06:13] kieronlanning commented on #2579
I've this same problem.

Id4Svr is running in a Linux container in Azure App Services.

Everything is setup to be HTTPS. However, the client always fails with that same error.

However, if I got to the .well-known url myself, all the endpoints are showing non-HTTPS.

If I run Id4Svr in Azure App Services for Windows (which is IIS) with the same configuration, it's all fine.

[2018-09-07 06:56] Olek-HZQ opened #2596 "Can't extend the access token expired time from refresh token"
i test the refresh token mechanism by Postman.And i found it can't be extend the access token expired time from refresh token.The access token time always is the seconds we configure(AccessTokenLifetime).
`{
    "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ3ZGM2MGM4YTQwMjkwMWZjMDAzNzU1M2ZiNTFkYmY3IiwidHlwIjoiSldUIn0.eyJuYmYiOjE1MzYzMDI1MzcsImV4cCI6MTUzNjMwMjgzNywiaXNzIjoiaHR0cDovL29pZGNzZXJ2ZXIuY29

[2018-09-07 08:27] heavenwing opened #2598 "redirect_uri always use http not https"
### Issue / Steps to reproduce the problem
host identityserver4 server and asp.net core client behind IIS ARR with SSL-offloading
add https address into redirecturi for client
when login with client , idsvr says unauthorized_client
and after add http address into redirecturi, idsvr postback to http not https

I have already add below code into Configure of Startup for idsvr4 and client
`

[2018-09-07 08:47] leastprivilege commented on #2598
Yeah it's tricky.

https://leastprivilege.com/2017/10/09/new-in-identityserver4-v2-simplified-configuration-behind-load-balancers-or-reverse-proxies/

[2018-09-07 09:01] kieronlanning commented on #2579
@leastprivilege That's perfect! Exactly what I was missing.

Thanks!

[2018-09-07 10:09] pierslawson commented on #2595
I have the same issue, but can provide more information.

I don't believe this is a problem with the Identity Server package itself, rather with your application that is hosting the Identity Server package (not your client application). I guess like me you built your Identity Server application using one of the [quick start samples](https://github.com/IdentityServer/IdentityServer4.Samples). These

[2018-09-07 14:12] ryanmendoza commented on #2595
@pierslawson thanks for the insight! I removed my CSP policies from `AccountController` and `ExternalController`, but I'm still seeing the issue. I noticed that this problem does not exist with the IdentityServer4 Demo site.

[2018-09-07 14:47] brockallen commented on #2589
This is a question for Rock Solid Knowledge. // @scottbrady91

[2018-09-07 15:28] ryanmendoza commented on #2595
@Tratcher interesting. Any idea how to disable same site on the `ExternalCookieAuthenticationScheme`? Am I best off just creating a custom scheme?

[2018-09-07 15:37] ryanmendoza commented on #2595
Looks like bullet dodged on potential login failures starting next week.

This did it for me:

[code]

[2018-09-07 16:08] Tratcher commented on #2595
Ah, `services.ConfigureExternalCookie(...);` for folks using ASP.NET Identity.

[2018-09-07 19:55] JoeyHerrington commented on #2569
Meanwhile, do you happen to have a list of settings on-hand that we can use?
[code]
right now, it's just trial and error with more of the latter!

[2018-09-07 21:39] brockallen commented on #2569
You mean like docs?

http://docs.identityserver.io/en/release/topics/startup.html
docs.identityserver.io/en/release/reference/options.html

[2018-09-08 08:08] satyajit-behera commented on #2576
Thanks @leastprivilege

So, is it right practice if I can use the code below in a custom authorize attribute to validate the token:

POST /connect/introspect
Authorization: Basic xxxyyy

token=<token>
A successful response will return a status code of 200 and either an active or inactive token:
{
    "active": true,
    "sub": "123"
}
Unknown or expired tokens will be marked as inactive:
{
    "ac

[2018-09-08 11:20] SanderDeclerck opened #2599 "Quickstart6_AspNetIdentity is broken"
### Issue / Steps to reproduce the problem
I cloned the IdentityServer4.Samples repo, and tried the Quickstart6_AspNetIdentity project. I haven't changed any code or configuration in the repo. Just took it as-is.

- First, I ran the `SeedData.EnsureSeedData` method.
- Then I started the MvcClient and IdentityServerWithAspNetIdentity projects.
- When clicking the secure page, I am redirected to the

[2018-09-08 16:56] SanderDeclerck commented on #2599
Ok, so after debugging and searching some more, I found someone with the same issue.

Seems like [this ](https://github.com/IdentityServer/IdentityServer4/issues/2510#issuecomment-411871543) was the solution. So adding `services.AddAuthentication(IdentityConstants.ApplicationScheme);` after calling `services.AddIdentityServer...` in the Startup ends up fixing the issue.

Maybe a note mentioning th

[2018-09-08 16:56] #2599 closed

[2018-09-08 17:12] MaasOne opened #2600 "Force new authentication when requesting additional scope"
[Question]

Hi,
I'm using IdentityServer4 with the following setup:

I have two JavaScript apps and one token server.
The server is configured with a single client called "js" and two api resources/scopes called "portal" and "account". The client apps are using oidc-client for managing the auth. Mainly the silent sign in method is used as far as possible.
For example here the token server is reach

[2018-09-09 05:08] Olek-HZQ commented on #2592
It only can map standard OIDC claims, but unfortunately not mapped by Microsoft.So you should map it yourself.
options.ClaimActions.MapUniqueJsonKey("nnin_altsub", "nnin_altsub");
see this:[https://leastprivilege.com/2017/11/15/missing-claims-in-the-asp-net-core-2-openid-connect-handler/](url)

[2018-09-09 08:00] PresidentCamacho commented on #2592
@Olek-HZQ Thanks! I will try that.

Your link is broken.

[2018-09-09 13:09] Olek-HZQ commented on #2592
@PresidentCamacho try again.

[2018-09-09 17:12] satyajit-behera commented on #2576
Yes, in case of Reference token, that will be the only choice, I guess. Thanks.

[2018-09-09 18:27] klioqc opened #2601 "Documentation for Secrets still mention old ClientAssertionSecretParser"
This topic
https://github.com/IdentityServer/IdentityServer4/blob/release/docs/topics/secrets.rst
contains line
builder.AddSecretParser<ClientAssertionSecretParser>()
I think it should be
AddSecretParser<JwtBearerClientAssertionSecretParser>()

[2018-09-10 01:22] vejandla opened #2602 "Question: validate access token in Node API."
First of all thanks for the awesome framework and appreciate all the hard work you guys put in into this.

We have implemented the identity provider server in asp.net core
and we have the api's in asp.net, node (hapi-js)
we have SPA as front end and we used implicit flow and followed recommended guidelines.
Followed the examples to include identity server middleware in asp.net.

Are there any pack

[2018-09-10 06:20] shibutamang opened #2603 "couldn't find the .pfx sample certificate in the sample project repository"
Please only use the issue tracker for bug reports and/or feature requests. For general security questions, or free or commercial support options do __not__ use the issue tracker and instead see [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

For bug reports,  include the relevant log files related to your issue. See here how to enable [logging](https

[2018-09-10 06:43] leastprivilege commented on #2603
not enough info

[2018-09-10 06:47] leastprivilege commented on #2602
any JWT validation library would do - also check

https://openid.net/certification/

[2018-09-10 07:05] PresidentCamacho commented on #2592
@Olek-HZQ you said that I should add it to the client, but I don't think its the clients fault. When using the access_token I got for IdentityServer to query the userinfo endpoint I still do not get that scope.

[2018-09-10 07:47] LindaLawton commented on #1495
umm trying to think back.

add-migration UpgradeIDS4 --context ConfigurationDbContext
add-migration UpgradeIDS4 --context PersistedGrantDbContext
add-migration UpgradeIDS4 -context ApplicationDbContext

You basically just need to add a new migration step for each of your dbcontext.  Then run the application and the migrations should be applied to your database.

[2018-09-10 08:48] laurynasr opened #2605 "IdentityServer4 does not report errors back to clients as per OpenID Connect and OAuth 2.0 specifications"
Identity Server shows an error page in almost any cases instead of redirecting back to client as specified in [OpenID Connect specification](https://openid.net/specs/openid-connect-core-1_0.html#AuthError) and [OAuth 2.0 specification](https://tools.ietf.org/html/rfc6749#section-4.1.2.1).

Identity Server only returns access_dened and several interaction responses when prompt=none is specified: ht

[2018-09-10 10:30] Olek-HZQ commented on #2592
@PresidentCamacho
I get it  by using the access_token.
my user info endpoint: http://localhost:17366/connect/userinfo
response info:

`{
    "name": "Olek",
    "email": "875755898@qq.com",
    "role": "Admin",
    "x_scope": "x_scope_name",
    "sub": "1"
}`
Code:
Test User:
`new TestUser
                {
                    SubjectId = "1",
                    Username = "olek",

[2018-09-10 11:04] scottbrady91 commented on #2589
Yeah, you can have AdminUI run under a path.

The only change out of the ordinary would be to set the Angular base path in the index.html. You can find this file in the wwwroot folder for the AdminUI UI site. This would have to be changed to:

    <base href="/admin/">

[2018-09-10 12:11] leastprivilege commented on #2605
We are incorporating some of the advice against open redirectors - similar to Google.

[2018-09-10 12:14] leastprivilege commented on #2601
I don't follow - feel free to PR to get a better diff.

[2018-09-10 13:09] rikka94 opened #2608 "/admin endpoint available when i removed all AdminUI related stuff out of my startup?"
As title, i already removed all the AdminUI related middleware.
Yet the "/admin" still being hijacked and redirected non-functional admin ui page.

I only had
IdentityServer4 (2.2.0),
IdentityServer4.AspNetIdentity (2.1.0),
IdentityServer4.EntityFramework (2.1.1) in my nuget packages.

Am i missing something or is it a way to disable/remove the endpoint?

Thanks.

[2018-09-10 13:26] JoeyHerrington commented on #2569
Sorry, I found exactly what I was looking for right after posting my comment and forgot to delete my question!  Thanks!

[2018-09-10 13:50] brockallen opened #2609 "Add per-client SSO lifetime"
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes

[2018-09-10 14:02] ryanmendoza commented on #2595
@Tratcher would this be considered a bug in Safari 12's implementation of SameSite cookies? I used their Feedback app to report the discrepancy in behavior;  not sure if there is a better route.

[2018-09-10 14:05] Tratcher commented on #2595
None of the browsers have quite decided how to handle OAuth scenarios with SameSite. When we tested them a few months ago they all broke and we had to disable SameSite. I hear a few of them now work the the Lax setting but apparently not IOS.

[2018-09-10 14:07] ryanmendoza commented on #2595
Got it... so disabling SameSite completely is the best option for now. Thanks for your background on the issue!

[2018-09-10 14:28] klioqc commented on #2601
sorry, text in angle brackets is lost here. I suggested to update old ClientAssertionSecretParser with new JwtBearerClientAssertionSecretParser for the builder.AddSecretParser. i'll create PR...

[2018-09-10 15:50] brockallen commented on #2608
Something is amiss. @scottbrady91?

[2018-09-10 19:16] brentlyjdavid opened #2610 "Refresh Tokens and Grace Periods"
We have a potential feature request related to refresh tokens.

We have a situation, where the network is not reliable enough to assume that we will always be getting data back from the server.  For example.  When we refresh a token, we've seen times where the network drops on the trip back, so the actual refresh happens server side but we never get any data back.  Is there any feature built in to

[2018-09-10 20:38] brockallen commented on #2610
You can change the reference token type to be "reuse" instead of "single use".

As for a new feature of a "grace period", this is not such a bad idea... perhaps an easy implementation would be to update the expiration in the DB to be 5m past the current date/time. That way it will expire shortly, but within that period it could be retried.

We will discuss.

[2018-09-11 06:42] PresidentCamacho commented on #2592
@Olek-HZQ Thanks, I'll check with my identity provider and see if something is missing from them.

[2018-09-11 06:42] #2592 closed

[2018-09-11 07:26] osmankibar opened #2612 "Response Type "code" and Response Mode "fragment""
I try to integrate Che-ide to indentity server.

Che use following script

 https://github.com/eclipse/che/blob/07263f1e30089689d71b057f747a44a29283e3c4/assembly/assembly-wsmaster-war/src/main/webapp/WEB-INF/classes/keycloak/OIDCKeycloak.js

 It generate following url for login

 http://192.168.99.1/core/connect/authorize?client_id=che-public&redirect_uri=http%3A%2F%2Fche-che.192.168.99.100.nip.io

[2018-09-11 07:43] heavenwing commented on #2598
@leastprivilege
The PublicOrigin works for fixing the links for well-known configuration, but the redirect url coming back to Identityserver stays http:// instead of https://

[2018-09-11 07:46] leastprivilege commented on #2598
Which redirect URI ?

[2018-09-11 07:56] scottbrady91 commented on #2608
It sounds like your browser has cached the AdminUI app.

If you've removed calls to `UseAdminUI` and reran your application, then there's no way that AdminUI can route. We're not doing anything special.

If you dig in a little further, I bet the API side isn't available (meaning users won't list, etc.).

[2018-09-11 08:45] rikka94 commented on #2608
Turn out my chrome somehow cached the page.
Open the same page in other incognito mode and finally my route working.

Sorry for the fuss and thanks for the hint.

[2018-09-11 08:45] #2608 closed

[2018-09-11 09:46] managerger commented on #2610
Unfortunately, reuse can't work with sliding expiration.
Take a look at the case which can be also fixed with "grace period" feature:
[code]
The problem in this configuration the next:
1) After 60 seconds (when AT is expired) I do 2 requests in a row (they have the same expired AT and alive RT)
2) First request gets new AT, deletes old RT and inserts new RT (with new handle)
3) Second request stil

[2018-09-11 12:35] airomero commented on #857
@johnsonps08 did you find a solution for this? I need to expire the cookie and prompt the user with the login. Thanks!

[2018-09-11 12:57] brockallen commented on #1198
What makes you say that?

[2018-09-11 13:12] brockallen commented on #2612
We don't because normally code flow is for server-side apps, and fragment is for JS-based browser apps.

[2018-09-11 14:39] softwarebybrent commented on #2610
I think the extension will work for us like described by @brockallen.  Basically, the one time use tokens are a fixed point in time, until the refresh call comes in, and then you change the expiration date to X minutes past the time of that call.  Maybe that's configurable like it is on the Client object? Default to your 5 minute suggestion above.  Not too concerned about configuration here, but j

[2018-09-11 15:19] BerendJonkman opened #2613 "Request parameters as JWTs"
Is it possible to add a feature to pass request parameters as JWTs to the authorization endpoint (as stated here: [http://openid.net/specs/openid-connect-core-1_0.html#JWTRequests]()) ?

[2018-09-11 15:21] GuruRAM opened #2614 "IdentityServer4.Samples ImplicitFlowAuthentication won't build"
Quickstart3_ImplicitFlowAuthentication has compile errors.

### Issue / Steps to reproduce the problem
Execute IdentityServer4.Samples\Quickstarts\3_ImplicitFlowAuthentication\src\QuickstartIdentityServer\updateUI.ps1

Build IdentityServer\IdentityServer4.Samples\Quickstarts\3_ImplicitFlowAuthentication\Quickstart3_ImplicitFlowAuthentication.sln

The solution has build errors since IdentityServer4

[2018-09-11 15:27] brockallen commented on #2613
dup: #594

[2018-09-11 15:27] #2613 closed

[2018-09-11 15:43] D3MaxT commented on #2067
@brockallen I believe the main benefit of Async is scaling, not necessarily performance.

[2018-09-12 03:31] vincerivera opened #2615 "Sample 1 & 2 Not Authorizing Client"
I'm following the sample code provided in the first and second sample quick starts. When I run the code in the client it returns unauthorized. I copied and pasted the token that I received in the client console app into Postman and it authenticates properly.

Here is the code in Program.cs of the client console app.
`public static void Main(string[] args) => MainAsync().GetAwaiter().GetResult();

[2018-09-12 03:42] jonechenug opened #2616 "Does clientsecret has a length limit?"
If I have a clientsecret   just like "y5nWxf5uQ7kVdEVG7fvOkHzNHZuux1HYUKbohHjHVxpcpMq1OOnANehfzYCQmSDgviNCwXYDN6Bpfsq05WsW9zcKa7MrRMoq5pUwR4CaE16po0NiGEdVoMYhJS8HSy71".
As you see, It has **128** length. When I use the tokenClient to test and verify,it give me a **invalid_client** error.
Also it has  **not call** `IClientConfigurationValidator`!

[2018-09-12 09:46] paulomorgado commented on #2311
@leastprivilege, isn't HTTP Client Factory .NET Standard 2.0?

https://github.com/aspnet/HttpClientFactory/blob/master/src/Microsoft.Extensions.Http/Microsoft.Extensions.Http.csproj#L9

https://www.nuget.org/packages/Microsoft.Extensions.Http/2.1.1

[2018-09-12 10:14] leastprivilege commented on #2311
Sure . but all dependencies are `>= 2.1.0`

[2018-09-12 10:52] paulomorgado commented on #2311
But still .NET Standard 2.0. IT's a tricky one, I know.

[2018-09-12 11:43] JanBN commented on #1221
Could you please show piece of code how ? Thank you

[2018-09-12 23:41] pandarun opened #2618 "Message contains error: 'invalid_request', error_description: 'error_description is null', error_uri: 'error_uri is null'."
Hello, please advice how to debug problem:

**Config.cs**

[code]

**Mvc Client Startup.cs**

[code]
**IdentityServer logs:**

info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using '/root/.aspnet/DataProtection-Keys' as key repository; keys will not be encrypted at rest.
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[

[2018-09-13 09:57] opoutere commented on #2388
@Kahbazi thanks for the PR!

[2018-09-13 10:09] opoutere commented on #2388
@VictorioBerra In our Identity solution each user can belong to multiple tenants. When making introspection without input parameters, user will get the claims related to his/her current tenant context. Current tenant context is specified by a tenant ID originally requested via IS Authorize endpoint. We need a way for users to get back claims related to a tenant other than the current tenant via in

[2018-09-13 10:38] kloudja opened #2619 "Create a method to wait until the user is logged out from all clients"
I'm using Front-channel signout in my implementation and I redirect the user to the current client after 3 seconds to allow the iframe to render all miniIframes to logout from all clients.
However in slow networks, sign out does not work since some iframes (inside the big iFrame) do not load completely before i redirect them...
The first approach I though to solve the problem was to send a request

[2018-09-13 13:39] VictorioBerra commented on #2388
@opoutere

That makes sense, thanks. Just curious though why not make sure those extra claims are inserted into the id_token and acess_token at the time they are issud? Or make them available via the user info endpoint?

[2018-09-13 14:23] lewjc opened #2620 "Unable to obtain configuration from Discovery Endpoint"
The current architecture for my system consists of a React.js app, ASP.NET Core 2.1 Web API and IDS4 for authorization between the client/server.  Currently hosting on IIS 10, whenever I send an AJAX Request from front end to the API, it returns a 500 Internal Server Error when everything works fine on IIS Express. It seems that the middleware for whatever reason cannot find the document to valida

[2018-09-13 14:56] brockallen commented on #2620
This is your issue:

Which is unrelated to IdentityServer.

[2018-09-13 16:39] VictorioBerra commented on #2233
@hflorin How did you fix this?

[2018-09-13 16:43] VictorioBerra commented on #1885
I had the exact same issue and fixed by clearing everything in my browser. Must be a super weird cookie issue.

[2018-09-13 18:13] VictorioBerra commented on #1727
Thanks a lot for this guys `options.ClaimActions.Add(new JsonKeyClaimAction(JwtClaimTypes.Role, null, JwtClaimTypes.Role));` this is the simple solution i have been looking for.

If someone could link to some straight forward and simple documentation on what the ClaimActions are, why they are used, **when** they are using that would be awesome. There are so many events and theres no docs that I ca

[2018-09-14 00:18] li0nsar3c00l commented on #2579
I got a similar setup (linux docker containers with self signed dev certificates) and the same problem with the following error messages:

SocketException: Cannot assign requested address
System.Net.Http.ConnectHelper.ConnectAsync(string host, int port, CancellationToken cancellationToken)
HttpRequestException: Cannot assign requested address
System.Net.Http.ConnectHelper.ConnectAsync(string host,

[2018-09-14 07:49] lewjc commented on #2620
**My bad, It seems I included the wrong log snapshot.. I had already resolved that error, the log that has lead me to come to the conclusion above is this which I believe is a different error to having problems with SSL certs::**

2018-09-14T08:45:28.9030127+01:00 0HLGQ2NATKPLF:0000000F [ERR] Exception occurred while processing message. (d37e9c4d)
System.InvalidOperationException: IDX20803: Unable

[2018-09-14 13:25] brockallen opened #2621 "Consider adding description to grants table"
So end user can name the device/client to which they are granting consent.

At least for now we can add the column in the DB.

[2018-09-14 14:16] brockallen commented on #2620
That sounds like a networking/environmental/DNS issue.

[2018-09-14 15:18] lewjc commented on #2620
Yeah.. It has only began occuring since i started hosting in IIS. The endpoint is successfully reached when the OPTIONS preflight request is sent, then after that comes back and the GET request is made, it cant seem to find the discovery endpoint.. I've got no clue what it could be. Thought it was a problem with Identity Server but I guess not.. Thanks though

[2018-09-14 15:36] lewjc commented on #2620
Update: It was an IIS configuration problem with setting an IP address over selecting the all unassigned option and having a host name, incase anyone has this issue in the future.

[2018-09-14 16:03] gcardozoj commented on #2580
Solution I found is:

Requirements:
-	ADFS service configured
-	Identity Server Service configured in IIS

Create an application group:
-	In AD FS Management, right-click on Application Groups and select Add Application Group.
-	On the Application Group Wizard, type a name and under Standalone applications select the Server application template. Click Next
-	Copy the Client Identifier value. It wi

[2018-09-14 16:48] brockallen commented on #2620
All set then, we can close this issue?

[2018-09-14 19:38] #2615 closed

[2018-09-14 21:29] axufuris opened #2622 "Issue using custom Identity with Identity Server"
Hi there, I created a front end to my Identity Server.  In order to login to the front end I setup our SSO Authentication for the user to login.  I made sure to put the services.AddIdentity before my services.AddIdentityServer, but I am still running into an error when doing it. I know I have everything configured correctly for SSO, because it is working just fine in my other project.  It looks li

[2018-09-14 22:17] #2575 closed

[2018-09-14 22:17] brockallen commented on #2622
This usually happens when you don't have the default authentication scheme set to the same scheme you use on your login page.

[2018-09-14 22:18] brockallen commented on #2552
All set on this issue -- can we close?

[2018-09-14 22:18] brockallen commented on #2572
All set on this issue -- can we close?

[2018-09-14 22:18] brockallen commented on #2574
All set on this issue -- can we close?

[2018-09-14 22:18] brockallen commented on #2576
All set on this issue -- can we close?

[2018-09-14 22:19] brockallen commented on #2579
All set on this issue -- can we close?

[2018-09-14 22:19] brockallen commented on #2580
All set on this issue -- can we close?

[2018-09-14 22:20] #2587 closed, assigned to nobody

[2018-09-14 22:22] #2603 closed, assigned to nobody

[2018-09-14 22:23] #2612 closed, assigned to nobody

[2018-09-14 22:27] brockallen commented on #2619
Did you see the `AutomaticRedirectAfterSignOut` setting?

https://github.com/IdentityServer/IdentityServer4/blob/dev/host/Quickstart/Account/AccountOptions.cs#L16

[2018-09-14 22:27] #2584 closed

[2018-09-14 22:27] #2602 closed

[2018-09-14 22:28] brockallen commented on #2614
The .ps1 is meant for us to update the sames when the code's all in sync. It's not really meant for you to grab the latest of the QS UI.

[2018-09-14 22:29] brockallen commented on #2616
There is config you can change to allow longer input values:

https://github.com/IdentityServer/IdentityServer4/blob/dev/src/Configuration/DependencyInjection/Options/InputLengthRestrictions.cs#L22

[2018-09-14 22:32] brockallen commented on #2618
I see a lot of other errors in your log, like " idsrv was not authenticated. Failure message: Unprotect ticket failed". Something's wrong with your data protection.

[2018-09-14 22:37] #2580 closed

[2018-09-14 23:50] lewjc commented on #2620
Yeah all sorted.

[2018-09-15 01:06] klioqc commented on #2601
yes, doc is updated - https://github.com/IdentityServer/IdentityServer4/pull/2611

[2018-09-15 01:06] #2601 closed

[2018-09-15 01:27] #2620 closed

[2018-09-15 01:44] John0King commented on #2552
@brockallen  Can you answer my last question :

Why `ExtensionGrants`'s   `context.RequestedResources.IdentityResource` and `context.RequestedResources.ApiResources`  **does** have value, but `context.RequestedClaimTypes` is a **empty list** ?

this is how I request the access_token :

[code]

[2018-09-15 04:50] #2616 closed

[2018-09-15 06:45] khabubu commented on #2581
Yes you can

[2018-09-15 07:40] jeroenheijmans commented on #2574
Thanks for asking!

I guess you could close this as "wontfix", but I would not call the issue resolved. Although I understand you rely on the courtesy of a free hosting package, it still seems silly to me that the docs for a security-related piece of software are hosted over http. On one hand it's not the URL you publish on the identityserver.io website, but on the other it _is_ the way folks will

[2018-09-15 13:54] brockallen commented on #2574
Thanks.

[2018-09-15 13:54] #2574 closed

[2018-09-15 13:54] #2581 closed

[2018-09-15 13:57] brockallen commented on #2552
As I said before, RequestedClaimTypes is populated by the user claim types configured in the  IdentityResource or the ApiResource. It's up to your profile service to honor or ignore that.

[2018-09-15 15:38] brockallen commented on #2596
The original question is unclear.

[2018-09-15 20:45] li0nsar3c00l opened #2623 "IDX20803: Unable to obtain configuration"
### Issue / Steps to reproduce the problem
Used https://github.com/dotnet-architecture/eShopOnContainers as base, then enabled https redirect and have visual studio auto add https developer certificates.

Testing the location controller in swagger led to the following exception. When I manually navigate to https://localhost:44100/.well-known/openid-configuration in my browser, everything is workin

[2018-09-15 21:48] brockallen commented on #2623
If that's the component that's causing the above error, then it's more of a question for Microsoft, not IdentityServer.

[2018-09-15 22:07] li0nsar3c00l commented on #2623
This issue seems to be related to docker containers and not directly to IdentityServer.

[2018-09-15 22:07] #2623 closed

[2018-09-15 22:13] kooshan opened #2624 "Type error on dotnet core 2.2 preview 2: missing IIdentityServerBuilder"
Hi,
using dotnet core 2.2 preview 2, I get this error

`error CS0012: The type 'IIdentityServerBuilder' is defined in an assembly that is not referenced. You must add a reference to assembly 'IdentityServer4, Version=2.0.4.0, Culture=neutral, PublicKeyToken=null'
`

on a pretty much conventional sample:

`
services.AddIdentityServer(options =>
            {
                // configurations

[2018-09-16 06:26] satyajit-behera commented on #2576
Yes @brockallen . Thanks a lot.

[2018-09-16 12:42] #2576 closed

[2018-09-17 02:13] Olek-HZQ commented on #2596
@brockallen In my opinion, although i set the SlidingRefreshTokenLifetime, but it is not working.when i refresh the token,the token expired time still 300 seconds.

[2018-09-17 02:31] brockallen commented on #2596
Perhaps I don't understand what you expect, but SlidingRefreshTokenLifetime is the sliding time for the refresh token itself, not the access token.

[2018-09-17 02:47] Olek-HZQ commented on #2596
@brockallen ok,thanks.i will give it a try.

[2018-09-17 03:01] John0King commented on #2552
@brockallen  I'm confusing about the `DefaultProfileService` of IdentityServer4.Why in some grant type the `context.RequestedClaimTypes` already have value (populated from IdentityResource  and  ApiResource) , and some grant type dese not  (only `context.RequestedResources` have value ).

This is the my expected behavior of  the `IProfileService` that IdentityService4 registed by defaut:

1.  Add

[2018-09-17 08:55] kloudja commented on #2619
Thanks for the reply. =)
Where can i read about that setting? Did not found that info on idsrv4 doc...
Would like to know what it does, where and how to use it.
I just want to be sure that my user is only redirected when signout is successfully performed in all clients... (front-channel signout).
I receive that boolean in my front end and then what?
`if (response.automaticRedirectAfterSignOut) {

[2018-09-17 09:07] devdigital commented on #2572
I've searched the open issues, but can't see another that covers the branding of the error page, and this is still an issue for us.

[2018-09-17 09:40] MartinWa commented on #853
I have been working with this for a while starting with @pierslawson's code. There was however an issue with the returnUrl. The case is that the original website get a call to a protected url. This then redirects to IDS4 and after a successful login should redirect back to the website with a query parameter that incudes the returnUrl. However in @pierslawson's code this queryparameter was lost. Th

[2018-09-17 12:48] brockallen commented on #2619
In the code -- look at the account controller.

[2018-09-17 13:03] kloudja commented on #2619
Thanks for the reply.
I was already reading the code. I downloaded the IdentityServer4-demo.
The thing is, it is just a boolean. Probably I was not clear, or I am not understanding something, sorry.
I'm actually, in my code doing the same as you guys.

Demo-code:
`section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}`

[2018-09-17 15:37] kloudja commented on #2089
@zyofeng the identity server returns a signOutIframeUrl that will contact the identity server endpoint.
It will create mini iframes inside the big iframe and those mini iframes will point to each front channel logou uri you described for each client.
In simple terms is this

[2018-09-17 17:39] omerlh opened #2625 "Responsible Disclosure Policy?"
I just encountered this [question](https://stackoverflow.com/questions/52372862/identityserver4-and-owasp) on SO - which report a potential security issue. I've commented that this is not the way to report such issues - but then noticed the lack of responsible disclosure policy on GitHub (probably me missing it). Maybe consider adding `Security.md` page? See [Ghost's](https://github.com/TryGhost/G

[2018-09-17 18:28] brockallen commented on #2625
If you think there is a security concern, please send mail to contact@identityserver.io

[2018-09-17 18:49] omerlh commented on #2625
I'm not sure - but this is not why I've opened this issue. this issue is about making it easier to find the responsible disclosure policy of this project. This is why I suggested using `security.md`...

[2018-09-17 21:27] VictorioBerra opened #2626 "The Default UserInfo endpoint returns ALL user claims, contrary to the docs which state its based on granted scopes."
### Question:
Is it my responsibility to ALWAYS filter the claims that come from my profile service by the claim types given to me via `ProfileDataRequestContext.RequestedClaimTypes`?

From the [docs](https://identityserver4.readthedocs.io/en/release/endpoints/userinfo.html):

ProfileService Code:
https://github.com/IdentityServer/IdentityServer4/blob/dev/src/Services/Default/DefaultProfileService

[2018-09-17 21:43] VictorioBerra commented on #2626
Nevermind, im blind, AddRequestedClaims has docs that say it filters automatically.

[2018-09-17 21:43] #2626 closed

[2018-09-18 04:37] leastprivilege commented on #2625
This is a good idea. We will add such a file. Thanks!

[2018-09-18 14:36] axufuris commented on #2622
My login page is a SSO page outside my application.  And i'm sorry, but I can tell you that probably isn't the problem.  I have this exact same code for single sign on in other applications and it works. It is only when I add the Identity Server to it that it breaks.

[2018-09-18 20:04] SFoster84 commented on #2366
dev branch does not currently work, current link:

https://github.com/aspnet/AuthSamples/tree/master/samples/DynamicSchemes

[2018-09-19 10:29] pandarun commented on #2618
Thank you for your response, I've added relevenat DataProtection configuration for both idsrv and portal via extension method:
[code]

now I'm seeing in Portal.log

[code]

**Portal.logs**

[code]

while in **Idsrv.logs** everything seems to be ok, except consent screen loop.

[code]

[2018-09-19 10:31] kotikavoori commented on #923
@ShashikantMaurya  @leastprivilege  Any update on this ? is it okay to use IS-4 with .net f/w 4.5.1 ?

[2018-09-19 11:45] deepakgupta03 opened #2628 "Token cleanup job is running twice for multiple instances"
Hi,

We have deployed our identity server on azure ARM and we have two instances of identity server. The cleanup activity of tokens is being performed by both the instances but we need to restrict it to one instance only.

[2018-09-19 13:03] brockallen commented on #2628
You can disable the cleanup flag on the one you want to disable.

[2018-09-19 23:06] shauntir commented on #2624
I have the same issue using dotnet core 2 with version 2.3.0-preview1-update2 of IdentityServer.

[2018-09-20 04:34] deepakgupta03 commented on #2628
Hi brockallen,
      Thanks for the quick response. We have multiple instances of same web application(web-farm) which shares same configurations. Please let me know how we will disable it and which setting in the configurations you are talking about. We have created Instance of TokenCleanup and start it in the application code.

Thanks in Advance !!!

[2018-09-20 07:55] jnabizada commented on #2477
@Manojmadhav could you please specify the type of User you are using. If you mean by User IdentityServer4.Test.TestUser or Microsoft.AspNetCore.Identity.IdentityUser?

Also can you share the code please, you used that subject property in User object?

Thanks,

[2018-09-20 12:57] krema opened #2629 "Use SecureString"
Wouldn't it be better to use SecureString instead of regular strings?
I.e. in ResourceOwnerPasswordValidationContext the member Password

Is there a reason for not using SecureString?

Cheers

[2018-09-20 13:04] leastprivilege commented on #2629
What's your threat model?

[2018-09-20 13:05] leastprivilege commented on #2629
Or IOW - what do you want to protect against?

[2018-09-20 13:28] krema commented on #2629
From [Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/api/system.security.securestring?view=netcore-2.1)

[2018-09-20 13:53] brockallen commented on #2629
@krema that didn't answer the question. What are you trying to protect against by using SecureString?

[2018-09-20 14:07] brockallen commented on #2628
`EnableTokenCleanup` on http://docs.identityserver.io/en/release/reference/ef.html#operationalstoreoptions

[2018-09-20 14:27] krema commented on #2629
Elevation of Privilege by reading the credentials out of the memory. A lower/none privilege user or application can access functions or content reserved for higher privilege users or applications.

[2018-09-20 14:34] leastprivilege commented on #2629
SecureString has proven to be inefficient. Before we can turn something into a SecureString, it's first an "in-secure string". And you can most likely find that in memory as well.

Also - if someone has access to your memory - I think you have bigger issues.

Did you also read: https://docs.microsoft.com/en-us/dotnet/api/system.security.securestring?view=netcore-2.1#HowSecure

[2018-09-20 15:21] wleev opened #2631 "Integrating Discourse with IdentityServer4 SSO"
How would one go about integrating Discourse with IdentityServer4 as SSO provider? Their method is not completely OAuth2 compatible ( as specified in: https://meta.discourse.org/t/official-single-sign-on-for-discourse-sso/13045 ).

Are there any examples of manually doing a login and token generation?

[2018-09-20 15:23] markarmitage opened #2632 "Persisted Grants - Refresh tokens not updated in DB"
Hi,

I'm using Persisted Grants to store the tokens in the DB and they have an expiration. We're refreshing the tokens and when stepping through the code I can see the expiration date being updated but this is not reflected in the DB record. Should it be? The reason this causes problems is that the record is removed from the DB as it has passed it's expiration so the next time I refresh the token

[2018-09-20 16:51] brockallen commented on #2632
Do you have a concrete repo for this? Perhaps in one of our samples?

[2018-09-20 18:19] DjangoFR opened #2633 "CURL requests in documentation"
The examples in the documentation are certainly great for C# people, but if you come from another world, they are quite complicated to understand/reproduce. It would be great to have CURL requests in the documentation - then anyone could execute the requests on the command line.

Something like this:
https://stackoverflow.com/a/52429221/2095846

[2018-09-20 21:30] VictorioBerra opened #2634 "Allowing GET at introspection."
https://tools.ietf.org/html/rfc7662#section-4

   logs via query parameters, an authorization server offering token
   introspection MAY disallow the use of HTTP GET on the introspection
   endpoint and instead require the HTTP POST method to be used at the
   introspection endpoint.

We have a vendor who can only currently send GET requests. Id like to be able to easily toggle allowing a GET.

Is

[2018-09-21 04:55] dharmeshtailor commented on #1223
I had similar issue. Turns out there were 2 slashes in RedirectUri for client (just before signin-oidc). Modified to single slash and it worked.

`RedirectUris =
                    {
						"http://localhost:53846//signin-oidc"
					},`

[2018-09-21 05:35] deepakgupta03 commented on #2628
Hi brockllen,
Multiple instances of same web application(web-farm) shares the same code so how we can achieve this by
EnableTokenCleanup property.
Also, we have used identity server3, is there any way in IdentityServer3.

[2018-09-21 06:01] leastprivilege commented on #2634
Not without changing the source code.

[2018-09-21 06:03] leastprivilege commented on #2633
Good idea! Feel free to add them.

[2018-09-21 08:02] markarmitage commented on #2632
No I don't have a repo for this. The scenario is Identity Server 4 .Net Core project, a .Net 4.5 API project and a MVC 4.5 web project. I'm trying to refresh the token so that I can still authenticate the API project from the web project. Do you have a sample that covers this scenario and that updates the expiry of the token in the DB? Or is there a different approach that I should take?

[2018-09-21 09:38] rosdi commented on #1127
For those who are migrating from IdentityServer3 and arrived at this page from Google, you can get the access token like so:

`var accessToken = await httpContextAccessor.HttpContext.GetTokenAsync("access_token");`

Took me a while to figure this out... duh!

[2018-09-21 10:12] plmprasanth commented on #1000
Hey, I am also facing the same issue when my API is running on docker. Is any additional configuration required for such APIs with docker support where as the API which is running on IIS is working fine with my configuration. Please help me as soon as possible. Thanks in advanced

[2018-09-21 13:44] m-demydiuk opened #2635 "Master and child token"
**Is your feature request related to a problem? Please describe.**
We have partners in our system which have users registered in our db. The partner can receive partner token using grant type `client_credentials` and `client_id`/`client_secret` pair. After the partner got partner token, he should be able to provide a token for a user using grant_type `password` and `email/password`
 pair. Only aut

[2018-09-21 13:46] brockallen commented on #2628
IIRC, there's a similar flag for IdentityServer3.

[2018-09-21 17:04] cdwaddell commented on #2595
@brockallen , it looks like the idsrv.external cookie options in AddIdentityServer cannot be overridden, or I can't figure out how. This cookie is being assigned the samesite=lax setting. This setting breaks in iOS 12. Any direction on how to change this?

I need to add `options.Cookie.SameSite = SameSiteMode.None;`
to [ConfigureInternalCookieOptions Line 41](https://github.com/IdentityServer/Iden

[2018-09-21 17:13] brockallen commented on #2595
You don't have to use our external cookie. As such, configure your own and make your UI use it (instead of ours).

[2018-09-21 17:58] cdwaddell commented on #2595
Thanks again for the great tools @brockallen and for supporting the community.

[2018-09-21 19:58] VictorioBerra commented on #2634
I could implement my own endpoint essentially copy and pasting 90% of the current endpoint right? Im considering doing a PR with a flag allowing GETs but the other issue is our vendor wants to send the tokens in the QueryString too. So it's looking like the changes needed will be more than just allowing GETs.

[2018-09-22 19:35] ngruson opened #2640 "OIDC - HTTP 404 after redirect to client app"
I made a sample IdentityServer host + MVC client application that use OIDC based on https://identityserver4.readthedocs.io/en/release/quickstarts/3_interactive_login.html.
That works ok.

When I copy the relevant startup code to my actual MVC app, things don't work as well anymore. First, a controller is hit that is decorated with the Authorize attribute and is redirected to the IdentityServer log

[2018-09-23 12:17] brockallen commented on #2554
Yes, we will be reviewing them and making the necessary changes for the next release.

[2018-09-23 13:05] markphillips100 commented on #2554
Great. Thanks Brock

On Sun., 23 Sep. 2018, 10:18 pm Brock Allen, <notifications@github.com>
wrote:

[2018-09-24 00:41] brockallen opened #2641 "Support idp:local in host"
In BuildLoginViewModel.

[2018-09-24 06:39] deepakgupta03 commented on #2628
Thanks Brockallen,
I'm not sure how I would update this property(EnableTokenCleanup) in one instance if both the instances are running on same web application(web-farm) and share same code. Please suggest.

[2018-09-24 09:27] RomainWilbert opened #2642 "ClaimValueTypes.DateTime not working"
I create a new custom claim with ClaimValueTypes.DateTime type in my IProfileService implementation:

[code]

On the client side, when I look at User.Claims, valueType is "http://www.w3.org/2001/XMLSchema#string" for my custom claim.

What is the best practice to manipulate DateTime claims and the best way to deserialize it on the client side ?

Thanks

[2018-09-24 11:53] leastprivilege commented on #2642
ClaimValueTypes are a .NET only concept - they are not round-tripped.

[2018-09-24 11:59] brockallen commented on #2628
I don't know your hosting or deployment infrastructure. You'd have to figure that out yourself.

[2018-09-24 12:02] RomainWilbert commented on #2642
Thanks for answering. If this is only concept, can anyone explain why on the client side the iso date claim is deserialized as a culture specific formatted date ?

[2018-09-24 12:07] deastr opened #2643 "Signature validation fails while trying to verify access token"
Hi,

I'm trying to manually verify access token generated by IdentityServer and I'm getting "Signature validation failed" error. I'd appreciate any info on if I'm doing anything wrong.

Here's the error:

`Microsoft.IdentityModel.Tokens.SecurityTokenSignatureKeyNotFoundException: 'IDX10501: Signature validation failed. Unable to match 'kid': '18a070503986d75733c7d49eacccb42a'`

I'm using my own pf

[2018-09-24 12:09] leastprivilege commented on #2642
This would be more a question for MS - since the provide the JWT handler (if you are using that).

[2018-09-24 12:35] RomainWilbert commented on #2642
I am quite new to .Net. I use .Net core 2.1.2 so I don't have a clue if this is the JWT handler which is used. I thought the mapping would be done by the AccessTokenValidation package.

Can you recommend a best practice for passing through datetime typed claims ? For now I use a hack which serialize the date in json on server side, so it escapes the iso string value and avoids format corruption on

[2018-09-24 12:59] leastprivilege commented on #2642
Yes - this is the MS JWT handler in use.

For now this sounds like a feasible approach. But feel free to open an issue here:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2018-09-24 13:42] kloudja commented on #2619
Any clue how can i implement this?

[2018-09-24 21:58] pandarun commented on #2618
I've managed to fix this, the core issue was with identity discovery document generation. Links were http instead of https.
Fix:
https://stackoverflow.com/questions/44635169/configure-identityserver4-behind-nginx-reverse-proxy

Ths second issue was with nginx configuration
https://stackoverflow.com/questions/23844761/upstream-sent-too-big-header-while-reading-response-header-from-upstream#23845727

[2018-09-24 21:58] #2618 closed

[2018-09-25 02:44] yilezhu opened #2644 "Do you support EntityFramewotk2.1?"
When I upgrade all projects to asp.net core 2.1, including EF, and then execute the following commands, it will be wrong. When version asp.net core 2.0 is not available. Is it because the EntityFramework2.1 version is not supported?

![q 7dajymcn6v gb 97m j](https://user-images.githubusercontent.com/18655233/45989850-f65e8700-c0af-11e8-85ae-ded6cdc974c0.png)

### Issue / Steps to reproduce the pro

[2018-09-25 03:48] NavpreetHallen opened #2645 "IdentityServer is not returning "Email" as part of id_token."
I have added Email as part of GetIdentityResources() in Config.cs as well as AllowedScopes  but id_token doesn't contain user email at all.
decoded id_token : it only contains id not email
{
  "nbf": 1537847177,
  "exp": 1537847477,
  "iss": "https://********com",
  "aud": "**",
  "nonce": "*******-574a-477c-af85-510b5e5f7fd",
  "iat": **7847177,
  "c_hash": "****WgKjTnCqOwf4TQ",
  "sid": "***be84

[2018-09-25 07:44] silamon opened #2646 "Emit more logging and errors around authentication scheme at startup"
### Issue / Steps to reproduce the problem
We are receiving NullReference exceptions because we do not fill in the UserInteractionOptions. Earlier in the v2.2.0 build, this was automatically filled with default values when the IdentityServerOptions is initialized. Now in the preview of v2.3.0, it looks like the default path is no longer filled in automatically. It remains furthermore null causing

[2018-09-25 08:09] NickyM commented on #2595
When is this fit set to release @brockallen ?

[2018-09-25 08:28] deastr commented on #2643
I also tried solution descibed in here but same error: https://github.com/IdentityServer/IdentityServer3/issues/3040#issuecomment-237982447

[code]

[2018-09-25 08:32] LindaLawton commented on #2205
Solution:

New settings

[code]

Add data protection in ConfigureServices.

[code]

[2018-09-25 08:42] nickKos323 commented on #1152
@declanmc Thanks for your research and that you left some info about what's happening with AllowedRedirectUris in IdentityServer4. Now I have the same problem as you had. Can you tell me please what could be possible solutions of this problem? How to set reading of data from Config.cs after it's changed?

[2018-09-25 08:52] deastr commented on #2643
Solved issue. It was different IdSrv installations. Client was getting the token from IdSrvA (test server) but I was trying to validate it at IdSrvB (localhost).

[2018-09-25 08:52] #2643 closed

[2018-09-25 12:40] brockallen commented on #2595
We will be working on the next preview late next week.

[2018-09-25 12:48] NickyM commented on #2595
Okay, thanks for answering. :)

I can comfirm creating our own cookie scheme, without SameSite solved all iOS 12 related problems here as well.

[2018-09-25 17:02] Manojmadhav opened #2647 "Two different clients , two user logins, second user is directly getting logged in instead prompting log in"
Hi ,

We have configured two clients, the first user logged in with the first client in the first tab of the browser, while we are trying to log in with the second user for the second client in the second tab of the same browser is not prompting log in page .

identityserver4 ASP.Net Core + OIDC client +Implicit

Can you please help me

[2018-09-25 19:27] brockallen commented on #2647
That's how SSO works.

[2018-09-26 02:40] Edward-Zhou commented on #1783
@mackvatoloco I made a test with your solution under Asp.Net Core 2.1 and IdentityServer4 2.1, but it fail to work for `LoginPath`. Does it need any other configuration?

[2018-09-26 08:28] Edward-Zhou opened #2649 "Asp.Net Core 2.1 with IdentityServer4 throw error "InvalidOperationException: idp claim is missing""
I follow [Using ASP.NET Core Identity](http://docs.identityserver.io/en/release/quickstarts/6_aspnet_identity.html) with `Asp.Net Core 2.1` and `IdentityServer4.AspNetIdentity`.

Here is reproduceable project:
[IdentityServerWithAspNetCoreIdentity](https://github.com/Edward-Zhou/AspNetCore/tree/master/IdentityServerWithAspNetCoreIdentity)

[IdentityServerMVCClient](https://github.com/Edward-Zhou/A

[2018-09-26 08:40] taimai0604 commented on #2042
Run 2 command dotnet client :
dotnet ef migrations add InitialIdentityServerPersistedGrantDbMigration -c PersistedGrantDbContext -o Data/Migrations/IdentityServer/PersistedGrantDb
dotnet ef migrations add InitialIdentityServerConfigurationDbMigration -c ConfigurationDbContext -o Data/Migrations/IdentityServer/ConfigurationDb

[2018-09-26 08:42] Jehoel opened #2650 "Proposal: Improve `SignInAsync`"
**Is your feature request related to a problem? Please describe.**

Currently IdentityServer4 requires applications use `AuthenticationManagerExtensions::SignInAsync` in order to complete the user authentication process when using grants and flows that use a browser-based login form presented using ASP.NET Core MVC.

This is a problem because ASP.NET Core comes with its own methods also named `Sig

[2018-09-26 11:51] brockallen commented on #2649
This usually happens when you don't have the proper default authentication scheme set in your app to be the IdentityServer cookie.

[2018-09-26 12:09] victorjonsson opened #2651 "Requesting introspection endpoint without api secret"
Hi there!

We have an API resource without secret. How is it that we can use `services.AddIdentityServerAuthentication` in our third party application but we're not able to request the retrospection endpoint, it responds with http status 401. My assumption is that `AddIdentityServerAuthentication` will request the retrospection endpoint to verify the jwt token, or am I wrong?

[2018-09-26 12:28] victorjonsson commented on #2651
But my question is then how the signature of the jwt token gets verified in the third party application?

[2018-09-26 12:33] brockallen commented on #2651
If it's a JWT, introspection is not needed. The signature is validated by the API downloading the signing keys via discovery.

[2018-09-26 12:38] Edward-Zhou commented on #2649
How should I set `proper default authentication scheme`?

[2018-09-26 12:40] victorjonsson commented on #2651
Ah, okey! That was the missing piece of the puzzle.

/ thanks

[2018-09-26 12:42] victorjonsson commented on #2651
Does the signing keys get cached? Or will every request to the third party application end up in a request to the discovery endpoint as well?

[2018-09-26 12:54] brockallen commented on #2649
You can do it in the AddAuthentication(options=>{...})

[2018-09-26 12:54] brockallen commented on #2651
Yes, cached.

[2018-09-26 12:56] #2651 closed

[2018-09-26 13:06] Edward-Zhou commented on #2649
I have configured `services.AddAuthentication(options =>
                    {
                        options.DefaultScheme = "Cookies";
                        options.DefaultChallengeScheme = "oidc";
                    })` at client side, what should I configure at IdentityServer side?

[2018-09-26 13:45] #2649 closed

[2018-09-26 14:51] marcrib opened #2652 "Add claim on access_token by api"
I want to create a service to only authenticate users in different softwares(products). The identityserver will only have basic user information, ID, Name, Email, Password.
For each software will have its API and also a table called UserInfo that will have additional user information

How do I add custom claims in access_token after authenticated by the identityserver?

[2018-09-26 15:04] leastprivilege commented on #2650
Thanks - there are some valid points. We will discuss.

[2018-09-26 15:48] mackvatoloco commented on #1783
What do you mean by fail?

We are still on IdentityServer2.0 and ASP.NET Core 2.0 and the way to configure works fine.
Looking at  IdentityServer2.1 seems they still use that same way:

` builder.Services.AddSingleton<IConfigureOptions<CookieAuthenticationOptions>, ConfigureInternalCookieOptions>();
            builder.Services.AddSingleton<IPostConfigureOptions<CookieAuthenticationOptions>, PostC

[2018-09-26 18:54] dpotoole commented on #2595
Running into this problem as well using Azure AD for authentication.

@NickyM can you please post some code on what you had to do to get your own cookie scheme working? Thanks!

[2018-09-26 21:07] NickyM commented on #2595
@dpotoole, well basically I just renamed the cookiescheme, and then signed in using that cookie scheme.

I have to instances of IdentityServer, where one is using AspNetIdentity and one dont.

### Identity server with external login (MS + Google), and AspNetIdentity for handling local users

Startup.cs:

[code]

And in /Account/ExternalLoginCallback:

[code]

Where GetExternalLoginInfoAsync() is m

[2018-09-27 00:48] cdwaddell commented on #2595
After looking more closely at what IdentityServer was doing, I figure out a workaround. This has been confirmed on our system. My workaround just targets this cookie:
[code]
Then after you setup IdentityServer, you add this to DI
[code]

This should be able to be removed when the patch goes through.

[2018-09-27 06:41] rizamarhaban commented on #1156
@leastprivilege
@brockallen

I apologize if I ask this here and not via Stackoverflow, but this might be related to this closed issue discussion. Possibly added for documentation.

I have an API (**A**) and has been authenticated using `ResourceOwnerPasswordAndClientCredentials`. I get the `access_token` as well as profile claims with subject. On this API (**A**), I would like to call other API (*

[2018-09-27 06:43] IamTonyZHOU commented on #1915
This is their policy, they do not allow launching the share window in a custom modal or an iframe

[2018-09-27 07:00] leastprivilege commented on #1156
This is not how it works.

The "sub of the client" would be the client_id claim.

[2018-09-27 08:07] rizamarhaban commented on #1156
@leastprivilege

My bad, duh... I should not use `ICustomTokenRequestValidator`.
I manage to resolve it by using `IExtensionGrantValidator`. All works like a charm. Thanks.

It's all here in the documentation [http://docs.identityserver.io/en/dev/topics/extension_grants.html](http://docs.identityserver.io/en/dev/topics/extension_grants.html)

[code]

[2018-09-27 10:02] igor-moskvitin opened #2653 "Windows authentication without hosting platform dependency"
[Docs](https://identityserver4.readthedocs.io/en/release/topics/windows.html) says that windows auth can work only with windows/iis, but will be nice to remove this limitation.
May be possible to use tools like [this](https://github.com/SteveSyfuhs/Kerberos.NET)?

Or may be already exist some sort of integrations?

[2018-09-27 12:16] Devvox93 commented on #2595
I tried the workaround above and it didn't work. **But keep reading** if it didn't work for you either. I then tried the solution described here: https://github.com/aspnet/Identity/issues/1970#issuecomment-424566071 which did work.

Then I thought that this option may work after all, but the singleton **needs to be registered AFTER `services.AddAuthentication()`**.

Please correct me if I'm wrong

[2018-09-27 12:58] brockallen commented on #2653
All authentication is a host concern with IdentityServer. Do if you want to use that, then go for it.

[2018-09-27 13:20] cdwaddell commented on #2595
@Devvox93 , you do have to combine it with a couple of other settings changes that I had posted earlier. The most important is changing the MinimumSameSitePolicy to allow the SameSiteMode.None. Otherwise the same site setting may not get applied because it is too low. Here they all are in one place.
[code]
If it still doesn't work for you, then you have another cookie with the bad policy. The way

[2018-09-27 13:27] Devvox93 commented on #2595
In my case, this (and only this) was what I did to fix the issue:
[code]

[2018-09-27 16:52] DSpade-r commented on #1758
I have the same problem. Appears when using EntityFramework in ASP.NET Core 2.1 + IdentityServer4

[2018-09-28 03:34] brunohbrito opened #2654 "Client Description isn't available at IdentityServer4.Models.Client"
### Issue / Steps to reproduce the problem
I'm trying to get/set Client Description at `IdentityServer4.Models.Client` to Store it at Db through ToEntity().
The property isn't available, but it exists at `IdentityServer4.EntityFramework.Entities.Client`

![image](https://user-images.githubusercontent.com/7241156/46186544-9c2f1300-c2b5-11e8-9da2-171ecbbe38cc.png)

I made an workaround, just for you

[2018-09-28 03:52] igor-moskvitin commented on #2653
Ok. Thanks i will try.

[2018-09-28 03:52] #2653 closed

[2018-09-28 06:31] larsw commented on #1738
This draft has recently been updated (https://datatracker.ietf.org/doc/draft-ietf-oauth-mtls/) to 0.11 and AFAIK is scheduled for RFC status (Proposed Standard).
Re. https://github.com/aspnet/Security/issues/1575 the client cert auth. dependency is on the ASP.NET Core 3.0 road map.

[2018-09-28 06:45] deepakgupta03 opened #2655 "Identity server is not retrying for failed db calls"
Please only use the issue tracker for bug reports and/or feature requests. For general security questions, or free or commercial support options do __not__ use the issue tracker and instead see [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

For bug reports,  include the relevant log files related to your issue. See here how to enable [logging](https

[2018-09-28 06:53] deepakgupta03 commented on #2655
Hi,
I am using IdentityServer3.EntityFramework. Identity server is not retrying for failed database calls. It should retry again if  database call fails.

[2018-09-28 08:50] opoutere commented on #2645
For some reason Identity Server doesn't return user details in id token when both id token and access token are requested in the same implicit flow request. If you just request id token, then user detail claims will be issued. If you request both tokens, then afterwards you need to call userinfo endpoint to get user details.

[2018-09-28 09:44] MontyGvMC opened #2656 "Will IdentityServer4 2.3 support .NET Core 2.2?"
**Is your feature request related to a problem? Please describe.**
Using X509Certificate2 on non windows platforms have a (.NET Core) bug when decrypting data.

Short explanation:
A bug deep in .NET Core prevents decrypting on non windows platforms (e.g. Docker) due to the missing certificate store. This happens on decrypting data .NET Core always looks up the certificate store and fails if it is

[2018-09-28 10:04] fanc-mso commented on #2477
I'm having the same issue with the IdentityServer4.Test.TestUser as demo'ed in the Quickstart UI. I get to the login screen, I enter the credentials for one of the test users, credentials pass, but redirection is not working. Getting back to login page.

[2018-09-28 11:33] brockallen commented on #2656
We have many customers running on linux containers using certs for their signing credentials. I don't know of anything that has changed in .NET Core or ASP.NET Core that's already released with what's planned for 2.2 that should cause those working solutions to break. I did not yet read the link you provided above. Are you saying something is changing in 2.2 whereby those existing solution will no

[2018-09-28 11:34] brockallen commented on #2645
That's per-spec.

[2018-09-28 11:35] brockallen commented on #2645
You need to configure the user claims you want in the corresponding tokens via the IdentityResource or ApiResources. That's covered in our docs.

[2018-09-28 11:36] brockallen commented on #2655
https://github.com/IdentityServer/IdentityServer3#note-this-repository-is-no-longer-in-active-development-or-maintenance-other-than-reported-security-vulnerabilities

[2018-09-28 11:37] brockallen commented on #2654
It is in 2.2: https://github.com/IdentityServer/IdentityServer4.Storage/blob/dev/src/Models/Client.cs#L60

[2018-09-28 13:49] MontyGvMC commented on #2656
Are you saying something is changing in 2.2 whereby those existing solution will no longer work?

No. If there are already people got it working than its just me. And if it works now it will still work in 2.2.

When I experienced problems my research brought me to the link above and I thought that would be the solution. But with the given information I will habe to recheck.

Well, from my side it

[2018-09-28 15:09] #2656 closed

[2018-09-28 15:12] leastprivilege commented on #2645
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-09-28 15:12] #2645 closed

[2018-09-28 16:49] satyajit-behera opened #2657 "Using both asp.net identity and entity framework together gives No DbContext named 'PersistedGrantDbContext' was found"
When I use both asp.net Identity combined with Entity Framework configuration operational data storage, it does not create the migrations.

Configurations:
[code]
Running the following command:

gives error:

But if I remove the .AddAspNetIdentity<ApplicationUser>()  from the above configuration, it works fine.

Am I missing something?

This happens when its with asp.net core 2.1

Thanks

[2018-09-28 17:14] churstz commented on #2580
The Identity Server config also needs the
`options.ClientSecret = [Client generated shared secret from the ADFS];`
otherwise it will error in the ADFS Event Logs

[2018-09-29 01:19] brunohbrito commented on #2654
Great!

But I think that we need to wait the next version of IdentityServer4.EntityFramework. Because it depends of version IdentityServer4 2.1.1 ?

Or there is a way, that I cannot see, to update version 2.2 with this version of EF?

[2018-09-29 01:50] brockallen commented on #2654
Correct -- it won't be there until 2.2. If you want to update it now, then you will have to use the EF entities directly.

[2018-09-29 19:32] brunohbrito commented on #2654
Thx!

[2018-09-29 19:32] #2654 closed

[2018-09-30 17:12] leastprivilege opened #2659 "Migrate docs to use new IdentityModel style and/or IdentityModel docs"

[2018-09-30 19:15] MartinWa commented on #475
We faced this issue for a customer that where running an old version of Edge (v38). After reading this issue and looking at the source I see that there is now an option to support CSP 1.0 browsers ([documented here](http://docs.identityserver.io/en/release/reference/options.html#csp-content-security-policy)). As this was not mentioned in this issue I want to point it out to anyone else facing this

[2018-10-01 09:53] wijnsema opened #2660 "Users logged out of Identityserver/AspnetIdentity running on IIS"
If you use Identityserver 4 in combination with AspnetIdentity Core 2 or 2.1, and roll this out to production using IIS 7.5 or later, you might encounter spurious logouts of users after 20 minutes or longer, even thought they have checked "Remember me".

Everything seems to be running perfectly in a development environment with IIS Express.

The reason for this is that if IIS is recyling your appl

[2018-10-01 10:10] leastprivilege opened #2661 "Be compatible with iOS 12 breaking changes"
https://github.com/aspnet/Security/issues/1864

[2018-10-01 10:27] wijnsema commented on #2660
The solution for me was setting "Load User Profile" in the Advanced Settings of your application pool to "True".

While you're at it, also change "Idle Time-out" to 0, the default of 20 minutes would only make sense if you're hosting thousands of sites.

![iis timeout](https://user-images.githubusercontent.com/14232265/46283408-9e72c500-c574-11e8-8aa3-c7720d0ac9b4.png)

[2018-10-01 11:08] danutzplusplus opened #2662 "User token vs application/client token"
Hello,

This isn't an issue, just a question regarding some vocabulary in the OAuth2 knowledge space. But I believe this is the most knowledgeable place where my question could be answered. At least I hope someone can clarify this for me.

As we all know the OAuth2 framework specifies the issuance of JWT tokens either using the client credentials flow, which places client/application claims on the

[2018-10-01 12:11] Mah3 commented on #1869
Hi Scott

We are facing the same issue, Using (IdentityServer4.EntityFramework 2.1.1).

I think this happens in case the application works with a load balancer (because it appears only on production ).

 Is there any suggested solution.

[2018-10-01 12:25] MontyGvMC opened #2663 "Add example for using X509Certificate2 to the docs on the website"
**Is your feature request related to a problem? Please describe.**
Using X509Certificate2 for signing credentials seems pretty straight forward but actually needs more configuration than expected.

The docs on the [website](http://docs.identityserver.io) just show developer signing credentials.
If one googles **WindowsCryptographicException: Keyset does not exist** the first result is [this IdSrv4

[2018-10-01 13:20] markpritchett opened #2664 "Updating docs and quick start samples to ASP.NET Core 2.1 / 2.2"
All the docs and quick start samples are for ASP.NET Core 2.0.

Given the number of docs and quick start samples, it's a fairly big task to update them all and so I was wondering what work was in progress / planned in this area and what would be the best way of planning the remaining work?

I suppose another consideration is that ASP.NET Core 2.2 is scheduled for release by the end of the year.  S

[2018-10-01 13:38] brockallen commented on #1869
You don't have to host the cleanup in IdentityServer. Build a different dedicated host for this function.

[2018-10-01 14:07] brijesh-1111 opened #2665 "Two local clients (different ports) with local identity server keep asking login page"
I have an issue with single sign-on with Identity server 4.

While I was following Identity server 4 (with aspnet core 2) videos and articles, I have developed a sample applications + identity server local. I have:

- Identity Server: https://locahost:5001
- Application 1: https://localhost:44373
- Application 2: https://localhost:44317

Both applications are the same Asp.net core 2 (MVC) except t

[2018-10-01 15:26] nezoic opened #2666 "EF QuickStart Documentation SQL Script link is broken, 404."
In the EF Quick Start Docs, the link to the SQL Scripts is throwing a 404.

http://docs.identityserver.io/en/release/quickstarts/8_entity_framework.html#refentityframeworkquickstart

![image](https://user-images.githubusercontent.com/5908638/46298252-34eaba80-c564-11e8-8455-50ca28f9de34.png)

[2018-10-01 16:16] brockallen commented on #2666
Thanks for the heads up. You can submit a PR to get this fixed!

[2018-10-01 18:21] leastprivilege commented on #2662
Well - the spec you are citing above is confusing. It is about using JWTs as client secrets.

In IS we made the decision for the JWTs we issue that `sub` always refers to a human. We use `client_id` to identify a client. This way we minimize chances they are parsed incorrectly.

[2018-10-01 18:28] danutzplusplus commented on #2662
So, you made the explicit choice to not overload the subject field with either human identifier or a client identifier? And instead use one, the subject, for human identifier and the client_id as a client identifier.

So, I guess you would agree that you see no issue in distinguishing between the two types of tokens? One a "user token" and the other an "application/client token"?

[2018-10-02 10:31] ArhiChief opened #2667 "Invalid authorization code error when trying to use Authorization Code and Google Plus"
Hello.

I'm trying to obtain **id** and **access** tokens using IdentityServer and `Authorization Code` grant. For start point I decide to use [Quickstart #4: Adding external Authentication](https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Quickstarts/4_ImplicitFlowAuthenticationWithExternal). I modify `Config.cs` `GetClients` in **QuickstartIdentityServer** like this:

[code

[2018-10-02 11:42] brockallen commented on #2667
Can you see if our samples work properly? It's difficult when using postman to know if the issue is postman or not.

[2018-10-02 11:45] #2660 closed

[2018-10-02 11:49] brockallen commented on #2664
Our plans for the docs are:
1) release IdentityServer 2.3
2) rework our quickstarts to use our templates (and not the VS File->New Project templates)
3) see what happens in ASP.NET Core 2.2 and their use of IdentityServer

The main reason the docs have become somewhat stale is that Microsoft up-ended the ASP.NET Identity templates and somewhat broke our quickstart for it. That's a lot of work to k

[2018-10-02 11:51] brockallen commented on #2665
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-10-02 11:51] #2665 closed

[2018-10-02 11:56] brockallen commented on #2634
The spec discourages GET because the tokens are passed in the query string, which might end up in a log file. This is not ideal and this is why we never did this.

We're open for a PR after our 2.3 release.

[2018-10-02 12:01] brockallen commented on #2571
We're following this model for support for old versions:

https://hueniverse.com/the-backwards-commercial-license-647290f7e38b

If your company wants this, then contact us directly for commercial support. Thanks.

[2018-10-02 12:01] #2571 closed

[2018-10-02 12:02] #2420 closed

[2018-10-02 12:08] brockallen commented on #2145
Since I've had no suggestions, I'm closing.

[2018-10-02 12:08] #2145 closed

[2018-10-02 12:19] pmehta1682 commented on #2571
Thanks. Can you tell me when the latest version of IdentityServer will be released which has this fix?

[2018-10-02 12:27] pmehta1682 commented on #1315
When will this fix be released? Which version?

[2018-10-02 12:44] brockallen opened #2669 "JWKS endpoint content type"
should be "application/jwk-set+json"

https://tools.ietf.org/html/rfc7517 section 8.5.1

[2018-10-02 12:50] brockallen commented on #2571
Check the milestones.

[2018-10-02 12:59] ArhiChief commented on #2667
I've tried [ConsoleClientWithBrowser](https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/ConsoleHybridWithPkce) and modify it like this:

[code]
And also add `http://127.0.0.1:5002` to the `RedirectUris` of `Clients` in IdentityServer and everything works! When I changed **Callback URL** in **Postman** to `http://127.0.0.1:5002` it's also start working!! I don't kno

[2018-10-02 13:35] DFullbrook opened #2670 "CORS request made for path: "/connect/authorize" from origin: but rejected because invalid CORS path"
I raised this issue back in Aug 2017 against Identity Server 3 (see #3829 [IdentityServer/IdentityServer3/issues/3829]). I noticed recently that **CorsPolicyService implementation not being picked up**  (see #1101) was fixed in Identity Server 4 - it looks like the same issue. In the comments, Brock, you mention that a workaround is to register "yours after you register IdentityServer in DI". Is t

[2018-10-02 14:39] VictorioBerra commented on #2634
I assumed as much. We're waiting to see if this change would fix the issue with our vendor. If it does I'll PR the changes which I'm pretty much done with.

[2018-10-02 15:41] kloudja commented on #2619
Still nothing?

[2018-10-02 16:00] leastprivilege commented on #2662
our access tokens always have a `client_id` claim to identify the client. In addition - IF a user is present - there is also a `sub` claim.

[2018-10-02 17:35] brockallen commented on #2619
Sign-out is a hard problem. The specs cover what they cover (which is what we implement), and for single sign-out it's best effort.

[2018-10-02 19:29] DeeDeeLee opened #2671 "Problem when enabling HTTPS on the test server"
I developed an asp.net project which integrated IDS4 for authentication, and authorization successfully on my local machine with HTTPS enabled.
When I published the IDS4 to the Test/Staging server,  asp.net project can get authenticated if the IDS4 is using HTTP. It failed if IDS4 is using HTTPS.

I used asp.net core 2.0.5
IdentityServer4 2.2.0
IdentityServer4.AccessTokenValidation 2.4.0
This is t

[2018-10-02 19:34] DeeDeeLee commented on #2671
[Server Error when enabling HTTPS.docx](https://github.com/IdentityServer/IdentityServer4/files/2439398/Server.Error.when.enabling.HTTPS.docx)

[2018-10-02 19:41] brockallen commented on #2671
Not sure, but it sounds like something we saw recently. Is your app using IdentityModel? Can you update your app to use one consistent version of it?

[2018-10-02 19:55] anilchinnu21 opened #2672 ".NET CORE 2.1 - System.InvalidOperationException: IDX20803: Unable to obtain configuration from: 'http://<identityserv>/.well-known/openid-configuration'"
### Issue / Steps to reproduce the problem
I am using IdentityServer4 along with ASP.NET Identity as an authentication service for my API.
Implemented Implicit flow for an Angular Client.
API is developed on .NET Core 2.1 uses IdentityServer4.AccessTokenValidation 2.6.0 (also tried with 2.7.0-preview-1)

It all worked file in my local machine. However, having some issue upon deploying onto Azure w

[2018-10-02 20:47] DeeDeeLee commented on #2671
It looks like that the IdentityServer4 (2.2.0) is using "IdentityModel 3.6.1". How and where could I get the consistent version of it?

[2018-10-02 21:19] alanrezendee opened #2673 "Official implementation of multitenancy"
**Describe the solution you'd like**

Definitely and directly, does identity server 4 support multi tenancy?
Could you forward the documentation link with a get starter where you implement this feature?
Thank you!

[2018-10-02 23:58] brockallen commented on #2673
there's nothing in IdentityServer that prevents it. but the problem is that your definition of it is possibly different than many others. much like the whole authentication system, this would be something you would need to implement according to your semantics.

[2018-10-03 00:00] brockallen commented on #2671
is your host referencing it too? if so, does it need to?

[2018-10-03 00:01] brockallen commented on #2672
Not sure. 1) I'd expect https, not http. 2) can you view that URL in your browser?

[2018-10-03 05:47] igor-moskvitin opened #2674 "Question: Why DefaultCookieTimeSpan is set by default to 10 hours?"
I see that by [default in AspNetCore](https://github.com/aspnet/Security/blob/release/2.1/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationOptions.cs#L32) timespan is set to 14 days, but for [IdentityServer defaults](https://github.com/IdentityServer/IdentityServer4/blob/dev/src/Constants.cs#L19) it sets to 10 hours. Can you provide reasons for reduce this time?
Now i have an is

[2018-10-03 08:11] DeeDeeLee commented on #2671
My IDS4 is referencing identityserver4(2.2.0), not identitymodel directly.

[2018-10-03 09:08] deepakgupta03 commented on #2655
Hi  brockallen

Thanks for quick response.
Is retry possible for failed identity database  calls in IdentityServer4.EntityFramework?

[2018-10-03 10:22] debchy opened #2675 "How can i authenticate an MVC 5 application with IdentityServer4"
**How can i authenticate an MVC 5 application with IdentityServer4**
My API Resource is an MVC 5 application.
In the Quickstart I got how to authenticate a .net core API Resource  with Identityserver4 by adding dependency injection

              .AddIdentityServerAuthentication(options =>
              {
                  options.Authority = "http://localhost:59392/";
                  options.Ap

[2018-10-03 10:44] SIkebe commented on #2675
@debchy This might help you.
https://github.com/IdentityServer/CrossVersionIntegrationTests/tree/master/src/KatanaApiIdSrv4withRSA

[2018-10-03 11:14] debchy commented on #2675
Hi @SIkebe ,
Thanks for your reply. But the example in in IndentityServer3. I am not getting access to app.UseIdentityServerBearerTokenAuthentication using package IdentityServer4.AccessTokenValidation in MVC

[2018-10-03 11:18] SIkebe commented on #2675
Above example uses IdentityServer4, not IdentityServer3.
Am I missing something?

[2018-10-03 11:29] debchy commented on #2675
This method is using IdentityServer3.AccessTokenValidation;
https://github.com/IdentityServer/CrossVersionIntegrationTests/blob/master/src/KatanaApiIdSrv4withRSA/Program.cs

Also this example is setting configuration for client. But i need to make my MVC application as resourceAPI.

[2018-10-03 11:39] SIkebe commented on #2675
IdentityServer4.AccessTokenValidation is for ASP.NET Core 2 app.

How about this?
https://github.com/IdentityServer/CrossVersionIntegrationTests/tree/master/src/KatanaApiIdSrv4withRSA

[2018-10-03 12:17] brockallen commented on #2674
To be more precise: 10 hour, no sliding. It was chosen because it's a reasonable and safe default. You can change it to anything you want.

[2018-10-03 12:18] brockallen commented on #2675
Katana-based samples here: https://github.com/IdentityServer/IdentityServer3.Samples/tree/master/source/Clients

[2018-10-03 12:18] brockallen commented on #2655
It's possible, but we don't currently do that. What's the use-case or scenario you're trying to address?

[2018-10-03 13:41] AnthonyDewhirst opened #2676 "hitting login button multiple times gives 400 error"
### Issue / Steps to reproduce the problem
using the quickstart 3 code samples, set the mvc client and the id4 server as start, go to the secure page and login. Ensure to hit the login button as many times as you can in quick sucession.
I think, and its a guess as I haven't manged to track this down, that it might be to do with anti forgery token and not directly related to ID4, but not sure.
You

[2018-10-03 13:55] asharda1 opened #2677 "ASPNetIdentity and IdentityServer4"
HI ,
I followed all the Documentation from Identityserver.io.
My issue is 0 I have fresh server, where I want to use safe and secure ldentityServer so we choose Identityserver4 and as the documentation says we need to have our own User management I have used ASPNET Identity.
I have 3 DBCOntext and all are pointing to same Database, here when a user is created and the code given in Sample6 od quick

[2018-10-03 14:44] brockallen commented on #2646
Do you have a repro for this or a call stack? I can't seem to cause this NRE in our host with our samples.

[2018-10-03 14:59] debchy commented on #2675
I guess [this article](https://identityserver.github.io/Documentation/docsv2/overview/mvcGettingStarted.html) better explain what I want. But unfortunately it is with IDserver3

[2018-10-03 15:55] DFullbrook commented on #2670
Hi Brock,

I provided my own Cors Policy Service

    public class MyCorsPolicyService : ICorsPolicyService
    {
        public Task<bool> IsOriginAllowedAsync(string origin)
        {
            return Task.FromResult(true);
        }
    }

And register it as follows:

factory.CorsPolicyService = new Registration<ICorsPolicyService, MyCorsPolicyService>();

The policy is never called.

Best re

[2018-10-03 16:50] brockallen commented on #2670
I see, you're referring to IS3 not IS4. As we've mentioned elsewhere, IS3 is no longer supported. I'll follow up with you on your email for a commercial option.

[2018-10-03 16:50] #2670 closed

[2018-10-03 17:00] igor-moskvitin commented on #2674
And why it is more safe? What kind of attacks can use an extended lifetime for this cookie? I know that i can extend this, but want to know about reason to reduce it for default in IdSrv4.

[2018-10-03 17:19] brockallen commented on #2674
In our experience, most uses of IdentityServer expect a 10 hour fixed SSO session. It's a reasonable and safe default. I think the context is important too -- a user's lifetime in the SSO server is different than a user's lifetime in a general purpose ASP.NET Core MVC app.

Perhaps you should be asking why Microsoft chose 14 days by default for their cookie.

[2018-10-03 19:08] brockallen commented on #2673
which records? user records? clients? apis?

also, how do you want to present the tenant identifier? acr_values, host name, something else?

i don't think there's a "world standard" and that's why i said multi-tenancy is different for different people.