[2018-11-28 03:23] hanslai opened #2839 "In Docs "Adding the UI" readme link is broken."
### Issue / Steps to reproduce the problem
In Doc [Adding the UI](http://docs.identityserver.io/en/latest/quickstarts/3_interactive_login.html#adding-the-ui)

Text: See the [readme ](https://github.com/IdentityServer/IdentityServer4.Quickstart.UI/blob/release/README.md)for the quickstart UI for more information.  link is broken.

I will submit a PR. Thanks

[2018-11-28 06:13] YousafKhan0800 opened #2841 "Custom ResetPassword page not working in IdentityServer3"
I am using CustomViewService in identity server 3 and I needed to add reset password page. I followed the solution provided here: https://stackoverflow.com/questions/31046208/identity-server-v3-custom-page-reset-password . But, Identity Server is not able to find resetPassword.html page even though I provided it in "templates" folder and it keeps returning 404 error "No webpage was found for the w

[2018-11-28 06:32] leastprivilege commented on #2841
This repo is about IdentityServer4.

[2018-11-28 06:32] #2841 closed

[2018-11-28 06:36] YousafKhan0800 commented on #2841
@leastprivilege I tried to post the issue in identityServer3's repository but it is closed. That is why I posted it here

[2018-11-28 06:48] YousafKhan0800 opened #2842 "This repo is about IdentityServer4."
_Originally posted by @leastprivilege in https://github.com/IdentityServer/IdentityServer4/issues/2841#issuecomment-442335765_

Rep: I tried to post the issue in identityServer3's repository but it is closed. That is why I posted it here

[2018-11-28 07:07] leastprivilege commented on #2842
We don't support IdentityServer3 anymore. You can try StackOverflow. Or upgrade to v4.

[2018-11-28 07:08] #2842 closed

[2018-11-28 07:11] leastprivilege commented on #1318
If you think this is a bug, please open a new issue.

[2018-11-28 09:50] jingliancui commented on #2823
ok , I will make a sample code after few days. wait please

[2018-11-28 09:58] leastprivilege opened #2843 "Incorrect using statements in AspNetIdentity UI"
breaks when e.g. copied into template code (uses Host.Models and missing others)

[2018-11-28 10:00] leastprivilege commented on #2843
done

[2018-11-28 10:00] #2843 closed

[2018-11-28 10:52] jonasnystrom commented on #2595
Hi @leastprivilege , have the same issue (I think) in Safari for windows. Have upgraded to 2.3.0 and can see that the external cookies now gone from LAX to None. Any ideas?

[2018-11-28 10:57] jsoncc opened #2844 "AddIdentityServerAuthentication ApiSecret not work"
Hi，There!
    I use the following code,but [ApiSecret] was not worked,whether I set the parameter，the token also can be passed validation。Why？

services.AddAuthentication(IdentityServerAuthenticationDefaults.AuthenticationScheme)
    .AddIdentityServerAuthentication(options =>
    {
        options.Authority = "https://demo.identityserver.io";
        options.ApiName = "api1";
        options.ApiS

[2018-11-28 11:10] leastprivilege commented on #2844
not enough info. check the logs.

[2018-11-28 13:48] chernihiv commented on #2812
@brockallen
Sounds like it's bad practices to be up-to-date =D

Developers could start new project from scratch, where latest AutoMapper will be installed, and they will face issue.

[2018-11-28 15:54] fabich commented on #2580
@churstz @gcardozoj does any one of you have a working example of identity server 4 using ADFS as external identity provider?

We are struggling to get additional claims like email, name or first name

[2018-11-28 19:45] Ponant commented on #2664
@leastprivilege , this issue has the tag "help wanted". Feel free to tell me if you need an input for testing or whatever.

[2018-11-28 20:21] leastprivilege commented on #2664
You can go to our docs and choose the UpdatedQs branch. QuickStart 1-4 are updated. A review would be nice. Thanks

[2018-11-28 21:12] Ponant commented on #2664
I am on it and have some proposals, mainly on the pedagogy side. I also found out that the discovery endpoint display
[code]
which is more detailed than the image snapshot you show. Is that expected or should be mentioned.
I am on .Net core 2.2 preview3

[2018-11-28 21:30] fabich opened #2845 "Breaking Changes from 2.2.0 to 2.3.0?"
hi

After updating to 2.3.0 from 2.2.0 our application breaks:
[code]

do you have any information on this?

thank you for your help

[2018-11-28 21:51] flotteur commented on #2067
@brockallen your observation isn't wrong. It's mostly because once you lifted the bottleneck on the web server, the DB become the next target. But it doesn't mean that the bottleneck on the web server should stay in place.

As @jepperc mentionned, blocking threads in async code isn't a good the way to avoid hitting a bottleneck on the DB server. The current implementation can also impact requests

[2018-11-28 23:37] milosloub commented on #2845
Same problem here

[2018-11-29 05:40] BobBoba commented on #1318
No, no, I'm not sure this is a bug. Just posted my 5 cents for users who'd face this problem in future.

[2018-11-29 05:55] quanterion opened #2846 "Adjust "Authentication scheme Bearer is configured for IdentityServer, but it is not a scheme that supports signin (like cookies)""
I got IdentityServer validation error on startup "Authentication scheme Bearer is configured for IdentityServer, but it is not a scheme that supports signin (like cookies). Either configure the default authentication scheme with cookies or set the CookieAuthenticationScheme on the IdentityServerOptions." from https://github.com/IdentityServer/IdentityServer4/blob/63a50d7838af25896fbf836ea4e4f37b5e

[2018-11-29 08:14] pranavdhundhia opened #2847 "Trying to setup Windows Authentication for Identity server."
Returns following issue after setting up identity server with Windows Authentication.
Steps I followed as per Identity server  docs defined in following link : http://docs.identityserver.io/en/latest/topics/windows.html

and added  following configuration in web config
<system.webServer>
	<security>
                <authentication>
                    <anonymousAuthentication enabled="true" />

[2018-11-29 08:43] leastprivilege commented on #2847
Something is wrong with your web.config - at least that's what the error indicates.

[2018-11-29 08:57] chubbyerror opened #2848 "Change type in file of 'IdentityServer4.EntityFramework.Storage' that can realy Increase efficiency"
### Example

change file
src/Entities/ApiResource.cs

from
[code]
to
[code]

[2018-11-29 09:41] alighanem commented on #2846
I did not have this message with version 2.2.0

[2018-11-29 09:46] scottbrady91 commented on #2845
More properties were added to the EF models. Some of these make their way up to IdentityServer, some don't.

You'll need to create a new migration.

[2018-11-29 10:51] alexssandr1992 opened #2849 "Getting a 400 error on ajax requests. Antiforgery token for a different claims-based user than the current user"
Hi,

I use ASP.NET CORE 2.1

Configuration:

      public void ConfigureServices(IServiceCollection services)
      {
            services.AddIdentity<User, Role>(options =>
            {
            })
            .AddEntityFrameworkStores<WebSiteDataContext>()
            .AddClaimsPrincipalFactory<CustomClaimsPrincipalFactory>()
            .AddDefaultTokenProviders();

           services.AddI

[2018-11-29 12:36] PresidentCamacho commented on #2803
I do a manual authorize request because I can't add all my scopes Im requesting in my client in the Startup of the client. Is there a way to add scopes to use for the authorization except for the startup?

[code]

                    options.Scope.Add("custom_scope_but_now_known_yet_1");
                    options.Scope.Add("custom_scope_but_now_known_yet_2");
[code]

[2018-11-29 12:41] milosloub commented on #2845
Ah, sure, just new migrations. Now it's working again, thanks!

[2018-11-29 13:00] leastprivilege commented on #2803
You can pass additional information in the `AuthenticationProperties` when you call Challenge on the authN handler. You can then parse that data in the `OnRedirectingToIdentityProvider` event and amend the protocol message.

[2018-11-29 13:01] #2803 closed

[2018-11-29 13:37] leastprivilege commented on #2803
There's a items dictionary.

[2018-11-29 13:47] PresidentCamacho commented on #2803
Do you have an example on how to use the `AuthenticationProperties` in the `OnRedirectingToIdentityProvider` event?

[2018-11-29 13:52] leastprivilege commented on #2803
no. But it is on the context they pass into the event.

[2018-11-29 13:52] brockallen commented on #2812
Well, feel free to figure out the issue and submit a PR then.

[2018-11-29 13:53] brockallen commented on #2849
This line is going to cause you problems.

[2018-11-29 14:06] alaeddineG opened #2850 "Support versioning for the token endpoint"
We are moving from the Owin implementation of oAuth to use IdentitySergver4 instead (Thank you by the way  for the good work 👍  )
In Microsoft.Owin.Security we can setup different token endpoint. for  each one it's own provider (for the different Grant ) where you can setup different logic (in case there is breaking changes for example let say). So basically you can add as match token endpoint for

[2018-11-29 14:06] brockallen commented on #2846
Not right now, no. It's just a startup message, as well.

[2018-11-29 14:11] PresidentCamacho commented on #2803
I tried something like this now:

But I can't find the scope I added in the dictionary.

[code]

Inside the `OnRedirectToIdentityProvider` examining the context object:

![image](https://user-images.githubusercontent.com/5015774/49227279-06188580-f3e9-11e8-83b5-4cf22193a7ad.png)

[2018-11-29 14:12] brockallen commented on #2846
Also, you could set the CookieAuthOptions on our options class and put in a dummy cookie handler.

[2018-11-29 14:13] brockallen commented on #2848
What do these changes do in EF Core?

[2018-11-29 14:14] PresidentCamacho commented on #2803
I tried something like this now:

But I can't find the scope I added in the dictionary.

        [Authorize]
        public IActionResult Secure()
        {
            var dict = new Dictionary<string, string>()
            {
                { "scope", "custom_scope_but_now_known_yet_1" }
            };

            var props = new AuthenticationProperties(dict)
            {
                Redi

[2018-11-29 14:16] brockallen commented on #2826
Good find -- we changed it to static. Thanks!

[2018-11-29 14:16] #2826 closed

[2018-11-29 14:49] alexssandr1992 commented on #2849
If I remove this string
options.DefaultAuthenticateScheme = JwtBearerDefaults.AuthenticationScheme
than I can't pass User in HttpContext.
I use SPA application, so in Header 'Authorize' I pass access token

[2018-11-29 14:54] alexssandr1992 commented on #2849
But it seems you are right. if I temporarily remove the string, the request will pass.
What can be solution for my problem?

[2018-11-29 14:58] alighanem commented on #2846
Maybe I do not understand but why do we have to set this option? Why do we have this error? Can you explain more?
Thank you in advance,

[2018-11-29 14:59] jamieide commented on #2848
@brockallen The virtual keyword enables lazy loading for the collections starting with EF Core 2.1. The topic of lazy loading is contentious and, absent any tests, I am very skeptical that there would be any performance improvement, so my advice is to close this.

[2018-11-29 17:11] alexssandr1992 commented on #2849
it's can help me?

In a fiew forums I find advice to use services.AddCors

https://forums.asp.net/t/2134547.aspx?What+is+the+correct+implementation+of+middleware+that+validates+a+custom+XSRF+TOKEN+

but I don't understand how it must be work

[2018-11-29 17:36] brockallen commented on #2850
This is not possible, mainly because the DI system is shared (by default) across all middleware. Microsoft says at some point they will support a "multi-tenancy" feature, but i'm not holding my breath. I know there are some OSS projects that provide workarounds, but you'd have to look into it yourself.

[2018-11-29 17:37] brockallen commented on #2813
All set then? We can close this?

[2018-11-29 17:39] brockallen commented on #2848
So the same as in EF6 (I've not been keeping on top of new EF features). We explicitly eager load the child table relations, so it's not something we'd be using.

[2018-11-29 17:39] brockallen commented on #2849
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-11-29 17:39] #2849 closed

[2018-11-29 17:47] neiljthomson commented on #2813
Yes, in future I'll indicate that in my comment....
Thank you,

[2018-11-29 17:47] #2813 closed

[2018-11-29 18:22] alaeddineG commented on #2850
Thank you @brockallen  for your quick response.

The solution I was talking about to loop over the Endpoints and override the Path does it contain any potential risk ? Any problem that you can foresee ?

Any example that you can throw to me ? :)

[2018-11-29 20:58] zinov opened #2851 "Listing registered users from IdentityServer in another application"
I have a requirement to create an admin UI where I need to list all users registered on IdentityServer to start assigning permissions and roles. This application internally uses PolicyServer, but as a superadmin user, I would need to see all users registered on IdentityServer. Here IdentityServer is responsible for authentication and the other application that uses PolicyServer is responsible for

[2018-11-29 21:34] diegotrp commented on #1453
I am currently having the same problem, i have the next configuration
![image](https://user-images.githubusercontent.com/26632594/49253451-a922cc80-f3f4-11e8-8b89-75fc8284d848.png)

Is there some library i should update?

[2018-11-29 21:52] brockallen commented on #2851
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-11-29 21:52] #2851 closed

[2018-11-29 23:49] brockallen opened #2852 "Update to latest automapper"

[2018-11-29 23:49] brockallen commented on #2852
done on dev

[2018-11-29 23:49] #2852 closed

[2018-11-29 23:50] brockallen commented on #2812
I updated the store project to 8.0 of automapper and everything is working without any code changes. Not sure why tyou got a runtime exception, but I have the EF host same working just fine. I tracked the change here: #2852. Have a test with the myget feed to check, please.

[2018-11-29 23:50] #2812 closed

[2018-11-30 02:32] brockallen commented on #2814
If we add a ctor to `BackChannelHttpClient` that accepts a `HttpClient` then you can use the factory approach. If not, then it falls back to current behavior. In 3.0 we'd rework to be all factory driven. Thoughts?

[2018-11-30 05:11] hanslai opened #2853 "Broken link in Docs "Scopes and Clients Configuration""
### Issue / Steps to reproduce the problem
The [Config.cs](https://github.com/IdentityServer/IdentityServer4.Samples/blob/release/Quickstarts/5_HybridFlowAuthenticationWithApiAccess/src/QuickstartIdentityServer/Config.cs) link is broken in[ Scopes and Clients Configuration
](http://docs.identityserver.io/en/latest/quickstarts/6_aspnet_identity.html#scopes-and-clients-configuration)

[2018-11-30 07:04] UMANGAWASTHY opened #2855 "IdentityServer4 using .NET Framework 4.5.2 Token Validation"
How to use IdentityServer4 using .NET Framework 4.5.2 in ASP.NET MVC 5 (not ASP.NET Core). Any example or tutorial will be helpful. I follow the IdentityServer3 but lots of missing components.

I ask this question because I cannot find some example. Actually, I already build the entire application based on .NET 4.6.1, and i m using Identity Server 4.

Getting Unauthorized on AccessToken Validation

[2018-11-30 07:32] leastprivilege commented on #2855
IdentityServer4 itself requires ASP.NET Core which requires either .NET Core 2.x or .NET 4.6.1 or higher.

If you question is about clients - well - you need an OpenID Connect client library. For MVC 5 that would be Katana and its OIDC middleware.

[2018-11-30 07:32] #2855 closed

[2018-11-30 07:32] leastprivilege commented on #2853
merged

[2018-11-30 07:32] #2853 closed

[2018-11-30 07:38] leastprivilege commented on #2814
Singleton instances are not recommended because of the DNS caching issue.

[2018-11-30 07:41] cornem commented on #2814
Certainly. That's why I seconded Brock's suggestion to implement `HttpClientFactory`, which has been designed to solve that issue.

However, using transient `HttpClient` instances isn't recommended either, so I'm definitely looking forward to a version which allows the use of the factory.

[2018-11-30 07:55] PresidentCamacho commented on #2803
I've the code like this now:

In the Action:

[code]
Startup:
[code]

Everything works great I get the correct authorize request and the custom_scopes are there. Accepting the consent as a user also gives me an update in the [PersistedGrants] table with the right consents.

But when redirecting back to the client I get the error message: `ArgumentException: An item with the same key has already be

[2018-11-30 07:59] leastprivilege commented on #2803
Sorry, don't know. Maybe ask on the Microsoft issue tracker since it is their code.

[2018-11-30 10:07] PresidentCamacho commented on #2803
Rewrote some code, now its all working as intended. Thanks!

[2018-11-30 12:31] brockallen commented on #2814
You can now -- change the lifetime of the `BackChannelHttpClient` in DI to be singleton.

[2018-11-30 14:12] KSYMEK opened #2857 ".NET Core 2.1 Docker: Unable to obtain configuration from: 'https://integrity.identity/.well-known/openid-configuration'."
Welcome,
It is my first try of using Docker containers to host to services. I have two services: `Integrity-Identity` and `Integrity-API`.

### Issue / Steps to reproduce the problem

`Integrity-Identity` is using the latest version of IdentityServer4. Here is `Integrity-Identity` `Startup.cs` configuration:

[code]

Here is `Integrity-API` `Startup` class:

[code]

`docker-compose.override.yml` (

[2018-11-30 15:11] brockallen commented on #2857
That's a DNS issue unrelated to IdentityServer.

[2018-11-30 15:56] quanterion commented on #2846
Can you explain where should I set it?

[2018-11-30 16:37] lrhudson commented on #2580
@fabich this would be helpful if you could get a working example as I'm struggling to get Identity Server 4 working using ADFS also.  Getting: AuthenticationException: The remote certificate is invalid according to the validation procedure.

[2018-11-30 17:20] deka opened #2858 "Net Core 2.1 : Microsoft Authentication /signin-microsoft error : InvalidOperationException: sub claim is missing"
I try to use Microsoft authentification like this
[code]

Authentification is ok, but for the callback (i use default callback : /signin-microsoft) i obtain an error :
InvalidOperationException: sub claim is missing

[code]

An idea to have more information about this famous sub claim ?

Thanks

[2018-11-30 17:47] churstz commented on #2580
@fabich try looking here:
https://github.com/MicrosoftDocs/windowsserverdocs/blob/master/WindowsServerDocs/identity/ad-fs/development/Custom-Id-Tokens-in-AD-FS.md

[2018-11-30 18:48] brockallen commented on #2846
services.AddAuthentication().AddCookie("dummy")
services.AddIdentityServer(options=>options.Authentication.CookieAuthenticationScheme="dummy"})

[2018-11-30 19:49] KSYMEK commented on #2857
I found solution for this issue. The problem was caused for self signed local certificate. For local development I only need to change from HTTPS to HTTP. And that was it.

[2018-11-30 19:49] #2857 closed

[2018-12-01 00:54] #2800 closed

[2018-12-01 00:54] #2821 closed

[2018-12-01 00:54] #2844 closed

[2018-12-01 00:55] brockallen commented on #2848
Ok, so now that I'm looking at this -- would this hurt anything to add it? I ask in case other folks are using the entities directly and might like/need this -- @scottbrady91, might you folks?

[2018-12-01 00:56] brockallen commented on #2850
I think @PinpointTownes has one.

[2018-12-01 00:58] brockallen opened #2859 "Support HttpClientFactory for back channel signout"
Context: #2814

[2018-12-01 00:58] brockallen commented on #2814
Tracking here: #2859

[2018-12-01 00:58] #2814 closed

[2018-12-01 00:59] brockallen commented on #2829
@leastprivilege -- you assigned this, so that means you think it's a worthwhile feature? if so, what milestone?

[2018-12-01 01:05] brockallen commented on #1971
@TomCJones as I said on the PR -- I think having your sample linked from our docs would be the best, as opposed to having our template support it.

[2018-12-01 09:38] Jenan opened #2860 "How to populate LastAccessed property for Client and Resources"
Could you please recommend some right place - where is it possible to populate `LastAccessed` property for Client and Resources?
I can't find any internal implementation.
Thanks!

[2018-12-01 13:08] brockallen commented on #2860
We don't set that ourselves, but your implementation could decide to use those from anywhere you deem appropriate.

[2018-12-01 14:44] brockallen commented on #2860
We deliberately did not add that. We designed IdentityServer (by default) to have read-only access to the configuration store. Someone else on the issue tracker asked for the LastAccessed properties so they could do it themselves. So it's there for you to do with however you want.

[2018-12-01 14:44] #2860 closed

[2018-12-01 17:20] sohahm commented on #2857
I had similar issue and resolved by using RequireSsl and PublicOrigin in IdentityServerOptions. I have listed relevant links below.

https://leastprivilege.com/2017/10/09/new-in-identityserver4-v2-simplified-configuration-behind-load-balancers-or-reverse-proxies/
https://identityserver.github.io/Documentation/docsv2/advanced/deployment.html
https://identityserver.github.io/Documentation/docsv2/con

[2018-12-02 13:05] jingliancui commented on #2823
@scottbrady91  hi , I had finished the sample here:
[IdSample.zip](https://github.com/IdentityServer/IdentityServer4/files/2636931/IdSample.zip)

1(option step)
setup your mysqldatabase and edit your dbconnection string in the appsetting.json

2(option step)
run app

3(require step)
click the break point at 104 line on the IdentityApiApplicationFactory.cs file which on the test project
click the b

[2018-12-02 14:39] ChristianPejrup commented on #2067
What about using Entity Framework DbContext Pooling ?
https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-2.0#dbcontext-pooling

**Benefit**

- It limits the active connections to the database (and can be ajusted default:128)
- It reuses connections which should make the initial connection process to the database faster
- It prevents TCP connection starvation

**Drawback**

- It does not

[2018-12-02 15:04] jingliancui opened #2861 "Integration test for micro service is not support"
sample code:
[IdSample.zip](https://github.com/IdentityServer/IdentityServer4/files/2637031/IdSample.zip)

Hi , I am now try use the new asp.net core [Integration test](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.1) feature with identity server 4.

two server test together simulated 2 micro service,one is mvc client,one is identity server:
[code]

and if y

[2018-12-02 15:06] jingliancui commented on #2311
Hi，I have start a new issue for the integration test feature [here](https://github.com/IdentityServer/IdentityServer4/issues/2861)

because I don't know this issue is about the integration test ,if yes ,please close #2861

[2018-12-02 15:14] jingliancui commented on #2823
And Now , I have to do this on test project

[code]

and this on the code project:
[code]

all above to go to next step work for this issue: #2861
but you know, we should not use the `Migrate()` and the `EnsureCreated()` together.
So, this is all information I know for you .hope above that are useful for you .

[2018-12-02 16:02] fuzzzerd commented on #2861
I also have a sample that reproduces this issue when Identity Server is hosted in the same project as the Web API: https://github.com/IdentityServer/IdentityServer4/issues/685#issuecomment-432389815

[2018-12-02 18:05] JanBN commented on #2623
I have the same problem. Any solution ?

[2018-12-02 21:18] JanBN commented on #860
@rmja How did you solve this ? What middleware. Don't get the link provided by @leastprivilege
Thank you

[2018-12-03 07:01] rmja commented on #860
I basically have the following before `UseIdentityServer()`:
[code]

[2018-12-03 10:38] HiwackVDP commented on #2751
Thanks, no problem, we've actually put this feature as a could for now as it's not a key one. Thanks for your support.

[2018-12-03 10:57] scottbrady91 commented on #2823
This works when just using `EnsureCreated`. This suggests that this is an issue with your app not being able to find your migration files and not with the use of SQLite in-memory.

[2018-12-03 12:06] scottbrady91 commented on #2831
I see two options. Let me know if you have a preference.

1. I look into why `InternalsVisibleTo` is needed, with the aim of removing it
2. I create a separate test project that only gets run in AppVeyor

[2018-12-03 14:19] alaeddineG commented on #2850
I believe you where talking about https://github.com/aspnet-contrib/AspNet.Hosting.Extensions
Thank you @brockallen

[2018-12-03 15:42] brockallen commented on #2848
It would be unexpected -- in the sense that the collections won't be null or empty.

[2018-12-03 15:42] #2850 closed

[2018-12-03 15:43] brockallen commented on #2751
Can we close, since this is RSK related?

[2018-12-03 15:48] scottbrady91 commented on #2848
In the sense that the database starts getting called again. Just thinking aloud. I'm not against this.

[2018-12-03 19:49] developermj opened #2863 "post_logout_redirect_uri not set in /Account/Logout action"
### Issue / Steps to reproduce the problem
Using reference token. Trying to set a post_logout_redirect_uri for a client supplied redirect after signing out. The client settings object does have the uri set on the identity server correctly. The logout uri is not being received on the identity server side when using the interaction service .GetLogoutContextAsync(logoutId) method. When using a standa

[2018-12-04 03:47] jingliancui commented on #2823
@scottbrady91
So , should I config the migrations file in the IdentityApiApplicationFactory ? or can you provide some suggestions for me ?

[2018-12-04 07:54] emonney commented on #2812
Also faceing same with AutoMapper 8.0.0:
`   at IdentityServer4.EntityFramework.Mappers.ClientMappers.ToEntity(Client model) in C:\local\identity\server4\EntityFramework.Storage\src\Mappers\ClientMappers.cs:line 39
`

TypeInitializationException: The type initializer for `'IdentityServer4.EntityFramework.Mappers.ClientMappers' threw an exception.
IdentityServer4.EntityFramework.Mappers.ClientMappe

[2018-12-04 09:13] scottbrady91 commented on #2823
That would be my first approach. Either way, this is an EF issue as opposed to IdentityServer. Might be a good one for Stack Overflow.

[2018-12-04 10:03] leastprivilege commented on #2863
I am not following. At logout time you have to present the id_token - id_tokens are always JWTs.

You might be confusing that with access tokens - which could be JWTs or reference tokens.

[2018-12-04 10:06] leastprivilege commented on #2846
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2018-12-04 10:06] #2847 closed

[2018-12-04 10:07] leastprivilege commented on #2858
Check the archives - this question has been answered before. You are missing a sub claim when signing in the user.

[2018-12-04 10:07] #2858 closed

[2018-12-04 10:09] leastprivilege commented on #2664
image is fixed

[2018-12-04 10:09] leastprivilege commented on #2664
any other feedback

[2018-12-04 10:11] #1904 closed

[2018-12-04 10:13] leastprivilege commented on #1969
We decided that we will not provide/maintain a UI based on ASP.NET Identity that supports the full account management lifecycle.

[2018-12-04 10:13] #1969 closed

[2018-12-04 10:13] leastprivilege commented on #1970
We decided that we will not provide/maintain a UI based on ASP.NET Identity that supports the full account management lifecycle.

[2018-12-04 10:13] #1970 closed

[2018-12-04 10:13] leastprivilege commented on #1971
We decided that we will not provide/maintain a UI based on ASP.NET Identity that supports the full account management lifecycle.

[2018-12-04 10:13] #1971 closed

[2018-12-04 10:15] leastprivilege commented on #2079
We cannot provide such samples. This would be a community/consulting effort

[2018-12-04 10:15] #2079 closed

[2018-12-04 10:17] leastprivilege commented on #2232
We cannot support/maintain UI/workflow samples - so will close this.

I hope I find the time to use @abergs lib - will link from the docs then.

[2018-12-04 10:17] #2232 closed

[2018-12-04 10:18] #2839 closed

[2018-12-04 10:18] #2837 closed

[2018-12-04 10:18] #2834 closed

[2018-12-04 10:18] #2352 closed

[2018-12-04 10:19] leastprivilege commented on #2625
done

[2018-12-04 10:19] #2625 closed

[2018-12-04 10:19] leastprivilege commented on #2659
done

[2018-12-04 10:19] #2659 closed

[2018-12-04 10:20] #2663 closed

[2018-12-04 10:21] leastprivilege commented on #2802
docs are being re-worked right now. And yes - PRs are welcome.

[2018-12-04 10:21] #2802 closed

[2018-12-04 10:21] leastprivilege commented on #2664
tracking in #2536

[2018-12-04 10:21] #2664 closed

[2018-12-04 10:31] leastprivilege commented on #2573
any update? @totalprogrammi

[2018-12-04 10:32] scottbrady91 commented on #2830
Reminder for me: https://github.com/IdentityServer/IdentityServer4/blob/master/src/Validation/Default/DefaultClientConfigurationValidator.cs

[2018-12-04 10:48] martincostello commented on #2311
So for `2.1.x`, I think this would be nice and easy to do by accepting an `HttpClient` as the type of the extensibility point on the options, rather than `HttpMessageHandler`, as that's what `IHttpClientFactory` provides as the output type for things that leverage the pooling/caching etc.

With `2.2.x`, no additional work is actually needed because of the addition of the new `IHttpMessageHandlerFa

[2018-12-04 13:10] leastprivilege commented on #2664
Everything is here
http://docs.identityserver.io/en/updatedqs/quickstarts/0_overview.html

this will replace latest - once @brockallen is done

[2018-12-04 14:11] sabbadino opened #2864 "disable requirement for client secret in Extension Grants"
I've implemented with success a custom Extension Grants that exchanges a "no context" token to a context specific token (a user may have roles in a "no context",  and other roles in a specific application context.. e.g. : in context1 the user is an admin and in context2 the user is a guest).

It works fine with an app that has a server counter part , so that it can provide a client secret, however

[2018-12-04 15:32] leastprivilege commented on #2864
Client secret requirements are configured per client - not per grant.

[2018-12-04 16:24] gilm0079 commented on #2855
@leastprivilege - from  your statement about about dependencies. Does that mean the IdentityServer4.AccessTokenValidation nuget only needs Framework 4.6.1 or higher?  When I try to install that package in my 4.6.1 project it wants to put around 20 aspnetcore related dependencies in as well.  Not sure if that is how it is supposed to work.  I'm not too clear on how the mixing of Framework and Core

[2018-12-04 16:30] leastprivilege commented on #2855
IdentityServer4.AccessTokenValidation is middleware for ASP.NET Core - are you using that?

[2018-12-04 16:41] developermj commented on #2863
To state it as a question: How do I get the post_logout_redirect_uri when doing a logout and using a reference token? I've walked through the quickstarts and stackoverflow questions. The stated method for getting the post_logout_redirect_uri while using JWT tokens does not appear to work with reference tokens.

[2018-12-04 16:41] milosloub commented on #2812
Strange - I had the same problem. Now I tried to update to v2.3.2 and everything works as expected.

[2018-12-04 16:44] sabbadino commented on #2864
Hi, I guess you are talking about the RequireClientSecret setting ..
I had not seen this setting , I tried it and it works as expected.
Thank you

[2018-12-04 17:09] leastprivilege commented on #2863
Again - reference tokens is a red herring here. They are not used for logout. Check the spec.

[2018-12-04 17:40] developermj commented on #2863
For a client side application, how does one get the id_token to initiate the logout when using a reference token? Is there a sample or some guidance on how to initiate a client side logout with the post_logout_redirect_uri for a reference token? To be more clear: The logout works fine even when using a reference token. The problem is that the id_token_hint is null because there isn't an id_token o

[2018-12-04 17:43] martinfletcher commented on #2366
@bkb503 yeah got a partial solution, but the project requirements changed and we moved to use azure b2c once they had the generic third party oidc in preview.

I still want to get the partial prototype up on github as reference when I have the time.

[2018-12-04 17:44] gilm0079 commented on #2855
No. My project is .NET Framework 4.6.1 not AspNetCore.  I was confused by your statement above that IdentityServer4 could target AspNetCore 2.x or Framework 4.6.1.

We use IdentityServer4 as a separate site to run the IDP.  This client app is Framework 4.6.1 (not core) and we have been using IdentityServer3.AccessTokenValidation in it.  I was just hoping there was a newer package we could use in a

[2018-12-04 17:48] leastprivilege commented on #2855
I know it is confusing - but

* IdentityServer4 (and all the satellite packages) require ASP.NET Core 2.1.
* ASP.NET Core 2.1 runs on both .NET Core 2.1 and .NET Framework 4.6.1 and higher

[2018-12-04 17:49] leastprivilege commented on #2863
use a `response_type` of `id_token token`

[2018-12-04 17:51] gilm0079 commented on #2855
ok. I understand what you were saying.  We are running ASP.NET (not core) with Framework 4.6.1 so it is not compatible with IdentityServer4 packages.

Is IdentityServer3.AccessTokenValidation still the nuget package to use in a ASP.NET (not core) application?

Would it be possible to get a new nuget version published that is allowed to reference higher dependent versions?  I think this package ref

[2018-12-04 18:00] BKB503 commented on #2366
@martinfletcher  thanks for your reply, I have been looked at Azure B2C but openid provider is still in preview and i'm looking other alternative like wise I also looked AWS Cognito but no support for refresh token and angular js..

[2018-12-04 18:56] developermj commented on #2863
I forked the IdentityServer4.Samples repo and tried what you indicated. It does work as expected. Issue must be on my implementation of identity server 4. I'm closing the issue. Thanks for you help :)

[2018-12-04 18:56] #2863 closed

[2018-12-04 22:57] rbanks54 commented on #2731
Now that the stable .NET Core 2.2.0 release is out, I've just retested it. Everything seems to be working as expected.

Closing this issue to save you the hassle 🙂

[2018-12-04 22:57] #2731 closed

[2018-12-05 08:10] leastprivilege commented on #2855
IdentityServer3.AccessTokenValidation is targeting Katana 3.x - so this is still the right package.

We also stopped supporting all IdentityServer3 packages - if you want us to do any work on that, that would be part of a support contract. If you want to maintain it yourself, feel free to clone the repo.

[2018-12-05 09:32] StevenLiekens commented on #2845
This just bit me too. Please don't publish minor versions that require manual intervention when updating. @scottbrady91

[2018-12-05 11:55] fabich commented on #2845
@StevenLiekens my point exactly.

[2018-12-05 12:33] liugt34 opened #2865 "Invalid redirect_uri but all client and server are config"
i have met an error,  in the developement ,i used ip and port line http://172.16.4.36:4201

the client send the request is
![image](https://user-images.githubusercontent.com/8056013/49513685-c8c26500-f8cc-11e8-9066-abd245922541.png)

and the server has the logs
![image](https://user-images.githubusercontent.com/8056013/49513731-e8598d80-f8cc-11e8-8c33-65b2d58bbb7e.png)

![image](https://user-image

[2018-12-05 13:09] leastprivilege commented on #2865
That's not a bug - you have a typo..

silent vs slient

[2018-12-05 13:09] #2865 closed

[2018-12-05 13:12] liugt34 commented on #2865
thank u very much ,it's a very stupid mistake.

[2018-12-05 13:19] leastprivilege commented on #2845
That's how EF works. We won't do a new major release just because we are adding a field or table.

[2018-12-05 13:19] #2845 closed

[2018-12-05 13:32] leastprivilege commented on #2845
But what we will do in the future is to add a remark to the release notes if EF requires a new migration.

[2018-12-05 13:34] StevenLiekens commented on #2845
Then also make it clear you don't follow semver all the way. Sorry for being brutal but you're breaking people's expectations by following your own versioning scheme.

[2018-12-05 13:36] mantasaudickas commented on #2669
Sorry, but these changes should not be made with patch version change as it breaks clients:

[code]

Using "oidc-client": "1.5.0".

[2018-12-05 13:41] ahmettahasakar opened #2866 "options.UserInteraction.LoginUrl is not respected anymore"
I just updated from 2.2.0 to 2.3.2. I had the following set al along, and it used to be working.
`options.UserInteraction.LoginUrl = "/Login";`
However, after the upgrade, it doesn't work anymore. It redirects to default login url ("/Account/Login")

With the new version is something changed?

[2018-12-05 13:58] leastprivilege commented on #2866
We'll look into it.

[2018-12-05 13:59] leastprivilege commented on #2845
The we need to agree to disagree.

[2018-12-05 14:00] leastprivilege commented on #2669
please open a new issue.

[2018-12-05 14:14] mantasaudickas commented on #2669
I guess there is no need for a new issue, as change had to be done here, and oidc client also has already a fix for this.. just I wanted to complain about semantic versioning.. :)
For us such change means that we have to communicate across all departments to upgrade their clients and only then update IdentityServer packages.
I was not expecting breaking change with patch (2.3.X) version increment.

[2018-12-05 14:31] leastprivilege commented on #2669
me neither

[2018-12-05 15:32] leastprivilege commented on #2822
I don't follow. The version gets put into the log files and the **sample** UI.

[2018-12-05 15:44] VictorioBerra commented on #2822
@leastprivilege

Gotcha, I don't see the version in the Quickstarts which is good.

I will say though, I frequently look at the commits to IS4, especially stuff in Host to see if there are improvements or fixes i should be making to my own host. I think there are others out there like me and some people might add a version to their UI which might not be the best security practice. I don't know if

[2018-12-05 17:03] nepeta70 opened #2869 "Error after upgrading from IdentityServer4 2.2.0 to 2.3.2"
I have application that used the nuget packages IdentityServer4 2.2.0, IdentityServer4.AccessTokenValidation 2.6.0 and IdentityServer4.EntityFramework 2.1.1, thay also used automapper 7.0.1. I updated them to IdentityServer4 2.3.2, IdentityServer4.AccessTokenValidation 2.7.0 and IdentityServer4.EntityFramework 2.3.2, thay also used automapper 8.0.0 and got this error
HttpRequestException: Response

[2018-12-05 17:10] nepeta70 commented on #2869
I also tried to upgrade some old tutorial projects from 2.2.0 to 2.3.2 and I get the same Unable to retrieve document from: 'http://localhost:5000/.well-known/openid-configuration'.

Is there anything else I have to change in the projects apart from upgrading the nuget packages in order to make them work?

[2018-12-05 18:34] leastprivilege commented on #2831
Yep

———
Dominick

On 5. December 2018 at 17:27:20, Scott Brady (notifications@github.com)
wrote:

[2018-12-05 18:36] brockallen commented on #2812
If you updated the .Storage nuget it would work. Since most people won't know to do that, we updated the EF nuget to pull in the latest patch of .Storage.

[2018-12-05 18:38] brockallen commented on #2848
Yea, I'm not against it either. Just thinking of side effects.

[2018-12-05 18:39] #2823 closed

[2018-12-05 18:40] brockallen commented on #2869
Check your identity server logs

[2018-12-05 19:20] ravero commented on #2845
It took me a long time to realize the new version issue.
How do you create a migration for a third party library?

[2018-12-05 20:17] ahmadakra commented on #2833
They didn't ship that feature after all :/

[2018-12-05 22:06] brockallen commented on #2845
http://docs.identityserver.io/en/latest/reference/ef.html#database-creation-and-schema-changes-across-different-versions-of-identityserver

[2018-12-05 22:10] brockallen commented on #2833
It will be included in an out-of-band release after 2.2 (along with the updates to VS for the templates) // @blowdart

[2018-12-06 02:50] marufbd opened #2870 "Device flow does not work in web farm deployment with PersistentGrantStore"
Identity Server4 version: 2.3.0

I am using persisted grant store with database backend and common signing credentials in my identity server application. Its running in kubernetes with two container load balanced. Oauth flow with browser app works even if token issued by one and refreshed by other.

Now with device flow, after getting the /deviceauthorize on first container, it fails when the repe

[2018-12-06 02:57] granthoff1107 opened #2871 "ConfigurationDbContext is Disposed"
ConfigurationDbContext is disposed before the token is generated. When using IdentityServerTools.
I've tried this both with manually adding the ConfigurationDbContext and with relying on the configuration from the Configuration store

            //I've also tried without this line
            services.AddDbContext<ConfigurationDbContext>(options
                => options.UseSqlServer(connectionS

[2018-12-06 07:50] Ponant commented on #2536
How do you want the feeback? It seems you accept PR only for the dev branch.

[2018-12-06 08:08] scottbrady91 commented on #2870
Do you know what your registration of `IDeviceFlowStore` is?

[2018-12-06 08:21] leastprivilege commented on #2536
You can either just write your feedback here - or click the "edit on github" button on the doc page.

[2018-12-06 09:45] #2830 closed

[2018-12-06 09:51] leastprivilege commented on #2311
I think I will change the handler to use this pattern:

https://github.com/aspnet/aspnetcore/blob/master/src/Security/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectPostConfigureOptions.cs#L63-L69

Out of curiosity - from where are you calling the code from your last comment? In a PostConfigure?

[2018-12-06 11:02] scottbrady91 commented on #2870
Could you check what `IDeviceFlowStore` is resolving to in your implementation?

Calling `AddOperationalStore` should register an EF version of `IDeviceFlowStore`; however, I think this registration was missing from the 2.3.0 release of the IdentityServer4.EntityFramework library. What version of the EF library are you using?

[2018-12-06 12:51] PresidentCamacho opened #2872 "PersistedGrant's Key makes it hard to create foreign key in EF"
Hi,

 I'm trying to add my own EF migration that creates a new table with a FK to the `PersistedGrant` table. But since `PersistedGrant` is using a non code-first convention primary key my EF migration doesn't seem to understand what in the `PersistedGrant` is the primary key.

`The entity type 'PersistedGrant' requires a primary key to be defined.`

Is there a reason why Key is used instead of: `

[2018-12-06 12:54] u-foka opened #2873 "Firefox back navigation error after authorize"
### Issue / Steps to reproduce the problem

- Start with the sample 6_AspNetIdentity
- Set RequireConsent to false in Config.cs:69 of IdentityServerWithAppNetIdentity project
- Start identity and mvc client
- Navigate to localhost:5002
- Navigate to the "Secure" link
- Log in as alice or bob
- After the secure page is displayed hit back in the browser

An 500 error page is returned with title "An

[2018-12-06 13:14] u-foka commented on #2873
Additional information: https://pomcor.com/2018/05/16/a-bypass-of-the-firefox-post-redirection-bug/

[2018-12-06 13:22] leastprivilege commented on #2870
I think we need an `AddDeviceStore` extensions method - like we have for client and resource stores as well?!

[2018-12-06 16:21] brockallen commented on #2873
That's in your client app, and not in IdentityServer. Just handle the error event in the OIDC handler. Having said that:

This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-12-06 16:21] #2873 closed

[2018-12-06 16:34] brockallen opened #2875 "code flow with fragment response mode is not allowed"

[2018-12-06 16:50] granthoff1107 commented on #2871
I think the error was slightly different when it occurred on the last line,
something about accessing the provider.

Do you know of a way I can access the clients without manually injecting
the database, I feel like there’s something built into identity server but
I could be wrong

On Thu, Dec 6, 2018 at 3:26 AM Dominick Baier <notifications@github.com>
wrote:

[2018-12-06 18:48] fuzzzerd commented on #2861
@leastprivilege I was not aware of that; however, I'm not sure if the issue I'm having is the same as this one and/or the one solved by https://github.com/devdigital/IdentityServer4TestServer.

I can't tell if I'm doing something incorrectly with my IdentityServer4 setup/config or if what I'm trying to do simply isn't possible with IdentityServer4 as it is today. I will try to produce a sample tha

[2018-12-06 18:49] leastprivilege commented on #2871
As a side note - you don't need to use a "real client" - this helper will simply create a token based on the values you pass in.

[2018-12-06 21:04] zoinkydoink opened #2876 "IdentityServer4.AspnetIdentity 2.3 not compatible with ASP.NET Core 2.2 project"
### Issue / Steps to reproduce the problem
1. Create an ASP.NET Core 2.2 MVC app, select individual account for security (https checkbox is checked and cannot be changed)

2. Add nuget package IdentityServer4.AspnetIdentity 2.3 to the project

3. get the following error

Severity	Code	Description	Project	File	Line	Suppression State
Error		This version of Microsoft.AspNetCore.App is only compatible

[2018-12-06 22:31] fuzzzerd opened #2877 "Compatibility with Microsoft.AspNetCore.TestHost"
**Is your feature request related to a problem? Please describe.**
When integration testing an IdentityServer+API project, with Client Credentials an error occurs. I have published a sample here on Github: https://github.com/fuzzzerd/IdentityServerAndApi/blob/master/IntegrationTest/UnitTest1.cs

Following the stack trace below, it seems to fail at JwtBearerHandler, I think this is because its newi

[2018-12-06 23:31] tusharparashar1 commented on #2812
Any solution to this problem?
I have "IdentityServer4.EntityFramework" v2.1.1 installed with Automapper 8.0.0 inside it.
Even the lowest version of ID4.EF has AutoMapper v8.0.0

[2018-12-07 01:30] jingliancui commented on #2861
@leastprivilege
Hi ,The IdentityServer with the asp.net identity feature, so it's contain the customer code for oidc login、register atc.Then I want test the Login、register atc.

[2018-12-07 01:38] granthoff1107 commented on #2871
Thanks, that resolves the issue

[2018-12-07 01:38] #2871 closed

[2018-12-07 06:08] leastprivilege commented on #2861
Checkout our integration tests - they do things like that. I believe the above mentioned test framework might streamline those things, but I never tried it.

[2018-12-07 06:10] leastprivilege commented on #2812
We updated to AutoMapper starting 2.3.2

[2018-12-07 06:18] leastprivilege commented on #2877
JwtBearer has a BackChannelHandler property. Set this to the handler that you get from the test host.

[2018-12-07 07:13] wlnh420 opened #2878 "how to get id_token(SSO) ?"
I create a mvc project(.net core mvc)  and connect to id3(.net framework)
1.  I want to get id_token in mvc project,how i get it?
2.  how to logout via post method?

[2018-12-07 07:39] leastprivilege commented on #2878
This seems to be a general question about IdentityServer - not a bug report or a feature request.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-12-07 07:39] #2878 closed

[2018-12-07 07:44] totalprogrammi commented on #2573
Sorry, for now i have no time, maybe at January.

[2018-12-07 08:41] Activesite commented on #2623
is there any solution so far ?

i got the same issue

[2018-12-07 09:15] daver77 opened #2879 "Breaking change in IdentityServer4.EntityFramework?"
I've just updated

    <PackageReference Include="IdentityServer4.AspNetIdentity" Version="2.1.0" />
    <PackageReference Include="IdentityServer4.EntityFramework" Version="2.1.1" />

to

    <PackageReference Include="IdentityServer4.AspNetIdentity" Version="2.3.0" />
    <PackageReference Include="IdentityServer4.EntityFramework" Version="2.3.2" />

and I now get an error accessing .well-known/

[2018-12-07 09:49] leastprivilege commented on #2879
You have to run EF migrations.

[2018-12-07 10:15] scottbrady91 commented on #2870
Added in #2880.

@marufbd any update on EF version and what your `IDeviceFlowStore` dependency is currently resolving as?

[2018-12-07 11:17] daver77 commented on #2879
Like this? It says my db is up to date

![image](https://user-images.githubusercontent.com/2369739/49644844-a8e88980-fa11-11e8-9913-a1b7faa2691c.png)

[2018-12-07 12:11] marufbd commented on #2870
@scottbrady91 `IDeviceFlowStore` resolves to `Identityserver4.Stores.InMemoryDeviceFlowStore`.
And I am not using EF or aspnet identity in my project.
I implemented the following stores backed with mongodb:
`IXmlRepository`
`IPersistedGrantStore`

I am now implementing IDeviceFlowStore quickly.
Will let you know if it works in my load-balanced container deployment.

[2018-12-07 12:37] drowhunter commented on #2120
how to deal with tenantid on the id server side?

[2018-12-07 13:36] marufbd commented on #2870
Ok, implementing IDeviceflowStore with a persistent backend and registering it in services made device flow work for web farm scenario.thanks @scottbrady91

[2018-12-07 14:50] u-foka commented on #2873
Hy there, first of all thanks for the quick reply :)

You're right that the exception is happening in the client application, but please also consider that the /connect/authorize/callback "page" showing up in the browser's history is IMO not the intended behavior as it's just a special redirect. For example in chrome it works perfect and goes back directly to the login page that the user expects.

[2018-12-07 23:12] cloudybrain commented on #2598
I'm having the same problem.. I enter in my url in the following format in production:

   https://www.abc.com

but it redirects to the identityserver4 with the following message:

   unauthorized client

With the following error message:

fail: IdentityServer4.Validation.AuthorizeRequestValidator[0]
      Invalid redirect_uri: http://www.abc.com/connect{
        "ClientId": "client_stuff",

[2018-12-08 13:26] wlnh420 opened #2882 "there is an bug:ERROR [35]: Invalid post logout URI"
the id4 is not redirect http://localhost:5000/signout-callback-oidc.

auth:idsrv:admin 2018-12-08 21:18:27.6169 - ERROR [35]: Invalid post logout URI
{
  "ClientId": "NetCoreMvcWeb",
  "ClientName": "NetCoreMvcWeb",
  "SubjectId": "10000",
  "PostLogOutUri": "http://localhost:5000/signout-callback-oidc",
  "Raw": {
    "post_logout_redirect_uri": "http://localhost:5000/signout-callback-oidc",

[2018-12-08 16:57] brockallen commented on #2873
Ok, interesting -- I'll have a look. Thanks.

[2018-12-08 19:39] i8beef opened #2883 "Refresh token expiration"
Ok, I'm sure I am doing something wrong here setup-wise... Use case is a persistent connection that needs to live indefinitely. Everything works, and I see refresh tokens working for some amount of time, but eventually I see something like this and have to relink an account:

2018-12-08 13:17:32.287 -05:00 [Warning] Failed to find token with key "REDACTED"
2018-12-08 13:17:32.287 -05:00 [Error] In

[2018-12-09 01:13] granthoff1107 opened #2884 "Generate a token with claims from IdentityServerTools"
I'm generating a tokens so IdentityServer has Access to my API

    private async Task<string> CreatePaymentsTokenAsync()
    {
        var tokenLifeTime = 3600;
        var scopes = new[] { CoinbaseAuthConsts.PaymentScope };
        // Use in-built Identity Server tools to issue JWT
        var token = await _identityServerTools.IssueClientJwtAsync(CoinbaseAuthConsts.AuthorityClientId,

[2018-12-09 01:42] granthoff1107 commented on #2884
I see you can do this by using IssueJwtAsync instead thanks

[2018-12-09 22:05] granthoff1107 commented on #2884
Thanks, the issue is getting GetIdentityServerIssuerUriSince the context is internal
Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Dominick Baier <notifications@github.com> Date: 12/9/18  6:29 AM  (GMT-05:00) To: IdentityServer/IdentityServer4 <IdentityServer4@noreply.github.com> Cc: granthoff1107 <granthoff1107@gmail.com>, State change <state_change@noreply.githu

[2018-12-09 23:23] iamwyza opened #2885 "TokenClient Obsolete, Documentation Wrong"
### Issue / Steps to reproduce the problem
In a more recent release, TokenClient was marked as obsolete.  However the documentation still instructs you to use it: http://docs.identityserver.io/en/latest/quickstarts/1_client_credentials.html?highlight=HttpClient#creating-the-client.

The documentation should be updated to reflect whatever it is you're supposed to do now.  I'd do a PR for that, exce

[2018-12-10 01:07] brockallen commented on #2885
We're in the middle of updating our docs, so this will be changed.updated.

[2018-12-10 01:20] wlnh420 opened #2886 "http://localhost/signin-oidc error"
**when i goto url: http://localhost/signin-oidc

there is error**

An unhandled exception occurred while processing the request.
Exception: Correlation failed.
Unknown location

Exception: An error was encountered while handling the remote login.
Microsoft.AspNetCore.Authentication.RemoteAuthenticationHandler<TOptions>.HandleRequestAsync()

Stack Query Cookies Headers
Exception: Correlation failed

[2018-12-10 01:31] brockallen commented on #2886
Not enough info

[2018-12-10 01:33] brockallen commented on #2882
Not enough info

[2018-12-10 01:34] brockallen commented on #2876
We did update our host to 2,2 and it's working. I'll see if I can find time to follow your steps.

[2018-12-10 01:38] wlnh420 commented on #2886
here is the startup.cs
public class Startup
    {
        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { get; }

        // This method gets called by the runtime. Use this method to add services to the container.
        public void ConfigureServices(IServiceCollection services)
        {

[2018-12-10 07:06] leastprivilege commented on #2885
a) the obsolete message has a link to updated IdentityModel docs
b) you can see a beta version of the new Quickstarts here: http://docs.identityserver.io/en/updatedqs/quickstarts/0_overview.html

[2018-12-10 07:06] #2885 closed

[2018-12-10 08:18] Vithozor commented on #2598
That didn't work for me, but I was able to make it work by httpd configuration, Following the instructions [here](https://docs.microsoft.com/en-Us/aspnet/core/host-and-deploy/linux-apache?view=aspnetcore-2.1#ssl-configuration), you will end up with some .conf files for your applications. It's mandatory that you add this to the 443 port VirtualHost:

[code]
Also, your application must be listening

[2018-12-10 09:00] daver77 commented on #2879
That just creates CreateTable methods. Is there a sql script somewhere that I can just run to update my db to the 2.3 version

![capture](https://user-images.githubusercontent.com/2369739/49721403-08d17100-fc5a-11e8-9b92-dcd8f9145734.JPG)

[2018-12-10 09:05] daver77 commented on #2869
You're getting the same error as me, db needs updating

https://github.com/IdentityServer/IdentityServer4/issues/2879

[2018-12-10 10:37] nepeta70 commented on #2869
I got the db error
Error Number:207,State:1,Class:16
2018-12-05 17:59:18.049 +01:00 [INF] {"Details":"System.Data.SqlClient.SqlException (0x80131904): Invalid column name 'Created'.\r\nInvalid column name 'NonEditable'.\r\nInvalid column name 'Updated'.\r\n   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)\r\n   at System.

[2018-12-10 10:42] nepeta70 commented on #2879
I also need a SQL script, because the project I'm working in is DB first and I have to send the script to the DBA.

[2018-12-10 12:06] wlnh420 opened #2887 "everytime i signin ,it'will send redirect_uri=http://****/signin-oidc,but i want send redirect_uri=http://****/otherpage"
everytime i signin ,it'will  send   redirect_uri=http://****/signin-oidc,
but i want send   redirect_uri=http://****/otherpage

how i setting???????

[2018-12-10 12:31] brockallen commented on #2887
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-12-10 12:31] #2887 closed

[2018-12-10 12:34] brockallen commented on #2879
We don't have that because we don't know what version you're coming from and we don't maintain a matrix of upgrade scripts for all databases.

[2018-12-10 16:00] iamwyza commented on #2885
a) The link just points you at http://docs.identityserver.io.  I'd hardly say that's a useful link.  It's just 1 step above a link to google.com.
b) This helps, thanks.

[2018-12-10 18:01] sophisma opened #2888 "Possible issue with Access Tokens"
Hi, I'm relatively new to Identity Server 4 but I've noticed something odd when going through the quickstart tutorials.
I've created a service with IdentityServer4, an API and an MVC client that accesses that API.
The client was configured the following way:

[code]

In my MVC Client I have a controller with two actions, one that accesses the API using the TokenClient class and another one that us

[2018-12-10 18:43] leastprivilege commented on #2885
No - obsolete link points to the IdentityModel docs

[2018-12-10 18:46] leastprivilege commented on #2888
Is this intended?
https://github.com/sophisma/IdentityServerTutorial/blob/master/IdentityServerTutorialAPI/Controllers/IdentityController.cs#L11

[2018-12-10 18:52] iamwyza commented on #2885
Apologies, I did not realize the 2 were separate projects.

[2018-12-10 18:53] sophisma commented on #2888
Thank you for answering.
Yes, I commented the Authorized attribute because I wanted to check only the client access part, independently of the user being logged in or not.
Of course the result will be empty as there is no User.
With TokenClient it validates the "api" scope with HttpContext it doesn't.
Sorry if I'm making very basic questions but this is new to me.

[2018-12-10 19:03] samanevrc commented on #1908
@joaocolombo  hi, i appreciate your sample. i have the problem same as you had, i run your sample with both solution ApiIdentity and ApiIdentityNetFramework but none of them is authorized by ids4. in ApiIdentity i get HTTP ERROR 401 and in ApiIdentityNetFramework   i get Authorization has been denied for this request, my main problem is authorize .net framework app by ids4. but none of samples wor

[2018-12-10 19:15] JackRus commented on #576
Simplified @MovGP0 answer:

[code]

[2018-12-10 19:25] joaocolombo commented on #1908
@samanevrc of course, normally(in this sample) this problem is about line [18](https://github.com/joaocolombo/IS4/blob/master/ApiIdentity/ApiIdentityNetFramework/Startup.cs#L18) on .net framework or line [34](https://github.com/joaocolombo/IS4/blob/master/ApiIdentity/ApiIdentity/Startup.cs#L34) on core in sturtup file, be sure you redirect to you is4 provider. Case the problem is different, let me

[2018-12-10 19:32] kkilton commented on #1908
@samanevrc I found that I I had some attributes in the wrong order, the order does matter! Make sure the auth filter is before the authorize...
`[JWTAuthenticationFilter]
    [Authorize]`
I also copied the IdentityServerClient Core code from GitHub and compiled it into .NET Framework and my life got a whole lot easier. Thank you open source .NET!

[2018-12-10 23:16] chazt3n commented on #992
This is so weird, I have the example and I can see the n.ProtocolMessage.PostLogoutRedirectUri is set appropriately, however it's null in IDS

 return Redirect(logoutRequest.PostLogoutRedirectUri);

how can I go about troubleshooting this? Very weird :/

logs just say that param can't be null, which I think we all agree with :)

[2018-12-11 00:27] amiteshs opened #2889 "Get client details when showing consent screen"
Hi
We redirect users to our web application for login and consent. I have this part working but I need to show the client details who is requesting permission. How can I pass to our web app the clientId or some other detail that I can use to retrieve the client name to show to the user.

Code below shows the config I have which works fine:
`.AddIdentityServer(options =>
                {

[2018-12-11 04:40] samanevrc commented on #1908
@joaocolombo Thank you for answering.i have changed the Authority  address to my ids4 address, but it does not work, i really thankful if you give your email to help me

[2018-12-11 04:42] samanevrc commented on #1908
@kkilton thanks for your attention, i'll try your solution

[2018-12-11 06:43] leastprivilege commented on #2888
I can't follow - sorry. I would recommend you have a look at the tokens you are getting with e.g. https://jwt.io

If it contains an audience of api1 - you will get access to the API - if not - not. Of course this is only enforced when the Authorize attribute is present.

That said

This seems to be a general question about IdentityServer - not a bug report or a feature request.

Please use one of

[2018-12-11 06:43] #2888 closed

[2018-12-11 06:57] leastprivilege commented on #2879
Do we have instructions somewhere - preferably in our docs that show how to create sql scripts and diff scripts?

[2018-12-11 07:24] aquilares opened #2890 "Support for Java Spring boot/security"
I was wondering: does identity server also integrate with e.g. java spring boot applications?
Including the webhooks/redirects for login, password reset, registration, ...?

Or is this solution only compatible with .net (core) applications?
I'm looking for an alternative to Keycloak and was wondering if identityserver could cover my needs :)

[2018-12-11 07:48] samanevrc commented on #1908
@joaocolombo @kkilton i can solve it, i use OpenIdConnectAuthentication and it works
thanks again

[2018-12-11 07:59] leastprivilege commented on #2890
IdentityServer is an OpenID Connect/OAuth framework. You can integrate anything that is compatible with these protocols.

[2018-12-11 07:59] leastprivilege commented on #2890
That said - anything that is outside of these protocols (like login UI or user management) is not part of IdentityServer - so you have to implement it yourself and thus can make it compatible with whatever you want.

[2018-12-11 08:07] aquilares commented on #2890
Thanks for the reply @leastprivilege

When reading this: [https://identityserver4.readthedocs.io/en/latest/quickstarts/3_interactive_login.html](url) => am I wrong in assuming that, if I e.g. create a separate .net core project with identity server, drop in these UI-components and run it in a separate docker container, that I could get identity server to offer these user management/login GUI compo

[2018-12-11 08:22] leastprivilege commented on #2890
Yes of course.

[2018-12-11 08:26] cdie opened #2891 "Unable to create EF Core migrations"
### Issue / Steps to reproduce the problem
Follow the tutorial to create IS4 from your documentation. When trying to create migration with command `dotnet ef migrations add InitialIdentityServerConfigurationDbMigration -c ConfigurationDbContext -o Data/Migrations/IdentityServer/ConfigurationDb`

The Following error appears
`Your target project 'HTS_Identity.Web' doesn't match your migrations assem

[2018-12-11 11:32] nepeta70 commented on #2879
I generated the db using the add-migration and then generated the scripts for creating the db using SQL tools. But because this project I'm working in is a project where the database is created and maintained by a DBA I think I'll define my clients using the custom client store or import them from a json file.

[2018-12-11 11:57] VasylSenko commented on #2366
@martinfletcher, I am also interested in your dynamic schemes sample. Please share it, even if is raw, when you have time.

[2018-12-11 12:20] ChrisSwinchatt opened #2892 "Give informative and specific error messages in responses"
**Is your feature request related to a problem? Please describe.**

IdentityServer tends to return undescriptive, imprecise and seemingly arbitrary error messages in its error responses. For example, I have a user account which is disabled, yet when trying to authenticate it, the response is 400 Bad Request and the error message is "invalid_grant". This is completely wrong: the grant type was vali

[2018-12-11 12:57] tungsnguyen opened #2893 "Make ProtectedDataMessageStore public"
**Is your feature request related to a problem? Please describe.**
I am implementing federated single logout with SAML and IdentityServer4. When triggering logout on SAML Idp, IS4 loses information about logged in clients (SignOutIframeUrls is cleared) when SAML Idp redirects to IS4 Idp. I checked and found out that SAML creates a new logout message which replaces old one.

**Describe the solution

[2018-12-11 13:07] daver77 commented on #2879
How are we supposed to upgrade then if EF Migrations does not work and you don't provide upgrade scripts. Surely you've documented the changes somewhere so we can manually add them?

[2018-12-11 13:11] leastprivilege commented on #2879
EF can generate diff scripts for your specific database back-end.

[2018-12-11 13:36] fadouaDestin commented on #1087
Hi, I have created an app at Facebook developer and configured that with my Identityserver application URL. Identityserver4 application is built in asp.net core When user enter the website and connected using her Facebook my app created under Facebook developer ask him the permission to allow the app to receive her information like email adress age ... . when user cancelled the permission he is re

[2018-12-11 13:38] ChrisSwinchatt commented on #2892
@leastprivilege

Thanks for getting back.

Can you give me an idea of what you mean by "various extensibility points"?

As for leaking information, I understand the concern and that it's difficult to strike a balance, but in the case I'm talking about, the username and password would have been verified already.

[2018-12-11 14:16] Mataru commented on #1863
Do I understand correctly from this thread that it is **not** possible to give a single client access to different scopes or resources based on which client secret is used? Will I have to define a new client if I want to be able to access a different set scopes/resources?

[2018-12-11 14:22] leastprivilege commented on #2892
IIRC the resource owner validator and als the custom token request validator all support setting error responses and even additional response fields.

[2018-12-11 15:32] andrx opened #2894 "Add more control over Response."
**Is your feature request related to a problem? Please describe.**
Recently i had to add support for [Google assistant's "OAuth and Google Sign-In + Authorization code" account linking](https://developers.google.com/actions/identity/google-sign-in-oauth?creation=yes&oauth=code). Adding `IExtensionGrantValidator` that supports `"urn:ietf:params:oauth:grant-type:jwt-bearer"` grant was easy but going

[2018-12-11 15:37] sophisma commented on #2888
Sorry, I got this wrong.
Somehow I thought that the IdentityServer middleware was responsible for allowing/dening access to the clients and the Authorize attribute just authorized the Users.

[2018-12-12 04:17] toddtsic opened #2895 "User Claims, where stored and must be fields in dbo.AspNetUsers?"
Trying to come up to speed with IS4.

Using Asp.Net Core Identity

Trying to add custom claim (happens to be a property that is NOT a member of ApplicationUser).

By behavior I'm inferring that a custom claim can only be an existing property of the ApplicationUser, is this correct?

Also I can't seem to find where claims are stored (coming from OpenIdDict where were stored in dbo.AspNetUserClaims.

[2018-12-12 04:48] i8beef commented on #2883
So if I'm reading the docs right, is the DEFAULT a SLIDING refresh token (RefreshTokenExpiration = TokenExpiration.Sliding) that gets REUSED (RefreshTokenUsage = TokenUsage.ReUse) with a refresh token lifetime of 15 days (SlidingRefreshTokenLifetime)?

If so, does AbsoluteRefreshTokenLifetime's default of 30 days mean that if you login one Jan 1st, and continue to use refresh tokens staying logged

[2018-12-12 10:47] RomainWilbert opened #2896 "Claims not updated on introspection call with reference token"
Hi,

After investigating, I realized that claims are not updated on introspection call with reference token : they are persisted along with the token at the time it is generated.

This behavior is wrong as client can't be notified if user claims are updated unless doing refresh token.

Any hints ?
Thanks

[2018-12-12 15:25] leastprivilege opened #2897 "Consider azp instead of client_id"

[2018-12-12 17:17] TomCJones commented on #2897
this intrigues me.  In Kantara we are considering a identifier to be a url that points to an identity statement. If you are thinking of using the azp to point to an identity we would like to see if what it points to is an identity statement.  see https://tcwiki.azurewebsites.net/index.php?title=Trusted_Identifier

[2018-12-12 18:04] brockallen commented on #2897
No, we're simply considering using the azp to hold the client's identifier in the same way we use client_id today. So it's just a name change, mainly since it's described in the OIDC spec for that purpose (at least in id_token validation).

[2018-12-12 18:55] brockallen opened #2898 "Allow fragment response_mode for code flow"

[2018-12-12 19:17] srikanthreddy48 opened #2899 "I don't see password grant flow in my Discovery document."
I don't see Password grant flow listed in my discovery document under grant_types_supported. I am able to see only

grant_types_supported: [
"authorization_code",
"client_credentials",
"refresh_token"
"implicit",
]

And implemented a client to use password grant flow but not able to get the Access_Token. This is what my logs show : Resource owner password credential grant type not supported

Pleas

[2018-12-12 20:34] srikanthreddy48 commented on #2899
Got It , had to implement  IResourceOwnerPasswordValidator in IdentityServer. and it worked !!

[2018-12-12 20:34] #2899 closed

[2018-12-12 22:40] TomCJones commented on #2897
there was a great thread on this in the fapi branch - but I can't find it now. As I recall the purpose of the azp is security assurance. But there is no prohibition concerning your use.

[2018-12-13 05:15] SathishManokar commented on #1116
I had this issue, after importing the certificate into trusted root certificate place issue got resolved.

[2018-12-13 16:03] zebarg commented on #2366
@martinfletcher Same comment as @VasylSenko - Would appreciate sharing where you left off. Doesn't need to work 100%. Just curious the path you were on. I'm just starting the same project.

[2018-12-13 18:36] wangpengxpy commented on #2028
@kamikyo it can't redirect to login page by your link,   How do you solve the problem please?

[2018-12-14 08:07] mengzy2018 commented on #2886
**I have the same problem as you. Recently I have been trying to find the answer, but I have not solved it!**

[2018-12-14 12:41] eestein opened #2900 "logoutId always null (user marked as not active)"
I've posted this as a SO question (https://stackoverflow.com/questions/53780000/identityserver-logoutid-is-null), but I'm also posting it here, in case it is a bug, or the docs need updating to refer to `User not marked as active`. If there's such info, I'm sorry, I couldn't find it.

### Issue / Steps to reproduce the problem

I can't get the PostLogoutRedirectUri from IdentityServer4 because log

[2018-12-14 14:11] brockallen commented on #2886
Posting all your code doesn't help give info as to what's happening. We don't debug your code for you on this issue tracker. We listen for bug reports in or feature requests for IdentityServer.

[2018-12-14 14:38] sprengo commented on #2657
Any update on that one? I get the same error that was stated in the OP.

[2018-12-14 16:34] brockallen commented on #2869
@ThisNoName that seems like an unrelated error -- can you open a new issue?

[2018-12-14 17:13] johnavery opened #2901 "ActionDescriptor - Operations that change non-concurrent collections must have exclusive access"
I've run into this issue when invoking a custom middleware component used for extracting the user identity from a REST API call.  This is happening in our ASP.NET Core 2.1.6 API. This is a similar issue to [IdentityServer/IdentityServer4 #2453](https://github.com/IdentityServer/IdentityServer4/issues/2453).  The culprit seems to be Microsoft.AspNetCore.Mvc.Abstractions.ActionDescriptor.Properties.

[2018-12-14 17:16] johnavery commented on #2901
Sorry, I added this issue to the wrong repo.  Please disregard.

[2018-12-14 17:16] #2901 closed

[2018-12-16 05:34] seanmars commented on #2846
Same question. If this is not necessary, why show this message even with `fail` level?

[2018-12-16 09:13] scottbrady91 commented on #2893
Can you confirm what version of the SAML component you are using? I think I may have fixed this in a recent release.

[2018-12-16 16:13] ThisNoName commented on #2869
@brockallen After some further digging, turned out what I saw was the RedirectUris and PostLogoutRedirectUris required since 2.3.  Already addressed in https://github.com/IdentityServer/IdentityServer4/issues/2810

Removed previous post since it's unrelated to this thread.  Thanks for your help.

[2018-12-17 06:59] mengzy2018 commented on #2886
Please give me a definite direction so that I can make some progress in my work again

[2018-12-17 08:15] tungsnguyen commented on #2893
I am using version 2.2.0

[2018-12-17 08:43] scottbrady91 commented on #2893
Okay. Some of the logout functionality was updated in 2.2.0-preview3. Let me know how it goes.

[2018-12-17 09:09] mengzy2018 commented on #2886
@wlnh420 Have you solved your problem? If so, please tell me

[2018-12-17 10:46] tungsnguyen commented on #2893
Hello Scott. Sorry I forgot to mention that I did not use the integrated SAML component, but Component Space SAML, because it supports .NET Core

[2018-12-17 10:49] scottbrady91 commented on #2893
So do we: https://www.identityserver.com/articles/announcing-net-core-support-for-the-identityserver4-saml-component/

[2018-12-17 11:32] GSingha opened #2903 "Suspend MFA on Remembered Devices"
Can we suspend MFA on the remembered device?

[2018-12-17 11:49] leastprivilege commented on #2903
This seems to be a general question - not a bug report or a feature request.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-12-17 11:49] #2903 closed

[2018-12-17 16:50] aguacongas commented on #2366
If you're interested, I developed a package to dynamically manage Asp.Net  core authentication providers. And I'm looking for tester before publishing a release. The repository is [here](https://github.com/aguacongas/DymamicAuthProviders)

[2018-12-17 21:40] artchess commented on #2846
This Fail is very confusing.

[2018-12-17 22:01] drowhunter commented on #634
Im using identity server 4 and have followed the instructions here and for the life of me I cannot get it to hit any breakpoints in the custom profile service.

Yes I registered it at start up

Yes I added claims to the ApiResource

What am i missing?

[2018-12-18 09:33] leastprivilege commented on #2286
if you know a way to add Open API descriptions for the standard OAuth/OIDC endpoints, let us know then we can discuss this.

[2018-12-18 09:35] leastprivilege commented on #2846
It is a fail because for 99% of all IS use-cases, this is an invalid configuration.

[2018-12-18 12:31] muralisambu commented on #720
I had two instances of identity server, one as primary one and other acting as external identity provider for primary one. When I try to login from an javascript client I am able to authenticate the user and when redirecting to application I am getting as Correlation failed. Can someone help me?
![image](https://user-images.githubusercontent.com/26081686/50154260-dd502580-02ee-11e9-9ece-ba9e042688

[2018-12-18 13:05] MichelZ commented on #2286
I doubt that there is a "nice" way of doing this, as the most popular swagger extensions rely on ApiExplorer, which in turn relies on the whole MVC routing / modelbinding to generate the Swagger doc.

The best bet is probably to just include a static OpenAPI spec with IdSrv. It won't change much anyhow, right? :)

On a side question: What's the reason you went with your own endpoint router? Were t

[2018-12-18 13:14] brockallen commented on #2286
Because any config we would need to do to MVC would affect any other MVC code in the same host. In short, ASP.NET Core is not designed to allow multiple instances of MVC (or other similar frameworks) due to the global DI/config architecture.

[2018-12-18 13:15] brockallen commented on #2846
He means co-hosting IdentityServer and your API that's protected by IdentityServer.

[2018-12-18 13:21] dhavalthumar37 commented on #2886
I am also getting same, but didn't get any solution yet.
I applied the patch but its not a correct solution.

In Configure method of startup.cs
 app.UseExceptionHandler("/Home/Error");

In home controller
 public IActionResult Error()
        {
            var exceptionFeature = HttpContext.Features.Get<IExceptionHandlerPathFeature>();
            if (exceptionFeature != null)
            {

[2018-12-18 13:38] leastprivilege commented on #2286
sounds good!

[2018-12-18 13:39] leastprivilege commented on #2846
IS = IdentityServer

[2018-12-18 17:48] LNShimmell commented on #1116
I realize this is over a year old, but I'm having the same problem as described. The only difference is we're behind a reverse proxy. This is by no means a release, it's just for QA purposes. How can I export the cert from iis and import to trusted? I'm not really a network guy. If anyone can point me to a tutorial that would be fantastic!! Thanks!!!

[2018-12-19 06:42] Haleni888 commented on #909
You can use the [_aspnetcore1_](https://github.com/IdentityServer/IdentityServer4.Quickstart.UI/blob/aspnetcore1/Quickstart/Account/AccountService.cs#L33) branch instead of _release_ branch.

[2018-12-19 10:30] muralisambu opened #2905 "BaseUrlMiddleware"

[2018-12-19 13:33] #2905 closed

[2018-12-19 15:44] aristosamar opened #2906 "Invalid request body keywords accepted and token issued"
Hi,

I am using .NET Core 2.1 with Identity Server 4.
/connect/token end-point requires request body in format:

"scope=" + scopes + "&grant_type=client_credentials"

While testing I replaced keyword "scope=" with "blah blah blah=" and IDS issued valid token.

i.e.

"blah blah blah=" + scopes + "&grant_type=client_credentials"

Not a security problem but feels weird.

Regards
Mariusz

[2018-12-19 16:44] leastprivilege commented on #2906
Spec says the sts should ignore unknown parameters.

[2018-12-19 22:16] seattleravin commented on #750
IdentityServer4 is an OpenID Connect and OAuth 2.0 framework for ASP.NET Core 2. It only works with Asp.Net core 2.0. It doesNOT work with old ASP.net like Owin/KATANA.

[2018-12-19 23:14] brockallen commented on #750
IdentityServer3 was designed to use in a OWIN/Katana host.

[2018-12-20 01:46] AutismPatient commented on #2886
Unfortunately, this will not solve the root cause of my problem, which I will always pay attention to

[2018-12-20 09:34] jingliancui opened #2907 "Can not do role based authorize with aspnetidentity"
identity server config.cs:
[code]
MVC client startup.cs content:
[code]
API Startup.cs content:
[code]

Idserver Db initial:
[code]

register code:
[code]

database have have the data with role,but after register and logon ,I try to see the User property in mvc client,no role show for me :
![qq 20181220173253](https://user-images.githubusercontent.com/16309962/50276617-51b8cf00-047d-11e9-9ba7-c883

[2018-12-20 13:31] PresidentCamacho opened #2908 "Using Challange loops me back to consent screen when consent is given"
Hi,

I'm using the quickstart MVCclient for testing my identityserver.
I'm using this default action in the project to initiate identityserver login.

[code]

Now I've changed it to:

[code]

Everything works fine until I get to the consent screen. Now when the user consent to the consents it just loops backs to the ocnsent screen.

The Identityserver console is saying this: `[INF] Showing consent

[2018-12-20 16:05] anilraut30 commented on #2623
I had same issue System.IO.IOException: IDX20804 (Unable to retrieve document from: 'http://localhost:<port>/identity/.well-known/openid-configuration)

TLDR: what @brockallen mentioned I suppose repeatedly turned out to be true - it wasn't Identityserver related issue but a docker and to be specific container communication.

@brockallen  - though it's resolved with **IssuerUrL** at least for loca

[2018-12-20 16:14] logcorner commented on #2623
Hi, @anilraut30 ,@Activesite, @brockallen
this work for me  after several weeks of research
identityserver adress = **http://10.0.75.1**:8080 instead of http://localhost:8080 or anything else.
10.0.75.1 is default docker IP adress
I think I will not put it into production. we can be stuck for a long time
Regards

[2018-12-20 16:17] anilraut30 commented on #2450
we had the same issue but both id4 service and client api both in our case running inside docker containers locally. we resolved this by using IssuerURI property with id4 service container name including client api Authority property. It was tricky initially not to be that it wasn't identity issue as @brockallen mentioned but still not sure any caveats of IssuerURI on real environments

[2018-12-20 23:57] nigel-dewar commented on #2709
Thanks very much for this. very useful!

[2018-12-21 08:35] arame3333 opened #2909 "I get an unhandled NullReferenceException in the AddQueryString method"
### Issue / Steps to reproduce the problem
I am using Microsoft.Owin in my MVC web project to call IdentityServer4.
My Startup file is;
[code]
My in memory client in IdentityServer4 is;
[code]
The NullReferenceException in the AddQueryString method is caused by the url field being null. I do not know why this field is null.
### Relevant parts of the log file

[code]

[2018-12-21 12:36] PresidentCamacho commented on #2803
@AutismPatient @yasin-uohyd

Are you getting the Correlation failed?

[2018-12-22 00:51] TomCJones commented on #2897
You might want to look at this thread. Seems like everyone is headed in a different direction https://bitbucket.org/openid/fapi/issues/190/aud-iss-should-be-mandatory-in-requests

[2018-12-22 14:52] dhavalthumar37 commented on #2886
Yes agree, but on production you need some work around for this issue.

[2018-12-22 15:49] randyjeppesen opened #2910 "Consider adding Client.Id to Client Model"
Please consider adding:

     public int Id { get; }

 to Client in IdentityServer4.Models.

I  use the Client.Id as a foreign key in other tables.  Having the Id in the Client model saves a trip to the DB.

[2018-12-22 15:58] brockallen commented on #2910
That's a DB level concern, and thus why it's not in the domain model.

[2018-12-23 01:59] dealproc commented on #2886
It may be beneficial that, instead of redirecting to "localhost", you mock a domain using your hosts file and redirect to it.  Just my $0.02 on the subject.

[2018-12-23 03:57] nigel-dewar opened #2911 "Homepage is disabled in production. Returning 404. when in Prod? Why?"
### Issue / Steps to reproduce the problem
Create a new .Net Core 2.0 empty project and add IdentityServer4 and QuickStart UI
Create a Dockerfile that publishes a production image
Run the image

When visiting the home page of identityserver, you will get a 404 !

When looking into why I find the quickstart UI has this in its home page controller

[code]

Why is that? Is it bad to show the home pag

[2018-12-23 08:04] AutismPatient commented on #2803
Yes，It indicates that the association failed, which is in an unknown position

[2018-12-23 14:13] brockallen commented on #2911
What use is the home page to end users in production?

[2018-12-24 07:13] yasin-uohyd commented on #2803
Hi@PresidentCamacho , Yes, we still facing this issue only while running web test.

[2018-12-26 08:34] prflores commented on #2595
does this mean that updating my identityserver to 2.3.0 would not need these workarounds? should there be any codes changes in the web client app as well? Thanks!

[2018-12-26 13:11] rushfrisby commented on #2595
@prflores updating to 2.3 fixed this issue for me

[2018-12-27 12:06] Mortana89 commented on #2910
Can this be changed to a string property to support Guids?
CosmosDB does not support autoincrementing integers ootb upon inserts, so would really save some hacking away if this can be a string so that CosmosDB can generate guids ....

[2018-12-27 12:47] brockallen commented on #2910
I've spent many years trying to solve the one object model to abstract the different DB architectures, and it's not trivial. That's why the entity layer is deliberately separate from the model layer in IdentityServer.

[2018-12-27 14:35] MrGroovy commented on #2846
Why?

[2018-12-27 14:54] prflores commented on #2595
Thanks for the info @rushfrisby. I am not sure if this is related to my issue but I'm experiencing an infinite redirection between my identityserver and client site from iOS 12 users only (android, windows desktop and old version of iOS is fine) when signing-in (identity server with asp.net identity). I upgraded to 2.3.0 but still same result. I compared the logs got from iOS users and desktop use

[2018-12-30 17:06] brockallen commented on #2536
I finished reworking QS 6-8, and the combined sample.

[2018-12-30 17:19] remi0411 commented on #2851
Hello @zinov , I've the same problem, can you contact me ? You'll find my email on my github profile page, thank you

[2018-12-30 17:51] veikkoeeva commented on #2536
I'm wondering about https://github.com/IdentityServer/IdentityServer4/pull/2856/files#diff-71f9631bfa2ca3c38575e79f74c3924fR146 and the IETF Best Practice recommendation to not to use implicit flow and move to PKCE even for web clients that if there should be a note a clear note about it? If I didn't read the diff wrong, `AllowedGrantTypes = GrantTypes.Implicit` was changed to `AllowedGrantTypes =

[2018-12-31 00:36] abrajoe commented on #2419
I am having the same issue. I don't get it, how did you solve this?

[2019-01-02 19:21] MrGroovy commented on #2846
I still dont understand what the error is? Please explain.

[2019-01-02 19:26] MrGroovy opened #2916 "Bearer configured for IdentityServer... does not supports signin"
A closed issue is here: https://github.com/IdentityServer/IdentityServer4/issues/2846

But i dont understand what the error is. Please explain what this means.

[2019-01-02 20:03] MaxxDelusional commented on #727
I just recieved this error, when running on our production server, but not on localhost.

It turns out that my production server didn't have a connection to the outside internet, and could not access the information needed for the authentication from Microsoft's servers.

Pretty simple issue, but it took me a while to figure it out.

[2019-01-02 20:23] #2910 closed

[2019-01-02 20:24] #2906 closed

[2019-01-03 09:55] lttrung11 opened #2918 "ScopeValidator does not work properly with a custom cache in Redis"
I tried to implement a custom cache for IS4:

[code]
IDistributedCache is implemented by RedisCache of Microsoft.Extensions.Caching.Redis.

### Issue / Steps to reproduce the problem
1. When I tried to request an access token (/connect/token), I got the following error:
Requested scope not allowed: "..."

2. If I change GetAsync to this, then it works:
[code]
It's possible that when a blank array

[2019-01-03 20:19] alexsandro-xpt commented on #1476
@mrblurgle there a Caching sample to share?

[2019-01-04 06:16] arkiaconsulting commented on #1331
This solution worked for me (.Net Core 2.2)

[2019-01-04 08:31] veikkoeeva commented on #2536
I'll add https://brockallen.com/2019/01/03/the-state-of-the-implicit-flow-in-oauth2/ as it explains this well.

[2019-01-04 12:56] przemekwojcik opened #2920 "can't reach discovery endpoint after deploying IS4 to a subroute"
I need to change the url of a discovery endpoint from this:

to this:

i'm trying to deploy IS4 to Azure Kubernetes Service. It all works out great when i deploy IS4 to the root address (like http://xxxx.europe.cloudapp.azure.com) - I see the welcome page and i can access my discovery endpoint.

However, when i deploy IS4 to a subroute (http://xxxx.europe.cloudapp.azure.com/identity) i can't acces

[2019-01-04 13:30] MikeBeaton opened #2921 "Out of date property name in quickstarts"
The quickstarts page [Protecting an API using Client Credentials/Adding an API/Configuration](http://docs.identityserver.io/en/latest/quickstarts/1_client_credentials.html#configuration) uses `JwtBearerOptions.ApiName` in the code, but the property is now called `JwtBearerOptions.Audience`.

[2019-01-04 13:36] MikeBeaton opened #2922 "Incorrect method name GetApiResources in quckstarts text"
The quickstarts page [Protecting an API using Client Credentials/Defining an API Resource](http://docs.identityserver.io/en/latest/quickstarts/1_client_credentials.html#defining-an-api-resource) specifies the incorrect method name `GetApiResources` in the text, but uses the correct method name `GetApis` in the matching code.

[2019-01-04 13:55] jingliancui opened #2925 "integration test 's open id connect throw "System.Net.CookieException : The 'Path'='/signin-oidc' part of the cookie is invalid ""
I have a mvc client use the oidc feature with asp.net identity.Config in startup is that:

[code]

Integration test code use this httpclient:

[code]

or this from the [identity model's code](https://github.com/IdentityModel/IdentityModel.Owin.PopAuthentication/blob/dev/src/IdentityModel.Owin.PopAuthentication.Tests/IntegrationTests/IdSvr_Client_And_WebApi_Integration/BrowserClient.cs):
[code]

Th

[2019-01-04 16:08] brockallen commented on #2920
Don't know, sorry. Sounds environmental. I'd try to reproduce it with a stand-alone ASP.NET Core app and get that working to better understand why it might not be working with IdentityServer.

[2019-01-04 16:11] brockallen commented on #2921
Merged, thanks.

[2019-01-04 16:11] #2921 closed

[2019-01-04 16:11] brockallen commented on #2922
Merged, thanks

[2019-01-04 16:11] #2922 closed

[2019-01-04 21:05] #2890 closed

[2019-01-04 21:05] #2861 closed

[2019-01-04 21:05] #2869 closed

[2019-01-04 21:06] #2882 closed

[2019-01-05 14:12] jingliancui commented on #2925
Then today I check the source code of the .net core 's CookieContainerHandler  [here](https://github.com/aspnet/AspNetCore/blob/321327f84b2b22dcff2e9beb06a9a64236c5cced/src/Mvc/src/Microsoft.AspNetCore.Mvc.Testing/Handlers/CookieContainerHandler.cs#L43)

and the handler of the identity sample code [here](https://github.com/IdentityModel/IdentityModel.Owin.PopAuthentication/blob/dev/src/IdentityMod

[2019-01-06 04:30] MovGP0 commented on #2079
in case anybody wants to work on this

* [TOTP/HOTP library](https://github.com/kspearrin/Otp.NET)
 *  [URL format for authenticator](https://github.com/google/google-authenticator/wiki/Key-Uri-Format)

[2019-01-06 06:46] eaba commented on #2079
@MovGP0 is this in any way different from aspnet.core identity two step authentication?

[2019-01-06 18:11] nidhilogic opened #2929 "How to get Refresh token by calling Authorization endpoint on Identity server 4"
I have ASP.Net MVC client application, API.Net Web API 2 Project and Identity server 4. I want to protect my API's from unauthorized access and hence I get a JWT token from IS4 and then pass in the header as Bearer token while making a call to API. All this works fine(Login to the application, getting the JWT token and then passing to API so that it gets called after authorizing the token). I am u

[2019-01-06 19:13] kbaley opened #2930 "Readability of Quickstart"
Just went through the first quickstart. I see [one issue](#2921) has been addressed but I noticed a couple of others:

- https://github.com/kbaley/IdentityServer4/blame/master/docs/quickstarts/1_client_credentials.rst#L216 => `response` should be `tokenResponse`

- https://github.com/kbaley/IdentityServer4/blame/master/docs/quickstarts/1_client_credentials.rst#L242-L245 => `client` should be `apiC

[2019-01-06 19:32] leastprivilege commented on #2929
This seems to be a general question - not a bug report or a feature request.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2019-01-06 19:32] #2929 closed

[2019-01-06 21:11] MovGP0 commented on #2079
There are different methods of two step authentication. One way is to send an SMS with a one-time-password ([Twilio](https://www.twilio.com) is quite good). Another is to use a FIDO U2F Token, like a [Yubikey](https://en.wikipedia.org/wiki/YubiKey) or [Google Titan Key](https://cloud.google.com/titan-security-key/).

TOTP and HOTP are another method(s), similar to those [RSA SecurID](https://en.wi

[2019-01-07 12:31] marufbd commented on #2870
Now this one is broken in v 2.3.2

Multiple container instance requires a custom implementation for IDeviceFlowStore.

But when storing `DeviceCode`, cannot serialize the newly indroduced property:
`public ClaimsPrincipal Subject { get; set; }`

I believe, CLaimsPrincipal is not supposed to be serialized in general, rather created from some form of token.

So cannot retrieve that either on `FindBy

[2019-01-07 12:50] scottbrady91 commented on #2870
https://github.com/IdentityServer/IdentityServer4.Storage/blob/dev/src/Stores/Serialization/ClaimsPrincipalConverter.cs

[2019-01-07 15:33] ahmettahasakar commented on #2866
Hello,

Is there any update on this?

Thank you

[2019-01-07 15:41] benosman commented on #1970
@julianwesleyan - yes, that's pretty much the approach we went for in the end.

[2019-01-07 16:10] julianwesleyan commented on #1970
@benosman - awesome that's what I'm doing now.

[2019-01-07 17:50] brockallen commented on #2866
No sorry -- with the end of year activities, I lost track of this. I'll have a look this week.

[2019-01-07 21:48] smlyttle opened #2931 "Google+ Platform"
The Google+ Sign-In Feature is being shutdown on 3/7/19 (https://developers.google.com/+/web/signin/).  Do IdentityServer users need to be on a certain version to not be affected by the Google+ Sign-In shutting down?

Thank you.

[2019-01-07 22:04] drudolph1 commented on #2623
@logcorner I changed IdentityServerUrl to http://10.0.75.1:8080. I still get the error but get 403 Forbidden as well
![image](https://user-images.githubusercontent.com/8261781/50796029-d2f1cd80-1295-11e9-8e45-768390585c97.png)
The Firewall is disabled.

[2019-01-07 22:48] brockallen commented on #2696
Do we still need/wand this?

[2019-01-07 22:49] brockallen commented on #2931
https://github.com/aspnet/AspNetCore/issues/6069

[2019-01-07 23:13] marufbd commented on #2870
@scottbrady91
Thanks for that, will check and update here.

[2019-01-08 01:36] brockallen commented on #2866
I just tested exactly what you asked for in the sample host, and it works fine.

[2019-01-08 04:04] LouieGuo opened #2933 "Efficiency is very slow"
Why does the token data return take 300-400 milliseconds?

[2019-01-08 07:57] leastprivilege commented on #2933
Not enough information.

[2019-01-08 07:58] #2931 closed

[2019-01-08 09:56] scottbrady91 commented on #2696
If you're offering. Otherwise, I'll PR something to http://docs.identityserver.io/en/dev/reference/aspnet_identity.html when I get a chance

[2019-01-08 11:47] marufbd commented on #2870
Serializing `ClaimsPrincipalLite` works against my mongo store.

[2019-01-08 11:47] #2870 closed

[2019-01-08 12:03] ahmettahasakar commented on #2866
I have this

` services.AddIdentity<ApplicationUser, ApplicationRole>(options => { options.User.RequireUniqueEmail = true; }).AddEntityFrameworkStores<AuthServiceDbContext>()`

am I not suppose to have it anymore?

[2019-01-08 13:40] brockallen commented on #2696
I don't think I ever got an answer to my first question: does the existing approach of implementing the user claims principal factory and registering it with ASP.NET Identity not work?

[2019-01-08 13:46] brockallen commented on #2866
That is also working for me. What does your startup logging look like? Mine is showing:

[code]

[2019-01-08 15:03] gilm0079 commented on #2931
@brockallen or @leastprivilege , will a new build of IdentityServer4 need to be released after the Google API fix in https://github.com/aspnet/AspNetCore/pull/6338 is released or can we upgrade the asp.net core library with the current build?  Thanks!!

[2019-01-08 15:19] brockallen commented on #2931
No -- you will need to update your nuget package from Microsoft. We don't include/use google -- your host does.

[2019-01-08 17:14] ahmettahasakar commented on #2866
This is the full log.

It seems to be correct, yet it seems to be redirecting to wrong url.

[code]

[2019-01-08 17:18] brockallen commented on #2866
I suspect that you've also not configured the cookie settings for ASP.NET Identity's cookie? This might be what's happening -- we were doing it for you, but given our redesign here it didn't make sense for us to do that. So you might need:

[code]

Which would then mean you don't need to set our `LoginPath` on our options. Give that a try please.

[2019-01-08 17:41] brockallen commented on #2866
Yes, when using ASP.NET Identity the redirect URLs should have always been configured with `ConfigureApplicationCookie`. We now read and use those values, rather than needing an additional and explicit setting.

[2019-01-08 17:41] #2866 closed

[2019-01-08 22:02] collinbarrett commented on #2347
@vejandla did ya'lll continue to pursue this approach? we're interested in finding an Angular boilerplate for IS4 if one exists to more easily match the styling of the client Angular applications.

[2019-01-08 23:30] ulrichb opened #2934 "IdentityServer integration with ASP.NET Core 2.1+ "Default Identity""
The current [ASP.NET Core Identity integration guide](http://docs.identityserver.io/en/latest/quickstarts/8_aspnet_identity.html), resp. the `IdentityServerAspNetIdentity` template uses/creates a lot of (_security relevant_) code in the project (especially [AccountController](https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/blob/78d1da20c8107a86110bdeb64595ebb15f2d2e4e/host/Quickst

[2019-01-09 03:10] brockallen commented on #2934
Our documentation is for getting you started with IdentityServer. ASP.NET Identity is sufficiently complex and can be used in so many different ways that it's not our place to document that. You should check the ASP.NET Core docs instead for that.

[2019-01-09 08:52] scottbrady91 commented on #2696
Yes, it works.

What doesn't is when I'm migrating customers from ASP.NET Core 1.x to 2.x and having to reimplement their claims mappings. Is there a reason for `UserClaimsFactory` being internal? It wasn't in v1.

[2019-01-09 09:03] AutismPatient commented on #2886
**I've come to understand that this is due to another 500 errors at runtime on your target url, not on the authentication server.**

[2019-01-09 09:13] AutismPatient commented on #2886
I think this is a problem beyond the authentication configuration

[2019-01-09 09:58] NilsEngelbach opened #2935 "Checksession IFrame does not return "changed" when RefreshSignInAsync() was called"
I wanted to notify applications about changes to the user profile (profile picture, username...) using the checksession iframe.
The checksession iframe works fine when user signs out / different user signs it, but is not updated when doing changes to the profile.

[code]

I can see that the actual asp net core session cookie changes after this but the cookie that is used for checksession stays unc

[2019-01-09 10:54] shridhara136 commented on #2522
how to add window users

[2019-01-09 13:36] NilsEngelbach commented on #2935
Okay, so I have to manually call it after `await _signInManager.RefreshSignInAsync(user);`, or extend the function to do the call?

[2019-01-09 13:42] enemaerke opened #2936 "Default length in the IHandleGenerationService"
**Is your feature request related to a problem? Please describe.**
We are using IdentityServer4 (and are loving it) but recently received a security review that highlighted that the access token we generate are 32bit which was not deemed large/random enough. We see that the out-of-the-box setup does use 32bit (the DefaultGrantStore relies on the default value of 32 when calling into IHandleGenerat

[2019-01-09 13:45] brockallen commented on #2935
I was asking if you could check the user's `sid` claim in the cookie after calling that -- does it change?

[2019-01-09 18:02] ArielZhang opened #2937 "client credential flow with empty requested scope the access token contains all assigned scopes"
The client gets access token via client credential flow, and send the request without any requested scope, and the returned access token actually contains all allowed scopes, is that by design? any reasons?

Feels like a security hole.

IdentityServer4, v2.2.0

[2019-01-09 18:07] brockallen opened #2938 "Provide more flexibility in the DefaultUserSession cookie management"
Looks like Path and Domain might be needed.

[2019-01-09 20:34] luisabreu opened #2939 "Add overloads with actions that receive IServiceProvider references to the AddXXX methods"
The AddXXX methods (ex.: AddConfigurationStore, AddOperationStore) don't have overloads with Actions that receive a reference to the IServiceProvider (unlike the AddDbContext extension method has an overload that receives a reference to the IServiceProvider).

Withou this overload, how can I share a DbConnection between several contexts (that are saved to the same database)? For instance, with EF

[2019-01-09 22:42] inpicksys commented on #2623
@anilraut30 Could you please post canonical sample peaces of code for config, controller & api related code? This headache is months. I spent too much time for this... Need help.
Removed all https, no cert issues, etc.. User able to login, but can't get from separate ProfileController user info (user should be able to see/edit profile).

[2019-01-10 08:15] NilsEngelbach commented on #2935
The session id was not changed.
As far as i see the `signInManager.RefreshSignIn()` calls `signInManager.SignIn()` which calls `userSession.CreateSessionIdAsync` but because the **session id was not changed** the checksession cookie is not updated. But I think it is intended that the session id is not changed, because `RefreshSignIn()` takes the `AuthenticationProperties` (and therefore the curren

[2019-01-10 08:31] luisabreu commented on #2939
Answered by the man himself :)

Instead of using the options.ConfigureDbContext, you should rely on options.ResolveDbContextOptions:

[code]

[2019-01-10 08:31] #2939 closed

[2019-01-10 12:06] sjh37 commented on #277
If it helps, I have just got this problem:

**Nuget packages:**
IdentityServer4 v2.3.2
IdentityServer4.AspNetIdentity v2.3.0
IdentityServer4.EntityFramework v2.3.2

**Stacktrace:**
System.InvalidOperationException: idp claim is missing
   at IdentityServer4.Extensions.PrincipalExtensions.GetIdentityProvider(IIdentity identity) in C:\local\identity\server4\IdentityServer4\src\Extensions\PrincipalEx

[2019-01-10 13:39] brockallen commented on #2935
The session id is something IdentityServer creates (not ASP.NET Core). I asked you to check because I had forgotten how ASP.NET Identity handled that, but I guess it's just re-issuing the cookie for the same user, so I it makes sense that the `sid` doesn't change.

So, the short of it is that the `sid` represents the current user session. Updating the cookie doesn't necessarily mean the session ha

[2019-01-10 17:02] sjh37 commented on #277
In order to get the following working again:
[code]

I had to delete the users from the database, then re-add them. And magically `idp claim is missing` went away. So changing the authentication scheme **after** a user is created is going to end up with this error.

[2019-01-10 17:10] sjh37 commented on #1792
**Solved**

In order to get the following working again:
[code]

I had to delete the users from the database, then re-add them. And magically `idp claim is missing` went away. So changing the authentication scheme **after** a user is created is going to end up with this error as the user is altered in the database.

To replicate the error use:
[code]
Add a user and check you can login ok.
Change t

[2019-01-10 18:57] leastprivilege commented on #2936
32 bytes is 256 bits..that’s a lot of entropy.

https://m.youtube.com/watch?v=S9JGmA5_unY

[2019-01-11 03:28] briankitt opened #2940 "Connection leak in Identity 4 Server"
I've discovered that there is a SQL connection leak in Identity4.   It is so bad, that it can't possibly run a production server.  So that means I must have something set up wrong.
I use the Dapper connector for database management.
To find the leak, I downloaded the Dapper Identity source, and debugged it.
What I am finding, is the UserManager is never disposed by IdentityServer4.  Since it is ne

[2019-01-11 08:09] enemaerke commented on #2936
@leastprivilege Thanks for the quick reply. I do see that this is indeed 32 bytes and not 32 bit that is the default. I think I was a bit confused since the default parameter seemed to align with the number 32. We did run an entropy test on the generated access token ourselves and got an "excellent" rating, so it seems the security review is not evaluating the token we think they should be evaluat

[2019-01-11 08:09] #2936 closed

[2019-01-11 08:41] scottbrady91 commented on #2940
Seeing as `UserManager` is part of ASP.NET Core Identity, and all integration with it is code that belongs to implementors, then I don't see how this is an IdentityServer issue.

[2019-01-11 09:01] AutismPatient commented on #2925
**Please show the configuration information code of your identity server for more information**

[2019-01-11 13:20] brockallen commented on #2940
Have you identified which UserManager or at least where it's being used from? The AccountController, or elsewhere, or all instances?

[2019-01-11 14:37] leastprivilege commented on #2933
no response. closing.

[2019-01-11 14:37] #2933 closed

[2019-01-11 14:38] leastprivilege commented on #2930
I think those are all fixed. Please double check.

[2019-01-11 14:38] #2930 closed

[2019-01-11 15:55] jingliancui commented on #2925
Hi @AutismPatient
Here is the config of the identity server:

[code]

and config in startup.cs :

[code]

[2019-01-11 19:51] briankitt commented on #2940
Primarily in calls to roll manager.  The trace I am showing, I can see that
roll manager is getting allocated, but never disposed.  As such, within
minutes I have dozens of hanging threads who's last command was to get all
roles for a user.

On Fri, Jan 11, 2019 at 7:20 AM Brock Allen <notifications@github.com>
wrote:

[2019-01-11 19:52] briankitt commented on #2940
Perhaps I am just setting it up wrong?  If this were a common problem, it'd
be a huge issue.  I'm convinced it's very isolated and perhaps I'm the only
one, which tells me I probably just set it up wrong.

On Fri, Jan 11, 2019 at 2:41 AM Scott Brady <notifications@github.com>
wrote:

[2019-01-11 22:06] ArielZhang commented on #2937
thanks for the confirmation.

[2019-01-11 22:53] brockallen commented on #2595
FYI, here's a different approach to solving this issue, while being able to use same-site cookies.

https://brockallen.com/2019/01/11/same-site-cookies-asp-net-core-and-external-authentication-providers/

[2019-01-12 01:55] cdwaddell commented on #2595
Thanks! This is a very helpful analysis of the root cause. I had considered
a similar approach to the general siolution but gave up when the sign-out
function was directly using cross site, thinking that I wouldn’t be able to
find a way around that. I’ll give it a try.

—Daniel

[2019-01-12 04:17] BenHayat opened #2942 "Support for Google Flutter?"
Hello IS4 Team;

We are planning to build a .Net Web API server (as our backend REST server) using IdentityServer4 (IS4) as our back server and authentication server.
For client, we plan to use Google Flutter to build our native apps to use IS4 for authentication server.
Is there currently SDK support from IS4 for flutter so we can call IS4 to get tokens to pass to our REST Server?
If not, will th

[2019-01-12 06:38] Elrashid commented on #1623
if (!env.IsDevelopment())
            {
                app.Use((context, next) =>
                {
                    context.Request.Scheme = "https";
                    return next();
                });
            }

[2019-01-12 08:08] MAliM1988 opened #2943 "How Can I Add One-time Password (OTP) Provider for Identity Server"
Hello

How Can I Add One-time Password (OTP) Provider to Identity Server With Asp.Net Identity?

Thanks

[2019-01-12 15:17] brockallen commented on #2942
Is there currently SDK support from IS4 for flutter so we can call IS4 to get tokens to pass to our REST Server?

It looks like Flutter is written in dart. I don't know of any reference implementation in dart for native apps to use code+pkce flow with the system browser, but the two reference implementations for android and iOS are here:

https://github.com/openid/AppAuth-Android
https://github.co

[2019-01-12 15:18] brockallen commented on #2943
That's more of a feature of ASP.NET Identity, not IdentityServer.

[2019-01-12 15:18] #2943 closed

[2019-01-12 18:47] leastprivilege commented on #2930
Then PR please on master

[2019-01-12 18:51] BenHayat commented on #2942
Hi Brock;

Yes. Flutter is written in Dart.

Excellent point. I will contact Flutter team and raise this question. I hope your team can create support Dart natively, as Flutter can really use .Net Core backend and IS4.

As soon as I find something, I'll post it here.
Thanks for the reply.

[2019-01-12 19:19] BenHayat commented on #2942
Brock, FYI, I went ahead and created a thread in the Flutter forum and asked you question.
Here is a link in case you want to follow it directly.

https://github.com/flutter/flutter/issues/26473

Thanks!

[2019-01-12 20:02] brockallen commented on #2942
Sorry, I don't expect us to create a dart sample. But the tech stack of the client app doesn't matter -- a client would just be using protocol.

I'll close this now, as there's nothing really specific here for us to do.

[2019-01-12 20:02] #2942 closed

[2019-01-14 03:58] jingliancui commented on #2925
`app.UseIdentityServer();`
had been in the Configure method.
Is it the initializes method you said ?

[2019-01-14 05:50] AutismPatient commented on #2925
`app.UseAuthentication();`

[2019-01-14 07:48] jingliancui commented on #2925
The mvc client's Configure method of startup.cs had been use the
`app.UseAuthentication();`

[2019-01-14 08:34] u-foka commented on #2873
Hy, any news on this? :)

[2019-01-14 08:40] AutismPatient commented on #2925
The url in your header is incorrect because it does not point to your identity server address

[2019-01-14 09:47] dviry commented on #2920
here [another link](http://amilspage.com/set-identityserver4-url-behind-loadbalancer/) that might help.

[2019-01-14 09:53] PavelGMK opened #2944 "Unused method in Docs "Adding User Authentication with OpenID Connect""
Method `GetIdentityResources` in `Config.cs` of `IdentityServer` project is newer used.
Trying to run MVC client as described in [quickstart ](http://docs.identityserver.io/en/latest/quickstarts/3_interactive_login.html) results in `Invalid scope` error.

Calling `AddInMemoryIdentityResources(Config.GetIdentityResources())` method in `ConfigureServices` method in `Startup.cs` of `IdentityServer` p

[2019-01-14 11:19] dviry opened #2945 "Upgrading from 2.2 to 2.3 breaks sessionId"
Only using IdentityServer4 - based on the QuickStarts.UI, no API or anything else running, no custom authentication nor any other ASP.NetCore stuff. I am using a custom ClientStore (by running services.AddIdentityCore), not sure if related.

IdentityServer4 2.2.0,
IdentityServer4.AspNetIdentity 2.1.0
Microsoft.AspNetCore 2.2.0

Simple NuGet upgrade of both IdentityServer4.* to 2.3.0 causes this er

[2019-01-14 11:33] dviry commented on #2945
After further investigations I got the cookie back (for whatever reason the CookieLifeTime was set to Zero).

Question still remains whether the .CookieAuthenticationScheme I manually added to the IdentityOptions is correct.

Thanks in advance

[2019-01-14 18:41] muziekklas commented on #1961
@brockallen @leastprivilege  What is the status on this? We use a Progress Backend using plugins which cannot parse a string[],  but even after playing with thre requested scopes, the token keeps giving two aud values. Is there a way we can disable the /resource audience? Or can you give a hint how we could avoid this?
Thanks in advance!! :)

[2019-01-14 18:43] pwen090 commented on #284
@leastprivilege @brockallen The vulnerability is not within SHA256 but hashing function weaknesses in general when not leveraging a salt. Many pre-computed databases of common hash functions exist that allow for an attacker to simply lookup a hash to know the pre-hashed string. E.g. Rainbow tables. The issue is not in remotely brute forcing against IdentityServer but an attacker whom is able to co

[2019-01-14 19:04] scottbrady91 commented on #284
My client secret is `TNW+nxBGh/WRwE3XOpK8iicEtwA1detrhBwJUDGKuOo=`. Do you know of any lookup tables that contain a pre-calculated hash of values like that?

[2019-01-14 19:10] pwen090 commented on #284
@scottbrady91 As a lead in Identity and Access control it is your position that you should not salt hashes that are used for authentication?

[2019-01-14 19:28] behrooz66 opened #2946 "AccessTokenType.Reference does not work! Still returns JWT"
I have added the following to the definition of my client as per the documentations instructions:
`AccessTokenType =  AccessTokenType.Reference,`

But still when I hit the ../connect/token endpoint with proper username and password, I will get a JWT access token (and not a reference token). I am using the Resource Owner flow. Is there anything extra that has to be done and is not mentioned in the

[2019-01-14 20:06] scottbrady91 commented on #284
For from it. But I'm failing to see how your concerns address Brock's previous statements:

[2019-01-14 21:04] brockallen commented on #284
The size of said database would be large:

from: https://blogs.msdn.microsoft.com/oldnewthing/20131029-00/?p=2803/

Salting is to address collisions in the secret, and is useful when the secret is human created (not machine created).

[2019-01-14 21:09] pwen090 commented on #284
I hear you guys, I guess I was coming from the perspective of a salt could help people that do not know better but probably the better thing is just making more clear in the documentation how to generate a proper secret. One quick Q what function were you recommending above in CryptoRandom.cs as the link is old? Thanks much

[2019-01-15 01:27] brockallen opened #2947 "Use load event in JS to trigger authorize form_post response"
Backstory: #2873

[2019-01-15 01:29] #2947 closed, assigned to nobody

[2019-01-15 01:41] AutismPatient commented on #2925
**This may be because the callback address specified by the identity server is not the same as the address you used in the integration test, typically `/sigin-oidc` instead of `/login`**

[2019-01-15 05:42] AutismPatient commented on #2946
You must understand what this configuration parameter does

[2019-01-15 06:01] AutismPatient commented on #2925
999999

[2019-01-15 06:19] jingliancui commented on #2925
@tamimehsas EF' s Sample Just check here:
http://docs.identityserver.io/en/latest/reference/ef.html

and here:
https://github.com/IdentityServer/IdentityServer4.Samples

[2019-01-15 08:04] leastprivilege commented on #2946
That's all thats necessary. Check the samples in our samples repo.

[2019-01-15 08:06] leastprivilege commented on #2944
OK - thanks. Please PR.

[2019-01-15 09:43] shotyme opened #2948 "Asp.Net Core MVC with Identity Server 3"
Hello,

I'm trying to use an Identity Server 3 with an Asp.Net Core MVC application. From the infos that I found it should be possible to get this up and running by following the Identity Server 4 client examples.

And yes, my id server has no problem with the authentication request. The logs clearly shows "Authorize request validation success". But my client seems to have problems with the respon

[2019-01-15 13:53] raminassar opened #2950 "Should I merge identity server database with application database"
Hello,

I recently started from scratch to implement a new application, so I have created a new application with its own database and I used Identity Server 4 with ASP.NET Identity which has a separate persistence database and I named it Identity_Server.

The plan is that in near future I will start developing another applications which will be clients in the central Identity service provider (Ide

[2019-01-15 14:05] SolarMaximus commented on #1573
We faced this issue too.

[2019-01-15 14:08] brockallen commented on #2950
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2019-01-15 14:08] #2950 closed

[2019-01-15 14:16] thePmr commented on #2916
It's just a warning notification (of 'error' level though) that you probably set up your service with IdentityServer incorrectly: you host IdentityServer that issues that bearer token along with API that uses that token for authorizing user.

There is a [StackOverflow topic](https://stackoverflow.com/questions/42450840/user-registration-process-with-identityserver4) with good example of IS/API lay

[2019-01-15 17:05] behrooz66 commented on #2946
Thanks for the mean language you guys use every time there is a question in this forum that seems too low level for you. I have read the document on the reference tokens here:
[](http://docs.identityserver.io/en/latest/topics/reference_tokens.html)

and maybe the reason I didn't "understand" is because documentation is terrible. Thanks anyway, close the thread.

[2019-01-15 17:52] #2946 closed

[2019-01-15 22:12] MrGroovy commented on #2916
Thanks for the reply. It is true that there are other endpoints in the same project. Those endpoints only relate to user management. There are also other services that are protected via the bearer tokens created by Identity Server.

Is it bad to have other endpoints in the same service as Identity Server? (In this case user management endpoints). What is the worst that can happen? Is it insecure?

[2019-01-16 02:21] AutismPatient commented on #2925
You try to put a `[Authorize]` method outside `Login` to see the effect

[2019-01-16 10:21] SolarMaximus commented on #2382
I'm facing this issue when I run IdentityServer site with IISExpress. My client is an angular app with implicit grant flow. First authentication always happens without mistakes. To reproduce it I set small lifetime for id_token and access_token (60s and 180s), login in my application, then close tab with angular app. Then I open my angular app 15-30 mins later and try to login once again and that'

[2019-01-16 11:23] kinosang commented on #2146
same here, sometimes it return 404 for the consent page

[2019-01-16 11:37] rmbrunet opened #2951 "SQL Scripts for current MS SQL database schema"
The link to the SQL Scripts in the documentation still broken.

https://github.com/IdentityServer/IdentityServer4.EntityFramework/tree/release/src/Host/Migrations/IdentityServer

[2019-01-16 12:51] brockallen commented on #2951
Which link in the docs?

[2019-01-16 13:58] thomaslevesque commented on #2612
But code flow isn't just for server-side apps. It's also used in native apps, and can be used in browser-based apps (it's even recommended now, according to your [blog article](https://brockallen.com/2019/01/03/the-state-of-the-implicit-flow-in-oauth2/)). And as far as I can tell, there's nothing to prevent native apps from receiving the response as fragment (which is supposed to be more secure) r

[2019-01-16 14:17] rmbrunet commented on #2951
In this page

http://docs.identityserver.io/en/release/quickstarts/8_entity_framework.html

there is a note with a link to where the SQL Scripts are for the database are located. Its returning 404.

[2019-01-16 14:44] jingliancui commented on #2925
I don't understand what you said.
Can you tell me more detail?please

[2019-01-17 00:36] briankitt commented on #2940
Anyone have any pointers?  I am positive I have a setup issue.  This is so problematic, that it's not production capable.

[2019-01-17 01:45] brockallen commented on #2940
Did you ask in the MSFT forums/issue tracker?

[2019-01-17 07:15] thePmr commented on #2916
I don't see anything _bad_ in co-hosting user-management endpoints with IS. Moreover official IS docs [says the same](http://docs.identityserver.io/en/release/topics/add_apis.html), so frankly I don't quite understand [this comment](https://github.com/IdentityServer/IdentityServer4/issues/2846#issuecomment-448217116). May be something else was meant. And all other APIs (not related to user managem

[2019-01-17 12:46] AkhilRajMR opened #2952 "Best work flow for react native mobile app"
Hi @brockallen and   @MikeBeaton ,
I am created a identity-server with grant type "password" for my react native mobile app.  I got its work flow and i implemented that. but now i need a facebook login in that app. i also like to change that to authorization code flow. which is the best method to implement both(facebook with Authorization code) login.?
I think hybrid is safe for both login. but i

[2019-01-17 13:41] brockallen commented on #2940
You will have to find out where/why it's happening. If that's something from Microsoft, then they wil fix it. If it's something in our integration layer, then we'll fix it. But without something more concrete, then I'm not sure anyone can do anything about it.

[2019-01-17 18:13] twix20 commented on #2909
It looks like due to the commit 4dea55de86cafd57024a8e299693fc939169375b
Properties of the class  `UserInteractionOptions `
- LogoutUrl
- LoginUrl
- LoginReturnUrlParameter

are no longer being set by default.

In order to fix that you must provide those options in configuration.

Ex.
[code]

[2019-01-17 20:57] dviry commented on #2945
That is also incorrect -  even though I am not really using AspNetCore Authentication, I had to add this above:

[code]

Now it seems to be working as expected - not sure where this breaking change stems from (AspNetCore 2.2 or IdentityServer 2.3).

[2019-01-17 23:32] mstancombe opened #2953 "Minor incorrect statement in hybrid flow quickstart docs"
on the page
https://github.com/IdentityServer/IdentityServer4/blob/master/docs/quickstarts/5_hybrid_and_api_access.rst

there is a line
"When you run the MVC client, there will be no big differences, besides that the consent screen now asks you for the additional API and offline access scope."

This is not accurate, as now that the id and access token are requested, none of the claims apart from s

[2019-01-18 16:34] bpetersen1 opened #2954 "404 error when signing out if identityserver 4"
Could someone please help me. I'm having an issue with the signout feature of identityserver 4. If i click on logout it redirects me to the identityserver and goes to the /connect/endsession?xxxxx but it throws a 404 error..

I've opened a stack overflow issue as well.

Can someone please help me with this, i'm starting to pull my hair out already .

Environment is : windows server 2012, iis8 and

[2019-01-18 18:24] prflores commented on #2595
Thanks @brockallen! this approach fixed my issue.

[2019-01-19 01:59] deniscubic opened #2955 "Failed to validate the token."
**Hello**

Today i'm starting with IdentityServer4, i would like to start a ASP.NET Core 2.2 Site with IdentityServer4 and i ConsoleClient (later an Xamarin Client). But i am desperate it doesnt work. Hope someone can help me.

**I get the following error when i try to call a web api controller from the ConsoleClient  to the ASP.NET site.**

Best regards

[code]

Here is my **Config.cs**:

[code]

[2019-01-19 21:11] sekoch opened #2956 "Cookie: idsrv & idsrv.external - Possibility for changing name"
Hi,

I didn't find it in the documentation or anywhere else.

If you build a multi tenancy identityserver4 setup, where the tenants are resolved by path (not domain, that wouldn't be a problem), is it possible to change the names of the cookies at runtime (after retrieving the http context for resolving the tenant)? I don't find any solution yet or which changes I should make via DI.

Maybe you ca

[2019-01-19 21:32] 40345839668 commented on #2956
After the control panel, try the user's Hesps you can also find them using the PC in the notifications or messages panel on the bottom right corner of your monitor or the search Toolbar on your monitor.
Control Panel  All Control Panel items

[2019-01-20 06:29] raime910 opened #2957 "Getting invalid_username_or_password"
I'm writing an integration test for my microservices authentication and authorization. I am using IdentityServer4 with in-memory stores and my code looks like this;

	var builder = services
		.AddIdentityServer(options =>
		{
			options.IssuerUri = "https://my.services.is4host";
			options.Events.RaiseErrorEvents = true;
			options.Events.RaiseInformationEvents = true;
			options.Events.RaiseFailu

[2019-01-20 06:32] frostless opened #2958 "Keep getting the "invalid_grant" after delpoying identityserver4 to production"
Please forgive my ignorance if this issue is too "simple", but I have literally spent quite a lot of time on it without any success, and I do not know how to proceed further. So any help is much appreciated here.
### Issue / Steps to reproduce the problem
The issue is simple : identityServer4 works perfectly on my dev machine but ever since I have it deployed to production(I use AWS ec2 instance,

[2019-01-20 06:51] kinosang commented on #1557
Hello, how's it going now?

[2019-01-20 09:10] shaikatz commented on #2669
@leastprivilege There are any updates on that issue? we almost fall on that trap as well, this patch broke behaviour for all clients.

[2019-01-20 09:14] kinosang commented on #1557
One more question, how can we retrieve the user information when we use pairwise subject? Should we add a new table to store these pairwise subject or make the subject decryptable?

[2019-01-20 09:16] shaikatz opened #2960 "JWK endpoint content type was changed"
Since #2669 was released in patch version, it broke clients that doesn't know how to handle that contet type.

IMO It should be released as major version.

[2019-01-20 11:44] kinosang commented on #1557
`AllowPairWiseSubject` and `AllowPublicSubject` properties for `Client` model may play well in some scenes.

[2019-01-20 14:55] Sylade opened #2962 "Unable to Call API using application identity from a native application"
Hello,

I would like to make a Identity server and the API in two separate dockers for a native application (client mobile).
It is running on an NGINX Reverse Proxy and Let's Encrypt.

[code]

IdentityServer Dockerfile:
--------------------------

[code]

API Dockerfile:
---------------

[code]

DockerCompose:
--------------

[code]

IdentityServer Startup Code
---------------------------

[code]

[2019-01-21 04:38] fawadali123 opened #2963 "I am trying to deploy IDS4 on server. everything works fine both on http and https. but when i try to access client.GetDiscoveryDocumentAsync(IDPBaseURL). it returns error. if it is on http is says https required. if on https it gives error The remote certificate is invalid according to the validation procedure."
I am calling /connect/token from within the IDS and it was unable throwing this error. but calling /connect/token from any outside origin (added in allowed Origin)  works fine.

[2019-01-21 04:46] fawadali123 opened #2964 "issue with GetDiscoveryDocumentAsync(IDPBaseURL)"
I am trying to deploy IDS4 on server. everything works fine both on http and https.  but when i try to access  client.GetDiscoveryDocumentAsync(IDPBaseURL). it returns error. if it is on http is says https required. if on https it gives error "The remote certificate is invalid according to the validation procedure".
I know its not an issue in IDS but unable to get any solution from SO and gitter s

[2019-01-21 06:51] leastprivilege commented on #2964
Wrong repo. Please move to: https://github.com/IdentityModel/IdentityModel2

[2019-01-21 06:51] #2964 closed

[2019-01-21 06:51] #2963 closed

[2019-01-21 06:52] leastprivilege commented on #2962
This seems to be a general question - not a bug report or a feature request.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2019-01-21 06:52] #2962 closed

[2019-01-21 06:57] fawadali123 commented on #2963
Thanks.
I have moved the question.

[2019-01-21 06:58] leastprivilege commented on #2956
The names cannot be changed right now.

[2019-01-21 06:59] leastprivilege commented on #2952
This seems to be a general question - not a bug report or a feature request.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2019-01-21 06:59] #2952 closed

[2019-01-21 07:00] leastprivilege commented on #2916
What @thePmr says. Bearer just doesn't make sense as a default scheme in an application that uses IdentityServer.

[2019-01-21 07:00] #2916 closed

[2019-01-21 09:09] sekoch commented on #2956
@leastprivilege: Thank you for the answer!

I know that ASP.NET Core or IdentityServer itself does not support multi tenancy, but multi tenancy can be simple implemented with a middleware (for checking the path or domain). So no multi tenant feature for the identity server or .net core is needed, but maybe some additional customizing functions I and some others (I think) would appreciate for enabl

[2019-01-21 09:43] Sylade commented on #2962
Hello @leastprivilege

I post it here because my Identity Server version with the hybrid flow isn't working. I can't find his problem and I hope this forum help me.
You link for more details isn't working.

Have a nice day.

[2019-01-21 12:16] barron9 opened #2965 "connect/userinfo returns 403 forbidden"
i can get token from server and i am trying to auth the token validity and get the userinfo with this api.but it returns 403

http://docs.identityserver.io/en/latest/endpoints/userinfo.html

`{"issuer":"http://localhost:5000","jwks_uri":"http://localhost:5000/.well-known/openid-configuration/jwks","authorization_endpoint":"http://localhost:5000/connect/authorize","token_endpoint":"http://localhost

[2019-01-21 13:23] deeyi2000 opened #2966 "when use AddAspNetIdentity, the external providers can't redirect"
### Issue / Steps to reproduce the problem
when I use use AddAspNetIdentity, the external providers can't redirect to client
var builder = services.AddIdentityServer(options =>
            {
                options.Events.RaiseErrorEvents = true;
                options.Events.RaiseInformationEvents = true;
                options.Events.RaiseFailureEvents = true;
                options.Events.Ra

[2019-01-21 13:46] baronnt opened #2967 "Error: Invalid response Content-Type: text/html"
Hi,

I have implemented the Identityserver4 which is being consumed by an Angular 7 client. When running the IdentityServer4 in localhost, everything work fine.
But after deploying it in Dev environment, it throws the following error in the client while trying to authenticate:

ERROR Error: Uncaught (in promise): Error: Invalid response Content-Type: text/html, from URL: identityServer_url/.well-k

[2019-01-21 14:05] thePmr commented on #1625
Newer versions of IS4 2.x [output error on service startup](https://github.com/IdentityServer/IdentityServer4/issues/2846) with such configuration. So proper way would be to use attribute with bearer auth schema:
`[Authorize(AuthenticationSchemes = IdentityServerAuthenticationDefaults.AuthenticationScheme)]`.

[See docs](http://docs.identityserver.io/en/latest/topics/add_apis.html) for info.

[2019-01-21 14:29] MikeBeaton opened #2968 "Quickstart talks about `sub` claim, which doesn't exist"
The second online quickstart [Protecting an API using Passwords](http://docs.identityserver.io/en/latest/quickstarts/2_resource_owner_passwords.html) (which is generated from [this file in the repository](https://github.com/IdentityServer/IdentityServer4/blob/master/docs/quickstarts/2_resource_owner_passwords.rst)) contains the following text at the end of the page:

This is not (or no longer) tru

[2019-01-21 14:34] MikeBeaton commented on #2968
I believe this is almost certainly related to the issue discussed here https://github.com/IdentityServer/IdentityServer3.Samples/issues/173 which suggests that some part of the Microsoft stack (which can be disabled) is converting the some claim names to longer .NET claim names before the user code ever sees them.

[2019-01-21 14:46] rich-zilla commented on #2968
As @MikeBeaton mentioned, this is pure microsoft weirdness. On the `JwtSecurityTokenHandler` class, there are two static properties, `InboundClaimTypeMap` and `OutboundClaimTypeMap`. These map the internal microsoft claim types onto the claims that end up in the token (and vice versa). You can override them (we do it in a static constructor), to return the expected claims.

[2019-01-21 14:59] brockallen commented on #2967
I suspect there's an html error paging being rendered from that endpoint, which indicates something is broken/misconfigured in your IS. Check your logs.

[2019-01-21 15:01] brockallen commented on #2965
Check your IS logs.

[2019-01-21 15:02] brockallen commented on #2968
I'm confused. What's the issue or problem?

[2019-01-21 15:03] brockallen commented on #2889
All set on this issue -- can we close?

[2019-01-21 15:03] #2891 closed

[2019-01-21 15:03] brockallen commented on #2893
Are you still looking for this class to be made public?

[2019-01-21 15:05] brockallen commented on #2894
IIRC, the spec mandates the status code and error codes sent back on failures. Are you asking to allow the response to override what the spec mandates, or are you asking for something else?

[2019-01-21 15:05] brockallen commented on #2895
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2019-01-21 15:05] #2895 closed

[2019-01-21 15:07] brockallen commented on #2896
Dup: #1486

[2019-01-21 15:07] #2896 closed

[2019-01-21 15:08] brockallen commented on #2908
Did you ever sort this out? FYI for offline access consent is always required, so perhaps that's why you're seeing it?

[2019-01-21 15:08] brockallen commented on #2945
All set on this issue -- can we close?

[2019-01-21 15:09] brockallen commented on #2948
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2019-01-21 15:09] #2948 closed

[2019-01-21 15:09] brockallen commented on #2951
The release branch is no more -- it's master and dev, IIRC.

[2019-01-21 15:09] #2951 closed

[2019-01-21 15:10] MikeBeaton commented on #2968
I've tried to be completely clear in my issue?

The current quickstart guide says that there will be a claim named `sub` when you do a username/password authentication (and that you can/should use the existence of this claim "to distinguish between calls on behalf of clients and calls on behalf of users").

But - after implementing the quickstart code (and on double-checking, with the reference im

[2019-01-21 15:10] brockallen commented on #2966
You're going to have to investigate further to understand and explain if and what the bug is in IdentityServer. The external provider coordination is your code, not IdentityServer.

[2019-01-21 15:11] brockallen commented on #2960
That's a tricky one, as it was technically a bug.

[2019-01-21 15:13] brockallen commented on #2955
That's in your WebAPI, not in IS, so this seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2019-01-21 15:13] #2955 closed

[2019-01-21 15:13] MikeBeaton commented on #2968
@rich-zilla Even your solution is no longer correct, the field has since been renamed to `DefaultInboundClaimTypeMap`!

[2019-01-21 15:17] brockallen commented on #2968
The `nameidentifier` claim type is Microsoft's mapped version of the `sub` claim and it's wrong of them to have done what they do. Thankfully they have the `DefaultInboundClaimTypeMap` which we can use to clear their incorrect behavior. So are you saying that's not done in the QS code?

[2019-01-21 15:24] MikeBeaton commented on #2968
I am indeed saying that that is not done in the QS code. I didn't know what your preferred solution would be - maybe it would have been to go with the Microsoft naming, for all I knew! But no, it is not overridden in the sample code!

One problem with changing the mapping, though, is that - at least at first sight - it seems that doing that could potentially break other things if one was using oth

[2019-01-21 15:48] brockallen commented on #2968
Yes, agreed, but they only designed it as a static. They're not quite on the ball with respect to a modern design there.

[2019-01-21 15:50] MikeBeaton commented on #2968
The easiest fix seems to be to add `JwtSecurityTokenHandler.DefaultInboundClaimTypeMap = new Dictionary<string, string>();` in [2_ResourceOwnerPasswords/src/Api/Startup.cs](https://github.com/IdentityServer/IdentityServer4.Samples/blob/master/Quickstarts/2_ResourceOwnerPasswords/src/Api/Startup.cs), maybe at the top of `ConfigureServices(...)`.

I've no idea whether that is safe or future proof! O

[2019-01-21 16:03] jingliancui opened #2969 "How to use client oidc serve to the identityserver protected api"
I have config the oidc client(WPF) and the IdentityServer with oidc and aspnetidentity.
Then after i use wpf oidc login succeed. I use wpf's httpclient with token to serve to the identityserver's protected api which use [Authorize] attribute .
Result is the httpclient's result is html that redirect me to to login page content.
Then i add the the code to the identityserver's service method
[code]
A

[2019-01-21 16:22] jingliancui commented on #2969
for example:
after add [Authorize] to the action in the Identityserver(not the api project,It's the identityserver's controller),
the wpf(use oidc token) still can not serve the action which is added [Authorize] .
But if I use webbrowser(Microsoft Edge) to login .After this , I can serve the action.

[2019-01-21 16:52] MikeBeaton commented on #2968
Having just gone on to the next section, it turns out that you *do* include the relevant line `JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();` in [quickstarts/3_interactive_login.html](http://docs.identityserver.io/en/latest/quickstarts/3_interactive_login.html) - which may explain your sense that you'd already done this! But it's indeed still not in either of the first two sections.

[2019-01-21 16:54] MikeBeaton commented on #2968
Dear @brockallen - Having just gone on to the next section, it turns out that you do indeed include the relevant line `JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();` in [quickstarts/3_interactive_login.html](http://docs.identityserver.io/en/latest/quickstarts/3_interactive_login.html) - which may explain your sense that you'd already done this! (If I correctly picked up that you had

[2019-01-21 16:57] barron9 commented on #2965
Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 POST http://localhost:5003/connect/introspect application/x-www-form-urlencoded 644
IdentityServer4.Hosting.EndpointRouter:Debug: Request path /connect/introspect matched to endpoint type Introspection
IdentityServer4.Hosting.EndpointRouter:Debug: Endpoint enabled: Introspection, successfully created handler: Iden

[2019-01-21 17:05] bpetersen1 commented on #2954
Hi brockallen,

Thanks for taking the time to comment. Sorry i didnt add enough detail here as i though the stackover flow link would be enough.

Anyway, got it sorted, as per the stack overflow link

[2019-01-21 17:59] amiteshs commented on #2889
Hi
No I am still trying to get an answer as to how to solve this issue. Is there a way IDS can pass over data to the web app telling it about the client asking for permission? I need to display something like, Company XYZ is asking for permission to use your data..... My issue is I cannot tell the web app about the client info.

[2019-01-21 18:02] brockallen commented on #2969
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2019-01-21 18:02] #2969 closed

[2019-01-21 18:04] #2954 closed

[2019-01-21 18:04] brockallen commented on #2889
That's the client_id. You can always add extra claims via the `Client` setting called `ClientClaims`.

[2019-01-21 18:30] andrx commented on #2894
hi @brockallen, I guess we are talking about [this one](https://tools.ietf.org/html/rfc6749#section-5.2).
Indeed, I don't see `user_not_found` as an option for `error` property. And `401` could only be sent when it's `invalid_client` otherwise it's `400`.
In this case Google wants specific response:

	HTTP/1.1 401 Unauthorized
	Content-Type: application/json;charset=UTF-8

	{
	  "error":"user_not_

[2019-01-21 18:31] amiteshs commented on #2889
I just rechecked the passed in return url parameter and it does have a client_id in it. I will need to parse the return url and extract the client_id. This should not be a problem, It would however have been better if this was passed as an extra parameter together with the return url parameter.
Thanks for pointing this out.

[2019-01-21 19:37] tungsnguyen commented on #2893
Hello. Yes I am, because unfortunately I could not replace Component Space SAML with integrated SAML component.

[2019-01-21 20:35] barron9 commented on #2965
https://github.com/IdentityServer/IdentityServer3.Samples/blob/master/source/Clients/SampleAspNetWebApi/Startup.cs#L17-L25

[2019-01-21 20:35] #2965 closed

[2019-01-21 20:36] barron9 commented on #1862
issue resolved.
[code]

[2019-01-21 21:41] artchess commented on #2846
think the same.

[2019-01-21 22:22] djosemartine commented on #444
The last link from @leastprivilege is broken.

[2019-01-21 22:51] #2889 closed

[2019-01-21 22:53] brockallen commented on #2748
Fixed, thanks.

[2019-01-21 23:47] dviry commented on #2945
Sure, if you think my solution above is the right setting then I'm set.

Thanks

[2019-01-22 02:55] jingliancui commented on #2969
Ok,after bing searched.
Solution is in identity server 's
Startup Service configure:
[code]

Then in identityserver's controller add this:
`AuthenticationSchemes="Bearer"`
for example:
        [Authorize(AuthenticationSchemes="Bearer",Roles = "Administrator")]
        public IActionResult AdminCheck()
        {
            return Content("OK");
        }

[2019-01-22 02:57] Goxiaoy commented on #2738
`//Configure this after identityServer
            services.ConfigureApplicationCookie(options =>
            {
                options.Events.OnRedirectToAccessDenied =
                    options.Events.OnRedirectToLogin = c =>
                    {
                        if (c.Request.Path.StartsWithSegments("/api")
                            && c.Response.StatusCode == StatusCodes.Status200O

[2019-01-22 02:58] Goxiaoy commented on #2738
[code]

[2019-01-22 03:00] jingliancui commented on #2969
https://github.com/brockallen/IdentityServerAndApi/blob/master/IdentityServerHost/TestController.cs

[2019-01-22 03:56] AutismPatient commented on #2925
**It also doesn't get to the root of the problem**

[2019-01-22 05:40] AkshayaEshwar opened #2970 "i want to create my own identityserver with openid in mvc.I tried this tutorial but on build it shows lot of errors."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-01-22 05:44] AkhilRajMR commented on #2952
@leastprivilege  "See here for more details." link showing a page not found exception.

[2019-01-22 06:48] leastprivilege commented on #2952
sorry!

See [here](https://identityserver4.readthedocs.io/en/lastest/intro/support.html) for more details.

[2019-01-22 06:49] leastprivilege commented on #2970
not enough info.

[2019-01-22 07:37] PresidentCamacho commented on #2908
Nope, I never did. I just went with another solution.

[2019-01-22 09:47] LindaLawton opened #2971 "String vs string typo in IdentityServer4.AspNetIdentity"
### Issue / Steps to reproduce the problem

I just ran across a typo while digging in the code we have a small issue with

[UserClaimsFactory.cs#L53](https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/blob/826829a65402a1943c1cc6d65476ca536a7cb7b4/src/UserClaimsFactory.cs#L53)

[UserClaimsFactory.cs#L67](https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/blob/826829a6540

[2019-01-22 11:04] LindaLawton commented on #2971
String  <-- capital letter `S`

[What is the difference between String and string in C#?](https://stackoverflow.com/q/7074/1841839)

[2019-01-22 12:34] brockallen commented on #2971
IMO, since these are static methods I prefer the class name.

[2019-01-22 12:36] brockallen commented on #2945
As Dom recently stated, this is not a forum. It's an issue tracker for IdentityServer bugs and feature requests.

[2019-01-22 12:36] #2945 closed

[2019-01-22 13:04] enikitin opened #2972 "TokenRequestValidator.ValidateAuthorizationCodeRequestAsync: Bad logging for invalid redirect_uri"
### Issue / Steps to reproduce the problem

Obtain an authorization code with a PascalCase _redirect_uri_ (**http://localhost:46688/AuthCodeClient.html** in my case), then try to obtain an access token with a lowercase _redirect_uri_ (**http://localhost:46688/authcodeclient.html**).
Response:
{
  "status": 400,
  "statusText": "Bad Request",
  "response": "{\"error\":\"unauthorized_client\"}"
}

T

[2019-01-22 13:05] andrewryan-andie opened #2973 "tutorial links are dead"
1. Go to any Quickstart samples [link here](https://github.com/IdentityServer/IdentityServer4.Samples/tree/master/Quickstarts)

2. Go to any sample, say client credentials [link here](https://github.com/IdentityServer/IdentityServer4.Samples/tree/master/Quickstarts/1_ClientCredentials)

3. Go to readme.md and click on tutorial link, which is [this link](http://docs.identityserver.io/en/release/qui

[2019-01-22 13:09] #2971 closed

[2019-01-22 13:11] leastprivilege commented on #2973
fixed. thanks.

[2019-01-22 13:11] #2973 closed

[2019-01-22 13:13] leastprivilege commented on #2972
Will look into it. thanks!

[2019-01-22 13:15] leastprivilege commented on #2958
I understand - but there is always a tension between descriptive error messages and information leakage. The logs are the right place to search for such problems.

[2019-01-22 19:41] Bogatinovski commented on #444
So is it possible to use Active Directory with Identity Server?

[2019-01-22 21:10] brockallen commented on #444
Yes.

[2019-01-22 21:21] Bogatinovski commented on #444
Please let me clarify my case, What I am trying to do is I want to make my IdentityServer act as an Active Directory and connect it with windows computer as such, so that I can log in on my computer using my IdentityServer account. Can I do this with IdentityServer ? I guess IdentityServer needs to implement the LDAP protocol in order to support this scenario. Is my guess right ?

[2019-01-22 22:12] Bogatinovski commented on #444
What you have described is how IdentityServer can use existing ActiveDirectory to authenticate users who already have accounts in it.
What I want to do is completely the opposite scenario. I want to have my IS to act as a SSO implemented with AspNetIdentity and SQL server storage. So now let's imagine I have this AspNetIdentity database with users and roles and IdentityServer connected to it. I am

[2019-01-22 22:42] brockallen commented on #444
That sounds you're asking if windows can support users logging into windows with a non-windows account.

[2019-01-22 22:54] Bogatinovski commented on #444
Yes you are right. My understanding is that you can configure Windows to use users from any Active Directory Service. In this [wikipedia url](https://en.wikipedia.org/wiki/Active_Directory) AD is defined as:

I guess I am asking if I can turn my IdentityServer into this kind of a active directory domain controller, perhaps by implementing the LDAP protocol.

[2019-01-23 01:43] granthoff1107 opened #2974 "Authorization Code Flow Without using MVC"
I'm using angular and to Obtain my Authorization Code.  I'm trying to figure out how to obtain my tokens through Identity Server 4.

When I do this using MVC I can resolve my request (using as stated in the examples)

        [HttpPost]
        [AllowAnonymous]
        [ValidateAntiForgeryToken]
        public IActionResult ExternalLogin(string provider, string returnUrl = null)
        {

[2019-01-23 02:30] brockallen commented on #444
That's a question for Microsoft.

[2019-01-23 05:56] leastprivilege commented on #2974
This seems to be a general question - not a bug report or a feature request.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/latest/intro/support.html) for more details.

Thanks!

[2019-01-23 05:56] #2974 closed

[2019-01-23 13:35] AkhilRajMR commented on #2952
Thanks, @leastprivilege ,  I have partially completed an Authorisation Code flow. I have achieved the login scenario. After clicking 'Yes, Allow' debugger hit the 'IsActiveAsync()' in Profile service with proper claims. But  the app still creates an error in postman like :

     'Could not complete OAuth 2.0 login. Check Postman Console for more details.'

Postman Console shows an Access denied me

[2019-01-24 01:33] brockallen opened #2976 "Consider adding a context/properties bag with persisted grants"
*shower thoughts*

I don't know if we already have a place for this, but I'll open this issue as a reminder to investigate. Not sure how useful it might be either, but I was looking at ideas around session extension related to refresh token renewal as per listserv discussions. Just wanted to see if sid could be tracked somewhere in our persisted grants, and then perhaps used on renewal elsewhere t

[2019-01-24 01:35] brockallen commented on #2925
So did you all sort out if there's a problem or not? I don't think anyone here has had time to look into this.

[2019-01-24 01:56] brockallen commented on #2876
I just did these exact steps and it's working -- the nuget installs fine.

[2019-01-24 02:08] brockallen commented on #2909
Yes, given how ASP.NET Identity changed, we had to rework this to accommodate it. In short, the settings on the cookie options really are what should control those URLs. If you set them on IdentityServer, then we honor them, but they may not be in sync with the paths on the cookie options (mainly due to ASP.NET Identity using different values).

So at this point -- do you still have an issue, or d

[2019-01-24 02:32] 812169562 commented on #2894
now，
（context.Result = new GrantValidationResult(TokenRequestErrors.InvalidRequest, ex.InnerException.Message);）
。I want  set Response.StatusCode=200，What shall I do?

[2019-01-24 02:48] brockallen commented on #2918
I just tried to repro your issue by creating an in-memory cache (I don't have redis), and I tried to make it as close to yours as possible. Here's mine:

[code]

And it's in DI like this:

[code]

And my clients seem to be working for me. So can you help me adjust my sample to have the same issue your redis cache is having so I can repro the issue?

[2019-01-24 02:50] brockallen commented on #2894
So @andrx, you seem to be in agreement that we don't want to change the status codes so that we stay spec compliant? If so, we can close this?

[2019-01-24 02:53] brockallen commented on #2848
@chubbyerror do you have any additional inputs into this conversation? In our EF code we always eager load all child tables, so I don't see this as changing our behavior.

[2019-01-24 02:56] brockallen commented on #2872
The records in the persisted grant table are identified by the key. I'd not say that's unconventional; it's the appropriate design. Perhaps they could have had an `int Id` identity column, and then the `Key` could be a unique index, but the `Id` would never be used in any of our usage patterns.

[2019-01-24 02:57] brockallen commented on #2877
All set on this issue -- can we close?

[2019-01-24 02:57] #2879 closed

[2019-01-24 02:57] brockallen commented on #2883
All set on this issue -- can we close?

[2019-01-24 02:58] brockallen commented on #2886
Closing. If you still have issues, feel free to reopen.

[2019-01-24 02:58] #2886 closed

[2019-01-24 02:58] brockallen commented on #2900
Any update?

[2019-01-24 03:00] brockallen commented on #2920
Any update?

[2019-01-24 03:00] #2934 closed

[2019-01-24 03:00] brockallen commented on #2935
Closing. If you still have issues, feel free to reopen.

[2019-01-24 03:00] #2935 closed

[2019-01-24 03:01] brockallen commented on #2940
Any update?

[2019-01-24 03:03] i8beef commented on #2883
Unless you wanna tell me my assessment above is completely off, yes we can close. I'll reopen if the issue comes back, but I think it was just my settings weren't right.

[2019-01-24 03:06] brockallen commented on #2956
This isn't something we're in a position to design and support in the core implementation at this time. If you can get it working, then great, but we can't support that now. Thanks.

[2019-01-24 03:06] #2956 closed

[2019-01-24 03:08] brockallen commented on #2957
Any update? If not, then, as always, check the logs.

[2019-01-24 03:08] brockallen commented on #2966
Any update?

[2019-01-24 03:08] brockallen commented on #2967
Any update?

[2019-01-24 03:19] brockallen commented on #2883
The RT behavior is absolute by default: https://github.com/IdentityServer/IdentityServer4.Storage/blob/dev/src/Models/Client.cs#L211

If you have the mode as absolute configured, then that's all that's in play.

If you have sliding mode configured, then if you don't use the RT in the `SlidingRefreshTokenLifetime` then it's expired. If you use it within that window, then it slides. It's always capp

[2019-01-24 04:06] i8beef commented on #2883
Right. So I ended up using the following:

[code]

My understanding is this should give me a refresh token that can be used for however many days I specify (default 30 days here), can only be used to renew once and is handed a new refresh token with the new access token, and can be refreshed indefinitely. This seems to be more stable now for a long living connection. Sound about right? If so go ah

[2019-01-24 04:54] deeyi2000 commented on #2966
yes,I create a project with is4admin template, it has same problem,and I find out _userManager.CreateAsync  can run succed,but it can't write to database.so, when redirect to Authorize/Callback endpoint, it can't find user in database,then redirect to login.
ps: all of motheds in _userManager perfrom write database can't really write!

[2019-01-24 05:30] TomCJones commented on #444
Fwiw the internal protocol for Windows auth is Kerberos, NTLM or TLS. There's an example of doing that in Microsoft docs. I would not recommend that you go there. IMHO

thx ..Tom (mobile)

On Jan 22, 2019 6:31 PM, Brock Allen <notifications@github.com> wrote:

That's a question for Microsoft.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it

[2019-01-24 07:35] mneshasteh commented on #1565
IdentityServer4

[2019-01-24 08:16] woailibain opened #2977 "In Hybrid flow, refresh access_token doesn't use refersh_token. After I clean all the data in IPersistedGrantStore, the access_token always can refresh"
I use the sample from https://github.com/IdentityServer/IdentityServer4.Samples/tree/master/Quickstarts/5_HybridFlowAuthenticationWithApiAccess
I modify the client's AccessTokenLifetime to 600 in QuickStartIdentityServer. I make sure the grant type is HybridAndClientCredentials
I run the mvcClient,IdentityServer and login success. after 20 mins, I clean all the data in IPersistedGrantStore.  than

[2019-01-24 10:18] Bogatinovski commented on #444
Thanks for the protocols clarification. I guess you are right about not wanting to go that way. Instead I will settle with using Azure AD B2C service and use their API to manage the Active Directory right from my IdentityServer. With this in place I can then easily join Windows computers in the Azure AD Domain.

[2019-01-24 11:30] przemekwojcik commented on #2920
We can close this one. What worked for me was:

[code]

[2019-01-24 11:30] #2920 closed

[2019-01-24 11:38] mrlund commented on #2595
The latest approach from @brockallen worked for me too - as a point of interest I only started experiencing this issue after adding
`services.AddOidcStateDataFormatterCache("oidc");`
in order to fix an intermittent problem I was seeing with "Correlation failed" errors that I believe was related to the state sometimes being too large. Before that iOS/Safari login was working fine.

[2019-01-24 11:56] faithword opened #2978 "Add Client.Id and or Client.Name to UserLoginSuccessEvent and UserLoginFailureEvent"
We use the `UserLoginSuccessEvent` and `UserLoginFailureEvent` raised during user authentication/token validation to record user login attempts using a custom `IEventSink` implementation.
However, it is not straightforward to determining which Client the user is login in from.

We currently determine which client the login attempt is coming from through other means but it will be nice and easier t

[2019-01-24 11:57] chubbyerror commented on #2848
@brockallen i think your right .
it's only work on a few version mySQL .

[2019-01-24 13:10] StevenLiekens opened #2979 "[Question] unexpected id_token from refresh token response"
As stated in #89, an id_token can only be requested using a flow specified in OpenID Connect. I was surprised to learn that refresh_token flow **does** produce id_token responses when the refresh token was obtained from a custom grant_type.

[2019-01-24 13:42] #2883 closed

[2019-01-24 13:45] brockallen commented on #2966
Ah you're using the is4admin template? They set the auto save changes to false. You can set it to true.

// @scottbrady91

[2019-01-24 13:45] #2966 closed

[2019-01-24 13:47] brockallen commented on #2966
Ah you're using the is4admin template? They set the auto save changes to false. You can set it to true.

https://github.com/aspnet/AspNetIdentity/blob/a24b776676f12cf7f0e13944783cf8e379b3ef70/src/Microsoft.AspNet.Identity.EntityFramework/UserStore.cs#L111

// @scottbrady91

[2019-01-24 13:49] brockallen commented on #2977
I think in QS5 we are still using the in-memory grant store. So what data are you clearing and how?

[2019-01-24 13:50] brockallen commented on #2848
Closing. If you still have issues, feel free to reopen.

[2019-01-24 13:50] #2848 closed

[2019-01-24 15:20] fuzzzerd commented on #2877
I have solved my issue yes. It would be great for some confirmation that this is an accepted approach for such testing scenarios and perhaps a documentation update or note at least mentioning it.

[2019-01-24 15:20] #2877 closed

[2019-01-24 16:30] briankitt commented on #2940
Sorry, I've been too tied up on other projects, I've not had time to debug
this.  Hoping to get time to debug this by Monday.

On Wed, Jan 23, 2019 at 8:01 PM Brock Allen <notifications@github.com>
wrote:

[2019-01-24 16:43] danwize opened #2980 "Unable To Create Migrations Unsupported Pattern"
After upgrading to IdentityServer4 2.3.2 I found that I need to add migrations to update my IdentityServer database.  When I try to create a migration to add the new Identity Server columns, I get this error:

Unable to create an object of type 'PersistedGrantDbContext'. For the different patterns supported at design time, see https://go.microsoft.com/fwlink/?linkid=851728

The verbose option tell

[2019-01-24 17:04] danwize commented on #2980
I found my problem:  This is my SetUpIdentityServerService called by my ConfigureServices method:

private void SetUpIdentityServerService(IServiceCollection services, string connectionString, string migrationsAssembly)
        {
            var idServerService = services.AddIdentityServer()
                .AddSigningCredential(GetSigningCertificate())
                .AddResourceOwnerValidator<R

[2019-01-24 17:07] andrx commented on #2894
@812169562 you probably need to do something similar to what I implemented, pass `customResponse` with the code and then add logic to handle this on `TokenErrorResult` side.

[2019-01-24 17:10] andrx commented on #2894
@brockallen I agree with you.

[2019-01-24 17:10] #2894 closed

[2019-01-24 17:14] danwize commented on #2980
Oops, I had the wrong path when I ran the add-migration command.  It should have been Data/Migrations/IdentityServer/PersistedGrantDb. When I had the wrong path, a new file with

partial class ConfigurationDbContextModelSnapshot was created with caused my conflicts.

[2019-01-24 17:14] #2980 closed

[2019-01-25 03:48] raime910 commented on #2957
I changed my approach to take out the AddTestUsers and do my own seeding into the SecurityDbContext.
And as long as I am using the same connection instance, it works. So I implemented a singleton pattern for the in memory SQLite connection.

I feel like my approach is too "hacky" (for lack of a better term). So I was wondering if this is even the right way to do integration test in IS4 using a cus

[2019-01-25 06:34] woailibain commented on #2977
here is the constructor in AccountController in IdentityServer

[code]

[2019-01-25 06:42] woailibain commented on #2977
@brockallen , no matter what the GrantStore is, I can add or delete the persistedGrants by using IPersistedGrantStore, isn't it？

[2019-01-25 06:54] #2967 closed

[2019-01-25 07:06] baronnt commented on #2967
Yes, it turns out that IIS was not rendering html properly. Now its working. Thanks.

[2019-01-25 07:07] raime910 commented on #2957
That is what I meant. So if I AddTest with a username: alice and password: Pass123$ I should be able to login with it, right? No?

[2019-01-25 07:26] baronnt opened #2981 "Sorry, there was an error : unauthorized_client"
Hi,
I have implemented an angular 7 client which consumes the Identity Server 4. When running the client in localhost, its working fine. But when I deploy it in Dev environment, its giving me a "unauthorized_client" error.

Here is the client configuration in Identity Server 4:

 new Client
            {
                ClientId = "client_angular",
                ClientName = "UserApp",

[2019-01-25 14:22] brockallen commented on #2981
check the logs

[2019-01-25 14:23] baronnt commented on #2981
The logs didnt output any error.

[2019-01-25 15:15] #2981 closed

[2019-01-25 15:25] roh85 opened #2982 "Duplicate email_verified claim in id token when AlwaysIncludeUserClaimsInIdToken = true"
When requesting an id token from a client configured with the AlwaysIncludeUserClaimsInIdToken set to true, I receive an id token with the email_verified claim being added twice. Both claims have the same value but written in different casing (lowercase vs proper case).

**Id token contents**
[code]
For testing purposes I also excluded my custom ProfileService and ClaimsPrincipalFactory from the D

[2019-01-25 17:52] brockallen commented on #2982
Are you certain it's in the id_token twice?

[2019-01-25 18:13] victorud commented on #2337
@tparikka  What did you update?

Am having the same issue here

   at System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode()
   at Microsoft.IdentityModel.Protocols.HttpDocumentRetriever.GetDocumentAsync(String address, CancellationToken cancel)
   --- End of inner exception stack trace ---
   at Microsoft.IdentityModel.Protocols.HttpDocumentRetriever.GetDocumentAsync(String address, Cancel

[2019-01-25 19:01] tparikka commented on #2337
@victorud In the project settings for my STS I was set to host on HTTPS, but in Startup.cs of the client application my Authority was set to http://localhost:5050 instead of https://localhost:5050. It's part of the ConfigureServices method:

            services.AddAuthentication("Bearer")
                .AddIdentityServerAuthentication(options =>
                {
                    options.Aut

[2019-01-27 11:41] xiarha opened #2984 "IdentityServer4 and dotnetcore2.2"
hi, I have a dotnetcore2.1 project with IdentityServer4 and it work. But when I migrate from 2.1 to 2.2 doen't work AccessToken return null. Why?

[2019-01-27 13:09] brockallen commented on #2984
Check your logs.

[2019-01-28 07:18] alain27espina opened #2985 "Convert External Idp Login to Local Login"
Is there an equivalent method for IdentityServer3's **CreateSignInRequest** in IdentityServer4? Basically what I want to achieve is when a certain client passed an external idp and tenant to IdentityServer4 authorization endpoint. On OnRedirectToIdentityProvider event,  i have to check additional rules for that tenant based on our records. If it doesn't passes the rules then I would like to restar

[2019-01-28 12:36] xiarha commented on #2984
#Software: Microsoft Internet Information Services 10.0
#Version: 1.0
#Date: 2019-01-28 12:31:44
#Fields: date time s-ip cs-method cs-uri-stem cs-uri-query s-port cs-username c-ip cs(User-Agent) cs(Referer) sc-status sc-substatus sc-win32-status time-taken
2019-01-28 12:31:44 192.168.4.73 GET / - 443 - 192.168.4.73 Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Ch

[2019-01-28 12:37] xiarha commented on #2984
Startup client

using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.EntityFrameworkCore;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection;
using System.IO;
using Microsoft.IdentityModel.Tokens;
using Microsoft.AspNetCore.Authorization;
using Newtonsoft.Json;
using KSM.Database.AppDB.Models;
using KSM.IdentityProvider.Inter

[2019-01-28 12:37] leastprivilege commented on #2984
The IdentityServer logs - not IIS.

Posting the code will not help.

[2019-01-28 12:37] xiarha commented on #2984
program client
using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Hosting;
using Microsoft.Extensions.Configuration;
using Microsoft.AspNetCore;

namespace KSM.Web
{
    public class Program
    {
        public static void Main(string[] args)
        {
          //  BuildWebHost(args).Run();
            Crea

[2019-01-28 12:38] xiarha commented on #2984
startup identity server

using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Configuration;
using Microsoft.EntityFrameworkCore;
using System.Reflection;
using KSM.AuthProvider.Data;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using System;
using Microsoft.Extensions.Logging;

namesp

[2019-01-28 12:39] xiarha commented on #2984
program indentity
using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Threading.Tasks;

using Microsoft.AspNetCore;
using Microsoft.AspNetCore.Hosting;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Logging;
using KSM.AuthProvider.Data;
//using Microsoft.AspNetCore.Hosting.Internal;
/

[2019-01-28 12:39] xiarha commented on #2984
config.cs indentity

using IdentityModel;
using IdentityServer4;
using IdentityServer4.Models;
using IdentityServer4.Test;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Security.Claims;
using System.Threading.Tasks;

namespace KSM.AuthProvider
{
    public class KSMConfig
    {
        // scopes define the API resources in your system
        public static IEnumer

[2019-01-28 12:41] xiarha commented on #2984
in debug Token.Error= Internal Server Error 500 only if I use .netcore2.2

[2019-01-28 12:41] xiarha commented on #2984
client file
<Project Sdk="Microsoft.NET.Sdk.Web" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>

    <UserSecretsId>aspnet-KSM.Web-64fd9de1-b149-45c0-a580-e72a89825f40</UserSecretsId>
    <AssemblyName>KSM.Web</AssemblyName>
    <RootNamespace>KSM.Web

[2019-01-28 12:44] xiarha commented on #2984
identityserver
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>
    <UserSecretsId>aspnet-KSM.Web-64fd9de1-b149-45c0-a580-e72a89825f40</UserSecretsId>
    <AssemblyName>KSM.AuthProvider</AssemblyName>
    <RootNamespace>KSM.AuthProvider</RootNamespace>
    <IsTransformWebConf

[2019-01-28 14:44] brockallen commented on #2985
Your client can send prompt=login on the authorize request. Check the params: http://docs.identityserver.io/en/latest/endpoints/authorize.html

[2019-01-28 14:58] xiarha opened #2986 "Error Update IdentitySErver4 2.2.0 to 2.3.2 what is wrong?"
2019-01-28 15:52:26.612 +01:00 [WRN] Using an in-memory repository. Keys will not be persisted to storage.
2019-01-28 15:52:26.639 +01:00 [WRN] Neither user profile nor HKLM registry available. Using an ephemeral key repository. Protected data will be unavailable when application exits.
2019-01-28 15:52:26.653 +01:00 [WRN] No XML encryptor configured. Key "9e429ae6-13fb-4c42-b815-f433eeeaa24f" may

[2019-01-28 15:14] alain27espina commented on #2985
The OnRedirectToIdentityProvider event that I'm talking about is on the IdentityServer host for the addwsfederation middleware that redirects to another provider if the tenant acr value that was passed in passed the rules.

[2019-01-28 16:34] leastprivilege commented on #2986
2019-01-28 15:52:27.637 +01:00 [DBG] KSMWeb found in database: false
2019-01-28 15:52:27.640 +01:00 [ERR] No client with id 'KSMWeb' found. aborting

That looks like it's the problem.

[2019-01-28 16:37] leastprivilege commented on #2984
Are you using Entity Framework? Have you run migrations?

[2019-01-28 20:38] 2018Barreto commented on #2172
Oi, estou add um app Gity. Tudo bem, obrigada.

[2019-01-29 03:45] woailibain commented on #2977
Is it a bug ? If no, please help

[2019-01-29 09:38] scottbrady91 commented on #2977
Both the in-memory and EF implementations of `IPersistedGrantStore` are working correctly. Both add and delete functionality are working as expected.

It might be worth looking into what implementation of `IPersistedGrantStore` you are using, and if that implementation is behaving as you expect.

[2019-01-29 11:06] senorpinatta opened #2987 "Moving from Development to Production. Unsure about HTTPS errors"
### **0.**

Hello

Mvc project successfully communicated with IdentityServer (IDS) when both were in development environment (localhost).

### **1.**
When IDS is deployed to production environment (https://identity.placeholder.url), Mvc app can no longer successfully communicate with it and the error is produced:

    Issuer name does not match authority: http://identity.placeholder.url

This seem

[2019-01-29 11:18] Ponant commented on #2536
@leastprivilege , I need to know what your priorities are.
I went through the first tutorial 1 ClientCredentials and followed it step by step on a windows machine using Visual Studio 2019 preview executing every command that is written and copy pasting the Client Program.cs as it is not present in the rst doc file (you provide a link, though). I can make it run properly but only if I modify the co

[2019-01-29 12:53] leastprivilege commented on #2536
OK - thats good feedback. It would be great if you add the additional steps.

wrt HTTPS - I don't care too much. It's all localhost.

[2019-01-29 12:55] leastprivilege commented on #2987
Check the deployment docs - sounds like a "running behind reverse proxy" problem.

[2019-01-29 14:57] Sebosek opened #2988 "When IdS attaches authorize_code to response redirect?"
Hi,

my problem can be described as following: after redirect from Authorize endpoint redirect doesn't contain authorize_code. I'm using this sample request `http://localhost:5003/identity/connect/authorize?client_id=client.web&response_type=code&scope=profile&redirect_uri=http://localhost:12345/signin-oidc`.

edit: Basically I'm trying to do the same thing like it is in `IdentityServer4.Quickstar

[2019-01-29 21:12] rbanks54 commented on #2931
@brockallen As a note the docs and quickstart samples will need to be updated, though it might be worth waiting until the various patches are released (as per https://github.com/aspnet/AspNetCore/issues/6486).

Given this comment on the aspnet core announcement in the 3.0 section:
"...considering removing the Microsoft.AspNetCore.Authentication.Google package and directing users to Microsoft.AspNe

[2019-01-29 21:49] Sylade commented on #324
Hello @kkaung
I readv the comments here and I seen than I have a same problem as you.
I posted my problem on https://stackoverflow.com/questions/54293098/unable-to-call-api-using-my-identity-server-from-a-native-application/54389250#54389250
I had the middleware after UseIdentityServer as you but I always have the message "Internal server error" when I launch the API call.
Could you show me where

[2019-01-30 00:12] PingPongSet opened #2989 "Unable to host ASP.NET Core as Windows Service"
I have problem setting up the app from the link below as Windows service

https://github.com/IdentityServer/IdentityServer4.Samples/tree/master/Quickstarts/2_ResourceOwnerPasswords/src/IdentityServer

Whenever the first request is sent to the Windows Service, it is stopped, and the error is generated:
Error from ResourceOwnerClient:
`Error connecting to http://localhost:1234/.well-known/openid-con

[2019-01-30 01:15] Jebarson commented on #2337
Use the login.microsoftonline.com for the instance in appsettings.json

"Instance" :  "https://login.microsoftonline.com/"

[2019-01-30 01:48] ckpearson opened #2990 "Documentation lacks mobile-app scenario information & https considerations"
I'm currently working on a project utilising IdentityServer4, with which there will be a native mobile app (iOS).

I'm not 100% certain on whether this belongs here, so feel free to close / discuss.

Essentially I ran headlong into .net core's dev-certs not being supported by iOS due to the certs being self-issued rather than having a CA that iOS can trust.

The documentation for IDS4 is lacking a

[2019-01-30 03:19] woailibain commented on #2977
@scottbrady91 , I used Quick Start 5 sample which use the in-memory implementation, it can add and delete the data.
But my trouble is the access_token can always be refresh with the invalidate refresh_token which I had deleted in HybridAndClientCredentials flow.

In Authorize Endpoint , is it any refresh_token checking when the access_token refresh in HybridAndClientCredentials flow?

[2019-01-30 04:31] Pete-PlaytimeSolutions commented on #2248
Does this imply that if you were to have a micro services architecture with dozens of API's, and a single UI , I now need to request an access token from the UI with up to 20-30 individual scopes? One for each individual ApiResource?

[2019-01-30 06:30] bkooistra opened #2991 "Different scopes per grant type"
Hi everyone,

I have the following usecase I wanted your ideas about:

I have an identityserver up and running, multiple applications and API's.

One application needs to be able to send requests to an API. It's a server application, request to this API will not be made on behalf of the user, but rather on behalf of the application, so I thought client credentials would make the most sense in rega

[2019-01-30 07:03] senorpinatta commented on #2987
Thanks for pointing me in the right direction.

[2019-01-30 07:03] #2987 closed

[2019-01-30 07:58] xiarha commented on #2984
Yes I do

2019-01-30 08:57:38.151 +01:00 [WRN] Using an in-memory repository. Keys will not be persisted to storage.
2019-01-30 08:57:38.181 +01:00 [WRN] Neither user profile nor HKLM registry available. Using an ephemeral key repository. Protected data will be unavailable when application exits.
2019-01-30 08:57:38.198 +01:00 [WRN] No XML encryptor configured. Key "b66eb79e-2b52-491b-91e5-4a8e82a

[2019-01-30 09:38] Lords08 commented on #2942
Yeah I think I need this feature too. Because in my organization, for authentication and authorization always using Identity Server 4. Please consider to make this package for Flutter too.
Thanks :D

[2019-01-30 10:17] xiarha commented on #2984
No I haven't this  AddIdentityServer ( options …..

I have this one:

using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Configuration;
using Microsoft.EntityFrameworkCore;
using System.Reflection;
using KSM.AuthProvider.Data;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using System

[2019-01-30 10:18] xiarha commented on #2984
and config.cs

using IdentityModel;
using IdentityServer4;
using IdentityServer4.Models;
using IdentityServer4.Test;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Security.Claims;
using System.Threading.Tasks;

namespace KSM.AuthProvider
{
    public class KSMConfig
    {
        // scopes define the API resources in your system
        public static IEnumerable<A

[2019-01-30 11:23] Ponant commented on #2536
Done

[2019-01-30 13:17] alexsandro-xpt commented on #1476
@brockallen I was added `services.AddIdentityServer().AddAspNetIdentity<User>().AddInMemoryCaching();` but nothing changed. I continue get same ~6 seconds at `/connect/authorize?client_id......` and `/connect/userinfo` URL at silent process.

[2019-01-30 13:28] xiarha opened #2993 "IdentityServer4 Post Migration from 2.2.0 to 2.3.2"
I migrated from netcore 2.1 to netcore 2.2 and migrated IdentityServer4 from 2.2.0 to 2.3.2.

After make command for migration I receive this exception and I can't login.
This excepion is from Identity Server Log…. but look after this exception

2019-01-30 14:24:30.728 +01:00 [WRN] Using an in-memory repository. Keys will not be persisted to storage.
2019-01-30 14:24:30.751 +01:00 [WRN] Neither us

[2019-01-30 13:34] brockallen commented on #2248
Depends how you design your scopes. But having 20-30 scopes sounds like a lot to me, as that becomes unmanagable.

[2019-01-30 13:35] brockallen commented on #2931
Yea, good idea.

[2019-01-30 13:36] brockallen opened #2994 "Update QS docs for Google change"
https://github.com/IdentityServer/IdentityServer4/issues/2931#issuecomment-458708632

[2019-01-30 13:39] brockallen commented on #2991
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/latest/intro/support.html) for more details.

Thanks!

[2019-01-30 13:39] #2991 closed

[2019-01-30 13:43] brockallen commented on #2990
If we had anything, it's just be on the flows to use and how to get the browser launched and the results back. We'd not be covering anything about HTTPS in dev or prod -- that's outside the scope of what our QS should cover. The main problem with docs on mobile is that there are 4+ platforms to describe and each one is different. Perhaps we just have a general doc and people would need to do their

[2019-01-30 13:45] brockallen commented on #2989
Have you gotten a plain ASP.NET Core App hosted as a windows service? Sounds unrelated to IS.

[2019-01-30 14:23] PingPongSet commented on #2989
yes, the same code works for other app. it is strange.

[2019-01-30 16:57] victorud commented on #2337
I later realised it has to do with the route. The issue has been resolved

[2019-01-30 17:07] Ponant commented on #2536
I understand the conclusion in 8_aspnet_identity.rst but, still, it would have been nice to have a tuto that allows one to have a configuration similar to what occurred in 2.0, a full IdentityServerAspNetIdentity with registration etc+ Mvc client + Api. Any insight on that?

[2019-01-30 17:40] Ponant commented on #2536
So you are downgrading the service. I would not advise a half backed solution.

[2019-01-30 19:37] SebastianStehle opened #2995 "Remove default ports from issuer url"
I use IdentityServer4 with an ASP.NET Core API, both hosted in the same API and IdentityServer4.AccessTokenValidation as and authentication scheme.

It works great so far but an user of mine uses an external tool to request tokens and has not full control over each http request.

This tool request the token from https://domain:443/identity-server/... but all other clients do not include the defaul

[2019-01-31 08:10] Ponant commented on #2536
Its a blue moon or what? @brockallen take it easy and stop being condescending. My last post was an advice, not a complaint. If you make a half backed solution then I take the right to advise you that this is a half backed solution that potentially will be viewed as a downgrade of the free service. If you are offended by that or if you put every github user in the same pot then it's better to shif

[2019-01-31 08:30] leastprivilege opened #2996 "Make the UI deal better with OIDC providers that don't have an end_session endpoint"
e.g. Google.

[2019-01-31 11:23] andy194 commented on #668
None of these links resolve correctly?

[2019-01-31 17:02] mbodecek commented on #1944
I agree with @slaneyrw that an intermediary redirect does not seem to be a good technical solution. Why force the user to go through additional communication with the server when all relevant information is available in the first /authorize call already.

Our use case is a multi-tenant architecture, where the service is deciding on the login URL programmatically, where the various different URLs c

[2019-01-31 18:02] Jebarson commented on #2337
@josepoma Doesn't changing your Instance as i mentioned above work for you?

[2019-02-01 07:38] xiarha opened #2998 "IdentityServer4 Exception to login client"
2019-02-01 08:31:23.566 +01:00 [WRN] Using an in-memory repository. Keys will not be persisted to storage.
What I have to do?

2019-02-01 08:31:23.595 +01:00 [WRN] Neither user profile nor HKLM registry available. Using an ephemeral key repository. Protected data will be unavailable when application exits.
?
2019-02-01 08:31:23.608 +01:00 [WRN] No XML encryptor configured. Key "12f2b1df-cda5-4a27-

[2019-02-01 07:47] phantasm33 opened #2999 "Multiple claims with the same claim types are getting merged into one claim."
Good morning,

I need to be able to support users having multiple roles within my application, For example, a user can be Admin and Supervisor, but when I add the claims for this separately, they get merged together into one claims which cause the User.IsInRole to fail.

Here is some sample code that I put together from my IProfileService:
[code]
When I parse the User.Claims collection, this is wh

[2019-02-01 09:03] StevenLiekens commented on #2979
So the question is: shouldn't the grant store remember which grant was used to obtain a refresh token? And then decide whether the refresh_token can be used to obtain an id_token.

[2019-02-01 10:56] amit-sonora commented on #469
above solution link does not exists. Pleas help.

[2019-02-01 13:01] xiarha commented on #2993
No, the problem is not-in process, because I have a webapi application without IdentityServer4 and I did the migration from 2.1 to 2.2 without problem.

Now  after 7 days of concussions I managed to solve!

there were several things that had to be changed:
put <AspNetCoreHostingModel> InProcess is the first and the simplest of things

it was difficult to find everything else, starting from how to

[2019-02-01 13:20] PingPongSet commented on #2989
Please see update 2 on OP

[2019-02-01 13:46] brockallen commented on #2993
All of that code you're describing is not in IdentityServer itself, and rather code you used from a _sample_ of how you might host IdentityServer.

[2019-02-01 13:48] brockallen commented on #2999
IIRC, this was a bug somewhere in the client side parsing of the id_token from Microsoft.

[2019-02-01 13:48] brockallen commented on #2998
Read the docs: http://docs.identityserver.io/en/latest/topics/deployment.html

[2019-02-01 13:51] xiarha commented on #2993
I solve

https://stackoverflow.com/questions/54480504/migration-from-dotnetcore2-1-to-dotnetcore-2-2-and-identityserver4-2-2-0-to-2-3

[2019-02-01 13:51] #2993 closed

[2019-02-01 13:52] twogood commented on #2925
I just ran into a very similar problem today when trying to get an integration test working. I managed to solve it by setting the cookie paths like this:
[code]
It seems like the cookie paths defaults to the same value as that of options.CallbackPath. I think that "/" would be a better default for the cookie paths. (Some more security minded person might disagree...)

[2019-02-01 13:55] twogood commented on #2925
After devising my own solution I also found this:

https://github.com/aspnet/AspNetCore/blob/d8381656429addead2e5eb22ba1356abfb419d86/src/Azure/AzureAD/test/FunctionalTests/WebAuthenticationTests.cs#L192

[2019-02-01 13:56] jingliancui commented on #2925
@twogood Thanks so much , I'll test your solution later  : )
So I want keep this issue still open status.
@brockallen
@AutismPatient

[2019-02-01 15:41] KarenTazayan opened #3000 "How I can validate JWT token offline in IdentityServer4?"
Is there any quick example of how to validate JWT token offline (without introspection endpoint)? Should I go and start to investigate sources?

[2019-02-01 20:17] phantasm33 commented on #2999
Hi Brock,

Thanks for responding to my question. I turned on logging to see if I could trace what was going on. Based upon the screenshot below, it looks like its an issue with how the Access Token in being created somewhere in the pipeline (perhaps the DefaultClaimsService).

<img width="1180" alt="screen shot 2019-02-01 at 2 45 04 pm" src="https://user-images.githubusercontent.com/11747724/52146

[2019-02-02 02:47] brockallen commented on #2999
Well, it's correct in the json above since you can't have two properties with the same name, so the rules are to collapse multiple claims of the same type into an array. You then need to process it on the consumer side to reverse that procedure.

[2019-02-02 02:47] #2999 closed

[2019-02-03 01:42] phantasm33 commented on #2999
Thanks Brock. It appreciate you taken the time to help me out.

[2019-02-03 09:30] Quentinb commented on #984
Pretty poor response from @leastprivilege. Would have expected better considering they build it. If I find useful info, I'll post it here to help others. Facing the same issue. Off to "Read the docs"...

[2019-02-04 07:00] Jehoel commented on #1595
I'm having the same issue - where sometimes it complains that a refresh token wasn't found in the store.

I enabled extra logging in my entire system and I found out that some IdentityServer client website visitors are reusing old `refresh_token` values - when the token is reused a second time it fails. I'm trying to figure out why they aren't dropping the old value.

I suspect that the problem is

[2019-02-04 09:02] asharda1 commented on #2025
Hi Aneequrrehman,
Can you please explain the complete implementation , as I have same issue

[2019-02-04 09:35] Brijak0 opened #3001 "I'm missing a refresh token"
Hi,

I have defined the following client in an implementation of an openid connect authentication server using the Indentityserver 4. The grant type is set to hybrid and from the client definition I would have expected to receive a refresh token.
new Client
                {
                    ClientId = "xxxx.app",
                    ClientName = "xxxxx app",
                    RequireClientSe

[2019-02-04 13:33] AndreiIarovoi commented on #1396
I had the same issue.
Managed to fix that by fixing "Client" object returned by the Config.GetClients() method in IDP project:
1) Client.RedirectUris property should match the client's web app uri (with enabled SSL)
    e.g.: RedirectUris = new List<string>() { "https://localhost:port/signin-oidc" }

2) Client.AllowedScopes object should look like:
    Client.AllowedScopes =
                    {

[2019-02-04 13:41] brockallen commented on #3001
The client must request offline_access as a scope.

[2019-02-04 14:23] Brijak0 commented on #3001
Yes, thanks for the reply, I just worked it myself. :)

[2019-02-04 14:23] #3001 closed

[2019-02-04 14:45] KarenTazayan opened #3002 "Is it possible to validate access token via introspection endpoint with client credentials?"
For example, for the following configuration (I've very simplified it):
[code]
Now I need thee ability to introspect tokens issued for Api1, Api2, etc..., with singlle account (lets call it admin client). Somthind like bellow:
[code]
Summary:

Only one account and only for validation purpose is needed.

Is it possible? If yes, how? If not, why?

Thanks in advance.

[2019-02-05 01:12] brmatola commented on #3000
Microsoft has a library hosted here (https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet) that provides support for validating JWTs among other things. You can use it to consume your OIDC server and run validations locally

[2019-02-05 05:20] arora-kushal opened #3003 "PostLogoutRedirectUri is not working"
Hello!

We are facing an issue that PostLogoutRedirectUri is not working as expected. Below are our configuration and logs.

In the client controller, we are getting the values from below code.

[code]
However, `logout.PostLogoutRedirectUri` is always returning `null`.

### Server

[code]

### Client

[code]

### Client Controller

[code]

### Logs

[code]

![image](https://user-images.githubuserc

[2019-02-05 05:21] sanjaygupta2110 commented on #1396
Thanks Andrei for the solution, I will definitely try this in my
application.

Thanks and Regards

Sanjay Gupta
9891440644

On Mon, Feb 4, 2019 at 7:03 PM Andrei <notifications@github.com> wrote:

[2019-02-05 08:18] KarenTazayan commented on #3000
@brmatola thank you, I'll investigate this library.

[2019-02-05 12:06] asharda1 commented on #2673
@brockallen, I am trying to get to the answer from long but not getting anything complete in any discussion thread.
I have very simple multitenancy case, where user login depends on tenantId passed in acr_values by Tenant argument,
Now, I want to pass this claim back to the user by ProfileService, Please do let me know How we can do this.
also this implementation will work for Silent refresh end p

[2019-02-05 12:19] nikoudel commented on #2673
Update: my initial plan with http://webserver/app1 and http://webserver/app2 didn't work because of the nonce cookie which is issued for the domain. That's a wrong path.

The proper approach is to use separate subdomains for each application like this: http://app1.webserver, http://app2.webserver. Now each domain has it's own cookies and everything works fine.

@asharda1 the client already passes

[2019-02-05 13:16] brockallen commented on #3003
Is there an id_token_hint passed to end session? If not, then we have no proof at signout who the client is.

[2019-02-05 16:33] StanoMartin opened #3004 "Custom IClientStore implementation and DI configuration"
Hi Guys,

I have problem to register my custom IClientStore implementation in Startup.cs within the ConfigureServices method.

My IClientStore implementation looks like:

`public class ClientRepository : IClientStore
    {
        private List<Client> _clients = new List<Client>
            {
                // OpenID Connect hybrid flow client (MVC)
                new Client
                {

[2019-02-05 18:04] #3000 closed

[2019-02-05 18:33] granthoff1107 opened #3005 "IdentityServer Only for JWT Functionality"
I noticed IdentityServer has alot of functionality baked into it.  Such as handling JWT's.
I would like to use Identity Server but only for it's JWT Implementation.  e.g I have a startup class like so:

    services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)
        .AddJwtBearer(cfg =>
        {
            cfg.RequireHttpsMetadata = false;
            cfg.SaveToken = true;

[2019-02-06 00:45] nunocerdeiralopes commented on #2623
This worked for me. Thanks!

[2019-02-06 05:32] leastprivilege commented on #3005
If all you want is JWTs - I recommend you use the Microsoft JWT handler directly.

[2019-02-06 05:32] #3005 closed

[2019-02-06 06:51] parkinsona commented on #1162
@zinov , did you ever have any success with this? I've tried your solution in stackoverflow but I get an issue when trying to run migrations.

[2019-02-06 07:21] arora-kushal commented on #3003
No. How can we sent it? We couldn't find any documentation for it.

We are using following code for logout.

[code]

[2019-02-06 10:54] scottbrady91 commented on #2995
I'd prefer they change the request on their side and IdentityServer infer issuer based on the HTTP request.

If they can't change anything on their side, you could always manually set the [IssuerUri](http://docs.identityserver.io/en/dev/reference/options.html#identityserver-options) in your IdentityServerOptions.

[2019-02-06 13:34] SebastianStehle commented on #2995
I told them the same but it was not possible for my customers.

I have solved it with a middleware: https://github.com/Squidex/squidex/blob/master/src/Squidex/Pipeline/CleanupHostMiddleware.cs

But I think it should be the default behavior.

[2019-02-06 15:55] skorunka commented on #816
@billyjacobs2014 I think it was not a firewall. I have the same issue, but only in Firefox. in Chrome it works.

[2019-02-06 15:56] brockallen commented on #3002
That's the default behavior because that's how the spec is designed. If you want to override the behavior you can via introspection response generator.

[2019-02-06 15:57] brockallen commented on #2979
Yea, we do currently if the original request contains identity scopes.

[2019-02-06 16:00] brockallen commented on #2986
All set on this issue -- can we close?

[2019-02-06 16:01] brockallen commented on #2988
Not sure. Do the logs show anything useful?

[2019-02-06 16:26] brockallen commented on #2972
I've been trying to repro this in our unit tests, but I can't seem to. I suspect the exception is thrown from a specific logger. What types do you have configured in your app?

[2019-02-06 16:29] #2900 closed

[2019-02-06 16:29] brockallen commented on #2918
Any update?

[2019-02-06 16:30] #2940 closed

[2019-02-06 16:30] eestein commented on #2900
@brockallen what update? I'm not following.

[2019-02-06 16:30] brockallen commented on #2957
All set on this issue -- can we close?

[2019-02-06 16:30] #2970 closed

[2019-02-06 16:31] brockallen commented on #2977
Any update?

[2019-02-06 16:31] brockallen commented on #2982
All set on this issue -- can we close?

[2019-02-06 16:33] brockallen commented on #2985
I guess I don't follow. Your UI has all the logic about triggering upstream auth.

[2019-02-06 16:34] brockallen commented on #2989
Any update?

[2019-02-06 16:35] brockallen commented on #3003
That's something you'd have to do in your client app's framework/library.

[2019-02-06 16:36] brockallen commented on #2900
I asked if you had any updates. Since I heard nothing I closed this.

[2019-02-06 16:38] brockallen commented on #2900
So to answer your original question - if the user is not active, then we can't validate a token for them. So at signout that sounds like what's happening, and thus your logoutId is null.