[2018-03-26 16:21] ahedreville commented on #1727
I had found IMO a better solution here [](https://github.com/aspnet/Security/issues/1383) using OnUserInformationReceived event

[2018-03-27 12:14] DmytroMyslyvets commented on #1511
sergeu90,  у вас получилось решить эту проблему?

[2018-03-27 16:32] pizzadev commented on #1256
So, Is it possible to have SAML2 with .net core 2 and identityserver4?   Documentation says that it is possible, also there is a link to the sample, BUT!!! Sample Project was built with .net framework 4.6.1 (you can open properties of the project and see the version of .net). SamlPlugin is NOT COMPATIBLE with .net core 2....

@scottbrady91  When I'm installing nuget package with SAML plugin it say

[2018-03-27 22:13] jhollandjimmyjohn opened #2180 "Refresh Token Does Not Return Nonce"
### Issue / Steps to reproduce the problem

Calling Refresh Token with a nonce in the request does not return a nonce.

[OpenID Connect Core Section 2](http://openid.net/specs/openid-connect-core-1_0.html#IDToken) states:

### Relevant parts of the log file

[code]

[2018-03-28 08:03] pizzadev opened #2181 ".net core 2 Sample"
So, Is it possible to have SAML2 with .net core 2 and identityserver4? Documentation says that it is possible, also there is a link to the sample, BUT!!! Sample Project was built with .net framework 4.6.1 (you can open properties of the project and see the version of .net). SamlPlugin seems to be  NOT COMPATIBLE with .net core 2....

[2018-03-28 14:43] raphaeldiasrj opened #2183 "Use AD authentication at default Identity Server form"
Hi!

I need to authenticate a user by Windows Authentication in **Asp.net Core**, but I don't want to open the default browser login window for aesthetic needs. So, I want to do the same thing of the default browser login window, but in Identity Server login form (Views / Account / Login.cshtml).

Does anyone have an idea?

[2018-03-28 21:00] jdege opened #2184 "IdentityServer4.Samples won't build in VS2015."
I've been trying to build the sample projects from IdentityServer4.Samples, and the solutions won't load.

### Issue / Steps to reproduce the problem

- Clone [https://github.com/IdentityServer/IdentityServer4.Samples.git](https://github.com/IdentityServer/IdentityServer4.Samples.git)

- In Windows Explorer, navigate to \IdentityServer4.Samples\Quickstarts\3_ImplicitFlowAuthentication

- Double-cl

[2018-03-28 21:48] vdecristofaro commented on #2184
https://stackoverflow.com/a/42337225/431537

[2018-03-29 00:09] brockallen commented on #2184
ASP.NET Core 2 is only supported by Microsoft in VS2017.

[2018-03-29 00:09] #2184 closed

[2018-03-29 01:03] jdege commented on #2184
As I said, if the solution won't work in VS2015, it shouldn't load in VS2015.

MinimumVisualStudioVersion should be correct.

[2018-03-29 11:45] kacey90 commented on #1786
Thank you very much @matthewDDennis I had this issue on monday and your solution helped me out of it. Thanks. But do I have to do this for every custom claim I would want to map to the user information i.e a class for every claim? or I can have it all in one class? The reason I'm asking is `ClaimAction` does not accept an array or `ICollection` of claims.

Good work again. Many thanks.

[2018-03-29 13:57] pizzadev opened #2185 "LicenseKey & Licensee"
Hello, where can I get LicenseKey and Licensee ?
 .AddSamlPlugin(options =>
            {
                options.Licensee = "";
                options.LicenseKey = "";
            })

Is that a key from x.509 cert that I can generate (selfsigned cert)  ?

[2018-03-30 01:28] edtim8 opened #2186 "IDX12401: Expires: '[PII is hidden by default. Set the 'ShowPII' flag in IdentityModelEventSou rce.cs to true to reveal it.]'"
Connection id "0HLCLRJH1TIS2", Request id "0HLCLRJH1TIS2:00000001": An unhandled exception was thrown by the appli
cation.
System.ArgumentException: IDX12401: Expires: '[PII is hidden by default. Set the 'ShowPII' flag in IdentityModelEventSou
rce.cs to true to reveal it.]' must be after NotBefore: '[PII is hidden by default. Set the 'ShowPII' flag in IdentityMo
delEventSource.cs to true to reveal

[2018-03-30 01:30] edtim8 commented on #2186
I Can't Fix it in latest Version

[2018-03-30 02:08] edtim8 commented on #2186
System.ArgumentException: IDX12401: Expires: '03/30/2018 02:06:27' must be after NotBefore: '03/30/2018 02:06:27'.
   at System.IdentityModel.Tokens.Jwt.JwtPayload..ctor(String issuer, String audience, IEnumerable`1 claims, Nullable`1
notBefore, Nullable`1 expires, Nullable`1 issuedAt)
   at IdentityServer4.Services.DefaultTokenCreationService.CreatePayloadAsync(Token token)
   at IdentityServer4.

[2018-03-30 02:10] brockallen commented on #2186
Dup: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/884

[2018-03-30 02:10] #2186 closed

[2018-03-30 02:13] edtim8 commented on #2186
solved

[2018-03-30 14:35] JakeGarrison commented on #1480
I currently have a use case where the RP logs out due to inactivity. I would like to pass this as a param to endsession so I can consume it in the logout method to indicate to the end user why they have been logged out.

We use the oidc js client on the RP and it is not currently possible to pass additional parameters to the endpoint executed by the silentLogout method. (which I might make a featu

[2018-03-30 18:48] JakeGarrison commented on #2131
Still willing to contribute. How about unit tests for the TokenRevocationResponseGenerator? If there is a specific area of interest you would like assistance I am all ears at the moment

[2018-03-30 21:10] JakeGarrison commented on #2131
Thanks for the direction. I havn't been able to find a product map or life cycle plan of any sort, could you point me in the right direction if there is one?

[2018-03-30 21:19] brockallen commented on #2131
We just use the issue tracker and milestones.

[2018-03-31 14:12] xunqinbo opened #2187 "integration with IS3"
We have a legacy MVC client based on IS3.
SSO login worked fine, but we encounted an error on AuthorizationCodeReceived event.
we got a 'invalid_client' response.
Is there my config mistake or a compatibility issue?
### here is the code

[code]
###  OpenIdConnectAuthenticationOptions
[code]

###  the client config on server side

[code]
with hashed secret added programmatically
[code]

### logs

[

[2018-03-31 16:11] hugoqribeiro opened #2188 "How to force authentication to run so that the principal is available for other middleware?"
I am trying to add a middleware to implement throttling in my Web API based on client id. This Web API is protected by Identity Server 4 and the JWT authentication handler.

The problem is that Context.User.Claims is always empty when my middleware runs.
I understand that the Jwt handler only gets called when the request hits the Authorize attribute.

Thus, my question is, how can I "force" the Jw

[2018-03-31 22:04] brockallen commented on #2179
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-03-31 22:04] #2179 closed

[2018-03-31 22:04] brockallen commented on #2188
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-03-31 22:04] #2188 closed

[2018-03-31 22:06] brockallen commented on #2187
You should look into the exceptions in your log file

[2018-03-31 22:06] brockallen commented on #2185
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-03-31 22:07] brockallen commented on #2183
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-03-31 22:07] brockallen commented on #2181
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-03-31 22:08] brockallen commented on #2180
Isn't that statement from the spec at the time the code is being exchanged for the access & refresh token? I don't think that's at the time a refresh token is being exchanged for a new access token.

[2018-03-31 22:08] #2181 closed

[2018-03-31 22:08] #2185 closed

[2018-03-31 22:09] #2183 closed

[2018-03-31 22:09] brockallen commented on #2120
All set on this issue -- can we close?

[2018-03-31 22:09] #2126 closed

[2018-03-31 22:09] #2151 closed

[2018-03-31 22:10] #2157 closed

[2018-03-31 22:10] #2161 closed

[2018-03-31 22:10] #2165 closed

[2018-03-31 22:10] brockallen commented on #2170
All set on this issue -- can we close?

[2018-03-31 22:10] brockallen commented on #2174
All set on this issue -- can we close?

[2018-03-31 22:10] brockallen commented on #2177
All set on this issue -- can we close?

[2018-03-31 22:14] brockallen commented on #2166
Yes, I think you're right. Want to send a PR to fix? Thanks.

[2018-03-31 22:40] brockallen commented on #2166
BTW, this is fixed on our dev branch already.

[2018-03-31 22:40] #2166 closed

[2018-04-01 11:08] anktsrkr opened #2189 "IdentityServer4.Models as nuget package"
It would be great if we could have IdentityServer4.Models as a different nuget package.

#### Why?
It may possible that, you are implementing real project and want to separate repositories in different class library.
 #### You can do it still where is the problem?

Well, Yes! we can do it , but the problem is either you need to reference whole IdentityServer4 or need to create whole set of  new mo

[2018-04-01 12:03] leastprivilege commented on #2189
Thanks. We'll consider it for a future release.

[2018-04-01 14:48] brockallen commented on #2173
I pushed a fix to prevent empty config values for PublicOrigin. Have a look, please.

[2018-04-01 14:49] #2173 closed

[2018-04-01 15:40] CarlosTorrecillas commented on #1970
Hi guys, is there any kind of sample I could look at? I’d like to add that feature to my existing workflow and just saw this.

Thanks!

[2018-04-01 15:44] brockallen commented on #2133
I just tested this locally with edge with my client => IdentityServer => ADFS4 using WS-Fed. Signout is working properly for me. I don't have the additional upstream IdP from my ADFS4, so I don't know if that's your issue.

In short, this is very hard for me to diagnose on the issue tracker. I think you will need to dig more into yourself. I'd suggest first doing it all in chrome and fully underst

[2018-04-01 15:58] TomCJones commented on #1970
Just build an asp app in vs selecting indivual autn. It only takes 5mins to get running.

[2018-04-01 16:06] brockallen commented on #2080
@tratcher I'm following up on this comment: https://github.com/aspnet/Security/issues/1646#issuecomment-366311408

You said that you felt we had a bug here: https://github.com/IdentityServer/IdentityServer4/blob/ecffbb062485b0656461eba4af5648dc9f45a589/src/IdentityServer4/Hosting/BaseUrlMiddleware.cs#L31

and you gave the recommendation to use `ToUriComponent()` instead of `Value`.

When the reque

[2018-04-01 16:57] brockallen commented on #2176
Fixed.

[2018-04-01 16:57] #2176 closed

[2018-04-01 18:39] Tratcher commented on #2080
Yes, the punycode version is safe for headers and navigation and will flow through any system in a compatible way. The unicode version is only for display in user interfaces, i.e. the browser navigation bar.

[2018-04-01 22:02] aneequrrehman commented on #2025
Thank you @brockallen. This worked like a charm. :)

[2018-04-02 01:00] brockallen commented on #2080
The only pending question is if the issuer should also be punycoded or left in its original unicode form. I emailed the OIDC spec mailing list to ask.

[2018-04-02 01:00] #2080 closed

[2018-04-02 02:18] anktsrkr commented on #2189
Okay. Thanks @leastprivilege. Please let me know if I can contribute also.

[2018-04-02 08:31] richardlawidjaja opened #2190 "null value over CustomResponse -"
Hi Brock and Dominick.
Could you please let me know, is there any reason on why i can't really pass a null value over a custom response?

`context.Result.CustomResponse = new Dictionary<string, object>{
                        {"customerId", (user.ManagerId=="0"||user.CustomerId==null)?null:user.CustomerId},
                        {"managerId", (user.ManagerId=="0"||user.ManagerId==null)?null:use

[2018-04-02 12:07] brockallen commented on #2190
I'm missing the context of this question. Can you elaborate?

[2018-04-02 12:19] brockallen commented on #2080
FWIW, here's a reply from the OIDC spec mailing list:
-------------------------------------------------------

During the OpenID Connect standardization, many of us thought that allowing Unicode characters in the URI causes too much troubles like administrator phisihing through look-alike characters. So, for the authority section at least, I would opt to ASCII strings but that is just a practice.

[2018-04-02 12:32] jhollandjimmyjohn commented on #2180
@WilliamDenniss - Reading back through, this makes sense as to not pertaining to a refresh token request

[2018-04-02 12:45] brockallen commented on #2180
So then can we close this issue?

[2018-04-02 13:53] joeaudette commented on #501
I've run into this problem trying to get a xamarin client sample working in a demo along with some other js/html clients on localhost. I'm trying to create a demo sample solution that just works if you run it in a dev environment on localhost. Currently my js/html clients all work but having trouble getting a xamarin android client working.

The problem I've run into is that for android emulator,

[2018-04-02 14:06] joeaudette commented on #501
nevermind, surprisingly setting the issuer like this:

     options.IssuerUri = "http://10.0.2.2:50405";

worked and did not break my other clients in the demo

[2018-04-02 14:48] richardlawidjaja commented on #2190
when creating a custom response, you will require to assign a new Dictionary<string, object> as the custom response. in this dictionary can we add a null as a value?
in short something like this

context.Result.CustomResponse = new Dictionary<string, object>{ {"customerId", null}}

because when i try to do this, it will throw null reference exception, is there any workaround to handle this?

[2018-04-02 15:02] Tratcher commented on #2080
provide these registered names in the IDNA encoding, rather than a
percent-encoding, if they wish to maximize interoperability with
legacy URI resolvers.

The IDP (IdentityServer4) is the url producer in this case, not ASP.NET.

[2018-04-02 15:04] brockallen commented on #2190
when? during the token request/response processing, i'm guessing?

[2018-04-02 15:15] brockallen commented on #2080
This is, in essence, the change I have made for this issue. But Nat's suggestion is different, no? He's suggesting the client library be aware of this possibility and handle it as well.

[2018-04-02 18:58] scottbrady91 commented on #1256
@pizzadev The IdentityServer 4 SAML component supports ASP.NET Core 2.0 targetting the full .NET Framework. We're looking at adding .NET Core support, using the new Microsoft libraries that came out a few weeks ago, in the next version of the library.

[2018-04-02 23:12] agrebenyuk opened #2191 "Cache the most recurring sql query result at application level in IdentityServer ??"
Hi there ,

I was looking at the configuration  db insight and found that one of the most re-issued sql query from Identity server is as follows .
`SELECT [i].[Id], [i].[IdentityResourceId], [i].[Type]
FROM [IdentityClaims] AS [i]
WHERE EXISTS (
    SELECT 1
    FROM [IdentityResources] AS [identityResource]
    WHERE [identityResource].[Name] IN (N'openid', N'profile', N'email', N'mycompanyRoles'

[2018-04-03 00:16] agrebenyuk opened #2192 "Add docs for UseIdentityServerEfTokenCleanup"
Could not find any documentation on this extensions method.

`public static IApplicationBuilder UseIdentityServerEfTokenCleanup(this IApplicationBuilder app, IApplicationLifetime applicationLifetime);`

What does it actually do if I add it as bellow

`            app.UseIdentityServer();
            app.UseIdentityServerEfTokenCleanup(appLifetime);
`

Version used : 1.5.3

[2018-04-03 02:39] richardlawidjaja commented on #2190
correct, it happen during the token response. my best guess for this issue probably it happen because of the Dictionary<string,object> did not accept null value.

[2018-04-03 02:46] richardlawidjaja commented on #2190
probably to solve this issue you might want to change the Dictionary to a nullable dictionary?

[2018-04-03 06:13] leastprivilege commented on #2190
Give it a try including test coverage. If it works, this can be the basis for a PR.

[2018-04-03 06:32] nishani opened #2193 "AddOpenIdConnect() Issue"
Hi
I have an identity server (version 4) hosted in a remote iis. I am trying to connect to it from locally hosted api (netcore 2).  Always it gives me invalid redirect_uri error.

Log
2018-04-03 10:06:16.375 +05:30 [ERR] Invalid redirect_uri: http://localhost:5002/signin-oidc
{
  "ClientId": "app",
  "ClientName": "app",
  "AllowedRedirectUris": [
    "https://app.com/"
  ],
  "SubjectId": "anonym

[2018-04-03 07:53] KrisSiegel commented on #655
If this is the case it would be _incredibly handy_ to have a sample to point to / add to the documentation. Unfortunately the Stack Overflow links are mostly unhelpful as the content shows mostly unanswered questions and will always change.

[2018-04-03 13:08] brockallen opened #2194 "Enhance scope validation to detect duplicates"
Do in `IResourceStoreExtensions.FindResourcesByScopeAsync`

[2018-04-03 13:11] brockallen commented on #2114
Ideas:
 * maybe add a check to `IClientStoreExtensions.FindEnabledClientByIdAsync` since most (if not all) of our code should be funneling thru that API to load a client
* maybe add a new service in DI to do the validation. possibly devs could replace to add their own checks? On the values in `Properties` for example?

[2018-04-03 13:37] LindaLawton commented on #2114
On the values in Properties for example?  <---- Love that idea since i am using properties.

[2018-04-03 13:37] brockallen commented on #1557
Marking as 3.0 since we anticipate breaking changes. I think we all knew this, but just doing it for formality.

[2018-04-03 13:47] brockallen commented on #1988
We support the ability to tell IdentityServer the paths to redirect to for login, consent, error, etc. Is that not sufficient for what you need? This one, for example: https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Configuration/DependencyInjection/Options/UserInteractionOptions.cs#L20

[2018-04-03 13:49] brockallen commented on #1925
The real answer is to use back channel.

[2018-04-03 13:51] brockallen commented on #1916
@gaborari -- did you do a PR for this?

[2018-04-03 13:53] brockallen commented on #1884
Beef up runtime logging/events

[2018-04-03 13:54] brockallen commented on #1849
Dup. This can be done in the same way as: #1843. Stay tuned for that issue to be closed.

[2018-04-03 13:54] #1849 closed

[2018-04-03 13:55] brockallen commented on #1884
Include this: #1809

[2018-04-03 13:55] brockallen commented on #1809
Included in #1884

[2018-04-03 13:55] #1809 closed

[2018-04-03 14:01] MV10 commented on #1988
Interesting, I missed that one -- it does the job. Thanks!

[2018-04-03 14:01] #1988 closed

[2018-04-03 14:02] #214 closed

[2018-04-03 14:05] brockallen commented on #2192
I guess not. It would be here: http://docs.identityserver.io/en/release/reference/ef.html

I'll leave this open as a docs issue.

[2018-04-03 14:08] brockallen commented on #2191
`AddClientStoreCache` and `AddResourceStoreCache` are the easy ways to add caching for those tables. And you can configure the cache itself: http://docs.identityserver.io/en/release/topics/startup.html?highlight=AddClientStoreCache#caching

[2018-04-03 14:09] brockallen commented on #2193
You need to configure your reverse proxy and ASP.NET Core hosting properly. As such, this seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-04-03 14:09] #2193 closed

[2018-04-03 15:04] brockallen commented on #1843
Done: https://github.com/IdentityServer/IdentityServer4/commit/5777bc12e67fd45bf3fb7ffad43d3d4017657c30

[2018-04-03 15:04] #1843 closed

[2018-04-03 21:25] #2191 closed

[2018-04-03 22:22] vaustral opened #2195 "IDX10803: Unable to obtain configuration from CurlException SSL connect error"
I have a host setup as the following:  asp.net core 2.0.5 - IdentityServer4 | https - obtained from lets Encrypt | load balanced | data protection key stored in azure | docker deployed, 3 containers.

asp.net core 2.0.6 - API | http | docker deployed, 2 containers

All hosted in azure container engine on ACS.

### Issue / Steps to reproduce the problem

Unfortunately i'm not able to reproduce this

[2018-04-03 22:48] vaustral commented on #2195
* TCP_NODELAY set
* Connected to id.login.com (x.x.x.x) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!RC4:@STRENGTH
* successfully set certificate verify locations:
*   CAfile: /etc/ssl/certs/ca-certificates.crt
  CApath: /etc/ssl/certs
* TLSv1.2 (OUT), TLS header, Certificate Status (22):
* TLSv1.2 (OUT), TLS handshake

[2018-04-03 23:25] ZahFox opened #2196 "Can't Open Combined_AspNetIdentity_and_EntityFrameworkStorage Sample Project in Visual Studio"
This issue is in reference to the IdentityServer4. Samples repository. As was expected, I originally had an issue cloning this repo, but that was an issue easily resolved due to the README stating that I would need to set a global config option for Git. However, there is an issue that I can't seem to find any way to resolve. When I actually open the Combined_AspNetIdentity_and_EntityFrameworkStora

[2018-04-04 00:30] brockallen commented on #2196
If you clone into a directory not so deep in the windows hierarchy then you won't have this problem. It's a IS problem/limitation.

[2018-04-04 01:04] brockallen commented on #2194
Done

[2018-04-04 01:04] #2194 closed

[2018-04-04 03:03] ZahFox commented on #2196
@brockallen OK, for now I guess that will have to do, but I hope you consider addressing this eventually.

[2018-04-04 05:54] leastprivilege commented on #2194
Also in the GetAll code path for discovery?

[2018-04-04 06:40] leastprivilege commented on #1857
We have some time now to add this - what kind of information would you like to see on this event?

[2018-04-04 06:42] leastprivilege opened #2197 "Split account controller into local and external login and logout"

[2018-04-04 07:04] LindaLawton commented on #2055
Can we add a create datetime and a last access datetime for Clients as well

[2018-04-04 09:05] aadewojo opened #2198 "Identity server 4 and Webform Client"
### Issue / Steps to reproduce the problem
Webform client do not authenticate when using identity server 4. It says client not authenticated. Can we get an example of how to connect webform client to IDS4?

### Relevant parts of the log file

[code]

[2018-04-04 09:54] #2198 closed

[2018-04-04 10:06] DerAlbertCom commented on #1557
I'm ok with that. On the current project we are far away from connection external clients, and this is the main need for that feature in my point of view.

[2018-04-04 12:05] #2196 closed

[2018-04-04 12:12] brockallen commented on #2194
Yes, done

[2018-04-04 16:18] lythronaxargestes commented on #1857
In addition to the base event properties, it would be useful to have the name/ID of the API or client from which the request is originating (if it is possible to determine this information).

[2018-04-04 16:28] leastprivilege commented on #1857
It's not  it's an anonymous call.

That's why I am questioning the value of this event altogether.

[2018-04-04 16:28] brockallen commented on #1857
It is not. The discovery endpoint request is anonymous.

[2018-04-04 16:41] lythronaxargestes commented on #1857
I see. In that case, the base event properties would suffice. My primary motivation is just to be able to know _when_ a request is made to the discovery endpoint.

[2018-04-04 17:53] davdev82 opened #2201 "Federated Signout and nested iframes not obeying SET Cookie calls"
Hello Guys

We are using IdServer4 with IdServer3 as its upstream IDP. I am trying to implement Single Sign Out across both IdServers. When the user who is logged into IdServer3 signs out, we get nested iframes rendered that ultimately call frontchannel logout URIs for clients logged into IdServer4 and IdServer3.

However, the frontchannel logout URI for the deepest client does not clear its cooki

[2018-04-04 18:49] brockallen commented on #2201
I suspect it's the IE Zone issue. That's a browser "feature", which OIDC does not address since "IE Zones" are not something in the HTTP/HTML specs.

[2018-04-04 20:06] vaustral commented on #2195
Mmm, It looks like it's because of a 4096 bit key.

[2018-04-04 22:01] agrebenyuk opened #2202 "PersistedGrants Key column as clustered index"
Hi guys ,

This is more a question in terms of data storage design approach that you chose.
IdentityServer 1.5.3

In the PersistedGrants table the Clustered index is on Key column (nvarchar(200)) with FillFactor 0 (100%) .
I guess the question is why that was your decision , given that the Keys(tokens) them-self are random strings , and it sounds like this kind of data can bring more page splits d

[2018-04-04 22:42] brockallen commented on #2202
I suppose we could have gone with an int PK, but then we'd need a unique index on the Key value, as that's almost the only thing ever used to query that record. Would that be a better approach?

[2018-04-04 23:14] agrebenyuk commented on #2202
Theoretically yes, that would be non-clustered index on the "Key" column  and  in that case during the page split (which would still happen on insert  but less frequently because of lesser size) only 'Key' data would be written to a new page with the pointer to int clustered key  and therefore rest of the row data (which is by it's nature a bit of read overhead but not significant given read opera

[2018-04-04 23:25] agrebenyuk commented on #2202
Oh, why I actually raised that, we have set up weekly index rebuild , and I noticed that after the index rebuild I have kind of high I/o . I presume that after rebuild the whole table data is perfectly ordered and pretty every INSERT after rebuild would be the cause of another page split until it is fragmented enough again

[2018-04-05 06:20] LindaLawton opened #2203 "[Question] App password support"
I have been digging around in the documentation looking for something like [App password ](https://support.google.com/accounts/answer/185833?hl=en) in Identity server 4.

Is this supported?   If not are there any plans to support it?

[2018-04-05 07:01] LindaLawton opened #2205 "Stateless or not stateless?"
I just tried to spin up two instances of the identity sever. (yes load balancing is setup)  The documentation says that Identity server 4 is stateless so this should work.

This makes me think the token was created on one instance and trying to be decrypted on the other.

[2018-04-05 07:16] scottbrady91 commented on #2205
It's stateless but signing and encryption keys need to be shared :)

What you're seeing here is the DataProtection API using a different key and being unable to decrypt the anti-forgery cookie issued by a different instance.

[2018-04-05 07:25] scottbrady91 commented on #2202
On the implementation side of things, the EF APIs for clustered indexes are database provider specific which might make this kind of change a bit awkward.

[2018-04-05 07:51] LindaLawton commented on #2205
Ok let me see if i understand this.   A new key is created for the identity server what when it starts?  This key is used to verify the anti-forgery token.    and create it or is it the client that's creating it?

So because I am running it with two instances I have two keys and if the user hits the server that didn't create its key it pukes?

Which would then mean i need to convince them to use t

[2018-04-05 07:52] scottbrady91 commented on #2205
Pretty much. This isn't IdentityServer here but the ASP.NET Core data protection API: https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/

[2018-04-05 07:56] LindaLawton commented on #2203
Actually its for use with logging in with a users login and password with two factor enabled.

I use Git command line and have 2fa enabled on my github account.   In order to commit to Github from my pc i have to install this password key.  You cant login with a password and the 2fa key via command line.

IMO API keys are mostly used for accessing [public data](http://www.daimto.com/google-develop

[2018-04-05 07:58] leastprivilege commented on #2203
The OAuth approach would be a PAT (personal access token) - github does this, VSTS also.

IOW - you pre-generate an JWT access token with some lifetime. Could be easily done in IS

https://identityserver4.readthedocs.io/en/release/topics/tools.html

[2018-04-05 07:59] leastprivilege commented on #2205
well - RTFM ;)

https://identityserver4.readthedocs.io/en/release/topics/deployment.html

[2018-04-05 08:01] leastprivilege commented on #1857
did you try this?

[2018-04-05 08:02] LindaLawton commented on #2203
you pre-generate an JWT access token with some lifetime.  <--- thats what we are doing now and i hate this option.

[2018-04-05 08:06] LindaLawton commented on #2205
@leastprivilege  I actually have read about 90% of your documentation.   However as you know security is a very extensive subject.   Your documentation is written for people who are already experts of security not for beginners.   Here copy this code and use it.   Not this code does x and you should do x because of Y and if you have any issues please check stack overflow with this tag.

I would ra

[2018-04-05 08:34] leastprivilege commented on #2197
done

[2018-04-05 08:34] #2197 closed

[2018-04-05 09:17] davdev82 commented on #2201
Hi Brock

I can confirm that it is not working with Chrome, IE and Firefox.

It does work in scenario where the level of nesting is not deep i.e.
- when signing out from an IdServer4 client causing all the IdServer4 clients to be signed out as well as upstream IdServer3 clients as the flow in that scenario causes a redirect to IdServer4 which then issues front channel logout calls

However, when s

[2018-04-05 10:00] leastprivilege commented on #1788
done

[2018-04-05 10:00] #1788 closed

[2018-04-05 11:43] brockallen commented on #2205
They are re-gen'd each 90 days, but old keys are still needed. Check the MSFT docs on it (which are even more extensive than ours): https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/

[2018-04-05 11:45] brockallen commented on #2201
Then perhaps you have same-site cookies configured in your STS. Change them to none or lax instead: https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Configuration/DependencyInjection/ConfigureInternalCookieOptions.cs#L28

[2018-04-05 12:41] LindaLawton commented on #2205
I have moved on to this now [key encryption](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/implementation/key-encryption-at-rest)

Ids is not as stateless as one would have thought apparently.

[2018-04-05 15:57] egmfrs opened #2206 "Joining user related data between web app db and OAuth db"
I have an OAuth database with my user data in - I added a separate userprofile table for First Name and Last Name.
In my web application, I have a survey form which stores data in a surveys table in a separate db. When a user submits the survey, their userId guid is stored in the Survey table.
Now I have an admin page to look at all surveys submitted. I'm wondering how I go about turning those use

[2018-04-05 16:37] TomCJones commented on #2206
Well that's not an idsvr4 question. SQL join is unrelated to the source of the data. Go hire a DBA.

thx ..Tom (mobile)

On Apr 5, 2018 8:57 AM, EGM <notifications@github.com> wrote:

I have an OAuth database with my user data in - I added a separate userprofile table for First Name and Last Name.
In my web application, I have a survey form which stores data in a surveys table in a separate db. Wh

[2018-04-05 16:42] egmfrs commented on #2206
@TomCJones I imagine it is something people have to solve often when using idsvr4 so I thought there might be a good tip people following here could offer. (Of course it's easy when you're just using ASP.NET Identity, and your user table is in the same db.)

[2018-04-05 17:09] davdev82 commented on #2201
The only place it is configured as lax is on the Client Application. IdServer4 STS and the upstream IdServer3 STS do not output any same site attribute when doing Set Cookie

[2018-04-05 17:51] brockallen commented on #2205
Normally stateless in web apps means the web server does not maintain in-memory state across requests to function properly. Would you call using a database stateless or not? Same goes for ASP.NET Core cookie authentication requiring state (keys) on the server.

[2018-04-05 18:32] rafaelvascc opened #2207 "Additional claims in GrantValidatonResult not being passed to the JWT token"
### Issue / Steps to reproduce the problem

1. Created a custom grant validator adding custom Claim in the results
[code]
2.  Registered on startup
[code]
3. Created identity resource for testing

![image](https://user-images.githubusercontent.com/2701532/38384042-c661ce98-3916-11e8-9d9a-f5e0f849d914.png)

4. Created client with access to this resource and using the custom grant type

![image](htt

[2018-04-05 19:01] egmfrs commented on #2206
I have been advised on Stack Overflow that all I can do is create another users table for my web which is updated with first and last name user data from OAuth every time a user logs into the web app. If this is the way to go then any advice on implementing this would be appreciated.

[2018-04-05 19:25] #2180 closed

[2018-04-06 00:19] MonDeveloper opened #2208 "Alternative form for client Credential in Token endpoint"
A couple of weeks ago I was looking for a way to Instantiate the TokenClient passing a client JWT already issued instead of the classic pair client_id & client_secret.
This is the Issue I opened looking for any suggestion IdentityModel/IdentityModel2#101.

Today I was digging a bit more on the server side of the TokenEndpoint and I discovered everything about client verification is resolved within

[2018-04-06 00:47] chrisowhite commented on #2114
Are you guys looking to implement specific default rules for 2.x or would that be a 3.0 thing (saw the comment from @leastprivilege in the above PR)?

[2018-04-06 01:42] chrisowhite commented on #2085
I've found you have to be careful about which framework encoding/decoding method you use. A plus sign is treated differently between URL encoding and form URL encoding.

https://dotnetfiddle.net/GxckKA

[2018-04-06 01:50] chrisowhite commented on #2133
@VijayPatel1 I think @brockallen might be onto something with Windows internet options, particularly protected mode. We've had a few QA analysts at work have trouble testing in Edge because for some reason group policy enforces certain settings in Edge/IE.

[2018-04-06 02:09] chrisowhite commented on #2205
@LindaLawton IIRC, when supplying a thumbprint for resolving a cert on Windows, the cert is expected to be in the user store (not local machine) for cross platform compatibility between nix and Windows. We ran into this on net core 1.x and realized at the time that encrypting keys at rest using a cert was not supported out of the box on platforms other than windows. Given that we chose to just res

[2018-04-06 04:56] agrebenyuk commented on #2202
Thanks @scottbrady91 , I thought this is something abstracted like this
`modelBuilder.Entity<ClassOne>()
            .Property(t => t.ColumnOne)
            .HasColumnAnnotation(
                     "Index",
                     new IndexAnnotation(new IndexAttribute("IX_ColumnOneTwo") { IsClustered = true }));
`
Anyway, I guess at this stage I just wanted to see if it is actually seen as an issu

[2018-04-06 05:57] leastprivilege commented on #2205
Given you store your key container in a "secure" place in the back-end - the value of key encryption vs the overhead is questionable IMHO.

[2018-04-06 05:58] leastprivilege commented on #2114
I will merge the base infrastructure today. But it will be no-op by default. Then we can "crowd source" validation rules to be used optionally. They will then become the default in 3.0

[2018-04-06 06:51] LindaLawton commented on #2205
@chrisowhite Thanks for the verification on this.  That's exactly the conclusion I came up with yesterday.  This is running in a docker swarm so its nix based which means our cert is not in the store its actually a file.    Did you find any solution in running more then one instance of Identity server on a nix based OS?   Its still saying `"Failure message: Unprotect ticket failed"`  From what i u

[2018-04-06 07:26] siemens-slohr commented on #2085
I figured out that this results from diffrent characters like the '+'. i dont know why it worked before and not anymore. :-/ therefor i have to debug - will do this end of next week (when im back from vacation).

[2018-04-06 08:31] leastprivilege commented on #2114
OK - here's the new validator:

https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Validation/DefaultClientConfigurationValidator.cs

It's not enabled by default - but in the host it is:
https://github.com/IdentityServer/IdentityServer4/blob/dev/src/Host/Startup.cs#L52

I added a bunch of validation checks already. Feel free to PR to add new ones!

Each check should hav

[2018-04-06 08:47] LindaLawton commented on #2114
What happens if no context.Client.PostLogoutRedirectUris is supplied?

[2018-04-06 09:13] leastprivilege commented on #2114
Well - that's an optional setting.

[2018-04-06 10:27] enemyofthedawn opened #2209 ""identity server is requesting your permission...""
Sorry for confusion.

I'm new to OpenID Connect and OAuth in general. I'm aware it is used when you want to give third party users access to your api, something like GraphAPI in FB. You get this message then: "identity server is requesting your permission..."

Question is: can I use it for internal WebAPI that is not meant to be used by third party users but by my application? I found this: http:/

[2018-04-06 11:07] leastprivilege commented on #1857
OK - I don't see a value in an even that simply states that the discovery endpoint has been requested. Events are for logging structured data.

There are multiple other ways to achieve your goal

* derive from the response generator
* put middleware in the pipeline that checks for the discovery endpoint and do your logging here.

closing.

[2018-04-06 11:07] #1857 closed

[2018-04-06 11:07] leastprivilege opened #2210 "Add Events for grant management"

[2018-04-06 11:27] #2210 closed

[2018-04-06 11:29] leastprivilege commented on #2207
The claims you add in the extension grant don't go into the token automatically.

You need to pick them up in your profile service `GetProfileDataAsync` and add them to token.

[2018-04-06 11:30] #2120 closed

[2018-04-06 11:31] #2170 closed

[2018-04-06 11:31] #2174 closed

[2018-04-06 11:31] #2177 closed

[2018-04-06 11:32] leastprivilege commented on #2187
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2018-04-06 11:32] #2187 closed

[2018-04-06 11:32] leastprivilege commented on #2190
did you try it?

[2018-04-06 11:34] leastprivilege commented on #2203
Not sure if it is a JWT - but yes - a pre-gen'd token

I don't even know what that means. How would IS need to support that?

[2018-04-06 12:31] brockallen commented on #2205
Sure, but my point was that you would have had the same issue for any ASP.NET [Core] app. The issue of synchronizing keys has always been a task that one needs to consider for deployment.

[2018-04-06 12:32] brockallen commented on #2208
I think this question was asked (and answered) elsewhere. Can we close it?

[2018-04-06 12:33] brockallen commented on #2202
@agrebenyuk are those all active tokens? there is an expiration column, IIRC, so you could cleanup expired records

[2018-04-06 12:35] brockallen commented on #2209
Yes, you can disable the consent screen based on the client and your requirements.

[2018-04-06 12:35] #2209 closed

[2018-04-06 12:35] MonDeveloper commented on #2208
yes.
Sorry for the spam.

Il giorno ven 6 apr 2018 alle ore 14:32 Brock Allen <
notifications@github.com> ha scritto:

[2018-04-06 12:36] #2208 closed

[2018-04-06 12:36] mrnewrochelle commented on #2120
Sorry guys! Yes!! If any is curious I solve it by  creating a Controller (I am using Razor Pages, and Core 2) and  calling a StartAuthentication method (Login) in the client, and then in the acrValues I send the url.

`public async Task<IActionResult> StartAuthentication()
        {
            //Get the hosting, these are some options
            //1) _context.HttpContext.Request.Host.Value = loc

[2018-04-06 12:42] chrisowhite commented on #2205
@LindaLawton we currently run on Windows and our keys are stored on a network share. If you're looking to store in a DB, you can reference the DPAPI source (or I think I saw a blog post with a Redis example at or point) for guidance but you're kind of on your own to implement that. If the apps are running on different physical/virtual hosts, inside a container or not, the keys need to be stored in

[2018-04-06 13:00] LindaLawton commented on #2205
@chrisowhite  I am trying to avoid putting them in the Db I would rather just have it in shared storage.  I have gotten a bit further with it to day.  Still not working though.

[2018-04-06 15:09] heavenwing commented on #2205
I also host IdentityServer in a cluster with front load balance,
I have added this code:
[code]
I still got error:
[code]

[2018-04-06 15:11] richardlawidjaja commented on #2190
Hi Dom, Sorry I as busy over my project, I will try it over the week end i will let you know

[2018-04-06 16:01] rafaelvascc commented on #2207
Could you please point me to an example?
Thanks.

[2018-04-06 16:03] richardlawidjaja commented on #2190
Hi Domminick and Brock I have tested my proposed solution however I dont think we can change it to nullable dictionary as it does not supported in C#, you can assign a null value on TValue but not the dictionary itself as for this moment for my project we have solved it internally by using string empty instead of null.

[2018-04-06 16:20] rafaelvascc commented on #2207
Also, does make sense to include an additional parameter in the GrantValidationResult that enables the claims to be auto added to the token?

[2018-04-06 18:47] leastprivilege commented on #2190
OK - good.

[2018-04-06 18:47] #2190 closed

[2018-04-06 18:49] leastprivilege commented on #2207
The `ProfileDataRequestContext` in the `GetProfileDataAsync` method has a subject property. This has all the claims from the extension grant validator.

[2018-04-06 19:53] brockallen opened #2211 "Hide index view when not in development"
So we don't get random end-user support calls.

Yes, it's happened.

[2018-04-06 19:59] brockallen opened #2212 "Allow any external identity in TestUsers profile service"
Do an auto-provision (if we don't already)

[2018-04-07 12:06] skoruba commented on #1842
What about this feature? - I have same issue with Edge and removing unsafe-inline from csp.

[2018-04-07 16:25] saifalmaluk commented on #1826
I agreed with max-buecker, it resolve my problem when `options.SignInScheme` as leaving default.

[code]

[2018-04-09 03:21] ZahFox opened #2213 "Can't access custom user claims from my MVC client"
Ok, before I explain this issue in detail let me please first state that I've spent ALOT of time these last few weeks trying to make this framework work for my application(s). I've gone through every quick-start, read most of the docs, spent time watching videos on OAuth and OpenID, and even read through a lot of the example code projects here on GitHub. Everything is nearly in place except one ve

[2018-04-09 03:42] agrebenyuk commented on #2202
Hi @brockallen , no they are not , and I have currently regular clean-up process already set-up, and I agree ,- with the number of active tokens only , the INSERT issue is not tangible enough. Still worth considering for huge amount of tokens (I hope your system is used for someone with >=0.5M users :) ) . I guess my question is solved . Thanks guys!

[2018-04-09 06:15] rafaelvascc commented on #2207
Sorry, but i still don't understand what to do with this method.
The only thing i did was the creation of the custom grant validator, then i let the rest of the pipeline take care of the rest automatically.
Should i implement something else to be handled after the grant validator?
Thanks.

[2018-04-09 06:51] leastprivilege commented on #2207
Yes - you need a profile service.

http://docs.identityserver.io/en/release/reference/profileservice.html

[2018-04-09 12:08] USPTraining commented on #1852
Hi Seven is it working for you? how do you secure it with client secret?

Thanks

[2018-04-09 13:06] #2202 closed

[2018-04-09 14:26] brockallen opened #2214 "GetAcrValues() should call ToArray() internally"
because this:

[code]

[2018-04-09 14:39] brockallen opened #2215 "Consider integrating UX support from host on authorize endpoint"
Anywhere we need to render html from the authorize endpoint. For example:
* response_mode=form_post
* native client redirects

[2018-04-09 15:13] sundarkurs commented on #1511
I'm also facing the same issue, what was the migration error you had. Seems recently I update the migration to remove one of the field added in AspNetUsers table. And how did you fix the issue?
Thanks

[2018-04-09 16:06] leastprivilege commented on #2213
Did you read this here as well:

https://leastprivilege.com/2017/11/15/missing-claims-in-the-asp-net-core-2-openid-connect-handler/

[2018-04-09 16:51] jzelos opened #2216 "ExternalLoginCallback unable to find cookie in Quickstart6 sample when using windows auth"
### Issue / Steps to reproduce the problem
When attempting to read the external cookie, the Account controller uses a different constant to that set via Windows authentication to denote the scheme. (It fails as there is no match)

Line 159
`var result = await HttpContext.AuthenticateAsync(IdentityConstants.ExternalScheme);`

Line 416
`
await HttpContext.SignInAsync(
    IdentityServer4.IdentitySer

[2018-04-09 17:03] SIkebe commented on #2216
similar to https://github.com/IdentityServer/IdentityServer4/issues/2166

[2018-04-09 17:53] brockallen commented on #2216
Yes, I'd suggest fixing it in your local version. Thanks.

[2018-04-10 06:23] phucan1108 opened #2217 "IResourceStoreExtensions wrong logic in line 37"
Hi, I found IdentityServer4 2.1.3 got the problem in the file IResourceStoreExtensions.cs line 37. I have set up my project to use custom grant types but seems it always fails in the step check Resource Scopes.

The base code looks like below

`var overlap = identityScopeNames.Intersect(apiScopeNames).ToArray();
            if (overlap.Any())
            {
                var names = overlap.Aggre

[2018-04-10 06:58] leastprivilege commented on #2213
Microsoft docs? Yea - totally agree. Tell @tratcher

[2018-04-10 11:44] #2213 closed

[2018-04-10 12:00] LindaLawton opened #2218 "GetErrorContextAsync does not always return description."
### Issue / Steps to reproduce the problem

Load a client that is invalid and it should be caught by an error control.

[code]

### Relevant parts of the log file

[code]

### Response from GetErrorContextAsync

[code]
Does not contain any error description.

### Offending code.

[AuthorizeRequestValidator.cs](https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Validatio

[2018-04-10 12:49] leastprivilege commented on #1609
* ApiResource name
* scopes
* Active/not Active
* sub?

[2018-04-10 12:50] leastprivilege opened #2219 "Move IsPkceClient to UI"

[2018-04-10 13:46] brockallen commented on #2214
Fixed.

[2018-04-10 13:46] #2214 closed

[2018-04-10 13:47] brockallen commented on #2219
Under a new file in Quickstart/Extensions.cs so it can go into the QS UI template (as opposed to the ~/Extensions folder)?

[2018-04-10 13:51] brockallen commented on #2219
Since I was in here already, I did this change. If you don't like where it landed, then you can move it I guess.

[2018-04-10 13:52] jzelos commented on #2216
Apologies, didn't check closed issues, only open ones. Will close as duplicate of #2166

[2018-04-10 13:52] #2216 closed

[2018-04-10 14:15] brockallen commented on #2216
Yea, no worries. We've been slow to merge dev into release -- we have a release coming up soon where we'll do this. Thanks again

[2018-04-10 15:03] yosbeleg89 commented on #1689
@brockallen  I have the same issue: `IDX10223: Lifetime validation failed. The token is expired. ValidTo: '03/31/2018 21:49:56', Current time: '04/10/2018 14:48:43'.` Both the IdentityServer and the client are in azure hosted. This is happening after we updated to the latest IdentityModel and Microsoft.Owin.Security.OpenIdConnect packages in the client.

[2018-04-10 15:30] vaustral commented on #2195
Confirmed, 4k key in kestrel.

[2018-04-10 15:30] #2195 closed

[2018-04-10 16:03] Tratcher commented on #2213
Yeah... https://github.com/aspnet/Docs/issues/5106#issuecomment-356402957

[2018-04-10 18:43] TheJayMann commented on #1647
I was having the same problem, where I had a client that acts as a small wrapper for a website which exists on a separate domain.  By default, attempting to sign out would properly load the client, but the redirect would fail as it would have an origin not listed in the frame-src. The result is the client remains signed in.  I tried to use the `RequireCspFrameSrcForSignout = false`, and now I have

[2018-04-10 19:38] brockallen commented on #1647
@TheJayMann  Can you open a new issue for that? We'll track it as a separate bug. Thanks.

[2018-04-10 19:59] brockallen opened #2220 "Add ws-fed wsignoutcleanup support to front-channel signout notification"
For `client.ProtocolType == ProtocolTypes.WsFederation`

[2018-04-10 20:18] brockallen commented on #2220
Done. @leastprivilege have a quick look if you don't mind. It was low hanging fruit.

[2018-04-10 22:01] enemyofthedawn opened #2221 "Issuing JWT token myself versus using IdentityServer4"
I currently issue tokens myself in my web api with `JwtSecurityToken` and I use standard ASP.NET Core middleware calling `AddJwtBearer` to verify the tokens. It works fine.

What advantage will give me using OpenID Connect (through IdentityServer4) over the approach described above? How to answer myself question "Do I need OpenID Connect?"

From my basic understanding about OpenID Connect, it is u

[2018-04-10 23:03] TomCJones commented on #2221
If you aren’t interested in obtaining user consent or any of those other niceties that come with a well thought out approach to managing user security or privacy, then go ahead with whatever you can hack up.

[2018-04-11 05:06] heavenwing opened #2222 "Scaling an IdentityServer4 service"
I also have this issue from StackOverflow: [Scaling an IdentityServer4 service
](https://stackoverflow.com/questions/45233415/scaling-an-identityserver4-service)

And I have already "AddSigningCredential" and "AddDataProtection" like this https://stackoverflow.com/a/45275954/377727, but this problem still not be resolved.

[2018-04-11 07:38] enemyofthedawn commented on #2221
Yeah, I'm not interested in any user consent as I want the auth to happen in the background (transparently) in my native mobile/desktop app. But I saw you can disable the consent if you want to. Can you give me some example why would I want to use OIDC instead of my own authentication/authorization flow? What other niceties do you mean? Basically I want just login/logout feature but using tokens a

[2018-04-11 08:42] LindaLawton commented on #2222
This is the same issue i am having [stateless or not staetless] (https://github.com/IdentityServer/IdentityServer4/issues/2205) I also have a stack overflow question about it.   [Running multiple instances of Identity server in docker cluster
](https://stackoverflow.com/q/49687491/1841839)

[2018-04-11 09:09] morten-hogseth opened #2223 "External Provider and Proxy"
Please only use the issue tracker for bug reports and/or feature requests. For general security questions, or free or commercial support options do __not__ use the issue tracker and instead see [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

For bug reports,  include the relevant log files related to your issue. See here how to enable [logging](https

[2018-04-11 10:25] LindaLawton commented on #1837
@jayslife  can you post some more info on your solution for this?

[2018-04-11 10:34] rafaelvascc commented on #2207
Thanks for response and sorry for the delay. Do you have an example of the implementation  of the profile service?
I see that the implementation of the DefaultProfileService is actually quite simple, but i still dont understand how to make my implementation work with my grant validation.
Thanks.

[2018-04-11 10:47] leastprivilege commented on #2207
No I don't - derive from the default and register it. Set a breakpoint in the methods and inspect the context. That's what I would do.

[2018-04-11 10:54] leastprivilege commented on #2223
This is a hosting concern - please check the Microsoft docs for deploying behind proxies or load balancers.

[2018-04-11 11:02] morten-hogseth commented on #2223
Ok thanks

[2018-04-11 11:02] #2223 closed

[2018-04-11 11:47] #2217 closed

[2018-04-11 11:49] phucan1108 commented on #2217
Hi,

I have found the issue, seems my projects have a lot of concurrent threads so this debug isn't reliable, my problem occurred in another part.

Thanks

[2018-04-11 12:09] brockallen commented on #2221
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-04-11 12:09] #2221 closed

[2018-04-11 12:10] brockallen commented on #2222
We have docs on deployment: http://docs.identityserver.io/en/release/topics/deployment.html

[2018-04-11 12:13] LindaLawton commented on #2222
@brockallen  which points to something that we have already stated doesn't work.   Have you tested it recently can you verify that it does in fact work?

[2018-04-11 12:45] TheJayMann opened #2224 "RequireCspFrameSrcForSignout = false does not sign out websites using front channel"
I have one client I was configuring which itself wraps another website on a different domain.  Under the default settings, it was not being properly signed out on the logout page defined by the QuickStart UI.  I found an error in the browser console stating the redirect was not allowed due to the `frame-src` value.  I found that the `frame-src` could be disabled by setting the `RequireCspFrameSrcF

[2018-04-11 12:50] LindaLawton commented on #2222
Have you had time read the issues or the stack overflow questions?   It is not possible to run more then one instances of Identity server in docker using the documentation you have linked.

[2018-04-11 12:58] leastprivilege commented on #2222
Oh yes - I can confirm that.

The problems you point to seem to be related to the ASP.NET Core Data Protection feature. Are you sure you configured this correctly - with or without key encryption?

Maybe you need to open an issue at Microsoft?

[2018-04-11 13:11] LindaLawton commented on #2222
On a nix system not a windows system correct?  This error only shows up in docker running linux.

I have tried both and noting seams to work.

This is a whole other ball game before i could do that i would have to prove that there is something wrong and how to fix it.

I am still hoping for some assistance on my stack issue

[2018-04-11 13:32] brockallen commented on #2206
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-04-11 13:32] #2206 closed

[2018-04-11 13:34] brockallen commented on #2203
All set on this issue?

[2018-04-11 13:41] brockallen commented on #2220
TODO: move the values to constants somewhere

[2018-04-11 13:42] brockallen commented on #2219
Done

[2018-04-11 13:42] #2219 closed

[2018-04-11 13:43] brockallen commented on #2212
Don't throw if no match

[2018-04-11 14:46] dudedev commented on #2069
Is this issue really fixed. I am still getting this error.
[code]

Below is the service setup code.
[code]

 I am using version 2.5.0 of IdentityServer4.AccessTokenValidation which is using IdentityModel.AspNetCore.OAuth2Introspection v3.2.0

[2018-04-11 17:41] brockallen commented on #2069
Do you have a middleware in your pipeline such as `UseDeveloperExceptionPage`? That's why it's rending html, and not json.

[2018-04-11 18:01] brockallen commented on #2220
done

[2018-04-11 18:01] #2220 closed

[2018-04-11 18:06] brockallen opened #2225 "Consider allowing hybrid clients to only request id_token"
Currently we fail the request.

[2018-04-11 18:08] brockallen commented on #2211
Done

[2018-04-11 18:08] #2211 closed

[2018-04-11 18:14] brockallen commented on #2212
I was seeing an error when using an external login, but it was the the external cookie scheme was not lining up with the one used in the external callback code.

[2018-04-11 18:14] #2212 closed

[2018-04-11 18:21] bahadircivelek opened #2226 "Pass token from Mvc to Javascript"
Hi,
My registration and login part in MVC side. at user login, i am redirect to user to my angular part but i wonder how can i pass access_token from mvc to angular side, what is the best way to do that ?

[2018-04-11 18:26] brockallen commented on #2226
I'd suggest treating your JS like a separate client and use oidc-client-js. Having said that, this seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-04-11 18:26] #2226 closed

[2018-04-11 18:41] brockallen commented on #2224
I think disabling the entire CSP header is this flag is set is the fix.

[2018-04-12 02:23] Janidbest opened #2227 "Additional client validation and a proper response just like "UnauthorizedClient""
Scenario, Client passed acr_values tenant, validate the tenant and client. If validation fails return a error message "UnauthorizedClient".

on token request, validate user and client and return appropriate message through.

CustomTokenRequestValidationContext .Result.Error/ErrorDescription is not been handled to the end of the request.

CustomTokenRequestValidationContext .Result.IsError=true , r

[2018-04-12 04:39] Janidbest commented on #2227
one of your earlier response was not to set the error=true. Recommended to leave the message the it is handled well. Seems like it is not correct now. I have crawl through the code and fixed it with the below code.

`  context.Result.IsError = true;
                    context.Result.Error = OidcConstants.AuthorizeErrors.UnauthorizedClient;`

However when using password grant type with resourceown

[2018-04-12 07:09] scottbrady91 commented on #2225
Is this allowed in the spec?

[2018-04-12 07:13] leastprivilege commented on #2203
The account controller is YOUR code. You can do whatever you want.

[2018-04-12 07:16] scottbrady91 commented on #2222
I've added an answer to your [SO question](https://stackoverflow.com/a/49790243/3274800). Not putting `AddDataProtection` after `AddIdentityServer` is the usual suspect for this issue.

[2018-04-12 07:17] leastprivilege commented on #2203
And no - we don't have a sample. Everything on the account controller is custom to your scenario. All you do is tell us the authentication outcome by setting the cookie.

[2018-04-12 07:17] scottbrady91 commented on #2222
And I can back Dom up on this one, we have multiple clients running load balanced IdentityServer installations on Docker, Windows, and Linux, with F5 and all sort of weirdness placed in front of them. It does work :)

[2018-04-12 08:33] dudedev commented on #2069
Yes, I am using the DeveloperExceptionPage, but only in the development mode. like this..
[code]
But, I get the same error if I run it in Production mode. I get above error in the log output, when I send an API request with access_token.

[2018-04-12 08:35] xaviergxf opened #2228 "First request to identityServer ExternalLoginCallback Error"
Hi,

  The MVC Client when requesting the first time authentication to IdentityServer makes it throw the exception "External authentication error" because result.Successed is false and there's no failure message.

 /// <summary>
        /// Post processing of external authentication
        /// </summary>
        [HttpGet]
        public async Task<IActionResult> ExternalLoginCallback()
        {

[2018-04-12 11:12] #2203 closed

[2018-04-12 11:30] brockallen commented on #2069
Doesn't this: `app.UseExceptionHandler("/Home/Error");` render html?

[2018-04-12 11:31] brockallen commented on #2225
The config for the client is orthogonal to the request from the client.

[2018-04-12 11:34] brockallen commented on #2228
Not sure. The code on that login page is your code. We only provide samples/quickstarts to get you started. You need to debug, understand, and control that code for your requirements.

[2018-04-12 11:41] xaviergxf commented on #2228
My code is a copy paste from one of the quickstarts...

[2018-04-12 12:12] brockallen commented on #2228
On you using the release QS UI code, or the dev branch UI code?

[2018-04-12 12:14] brockallen commented on #2228
I did find a bug in our dev branch code for windows auth. If you were also using the dev branch, apply this change to your code: https://github.com/IdentityServer/IdentityServer4/commit/a90bd0f1340a02f8e03280c1cf44d2b880b018f5

[2018-04-12 12:34] scottbrady91 commented on #2225
I like the idea, but you're going to get people quote this table at you: https://openid.net/specs/openid-connect-core-1_0.html#Authentication

Also, playing devil's advocate, why just id_token? Couldn't hybrid client request all combinations?

[2018-04-12 12:52] dudedev commented on #2069
I found out the issue. Actually, due to incorrect DNS entry the identity server was pointing to the application(dockerized) itself, which was returning HTML. Anyways, thanks for your support.

[2018-04-12 13:14] bongia commented on #356
@leastprivilege can you provide an example?

[2018-04-12 16:20] zeus82 opened #2229 "Ignore SSL Errors when obtaining configuration"
My dev environment, the auth server has an invalid SSL cert. When my client tried to get the OpenId config from https://auth-server/.well-known/openid-configuration I get the following error:

[code]
Here is how I configure IdentityServer4:

[code]

Can IdentityServer4 be configured to ignore cert errors in this scenario?

[2018-04-12 17:03] brockallen commented on #2225
Yea, I see your point.

Come to think of it, I like it. I only suggested id_token by itself since it reduces the complexity. The others need more consideration.

The reason we have been so strict was to prevent misconfiguration. Granted, I only gave it a brief think-thru of threat models, but a hybrid client that also can just ask for id_token does not seen like it would leak more than code id_tok

[2018-04-12 17:05] brockallen commented on #2229
The fix you're asking for doesn't match the problem you're encountering, as you said yourself here:

[2018-04-12 19:25] Muraliapm opened #2231 "Identity server 4"
Hi,

I have created Authorization server project using Identity Server 4. Then I have created a. Net core API and generating token from API controller method using identity server which I have created.

I can able to get token from identity server without any issues but after generating token, I stopped Authorization server and trying to access a controller method(this method set with Authorize at

[2018-04-13 00:19] MovGP0 opened #2232 "Feature Request: Sample for Web Authentication (FIDO 2.0)"
There should be an code example how to use the new Web Authentication standard, since it is soon to be supported by all major browsers.

https://docs.microsoft.com/en-us/microsoft-edge/dev-guide/device/web-authentication

[2018-04-13 00:26] MovGP0 commented on #2232
Mostly want to keep track of this. Does not mean that we need to implement it anytime soon.

I don't think that there are .NET libraries for it. It's actually a browser feature. So JavaScript only so far.

[2018-04-13 00:32] TomCJones commented on #2232
Client is not useful without a server.

thx ..Tom (mobile)

On Apr 12, 2018 5:27 PM, Johann Dirry <notifications@github.com> wrote:

Not asking for much are we?

Mostly want to keep track of this. Does not mean that we need to implement it anytime soon.

Do you have any links to working .net sdks?

I don't think that there are .NET libraries for it. It's actually a browser feature. So JavaScript o

[2018-04-13 02:28] cxheun commented on #2087
Hi @brockallen, please don't close yet. I'm currently having this issue. How do I resolve should it be a misconfiguration in the authentication scheme?

"Sounds like there might be some misconfig in your ASP.NET authentication schemes."

[2018-04-13 07:10] Janidbest commented on #475
We have hit this issue with one our web vulnerability scanner. Because of this the login process is uncomplete, the form_post (hybrid grant) is not executing on authorizationresult to signinoidc.
This is using latest identityserver4 as on today.
console message - _Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'sha256-VuNUSJ59bpCpw

[2018-04-13 12:46] leastprivilege commented on #1786
roles, roles, roles

https://www.youtube.com/watch?v=jLE1xKo6dns

[2018-04-13 14:05] HendrikFW commented on #1620
@CamiloTerevinto Could you describe the relevant code in more detail? I'm facing the same issue.

[2018-04-13 15:18] CamiloTerevinto commented on #1620
@HendrikFW  See my Stack Overflow post: https://stackoverflow.com/questions/46729801/windows-authentication-does-not-accept-credentials

[2018-04-13 15:30] TomCJones commented on #2232
Well, I have started working on U2F, but am waiting on existing pull request for 2fa.

[2018-04-13 17:01] siemens-slohr commented on #2085
i was unable to discover the origin of this problem.

due to other important issues we face currently - we will stick with a workaround (generate secretes without special characters which will cause this error).

[2018-04-14 02:55] hflorin opened #2233 "Adding User Authentication with OpenID Connect"
### Issue / Steps to reproduce the problem
I have been following the steps from the documentation for adding user authentication with OpenID Connect. This link: [https://identityserver4.readthedocs.io/en/release/quickstarts/3_interactive_login.html].

So the setup is, on one hand, the standard Asp.Net Core MVC Web App acting as the host for  IdentityServer4. The app is the standard template with A

[2018-04-14 13:46] rizamarhaban commented on #1617
@leastprivilege Hi,

Need help. I try to add claim on ```OnCreatingTicket``` but never works.

[code]
When I try to get the claim from MVC (hybrid) and API (client_credentials), it didn't exist in claims. I have try many ways somehow cannot make it to work. I also try to capture from the context to use IProfileServices but the ```profileImage``` which has been added on creating ticket never exist

[2018-04-14 14:02] brockallen commented on #2224
Fixed. Please test our nightly build and let me know how it's working.

[2018-04-14 14:02] #2224 closed

[2018-04-14 14:03] brockallen commented on #1842
I've merged the PR so now there's an option you can configured if you want/need to support older browsers.

[2018-04-15 08:34] hnviradiya commented on #1170
Hey, I have same issue. Why do I need database, as in my case, I don't have load balancer. I am using normal chrome window.

[2018-04-15 10:42] #2233 closed

[2018-04-15 12:07] Kaidanov commented on #1898
Did you find a solution for multiple projects at the end?

[2018-04-16 02:30] TomCJones commented on #2221
https://www.scottbrady91.com/Identity-Server/Getting-Started-with-IdentityServer-4

[2018-04-16 05:45] Kaidanov commented on #1898
Trying to do
[code]
and getting

and without it getting

any solution for multiple options to use OIDC of IdentityServer4 ?

[2018-04-16 13:54] leastprivilege commented on #1609
done

[2018-04-16 13:54] #1609 closed

[2018-04-16 15:32] TheJayMann commented on #2224
I wasn't available to test this until today, and, I was able to test with the recently released v2.2 and it worked properly as expected.

[2018-04-16 17:16] OscarCanek commented on #2115
Is there any update or some related issue? I'm getting the same problem.

[2018-04-16 18:30] ntregillus opened #2235 "No DbContext named 'PersistedGrantDbContext' was found."
### Steps to reproduce
1) have an existing ASP.net entity identity project
2) install the following packages:

3) Modify your Startup.cs
[code]
(application user is my aspnet user class, with identity identifier of `int`)
4) attempt to run the migration generation via dotnet console app:
[code]
**Expected**
should have used the PersistedGrantDbContext in the nuget package.
**Actual**
threw the `No

[2018-04-16 19:01] ericgreenmix opened #2236 "BasicAuthenticationSecretParser `Decode` of Secrets that have `+` signs breaks"
I just updated from 2.1.1 to 2.1.3. After the update I kept getting `invalid_client` on then `token` endpoint. With the reason of `Invalid client secret`.

I tracked this down to a change in 2.1.2 that added the `Decode` method to the `BasicAuthenticationSecretParser` on the secret.
https://github.com/IdentityServer/IdentityServer4/blob/bfd7031bdc1b950db12859d0597fec1f05cede60/src/IdentityServer4/

[2018-04-17 07:55] mpomery commented on #2236
What happens if you encode your client secret before you send it?

The decode message replaces all unencoded plus signs with encoded spaces, changing the character it ends up as when the decode runs.

[2018-04-17 09:56] tomasfilipEC opened #2237 "Is there a way how you can show a progress screen after the login screen?"
Hi,

first of all, thank You for all the hard work that you put into Identity Server.
And now my question:

Once the user clicks login on the login screen and the login is successful the user is redirected to connect/authorize. During that time the user is presented with a blank screen while the processing is handled.

Is there a way how I could show a custom HTML page during this step? It would b

[2018-04-17 11:12] arslandurrani opened #2238 "error when configuring SSL certificate"
i trying to configure SSL certificate on IdentityServer using self signed certificate
but when i try authenticate from IdentityServer using other app i get this error

![capture](https://user-images.githubusercontent.com/33898857/38866374-28cd3d32-425a-11e8-8b6d-0e80fd8b3965.PNG)

[2018-04-17 12:10] ericgreenmix commented on #2236
Right, so I saw that the `TokenClient` in the IdentityModel has been updated to have this encoding. So if I go update all the dependent applications to the latest version of IdentityModel, that adds this encoding, things start working again.

I also just found https://github.com/IdentityServer/IdentityServer4/issues/2086, which describes this issue as well. Closing

[2018-04-17 12:10] #2236 closed

[2018-04-17 12:37] mpomery commented on #2237
`connect/authorize` responds with a 302 redirect back to the client application. How long are you seeing this page for? What does the network performance tab in your browser show?

I just ran a test on my instance and my login took 500ms, while the authorize page was around 70ms
![Test Run](https://i.imgur.com/NixLu63.png)

- First call is the form submission, which redirects to `connect/authorize

[2018-04-17 14:51] ddydeveloper commented on #187
Hi!

Thank you for ID4, it is awesome. Maybe it is not suitable d, but it looks like this. I have several questions about ID4. Unfortunately, I didn't fully understand your solution. Can I implement this case with ID4:

1. I have more than 1 client
2. Each client should be authenticated separately, so even if I logged in in the first app I need to login in the second one.

Can I use build-in mecha

[2018-04-17 15:09] maganuk commented on #187
That's what identity server is built for. You can authenticate as many clients as you like. Think of how you can login to different sites using Facebook, all using a single set of credentials. To force the user to login you could use prompt=login.

Have a look at https://github.com/IdentityServer/IdentityServer3/issu

[2018-04-17 15:27] piotrek-k opened #2240 "Samples: Filename too long"
I can't create any issues on [this repo](https://github.com/IdentityServer/IdentityServer4.Samples) so I'm creating it here.

### Issue / Steps to reproduce the problem

I'm simply tring to clone Samples project on Windows 10.

### Relevant parts of the log file

[code]

Maybe you should consider shortening folder names?

[2018-04-17 16:11] gatimus commented on #1467
I have a similar requirement to distinguish the `prompt` value. I have the requirement to popup a signin if the browser was asleep (token didn't renew and expired and silent signin failed) or if the user was signed out from an other tab (session monitoring) to allow the user to re-sign in with out losing work. This login view needs to only allow login into the use authenticating not any user. I wa

[2018-04-17 16:28] maganuk commented on #187
have a look at this: http://docs.identityserver.io/en/release/topics/signout.html

hope you've configured the two clients separately in IDS...

[2018-04-17 16:29] brockallen commented on #2224
Good to hear. Thanks

[2018-04-17 16:31] brockallen commented on #2238
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-04-17 16:31] #2238 closed

[2018-04-17 16:43] ddydeveloper commented on #187
@maganuk if I'm not mistaken, clients configured separately:

`internal static IEnumerable<Client> GetClients(IEnumerable<RegisteredClient> clients)
        {
            return new List<Client>
            {
                new Client
                {
                    ClientId = "1",
                    AllowedGrantTypes = GrantTypes.Hybrid,
                    RequireConsent = false,

[2018-04-17 17:02] maganuk commented on #187
Check what cookies are clearing out. If I'm not mistaken, ids should retain
the cookie after logging out of one of the applications. Unless you're
doing a single signout.

On Tue, 17 Apr 2018, 22:14 Daniil, <notifications@github.com> wrote:

[2018-04-17 17:04] ntregillus opened #2241 "missing steps to use `IdentityServer4.Quickstart.UI.AspNetIdentity` content of repo"
https://github.com/IdentityServer/IdentityServer4.Quickstart.UI.AspNetIdentity

notes say there are directions on how to use this repo over an existing project, but never provides them

[2018-04-17 17:07] ntregillus commented on #2241
This is my third attempt at using IdentityServer4 on my existing Aspnet identity website. all have failed to build the entityframework migrations since i already have a context that is used for my project.

all the documentation I am finding is for greenfield new projects. tacking this on an existing aspnet identity solution just isn't working (aka migrations never get generated when attempting to

[2018-04-17 17:15] ddydeveloper commented on #187
@maganuk If I log out all cookies are cleared. I can't understand, why log in to one app force log out from another one?

Right now I have followed behaviour:

1. I've set up promt=login for all client apps in OIDC middleware;
2. I'm not loggen in any app;
3. I do log in in the first app, it works as expected;
4. I do log in in the second app
5. I update the first app page, after this I am redirec

[2018-04-17 22:24] hubaozhang opened #2242 "Update clients in IdentityServer4 database"
I use Net core EF for MS SQL database access. I have the following code to seed and update my database.

     private static void EnsureSeedData(ConfigurationDbContext context)
        {
            if (!context.Clients.Any())
            {
                Console.WriteLine("Clients being populated");
                foreach (var client in Config.GetClients().ToList())
                {

[2018-04-18 02:55] garymacpherson opened #2243 "Invalidate client side cookie with token service"
Just wanted to clarify my knowledge and ensure there wasn't a configuration piece I was missing.

Upon successful sign-in the browser is issued idsrv.session and .AspNetCore.Cookies cookies which allowed repeated access to the /connect/authorize endpoint to be handled without having to login again (unless prompt=login param is found)

When the end user browses to /connect/endsession these 2 cookie

[2018-04-18 02:58] 82949712 opened #2244 "Question: Single sign on between asp.net core and asp.net mvc 5"
I have two web apps one is using owin on old MVC with the following settings
route.UseCookieAuthentication(new CookieAuthenticationOptions
                    {
                        AuthenticationType = "Cookies",
                        CookieName = "WebPortal_Auth"
                    });

                    route.UseOpenIdConnectAuthentication(new OpenIdConnectAuthenticationOptions

[2018-04-18 03:44] #2244 closed

[2018-04-18 05:57] prisar commented on #888
Installing `IdentityServer4.AspNetIdentity` worked for me

[2018-04-18 07:05] ddydeveloper opened #2245 "Sign in: authorize specific users in concrete apps"
Hi!

Could you clarify can I use ID4 to authenticate specific user on specific apps. E.g. I have two apps, one app for limited part of the users and another - for all users. I want to provide followed flow:

1. I logged in as a first app user. When I open the second app I want to be redirected to the ID4 log in page (even if I was logged in in the first app)

2. And the same in the opposite case.

[2018-04-18 09:30] egmfrs commented on #2206
Thanks, I got what I needed. Thought I would come back and add this link in case anyone ends up here with the same predicament: [https://stackoverflow.com/questions/49690300/intercept-asp-net-core-authorize-action-to-perform-custom-action-upon-successful](https://stackoverflow.com/questions/49690300/intercept-asp-net-core-authorize-action-to-perform-custom-action-upon-successful) (basically you ne

[2018-04-18 09:52] ddydeveloper opened #2246 "Get client id in the Login action"
Do ID4 provides opportunity to get client id in the login action? I can parse it from the returnUrl field but it seems not so good decision.

[2018-04-18 09:56] Meldow opened #2247 "SSO with multiple tenants"
I have several tenants that are defined by different URL using the same client

Client - c1

Tenants - t1, t2, t3

so, our users can access the client using different URL

http://t1.c1.com

http://t2.c1.com

http://t3.c1.com

Everything works wonderfull except when trying to single sign out.

[According to the docs](http://docs.identityserver.io/en/release/topics/signout.html), we will use the fie

[2018-04-18 10:44] leastprivilege commented on #2237
The above interfaces were used in IdentityServer3 - this is the IdentityServer4 repo. We don't do free support anymore on the old versions. Here are some alternative options:

https://identityserver4.readthedocs.io/en/release/intro/support.html

[2018-04-18 10:47] leastprivilege commented on #2246
Check our quickstart UI

https://github.com/IdentityServer/IdentityServer4.Quickstart.UI/blob/release/Quickstart/Account/AccountController.cs#L80

[2018-04-18 10:47] #2246 closed

[2018-04-18 10:49] leastprivilege commented on #2245
IdentityServer is a **single sign-on** system. If you need to restrict certain users to applications, you need to put that logic into the application itself.

[2018-04-18 10:49] ddydeveloper commented on #2246
Thank you!

[2018-04-18 10:54] ddydeveloper commented on #2245
I am right to reach expected behaviour I need to implement one of the followed solution:

1. Use separate IdentityServer Node for each context (group of the app with SSO);
2. Use Roles to manage access to the concrete apps according to the logged in user;
3. Implement own authentication logic for each app.

[2018-04-18 11:17] tomasfilipEC commented on #2237
I understand,
thank you for your support anyway.

Kind Regards
Tomas Filip

[2018-04-18 11:47] davdev82 commented on #2115
I am having the same error. ".AspNetCore.Correlation. state property not found". It does not happen all the time, but when it does none of our customers can login and the page is stuck at "/signin-oidc". We do not have multiple OIDC handlers configured. I do have noticed that the version of the middleware has been upgraded to 2.0.3, so it might be worth trying that approach to see if it fixes the

[2018-04-18 11:48] davdev82 commented on #2115
But any update on this would be huge help !!!

[2018-04-18 12:09] leastprivilege commented on #2245
None of the above.

IdentityServer is the central authentication system. App access is managed in the app.

[2018-04-18 12:53] brockallen commented on #2247
Use the backchannel logout for that scenario.

[2018-04-18 13:00] brockallen commented on #2243
You can configure the cookie handler in ASP.NET Core to store a server-side representation of them (via ITicketStore SessionStore on the cookie options). That's an ASP.NET Core feature, so check the Microsoft docs.

[2018-04-18 13:32] garymacpherson commented on #2243
Cheers for the direction.

[2018-04-18 13:32] #2243 closed

[2018-04-18 14:25] ddydeveloper commented on #2245
@leastprivilege OK, I understand, but can I use [Authorize(Roles="myrole")] for client controllers actions returned view. We have central authentication point but check the access for each app separately.

It is not against the idea of the IdentityServer, isn't it?

[2018-04-18 15:57] wangpengxpy commented on #982
@epshlaz   when i sigin out in client，if i wouldn't like to redirect to ids4 ,how can i do? use end session endpoint?

[2018-04-18 16:16] odinnou opened #2248 "Exception: Duplicate API scopes found"
Hello !

I have upgrade recently my Identity Server from v2.1.3 to 2.2.0 without changing anything else.
But, when I try to get a token, I got this exception :

"Duplicate API scopes found. This is an invalid configuration. Use different names for API scopes. Scopes found: basic"

![scopes_fail](https://user-images.githubusercontent.com/3084655/38943501-dc33b2d4-4331-11e8-8d45-35290d12e1b5.PNG)

I

[2018-04-18 16:42] leastprivilege commented on #2248
Scope names must be unique. Since this was a common configuration mistake, we added a check for it in the latest version.

[2018-04-18 16:45] leastprivilege commented on #2245
You can do that.

[2018-04-18 16:47] odinnou commented on #2248
Hello
Ok ok, thank you, I was afraid of this answer xD

I will update this.

[2018-04-18 16:48] ddydeveloper commented on #2245
Thank you for help, close this issue

[2018-04-18 16:48] #2245 closed

[2018-04-18 16:59] leastprivilege commented on #2222
any progress?

[2018-04-18 17:00] leastprivilege commented on #2205
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2018-04-18 17:00] leastprivilege commented on #2229
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2018-04-18 17:00] #2229 closed

[2018-04-18 17:02] #2248 closed

[2018-04-18 17:08] leastprivilege commented on #2241
I am not sure if work was ever completed in this repo. Not enough resources I am afraid.

[2018-04-18 17:09] leastprivilege commented on #2240
this issue has been discussed a couple of times - either you shorten your base path - or there is a command line when cloning to support long paths.

[2018-04-18 17:09] #2240 closed

[2018-04-18 17:09] leastprivilege commented on #2207
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2018-04-18 17:09] #2207 closed

[2018-04-18 17:11] leastprivilege commented on #2231
This is the way this works with self contained tokens (JWTs) - they are valid as long as the configured lifetime. You can set the AccessTokenType property on the client to Reference to get the behavior you want.

https://identityserver4.readthedocs.io/en/release/topics/reference_tokens.html

[2018-04-18 17:11] #2231 closed

[2018-04-18 17:16] rafaelvascc commented on #2207
Sorry for not giving any updates. I was moved to another project and could not work on this issue anymore. Maybe another developer will ask further questions in the future. Thank you.

[2018-04-18 18:25] odinnou commented on #2248
Just out of curiosity the "offline_access" scope is an exception so ?
If I want to use refresh_token with 2 differents APIs, I will not have this error ?

[2018-04-18 18:44] SIkebe commented on #2240
`git config --system core.longpaths`

[2018-04-18 18:46] leastprivilege commented on #2248
Yes. You wouldn't put offline_access into the scope list - rather set EnableOfflineAccess on the client.

[2018-04-18 18:48] odinnou commented on #2248
Yes, indeed.. sorry for my stupid question ^^

[2018-04-18 19:42] LindaLawton commented on #2205
Ask for an update and close at the same time.    No update still not working.

Can't run multiple instance in docker.

[2018-04-18 20:10] brockallen opened #2249 "Consider Properties on ApiResource and IdentityResource EF models"
Please

[2018-04-18 20:11] brockallen commented on #2249
@leastprivilege let's discuss

[2018-04-19 00:14] epshlaz commented on #982
@wangpengxpy
You should to have appropriate Client configuration in the IdentityHost.
new Client
   {
 @.......
    // where to redirect to after logout
    PostLogoutRedirectUris = { "http://YourClienthost:port/signout-callback-oidc" },
.............
   }

[2018-04-19 03:47] wangpengxpy commented on #982
@epshlaz  I have configured as above。

[2018-04-19 04:44] leastprivilege commented on #2205
Well - we can offer you commercial support. That seems to be the most sensible way to go forward.

Write us an email.

[2018-04-19 04:50] iamsoorya commented on #1898
Yes. Thank you very much for following up.

On Sun, Apr 15, 2018, 17:37 Tzvi Gregory Kaidanov <notifications@github.com>
wrote:

[2018-04-19 07:37] LindaLawton commented on #2205
That's not an option for me sorry.

I am sure i can figure this out when I have the time its currently my 20% time project. I am sure it will make a great blog post / tutorial / sample project when i am done as it appears i am not the only one having issues.

[2018-04-19 07:56] scottbrady91 commented on #2249
What, like client properties?

[2018-04-19 08:46] landonzeng opened #2250 "IdentityTokenLifetime and AccessTokenLifetime setting time is invalid"
IdentityTokenLifetime and AccessTokenLifetime are set to 30 seconds, and when I get to token, I use this token to request Api to be successful, but this token can still access Api after the last 30 seconds. It wasn't until 5 minutes later that token was lost. Is it wrong for me to configure it?

![startup](https://user-images.githubusercontent.com/7336781/38981122-27971bca-43f1-11e8-9466-cbf19c2f1

[2018-04-19 08:56] SIkebe commented on #2250
5 min skew is by design.
https://github.com/IdentityServer/IdentityServer4/issues/497

[2018-04-19 09:59] balaji-rajan commented on #852
any timeline for this future?

[2018-04-19 10:09] leastprivilege commented on #852
Not right now. Does your company need it?

[2018-04-19 10:10] leastprivilege commented on #2205
May I ask why?

[2018-04-19 11:05] mantasaudickas opened #2251 "IdentityServer might log tokens in case of error"
Hello,

we are using IdentityServer4, v 2.1.3 with ASP.NET Core 2.0.6.
For logging we use Serilog structured logging.
Recently I noticed that in case of authorization errors tokens are also logged.

I don't think it is very safe behavior especially when distributed logging can be used  like ELK where anybody can accidentally see issued token.

One particular case we have when using Implicit flow w

[2018-04-19 11:27] LindaLawton commented on #2205
This is my job I am in charge of the identity server project where I work, I was hired for my background in OAuth, Identity servers and security.  I cant pay you to do my job that would kind of be defeating the purpose and I wouldn't learn anything.

Running multiple instances isn't something that must be supported right now its something we will need down the road.   That's why i have taken it on

[2018-04-19 11:41] leastprivilege commented on #2251
id_tokens are not security sensitive (as opposed to access tokens). But I agree that this could leak personal data.

We'll look into it.

[2018-04-19 11:43] leastprivilege commented on #2205
OK. no problem.

Closing this issue now - create a new more specific issue when the time has come. Also let us know when you documented it so we can incorporate it in our docs.

[2018-04-19 11:43] #2205 closed

[2018-04-19 11:49] mantasaudickas commented on #2251
Yes, I agree it is not security sensitive, but having in mind that id_token by default is valid for 5 minutes (http://docs.identityserver.io/en/release/reference/client.html#token), it might be an issue.
Also maybe there are other places where such information might be logged even with access_token..

[2018-04-19 12:01] LindaLawton commented on #2251
We have currently been working on [GRDP](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation)  there was a question posed in a meeting yesterday about the data that is being logged by Ids4.   Unfortunately its hard for me to see what is standard logging and what was added by my predisor

      Loading Installed App claims for user 21248582 with fiscal of 21880.

I think it would be ni

[2018-04-19 12:11] LindaLawton commented on #2249
Not apposed to it as i currently use client properties.    What is your use case?   and could it be expanded to other tables?

[2018-04-19 12:16] LindaLawton commented on #2242
Which properties exactly are not being updated?

Any chance you can give me a client before and what you are trying to update it to?

[2018-04-19 12:50] prisar commented on #1223
I am getting this error also? `fail: IdentityServer4.Validation.AuthorizeRequestValidator[0] Invalid redirect_uri:`

[2018-04-19 13:42] balaji-rajan commented on #852
Yes, it would definitely help and if not as work around i've to go through TokenService. It will be really great if we get in build support

[2018-04-19 13:52] Meldow commented on #2247
@brockallen  Thank you for the quick response

I've added the same URL to the back-channel and now it logs the following

13:31:05.159 D      7 32766 1000  [IdentityServer4.Validation.EndSessionRequestValidator] Client front-channel logout URLs: "https://c1.eu/oneloginconnector/logout-confirm?sid=8a9c807850c2b4050f57231e0d845b69&iss=https%3A%2F%2Fc1.eu%2Foneloginidentity"
13:31:05.159 D      7 327

[2018-04-19 14:28] Meldow commented on #2247
[Further investigation](https://openid.net/specs/openid-connect-backchannel-1_0.html#BCRequest) found out that it is a POST and not a GET, will be trying some ideas and will get back asap

[2018-04-19 15:14] leastprivilege commented on #852
OK - if you company likes to sponsor the feature we can prioritize it.

[2018-04-19 15:16] leastprivilege commented on #2251
Good idea - do some research and we can incorporate that in docs and future versions.

[2018-04-19 15:17] leastprivilege commented on #2251
Even in that time period it is not security sensitive. But anways - yes - re-working logging is on of our big todo features for 3.0

[2018-04-19 16:41] LindaLawton commented on #2251
I have a feeling I just inadvertently volunteered for this task.   Documentation is on git right?

[2018-04-19 16:44] TomCJones commented on #2249
I have started a project to put properties on user private information. This effort is needed (IMHO) to become GDPR compliant.

[2018-04-19 17:04] leastprivilege commented on #2251
I think you did. Do your research first - then we can discuss.

[2018-04-19 17:05] leastprivilege commented on #2249
And how is that in any way related to this issue?

[2018-04-19 17:18] TomCJones commented on #2249
how is that any different from Properties on IdentityResource EF models

[2018-04-19 17:36] LindaLawton commented on #2251
I have a question first.   Is it the responsibility of IDs4 to ensure GDPR compliance?   or is it up to the developer using IDs4 that what they are doing is GDPR compliant?   there is a difference in how we approach this.

I have no use in looking into this I need to anyway for work now that I have spotted it in the logs management knows there is a problem.

[2018-04-19 17:47] TomCJones commented on #2251
That's been a broiling topic for a very long time.  See this https://www.splunk.com/en_us/form/how-to-operate-your-siem-under-the-gdpr.html?ac=bing_amer_usa_en_search_generic_security&utm_campaign=bing_amer_usa_en_search_generic_security&utm_source=bing&utm_medium=paidsearch&utm_term=siem&utm_content=laymans_guide_SIEM_GDPR_WP_EN&_bt=71124728250246&msclkid=77c887379deb188cd381ddef48a56766

my own

[2018-04-19 17:55] LindaLawton commented on #2251
I was more thinking could we / should we prevent some information from being logged?

Example: Google analytics will no longer accept logging of emails they drop the data.

or should we recommend that logs be stored secure and what you choose to log is up to you.

[2018-04-19 18:25] leastprivilege commented on #2251
What I was thinking off is to analyze what we are currently logging and point out possible problems so we can address them in the future.

[2018-04-19 18:43] LindaLawton commented on #2251
sounds like a good a place to start as any.   I have a few hours tomorrow I will start there.

[2018-04-19 20:20] Exocomp opened #2252 "Revoking token not belonging to a client returns http status 200"
### Issue / Steps to reproduce the problem

1. Create two clients: client_1 & client_2
2. Create a reference token with client_1
3. Revoke the reference token belonging to client_1 with client_2
4. The identity server logs show the following:

[code]

5. Note the log indicates a warning but then indicates the token was successfully revoked ?
6. The client gets a 200 OK as a response ?
7. The token

[2018-04-19 22:10] FletcherNZ opened #2253 "SAMLRequest IssueInstant too old to trust"
Hi,

Currently having an issue with Identity Server 4.0 using Azure AD B2C as source of user registration and securing via MFA.

As the registration time varies depending on the user logging into their MSA/Gmail account and then adding their MFA authentication methods and then validating these, by the time they hop back to Identity Server the following error appears:

Error
Sorry, there was an err

[2018-04-20 01:54] liamdawson opened #2254 "Separate "Abstract" models into POCO "Core" package"
I have a scenario where I want to share some IdentityServer4 models between a couple of projects via a Class Library project, and this currently means that I need to add the full `IdentityServer4` nuget package to that shared project. It would be lovely if some of the configuration POCOs could be separated into a `IdentityServer4.Abstractions` or similar library, mainly for classes like `IdentityR

[2018-04-20 04:37] leastprivilege commented on #2254
There's already a separate issue for that. We are considering it for the next major version.

[2018-04-20 04:37] #2254 closed

[2018-04-20 04:40] leastprivilege commented on #2253
This error message definitely doesn't come from us. Do you have a call stack?

[2018-04-20 09:36] scottbrady91 commented on #2253
This is an error from our IdentityServer4.Saml component. Are you in contact with anyone from RSK? If not could you please email your issue to support@rocksolidknowledge.zendesk.com?

Off the top of my head, I'm unsure if we have a configuration option for this at the moment. If not we'll open a feature request for you.

[2018-04-20 14:21] Exocomp opened #2255 "Configurable reference access token size"
I've searched and looked into the doc but I didn't find an answer, apologies if I overlooked it.

For those who are paranoid is it possible to increase the length/size of the reference access token, is it configurable?

Currently it is 64 characters, which I would like to increase.  With the underlying paranoia being that someone could attempt random tokens and get a positive hit.

I ask the quest

[2018-04-20 17:31] ThisNoName opened #2256 "Can you make a service accepting access token from multiple authority?"
I have internal app authenticating with AD/LDAP/IdSvr4, an external app using IdSvr4 and UserId/Password from database.  Both apps need to access the same WebApi.  What's the best way to make the service accepting all tokens and consider requests from both apps as Identity.IsAuthenticated?
 I searched around but couldn't find any definitive answer.

I have a TypeFilterAttribute where I could proba

[2018-04-20 22:24] furrybaer commented on #574
Dominick, I tried using the ProfileService to add a custom claim.  It is not showing up in the Token.  I used the ASP.NET Identity Quickstart as a launch point.  I see the email and name profile claims, but I added a custom "fullname" that isn't getting populated.  I added it to the IdentityResource.  The profileservice is getting called and the roles from the DB are getting loaded.  I just don't

[2018-04-20 22:27] Muraliapm commented on #2231
Thanks @leastprivilege!!.
I am implementing my own identity server and could you please help me how to get refresh token. I am using HybridAndClientCredentials gran type and not able to get refresh token. I am able to get only access token. Please see my sample code,
![image](https://user-images.githubusercontent.com/23413513/39075501-93714758-4513-11e8-9b82-4e43593a90c7.png)
![image](https://user

[2018-04-20 22:32] WilliamDenniss commented on #2180
Agreed. This is how Google has implemented it too.

When the point was raised earlier, I thought the error was on the authorization_code exchange, not refresh_token. Looking at the spec, it is a little [ambiguous](http://lists.openid.net/pipermail/openid-specs-ab/Week-of-Mon-20180416/006728.html), but I think the intention is that it's only the code exchange (and that's how everyone has implemente

[2018-04-21 02:59] krispenner opened #2257 "Move Entities to separate .NET Standard library without dependency on EF"
I like to keep my models separate from my chosen ORM. I would like to reference the models defined under the Entities namespace without having to add a reference to EF Core.  I will add a reference to you EF package from within my EF specific project.

As in, all these classes listed [here](https://github.com/IdentityServer/IdentityServer4.EntityFramework/tree/dev/src/IdentityServer4.EntityFramewo

[2018-04-21 04:06] EYScudeler commented on #816
scopelt solution worked for me.
I've commented out the services.AddCors and app.UseCors and /userinfo started to return Access-Control-Allow-Origin

[2018-04-21 12:37] leastprivilege commented on #2255
The entropy is 256 bit. Are you sure you need more? Do the math yourself.

That being said - you can replace the `IHandleGenerationService` .

[2018-04-21 12:37] #2255 closed

[2018-04-21 16:50] krispenner commented on #2257
I see I should be using the models defined [here](https://github.com/IdentityServer/IdentityServer4/tree/dev/src/IdentityServer4/Models) instead.

[2018-04-21 16:50] #2257 closed

[2018-04-21 18:05] molaie commented on #1969
Hi all.
Is there any sample code to what is discussed here?
or any progress on ASP.NET sample UI Repo?

[2018-04-22 13:37] leastprivilege commented on #2256
That's not really recommended - an API should only trust one authority.

That said - you can add one authentication handler for each authority.

[2018-04-22 13:37] #2253 closed

[2018-04-22 13:38] #2241 closed

[2018-04-22 13:39] leastprivilege commented on #2222
Closing for now - let us know if you have further questions - or even better - solved the problem.

[2018-04-22 13:39] #2222 closed

[2018-04-22 13:40] #2237 closed

[2018-04-22 20:08] vanbukin commented on #2163
@leastprivilege So maybe it will be much cleaner to ignore openid scope or return an id_token during first request? It looks inconsistently now.

[2018-04-22 21:26] FletcherNZ commented on #2253
Thanks for the update all, will log a support call against the plugin now.

[2018-04-22 21:32] ghstahl opened #2258 "Question: Ability to get Authorization_Code via a direct api call."
I probably committed heresy against the OIDC Spec, but whatever.

I modified IdentityServer4 directly to achieve the ability to get an authorization_code without going through a UI login/consent flow.

## Authorize2 API
Note the access_token here works against the user_info api.
[code]
## Produces
[code]

I then can make an ordinary token call with the code

## Retrieve the tokens
[code]
## Produc

[2018-04-22 22:14] epshlaz commented on #982
@wangpengxpy
Check if you have Logout action like below:

    public async Task Logout()
    {
      await HttpContext.SignOutAsync("Cookies");
      await HttpContext.SignOutAsync("oidc");
    }

[2018-04-23 02:42] ThisNoName commented on #2256
Thanks for the follow up.  Both my "authority" are handcrafted IdSvr4 using bearer token.  But looks like you can't have two Jwt Bearer handler out of the box?

I'm just looking to pass Identity.IsAuthenticated without too much custom coding, but worst case scenario, I'll just have two of the same api off by one config line.

[2018-04-23 02:46] landonzeng commented on #2250
@SIkebe  That is to say, is there no way to modify this time?

[2018-04-23 05:06] #2256 closed

[2018-04-23 10:30] wangpengxpy commented on #982
@epshlaz  It's work well, but  i want to exit directly in client instead of redirect to IdentityServer.

[2018-04-23 11:29] BM78 opened #2259 "Unable to Add Scopes/Claims to Interactive Sample Project"
I'm currently forced to use ASP.NET Core 1.x so I'm working with the aspnetcore1 branch of your IdentityServer4.Samples repo.

I was able to run Quickstart3_ImplicitFlowAuthentication without issue, but when I attempt to add the Email scope and claim, it does not appear in the User.Claims collection.  I see that many others have had similar issues but I have not been able to solve the issue and fe

[2018-04-23 15:48] Meldow commented on #2247
Following [this issue](https://github.com/IdentityServer/IdentityServer4/issues/2224) I am now able to redirect to the subdomain and successfully sign out of the clients!

Thanks for an awesome product!

[2018-04-23 15:48] #2247 closed

[2018-04-23 16:30] langell opened #2261 "Configuration and Operation Stores Web API - Feature Request"
Is there a way to have the Config and Operation Stores accessible via a Web API.  We don't want to the database accessible from  the DMZ. So ideally, we could configure the Stores as follows....

.AddConfigurationStore("https://myserver.com/configEndpoint")
.AddOperationalStore("https://myserver.com/operationEndpoint")

The endpoints could implement some known Interface that Identity Server would

[2018-04-23 20:29] eduardocampano opened #2262 "Duplicate scopes validation breaking after updating to 2.2.0"
### Issue / Steps to reproduce the problem
After upgrading from `2.0.0` to `2.2.0` I started getting en error `Duplicate API scopes found. This is an invalid configuration. Use different names for API scopes. Scopes found: xxx, yyy`. As per https://github.com/IdentityServer/IdentityServer4/pull/2200#issuecomment-378961758 this should not affect existing code. Is this expected behavior?

### Except

[2018-04-23 20:37] brockallen commented on #2259
I don't recall if ASP.NET Core 1 had the "GetClaimsFromUserInfo", but that's what it sounds like you need.

[2018-04-23 20:39] brockallen commented on #2258
Why not use an extension grant? That's what it's designed for.

[2018-04-23 20:39] brockallen commented on #2261
It's possible. You'd need to build it.

[2018-04-23 20:42] brockallen commented on #2262
Can you show your API Resource config?

[2018-04-23 20:49] ghstahl commented on #2258
Ok then, I will get back to you with that implementation's result.

[2018-04-23 21:13] langell commented on #2261
ok Thanks.

After looking at the Code, I guess I could just implement the IClientStore and IPersistantGrandStore and do the backend calls from there.

[2018-04-23 21:13] #2261 closed

[2018-04-23 21:28] eduardocampano commented on #2262
Adding a resource like this breaks in `2.2.0`
[code]

[2018-04-23 22:00] brockallen commented on #2261
Yep, that's what you'd need to do.

[2018-04-23 22:01] brockallen commented on #2262
Ah, yes, you're configuring it incorrectly. The ctor like this:

`new ApiResource("apiname", "Some API")`

adds this:

[code]

[2018-04-24 00:19] epshlaz commented on #982
@wangpengxpy
Sorry, maybe i do not understand your problem. This is how how it works for me.
Logout action is on client side. Next is Logout on the IdentityServer and next redirect to your client back. So it is transparent for client. You start on a client get back to client bact on
PostLogoutRedirectUris = { "http://YourClienthost:port/signout-callback-oidc" }.
If you are not redirected back to c

[2018-04-24 04:55] codebude commented on #2079
Hi together,

I'm the creator of the QRCoder library linked above. If you need any help, let me know. By the way, the QRCoder lib brings an payload generator with it, which can create TOTP QR payloads. Documentation: https://github.com/codebude/QRCoder/wiki/Advanced-usage---Payload-generators#311-one-time-password Code: https://github.com/codebude/QRCoder/blob/master/QRCoder/PayloadGenerator.cs#L1

[2018-04-24 09:50] leastprivilege commented on #2261
..and an extension method.

Since this is a good idea - please open source it so other can benefit from it.

[2018-04-24 11:24] eduardocampano commented on #2262
Thanks, I can fix that, just wanted to know if this was an expected breaking change because of the new validation for duplicate scopes as it wasn't failing on `2.0.0`

[2018-04-24 12:07] Vignesh0306 opened #2263 "Choosing the Access Token Type"
Hi, I am actually confused about choosing the Access token Type for the client. From the documentation I it seems like usually the Access token comes in two flavors (1. JWT 2. Reference ), Identity Server defaults to "**JWT**" so can you provide in detail in which scenarios I need to choose  the Reference  token.

Though JWT is the default choice, I am curious to know under what scenarios I need t

[2018-04-24 13:00] langell commented on #2261
Absolutely, I might ask for some guidance on that when I get to a point
where I can release the code.

On Tue, Apr 24, 2018 at 4:50 AM Dominick Baier <notifications@github.com>
wrote:

[2018-04-24 13:13] LindaLawton commented on #2263
Identity server 4 supports two types of AccessTokenType.JWT AccessTokenType.Reference [Enums.cs](https://github.com/IdentityServer/IdentityServer4/blob/c1487475eac111971272936fcaf4a2a32a55d2a8/src/IdentityServer4/Models/Enums.cs#L26) for clients.

Above text shamelessly stolen from the documentation [Reference Tokens](http://docs.identityserver.io/en/release/topics/reference_tokens.html)

The basi

[2018-04-24 14:35] LindaLawton commented on #2263
And people who read them even more shocking 🤯

[2018-04-24 15:47] TomCJones commented on #2263
To be clear, the intent is that the lifetime of access tokens will be very short, say 3 to 5 mins, for any site that is concerned about security. The only reason for a longer lifetime for the access token is to accommodate user experience troubles in completing some action before the token expires.

[2018-04-24 17:11] brockallen commented on #2263
Different apps have different security requirements based on context. I'd not make blanket statements about how people should do things without understanding all the requirements.

[2018-04-24 17:15] jaydgus commented on #658
We are using IdentityServer4 v2.1.1 and are getting the "Refused inline script..." on the '/connect/authorize/callback' page on the Ipad's Safari and Chrome.  Therefore it just sits on the callback page.

I've tried intercepting/modifing the CSP header at various places without any luck. Do we need to download the source and reference the project so that we can customize the CSP header? etc?  Any

[2018-04-24 21:31] mirzataimur commented on #1396
@RakicSrdjan Worked for me thnx

[2018-04-24 21:42] joehoeller commented on #1185
Can I use IDServer4 + .NET 4.5 to connect to ADFS?

[2018-04-24 23:54] TomCJones commented on #2079
Pull request #57 shows 2fa running.  https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/pull/57

[2018-04-25 01:54] andreslon commented on #2253
I have the same problem, only change the demo key in the startup file.
So, How I can implement SAML in my API ?

![image](https://user-images.githubusercontent.com/2242679/39222249-54c9e5aa-4801-11e8-9bd7-a4b0e843eedf.png)

![image](https://user-images.githubusercontent.com/2242679/39222225-29aa63fe-4801-11e8-88a2-0fec191924b5.png)

Thanks.

[2018-04-25 05:56] leastprivilege commented on #1185
IS4 requires .NET 4.6.1 or .NET Core 2.0

[2018-04-25 07:54] scottbrady91 commented on #2253
@andreslon This is a different error. Also SAML in an API? There are no access tokens with SAML.

Best place for issues like these is support@rocksolidknowledge.com or your contact at RSK. Otherwise, if this is an issue with the sample repo, the issue tracker in the SAML2P sample repository.

Could you use one of these methods and let us know what service provider you are using (your client app) a

[2018-04-25 11:18] fudgeboy2000 commented on #2235
I'm also having the same issue, and clean/rebuild/restart hasn't helped.  OP - Is this still an issue for you?

[2018-04-25 12:33] adrianiftode opened #2264 "ClientSecret exceeds the MaxLength value"
Hi,

We are using the Jwts for secret validation and we had an issue with seeding the Clients secrets with EntityFramework.

Some of the certificates have a greater value than 2000 chars so inserting in the database raised an exception.

We added a migration to temporarily fix this by increasing the column max length value.

Thanks,

Adrian

[2018-04-25 13:09] fudgeboy2000 commented on #2235
Update - I've sorted my problem out, not sure if it helps the OP.  The key might be the "existing identity project", which applies to us too.

Our Program.cs was patterned using Core 1.0 like so:

[code]

But Core 2.0 requires the following arrangement to allow the migrations toolkit to work:

[code]

Some documentation on this here - https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x

[2018-04-25 13:52] maliming opened #2265 "ICustomTokenValidator need ValidateRefreshTokenAsync"
Why ICustomTokenValidator Doesn't Have ValidateRefreshTokenAsync?
If I want to customize the verification, how can I achieve this?

[2018-04-25 15:02] diegoabrantesalves commented on #278
I'm having a loop problem that happens sometimes, when I reboot the pool does not happen anymore and after a while happens anyone can help me?

[2018-04-25 15:07] EdwinHauspie commented on #736
I have implemented this.
When a user logs in, the session id (IUserSession.GetSessionIdAsync) is manually stored in our database. The previous value of this database field is used to create a logout_token which I send to my clients. You can have look at IdentityServer4.Infrastructure.BackChannelLogoutClient to figure out how to create the token and post.
All this assumes you have backchannel logou

[2018-04-25 18:40] vanbukin commented on #2163
@brockallen @leastprivilege Any thoughts?

[2018-04-25 19:05] sapandeepprimecaretech opened #2266 "IdentityServer 3 All in One Authentication"
Please only use the issue tracker for bug reports and/or feature requests. For general security questions, or free or commercial support options do __not__ use the issue tracker and instead see [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

For bug reports,  include the relevant log files related to your issue. See here how to enable [logging](https

[2018-04-25 19:09] sapandeepprimecaretech commented on #2266
Also i am working on a multi tenant project where i have to access multiple WS Federations for different tenant to validate login along with local login. Please provide some insight to handle multiple identity providers.

[2018-04-25 19:41] leastprivilege commented on #2163
I don’t see an issue. It’s the way it is.

[2018-04-25 21:36] TheBels opened #2267 "BasicAuthenticationSecretParser does not handle empty client_secret"
We are on ID4 2.1.2 on Net Core 2.x. We also use Swashbuckle.AspNetCore for swagger documentation. Our setup has only a client_id specified - we are not using client_secret. This all worked fine with Swashbuckle 1.x.

The issue is that I'm upgrading to Swashbuckle 2.4.0 and the client_id and client_secret are now being passed via Authorization Basic header of the form `client_id:client_secret`. Th

[2018-04-25 22:26] maxisam commented on #2128
@leastprivilege your statement might not be true after 2.1.

https://github.com/aspnet/Security/issues/1718

https://stackoverflow.com/questions/49596938/openid-connect-identifying-tenant-during-login/49682427#49682427

[2018-04-25 23:07] x3haloed commented on #658
I would also like CSP header extensibility of some kind. I would like to add an allowed source to the `frame-ancestors` policy, because I have the following scenario:

- Two apps that authenticate against IS4 -- let's called them 'A' and 'B'.
- B must be framed within A so they appear to be the same application to the end user.
- B is not accessible until user authenticates to A, which creates a s

[2018-04-25 23:23] 82949712 opened #2268 "Question: How do I add custom links on the Login page?"
For example if I would like to add a forgot password link to the login page for a particular client.

[2018-04-26 00:01] yfr7 commented on #1959
Hi,
I am using the example that mixes asp.net identity and entityframework and I have the same problem.

I made some changes to make it work with SQL Server, and changed the usernames of the default users. I am testing it with the mvc client that is part of the sample.

From the logs I can tell that asp.net identity is authenticating the users, and at this point the user should be sent to a consen

[2018-04-26 00:03] x3haloed commented on #658
Shoot -- I just updated IS4 to the latest version and everything is working. It appears that you've relaxed the frame-ancestors policy for the Authorize endpoint. Sorry!

[2018-04-26 03:22] FullyCSharped opened #2269 "Invalid_grant error with Hybridflow"
I  have an ASP.NET core 2 MVC app using Identity server 3 with the below configuration

services.AddAuthentication(sharedOptions =>
                {
                    sharedOptions.DefaultScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                    sharedOptions.DefaultChallengeScheme = OpenIdConnectDefaults.AuthenticationScheme;

                })
                 .AddOpenI

[2018-04-26 06:44] leastprivilege commented on #2242
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2018-04-26 06:44] #2242 closed

[2018-04-26 06:53] leastprivilege commented on #2267
Looks like it was by design. We can change that.

Do you want to do a PR including test?

[2018-04-26 08:57] DotNetPat commented on #2268
You could do that by getting the clientid from the request, pass it on to the login view and do an if that contains your link. If im right...

[2018-04-26 10:38] leastprivilege commented on #2269
This is really an IdentityServer3 question - this repo is for IS4 only.

that being said - that implies the code cannot be found in your data store - often cause by using the in-mem stores combined with load balancing.

[2018-04-26 10:44] topfunet opened #2270 "is there anonymous token?"
i separate my api to two scope "api.admin" and "api.web", and i have a angular app use "api.web" scope.
every controller in "api.web" has Authorize(Policy = "api.web"),so here is the problem:
when user logined in, because there has a access_token and scope, so they can get data.
but for anonymous user there's no access_token and scope, so they can't get data.
is there anonymous token i can use for

[2018-04-26 12:25] ambarish68 commented on #644
Hi, I am facing the same issue.
What is the set of debug info that I could add which will help with diagnosing this?

[2018-04-26 14:25] brockallen commented on #2270
Why bother with authentication at all if you allow anonymous?

Anyway, this seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-04-26 14:25] #2270 closed

[2018-04-26 14:47] scottbrady91 opened #2271 "AdminUI Custom Database Tables"
As requested, below are the extra properties AdminUI stores for IdentityServer configuration:

### Clients
- **NormalizedClientId**: Used to prevent duplicate ClientId's. Uses ILookupNormalizer from ASP.NET Core Identity implementation [UpperInvariantLookupNormalizer
](https://github.com/aspnet/Identity/blob/dev/src/Core/UpperInvariantLookupNormalizer.cs)
- **NormalizedClientName**
- **Description

[2018-04-26 15:47] ghstahl opened #2272 "GrantValidationResult: What does passing claims do?"
http://docs.identityserver.io/en/release/reference/grant_validation_result.html

I am building an extension grant, where the final call is;
[code]

I traced this all the way into DefaultClaimsService.GetAccessTokenClaimsAsync.

I don't see anywhere that these claims ever make it into a final access_token.  They don't make it into mine.

I was expecting that these claims would get into access_token

[2018-04-26 16:38] brockallen commented on #2272
It's a two-step process: 1) authenticate, 2) issue token. Your custom grant validator is doing #1. Your profile service does #2. The identity produced by #1 is passed to #2.

[2018-04-26 17:33] BrahmaReddyMadhira opened #2273 "How to replace tokenEnd point with my customToken End point"
Switched off the Default Token End point in
 EndpointsOptions class
   public bool EnableTokenEndpoint { get; set; } = false;

I have extended the Token Endpoint
CustomTokenEndPoint: IEndpointHandler

and injected the end point in
.AddEndpoint<CustomTokenEndPoint>("Token", "/connect/token")

### Issue / Steps to reproduce the problem

Did not work. is there any thing that I am missing here.

Could

[2018-04-26 20:04] mikeandersun opened #2274 "Add a PublicUrl to ApiResource ."
I need to give some public information about my API to developers.
I think with having a property (e.g `PublicUrl`,...) I can do this.
Thanks

[2018-04-26 20:08] brockallen commented on #2274
Can you elaborate?

[2018-04-26 20:27] mikeandersun commented on #2274
Please look at google developer console. In there there are many APIs that we can add them to client .
The Apis have many information when we click on one of them .
 With having some fields on ApiResource  I can link the developer to an internal or external page to get mode info about the api (e.g api price , api usage , ...) .
sorry for my bad english :)

[2018-04-26 20:36] mikeandersun commented on #2271
https://github.com/IdentityServer/IdentityServer4/issues/2274
The two issues request extra properties on Resources.

[2018-04-26 23:48] 82949712 commented on #2268
@DotNetPat  If I get you correctly, I can just check my client id and display information accordingly. But do I need to hard code all these custom links in the IdentityServer? Can these be passed to IS by the client or saved in the client configuration (I don't see any option in the client object though)

[2018-04-26 23:50] 82949712 commented on #2268
@brockallen Yes, I am aware of that. I'm just wondering if there's any standard way of doing this. It would be nice if you could give a very simple example.

[2018-04-27 00:47] Ayiadim opened #2275 "End session endpoint not clearing cookies"
Hello,

I am using .NET framework and Katana (OWIN implementation) to talk to Identity Server 4.

I can successfully authenticate and retrieve claims but am having issues signing the user out.

The flow is as follows:

1. User agent initiates logout
2. The logout handler (controller) signs the user out locally and then manually redirects to /connect/endsession (id_token and post_logout_redirect_ur

[2018-04-27 01:15] FullyCSharped commented on #2269
@leastprivilege, Thanks

In memory is the problm I think...
Ids in my case is hosted on Azure and has two instances...

Also in the above code I have mentioned cookie expiration duration using cookieauthentication options to 10 mins l...however it isn't working at all.Can you give me some pointers on that please

[2018-04-27 02:29] brockallen commented on #2274
I think this issue would provide you what you need: #2249. If so, then I'd close this as a dup.

[2018-04-27 02:35] brockallen commented on #2275
Not sure. It feels like something's misconfigured given the repeating message at the end.

[2018-04-27 04:53] leastprivilege commented on #2269
since this is not a bug, you are asking for consulting for the wrong version ;)

read the docs - or

https://identityserver4.readthedocs.io/en/release/intro/support.html

[2018-04-27 04:53] #2269 closed

[2018-04-27 05:01] Ayiadim commented on #2275
I thought it was odd that I'm getting so many duplicate messages at the end which is why I included them in the log but I can't seem to pinpoint the reason this is happening.

Once the end session endpoint is hit, there is one redirect to the following such as:

http://localhost:52508/?logoutId=CfDJ8JPZNdye_09OqSouEABkpUvXdac4Hosu3ADYr1atcwhOVvcYXdpCThORYNFTngY46He9RsAQdjHXSdDfxDlxfgVArHL6y8j0_Ubu

[2018-04-27 06:30] mikeandersun commented on #2274
This is duplicate of #2249
I close this and follow that.

[2018-04-27 06:30] #2274 closed

[2018-04-27 08:07] DotNetPat commented on #2268
@82949712 have you tryed extending it by inheritance to add needed properties? I would create a subclass of the client, add the needed properties and in the login view i would try to get this information and display the link if needed.

[2018-04-27 09:04] DotNetPat commented on #2268
@82949712 As far as i know is IdentityServer just a framework to do SSO using standardized procedures like openidconnect and oauth. it is not a out of the box user management system. so if you already have a system, that should be integrated, you can do that by adding a corresponding client using oauth or openidconnect. in this case the usermanagement you are integrating is responsible for resetti

[2018-04-27 12:03] Muraliapm opened #2276 "Identity server 4 Refresh token issue"
Hi,

I am implementing my own identity server and could you please help me how to get refresh token. I am using HybridAndClientCredentials gran type and not able to get refresh token. I am able to get only access token. Please see my sample code,
![image](https://user-images.githubusercontent.com/23413513/39361655-1217bd58-4a41-11e8-86fb-2c34a7cb1c3e.png)
![image](https://user-images.githubusercon

[2018-04-27 12:26] brockallen commented on #2276
You didn't request offline_access, but that's moot anyway -- client_credentials clients don't need refresh tokens since you have the original client_id and client_secret.

[2018-04-27 12:26] brockallen commented on #2276
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-04-27 12:26] #2276 closed

[2018-04-27 12:27] brockallen commented on #2268
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-04-27 12:27] #2268 closed

[2018-04-27 12:28] brockallen commented on #2266
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-04-27 12:28] #2266 closed

[2018-04-27 15:09] ghstahl commented on #2272
OK, so I verified I can contribute claims from my implementation of IProfileService.
The claims I want to add came in as an argument.
[code]

I haven't found an obvious way to make sure that those arbitrary-claims values make it all the way to my IProfileService.

How would I preserve state from the point of
[code]
to
[code]
I am limited to the ProfileDataRequestContext properties.
So far the only

[2018-04-28 10:00] Muraliapm commented on #2276
Thanks Brock!!

[2018-04-28 10:04] Muraliapm opened #2277 "Identity server 4 issue"
I have implemented IS4 and using it for my Core 2.0 API and Angular Core web app. I set my AccessTokenLifetime as 2 mints, once access token is expired, I have to get another accesstoken from IS4 using refresh token. But I dont want to use Resource Owner Password Flow. I am using Hybrid flow to get refresh token.

Also, I want to implement the below things using IS4. Could you please provide some

[2018-04-28 10:30] ddydeveloper opened #2278 "Can't implement single log out scenario with End Session Endpoint"
I have followed sctructure:
1. IdentityServer
2. WebAPI
3. MVC manager app, call it MVC_1 to simplify
4. MVC admin app - MVC_2

I want to ensure all client apps should be logged out if at least one of them initiate log out action. According to documentation: http://docs.identityserver.io/en/release/endpoints/endsession.html#refendsession

I've implemented a log out action in a client controller wi

[2018-04-28 14:03] brockallen commented on #2277
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-04-28 14:03] #2277 closed

[2018-04-28 14:06] brockallen commented on #2278
Are you actually implementing this endpoint in your MVC apps?

`BackChannelLogoutUri = $"{x.Url}/Account/forcelogout",`

The Microsoft `AddOpenIdConnect` handler does not do it for you.

[2018-04-28 19:43] ghstahl commented on #2272
I did more code stepping and I think we may need a context object that has integrity from the IExtensionGrantValidator implementation all the way through the pipeline.  In my case all the way to the IProfileService implementation.

I am cheating at the moment by passing along the raw form input via identity claims.

[code]
I hope I am missing something.

The next thing I was going to try is an ext

[2018-04-30 05:46] tarunp commented on #1256
Hi Scott, Any tentative timeline for new .Net core libraries support in Rsk.IdentityServer4.Saml and Rsk.IdentityServer4.WsFederation packages?

[2018-04-30 14:40] pizzadev commented on #1152
@declanmc  how can I change localhost:5000/signin-oidc   to localhost:5000/     ? My clients are hardcoded (in-memory storage). Where can I change this property, called AllowedRedirectUris - saw it in moreFailures.

[2018-04-30 17:19] sathiathirumal commented on #720
I am hitting this with the following combination:
1) Browser incognito mode
2) Application is behind Azure gateway

I am not even using IdentityServer; it is plain old Azure AD authentication (openid).
I see that Cookies->{Mysitename} has the following:

![image](https://user-images.githubusercontent.com/9466367/39440248-2d346486-4c5f-11e8-8123-0c7c2ffa59da.png)

**HANDLING IN CODE**
I tried to ha

[2018-04-30 18:53] JoshuaGarrison27 commented on #1260
@leastprivilege / @brockallen I am having this same issue and this is a top result on google when you search for this error. Can you maybe add some clarification on how to fix this issue or steps to lead the lost into the right direction?

[2018-04-30 19:29] cosmoKenney opened #2279 "ConsentDeniedEvent not found error on build of the QuickStart UI."
Please only use the issue tracker for bug reports and/or feature requests. For general security questions, or free or commercial support options do __not__ use the issue tracker and instead see [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

For bug reports,  include the relevant log files related to your issue. See here how to enable [logging](https

[2018-04-30 19:58] cosmoKenney commented on #2279
My mistake. I missed the fact that I had 2.1.2. installed rather than the latest.

[2018-04-30 19:58] #2279 closed

[2018-05-01 08:17] LindaLawton opened #2280 "Client missing description while EF Client has it."
The model in Ids4 [Client.cs](https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Models/Client.cs)   does not appear to contain a description property of the client.  However the entity framework model [Client.cs](https://github.com/IdentityServer/IdentityServer4.EntityFramework/blob/dev/src/IdentityServer4.EntityFramework/Entities/Client.cs) does contain a field called

[2018-05-01 08:25] LindaLawton commented on #2275
Wild guess remove the slash on the end

If memory serves it needs to be an  origin URI which does not contain the / at the end

[2018-05-01 09:02] coffeymatt commented on #720
It's a bit off topic for this issue @sathiathirumal, this being about identity server. You're better asking such things on stack overflow. But yes, of course if authentication fails and on failure you redirect to a secure end point, that's going to trigger authentication again and thus the infinite loop.

[2018-05-01 09:25] LindaLawton commented on #2280
I am on it only took me five minutes to add it.   Just trying to wrap my head around your test application in here so that i can force it to come with the consent screen with the added description on it.

If i can get it tested i can submit a pull request and save you the time.

[2018-05-01 10:39] tishansoft opened #2281 "ConsentDeniedEvent and GrantsRevokedEvent is missing in GrantsController"
Hi

I am trying to follow through this article to understand how identityserver4 works.  I am trying to add the mvc client. As per the instruction, I downloaded the assets and controllers.

ConsentDeniedEvent and GrantsRevokedEvent seems missing. Can some one suggest me where can I find them?

Thanks

[2018-05-01 10:44] SIkebe commented on #2281
Those events were added to Identityserver4 v2.2.
https://github.com/IdentityServer/IdentityServer4/pull/2199

[2018-05-01 11:26] tishansoft commented on #2281
Thank You, it worked. You saved lot of time.!!!!

[2018-05-01 11:26] #2281 closed

[2018-05-01 13:29] lassanter opened #2283 "400 Bad Request (Invalid ID Token) on OIDC logout with Okta"
### Issue / Steps to reproduce the problem

I am using a largely unmodified version of QuickStart 7 (Javascript Client). The only modification is to change the OIDC Authority and ClientId. I have also separated the JS Client and the ID Server into two separate solutions for my own convenience/taste. I am not running the protected API because it is not relevant to this problem (though it works perf

[2018-05-01 17:57] leastprivilege commented on #859
We decided to start the work on that. If we manage to implement this without breaking changes, the current plan is to include that in 2.3

[2018-05-01 18:27] BM78 commented on #2259
It does; I tried that and the client's `AlwaysIncludeUserClaimsInIdToken` property.  While these did include the Identity claims from the profile scope/resource (e.g. the nickname and website claims), the email claim is still not included.

IdentityResources such as Email and Phone is not included in the requested scopes, thus the user is not shown the email and phone number scopes/resources on th

[2018-05-01 21:43] sathiathirumal commented on #720
Fair enough @coffeymatt  - I will pursue this in a more appropriate forum. My point was that this seems to happen even outside of IdentityServer, so I am not sure if the issue is further upstream and generally related to running your services behind an application gateway (somehow).

[2018-05-02 00:17] jaredrsowers commented on #1847
I also need `TokenValidator` and `PrivateKeyJwtSecretValidator` to be extensible for the same reason.

I need to use JWE instead of JWT. The token creation is already there, just the validation is missing. In both classes by just adding something similar to a "`protected virtual TokenValidationParameters GetTokenValidationParameters(trustedKeys,ValidIssuer,ValidAudience)`" would probably be suffic

[2018-05-02 04:10] leastprivilege commented on #1847
maybe @bashiransari can show us his code?

[2018-05-02 08:31] leastprivilege opened #2285 "Consider more metadata for clients and resources"
resources: created, updated
clients: created, updated, last access

[2018-05-02 08:32] leastprivilege commented on #2285
This has of course implications - because to maintain those values (e.g. client last access) we would need write access to the config store.

[2018-05-02 15:23] DotNetRockStar opened #2286 "SwaggerUI not showing endpoints"
Hi there.  I have the Identity Server configured and I want to show the API details using Swagger (specifically using Swashbuckle).  How might we expose the existing APIs that the server offers, like token api, using Swagger?  Is this supported?

Thanks in advance.

[2018-05-02 16:05] aryzing opened #2287 "Parameter `session_state` not being returned for failed auth requests"
We're currently using Identity Server with the [session management extension](http://openid.net/specs/openid-connect-session-1_0.html) enabled. When the user successfully logs in, `session_state` is present in the 302 redirection when using the `code` flow. However, if the auth fails, as per [spec](http://openid.net/specs/openid-connect-session-1_0.html#RPiframe),

but it is not being returned,

T

[2018-05-02 16:45] valeriob opened #2288 "Reference Token validation endpoint"
Hi,
i'm using IdentityServer3.AccessTokenValidation to connect to a ids4, because it should be backward compatible.
I configured a client with reference token, but i do not understand where the accesstokenvalidation endpoint is in ids4.
Looking at the code in ids3 it should be at "connect/accesstokenvalidation" but ids4 returns 404.

![image](https://user-images.githubusercontent.com/1522516/39537

[2018-05-02 17:04] brockallen commented on #2288
We use introspection now. The access token validation endpoint was custom before the intospection spec was finalized.

[2018-05-02 17:26] brockallen commented on #2287
session_state is different than the state param. are you confusing those? also, if there's an error for most scenarios we don't redirect back to the client, due to guidance issued after the OAuth2/OIDC specs were finalized: https://tools.ietf.org/html/draft-ietf-oauth-closing-redirectors-00

[2018-05-02 18:49] brockallen commented on #2287
Ok, I went back and checked that section in the spec. To be honest it's not clear to me what that sentence means. If authentication fails, you'd not have a session, so how would you have a session state to return.

Also, oidc-client.js already implement this for you (https://github.com/IdentityModel/oidc-client-js/), so not sure you need to do all this work yourself.

[2018-05-02 19:12] brockallen commented on #2287
There's a lot more to it than that, and it automatically handles check session for you, including creating the iframe, polling, and re-requesting authorization w/ prompt=none if the response is changed. Also, it provides an event to let you know if the user's session has changed at the OP. In short, if you didn't want to implement it yourself then it's already all done and packaged for you already

[2018-05-02 19:15] brockallen commented on #2287
We don't have a session state for anonymous users. That one-liner in the session mgmt spec certainly was not clear enough (for me at least) to consider returning one for anonymous users (especially given that it's in the RP Iframe section... *shrug*).

Anyway, we can consider it. It'd not be too difficult. Again, though, the absence of one certainly tells your client that you need to re-auth the u

[2018-05-02 19:18] brockallen opened #2289 "Consider returning session_state response param from authorize even for anonymous users"
#2287

[2018-05-02 19:33] brockallen commented on #2287
Ok, I see your point. So the anon session state will change once authenticated.

But if the client has no user, I guess I don't see the use case of polling check_session to then know that they're authenticated. What's what use case, or what kind of app are you building where that's needed?

[2018-05-02 19:37] brockallen commented on #2265
What sort of validation checks are you looking to add?

@leastprivilege -- Would this be a reasonable feature request?

[2018-05-02 19:40] aryzing commented on #2287
For example, it's not uncommon for, what is perceived as a single app, to be in fact powered by many "smaller" apps, each with their own codebase. However, all using a single Authorization Server.

Say that each app is under

[code]

if a user logs in from `app1.example.com`, it would be nice to have `app2` react accordingly (say, display that user's username or something).

In the case were a tab

[2018-05-02 20:31] brockallen commented on #2287
I guess I'm still confused. Why wouldn't the app just trigger authorize and get the user logged in? Or is it more that app2 just wants to allow the user to stay anonymous until it detects they have logged in (presumably in another tab)?

[2018-05-02 20:36] aryzing commented on #2287
Correct. app2 may have public and private routes, but the public routes' UI may be decorated differently if they detect that the user has authenticated (eg. display "Sign In" vs "Hi Alice!" in a navbar for a FAQ page)

[2018-05-02 20:37] brockallen commented on #2287
Ok, got it.

[2018-05-02 22:46] aryzing commented on #2287
Closing down, feature request in #2289

[2018-05-02 22:46] #2287 closed

[2018-05-03 04:14] leastprivilege commented on #2265
Elaborate please.

[2018-05-03 04:17] leastprivilege commented on #2286
I don't know anything about Swagger - but we don't use e.g. MVC for our endpoints. IOW - you would need to do that manually.

I don't see a lot of sense in doing that though. The documentation is the spec and if you need a tool to "play around", create a couple of scripts or use something like Postman.

[2018-05-03 04:17] #2286 closed

[2018-05-03 05:11] mikeandersun opened #2290 "Add an object as input to FindClientByIdAsync method instead of just a string parameter."
I want to get client according to some extra field that I store in my clients table.
By changing signature of the method in `IClientStore `it be more flexible to implementation .
`Task<Client> FindClientByIdAsync(string clientId);`
to
`Task<Client> FindClientByIdAsync(Client client)`

[2018-05-03 05:53] leastprivilege commented on #2290
Why and where would you need that?

[2018-05-03 07:02] valeriob commented on #2288
Thanks for clarifying that, i thought i read that it was compatible with v4.
So this just means i can only use JWT tokens until i upgrade to aspnetcore on the client, correct ?

[2018-05-03 08:38] ddydeveloper commented on #2278
@brockallen yes, I've add the ForceLogout action to each client and add the option to the configuration:

       `[HttpGet("[action]")]
        public async Task ForceLogout()
        {
            await HttpContext.SignOutAsync(_identitySettings.CookiesScheme);
            await HttpContext.SignOutAsync(Constants.OidcScheme);
        }`

       `BackChannelLogoutUri = $"{x.Url}/Account/ForceLogou

[2018-05-03 09:47] maliming commented on #2265
I added SecurityStamp in RefreshToken Claims.
I want to revoke this RefreshToken when SecurityStamp changes.

[2018-05-03 10:48] ddydeveloper commented on #2278
I've solve the problem with the ForceLogout action after reading more documentation. especially about <iframe> on the logput page. But I've got another one. Maybe it us because of misunderstanding of the right logout flow.

Now I've implemented the followed:
1. Added <iframe> with SignOutIframeUrl:

    `
 <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    `

[2018-05-03 11:11] keithpeckagent3 commented on #442
@brockallen sorry for commenting on an old ticket but I wanted to add our experience with this.

Setting up a multi tenant system with subdomains is quite achievable when the client knows which discovery document to go to.

For mobile apps, a global discovery document and jwks endpoint can be setup which redirects to a tenant login page, but like @TooMuchTaurine says, the token, user info and sess

[2018-05-03 12:24] paulyipkh opened #2291 "Using MongoDB as User Store and Configuration Store"
I am converting my configuration store and user store from MSSQL to Mongo.

First of all, I converted the configuration store to MongoDB using IdentityServer4.Contrib.MongoDB
https://github.com/diogodamiani/IdentityServer4.Contrib.MongoDB
This step works and everything goes fine.

Then, I converted the user store and role store to MongoDB.
My first attempt is alextochetto/aspnetcore-identity-mongo

[2018-05-03 12:37] DotNetRockStar commented on #2286
There is a lot of value in providing swagger for your API. I highly reccomend you check out OpenApi. It serves as documentation as well as an api test harness which is very valuable when working with developers who dont understand the specification and just want to use the thing.
If the endpoints were created using an MVC controller then the framework will automatically provide documentation const

[2018-05-03 12:42] ddydeveloper commented on #2278
@brockallen Do you have an example of the Single Log Out implementation with BackChannelLogoutUri?

I think it would be very useful, cause, unfortunately, I didn't find something in QuickStartExamples, SO or somewhere else.

[2018-05-03 13:08] TheBels commented on #2267
Hi @leastprivilege  - thanks for confirming the behavior.

I don't mind taking a look but I wouldn't be able to get to it immediately. But we can certainly keep the ticket open and I (or others if desired) can come back to this.

For now I plan to work around the issue by hiding the client_secret in the web page and providing a default value in the code.

[2018-05-03 13:11] brockallen commented on #2286
I think it might be big problem to just document OIDC/OAuth2 with OpenApi. If consumers first know OIDC/OAuth2, then there's no real need for OpenApi, and if there is then people should know where the specs are.

[2018-05-03 13:13] brockallen commented on #2290
Uhh, don't you see the problem with this design? I have to create a Client to get the right Client?

[2018-05-03 13:13] brockallen commented on #2288
We deprecated the access token validation endpoint in v2 of IdentityServer3 IIRC.

[2018-05-03 13:16] brockallen commented on #2291
No, sorry.

[2018-05-03 13:18] brockallen commented on #2278
https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/MvcHybridBackChannel

[2018-05-03 13:19] valeriob commented on #2288
Ok, it will require some more learning 😄
thanks for pointing me to the right direction.

[2018-05-03 13:19] #2288 closed

[2018-05-03 13:19] brockallen commented on #2283
Your app's integration between Okta is beyond what we're able to support here. I'd suggest getting a stand alone asp.net core app working with Okta the way you want (including signout), then merge that into your IdentityServer host.

[2018-05-03 13:25] brockallen commented on #2286
But that's what I mean by understanding the specs. This stuff is complicated, yes, but if folks don't appreciate the value and necessity in taking that time to learn some of if and how to do it the right way, then their software and companies will be the next front page story on how shitty our industry's security practices are.

[2018-05-03 13:27] benosman commented on #1970
@TomCJones - I understand how to build a reset password system, either using Identity or homegrown.

It would be created on the Identity server itself, but how does one handle redirecting back to the relevant client?

For instance:
1. Visit 'Client App 1'
2. Click login link, or try to access protected content
3. Redirect to Identity server login page for that app.
4. Click forgot password link, e

[2018-05-03 13:30] tknuts opened #2292 ""InvalidOperationException: sub claim is missing" on Facebook"
I can't get the Facebook Social login working.... Google works fine....

I get the error on callback: **InvalidOperationException: sub claim is missing**
**Full Stacktrace:**
[code]
Her is my setup of the Expernal sovial providers:

[code]
Noting to find on Google that helped really....

[2018-05-03 13:42] ddydeveloper commented on #2278
@brockallen Thank you! I am going to investigate it in the nearest time!

[2018-05-03 13:53] brockallen commented on #2292
When you issue the claims at login from facebook you need to provide a `sub` claim. That's the error.

[2018-05-03 13:56] brockallen commented on #1970
I think that's really hard to do. Resetting a password (via email) is async and could take time. The client most likely has timed out waiting for the OIDC response. In short, I never bother to do what you're wanting to do.

[2018-05-03 14:34] benosman commented on #1970
@brockallen
I wondered if something like that would be the case, as I couldn't think of an obvious solution to it.

Since, I have one primary client, and just a few secondary clients, so I might just keep track of the client name in the reset url, and then do a redirect from the controller to a protected page on the relevant site to re-initiate a sign in process.

[2018-05-03 14:46] tknuts commented on #2292
But how is the "sub" claim provided ?

[2018-05-03 14:55] paulyipkh commented on #2291
Thanks

[2018-05-03 15:16] lassanter commented on #2283
Bummer. Fair enough, though. Thanks!

[2018-05-03 15:16] #2283 closed

[2018-05-03 15:48] brockallen commented on #1970
Sure, if you have one main place you could send the user once that workflow is done, then send them there. That it better than nothing.

[2018-05-03 15:49] brockallen commented on #2292
Your user mapping logic would need to establish that. You can have a look at how our quickstart sample code does it, but ultimately you will need to decide for yourself.

[2018-05-03 16:30] ghstahl commented on #2258
Extension Grants rock, and worked as expect.  I still have an ask to have a context object that is passed from IExtentionGrant all the way to IProfileService.  I have another issue about that, but we can close this.  Thanks.

[2018-05-03 16:30] #2258 closed

[2018-05-03 17:40] lassanter commented on #2283
For the sake of hoping that someone else will see this and possibly comment on my plight, I will continue the discussion as I find interesting things (perhaps I'll even find a resolution).

So I discovered why the id_token wasn't being found - I need to set OpenIdConnectOptions.SaveTokens = true. Suddenly, the id_token appears and it gets saved.

Is there, perhaps, another setting, somewhere, that

[2018-05-03 18:38] #2291 closed

[2018-05-03 19:14] tknuts commented on #2292
Could you please give me a link to that sample. I can't see what's missing and the error occours before any code I have control of launches :-(

[2018-05-03 19:27] mikeandersun commented on #2290
@leastprivilege  I needs to query the store with more parameter (e.g `tenantId`,..). I want to have primary key on `clientId `and `tenantId `in the client table.
@brockallen  the parameter is an object to carry out parameter to query the table according the value of it's properties.

[2018-05-03 19:42] lassanter commented on #2283
I read into the Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler class. Specifically, the SignOutAsync(AuthenticationProperties) method. There is a line within (#195):

// Attach the identity token to the logout request when possible.
message.IdTokenHint = await Context.GetTokenAsync(Options.SignOutScheme, OpenIdConnectParameterNames.IdToken);

the "message" variable above is

[2018-05-03 20:40] jaredrsowers commented on #1847
This is my WIP for generating the JWE by extending the `DefaultTokenCreationService`:

[code]

Everything seem to be working properly in my testing.

[2018-05-03 20:52] rakeshprabhu opened #2293 "Client getting 404 when accessing /.well-known/openid-configuration"
Accessing Identity Server deployed in IIS (in EC2 non-prod) getting 404 when client application is accessing "/.well-known/openid-configuration", Bellow are the startup code for your reference. I been stuck in this issue for last 3weeks. where this works well when running from VS at localhost:5000

_For time being i am using AddDeveloperSigningCredential(). I have explored lot of links but solutio

[2018-05-03 23:31] brockallen commented on #2292
https://github.com/IdentityServer/IdentityServer4.Quickstart.UI

[2018-05-03 23:33] brockallen commented on #2293
What what do the logs say?

[2018-05-03 23:34] brockallen commented on #2290
What is tenant specific about your client?

[2018-05-04 00:22] EmilyGermanotta opened #2294 "Identity server 4 with Azure Active Directory"
I have an MVC App here by default using azure active directory with openidconnect, with SSL and window authentiacation, then I want to have the identity server with it, everythings seems fine, like i follow the instruction from youtube, when my MVC App login, it says unauthorized_client, i had found out that it take the SSL url instead of my App url, I didn't see any places indicating to use my SS

[2018-05-04 01:47] #2294 closed

[2018-05-04 05:27] Ayiadim commented on #2275
I tried what @LindaLawton suggested, unfortunately the issue persists. @brockallen Is there any information I can provide that might help pinpoint any potential misconfigurations?

[2018-05-04 06:10] rakeshprabhu commented on #2293
Logs are not getting generated.

[2018-05-04 06:26] xaviergxf commented on #2228
Yes @brockallen, you may close the issue

[2018-05-04 06:35] frankyvij commented on #2115
Hey, is there any update on the issue yet? We are facing the same problem.

[2018-05-04 06:53] maximpashuk opened #2295 "Client credentials flow with no scopes breaks after implicit flow set up"
Using IdentityServer 2.1.3, but I think 2.2 also affected.

Imagine the situation:
1. Client set up client_credentials flow, client provide **no scopes** to get OAuth token for API access. By default it get all available scopes that set up in IdentityServer, and it is fine.
2. Additionaly client set up implicit flow for OpenIdConnect authentication with scopes "openid", "profile". Users of that cl

[2018-05-04 07:03] tknuts commented on #2292
Thanks, IdentityServerConstants.ExternalCookieAuthenticationScheme solved the problem. I totally missed it, the Google was set up to use this and it worked.

[2018-05-04 07:03] #2292 closed

[2018-05-04 07:29] LindaLawton commented on #2275
@Ayiadim  its hard to know what could be wrong without seeing an example of your code causing that recreates the problem.   As well as the client you have set up in IDs.

To me the logs look like you have some kind of redirect issue going on.  Almost looks like its looping itself.

[2018-05-04 07:42] LindaLawton commented on #2295
IIR the client_credentials flow is not meant to be used for server to server communication.  In this scenario there is no end user to identify. The client_credentials grant type is undefined in OpenID Connect.

There for the open id scopes will not work for it as its not a real user.

[2018-05-04 08:39] leastprivilege commented on #2295
IOW - in the client creds flow scenario with no scopes specified, we should filter out identity scopes... @brockallen

[2018-05-04 08:59] LindaLawton commented on #2295
Verified

     var disco = await DiscoveryClient.GetAsync("http://localhost:5000");
     var tokenClient = new TokenClient(disco.TokenEndpoint, "ef2e55b8-dab8-4a7b-9f7e-5ce4351803ca.xena.biz", "1f0ec2de-3e57-4f64-abca-4f1ff725ab10");
      var fields = new Dictionary<string, string>
            {
                { "grant_type", "client_credentials" }
            };

        //fields.Add("scope", "

[2018-05-04 09:39] EmilyGermanotta opened #2296 "Correlation error for MVC .net Core App while redirect to .net App"
I had the scenario here was like, for the MVC .net core project, i am using Azure Active Directory and openIdConnect, everything seems fine. So for my old project, written in .net, i had make a link for it to redirect user to MVC .net core project. After I was landed to the MVC .net core App then i press the back button, i can't return to my old .net app, instead, it came out the error regarding C

[2018-05-04 09:54] leastprivilege commented on #2295
yes I know ;)

[2018-05-04 09:58] leastprivilege commented on #2290
How would we know about your custom fields then?

You need a custom data access API for that.

[2018-05-04 09:58] #2290 closed

[2018-05-04 10:10] aryzing commented on #2289
By any chance, do you have any idea of when this feature could be implemented or how hard it is to implement? I'm really looking forward to it! I'd even have a stab at it if I felt more confident with my C# skills...

[2018-05-04 11:13] LindaLawton commented on #2295
I know you know but you know i had to test it myself :)    Started a huge conversation about client_credentials flow between me and my coworkers was quite fun.

Are you going to fix i was going to do a bit of digging.    I love using my 20% time on this project

[2018-05-04 11:55] icistrate commented on #2060
AMAZING!!! I also fell in the same trap :(

[2018-05-04 12:04] #2228 closed

[2018-05-04 12:04] brockallen commented on #2296
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-05-04 12:04] #2296 closed

[2018-05-04 12:08] brockallen commented on #2295
If you want to suggest a PR to address the issue, then I'm happy to review it.

[2018-05-04 16:13] TomCJones commented on #1970
You should be able to send them to a page that automatically initiates a login. You can also store the most recent client they visited in the user record, which should be where the last logon attempt occurred.

[2018-05-05 02:39] cosmoKenney commented on #396
@brockallen what does this mean?:

If you look at the configurations in the docs [here](http://docs.identityserver.io/en/release/quickstarts/7_javascript_client.html#add-your-html-and-javascript-files), and [here](http://docs.identityserver.io/en/release/quickstarts/7_javascript_client.html#add-a-client-registration-to-identityserver-for-the-javascript-client)
They show the js client redirect as i

[2018-05-05 13:14] brockallen commented on #396
I was referring to the ASP.NET OIDC security handler -- IOW, the client side component, not IdentityServer's config.

[2018-05-05 14:04] thiagozulato commented on #2272
I have the same problem here trying to create a custom grant type. The claims I injected into the GrantValidationResult aren't persisted to the token.

I've found a solution but I don't know if it's the right way to do it.

I keep passing the claims to the GrantValidationResult and I replicate them to the IssuedClaims in the ProfileService.

[code]
[code]

[2018-05-05 14:13] ghstahl commented on #2272
Take a look at my project:
https://github.com/ghstahl/IdentityServer4-Extension-Grants

But, yes you are doing exactly what I had to do.

I actually created one giant claim, where my claim value was a json object.
I didn't want to blindly replicate everything as you did.

Passing request state data on an identity isn't really the right thing to do in my opinion, so I created a pull request where t

[2018-05-05 14:36] leastprivilege commented on #2272
Whatever claims you return in your extension grant validator will be on the Subject property on the ProfileDataRequestContext.

[2018-05-05 15:07] thiagozulato commented on #2272
@ghstahl Interesting your commit about multiple IProfileServices. It was exactly what I needed. The code it's just an example. I still need to validate these informations against a service or database and get the new claims. Thanks for your suggest!!!

@leastprivilege Yeah I get it. Maybe I am missing something, but is there any reason my claims injected on the GrantValidationResult aren't being p

[2018-05-05 15:07] brockallen commented on #2272
They could be if the code in your profile service copies them over and they match the claims being requested via the scopes.

[2018-05-05 15:38] brockallen commented on #2272
In general you always need a profile service to do the job of mapping claims from wherever you store them into the tokens, yes. Our out of the box implementation only sources claims from the Subject passed into the profile service, which is normally just the claims you issue from the login page.

I didn't test, but the default one should also behave the same way. So if you were trying to get it to

[2018-05-06 09:18] rakeshprabhu commented on #2293
DNS to App server pointing issue. Our setup issue, hence closing the ticket

[2018-05-06 09:18] #2293 closed

[2018-05-06 09:53] leastprivilege commented on #1847
I think there are better solution to this. Something we need to figure out first.

Given that this requires some more research, and we have other higher priority issues right now - we have no plans right now to support encryption built-in.

If your company needs that feature built-in, they can sponsor us and we can work out something.

[2018-05-06 11:29] shaikatz opened #2299 "Extract JWT payload creation to extension method"
On IDSrv3 all JWT payload creation logic moved to extension method to ease the process of overriding TokenService.
We need to override TokenService so we can sign the token with azure KeyVault.

This is the [relevant commit from IDSrv3](https://github.com/IdentityServer/IdentityServer3/commit/dd07bd88f64b437b2c261cc76c71917ec5a0eb03)

I can open a PR if needed.

Thanks
Shai

[2018-05-06 12:28] brockallen commented on #2299
Is the plan to really send every token signing request to keyvault? What volume are you expecting?

[2018-05-06 12:41] shaikatz commented on #2299
Yes, and we have high load but we want to use HSM because those are highly sensitive keys - and this is why we are using key vault.

[2018-05-06 14:31] thiagozulato commented on #2272
@brockallen You're right. The default one can persist the claims coming from the grant validator. Custom claims need to be configured in ApiResource.

[http://docs.identityserver.io/en/release/topics/resources.html#defining-api-resources](http://docs.identityserver.io/en/release/topics/resources.html#defining-api-resources)

Thanks for you support!!!

[2018-05-06 15:06] ghstahl commented on #2272
@brockallen The main difference I bring in with my ask is that I am using IdentityServer4 as an OAuth2AsAService (OA2aS).
The following is the extent of the config you will see on the IdentityServer4 side;
[Config.cs](https://github.com/ghstahl/IdentityServer4-Extension-Grants/blob/master/src/IdentityServer4.HostApp/Config.cs)

*__IdentityServer4__ is responsible for managing __client_id(s)__ and

[2018-05-06 21:36] exlnt commented on #865
@lenniebriscoe Can you please share your code for adding the external user into the local Asp.Net Identity store? I am in the exact same scenario. After Google & MS logins, my app keeps redirecting user to the Identity server login page and not back to the original client app.

[2018-05-07 02:25] brockallen commented on #2272
Ah, that's the key difference. I didn't appreciate that about your scenario....

[2018-05-07 05:55] leastprivilege commented on #2272
If there is no user involved, you can set the `ClientClaims´ on the request object - either from the extension grant validator or a custom token request validator.

[2018-05-07 05:55] leastprivilege commented on #2299
That's a good idea. I will add that.

[2018-05-07 10:57] Sivasekare commented on #494
Still I'm the facing though I sign the tokens using X509 certificates and using IS4 latest version.  Appreciate your help

[2018-05-07 17:45] brockallen opened #2300 "update the generated EF sql files"
https://github.com/IdentityServer/IdentityServer4.Templates/issues/31

[2018-05-07 19:03] ryanbuening commented on #1256
@scottbrady91 any updates  on .NET Core support?

[2018-05-07 21:24] dresdor opened #2301 "IS4 HttpContext.GetTokenAsync("refresh_token") always returns null"
### Issue / Steps to reproduce the problem
We are having an issue where we are unable to retrieve the refresh token to refresh our access token.  When we make the call:

     HttpContext.GetTokenAsync("refresh_token")

it always returns null.  We are currently retrieving our access token by the following code:

     var curToken = filterContext.HttpContext.AuthenticateAsync("oidc").Result;
     va

[2018-05-08 06:12] satyajit-behera opened #2302 "Identity Server with asp.core 2.1"
Do you foresee any challenges or unforeseen issues using current version of identity server 4 with asp.core 2.1 ?
Thanks

[2018-05-08 06:46] leastprivilege commented on #1483
OK - seems to become mainstream now in 2.1

https://github.com/dotnet/sourcelink

[2018-05-08 07:01] leastprivilege commented on #2302
I don't see any unforeseen issues right now ;)

[2018-05-08 07:29] damienbod commented on #2302
@satyajit-behera @leastprivilege

I tried this, and have no issues with the IdentityServer4. The Identity part has changed a lot and the samples, Identity part needs a bit of work.

[2018-05-08 10:04] satyajit-behera commented on #2302
Thanks @leastprivilege

[2018-05-08 10:06] satyajit-behera commented on #2302
@damienbod I guess, you moved from IdentityServer4 v1 (for .net core 1) to use asp.net core 2.1
And hope, its not needed when we do it for v2 which already works with asp.net core 2.0

[2018-05-08 11:50] scottbrady91 commented on #1256
We've made a start at porting them, but have been slowed down since none of the metadata libraries made it to .NET standard. Unless anyone knows otherwise?

[2018-05-08 12:06] ddydeveloper commented on #2278
@brockallen Thank you. I've implemented BackChannelLogoutUri, it works as expected. Close the issue.

[2018-05-08 12:06] #2278 closed

[2018-05-08 13:34] brockallen commented on #2301
Is the client requesting the offline_access scope?

[2018-05-08 13:48] dresdor commented on #2301
Issue largely resolved due to some massive reworking of scopes and other bits.  Problem I have now is that User Principal does not seem to have most of the custom claims we have established.

Identity Server:
![image](https://user-images.githubusercontent.com/33524074/39760670-92b0b3ea-529b-11e8-85e5-9e74aea4cfc8.png)

Client:
![image](https://user-images.githubusercontent.com/33524074/39760722-b8

[2018-05-09 02:30] GithubCSL commented on #1573
has this been fixed ?

[2018-05-09 04:48] aqa510415008 opened #2303 "IOS 8.1 version support for Fragment"
IOS 8.1 version support for Fragment, after the success of the authorization can not jump, stay at https://auth.xxx.com/connect/authorize/callback?client_id=201802058888&redirect_uri=xxx

[code]

[2018-05-09 07:37] shaikatz commented on #752
I had the same issue, you can do that:
[code]

[2018-05-09 13:26] dresdor commented on #2301
I've resolved this by implementing a custom IProfileService, and am now getting a similar set of claims back.  However, I'm still not sure how on earth it was working with Implicit and still sending those claims.  Not going to worry too much about it though.

[2018-05-09 13:26] #2301 closed

[2018-05-10 07:59] fawadali123 commented on #1560
@brockallen
I am stuck with the same issue.
I need to implement Role Bases Authorization on Api Controller Actions.
The Authorization works well without [Authorize(Roles="Any_RoleName")].
please suggest?

I have posted a question for the same on StackOverflow;
https://stackoverflow.com/questions/50266114/role-based-authorization-for-web-api-with-identityserver4

Thanks.

[2018-05-10 08:13] dave-hillier commented on #984
This page is top hit from google. "Read the docs ;)" and "check the logs" are useless responses for others trying to diagnose the same issue. In future, can you please post links to relevant pages of the docs.

[2018-05-10 15:18] DotNetRockStar commented on #2262
If I have multiple ApiResource's. Can those resources share the same scope name?  Right now the framework is suggesting that it cannot.  I am getting the following:
[code]

When I ask for a token:
[code]

With the following ApiResource's (serialized):
[code]

[2018-05-10 15:20] DotNetRockStar opened #2304 "Multiple ApiResource's sharing scame scope name errors"
If I have multiple ApiResource's. Can those resources share the same scope name?  Right now the framework is suggesting that it cannot.  I am getting the following:
[code]

When I ask for a token:
[code]

With the following ApiResource's (serialized):
[code]

being returned by the following method on class extending IResourceStore interface:
[code]

[2018-05-10 16:40] ghstahl opened #2305 "Feature Request: Allow changing AbsoluteRefreshTokenLifetime for Extension Grants"
In the spirit of letting me do whatever the hell I want to do in Extension Grants, I would like the ability to mint a token where I have control over everything :)

In this case, I would like to be able to change the AbsoluteRefreshTokenLifetime the same way I can change AccessTokenLifetime in my ValidateAsync function;

i.e. similar to the way I am changing context.Request.AccessTokenLifetime bel

[2018-05-10 18:18] brockallen commented on #2304
Correct, this is how it's designed and is a trade off to allow other features.

[2018-05-10 18:51] DotNetRockStar commented on #2304
If it is a long answer then it's not a big deal, but what are the other features that having uniqueness allows?

[2018-05-10 22:56] brockallen commented on #2304
From a design perspective scopes are meant to model your API. Why do two different APIs have the same scope?

Introspection becomes odd when two different APIs share the same scope, and that's why it's designed the way it is now. In IdentityServer3 all scopes were "flat".

[2018-05-10 23:09] DotNetRockStar commented on #2304
Sure, scopes are meant to model the api auth.  If the API wants to have a scope of "admin", for example, why should another api not be able to use the scope "admin"?  Are you suggesting that every ApiResource needs to know,about every other ApiResource's scopes in order to not create a duplicate scope?  In the scenario where now when someone wants to register their API with the identity server, no

[2018-05-10 23:39] brockallen commented on #2304
Yes, scopes need to be unique across all APIs. Imagine if they were not -- a client's request would be ambiguous. Look at how google does it: https://developers.google.com/oauthplayground/. Normally I put a dot in mine if I want to have multiple scopes per logical API, e.g. "mycoolapi.read-only", and "mycoolapi.read-write".

[2018-05-10 23:45] DotNetRockStar commented on #2304
Cool. I'll come up with a naming convention for the team. Thanks for the reply.

[2018-05-10 23:51] brockallen commented on #2304
Also, beware creating too many scopes. Scopes are meant to allow an end user to give permission to a client application to use the API on the uer's behalf. They're not meant for user-level permissions (the sound of some of your scopes above worry me, like "qa" and "general user"). I've seen train wrecks where people misunderstand and/or overuse scopes. Just something to consider.

[2018-05-10 23:51] #2304 closed

[2018-05-11 03:25] ghstahl commented on #2272
Works, well kindof....
Why are all the claims I add to **context.Request.ClientClaims** pre-pended with "client_{my claim name}"?
[code]
i.e.
I pass in a claim **new Claim("In","Flames")** and it shows up as **"client_In":"Flames"**.

[2018-05-11 04:06] #2272 closed

[2018-05-11 10:07] YINZHU2016 opened #2307 "IdentityServerAuthenticationOptions error"
Hello, I used identityserver4 as the project's SSO, and I recently wanted to add the api side to the configuration file of appseting.json for IdentityServerAuthenticationOptions. Because I want to implement, I can modify the contents of the configuration file and then switch dynamically
**Authority**
**ApiName**
**ApiSecret**
Without restarting the application

My code is as follows:
`services.Con

[2018-05-11 21:30] brockallen commented on #2303
Can you explain why it doesn't handle the redirect URI correctly?

[2018-05-11 21:31] brockallen commented on #2307
Sorry, this is not supported and would be a massive reworking. It's not even clear if all the underlying components we use from ASP.NET Core support this.

[2018-05-11 21:31] #2307 closed

[2018-05-11 21:37] brockallen commented on #2085
Closing. If you still have issues, feel free to reopen.

[2018-05-11 21:37] #2085 closed

[2018-05-11 21:38] brockallen commented on #2133
Closing. If you still have issues, feel free to reopen.

[2018-05-11 21:38] #2133 closed

[2018-05-11 21:38] #2227 closed

[2018-05-11 21:38] #2235 closed

[2018-05-11 21:38] brockallen commented on #2259
Closing. If you still have issues, feel free to reopen.

[2018-05-11 21:38] #2259 closed

[2018-05-11 21:38] #2263 closed

[2018-05-11 21:41] brockallen commented on #2275
Yes, it's hard to diagnose this. I'll close for now, but if you find out there's a problem in IdentityServer then feel free to reopen.

[2018-05-11 21:41] #2275 closed

[2018-05-11 21:41] #2302 closed

[2018-05-12 00:01] ghstahl opened #2308 "RevokeRefreshTokenAsync doesn't clear out all refresh_tokens that have the same subject/client_id combination"
### Issue / Steps to reproduce the problem

I am able to mint 2 tokens via Extension Grants that have the same subject.
Revoking the refresh_token removes the refresh_token, but then doesn't remove all the others that have the same subject.  Looking at the code, it tries to remove all the reference tokens by subjectId/ClientId.

i.e.
[code]

My Unit Test is located [Here..](https://github.com/ghst

[2018-05-12 03:30] brockallen opened #2309 "rework sid to be per-client"
new sid format: (client_id + sessionid).Sha256()

[2018-05-12 03:35] brockallen opened #2310 "Consider formal support for token exchange"
https://datatracker.ietf.org/doc/draft-ietf-oauth-token-exchange/

It can be done with the current extension grants, but if/how could it be formalized?

Sponsors welcome.

[2018-05-12 16:53] ghstahl commented on #2308
I have a workaround that shows how to deal with this until we get the new feature in.
[workaround](https://github.com/ghstahl/IdentityServer4-Extension-Grants/blob/master/docs/refresh_token_revocation_workaround.md)

[2018-05-12 18:25] martincostello opened #2311 "Support interop with ASP.NET Core 2.1 HttpClientFactory"
_TL;DR_ - Please make [IdentityServer4.AccessTokenValidation](https://github.com/IdentityServer/IdentityServer4.AccessTokenValidation) aware for `HttpClient` usage.

## Details

I'm updating an application targeting ASP.NET Core 2.0 to ASP.NET Core 2.1. As part of this, I'm integrating [HttpClientFactory](https://github.com/aspnet/HttpClientFactory) into the application when creating `HttpClient`

[2018-05-13 11:57] leastprivilege commented on #2311
We also like the new HttpClient factory. We'll look into it.

[2018-05-13 14:43] scottbrady91 opened #2312 "Device Flow: Persisted Grant Store Reuse"
For device flow support we need to persist we need to persist a request based on two keys: the device code and the user code.

The flow would be:
1. **Device Authorization Request:** Create user code, and device code
2. **User Authorizes Request:** Lookup by user code, update associated device code, and cleanup user code
3. **Token Request:** Lookup by device code, and cleanup device code when tok

[2018-05-13 15:51] scottbrady91 commented on #2312
That's what we're doing! :) https://github.com/IdentityServer/IdentityServer4/tree/device-flow

[2018-05-14 01:34] aqa510415008 commented on #2303
@brockallen Previous versions of IOS 8 .1 do not support this UIR jump
[code]
 He only supports
[code]

[2018-05-14 01:55] brockallen commented on #2303
So you're saying the request to the authorization endpoint is not working when you send params via the hash fragment?

[2018-05-14 05:39] YINZHU2016 opened #2313 "Multiple login scenarios"
Hello, I'm using your identityserver4 as my sso, this is a very great project, but now there is a problem that has been bothering me. I have 3 ClientA, ClientB, ClientC, all using mixed mode.

Now there is a problem: If I log in to account A on client A, then when I access ClientB, ClientC, it will automatically log in and will not jump to the login screen of SSO because I have logged in to client

[2018-05-14 05:46] YINZHU2016 opened #2314 "Login using popup, <iframe> for Hybrid flow"
I am having difficulty dealing with an issue: is it possible to implement a login form using Identityserver4 in a popup or a <iframe> ?

Please give me some advice for this issue.
Thanks and Best Regards

[2018-05-14 07:20] sajihkiriwendala opened #2315 "Authenticating an Outlook Add-in using IdentityServer4 (JWT)"
I want to implement an Outlook Add-In for the user to login through the Outlook desktop application into a web application profile and do their necessary changes through the Outlook desktop application itself.
The authentication needs to be done with Identity Server 4.
Please give me some advice for this issue.
Thanks.

[2018-05-14 07:38] leastprivilege commented on #2315
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-05-14 07:38] #2315 closed

[2018-05-14 07:39] leastprivilege commented on #2314
Our default UI prevents iframing - this is a common security best practice. You can inspect the code in the `SecurityHeaders.cs` file.

[2018-05-14 08:25] aqa510415008 commented on #2303
@brockallen  Invalid redirect URL after authorization is successful

[2018-05-14 08:35] lenniebriscoe commented on #865
@vijay2358 and @exlnt it did indeed work as per my comments above. I needed to provision the users in the DB. You may want to alter the IProfileService to better suit your scenario. I have moved on from that role, so no code available i'm afraid.

[2018-05-14 09:33] YINZHU2016 commented on #2314
@leastprivilege Can you help look at this issue? Thanks and Best Regards
https://github.com/IdentityServer/IdentityServer4/issues/2313

[2018-05-14 13:04] brockallen commented on #2303
That sounds like an environmental issue as IdentityServer simply follows the specs. You need to do some more debugging on your side.

[2018-05-14 15:06] ghstahl commented on #2308
Also, revoking all refresh_tokens with
[code]
may not be enough.

I have a situation where I want all tokens removed based on only a subject.
[code]

My use case is as follows;
1. Client logins in and only gets back a token that is scoped to account_only information.  Pretty much all that I usually want from logging into google.
2. Client then using a custom extension_grant mints another token wit

[2018-05-15 08:47] vladbilyk commented on #1627
I'm getting this exception when "access" instead of valid JWT is sent from HttpClient...

[2018-05-15 10:16] shaikatz commented on #680
@leastprivilege I'm facing the same issue and I can't find ExternalLoginCallback can you share more details?

[2018-05-15 10:30] leastprivilege commented on #1627
see above discussion.

https://github.com/IdentityServer/IdentityServer4/issues/1627#issuecomment-339102001

[2018-05-16 06:51] janpieterz opened #2317 "Adapt SlidingRefreshTokenLifetime to prevent negative lifetimes"
When, for example, using an int.MaxValue (a valid configuration value) for SlidingRefreshTokenLifetime, the result of below line can mean the integer becomes a negative value. This is relevant for scenario's with, for example, the AbsoluteRefreshTokenLifetime set to 0 and a Sliding expiration, where people expect them to be valid forever (or at least significantly long enough to not matter).

http

[2018-05-16 07:09] leastprivilege commented on #2114
https://github.com/IdentityServer/IdentityServer4/issues/2317

[2018-05-16 07:10] leastprivilege commented on #2317
Please contribute here

https://github.com/IdentityServer/IdentityServer4/issues/2114#issuecomment-379185830

[2018-05-16 07:37] janpieterz commented on #2114
When, for example, using an int.MaxValue (a valid configuration value) for SlidingRefreshTokenLifetime, the result of below line can mean the integer becomes a negative value. This is relevant for scenario's with, for example, the AbsoluteRefreshTokenLifetime set to 0 and a Sliding expiration, where people expect them to be valid forever (or at least significantly long enough to not matter).

http

[2018-05-16 07:37] janpieterz commented on #2317
Super, cheers.

[2018-05-16 07:37] #2317 closed

[2018-05-16 14:21] ghstahl opened #2319 "Question: Is there an MVCClient example that uses asp.net identity"
I am trying to trigger a logout on IdentityServer4 the same way the MVCClient examples do;
[code]

[code]
My registration with identity is pretty much out the box.
[code]

[2018-05-16 16:39] brockallen commented on #2319
If your MVC client is using IdentityServer then there's little point in using ASP.NET Identity in the MVC app since your MVP app is not managing credentials.

[2018-05-17 04:15] prisar commented on #597
I want to edit a user details. how should i create a edit action in Account controller?

[2018-05-18 00:00] KevinBurton opened #2321 "File name too long?"
In trying to clone the repo I get an error the the filename is too long

[code]

[2018-05-18 01:18] brockallen commented on #2321
This is a dup -- been asked before. Check the history.

[2018-05-18 01:38] tiwari-abhishek opened #2322 "Support for Individual Migration History Table IdentityServer4.EntityFramework"
### Issue / Steps to reproduce the problem
I am trying to set a custom MigrationHistoryTable name for the ConfigurationDbContext and PersistentGrantDbContext, but when I run 'dotnet ef database update' the Migration History table name always gets created prefixed with 'dbo_'.

However, this works for AspnetIdentity though and I am able to create a separate MigrationHistory table for that. So I thi

[2018-05-18 07:59] serdarcpinar opened #2323 "Wep api application returned 401 unauthroized error . description : The signature is invalid"
Hello ,
I have 3 application.

- Authentication server (.netCore mvc)
- Angular client (angular-cli)
- Web api application (.netcore wep api)

I've configured applications based on identity server4 samples. Everything is working.

There was a problem when I uploaded it to the server.

**Web api application returned 401(unauthroized error) when i call request.**

**Error: Bearer error="invalid_toke

[2018-05-18 13:36] ghstahl commented on #2319
@brockallen
I was looking for how OIDC does a redirect to the provider to do the signout.  Since I am using out of the box asp.net identity on my end, I had to do it myself.
https://github.com/IdentityServer/IdentityServer4/issues/1023
[endsession](https://identityserver4.readthedocs.io/en/release/endpoints/endsession.html)

The following is my SignOut that cooks up an endsession url to sign every

[2018-05-18 20:27] rwhertenstein2 commented on #356
I just saw that there is an IRefreshTokenService that I will work on implementing next

[2018-05-19 06:19] #2323 closed

[2018-05-19 11:53] #2321 closed

[2018-05-19 11:56] brockallen commented on #2313
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-05-19 11:56] #2313 closed

[2018-05-19 12:00] brockallen commented on #2322
Not sure -- I never tried to do that. But our EF library is minimally involved -- it's more just a wrapper around the EF config system. You might need to grab the EF project and debug into to figure it out. If you make any progress and you think there's something missing from how we do wrap the EF layer, let us know.

[2018-05-19 12:00] brockallen commented on #2303
All set on this issue -- can we close?

[2018-05-19 12:01] brockallen commented on #2314
@YINZHU2016 This is up to your UI code. We provide the quickstart, but beyond that you will have to design it to work the way you want.

[2018-05-19 12:03] brockallen commented on #2319
All that code is up to you to design and build. We don't normally provide support beyond the IdentityServer core feature set here on the issue tracker.

[2018-05-19 13:08] Kerneels commented on #2016
Hi. I'm not able to get this working. Since the pull request: https://github.com/dpgaspar/Flask-AppBuilder/pull/618/files
has been closed, I assume that it has been merged into the library, yet it does not seem to work.

The system I'm trying to get it to work with is Apache Superset 0.24.0, from this image:
amancevice/superset:0.24.0

What I'm actually trying to achieve is to do OpenIDConnect aut

[2018-05-19 14:46] vikmn opened #2325 "Issue with MVC client for OpenID app"
Hi,
I am following the steps for the MVC client to use OpenID  (http://docs.identityserver.io/en/release/quickstarts/3_interactive_login.html).
Having set up the mvc client and the identity server as per the instructions,I have managed to get as far as the login screen.However when i try to sign in I seem to get an 400 status code page with the url shown below. There is nothing on the doc that see

[2018-05-19 15:08] vikmn commented on #2325
Some logs from the identity server console.
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using 'C:\Users\vikra\AppData\Local\ASP.NET\DataProtection-Keys' as key repository and Windows DPAPI to encrypt keys at
rest.
info: IdentityServer4.Startup[0]
      You are using the in-memory version of the persisted grant store. This will store con

[2018-05-20 21:44] ghstahl opened #2326 "Feature Request: RequireRefreshClientSecret as a client option"
reference:
https://tools.ietf.org/html/rfc6749#section-6

spec snippet
[code]
Reading the spec on refreshing an access_token one could come to a reasonable assertion that the option of requiring a secret for minting a token is separate from requiring a secret for refreshing the token.  More specifically what one considers a confidential client, or what the term **"or with other authentication requ

[2018-05-20 22:58] brockallen commented on #2326
Can you explain your use case?

[2018-05-20 23:17] ghstahl commented on #2326
I have a desktop client that wants to bind into my service so that they can make authenticated api calls.

The input to my bind call in one case comes from a previous OIDC login from another system(google).  I am basically exchanging one token for another, and that is where the extension_grants come into play.

I then validate the input token, and then I mint a token based upon a bunch of rules on

[2018-05-21 09:12] kunalgarg19 opened #2327 "Using authentication on web pages and web API simultaneously"
Hi, I need to achieve below things.
1. I have web pages and web API both using ASP.Net Core MVC, in the same application
2. I need to authenticate all of my controllers using Identity Server 4
3. For controllers, which return web page, unauthenticated users should redirect the response to login page, while API controllers should return 401 unauthorised error
4. I have oidc for web pages authentica

[2018-05-21 11:35] brockallen commented on #2327
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-05-21 11:35] #2327 closed

[2018-05-21 16:31] kessko opened #2328 "Windows Logout do not work as expected"
Hello, faced with SignOut issue.

I use IdentityServer4.Quickstart as core of my app. Case that i want to cover is Login/Logout through Windows authentication scheme. I turned ON Windows Authentication on IIS.
Login using Windows works perfect. I navigate to Account/Login then just click on button with name "Windows" and i am in. I see "idsrv" and "idsrv.session" cookie in browser.
So far so good.

[2018-05-21 16:53] ArshathS opened #2329 "Redirecting url from Identity server 4 is not behaving as expected"
I have identity server project and the client project, everything works up to authentication without any issues and even it redirects to the correct client url but the url ex : "https://localhost:44309/signin-oidc" gives the blank page.

Note : SSl enabled for Identity Server and Client application.

It is authenticating the user as expected as you can see below in the screen shot.
![image](https:

[2018-05-21 19:52] BrahmaReddyMadhira commented on #2273
Any Update on this is much appreciated?

[2018-05-21 20:20] brockallen commented on #2328
When using integrated windows authentication the only way to really logout is to logout of your computer -- the same one you logged into with your windows credentials.

[2018-05-21 20:21] brockallen commented on #2329
Did you add "UseAuthentication" in Configure the client MVC pipeline?

[2018-05-21 23:49] ArshathS commented on #2329
Thanks @brockallen You guys are awesome and yes that was my mistake and I missed "UseAuthentication" in client MVC pipeline.

Another issue :
I'm getting this exception while connecting my application to IdentityServer4 with AzureAD as external authentication provider. My application is using Hybrid flow to connect to IdentityServer4. I get properly redirected to Azure, login, and code and id_toke

[2018-05-22 00:12] ArshathS commented on #2329
I confirmed that AAD sends two name claims. Removing one of them resolved the problem.
[code]

[2018-05-22 00:12] #2329 closed

[2018-05-22 01:01] BenHayat opened #2330 "IdentityServer4 And Pre made templates"
Hi;

I'm watching a video from Scott Hanselman & Brock Allen. In the video Brock mentioned that IS4 provides a series of Pre made template that we can start with, i.e login or logout page, controllers to build our IS4 host server.
Where do I find them and how do I get that project built if the templates are not provided in VS?

Thank you in advance!
..Ben

[2018-05-22 01:14] SIkebe commented on #2330
@BenHayat See here.
https://github.com/IdentityServer/IdentityServer4.Quickstart.UI

[2018-05-22 02:29] brockallen commented on #2330
Here are more: https://github.com/IdentityServer/IdentityServer4.Templates

[2018-05-22 03:40] BenHayat commented on #2330
Brock, your session with Scott was one of the BEST sessions I've watched for years.
It gave me a deep trust into your company and services you provide.
Looking forward to using your services.
And thank you for the link!

[2018-05-22 06:05] #2303 closed

[2018-05-22 11:07] kessko commented on #2328
Wow, that means that it works as everyone expected.
Thank you for explanation.

[2018-05-22 11:07] #2328 closed

[2018-05-22 19:27] TheAifam5 opened #2331 "Sample for single RESTful application?"
Hey,
can we get an sample application where the IDS4 can be used in environments just in only one API server and one client?

For example:
 - API (RESTful) server which is protected by IDS4 without any views and other not useful stuff in RESTful app
 - Some clients which connects and makes authorization with RESTful API.

I actually have no clue how to do this :(

I tried to do something like this

[2018-05-23 04:19] smuthiya commented on #680
@shaikatz - AuthenticateExternalAsync is no more part of IUserService in IdentityServer4 implementation. For authenticating user external you need to implement a logic. You can start with Quickstart UI provided at following location
**https://github.com/IdentityServer/IdentityServer4.Quickstart.UI**

[2018-05-23 08:16] LindaLawton commented on #2331
Well you are going to need the login views unless you intend to only use the following two grant types

- Client credentials
- Resource owner password

I am not sure i completely understand what you are trying to do here.  You want an example of using an API within the same project as the identity server?

[2018-05-23 09:02] LindaLawton commented on #2325
A wall of text containing the all of the logs is really not helpful.   You might want to start by checking out the exception its throwing.

[2018-05-23 09:37] TheAifam5 commented on #2331
@LindaLawton Thank your for the response!
Exactly that's what I want to do in my school project. Would be nice to have such an example for this kind of application where IDS4 and API are together and IDS4 protects the API.

Thanks for the two grant types. Can I somehow explicitly set the IDS4 configuration to use only the specific grant types like in this case only the "Resource owner password"? I

[2018-05-23 10:07] LindaLawton commented on #2264
[ModelBuilderExtensions.cs#L88](https://github.com/IdentityServer/IdentityServer4.EntityFramework/blob/dev/src/IdentityServer4.EntityFramework/Extensions/ModelBuilderExtensions.cs#L88)  I am happy to set this to 4000 if everyone agrees MicroSoft Sql Server NVarchar max is 4000 i bereave.   MySql is IIR varchar and can hold a bit more.   Not sure what other databases .Net core entity framework supp

[2018-05-23 10:16] LindaLawton commented on #2331
I have a mini api in my IDS project its used by our third parties developers to create new clients directly on the identity server.   Unless your API is actually writing to or reading from the same database that the Identity server itself is in I would say its better to put your api in a separate project.

This might help:

     services.AddIdentityServer()
                .AddSigningCredential(Lo

[2018-05-23 10:16] Vuurwarm commented on #984
So I don't have an answer but I got some insight on the problem:

to see what the error code means I Injected the `IIdentityServerInteractionService` into my controllers constructor.

Added an extra function that accepts the errorId
`public async Task<IActionResult> error(string errorId)
        {
            var errormessage = await identity.GetErrorContextAsync(errorId);
        }`

After I insp

[2018-05-23 10:26] SIkebe commented on #984
@Vuurwarm Wrong URL 😉
http://docs.identityserver.io/en/release/reference/interactionservice.html?highlight=GetErrorContextAsync

[2018-05-23 10:41] Vuurwarm commented on #984
@SIkebe ah, woops. Removed it. Was more in line of "read further" type thought.

But yes, was able to get what my problem was. So the redirect URl that it used was /signin-oidc which i believe clashed with the fact the user is already logged in. We just opted to showing the user a page saying Email has been confirmed.

[2018-05-23 13:23] LindaLawton commented on #2252
[TokenRevocationResponseGenerator.cs#L115](https://github.com/IdentityServer/IdentityServer4/blob/b5342381935600af3e06fe8d3d5c48963d6659e2/src/IdentityServer4/ResponseHandling/TokenRevocationResponseGenerator.cs#L115)    Bug it logs a warning but returns true.

@leastprivilege are you on this?

[2018-05-23 13:46] LindaLawton commented on #2310
I need to read the full spec doc.    However if the first few pages are a guide this is something that is on the books here for September.

What we need is something like client credentials that can be used back end by a service running.   which will be granted permissions to access user on behalf of a user.    (impersonation)

I was going to contact you guys about how best to go about this.   My

[2018-05-23 22:19] kevinlo opened #2332 "DiscoveryClient ValidateIssuerName policy"
The [Discovery Endpoint](http://docs.identityserver.io/en/release/endpoints/discovery.html) document says:

But according to the [OpenID Connect Discovery spec ](https://openid.net/specs/openid-connect-discovery-1_0.html#IssuerDiscovery), Issuer discovery can be optional.

I would like to know where in the discovery spec saying the issuer name must match the authority.

I know the DiscoveryPolicy

[2018-05-24 02:43] zinov commented on #1162
I am trying to extend all your classes in a different way but I don't know if I am falling in the correct path.
Let's say that I want to mark all your classes with an interface that has only an Id that works directly with my repositories. I create a derived type and implement my interface, so far it sounds good for me. Now, if I want to generate the tables with my extra fields I need to implement

[2018-05-24 07:54] waynevdm opened #2333 "Implicit flow access token validation"
Hi

We have a scenario where a website built in Java is retrieving and access token from Identity Server 4 and calling their server with the access token. I told them they should be validating the token on the backend but I am having difficulty figuring out how you do that for an access token for a client setup with implicit flow. The C# sample code I have seen calls the introspection endpoint for

[2018-05-24 12:30] brockallen commented on #2333
I don't understand. How the client obtains the access token (e.g. the flow) is orthogonal to how the API validates the access token.

[2018-05-24 12:30] roeb commented on #2186
Hi @edtim8 and @brockallen ,

I'm having the same problem right now. My IdentityServer4 runs locally in a Docker container without problems.
As soon as I run the Docker Container as an Azure Container instance I get the same error as you. Authentication works without problems. But as soon as I call my Web API with a valid Bearer Token I get the following error.

Runtime: .NET Core 2.1-rc1
Identity

[2018-05-24 12:55] jayeshdshah commented on #1727
@ahedreville
Perfect.. Short and sweet..

Thanks..

[2018-05-24 13:26] nathanrhoda commented on #2333
Hi

Just for some more context the client receives the token via a connect/authorize call and then we were thinking about making a second call to token/introspect to verify the token after the authorization. The catch though is we are using implicit flow and we are struggling to find good examples where this is done.

Regards
Nathan

[2018-05-24 13:28] brockallen commented on #2333
You're confusing the protocol flows, I think. Clients don't inspect access tokens. Clients validate identity tokens only. APIs receive and validate access tokens.

[2018-05-24 14:14] nathanrhoda commented on #2333
Apologies I may have caused some confusion by saying client i actually meant IdentityServer Client ie. Web Application.  Also We currently have it configured using the implicit flow with no secret.
So flow is as follows
1) A user logs in calls into connect/authorize receives the token
2) After the api receives the access token we want to call into connect/introspect to verify that it is still acti

[2018-05-24 14:49] waynevdm commented on #2333
We have read the docs but if we have an client configured like below

  "OAuth2Configuration": {
    "ApiResources": [
      {
        "Name": "MyApi",
        "DisplayName": "My Api"
      },
    ],

    "Clients": [
      {
        "ClientId": MyPortal",
        "Name": "My Portal",
        "RedirectUris": [
          "http://localhost:4200",
          "http://localhost:4200/*",
          "http:

[2018-05-24 17:47] brockallen commented on #2333
Introspection is automatically called by UseIdentityServerAuthentication. You need to set an ApiName (as you have done) and an ApiSecret. The ApiSecret is configured in IdentityServer on the ApiResource's ApiSecrets collection.

[2018-05-25 11:45] #2333 closed

[2018-05-25 11:53] oakdemirci commented on #1616
@yosbeleg89 did you find a better way other than the cookie?

[2018-05-25 17:18] yosbeleg89 commented on #1616
I'm afraid not @oakdemirci, I still have the workaround in my AspNet project.

[2018-05-25 17:38] douglampe commented on #324
For me, this was the key in the latest version (2.2):

[code]

The PublicOrigin setting is required to change the root URL everywhere (specifically in discovery for bearer tokens). This allows me to host my IdentityServer4 server on the root but then register it somewhere else on my reverse proxy like `/openid`.

[2018-05-25 22:01] oakdemirci commented on #1616
@yosbeleg89 then you save it to a cookie in AuthorizationCodeReceived and retrieve the cookie in RedirectToIdentityProvider (OpenIdConnectRequestType.LogoutRequest). Right?
Thanks ;)

[2018-05-26 00:16] openidauthority opened #2334 "Consider removing nbf claim"
The nbf (not before) claim has a useful purpose to prevent a jwt from being used until some time in the future. However, it does not appear to add any value to set it to the time the token is created. We already have that time recorded in the iat claim, and of course the token cant be used before it is even issued.

Including the nbf claim comes with a negative side effect: some libraries that val

[2018-05-26 07:16] borisgr04 commented on #1368
How?

[2018-05-26 16:28] TheAifam5 opened #2335 "API without ApiResource?"
Hey,

Do I need to define `ApiResource` if I making only one API server which is protected by IDS4? Can I just use `IdentityResources` only?
The API server is also auth server which integrates IDS4. So like ALL-IN-ONE solution :)

Regards,
TheAifam5