[2017-09-15 15:11] DoubleExposure opened #1532 "IdentityServer3 client : IdentityModel 1.0 to call IdentityServer4 Not Authenticated"
I have a client application that uses IdentityModel 1.0 to call IdentityServer4. This client uses .NET Framework examples that use OWIN from the identityserver 3 examples. I am trying to get the old example to now call IdentityServer4 instead of IdentityServer3. It worked fine with IdentityServer3. The following code calls IdentityServer4 and generates a consent screen successfully. After I click

[2017-09-15 16:24] kevinlo commented on #1501
@Soarc , I think you can do this as workaround for the DiscoveryClient

 `var disco = new DiscoveryClient("http://localhost:19081/MyApp/IdentityService".ToLowerInvariant());
`

@leastprivilege , for your question why setup the vdirs in mixed case.

Firstly, the specification allows mixed case so we test this case.

Secondly, it is not just the vdirs, but the host name in the URL too.   We cannot c

[2017-09-15 16:42] Soarc commented on #1501
@kevinlo This will not work, because reverse proxy is case sensitive and will return 404 for lowered
`http://localhost:19081/MyApp/IdentityService/.well-known/openid-configuration` url.

[2017-09-15 17:54] rahulmistry25425 commented on #1531
So as per my understanding still identify server 4 is not stable with .net core 2?

[2017-09-15 17:57] rahulmistry25425 commented on #1531
Because its seems like there are many changes held in .net core 2 version...so do you know when should be we able to get identify server 4 examples with .net core ?

[2017-09-15 19:39] kevinlo commented on #1501
@Soarc , how are this?
[code]
From the DiscoveryClient.cs, the Policy.Authority is set at the GetAsync call and DiscoveryResponse uses that Policy.Authority to validate the issuer.  If it lower case the Authoity before the GetAsync call, it should work.    But I have not test it myself, just base on reading the codes:

[code]

[2017-09-16 04:22] rmja commented on #1531
I had a very similar issue when using idsrv.AspNetIdentity. For me the culprit was [this assignment](https://github.com/aspnet/Identity/blob/74c1e19e6c14359d428ffe803a93d846b2123a63/src/Microsoft.AspNetCore.Identity/IdentityServiceCollectionExtensions.cs#L70), and the default fallback for DefaultSignOutScheme is DefaultSignInScheme.
But the cookie (in my case) was issued with the scheme `IdentityC

[2017-09-16 05:40] Soarc commented on #1501
@kevinlo this will not compile. DiscoveryClient's Authority property does not have public setter.
either setting `disco.Policy.Authority` will not work, because it's value will reset after disco.GetAsync() call.

[2017-09-16 07:32] rahulmistry25425 commented on #1531
@rmja Thanks for your suggetions.it works for me

[2017-09-16 07:32] #1531 closed

[2017-09-16 12:34] shobhitkasliwal commented on #1531
I am facing the same issue.
services.AddAuthentication(options =>
            {
                options.DefaultScheme = CookieAuthenticationDefaults.AuthenticationScheme;
                options.DefaultChallengeScheme = OpenIdConnectDefaults.AuthenticationScheme;

            })
            .AddCookie()
            .AddOpenIdConnect(options =>
            {....}

Can you please let me know how to

[2017-09-16 12:47] rahulmistry25425 commented on #1531
@shobhitkasliwal

[code]

In Logout Action Method

`            await HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);`

[2017-09-16 15:40] shauliz commented on #1057
@StefanKert
Thanks!

[2017-09-16 20:35] odysseus1973 commented on #1495
Have same problem, how you do migrations ?

[2017-09-16 23:20] kevinlo commented on #1501
@Soarc You are right both Authority and Url are read only.  I did not check that.  :(

The constructor of the DiscoveryClient has the HttpMessageHandler innerHandler parameter.

Do you think you can create a HttpClientHandler derived class, pass the lower case url to the DiscoveryClient for the Authority and override the SendAsync to correct the request url with the one with right case for the rev

[2017-09-17 02:47] cnblogsTim commented on #1495
@odysseus1973 My data is relatively small,I used the latest idsv4 to generate the database

[2017-09-17 05:23] hugorojas1121 commented on #1223
Hi good day!

I have a problem similar to @Franklin89, I developed my IdentityServer using the netcoreapp1.1 framework, IdentityServer4 version 1.52, with a console client the connection works fine, but with an MVC client netcoreapp2.0, within the records shows me:

`error: IdentityServer4.Validation.AuthorizeRequestValidator [0]
Redirect_uri inválido: http://localhost:5001/signin-oidc
--code omit

[2017-09-17 08:35] Soarc commented on #1501
It es required to send request to CORRECT url or 404 response will be received. So this will not work.
If You really want to check issuer You can do it manually.
[code]

My question is about adding new behavior to IdetityServer4, not about workaround this. So i wont to know @leastprivilege 's opinion about adding configuration to allow controlling issuer name creation.

[2017-09-17 12:10] StevenTCramer commented on #1421
@leastprivilege   "It's a logging info message - that's all."  Where is it I will do a PR to not show if anonymous.  But I can't find the source.

IdentityServer4.AccessTokenValidation.Infrastructure.NopAuthenticationMiddleware  I thought that would be the class but I can't find it.

Searching for "was not authenticated" also comes up empty.

[2017-09-17 17:31] mpetito opened #1533 "Mixed cookie authentication and IdentityServerAuthenticationService"
I have an ASP.NET Core 2.0 project using ASP.NET Identity with a mix of Cookie Authentication and Identity Server Authentication.  Identity Server 2.0.0-rc1 is also hosted within the same project.

After configuring IdentityServer, `PasswordSignInAsync` fails when using the ASP.NET Identity `SignInManager` to perform typical form / cookie based login.

The default `AddIdentityServer` extension met

[2017-09-17 17:34] mpetito commented on #1533
My workaround for now is to register IdentityServer the same way as the extension method, but explicitly without `AddCookieAuthentication`:

[code]

[2017-09-17 18:02] leastprivilege commented on #1533
`sub` is a required claim for OpenID Connect, OAuth and hence IdentityServer. Use it instead of name identifier.

[2017-09-17 18:04] leastprivilege commented on #1421
Because it is not coming from us - but from the asp.net core authentication system.

[2017-09-17 18:04] leastprivilege commented on #1501
We'll discuss it.

[2017-09-17 18:55] mpetito commented on #1533
@leastprivilege Do you mean that the ASP.NET Identity `UserClaimsPrincipalFactory` should be overridden to provide the `sub` claim? By default it provides the `NameIdentifier` claim instead.

I'm not sure why Identity Server should be involved in `PasswordSignInAsync` in the first place.  If I'm only using it for JWT Bearer authentication, why would it care about cookies at all?

[2017-09-17 20:06] eloekset commented on #671
@ravetroll, did you get a running version in Azure using the SSL storage of App Service for the certificate? I'm having trouble on startup now, and I've added the config key/value of your latest comment to the Application Settings, but no luck so far.

The sample code that @leastprivilege linked to in an earlier comment in this issue was changed 4th April, so it seems like they've got an issue in

[2017-09-17 20:15] eloekset commented on #671
This did the trick for me: https://azure.microsoft.com/en-us/blog/using-certificates-in-azure-websites-applications/

[2017-09-18 05:56] leastprivilege commented on #1533
IdentityServer needs to keep track of a couple of things to fulfil the protocol requirements. These things are stored in the cookie.

have a look here:
https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/tree/dev/src/Host

[2017-09-18 12:05] leastprivilege opened #1534 "Consider making client claims prefix value configurable"
instead of boolean and default to "client_"

[2017-09-18 13:16] waqaskhan540 opened #1535 "Separate Db configuration for each tenant"
Hi,
I am trying for a multi-tenant solution of IdentityServer where I could use separate database configuration for each of my tenants, I am using **StructureMap** for this purpose. But I am having an exception, which is due to the fact that the time control reaches the **app.UseIdentityServer()** middleware the bindings aren't done yet (i guess) , therefore it causes the exception.  Below is my c

[2017-09-18 13:26] waqaskhan540 opened #1536 "Exchange Facebook, Google ,Twitter access token for IdentityServer access token"
Hi,

Is it possible for you guys to have a new endpoint (or use the existing ones) to provide a feature where applications using ResourceOwner flow or Client credential flow could exchange access token for an access token from external providers from facebook, gmail or twitter. I have already done that for my personal project but would be great if you guys can provide it too.

[2017-09-18 13:47] leastprivilege commented on #1536
This is called an extension grant. We won't include that in our core library - but it is easy to add yourself. Feel free to publish a contrib library or blog post - and we will to it from out docs.

[2017-09-18 13:52] wyle-e-coyote opened #1537 "Q: Token validation with Azure KeyVault"
- [X ] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

I've managed to get Azure KeyVault connected to the identity server4 service and signing tokens for us via DI (very simple to do btw, thanks for that).  However, I'm having some difficulty around validation.

The exception that is being thrown:
[code]

I've injected IValidat

[2017-09-18 14:10] nukec opened #1538 "Is it possible to load different brand templates based on client Id received via authorise url?"
I have two different clients registered. Is it possible to load different path for templates based on what clientId is received through authorise url?

If I have Microsoft client accessing SSO I want to show Microsoft logo and if I have apple client accessing I want to show Apple logo. How can I do that?

[2017-09-18 14:48] leastprivilege commented on #1538
You can call the interaction service to find out the client details and then render a different view accordingly

https://github.com/IdentityServer/IdentityServer4.Quickstart.UI/blob/release/Quickstart/Account/AccountService.cs#L33

[2017-09-18 14:50] leastprivilege commented on #1537
Can you make sure that the key id in the discovery document matches the key id in the JWT header?

[2017-09-18 14:59] wyle-e-coyote commented on #1537
Just verified by dropping the JWT into jwt.io:
[code]
Which matches the id in the jwks endpoint (see original post).

[2017-09-18 15:06] leastprivilege commented on #1537
that's weird. maybe open an issue in the JWT handler repo?

[2017-09-18 15:35] nukec commented on #1538
@leastprivilege thanks, we also have sso in Idserv3, is it possible to do it there as well? We don't have controllers there, only config files, or do we have to override controllers?

[2017-09-18 15:45] waqaskhan540 commented on #1536
@leastprivilege thanks.. I will share the code and will let you know..

[2017-09-18 17:36] Exocomp opened #1539 "Urls generated with identity server behind LB"
I have a case where SSL is handled prior to getting to the box that hosts identity server, so the setup is Client/https -> SSL Box/http -> Identity Server.

In this scenario the urls (issuer, jwks_uri, authorization_endpoint, etc) generated in the discovery document (.well-known/openid-configuration) use http, how can I tell identity server to use https when generating these endpoints in the disco

[2017-09-18 20:02] wyle-e-coyote commented on #1537
Fixed.  It was a problem with the way I was encoding the bytes returned from Azure KeyVault after signing the token.  I was encoding with base64 _string_ instead of _url_  😢

Thanks for the quick replies any way @leastprivilege   Maybe this will help someone else some day.

[2017-09-18 20:02] #1537 closed

[2017-09-18 20:03] leastprivilege commented on #1537
Could you post your complete code?

[2017-09-18 20:28] wyle-e-coyote commented on #1537
Sure, here is the working code.  I'm simply sub-classing from DefaultTokenCreationService and overriding CreateJwtAsync and CreateHeaderAsync

[code]

Code for getting public key for header usage:
[code]

[2017-09-19 03:01] VenkateshSrini opened #1541 "IdentityServer4 on docker"
Hi,
My application is in .NET core 2.0. I want to create a centralized A&A server that can connect to an Azure LDAP and perform Authentication and also Authorization. I would want this microService to be in .NET core 2.0 in a _Docker container_

So the ask is
1) Is there an official docker image provided by the creators for identityServer 4
2) Do you have an .NET 2.0 standard compliant IdentitySer

[2017-09-19 05:40] leastprivilege commented on #1541
Given the nature of IdentityServer, a base image would not make sense. Your base image would be the ASP.NET Core 2.0 image where you "deploy" IdentityServer to.

[2017-09-19 05:40] #1541 closed

[2017-09-19 05:43] leastprivilege commented on #1539
This has been asked many times already - and is not really an IdentityServer topic. It's an ASP.NET Core deployment topic.

https://identityserver4.readthedocs.io/en/release/topics/deployment.html

[2017-09-19 05:46] rizamarhaban commented on #1539
@Exocomp see PublicOrigin and IssuerUrl property.

[2017-09-19 05:47] #1536 closed

[2017-09-19 05:48] #1440 closed

[2017-09-19 05:48] leastprivilege commented on #1476
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-09-19 05:48] #1476 closed

[2017-09-19 05:48] #1484 closed

[2017-09-19 05:49] leastprivilege commented on #1497
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-09-19 05:49] #1497 closed

[2017-09-19 05:49] #1500 closed

[2017-09-19 05:49] leastprivilege commented on #1509
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-09-19 05:49] #1509 closed

[2017-09-19 05:49] leastprivilege commented on #1517
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-09-19 05:49] #1517 closed

[2017-09-19 05:50] mrblurgle commented on #1476
I've been pulled on to other projects and haven't been able to investigate. When I get a chance I will fire up the VS profiler and figure out what's going on.

[2017-09-19 10:24] VenkateshSrini commented on #1541
@leastprivilege,
I'm still not able to understand what you are saying. Could you please clarify what you mean by saying "Given the nature of IdentityServer, a base image would not make sense". My requirement is I need the Identity server to be able to authenticate application that are running out of docker. The identity server should also run as a docker container. So having said this it would be

[2017-09-19 10:38] leastprivilege commented on #1541
I think you need to learn Docker first.

https://docs.microsoft.com/en-us/aspnet/core/publishing/docker

[2017-09-19 10:51] VenkateshSrini commented on #1541
@leastprivilege,
Thanks for the link. In fact I have attend docker training in Weighbee and have deployed an API app and Postgress in two different container and have linked them using compose and put in on swarm. By point is I want to understand that what is that nature of identity server that prevenst it from putting it in docker

[2017-09-19 11:11] kieronlanning commented on #1057
@StefanKert Did you ever try and run this against an existing IS4 (.NET Core 1.1 database)?

It seems the additional fields in the `Client` model don't have a migration, so never make it into the db. Ensuring that it crashes when trying to access that table.

[2017-09-19 11:19] leastprivilege commented on #1541
Nothing. It is just a library inside a normal ASP.NET Core application.

[2017-09-19 13:55] VenkateshSrini commented on #1541
@leastprivilege,
So that means we need some host process like ASP.NET core to use this library and host that app in container is it? If that is case do we need any special consideration like subnet mask that we need to take care? DO we have some guidance on how to get this working on docker

[2017-09-19 19:22] waqaskhan540 commented on #1536
@leastprivilege  here is the link to my repo for exchanging external (facebook, google , twitter) access token for Identity server access token... Looking forward to your feedback.

https://github.com/waqaskhan540/IdentityServerExternalAuth

[2017-09-19 20:24] Exocomp commented on #1539
@leastprivilege Thanks for the quick response.  Adding both 'X-Forwarded-For' and 'X-Forwarded-Proto' resolved the issue.

[2017-09-19 20:24] #1539 closed

[2017-09-20 05:10] leastprivilege commented on #1536
I opened an issue and updated the readme.

[2017-09-20 10:52] nukec commented on #1173
Is this gone now:

[code]

there is no more middleware UseIdentityServerAuthentication.

[2017-09-20 11:00] nukec commented on #1173
Are **AutomaticAuthenticate** and **AutomaticChallenge** obsolete for **IdentityServerAuthenticationOptions**?

I changed settings from
[code]
to
[code]

[2017-09-20 12:09] jonathh21 opened #1542 "Nested APIs/API calls within api calls."
I have asked a question about this on SO but it has attracted little interested.. given that and the fact that I can't find people asking this question makes me wonder if I am wildl off the mark..

https://stackoverflow.com/questions/46308536/reusing-a-bearer-token-for-multiple-api-calls

Basically I have a number of APIs that all use other APIs to n depth. Each might be consumed by other applicat

[2017-09-20 12:28] MatthewGabriel commented on #1542
I'd be interested in others replying to this to validate my assumption which was the same as yours:

You simply pass along the token.  Obviously the token needs the scopes for all api's it might hit.  The MVC app owns the token and sends it as Bearer to an api, that api can simply re-send the same bearer token to any api's it consumes.

[2017-09-20 15:27] snowjim opened #1544 "The client and server cannot communicate, because they do not possess a common algorithm"
Hi,

I have a Windows client that uses webRequestHandler and certificate to communicate with the IdentityService4. This as worked fine but now the login have stoped working with the exception :  System.ComponentModel.Win32Exception: The client and server cannot communicate, because they do not possess a common algorithm

I can´t find why. There might be changes in my code that creates this problem

[2017-09-20 16:30] nukec commented on #277
Same issue here:
`InvalidOperationException: sub claim is missing`

[2017-09-20 16:34] nukec opened #1545 "2.0.0rc1 - InvalidOperationException: sub claim is missing"
After upgrading to 2.0.0rc1 I get this while trying to log in:

Code is not changed just settings.

All I did was to remove app.UseIdentity() and replaced with app.AddAuthentication();
Same thing in Configure method in Startup.cs.

[2017-09-20 21:57] laorient commented on #1545
If it is an existing account in your AspNetIdentities tables, then add "sub" and "name" claims into the AspNetClaims table and you should be good.

[2017-09-20 23:05] mrf460 commented on #1545
Find this line in Startup.cs confgiureservices

services.AddIdentity<ApplicationUser, IdentityRole>()
                .AddEntityFrameworkStores<ApplicationDbContext>()
                **.AddIdentityServer()**
                .AddDefaultTokenProviders();

make sure .AddIdentityServer() is there.  That's what solved it for  me

[2017-09-21 05:36] waqaskhan540 commented on #1536
@leastprivilege  thanks.. will be updating soon..

[2017-09-21 06:58] leastprivilege commented on #1544
That's probably more a question for Microsoft. Try the Kestrel repo.

[2017-09-21 07:00] leastprivilege commented on #1542
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2017-09-21 07:00] #1542 closed

[2017-09-21 07:00] leastprivilege commented on #1533
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-09-21 07:00] #1533 closed

[2017-09-21 07:02] leastprivilege commented on #1257
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-09-21 07:02] #1257 closed

[2017-09-21 07:03] leastprivilege commented on #1532
I don't follow. What's the problem?

[2017-09-21 07:04] leastprivilege commented on #1535
I never used StructureMap - but IIRC there issues with it and IdentityServer.

[2017-09-21 07:04] leastprivilege commented on #1538
Sure - but it is hard than in IS4. IIRC you need to implement a view service. The docs have more info.

[2017-09-21 07:04] #1538 closed

[2017-09-21 07:05] leastprivilege commented on #1456
??

[2017-09-21 07:06] leastprivilege commented on #870
well - I merged it.

[2017-09-21 07:06] #870 closed

[2017-09-21 07:07] leastprivilege commented on #1501
We added an option in DiscoveryClient to ignore case. Will be published soon.

[2017-09-21 07:11] leastprivilege commented on #1501
Generally speaking - when you configure the issuer name statically for validation - you need to use whatever issuer is set in the discovery document as the issuer and **not** the IIS vdir name (with its weird casing behavior).

[2017-09-21 07:15] Soarc commented on #1501
This is great! Thank you.
Yes, but untill this moment we havn't way to set it :)

[2017-09-21 07:31] waqaskhan540 commented on #1535
is it possible to achieve this using the .Net built-in DI?

[2017-09-21 08:36] nukec commented on #1545
@mrf460 that was the thing. I forgot to add **AddIdentityServer().**

[2017-09-21 08:42] #1545 closed

[2017-09-21 09:00] nukec opened #1547 "Claims are not being passed to resource after update to 2.0.0rc1-update1 - using Asp.net Identity"
I updated to 2.0.0rc1-update1 and claims stopped being passed into resource API. I am using asp.net Identity.

Authentication is ok, I log in.
Then when I try to save something into database, I use sub claim to save the row for logged in user.

This is the method and the object ClaimsPrincipal has no claims:
![prog](https://user-images.githubusercontent.com/3589518/30687450-324bbd3e-9eb3-11e7-99f7

[2017-09-21 09:12] leastprivilege commented on #1547
It def doesn't help throwing a wall of code at us.

Check the logs. Look at the raw JWT tokens. Put breakpoints in relevant places - e.g. your profile service.

[2017-09-21 09:35] nukec commented on #1547
My profile service is ok. GetProfileDataAsync is assigning 4 claims on line **context.IssuedClaims = claims;** and one of them is sub.

raw JWT tokens consists of all claims.
I didn't find anything suspicious in logs, ill have a look again.

[2017-09-21 09:53] mpetito commented on #1533
@leastprivilege I still believe this is a regression. I understand that authentication has changed from aspnet core 1.1 to 2.0, but the oauth2 protocols have not.

In the prior version with aspnet core 1.1, I could use aspnet identity with cookie authentication in the same project as identity server with bearer authentication.  Now, I can only do so if I change aspnet identity to use the `sub` cla

[2017-09-21 10:46] nukec commented on #1547
Nothing specific in logs, I got this:

[2017-09-21 15:10] brockallen commented on #1533
@mpetito did you see this sample? it shows co-hosting IS and an API in the same ASP.NET Core 2 host.

https://github.com/brockallen/IdentityServerAndApi

[2017-09-21 15:13] brockallen commented on #1057
I can't imagine that will work. You need to migrate the DB, which is your responsibility.

[2017-09-21 15:15] brockallen commented on #1456
@leastprivilege well, we should add a test for this anyway to ensure it's working.

[2017-09-21 15:28] brockallen commented on #1535
You might need to design your own approach to the multi-tenant scenario, and not try to solve it via the DI system.

[2017-09-21 16:39] StefanKert commented on #1057
@kieronlanning sorry for the delay. Like @brockallen mentioned you need to create the migrations with the ef tools and update your database. This is not really the responsibility of IdentityServer.

[2017-09-21 17:18] mpetito commented on #1533
@brockallen Yes but notably, this example omits any usage of `SignInManager.PasswordSignInAsync`.
 Instead, it uses `HttpContext.SignInAsync` which is part of ASP.NET Core Authentication.

So this is not an example of co-hosting IS, an API and ASP.NET Identity in the same project.

[2017-09-21 20:31] MVC2013 opened #1548 "Getting a 400 error on /Account/Login upon signing in IE 11- looks like antiforgery token issue"
- [X] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem

1. I am navigating to /connect/authorize in IE 11 with the following query string values: client_id, response_type, scope, redirect_uri, state, nonce. I get successfully redirected to /account/login, and I am able to successfully si

[2017-09-21 22:22] rposener opened #1549 "Token Expiration / Cookie Expiration issue"
This is more of a question than a bug report.  hopefully someone can help.

I have 3 apps that all auth now off IdentityServer4.  All auth works great, but we are experiencing an issue where users get 403 Forbidden during an Ajax request after some time using the app.  A full refresh of page will redirect back to IDSRV and get new access token, resuming operation.  Obviously a cookie or token expi

[2017-09-22 06:19] leastprivilege commented on #1548
Seems to be an MVC / ASP.NET Core problem. Please open an issue with Microsoft as well.

[2017-09-22 06:20] leastprivilege commented on #1547
**If** the JWT contains all the claims you want - it must be a problem at the API. Do more research in that area.

[2017-09-22 06:22] leastprivilege commented on #1508
https://github.com/ctaggart/SourceLink#sourcelink

https://github.com/aspnet/BuildTools/pull/407

[2017-09-22 06:22] leastprivilege commented on #1501
I published a new version of IdentityModel that includes DiscoveryClient. This allows you to set the comparison mode on the `DiscoveryPolicy`.

[2017-09-22 06:22] #1501 closed

[2017-09-22 06:24] leastprivilege commented on #1483
https://github.com/IdentityServer/IdentityServer4/issues/1508

[2017-09-22 07:10] SathishNadarajan commented on #1117
Unload and ReLoad the project worked for me

[2017-09-22 10:28] kieronlanning commented on #1057
@StefanKert / @brockallen - sorry, I should have said.

I figured that out eventually!

[2017-09-22 10:43] fouadroumieh opened #1550 "AngularJS - IdentityServer4.Quickstart.UI - 'AuthenticationProperties' is an ambiguous reference"
I'm not sure if this issue been highlighted here, but am also getting the same issue, please check the details on this SO question:
https://stackoverflow.com/questions/46346042/angularjs-identityserver4-quickstart-ui-authenticationproperties-is-an-amb

[2017-09-22 10:44] fouadroumieh commented on #1550
sorry meant to make it on Quick UI repo

[2017-09-22 10:44] #1550 closed

[2017-09-22 10:58] mackie1001 commented on #1549
So the AJAX calls are secured using the cookie rather than the client sending the access token explicitly? Is the access token (stored in the cookie I assume?) used by the backend to call other services?

[2017-09-22 12:00] aligin commented on #754
@ZahirYounis You can use my answer at stack overflow https://stackoverflow.com/a/46364226/2047788

[2017-09-22 12:04] balkarov opened #1551 "Audience validation failed"
Hello!

Thank you for you library.

I use
[code]

ApiResources

[code]

In API config
[code]

I get error

[2017-09-22 12:13] leastprivilege commented on #1551
Well - check which audience are actually in the token. Use https://jwt.io.

[2017-09-22 12:28] balkarov commented on #1551
Yes, I checked
`"aud": "http://localhost:12406/resources"`

[2017-09-22 12:40] leastprivilege commented on #1551
you don't ask for the `core_logic_facade` scope in your authorize request...

[2017-09-22 12:43] balkarov commented on #1551
But when I change to
`http://localhost:12406/connect/authorize?client_id=wpf.webview.client&response_type=id_token+token&scope=openid+profile+email+roles+core_logic_facade&redirect_uri=oob%3A%2F%2Flocalhost%2Fwpf.webview.client&state=random_state&nonce=random_nonce&response_mode=form_post`

I get error
![sdasdasdas](https://user-images.githubusercontent.com/6030335/30744884-b53e0356-9fac-11e7-9607

[2017-09-22 13:00] leastprivilege commented on #1551
Now you check the logs.

[2017-09-22 13:02] Charleslekgoathi commented on #1198
Has this been added to  ASP.NET Core 2 yet?

[2017-09-22 13:06] balkarov commented on #1551
[code]

[2017-09-22 13:12] balkarov commented on #1551
When I run Identity server
I get

![fsdfsdf](https://user-images.githubusercontent.com/6030335/30746005-e2406d2c-9fb0-11e7-8d75-fd8597edd0bc.PNG)

[2017-09-22 13:23] balkarov commented on #1551
But  I have this scope in Api resource.
How solved this problem?

[2017-09-22 14:02] santiagomolinadecastro opened #1552 "Go to login page when token expired"
- [X ] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem

Hi all!!

I have a problem.

Im with token expiration problem. When token is expired, my application go to logout endpoint, but i cant do it (single sign-out by logut page). I wanna to reditect to users to login page.

The steps:

[2017-09-22 14:38] Alchemy86 opened #1553 "Token Access Request Confirmation"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem

Im looking to confirm I am using this right. I've checked the examples and docs but cannot find a complete example of what Im trying to do.
Using the quick start 5 project as an example, I have added extra ApiResources, I've then ad

[2017-09-22 15:29] brockallen commented on #1533
`SignInManager` is an API from ASP.NET Identity. It uses its own cookies. See the ASP.NET Identity repo for that usage: https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/

[2017-09-22 15:32] brockallen commented on #1553
AllowedScopes are what a client has access to, not a user. You do the authorization check in the API for the user. IdentityServer does not have a way to determine if a user is allowed, and that's not its job (by design).

[2017-09-22 15:35] brockallen commented on #1552
This sounds like you need to take more control in your client app.

[2017-09-22 16:54] kevinlo commented on #1501
Add this [DiscoveryClient issue ](https://github.com/IdentityModel/IdentityModel2/issues/58)for reference.

[2017-09-22 18:48] MVC2013 commented on #1548
Looking into that- thank you for the fast response!

[2017-09-22 19:45] ipeo opened #1554 "Go to a different login page depending on the client requested URL"
Hi! I use Identity Server 4 with an Asp.Net core web app, two different web apps.

If a user request an authorize page on my client and is not authenticated, he will be redirected to the Identity server to the login page (/account/login).

What if I want to redirect a non-authenticated user to an OTHER login page on the identity server (example /account/loginTwo), based on specific Client scenario

[2017-09-22 19:49] TomCJones commented on #1554
The client creates the redirect. It has complete control of where the user signs in.

..Tom's phone

On Sep 22, 2017, at 12:46 PM, Pierre-Olivier Bonin <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi! I user Identity Server 4 with an Asp.Net<http://Asp.Net> core web app, two different web apps.

If a user request an authorize page on my client and is not authenticated, he wi

[2017-09-22 20:04] ipeo commented on #1554
Yes but this is in the startup class, within the AddIdentityServer service. I already defined my principal login route there. But what if I want to specify an other route based on the current context of a client URL? Or how can I pass a parameter to the Identity server login controller so that I can re-route the user to the correct login page? Both login page to not have the same design based on w

[2017-09-22 20:09] TomCJones commented on #1554
add another piece of middleware which changes the response before it is sent. put some magic value in the redirect URL and change it on the way out.
________________________________
From: Pierre-Olivier Bonin <notifications@github.com>
Sent: Friday, September 22, 2017 1:04 PM
To: IdentityServer/IdentityServer4
Cc: tom jones; Comment
Subject: Re: [IdentityServer/IdentityServer4] Go to a different l

[2017-09-22 20:11] TomCJones commented on #1554
another way to do this is in the _loginpartial page. Add logic there to select. You have lots of options.
________________________________
From: Tom Jones
Sent: Friday, September 22, 2017 1:09 PM
To: IdentityServer/IdentityServer4
Subject: Re: [IdentityServer/IdentityServer4] Go to a different login page depending on the client requested URL (#1554)

add another piece of middleware which changes t

[2017-09-22 20:38] rposener commented on #1549
@mackie1001 Yes - the cookie seems to be the way the ajax calls are authenticated.  There is no access token explicitly provided.  So that at the core is what expires.  Question is how can/should this get refreshed using the refresh/access token?  I assumed it would "just happen" with a normal setup (e.g. Owin with Cookie, then OpenIdConnectAuthentication that auths against the IdentityServer, and

[2017-09-22 20:42] mpetito commented on #1533
@brockallen I think I see the line that I'm missing in my Startup.cs.  It seems there's an `AddIdentityServer` extension method on `IdentityBuilder`.  This reconfigures the ASP.NET Identity claims.

https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/blob/eccf0ae2f9ef1130e317e582d47a5c48bbfadcc5/src/Host/Startup.cs#L36

It would be helpful if the IS ASP.NET Identity docs included that

[2017-09-22 22:41] ghstahl commented on #870
Dependency Injection just makes me happy :)  I injected ITokenValidator into my custom ExtensionGrantValidator, and verified that I could validate the refresh token.
Thanks.

[2017-09-23 00:10] brockallen commented on #1533
Yep, we're still in rc and have not yet gotten to updating the docs for ASP.NET Core 2.0.

you might be able to derive from our `IUserClaimsPrincipalFactory` implementation. if not, then we can consider using a decorator pattern to better work with yours and others' who need their own.

or you can just ignore ours and register yours after ours in DI.

[2017-09-23 00:29] ipeo commented on #1554
So I did some research, what I actually want to do is pass an acr_value param to my IDP login controller, so I can select which Login view I want to show to the current user. I use the `[Authorize]` on my controller. Should I replace this attribute with an `AuthorizeRequest` in my action method to be able to change the returnUrl passed to the IDP? Because I tried this solution but the returnUrl is

[2017-09-23 13:35] brockallen commented on #1554
Why don't you have your login page read acr_values and then decide what to show? What's the real-world use case for this requirement, BTW?

[2017-09-23 14:22] ipeo commented on #1554
@brockallen Well, my question was how to pass those acr_values from the client to the IDP. I manage to make it work by removing the `[Authorize]` tag on my action controller, and by calling a `new AuthorizeRequest` instead. This way I can control WHEN to add arc_values when accessing the controller action.

A real-world use case would be, for instance, different login pages to get to a specific ac

[2017-09-23 14:37] ipeo commented on #1554
Admin wants to access `localhost:3000/home/secure`, gets redirect to IDP `localhost:3000/account/login`.

User wants to access `localhost:3000/home/secure?invitation=true`, gets redirect to IDP `localhost:3000/account/loginUser`.

So in localhost:3000/home/secure, that's where I need to put some `arc_values` based on the invitation param to tell the IDP where to redirect. Didn't know how to interc

[2017-09-23 15:50] brockallen commented on #1554
this is up to the client OIDC library you're using. check their docs.

as for your real world scenarios, it's still not clear why different user types would have different login pages.

[2017-09-23 17:45] TomCJones commented on #1554
real-world sites run into this all the time.
It is often called "branding".
It is almost always handled with URLs.
It has little to do with the identity server, altho a branded redirect would also be helpful.

[2017-09-23 17:48] brockallen commented on #1554
branding is different than different login logic. i'm not clear why the login page can't simply do the check it needs to and then either render something different, or redirect again somewhere else. IOW, the login page is the right place in our design for adding this custom logic, IMO.

[2017-09-23 17:49] TomCJones commented on #1554
that it the best place for it.

[2017-09-23 18:06] ipeo commented on #1554
Guys this is just an example. The real issue is not if there’s 1 or 2 login pages. The issue is how do we pass ace_values to the IDP, from the client, if the client uses [Authorize] attributes...

[2017-09-23 18:17] brockallen commented on #1554
I already said above:

[2017-09-23 18:25] nukec commented on #1547
@leastprivilege problem is Api> info: Microsoft.AspNetCore.Authorization.DefaultAuthorizationService[2]
Api> Authorization failed for user: (null).

The issue is here: https://stackoverflow.com/questions/45807822/asp-net-core-2-0-jwt-validation-fails-with-authorization-failed-for-user-null

With new configuration there are no more "AutomaticAuthenticate" and "AutomaticChallenge" so for a reason co

[2017-09-23 18:31] brockallen commented on #1547
This should be "Bearer", not `IdentityServerAuthenticationDefaults.AuthenticationScheme` for APIs.

[2017-09-23 18:59] nukec commented on #1547
@brockallen

namespace IdentityServer4.AccessTokenValidation
{
    public class IdentityServerAuthenticationDefaults
    {
        **public const string AuthenticationScheme = "Bearer";**
        public const string IntrospectionAuthenticationScheme = "IdentityServerAuthenticationIntrospection";
        public const string JwtAuthenticationScheme = "IdentityServerAuthenticationJwt";
        public

[2017-09-23 19:08] brockallen commented on #1547
In this section:

I saw this code:

[code]

So if this is an API project,. then you should be using the bearer token, not the IdentityServer cookie (especially if the API is not hosting IdentityServer). Perhaps I'm missing something about your desired setup -- it;'s just something that looked fishy to me.

[2017-09-24 12:14] Pastafarian opened #1555 "Poor null handling EndSessionResult"
### Issue / Steps to reproduce the problem
Fail to set the LogoutUrl in the user interaction service or set it to a null value.

`services.AddIdentityServer(x => x.UserInteraction.LogoutUrl = null);`

EndSessionResult blows up on the following line with an unhelpful exception.

[code]

The fix this a null check could be added, something along the following lines.
[code]

Was caught out with this o

[2017-09-24 13:49] ipeo commented on #1554
I look deeper into it thank you!

[2017-09-24 14:43] #1554 closed

[2017-09-24 16:51] nukec commented on #1547
@brockallen yes it is API project. Can you please give an example how it should've been set up?

[2017-09-24 17:19] nixa333 opened #1556 "Google logout cookie cleanup problem/question"
I have implemented IS4 server with Google login option. I have a MVC app in .NET Framework 4.7 that authenticates with the mentioned IS4 server.

This are the OpenidConnect settings in MVC app:
[code]
The problem I'm having is when logging in with Google account, and I have several accounts, I choose to login with one of them and everything works fine. When l logout and try to login with any other

[2017-09-24 17:42] brockallen commented on #1547
We have a whole repo: https://github.com/IdentityServer/IdentityServer4.Samples

[2017-09-24 18:05] brockallen commented on #1556
I'm not quite following, but google doesn't support signout.

[2017-09-24 18:13] nukec commented on #1547
@brockallen those examples are for older versions, come on.. I checked that already, I wouldn't ask.

[2017-09-24 18:29] DerAlbertCom opened #1557 "Add Client Specific Subjects in Claims"
Currently every Client get's the same Subject for the User. And this is in case if ASP.NET Identity the UserId. So this is a little Information leaked.

Please add an option (Global and/or per Client) so that it is possible to send a client specific Subject to the client.

From my investigation this can be achieved by DefaultClaimsService which make a   (subjectId+clientId).Sha256()

And also http

[2017-09-24 20:08] brockallen commented on #1547
No -- on the dev branch is the latest.

Anyway, looks like your constant is using the value "Bearer", since it was from those exact samples.

[2017-09-24 22:01] TomCJones commented on #1557
If you are going to that trouble, why not enable pairwise sub. See the oidc spec if the term is unfamiliar to you. I can help if useful.

..Tom's phone

On Sep 24, 2017, at 11:29 AM, Albert Weinert <notifications@github.com<mailto:notifications@github.com>> wrote:

Currently every Client get's the same Subject for the User. And this is in case if ASP.NET<http://ASP.NET> Identity the UserId. So thi

[2017-09-25 04:38] leastprivilege commented on #1557
Yes - we are interested in implementing pairwise subject identifier. It's been on our todo list for a long time.

@DerAlbertCom  If you are interested in this - we can start a discussion. This won't happen for 2.0 anymore though.

[2017-09-25 05:18] TomCJones commented on #1557
I thought a little more about your proposal. Assuming that the goal is for the (subjectId+clientId).Sha256() to be unguessable there must be some secret value known only to the Idp (OP). That could be either the subjectId itself or a salted hash were the salt was highly protected.

It may not reasonable for the subectId to be protected in  a database that is used for lots of other purposes; perhap

[2017-09-25 07:45] nixa333 commented on #1556
I'll try to clarify this so we're sure then whats the problem. So, as you probably know, you can have multiple Google accounts logged in on one machine at the same time. Then,  when you want to log in into an application that supports Google login, Google will display a list of all your accounts and you would choose with which one you'll login with. To get back to my isuse, when I go to my applica

[2017-09-25 08:14] john1452 opened #1559 "Identity server using Client Credential flow with existing application and Web API (Core)"
**Problem**

We have an existing aspnet mvc 3 web application that our client use. This web application uses the simple membership provider based authentication (yes it’s old now). Note we cannot change this to use identity server.

Now we are developing a new application using .net core web api with JavaScript front end. But the problem is that our new application must use the authentication from

[2017-09-25 09:09] DerAlbertCom commented on #1557
I've read through the specs (http://openid.net/specs/openid-connect-core-1_0.html#SubjectIDTypes).

So, basicly  (sector_identifier+account_id+salt) then using SHA or AES. I'm for SHA, don't see really additional security in AES here. Performancewise SHA should be faster, but it think in general the generation and validation of the pairwise subject id is not a performance problem. And on the Ident

[2017-09-25 11:33] nixa333 commented on #1556
I guess this answers my question:
https://docs.microsoft.com/en-us/aspnet/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on#off

Which pretty much sucks.
I believe there isn't much we can do about it, right @brockallen ?

[2017-09-25 12:29] brockallen commented on #1557
We should add the extra property needed to `Client` now for 2.0 if we're going to do this.

[2017-09-25 12:29] brockallen commented on #1556
Yea, that's an implementation detail of those providers.

[2017-09-25 12:46] DerAlbertCom commented on #1557
First suggestion

* SectorIdentitierUri
* SectorId (if we don't go with ClientId)
* PairWiseSubjectSalt
* EnablePairWiseSubject

[2017-09-25 12:58] AlexGnatuyk opened #1560 "Merge ASP.net Identity (roles) and IdentityServer 4"
I want to merge my IdentityServer 4 and ASp.net Identity, because I want to use role based authentification. (Two kinds of users: Admins and Users)

I have IdentityServer with configuration in database (allowed scopes(like "api1"), allowed CLients (like a "Client name, Client secret)). Also I have asp.net Identity databasae, that consist of users, roles, connection user with role.

I had the folow

[2017-09-25 14:20] saitolabs commented on #1223
Hello @hugorojas1121 did you fixed this error?

[2017-09-25 15:23] #1556 closed

[2017-09-25 16:36] llmsjraj opened #1561 "How to read external identity from the temporary cookie in .net core 2"
[code]

This is the snippet of external login callback using IdentityServer4. I have migrated to .net core 1 to 2 and i am getting warning  HttpContext.Authentication' is obsolete: 'This is obsolete and will be removed in a future version. So, which method is introduce in .net core 2 to get the identity? @leastprivilege @brockallen  Please help?

Thanks

[2017-09-25 16:45] TomCJones commented on #1557
I reread the pairwise section.
It is unclear if sector ID is required because of the odd mixture and must and should.
Sector ID is not needed in my application and it will not support sectors in my OP database.
It seems unclear what would happen if sectors were presented by (one of) the client in one case and not in another.
I guess it is a judgement call on sector ID.

[2017-09-25 18:37] rezareAW opened #1562 "Session Timeout after 30minutes - SecurityStampValidationInterval"
- [ ] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

After I login using any of the flows of Implicity or Hybrid and leaving the browser window open I am logged out after 30mins.  The logs seem to indicate a session timeout.

I have read up on this and it appears it could potentially be related to the SecurityStamp of Identity

[2017-09-25 18:47] llmsjraj commented on #1561
I am getting this error when executing this line
`var info = await HttpContext.Authentication.GetAuthenticateInfoAsync(IdentityServerConstants.ExternalCookieAuthenticationScheme);`

![image](https://user-images.githubusercontent.com/22942645/30825203-bf4d5bee-a24f-11e7-9f0f-cdeb758a0f4d.png)

![image](https://user-images.githubusercontent.com/22942645/30825091-6903fbe4-a24f-11e7-939d-8974f6ba1cc2.

[2017-09-25 19:50] chris-yoon90 commented on #1315
Is there a possibility that 1.5.3 can be released with this fix, or is this planned to go out with 2.0.0? I'm using 1.5.2 currently and need this fix in for my app. I'm willing to make a PR to `patches/1.5.2` with the same fix if that helps.

[2017-09-25 20:55] yaneyba commented on #1547
@nukec  I am experiencing the same exact issue. Have you come to solution, yet?

[2017-09-26 05:55] rposener commented on #1549
Anyone know how what happens between the OpenIdConnect provider and the Cookie provider?  Any way to inspect this code, or trigger an event like 1/2 the OIDC lifetime has elapsed, so trigger a renew of access token, in order to get an updated cookie issued?

[2017-09-26 06:52] leastprivilege commented on #1557
We will discuss this...

[2017-09-26 06:53] leastprivilege commented on #1559
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2017-09-26 06:53] #1559 closed

[2017-09-26 08:32] nukec commented on #1547
@yaneyba this is not the same issue. I had this error on some other app. If it is localhost I resolved it with re-importing localhost certificate.

[2017-09-26 09:47] MarkVinceSmit opened #1563 "Authorization code grant type is limited to 100 characters on the token endpoint validation"
- [x ] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
1: get a 'password reset' token from the userManager. (in my trials the code has a length of 256.)
2: Try to call the connect/token endpoint with a grant_type of "authorization_code" passing in the code from step 1.

Result: Always

[2017-09-26 13:45] brockallen commented on #1560
You should read our quickstarts on ASP.NET Identity.

[2017-09-26 13:47] brockallen commented on #1562
My guess is that somehow the `sid` is getting reset at IdentityServer, but IIRC that was a bug we fixed in the 1.0 beta timeframe.

[2017-09-26 13:48] brockallen commented on #1562
Also, this is an issue that's best discussed here: https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/

[2017-09-26 13:48] #1562 closed

[2017-09-26 13:48] brockallen commented on #1561
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2017-09-26 13:48] #1561 closed

[2017-09-26 13:51] brockallen commented on #1563
These input length restrictions are configurable: https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Configuration/DependencyInjection/Options/InputLengthRestrictions.cs#L87

[2017-09-26 14:30] MarkVinceSmit commented on #1563
True for 2.0++. The problem remains in the 'current' 1.5.2 (highest usable with core 1.1).

[2017-09-26 14:32] MNF opened #1564 "Add redirect_uri parameter to ErrorUrl"
On error page, based on IdentityServerHost,  we want to add a link to  the client site, e.g. "You can return to your site".
We want to use `redirect_uri` parameter, but it's not available on HomeController.Error action.
I found that redirection to error page implemented in
IdentityServer4\Endpoints\Results\AuthorizeResult.cs
[code]
I want to add to url RedirectUri
 `    url = url.AddQueryString("r

[2017-09-26 15:18] brockallen commented on #1564
No, we don't pass it along because in an error state we don't know if the redirect uri is safe or not. For example, is the reason we're showing the error page because the redirect uri is invalid?

[2017-09-26 15:55] muqeet-khan commented on #1549
Looks like you need to renew your tokens. Take a look at this.

https://github.com/IdentityServer/IdentityServer4.Samples/blob/2bf6eed7d9d2be5214001d09d5a76f97e4a3c0f7/Clients/src/MvcHybrid/Controllers/HomeController.cs#L44

[2017-09-26 16:13] createroftheearth opened #1565 "Full Tutorial for asp.net core 2.0 with IdentityServer4"
I have been trying to use IdentityServer 4 to asp.net core 2.0, I used several tutorials and several websites but I was unable to use it.I want a full tutorial program to use Identity Server4. I am a new bee in using identity server, I haven't used IdentityServer before.

[2017-09-26 18:07] rposener commented on #1549
@muqeet-khan thanks for that tip, but I'm using MVC 5/Owin (asp.net) against ID Server4 (asp.net core) in this case.

This is how I have my configuration, which does not explain how to get the session to renew:

`// Default uses Cookie
            app.SetDefaultSignInAsAuthenticationType(CookieAuthenticationDefaults.AuthenticationType);

            // Use Cookies to Store JWT Token for Web Browse

[2017-09-26 18:19] brockallen commented on #1565
The quickstarts on dev were just updated for ASP.NET Core 2.0: http://docs.identityserver.io/en/dev/quickstarts/0_overview.html

[2017-09-26 18:19] #1565 closed

[2017-09-26 20:18] muqeet-khan commented on #1549
Ok, so you are using implicit flow. I am not sure how you are authenticating to the back end API (access_token). You should look at the IdSrv samples (may be Hybrid Flow is more suited in your scenario?) and go from there. The reason I cannot get you concrete answers is because I don't know the flow of your system design. I would suggest you make a test app with the IdSrv Hybrid flow sample and se

[2017-09-26 20:39] MNF commented on #1564
If I will add validation that redirect_uri is in a list of allowed redirect uris for the client, will it be safe to use such uri? The link will appear for most of the errors except invalid redirect uri.

[2017-09-26 20:50] rposener commented on #1549
Yes, it is implicit flow.  It's actually really simple - users login to the site, then they are just calling WebApi methods.  Our app is like a group of SPA's.  Once they load the module - it just sits like a SPA, making calls with the Cookie and everything is happy.  There is no further back-end service.  The timeout occurs after they sit at a SPA for a while.

I have tried adding the option to u

[2017-09-26 21:44] brockallen commented on #1564
We can have a look to see if we think this is safe or not.

[2017-09-26 23:37] singlewind commented on #1560
@AlexGnatuyk asp.net identity roles will become role claims. Only thing you have to do is just grant roles as resource to client.

[2017-09-27 00:26] TomCJones commented on #1560
what in the world could a role/claim be?
Roles are local to the client.
Claims are remote from the client.
is a role/claim a local/remote object?
________________________________
From: Yue Zhou <notifications@github.com>
Sent: Tuesday, September 26, 2017 4:37 PM
To: IdentityServer/IdentityServer4
Cc: Subscribed
Subject: Re: [IdentityServer/IdentityServer4] Merge ASP.net Identity (roles) and Identi

[2017-09-27 03:25] weitzhandler commented on #1466
I'm also experiencing this issue, when I try accessing a controller decorated with `AuthorizedAttribute` I get an `InvalidOperationException` with the message as in the title ("
I tried upgrading to the 2..rc-update1 package, but had the `UseIdentityServerAuthentication` extension disappear.

I am using a WebAPI only app and I don't want to give up all the work with setting up the `Client`s scope

[2017-09-27 03:46] weitzhandler commented on #1466
I managed to solve the problem.

I have been using the `AuthorizeAttribute` specifying the `Roles` property twice:

[Authorize(Roles = "Admin")]
[Authorize(Roles = "Role1,Role2")]
public Task Get()
{
}

Instead of using just `[Authorize(Roles = "Admin,Role1,Role2")]`. When changed to latter, the exception is gone.

[2017-09-27 04:53] singlewind commented on #1560
@TomCJones in some cases you do, just some data you want to share with other applications. Particular you are the owner of these application and you want a single role management store. In most cases, you don't.

[2017-09-27 05:33] franktominc opened #1566 "Cors not being picked"
Hi, I'm trying to enable cors using in-memory clients for testing purposes, but for some reason, the cors headers aren't being added to the response. v2.0.0-rc1-update1
[code]
![image](https://user-images.githubusercontent.com/4442770/30897355-2920e90a-a32c-11e7-83bc-b26f92bc8ff4.png)

Am I missing something?

[2017-09-27 07:34] rahulmistry25425 opened #1567 "Identity server /connect/token is returning unauthorized client"
## I am using .net core 2.0 identity server 4 approach

I am trying to get access token from identity server using postman.

**Postman post request**

x-www-form-urlencode post

[code]

**Client configuration**
[code]
<log goes here>
[code]

[2017-09-27 08:27] leastprivilege commented on #1563
Why is the code longer? It is normally generated by IS itself...

[2017-09-27 08:29] AlexGnatuyk commented on #1560
@singlewind Sorry, but I don't quite understand how to do this. Can you explain by example?

[2017-09-27 08:33] leastprivilege commented on #1567
You set the allowed grant type to be hybrid - but you are using the password grant type in postman. Hence the error.

[2017-09-27 08:33] #1567 closed

[2017-09-27 08:42] MarkVinceSmit commented on #1563
Because i was assuming the token received from the user managers "generate reset password" functionality would return me a OWIN auth code.

[2017-09-27 08:45] AlexGnatuyk commented on #1560
@brockallen I had read, but don't found some benefit.I don't understand how to do that. (There's nothing about the role)

[2017-09-27 08:47] MarkVinceSmit commented on #1563
Since the original statement of 100 char limit has been made configurable in 2.0++ package, i suggest we close this topic.

[2017-09-27 08:47] #1563 closed

[2017-09-27 08:53] rahulmistry25425 commented on #1567
@leastprivilege so what should i use in grant type?

[2017-09-27 08:54] leastprivilege commented on #1563
Well - i'd still be interested why your authorization codes are longer than that...

[2017-09-27 09:13] Shadowman4205 commented on #50
@leastprivilege  Hello, i am using same HybridAndClientCredentials as granttype but still i  do not get
refresh_token.

[code]
some logs
[code]
and post to callbackurl has got this data
code,id_token,acccess_token,token__type,expires_in,state,session_state (and

What am i missing?

[2017-09-27 12:20] brockallen commented on #1563
Marvin and I sorted this out.

[2017-09-27 12:24] brockallen commented on #1566
Did you read up on how CORS works with IdentityServer?

Links (as of today):
v1.x: http://docs.identityserver.io/en/release/topics/cors.html
x2.0: http://docs.identityserver.io/en/dev/topics/cors.html

[2017-09-27 12:44] franktominc commented on #1566
The example showed in the docs doesn't compile
[code]
[code]

[2017-09-27 12:45] brockallen commented on #1566
Well, you need to pass a logger to the ctor. I can update the docs for it.

[2017-09-27 12:55] franktominc commented on #1566
Injected a LoggerFactory using the constructor and created the required logger, now it compiles, but still there are no cors headers on the response

[code]
![image](https://user-images.githubusercontent.com/4442770/30914332-bb3716f6-a369-11e7-8a32-06fd74d63915.png)

[2017-09-27 13:00] brockallen commented on #1566
So check the logs. I wonder if from postman if there's no Origin being passed on the request.

[2017-09-27 13:17] franktominc commented on #1566
There is nothing relevant in the logs
[code]

I'll test using a javascript client and update here.

[2017-09-27 13:37] AdamRiddick opened #1570 "Unauthorized client when calling token endpoint with authorization code using hybrid workflow on demo.identityserver.io"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

Hi,

I'm using https://demo.identityserver.io/ to test my configuration against the different flows and response types. As this is using the demo, i'm unable to view the logs to find out whats going on.

I've been able to use the Authorization Code and Implicit flows without

[2017-09-27 13:47] leastprivilege commented on #1570
Here's the source code, so you can host yourself.

https://github.com/IdentityServer/IdentityServer4.Demo

[2017-09-27 14:49] brockallen commented on #1557
I think we'll start with adding `PairWiseSubjectSalt` whose semantics are that if it's `null` then we do what we already do today, and if it's non-`null` then we use it to calculate a pair-wise subject id. We'll add the property for 2.0, and in 2.1 we'll actually implement it. And if you want to do the work on it @DerAlbertCom , then let's start a issue/PR to discuss.

[2017-09-27 14:50] brockallen opened #1571 "Add PairWiseSubjectSalt to Client"
For #1557

[2017-09-27 14:51] brockallen commented on #1571
Related: https://openid.net/specs/openid-connect-core-1_0.html#PairwiseAlg

[2017-09-27 14:54] franktominc commented on #1566
Confirmed, it was a postman issue. Testing with the JS client gave me
[code]

[2017-09-27 14:54] #1566 closed

[2017-09-27 16:56] brockallen commented on #1571
Done.

[2017-09-27 16:56] #1571 closed

[2017-09-27 17:39] TomCJones commented on #1560
I don't understand the difference between that and a claim.
In any case it is completely beyond the scope of the OpenID Connect protocol.
How you store claims is completely up to you and whatever 3rd party s/w package that you chose.
________________________________
From: Yue Zhou <notifications@github.com>
Sent: Tuesday, September 26, 2017 9:53 PM
To: IdentityServer/IdentityServer4
Cc: tom jones;

[2017-09-27 18:50] tillig opened #1572 "Route matching not separate from endpoint route handling"
I've been working on a multitenant version of Identity Server where routing matches a template like `/{tenantid}/connect/token` or whatever - the tenant ID is a route parameter, similar to the way Azure AD does things. This wasn't hard to do with my own `IEndpointRouter`. Really nice flexibility around that.

A challenge I've hit is that even with the routing, the _endpoint handlers themselves_ ar

[2017-09-27 18:56] brockallen commented on #1471
Done.

[2017-09-27 18:56] #1471 closed

[2017-09-27 19:30] tillig commented on #1572
Note the fork/copy/paste route is a bit painful due to so many things being internal. For example, `AuthorizeEndpoint`...

- Returns an `AuthorizeResult`, which is internal.
- Logs with `AuthorizeRequestValidationLog` and `AuthorizeResponseLog`, both of which are internal (and uses `LogSerializer`, which is also internal).
- Uses a lot of internal extension methods along the way (conversions from

[2017-09-27 20:54] almogoha commented on #1315
joining @chris-yoon90  request, currently we cannot upgrade to 2.0.0 and would like to have that fix in 1.5.x if possible

[2017-09-27 21:58] singlewind commented on #1560
@TomCJones You are right. A claim is just key value record. It can be stored whatever format you like. role claim is just one of standard claims. Asp.Net Identity is just a membership system need to be generic to fit different use cases. IdentityServer4's identity implementation did the translation for you and the same as email and phone number claims.

[2017-09-27 22:05] brockallen commented on #1572
We'll discuss.

[2017-09-27 22:08] singlewind commented on #1560
@AlexGnatuyk
On the server side:
1. add identity resource **role**
2. add **role** in scopes of your designated client

On the client side:
1. when configure OpenId Connect middleware, remember put **role** in the scope list

PS: microsoft configure the key of **role** claim use their own namesapce key instead of the standard key value. You need configure TakenValidationParameters property to matc

[2017-09-28 06:25] michael-freidgeim-webjet commented on #460
@khelben , do you know which one?
I've added UseCookieAuthentication and UseOpenIdConnectAuthentication as suggested in https://identityserver4.readthedocs.io/en/release/quickstarts/3_interactive_login.html#creating-an-mvc-client, but after Login it ends with
http://localhost:14453/signin-oidc -page not found

[2017-09-28 07:53] AdamRiddick commented on #1570
This was a config mismatch, Thanks.

[2017-09-28 07:53] #1570 closed

[2017-09-28 07:54] kazantsev-nikita commented on #843
@DoubleExposure I have the same problem. Have you solved this?

[2017-09-28 09:21] gato-negro commented on #277
Any updates on this?

[2017-09-28 09:31] antonioromano opened #1573 ""idp claim is missing" with AspNetIdentity 2.0.0-rc1"
I know this is a duplicate of the issue https://github.com/IdentityServer/IdentityServer4/issues/277, but it has been closed and now the bug come back with the version 2.0.0-rc1

I noticed that some users are experiencing it. Sometimes the identityserver throw the error:
```Unhandled exception: System.InvalidOperationException: idp claim is missing```
or
```IdentityServer4 message: idp claim is mi

[2017-09-28 09:32] antonioromano commented on #277
Since this issue has been closed I opened a new one here: https://github.com/IdentityServer/IdentityServer4/issues/1573
Please support and comment it

[2017-09-28 09:41] mrkhangtran commented on #460
@michael-freidgeim-webjet
You can download the samples here https://github.com/IdentityServer/IdentityServer4.Samples

[2017-09-28 10:33] pippo46 commented on #1055
Hi everyone,
i'd like to start a project for learning with Identity server and .net core and i'd like to start with .net core 2.
Do you have any tutorial or guides on how everything can be done or do i have to start from version 1.1 and try to adapt to 2.0?

[2017-09-28 11:32] thangchung commented on #1055
@pippo46 I think there are some articles, just googling it. I have noticed that https://github.com/aspnetboilerplate already used the .NET Core 2 with ID4. And I upgraded my sample code to .NET Core 2 yesterday as well. If you want, just have a look at https://github.com/thangchung/blog-core/tree/netcore2. Hope this help.

[2017-09-28 12:20] brockallen commented on #1573
Open an issue in the ASP.NET Identity Repo: https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/

[2017-09-28 12:20] #1573 closed

[2017-09-28 14:59] DoubleExposure commented on #843
I do not remember this issue but I would think that you should make sure that you are running in Hybrid flow  (code id_token) so that an access_token is created.    You can be an authenticated user and not have an access token so make sure you are running Hybrid and not Implicit flow

[2017-09-28 17:19] brockallen opened #1574 "Decorators in DI should wrap last service in DI (not first)"
Same issue here: https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/issues/41

[2017-09-28 17:22] brockallen commented on #1574
Fixed.

[2017-09-28 17:22] #1574 closed

[2017-09-28 18:54] rodrigogalhardo commented on #215
Hi, I have some troubles with identity server 4.

An unhandled exception occurred while processing the request.

OpenIdConnectProtocolException: Message contains error: '', error_description: 'error_description is null', error_uri: 'error_uri is null'.
MoveNext

AggregateException: Unhandled remote failure. (Message contains error: '', error_description: 'error_description is null', error_uri: 'er

[2017-09-28 21:37] mpaine-act opened #1575 "Keyset does not exist"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem

1. Installed .NET Core 2.0 Runtime and .NET Core 2.0 SDK
2. git clone https://github.com/IdentityServer/IdentityServer4.git
3. PS into IdentityServer4 directory
4. .\build.ps1

Q: Is this build not yet compatible with .NET Core 2.0?

[2017-09-28 22:32] tillig commented on #1572
I submitted a PR to show what it'd take if you choose to go forward with something like that. I thought it might help facilitate the research and discussion.

[2017-09-29 07:35] pippo46 commented on #1055
@thangchung thanks a lot, i'll give it a check

[2017-09-29 09:56] nicolasr75 opened #1577 "IdS4 problem with Authority URL"
I am connecting with oidc-client.js to an ASP.NET Core Web Api which I want to protect with IdS4/AccessTokenValidation. The api and the IdS run on the same server on port 443. The server is behind a router/firewall and I have configured a port forwarding for port 443.

The problem is this:
when I configure the authority URL in the api to https://localhost... this results in "Issuer name does not m

[2017-09-29 13:55] brockallen commented on #1577
Have you looked at the load balancing and deployment docs?

[2017-09-29 13:57] brockallen commented on #1575
This is the error and it's been asked many many times before. It means the identity running your IdentityServer process doesn't have read access to the private key in the certificate.

[2017-09-29 13:59] brockallen commented on #1557
Ok, I've added the property. The next thing is for 2.1 to add the implementation. For now, I'll mark this as a 21. enhancement. If you want to start on a PR, you can @DerAlbertCom .

[2017-09-29 14:00] brockallen commented on #1547
Any update? If you feel like there's a bug somewhere, it would be best to look at our samples or quickstarts and try to reproduce the bug there so it's easier for us all to identity it and track it.

[2017-09-29 14:03] brockallen commented on #1411
At this point, I don't see us changing this anytime soon as it would be a large breaking change.

[2017-09-29 14:03] brockallen commented on #1532
Any update?

[2017-09-29 14:03] brockallen commented on #1535
All set on this issue -- can we close?

[2017-09-29 14:03] #1544 closed

[2017-09-29 14:04] brockallen commented on #1548
All set on this issue -- can we close?

[2017-09-29 14:04] brockallen commented on #1551
All set on this issue -- can we close?

[2017-09-29 14:04] brockallen commented on #1552
All set on this issue -- can we close?

[2017-09-29 14:05] #1553 closed

[2017-09-29 14:05] brockallen commented on #1560
All set on this issue -- can we close?

[2017-09-29 14:05] brockallen commented on #1534
Done.

[2017-09-29 14:05] #1534 closed

[2017-09-29 14:06] brockallen commented on #1456
Hey @jwholme2 -- I can't reproduce this, so we will have to close if we don't hear back. Let us know, please. Thanks!

[2017-09-29 16:14] nicolasr75 commented on #1577
Sorry for my ignorance.
You mean this?
http://docs.identityserver.io/en/release/topics/deployment.html
I don't see much about IdentityServer that could help me except maybe the given link to MS
https://github.com/aspnet/Docs/issues/2384

Given your hint about load balancing I found his article which seems very helpful:
http://amilspage.com/set-identityserver4-url-behind-loadbalancer/

As a quick f

[2017-09-29 17:32] waqaskhan540 commented on #1535
sure

[2017-09-30 15:22] #1535 closed

[2017-09-30 15:22] #1577 closed

[2017-10-01 14:14] DerAlbertCom commented on #1557
For clarification.

Following things must be done for this.

1. Adapt ClaimsFactory to calculate the pair wise subject?
2. Change EndSessionRequest Validator, to validator the pair wise subject.
3. Announce the availability of pair wise subject in the metadata

The Pairwise Subject could be calculate with

a. (subject+salt).Sha256() as base64
or
b. pbkdf2(subject, salt, 10000) as base64

[2017-10-01 20:54] nukec commented on #1547
@brockallen I am currently back on 1.1 so I will see when I have time to try 2.0 again. What was the bug on IdentityServer4.AspNetIdentity.2.0.0-rc1-update1?

[2017-10-02 00:36] brockallen commented on #1547
It was this: https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/issues/41

[2017-10-02 13:46] jwholme2 commented on #1456
@brockallen So sorry for the very long delay! Yes, we can close. I think you are correct - the encoding shows scope[0] and thus IdSvr is defaulting to a missing scope.

[2017-10-02 13:46] #1456 closed

[2017-10-02 14:08] brockallen commented on #1555
I submitted a PR to address this. We do have some cleanup that's related to this, so we'll track it there. Thanks.

[2017-10-02 14:08] #1555 closed

[2017-10-03 02:19] masaab opened #1581 "ResourceOwnerPasswordValidator cannot create parameterised constructor"
I am having an implementation of IResourceOwnerPasswordValidator with a parameter but it is not being called from my client.RequestResourceOwnerPasswordAsync method. If I remove the constructor parameter it works fine. I am using DI to resolve my constructor parameter.

IdenityServerSetup.cs

[code]

ResourceOwnerPasswordValidator.cs

[code]

[2017-10-03 05:18] #1581 closed

[2017-10-03 12:47] springe2004 opened #1582 "ApplicationDbContext with Custom API？"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem

I have been upgraded to ids4  core 2.0,and i want Using custom ApplicationDbContext, Is there a good idea?

### Relevant parts of the log file

[code]

[2017-10-03 13:53] brockallen commented on #1582
Can you elaborate?

[2017-10-03 15:41] brockallen opened #1583 "Try to detect non-unique scope names acrosss API and Id resources"

[2017-10-03 16:40] AustinFelipe opened #1584 "Same key across microservices in Core 2.0"
Guys, let me see if I get it right. I have a service who needs authentication and I'd like to use IdentityServer 4 as Auth provider. How should I configure my service to use same credentials as IdentityServer?

I'm using Asp Net Core 2.0, so my ConfigureServices inside my service looks as follows:

[code]

Here is how I'm configuring the IdentityServer
[code]

I can get a valid token using my Iden

[2017-10-03 17:52] cdasilva opened #1585 "Specify No External Logins Allowed"
As far as I can tell it's currently impossible to declare that NO external IdPs can be used with a client. If you specify an empty IdentityProviderRestrictions, that means ALL external IdPs are allowed.

The easiest way to solve this in a non-breaking fashion is to create a new Client property called EnableExternalLogin which is set to true by default.
- AuthorizeRequestValidator, and AuthorizeInt

[2017-10-03 20:08] brockallen commented on #1585
A workaround exists: Add a string to the allowed IdPs that contains an invalid idp name. Ugly, but it does work.

[2017-10-03 21:51] cdasilva commented on #1585
Good call. That should work fine on my end too. Thanks for everything you do Brock (and Dominick)

[2017-10-04 16:58] mpaine-act commented on #1575
I tried again using admin account and it worked OK.  Perhaps your team can add testing the readability of the cert file and throwing an IOException on read-open error, would make it easier to diagnose the issue?

[2017-10-04 18:38] rasmuschristensen commented on #1536
Hi @waqaskhan540
It looks really great, just what I need for my own project. Does it also support refreshtokens?

[2017-10-04 19:20] rasmuschristensen commented on #1536
One question, why do you make the possible extra request if user is not registered. Couldn't you just get the email from the provider and then use that one?

[2017-10-04 21:25] ccebreros1 opened #1586 "Problem when calling the services..AddAspNetIdentity<ApplicationUser>()"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
Ran the Identity server, and on the Startup.cs the following problem happens. Appears to be when calling the following:
- services..AddAspNetIdentity<ApplicationUser>()

Using Asp.Net Core 2.0 and the Identity Server 4 2.0

### Relev

[2017-10-04 22:25] brockallen commented on #1586
Can you move this to the appropriate repo, please? https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/

[2017-10-04 22:25] #1586 closed

[2017-10-04 23:45] #1585 closed

[2017-10-05 00:08] mrblurgle commented on #1476
I had a chance to run a debugger through this today and I've realised that most of my assumptions about this issue were incorrect. I had initially misunderstood the logs as I had only read up to the point where the token request was validated. It turns out there were further operations after this which generate the token.

The real culprit was the large number of queries. There were over 40 querie

[2017-10-05 06:40] leastprivilege commented on #1575
Sure - we can add it to backlog.

OTOH this error message (even if it sounds strange) is very specific and quick googling would reveal the real issue.

[2017-10-05 06:40] #1575 closed

[2017-10-05 06:40] leastprivilege commented on #1584
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2017-10-05 06:40] #1584 closed

[2017-10-05 06:41] #1532 closed

[2017-10-05 06:41] #1548 closed

[2017-10-05 06:42] leastprivilege commented on #1549
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2017-10-05 06:42] #1549 closed

[2017-10-05 06:42] #1551 closed

[2017-10-05 06:43] #1552 closed

[2017-10-05 06:43] #1560 closed

[2017-10-05 06:57] waqaskhan540 commented on #1536
@rasmuschristensen  for now it doesn't support refresh tokens but it can be added.. I will update you If I see its possible..

[2017-10-05 08:18] gdubs opened #1587 "Getting an invalid_request response"
Trying to follow this getting started tutorial for IdentityServer and I'm currently trying to get my first token (https://www.scottbrady91.com/Identity-Server/Getting-Started-with-IdentityServer-4) \

This is the one I sent:

`http://localhost:15319/connect/token?grant_type=client_credentials&scope=customAPI.read&client_id=oauthClient&client_secret=superSecretPassword`

But, I'm getting a response

[2017-10-05 08:47] gustavo84 opened #1588 "Access token not expire when invoke end session"
I have a dubt, becouse i invoke end session identity server, but i don't know if access token will be valid.

Regards, Gustavo

- [ ] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem

### Relevant parts of the log file

[code]

[2017-10-05 09:40] satyajit-behera opened #1589 "Windows Active Directory Authentication with ASP.NET Identity"
Can we configure Identity Server to use windows active directory authentication provided with asp.net identity.

Is it possible to use both Individual user and windows active directory in identity server (user will choose the option at runtime)

Thanks

[2017-10-05 10:18] leastprivilege commented on #1589
IdentityServer (as every other ASP.NET Core application) supports Windows authentication if configured correctly.

Check the docs.

[2017-10-05 10:18] #1589 closed

[2017-10-05 12:05] brockallen commented on #1476
Or use our caching: http://docs.identityserver.io/en/release/topics/startup.html

[2017-10-05 12:07] brockallen commented on #1588
Those two items are unrelated. Check SO for more insight into revoking access tokens at logout time.

[2017-10-05 12:07] #1588 closed

[2017-10-05 12:08] brockallen commented on #1587
Read the docs: http://docs.identityserver.io/en/release/endpoints/token.html

[2017-10-05 12:08] #1587 closed

[2017-10-05 14:42] adamdotdev opened #1590 "Consider handling OpenID Connect request parameters as JWTs"
Are there plans for IdentityServer4 to support handling request parameters as JWTs according to [section 6 of the OpenID Connect Core spec](http://openid.net/specs/openid-connect-core-1_0.html#JWTRequests)?

We would like to enable Authentication Request signing using this method.

[2017-10-05 14:43] BoasE commented on #1331
I got the same problem but the described solution doesn't help. has anything changed?

I use .net core 1.1.2 and IdentityServer 1.5.2

[2017-10-05 14:47] leastprivilege commented on #1590
This is a feature waiting for a sponsor.

[2017-10-05 15:45] Astimus opened #1591 "iFrame problem"
I put asp .net core MVC application in the iframe of oidc-client-js application. I get an error in the console:
Refused to display `'http://localhost:12406/connect/authorize?client_id=dashboard_viewer&redirect_uri=http%3A%2F%2Flocalhost%3A12496%2Fsignin-oidc&response_type=id_token%20token&scope=openid%20profile%20roles%20core_logic_facade&response_mode=form_post&nonce=636428092725221109.NDQ2OWQ0MG

[2017-10-05 16:55] brockallen commented on #1591
That's up to your hosting app to decide. Check the code in the quickstart SecurityHeaders filter to control .

[2017-10-05 19:02] llmsjraj opened #1592 "Sorry, there was an error : unauthorized_client Invalid redirect_uri Request Id: 0HL8C450GSNMT:00000004"
Client defined in config  in identityserver:

[code]
OpenId middleware in client appication

[code]

Error log :

[code]

As i know there is no difference in redirectUri.
Please help @leastprivilege   and @brockallen

[2017-10-05 19:05] waqaskhan540 commented on #1536
@rasmuschristensen I have added support for refresh tokens... I had to set AllowOfflineAccess set to true on client.. include an extra scope of 'offline_access' in your token request, you will then get the refresh token as well..thanks.

[2017-10-06 03:34] mrblurgle commented on #1476
Thank you brockallen.

I moved my Identity Server 4 instance into the same data centre as the database and the token generation is now sub-5 seconds.

I'll look into the caching.

[2017-10-06 04:01] gdubs commented on #1587
I read it. And I have the required parameters on my body / query string. I'm using client_credentials grant_type.

I found the [parser file for identityserver3.](https://github.com/IdentityServer/IdentityServer3/blob/master/source/Core/Validation/PostBodySecretParser.cs) I'm assuming it's doing the same thing for 4? If so, I'm not sure why it's not finding the client_secret that I have on my post

[2017-10-06 04:31] brockallen commented on #1476
The caching is almost mandatory for production, IMO, given that our programming model has many places where the config needs to be loaded.

[2017-10-06 04:31] brockallen commented on #1587
POST params != query params

[2017-10-06 09:36] Astimus commented on #1591
@brockallen SequrityHeaders filter does not impact on /connect/authorize endpoint.

[2017-10-06 09:51] gdubs commented on #1587
found out what happened. I have to use "raw" when I post it with Postman and not form data.

[2017-10-06 10:00] ADringer opened #1594 "Ability to register users programmatically"
Hi,

I have a system where a user uploads a list of users that need to be registered on the system. My plan was to use an Azure Logic App to then call the `Register` method on IdentityServer. I added Swagger to aid in this.

However, the antiforgerytoken doesn't allow me to just directly POST to `Register` (as designed). Is there a way to call the API without user interaction to register a user?

[2017-10-06 10:16] leastprivilege commented on #1594
IdentityServer does not have a `Register` method. You need to build your own user management APIs.

[2017-10-06 10:29] rahulraj001234 opened #1595 "How to solve this issue "Refresh token cannot be found in store"?"
I have an MVC application that is registered with Identityserver. I am maintaining a persisted store (SQL server) to store refresh token information. When my MVC application makes a request for new refreshed tokens I am getting this error "Refresh token cannot be found in store". Most of the time refresh token process works for me but occasionally this issue occurs. I am not able to reproduce this

[2017-10-06 11:46] BoasE opened #1596 "IdentityServer on Core 2.0 - Claims from ProfileService are lost"
I started some tests with the yesterday released identityserver for aspcore 2.0

I extended the [QuickStarter hybrid sample](https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Quickstarts/5_HybridFlowAuthenticationWithApiAccess) with the following test profile service.

I register the  profileservice and I can see that  ```GetProfileDataAsync``` is called and claims are added t

[2017-10-06 11:58] leastprivilege commented on #1596
check the raw token first (https://jwt.io).

[2017-10-06 12:00] leastprivilege commented on #1596
Also - if claims from userinfo seem to be missing. There is a new way to map them in the MS handler in the client. Check the events they have and also have a look at the new ClaimsActions.

[2017-10-06 12:01] BoasE commented on #1596
thx for the hint ill check the token. which events do you mean exactly?

[2017-10-06 12:05] BoasE commented on #1596
In the Token I can't see my claims

here the body

[code]

[2017-10-06 12:11] brockallen commented on #1591
Ah yes, now I think I see what's happening. Sounds like your page hosting the iframe has CSP that prohibits what you're trying to do. So you should control it the way you need.

[2017-10-06 12:12] brockallen commented on #1595
Not enough info.

[2017-10-06 12:16] BoasE commented on #1596
To isolate the problem i took freshly the mention quickstarter guide. There its the same behavior.

Code-Steps:
- I copied the profile service form above in the template.
-  added profile service to service collections
-  added profile service to identity.

Test:
Signed in with google and opened the secure page. Claims are not there

![image](https://user-images.githubusercontent.com/4619513/31277

[2017-10-06 13:06] BoasE commented on #1596
Got it.

I missed to set

`options.GetClaimsFromUserInfoEndpoint = true;`

in the identityserver config

[2017-10-06 13:06] #1596 closed

[2017-10-06 13:36] brockallen commented on #1596
Ok, glad you sorted it out. I just pushed an integration test to show that custom profile services are working properly: https://github.com/IdentityServer/IdentityServer4/commit/1ce9d2d973954bd4ae43e782c37e33c88153b1f6

[2017-10-06 14:28] Mardoxx opened #1597 "IdentityServerPrincipal.Create requires name to be not empty"
I was trying to create a user with a name set to `string.Empty` via `AuthenticationManager.SignInAsync` and was returned with a `ArgumentNullException` for `name`. This is where it threw:
https://github.com/IdentityServer/IdentityServer4/blob/388c4c50a20a6505c91c26f70c62811a99a9e8f5/src/IdentityServer4/IdentityServerPrincipal.cs#L117

Is it invalid to create a UserPrincipal with an empty name? If

[2017-10-06 14:58] ADringer commented on #1594
Ah, I'm using one of the quickstarts but forgot as I cloned it quite a while ago. I'll add my own method to the controller.

Thanks

[2017-10-06 15:23] kolte commented on #1225
@inyutin-maxim Hi, which changes you had to make to the sample to make it work with identity server 4? Thanks

[2017-10-06 15:30] RainingNight commented on #1462
I'm added UseForwardedHeaders, but still not https!

[2017-10-06 17:22] NoMoreLoad commented on #1462
@RainingNight .NET Core 1.0/1.1/2.0? Dev/Prod env?

[2017-10-06 20:45] #1594 closed

[2017-10-06 20:57] andriysavin opened #1599 "Can't find GetSchemeSupportsSignOutAsync after upgrading from RC to RTM 2.0"
Looks like HttpContextExtensions.GetSchemeSupportsSignOutAsync is still present in the code:
https://github.com/IdentityServer/IdentityServer4/blob/1b88084c06eb6a0368ccec9fed7c9a295f1d508b/src/IdentityServer4/Extensions/HttpContextExtensions.cs#L22
But when referencing the package compiler can't find it. Why is that so and where to look for it (or use instead)?

[2017-10-06 22:33] andriysavin commented on #1599
Nevermind, looks like Nuget cached some old custom package build I made earlier.

[2017-10-06 22:33] #1599 closed

[2017-10-07 05:13] gabrielweyer opened #1600 "Minor typos in documentation"
I found two small typos in the documentation.

`docs/intro/support.rst`

![image](https://user-images.githubusercontent.com/2101647/31304956-29b9bf1c-ab7a-11e7-9fd0-c3f296851597.png)

`CONTRIBUTING.md`

`CONTRIBUTING` is still mentioning `ASP.NET Core 1.1` while the main `README` is mentioning `ASP.NET Core 2.0`

![image](https://user-images.githubusercontent.com/2101647/31304958-38f43e30-ab7a-11e

[2017-10-07 06:56] leastprivilege commented on #1600
thanks. merged.

[2017-10-07 06:56] #1600 closed

[2017-10-07 06:57] leastprivilege commented on #1597
Yes - we require a display name - if you don't have that concept, use the sub claim as the value.

[2017-10-07 06:57] #1597 closed

[2017-10-07 06:58] leastprivilege commented on #1592
"AllowedRedirectUris\": []

You don't seem to have configured redirect URIs for this client.

[2017-10-07 07:00] leastprivilege commented on #1590
actually a dup of

https://github.com/IdentityServer/IdentityServer4/issues/594

[2017-10-07 07:00] #1590 closed

[2017-10-07 08:06] llmsjraj commented on #1592
Thanks @leastprivilege . I have configured the ClientStore but it's my bad i was checking the in memory client. I have also configured Profile service and in GetProfileDataAsync() i am setting some custom claims. But at the client side these claims are not returning for hybrid grant type. In addition working fine for the ResourceOwnerPassword grant type. Any  clue for this?

[2017-10-07 11:25] RainingNight commented on #1462
@NoMoreLoad ASP.NET Core 2.0 & .NET Core 2.0 and IdentityServer4 2.0, in Prod env, use nginx proxy.

Source: [https://github.com/RainingNight/AspNetCoreSample/blob/master/src/IdentityServerSample/Startup.cs](https://github.com/RainingNight/AspNetCoreSample/blob/master/src/IdentityServerSample/Startup.cs)

Demo: [https://oidc.faasx.com/.well-known/openid-configuration](https://oidc.faasx.com/.well-

[2017-10-07 11:48] joeaudette commented on #1514
@tillig I've been using a fork in order to be able to use an extra url segment in all of the endpoint urls. This issue makes me think maybe it is now possible to do that without forking. I wonder if you could elaborate on how to do it to help me out?

pretty much just like that article you linked, I want to be able to use urls like

    domain/tenantsegment/therestoftheidserverendpointpath

where

[2017-10-07 12:16] rasmuschristensen commented on #1536
Whats the reason for adding the "external" table when you have a similar with AspNetUserLogins from ASPNET Identity?

[2017-10-07 12:45] tillig commented on #1514
@joeaudette Read through PR #1576 for a walkthrough with code of what I'm doing.

[2017-10-07 12:53] joeaudette commented on #1514
@tillig many thanks! that looks promising for my needs, I will give it a try in my solution.

[2017-10-08 10:07] timdows commented on #324
@cblaettl, I used your recomendation, but I get the result without the /api path

<img width="482" alt="2017-10-08 12_04_52" src="https://user-images.githubusercontent.com/9577532/31315854-2f8ded1c-ac21-11e7-8431-8431369e7ecd.png">

Did you also get this behavior?

[2017-10-08 13:59] waqaskhan540 commented on #1536
@rasmuschristensen there is no special reason for that, other than leaving the .NET Identity's table intact..
i'll appreciate a PR..

[2017-10-08 21:55] dviry commented on #1057
While migrating to Http.Sys (from WebListener), looking at the [updated docs](http://docs.identityserver.io/en/dev/topics/windows.html) there is only a single comment about Http.Sys.
At the end of the article, the "DisplayName" warning with the solution with IISOptions really only applies to Kestrel, since for Http.Sys there is [no such equivalent](https://github.com/aspnet/HttpSysServer/issues/39

[2017-10-09 01:17] brockallen commented on #1057
@dviry can you open a new issue or add to the previous issue we have for that? if you don't, then i worry we will lose track of your comments and research.

[2017-10-09 01:18] brockallen commented on #1472
reopening to track future work

[2017-10-09 03:16] bashiransari commented on #1440
I think this is a fair question, Why JWE is not supported ?
Using encrypted claims is not the right answer.
Can you please let us know if there is a plan to support JWE

[2017-10-09 05:29] rahulraj001234 commented on #1595
For my MVC web application  I am following hybrid flow. I have configured access token absolute expiry as 30 minutes. On access token expiry 28th minute I am making a refresh token request to Identityserver to get new tokens by passing refresh token code.

I'm using the below code to achieve the result.
refreshtoken="2fa923752c42bdcafd50fd0aec9935b10cb11718b015a3c738b5760b07d8eb53"
 TokenReponse t

[2017-10-09 06:14] leastprivilege commented on #1440
It's on our todo list. You can do it easily yourself today by replacing the token creation service.

[2017-10-09 08:53] NoMoreLoad commented on #1462
@RainingNight Try to read this [thread](https://github.com/aspnet/Docs/issues/2384). Maybe it will be helpful. And try to sniff traffic between nginx and kestrel to watch what headers are passed to kestrel. Maybe some headers that passed shema are not defined and didn't passed from nginx to kestrel. I've deploy this on Apache 2.4 and my apache config looks like this
[code]
my forwarded headers con

[2017-10-09 09:32] Astimus commented on #1591
@brockallen Where is the problem? In the site which i put in iframe or in site which contains iframe?

[2017-10-09 10:40] NilsEngelbach opened #1602 "Not possible to disable caching for discovery document"
To avoid caching of the discovery document the option ResponseCacheInterval is set to 0
[code]
Expected behavior would be that the the no-cache headers are set correctly.
Current behavior no cache control header at all.

Fix provided here:
#1598

[2017-10-09 10:49] Mardoxx commented on #1597
What's it used for? A quick search for `JwtClaimTypes.Name` and `GetName` just appear in code that dictates it is required. The only place I can see it being used is in `ClaimsPrincipalConverter`?

[2017-10-09 11:01] leastprivilege commented on #1597
It is used in the standard UI. As I said - if you don't have the concept. Just set the sub instead.

[2017-10-09 11:02] leastprivilege commented on #1462
https://leastprivilege.com/2017/10/09/new-in-identityserver4-v2-simplified-configuration-behind-load-balancers-or-reverse-proxies/

[2017-10-09 11:19] Mardoxx commented on #1597
So you only require name to be set just for your UI -- it has always seemed to me you left it up to the user (me) to implement UI and yours was just a very basic example.

I basically wanted it for this: Users can request a token for my API, and optionally have a "profile" assigned to them (which can be resolved (lookedup) to their name). If they have a profile, set `name` as their profileId, othe

[2017-10-09 11:20] NilsEngelbach commented on #1602
Would it also be possible to patch version 1.X ?

[2017-10-09 11:24] leastprivilege commented on #1597
You can set whatever value you want - or come up with a different claim type.

For historical reasons we require a claim of type name. Thats all.

[2017-10-09 11:25] leastprivilege commented on #1602
Unlikely we have the time for that. Unless you do a PR to the aspnetcore1 branch.

[2017-10-09 11:28] NilsEngelbach commented on #1602
Ok thank you for the update!

[2017-10-09 11:33] Mardoxx commented on #1597
Sweet, thanks 😄

[2017-10-09 12:18] aneequrrehman opened #1603 "Parameterize the LoginUrl in IdentityServer?"
I have been trying to add a parameter in the Login URL. E.g.

[code]

Is it possible to have such types of parameterized URLs? Also, how would I pass this culture from my (JavaScript) client application?
Thanks

[2017-10-09 13:01] NoMoreLoad commented on #1462
@leastprivilege Useful, but looks like a hack)
I think it should solved using web-server configuration and middleware. It's pretty clean and could be reused in different parts of your app, not only inside of identity server's "scope".
@RainingNight If your deadlines are burning - it could be a solution, if you can't solve this trouble using "clear" way.

[2017-10-09 13:30] NilsEngelbach commented on #1602
This issue still bothers me, so i investigated a little bit deeper.

Our problem:
There are multiple clients accessing the discovery document, they are all whitelisted in the allowed origins so the Access-Control-Allow-Origin Header was correct. Since there is no cache policy by default we had couple of issues with caching the discovery document (including the Access-Control-Allow-Origin Header) a

[2017-10-09 14:10] brockallen commented on #1602
If you need headers to be added to a response, then build your own middleware in front of IdentityServer that emits those headers on the response.

[2017-10-09 14:11] brockallen commented on #1595
And you've configured for deployment? http://docs.identityserver.io/en/release/topics/deployment.html#identityserver-operational-data

[2017-10-09 14:14] brockallen commented on #1603
No, we don't have a way to support that. But culture as part of the request is already supported: Check the ui_locales param: https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

And then in your login you can get those: https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Models/Messages/AuthorizationRequest.cs#L46 when you query the interaction service.

[2017-10-09 14:24] leastprivilege commented on #1462
It is actually wiring up middleware - and you can use it for the reasons I've given in the post.

[2017-10-09 14:25] NilsEngelbach commented on #1602
Yes we already did, but still you might consider also adding this header in identityserver by default when using Access-Control-Allow-Origin
[code]

[2017-10-09 16:04] TomCJones commented on #1597
In the OpenID protocol sub (subject) is the only required ID between the client and the OP. The user email or other attributes are not passed to the client unless the user explicitly consents to that happening. The user principal is external (and unknown) to the protocol.

[2017-10-09 17:11] Mardoxx commented on #1597
This is still the case with IdSrv, not sure what you mean?

[2017-10-10 02:06] RainingNight commented on #1462
It's ok. Thanks!

[2017-10-10 03:06] brockallen opened #1605 "When client allows local login, yet client has idp restrictions, local login not actually allowed"
`AuthorizeInteractionResponseGenerator.ProcessLoginAsync`: In essence missing an else clause for the other condition.

[2017-10-10 03:14] brockallen commented on #1605
Fixed on dev.

[2017-10-10 03:14] #1605 closed

[2017-10-10 06:52] rahulraj001234 commented on #1595
Yes I have configured for deployment

[2017-10-10 06:55] rahulraj001234 commented on #1595
I am storing all the IdentityServer operational data, IdentityServer configuration data in tables

[2017-10-10 08:44] a-harutyunyan opened #1606 "How will receive the date of birth of the user from login provider? and another property"

[2017-10-10 12:18] dviry opened #1607 "Http.Sys implementation with Windows Integrated Authentication"
*opened new Issue [as requested](https://github.com/IdentityServer/IdentityServer4/issues/1057#issuecomment-335041550) by @brockallen*

While migrating to Http.Sys (from WebListener), looking at the [updated docs](http://docs.identityserver.io/en/dev/topics/windows.html) there is only a single comment about Http.Sys.
At the end of the article, the "DisplayName" warning with the solution with IISOp

[2017-10-10 13:40] DerekGn opened #1608 "No profile claims in id_token or connect/userinfo response"
- [X] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem

I am currently implementing IdentityServer4 for an in house angular js single page application. The IdentityServer4 implementation uses IdentityServer4.EntityFramework for persistance and IdentityServer4.AspNetIdentity for the users

[2017-10-10 16:21] cheesemacfly commented on #1430
Could we have this implementation for the [AddTestUsers](https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Test/IdentityServerBuilderExtensions.cs) too? I can send a PR if that helps.

[2017-10-10 16:40] brockallen commented on #1430
Not a bad idea -- @leastprivilege thoughts?

[2017-10-10 16:41] brockallen commented on #1430
And of course, @cheesemacfly, you could easily add your own in the meantime.

[2017-10-10 16:47] brockallen commented on #1606
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2017-10-10 16:47] #1606 closed

[2017-10-10 17:54] cheesemacfly commented on #1430
Yes, very much inspired by what is already there:

[code]

[2017-10-10 17:59] leastprivilege commented on #1608
Did you define your own profile scope - or use our built-in?

[2017-10-10 18:01] leastprivilege commented on #1608
also did you set the "include all claims in id_token" flag? or use userinfo?

[2017-10-10 21:03] brockallen opened #1609 "Consider adding events for introspection events"
As far as I can tell, we don't have any... do we?

[2017-10-11 07:01] findtolive opened #1610 "2.0 version custom endpoint invalid"
I would like to rewrite the authorize endpoint, but according to the existing AddEndpoint method added after the invalid, before the nuget 1.52 version is no problem, but because some of the internal methods before the opening must be upgraded to version 2.0. So I modified the AddIdentityServer method source code, in the use of the first to add custom authorize endpoint and then manually add Defau

[2017-10-11 07:39] DerekGn commented on #1608
Since I am using **_IdentityServer4.EntityFramework_** to store configuration data I defined my own profile. You question about the profile scope prompted me to check the profile class in IdentityServer4 code and I can see my mistake

[code]
I did not setup the definition of the UserClaims correctly hence the missing claims in the token and userinfo call.

Thanks for the help.

[2017-10-11 07:39] #1608 closed

[2017-10-11 07:57] michael-freidgeim-webjet commented on #1173
Addition to @nukec answer: you need
install-package IdentityServer4.AccessTokenValidation    (ver2.0+)

[2017-10-11 09:19] OllieDay opened #1611 "Don't require credentials for resource owner password clients on revocation endpoint"
As with #526, could we do the same for the resource owner password grant type?

[2017-10-11 11:24] Triwaters opened #1613 "suggestions for documentation"
Apologies if this is not a good place to drop this suggestion...

In the endless pursuit of perfection... in PDF page 26 (Setup and Overview) There are images with conflicting project names (QuickstartIdentityServer in one, IdentityServerQuickStart in the other),

but what may prove confusing to a complete novice (such as me) is the quickstart section that follows. It shows all three projects at a

[2017-10-11 11:48] MatthewGabriel commented on #1613
Excellent

If you have it set to **Current selection** then that just means whichever project you currently have selected is the one that will be started if you choose Debug->Start Debugging or Debug->Start Without Debugging.

So ensure you select the server project first and start that.  Give it a little while to start up properly before you start the other projects.

[2017-10-11 12:18] wstllc commented on #1613
Ah, you caught that third paragraph before I removed it. I'm rather new to Visual Studio but rather than explain what I finally figured out just after posting the comment, I went back and removed it. What had held me up prior this morning's try of the good guidance (Ctrl+F5) was my assumption that I could not start a project after another had begun. Obviously (in hindsight) not true, but I only ju

[2017-10-11 14:59] brockallen commented on #1611
Why?

[2017-10-11 15:01] brockallen commented on #1610
What's not working? It's not clear to me from your text.

[2017-10-11 16:03] leastprivilege commented on #1592
that looks like a separate issue. closing this one.

[2017-10-11 16:03] #1592 closed

[2017-10-11 18:49] NoMoreLoad opened #1614 "Any way to configure Clients, ApiResources and IdentityResources from IConfiguration?"
Does IdentityServer provides any extension methods to retrieve this from IConfiguration?
I can't found something about it. Maybe I missed something?
It would be nice to "bootstrap" database configuration from IConfiguration when we started our application with empty database.

[2017-10-11 22:39] rfuhrer opened #1615 "Unable to get Roles Claims on client"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
- Upgraded from dotnet core 1.1 to 2.0 when the new Identity Server 4 was released
- Followed the Microsoft 2.0 migration page
- Followed the Microsoft Identity migration page
- Checked the latest MVCHybrid sample to see how to updat

[2017-10-12 04:14] waqaskhan540 commented on #1382
@sherry-ummen  I had the exact same problem , If you are using ResourceOwnerPassword flow then one thing is sure that you can't use it directly from the client application (javascript client) coz that will expose your credentials. What I did was , I sent credentials to my API (username,password) and then from the API send request to IdentityServer with additional credentials (client_id,client_secr

[2017-10-12 04:45] smuthiya commented on #1057
Also there is a breaking change in "ICustomAuthorizeRequestValidator" interface.
In version 1.5.2 the interface had method
Task<AuthorizeRequestValidationResult> ValidateAsync(ValidatedAuthorizeRequest request);

Now in version 2.0
Task ValidateAsync(CustomAuthorizeRequestValidationContext context);

If you have implemented your custom authorize request validation logic using this interface then y

[2017-10-12 04:50] smuthiya commented on #1057
Also If you have implemented your custom ClaimsService by implementing 'IClaimsService' or by overriding the 'DefaultClaimsService' class in Version 1.5.2 then while upgrading to 2.0 you will encounter compile error. You need to make some minor code adjustments to make it work in your custom implementation.

Again this is just for information.

[2017-10-12 05:15] leastprivilege commented on #1615
I would do

* breakpoint in profile service to see what is actually returned
* check the raw JWT to see what's in there

[2017-10-12 07:39] leastprivilege commented on #1614
yes - see here

https://github.com/IdentityServer/IdentityServer4/blob/dev/src/Host/Startup.cs#L43

[2017-10-12 07:50] NoMoreLoad commented on #1614
@leastprivilege Thanks! But what about secrets? It looks like I should store "pre-computed" Sha256 in my config. Am I right?

[2017-10-12 07:56] #1603 closed

[2017-10-12 08:26] leastprivilege commented on #1614
yes

[2017-10-12 08:47] NoMoreLoad commented on #1614
@leastprivilege Thank you again!

[2017-10-12 08:47] #1614 closed

[2017-10-12 09:56] findtolive commented on #1610
.AddEndpoint ("Authorize", "/ connect / authorize")
custom endpoint does not workking

[2017-10-12 15:09] daver77 opened #1616 "PostLogoutRedirectUri sometimes not returned by GetLogoutContextAsync"
This sounds like a similar problem to https://github.com/IdentityServer/IdentityServer4/issues/1204 but I don't see a resolution there.

My Logout method is shown below. I have some JS on my client webpage which signs the user out after 30 mins if there is no browser interaction. When this happens context.PostLogoutRedirectUri is null. If I logout normally (link) or set the timeout to 5 mins then

[2017-10-12 15:12] rene-araujo opened #1617 "Picture claim not present in id token"
### Issue / Steps to reproduce the problem
Hi,
I followed the 4 Quickstart without any changes that enabled external login providers, but when I log in with my google account the picture claim is not in the token. I read that the profile scope includes the picture claim.
Do I need to make any change to include the picture claim?
Thanks!

[2017-10-12 15:45] leastprivilege commented on #1617
You need to check the google documentation how to get that claim.

[2017-10-12 15:46] leastprivilege commented on #1616
Compare the network traffic between working/non-working version - maybe that gives you a clue.

[2017-10-12 16:07] daver77 commented on #1616
My Client project is ASP.NET Forms so in Startup.cs I have the following. It seems that the token is null so it's not setting the 'notification.ProtocolMessage.IdTokenHint'

[code]

[2017-10-12 16:14] leastprivilege commented on #1616
Maybe the cookie has expired at this point...

[2017-10-12 17:15] rfuhrer commented on #1615
Thanks for the help.  I'm using the built in Profile Service from `services.AddIdentityServer().AddAspNetIdentity<ApplicationUser>();` so I wasn't able to put a breakpoint in there.  I ended up doing the following on the clients ConfigureServices:
[code]
and got back the following:
![image](https://user-images.githubusercontent.com/2529744/31509153-beb16c0c-af3d-11e7-83a3-9c940c2f6004.png)

So it'

[2017-10-12 17:36] leastprivilege commented on #1615
OK - interesting.

I think Microsoft expects you to map those claims yourself. Have a look at their ClaimsAction property on the new OIDC handler.

[2017-10-12 17:36] leastprivilege commented on #1615
oh - and let us know how you solved it ;)

[2017-10-12 18:43] javieracrich commented on #622
Why is this so difficult to do? I don't want to implement a full Profile Service just for an extra claim in the jwt!

[2017-10-12 19:38] rfuhrer commented on #1615
Further and further down the rabbit hole... :)

Looks like this might be an area Identity is trying to kill since Role based security has been mostly replaced by claims based.  Sadly I'm trying to drag an 8 year old system out of the dark ages by using an Identity Server for auth, and then having a new server and an old server that both use the single sign on.  This lets me incrementally pull old

[2017-10-12 19:38] #1615 closed

[2017-10-12 20:11] ferryferry commented on #1019
@grahamehorner Do you have an example for me i'm facing the same problem, my userclaims are not mapped to the user in the client MVC..

[2017-10-13 01:22] wstllc opened #1618 "suggestion for documentation"
Apologies if I have placed this suggestion in the wrong spot.

Being new to much of this, I struggled mightily with the lowly console app on page 33 of the current documentation (7.9 Protecting an API)

There was not much to read on the page itself, and what I finally got to work after combing through multiple examples provided in the IdentityServer demos here (but none specifically referenced in

[2017-10-13 05:31] leastprivilege commented on #1618
Thanks for your feedback - writing docs is hard.

You have probably noticed the "Edit" button on the docs. Feel free to improve the docs yourself. Thanks!

[2017-10-13 06:29] Robban1980 opened #1619 "IdentityServer 4 1.5.2 HttpsContext.Identity not set in IE11 when using HttpContext.Authentication.SignInAsync() extension method"
This is a very weird case only affect IE11 and Edge from what i have seen so far.

2 servers with an Identity Server 1.5.2 using AspNet Identity 3. They servers have no connection with each other. As long as only 1 server is opened at a time there are no issues signing in.

0. use IE 11.
1.Open server 1 in Tab 1, login page shows.
2. open server 2 in Tab 2, login page shows.
3. Go to Tab 1 and log

[2017-10-13 07:42] OllieDay commented on #1611
We're using this grant type for a non-confidential client (`RequireClientSecret = false`) together with reference tokens and would like the client to be able to call the revocation endpoint.

Client credentials aren't required for generating tokens so I'm not seeing the benefit of requiring them for revocation. Am I missing something? The OAuth 2.0 spec mentions verifying credentials only in the c

[2017-10-13 08:46] daver77 commented on #1616
It certainly looks that way, any more than a few minutes and token is null. Where is the timeout set for this cookie?

[2017-10-13 08:55] Newbe36524 commented on #1256
is that avaliable now ?  I sent email ,but no reply

[2017-10-13 09:41] leastprivilege commented on #1256
https://leastprivilege.com/2017/10/13/saml2p-identity-provider-support-for-identityserver4/

[2017-10-13 12:27] CamiloTerevinto opened #1620 "Windows Authentication does not accept credentials"
I have an Identity Server (`ASP.NET Core 2` with `Identity Server 4 2.0.0`) configured to use `Kestrel` and `IISIntegration`, with both `Anonymous` and `Windows` authentication enabled on `launchSettings.json`. I also configured `IISOptions` like this:

    services.Configure<IISOptions>(iis =>
    {
        iis.AutomaticAuthentication = false;
        iis.AuthenticationDisplayName = "Windows";

[2017-10-13 13:22] Astimus commented on #1591
@brockallen
Problem in this code:
[code]
In my ASP .NET Core application I use OpenIdConnect authorization. So it uses FormPost response mode. That's why IdSrv add `frame-ancestors {formOrigin};` to CSP and asp .net core application not working in iFrame.

[2017-10-13 13:35] declanmc commented on #1152
I lost hours on this, it turns out that the AllowedRedirectUris was being read from the ClientRedirectUris table in the database, not from the Client config.

It had persisted the value there initially, and I hadn't reseeded the db after updating the value in config, and Identity Server was reading the value from the db regardless of what was in the config

[2017-10-13 14:02] rene-araujo commented on #1617
In case anyone have the same problem, I found a solution in this link:
https://stackoverflow.com/questions/36669666/how-to-get-additional-fields-using-the-facebook-provider-in-asp-net-core-rc1
We have to use the event model:
[code]

[2017-10-13 14:06] wstllc commented on #1618
Haha, I will try that out, but after you see the edits, you will certainly want to fix them up, as I will be dancing around the fact that I do not know what the csproj edits, for example, mean. Good documentation *is* hard. I appreciate all you have put into this project.

[2017-10-13 14:39] daver77 commented on #1616
This worked for me

https://github.com/IdentityServer/IdentityServer3/issues/2687#issuecomment-194739035

[2017-10-13 15:25] amruta455 opened #1622 "Claims are not getting refresh"
I am using identity server 4 for authenticating and authorizing.In that, I am refreshing claims using access token. so claims are getting refresh sometimes and sometimes it is not.So I have to logout and login again to see updated claims.

Here the code i am using for refreshing claims -
List<Claim> claims = new List<Claim>();
            var accessToken = id.FindFirst("access_token");

[2017-10-13 15:32] smoses2 commented on #1055
@thangchung - I looked at your blog-core code and noticed you add roles manually as claims to the token in identity server.

Is there a way to automatically include asp.net core identity roles in the identity server token?  I still cannot get roles to come across in the token using asp.net core identity.

  I set up my client as @leastprivilege shows [here](https://github.com/leastprivilege/AspNet

[2017-10-13 16:16] matthewDDennis opened #1623 "Using IdentityServer4 V1 behind a Nginx Reverse Proxy in Docker"
This is a description of how I am solving the issue of IdenityServer4 not working when
- run as a service in a multi-container docker solution
- using Nginx to map to the services using host headers.

## Overview ##
I have a micro-service solution, loosely based on the Microsoft Micro-Service guidance.  It is using ASP.NET Core 1.1. When I attempted to us Nginx to expose all the services on ports

[2017-10-13 16:27] thangchung commented on #1055
@smoses2 You're right. I have added the role manually in the IdentityWithAdditionalClaimsProfileService class, but I think you could do it easier by getting all roles via UserManager<ApplicationUser>().GetRolesAsync(user), and finally putting them into the claims.

[2017-10-13 21:25] vdecristofaro opened #1624 "Invalid scope raise http 403 forbidden"
- [X] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem

I have successfully setup an IdentityServer instance. Also, I have setup an API with two controllers and I have created two different policies as described [here](http://docs.identityserver.io/en/release/topics/apis.html) (section v

[2017-10-13 22:56] brockallen commented on #1624
https://tools.ietf.org/html/rfc6750#section-3

[2017-10-13 23:27] #1624 closed

[2017-10-15 06:56] weitzhandler opened #1625 "Cannot authenticate using the IdentityServer4 ver. 2.0"
Here's how I changed my **_Startup.cs_** file when I upgraded to IdentityServer4 ver. 2.0 in my ASP.NET Core 2.0 project (uses .NET Framework 4.7).

### OLD:

    public void ConfigureServices(IServiceCollection services)
    {
      services.AddLogging();
      services.AddSingleton(Configuration);

      services
        .AddScoped<IDbContextFactory<AppDbContext>, AppDbContextFactory>()

[2017-10-15 16:06] SIkebe opened #1626 "Inconsistent User Claims between doc image and sample app"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

In the quickstarts 3 doc there is a screen shot of secure page that shows user claims.
https://github.com/IdentityServer/IdentityServer4/blob/release/docs/quickstarts/3_interactive_login.rst#testing-the-client

![](https://github.com/IdentityServer/IdentityServer4/blob/releas

[2017-10-15 16:48] AlexanderButs commented on #1536
@waqaskhan540 Thanks for Your work a lot, this is what i needed :-)

[2017-10-15 21:01] brockallen commented on #1626
Can you send a PR updating the pic from the docs?

[2017-10-15 22:55] SIkebe commented on #1626
Sure! I'll do it.

[2017-10-16 04:07] Janidbest commented on #1538
Perhaps, leaving this luxury of styling to client by providing css to override the defaults would be the easiest way. May be having one more field on the client table to persist styling specific url.

[2017-10-16 04:52] ADCJustinH opened #1627 "You must either set Authority or IntrospectionEndpoint"
- [x ] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
Trying to update my api to .net core 2.0 and am now getting the exception below. Upon upgrade I changed my startup.cs with the authentication settings below and I have confirmed that the settings are all being correctly pulled from

[2017-10-16 05:16] waqaskhan540 commented on #1536
@AlexanderButs thanks

[2017-10-16 05:58] leastprivilege commented on #1627
my guess is that this does not work:

`opts.Authority = Configuration.GetSection("Id4Settings")["Authority"];`

[2017-10-16 11:46] satyajit-behera opened #1628 "Identity Server Hosted as Resource"
Is it possible to host IdentityServer itself as a resource also, so that the token received from the server can be used to access some custom resources (APIs) hosted within the identity server.

I tried to configure it as a resource as done in the sample API, but it does not authorize. Accessing this with a client with scope "serverapi"

[code]

[2017-10-16 12:13] #1626 closed

[2017-10-16 13:16] leastprivilege commented on #1628
yes - see here

https://github.com/brockallen/IdentityServerAndApi

[2017-10-16 13:17] leastprivilege opened #1630 "Add info on hosting an IS protected API "within" the IS application"
https://github.com/brockallen/IdentityServerAndApi

[2017-10-16 13:34] gregbty opened #1631 "Continuous calls to the Discovery endpoint"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
I have an ASP.NET Web API app using the IdSvr 3 client middleware to connect to an IdSvr 4 server. I've noticed that on each call to the Web API it calls the discovery endpoint. I've tried adding `options.Discovery.ResponseCacheInter

[2017-10-16 13:54] leastprivilege commented on #1631
This is not the normal behavior. Never seen that before.

[2017-10-16 17:30] satyajit-behera commented on #1628
@leastprivilege Thanks a lot. Sample resolved my issue.

[2017-10-16 18:38] ADCJustinH commented on #1627
Thanks Dominick,

The settings are being pulled from the config correctly and the issue has been _resolved_ by specifying opts.ApiSecret.

As I understand it the secret is only necessary if the Api needs to validate a reference token. I'm sending a jwt so it seems to me that the back channel communication is not necessary and thus the secret shouldn't be either...

Interestingly I now get an intro

[2017-10-16 20:38] gregbty commented on #1631
With the options I posted above: should there only be a request every 5 minutes (that's the default cache interval set I believe)?

[2017-10-16 22:20] #1628 closed

[2017-10-16 22:26] osudude opened #1632 "Include client ip address as structured logging field when logging token request infos / errors"
It would be very helpful if identity server included the client ip address as a structured logging field when logging token request related errors / information.  This helps when looking through the logs for errors related to a given client ip.  Note client ip may be  a non-standard http header when behind a CDN so probably need to be able to register a custom IP address resolver that overrides de

[2017-10-17 00:53] gregbty commented on #1631
This is happening due to the way I am integrating the IdentityServer3 middleware into the pipeline. Right now, it is loaded based on a cookie. As a result, the class that handles calling the discovery endpoint is never able to cache the response values because it is created each time the middleware is constructed. The reason this is behind a cookie is because there is also a OAuth server/client th

[2017-10-17 00:53] #1631 closed

[2017-10-17 06:23] leastprivilege commented on #1627
I just compared that with the behavior and log output from here:

https://github.com/IdentityServer/IdentityServer4.Samples/blob/release/Clients/src/SampleApi/Startup.cs

I can't repro any of those issues - please compare that to your project.

[2017-10-17 06:56] michael-freidgeim-webjet commented on #1428
The question answered on SO  https://stackoverflow.com/questions/45746403/why-is-the-identitytokenlifetime-default-to-300-sec

[2017-10-17 09:23] weitzhandler commented on #1055
Can't upgrade to 2.0. Please help me: https://github.com/IdentityServer/IdentityServer4/issues/1625.

[2017-10-17 09:56] ramo271285 opened #1633 "Identity4Server not redirecting to login page. Returns 401"
- Hi I configure an identity server with Identity4Server and I have an MVC client.

In local it works when you try to access https://localhost:4000(mvc client url) it redirect to identityserver https://localhost:5000/account/login?returnUrl=... then show you the login form and works fine.

But when deploy both sites on azure. when you try to enter the https://my-mvc-app.azurewebsites.net it redire

[2017-10-17 10:08] janpieterz opened #1634 "Refresh tokens with OneTimeOnly usage stays valid"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
1. Clone https://github.com/janpieterz/IdentityServerRefreshTokenOneTimeOnly
2. Setup Identity database and execute migrations
3. Run solution (both projects)
4. Login with `alice@arke.io` and `password` in Mobile
5. Edit Mobile.cspr

[2017-10-17 13:19] Dev123213 opened #1635 "Client doesn't care about certificate change"
I am confused how clients authenticate tokens. I will explain my setup, how I thought it worked and then my current issue.

I have Identity Server as one website and a client mvc application as a seperate app. The client is defined with HybridAndClientCredentials, AllowOfflineAccess and AccessTokenType.Jwt. It uses AddOpenIdConnect with the correct client configuration and SignInSchema = Cookies.

[2017-10-17 13:31] mclark1129 commented on #1635
Once you log into the MVC app, you will be authenticated with that app until the cookie expires.  AFAIK, MVC doesn't use Identity Server configuration settings to validate its cookies.  It only validates the tokens during the initial sign-in process from Identity Server.  This means that if you make any sort of Identity Server configuration changes they will not be detected by the application unti

[2017-10-17 13:54] Dev123213 commented on #1635
Then how does it know the token is actually signed correctly?

[2017-10-17 13:55] Dev123213 commented on #1635
In a less brief response - If the mvc app doesnt grab the public key from Identity Server to validate the cookie, how does it validate it?

[2017-10-17 14:28] mclark1129 commented on #1635
It's been awhile since I deployed my implementation of IdSrv4, so maybe @leastprivilege or @brockallen can confirm or deny my understanding below:

MVC validates its cookies the same way it would whether or not you are using Identity Server, which I believe by default is using the DPAPI.  Cookie validation is a completely separate process from token validation.  Token validation DOES use the IdSrv

[2017-10-17 14:49] #1618 closed

[2017-10-17 14:50] leastprivilege commented on #1619
Those extension methods simply use the standard ASP.NET Core methods on AuthenticationManager. Try to repro the same without IdentityServer and if you still see a problem . tell Microsoft.

[2017-10-17 15:11] PureWeen commented on #1625
if you move this
[code]

above
[code]

does that fix it?

[2017-10-17 16:18] erikkolo commented on #1627
I'm also getting this "You must either set Authority or IntrospectionEndpoint" exception. But I can not resolve it by setting an ApiSecret.
Now I switched to the plain JwtBearer and with it, it works. But not with the IdentityServerAuthentication.

[2017-10-17 17:44] smoses2 commented on #1055
Thanks @thangchung.  I had initially thought the asp.net identity roles magically appeared in token claims.  Now after seeing your example and the one [here](https://damienbod.com/2016/11/18/extending-identity-in-identityserver4-to-manage-users-in-asp-net-core/) and [here ](https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/ResourceWithIdentityServerWithClient/Id

[2017-10-17 21:58] weitzhandler commented on #1625
@PureWeen Unfortunately, that did not solve the issue.

[2017-10-17 22:40] igorsky78 opened #1636 "Invalid column name 'ClientClaimsPrefix'. Invalid column name 'PairWiseSubjectSalt'."
Hello,

I  updated my IdentityServer4.EntityFramework to the latest version. During the redirect to the login page get following error "SqlException: Invalid column name 'ClientClaimsPrefix'. Invalid column name 'PairWiseSubjectSalt'."

I went back to the 2.0.0-rc-1 version and that fixed the problem.

Here is the entire stack:

System.Data.SqlClient.SqlException (0x80131904): Invalid column name

[2017-10-18 00:09] brockallen commented on #1636
http://docs.identityserver.io/en/release/reference/ef.html#database-creation-and-schema-changes-across-different-versions-of-identityserver

[2017-10-18 00:34] PureWeen commented on #1625
What if you annotate the authorize with the scheme?

[code]

[2017-10-18 00:55] weitzhandler commented on #1625
That worked!
But instead of changing it in the controller, I added the following to the _Startup.cs_ file, from:

        services.AddAuthentication(o =>
        {
          o.DefaultScheme = IdentityServerAuthenticationDefaults.AuthenticationScheme;
     +    o.DefaultAuthenticateScheme = IdentityServerAuthenticationDefaults.AuthenticationScheme;
        })

[2017-10-18 00:55] #1625 closed

[2017-10-18 00:58] PureWeen commented on #1625
Awesome!!! I just went through this process last week and was having similar issues :-)

[2017-10-18 01:28] ADCJustinH commented on #1627
I gave up on trying to upgrade my projects to .net core 2.0 and instead just created new projects and ported code over. That resolved the issue for me.

[2017-10-18 01:28] #1627 closed

[2017-10-18 06:46] leastprivilege opened #1637 "Error response from token endpoint have Content-Length set to -1"
need to repro

[2017-10-18 06:47] leastprivilege opened #1638 "Missing Charset on JSON responses"
need to investigate

[2017-10-18 07:02] leastprivilege commented on #1627
OK - I tried it again and cannot repro any of the issues. Glad it's working now.

[2017-10-18 09:55] satyajit-behera opened #1639 "Disable any existing grant_type"
Is it possible to **disable** any **specific grant_type** for an installation and instead use custom grant type only?

Example: "password" grant_type can be disabled and a custom grant type only works for token end point.

[2017-10-18 10:09] brockallen opened #1640 "Redesign scope validator"
Cuz it needs it

[2017-10-18 10:21] leastprivilege commented on #1640
wordz!

[2017-10-18 11:15] mangelarilla opened #1641 "Prefix default endpoints"
I´ve been looking around the `AddDefaultEndpoints` method trying to add a prefix to the default endpoint routes but they are all internal and I can't find a way to configure its routes.

Am I missing something which makes adding a route prefix more trivial?

EDIT:
I did this global workaround, but I'm not certain that it will not cause troubles with the endpoint routers.

`app.Map("/auth", appBuil

[2017-10-18 11:40] leastprivilege commented on #1641
They are fixed. Why?

[2017-10-18 13:01] leastprivilege commented on #1639
No.

You can *disable* password by not providing an implementation of the resource owner validator.

[2017-10-18 14:49] satyajit-behera commented on #1639
Thanks. I have a scenario where the user needs to pass more parameter in addition to user name and password for generating token. I can easily create this using "IExtensionGrantValidator".

But the user can also login using only the username and password without providing the additional parameters if I don't disable the default resource owner validator.

Is this scenario possible?

[2017-10-18 16:16] mangelarilla commented on #1641
It is needed in my situation because of the internal server routing, but it seems that wrapping the appbuilder inside that route map works, need further testing though.

[2017-10-18 16:34] leastprivilege commented on #1639
You can disable the password grant - as I said above already.

[2017-10-18 16:37] satyajit-behera commented on #1639
Thanks

[2017-10-18 18:54] szahn opened #1642 "Allow Custom Client Secret Validation"
It would be great if ClientSecretValidator was an interface or sub-classable such that I can add implement my own client secret validation. The current Identity Server services do not provide a plugin-architecture to do the following:

1.) If Client.RequireClientSecret is false or no client secret is provided during client credential grant, check the presence of a client certificate using _httpCon

[2017-10-18 19:49] igorsky78 commented on #1636
Thank you

[2017-10-18 19:49] #1636 closed

[2017-10-18 20:39] germansak opened #1643 "How to access IProfileService from within IdentityServer"
- [X] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
First of all I'm quite new to IS, but I have developed an IdentityServer with this functionality working.
Now I'm migrating it to the new version and I'm having this issue.
I'm trying to access my CustomClaimsService (:IProfileServic

[2017-10-19 05:46] leastprivilege commented on #1642
I will look into it - but some comments:

You can implement 1) with the current bits - just plug in your own ISecretValidator.

for 2) the client secret is hashed - what's wrong with that having it in memory?

[2017-10-19 06:19] #1641 closed

[2017-10-19 06:21] leastprivilege commented on #1642
Is that what you have in mind? https://github.com/IdentityServer/IdentityServer4/pull/1644

[2017-10-19 10:39] mpabis opened #1645 "IdentityServer4 together with User management as a service?"
I'm writing a authentication/authorization solution for our microservice architecture setup. The solution will work with human users as well as other services, granting them access to required services/features. Currently I have __IdentityServer4__ and __ASP.NET Identity__ as a one service and a second service __Identity Management__ providing basically CRUD functionality on entities like users, c

[2017-10-19 13:40] leastprivilege commented on #1645
I personally would keep them separate - mainly because of

[2017-10-19 13:40] #1645 closed

[2017-10-19 13:44] #1639 closed

[2017-10-19 13:45] #1411 closed

[2017-10-19 13:45] leastprivilege commented on #1582
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-10-19 13:45] #1582 closed

[2017-10-19 13:48] leastprivilege commented on #1611
The introspection endpoint uses the normal client secret validator - if no client credential is required, this should work the way you want it...

[2017-10-19 13:48] #1613 closed

[2017-10-19 13:49] #1616 closed

[2017-10-19 13:49] #1617 closed

[2017-10-19 13:49] leastprivilege commented on #1619
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-10-19 13:49] #1619 closed

[2017-10-19 13:50] leastprivilege commented on #1620
Hard to say - we just use the standard windows auth feature of asp.net. Maybe it is an OS config problem.

[2017-10-19 13:50] leastprivilege commented on #1622
I don't understand the problem.

[2017-10-19 13:51] leastprivilege commented on #1623
I never used nginx myself. So no idea.

[2017-10-19 13:54] leastprivilege commented on #1635
The client loads the discovery document and key information at startup time - and refreshes it every 24h (by default). At least that is the behavior of the Microsoft MVC client lib.

[2017-10-19 14:01] CamiloTerevinto commented on #1620
@leastprivilege I have other applications running both on my IISExpress and at the same server where I installed the IdSrv and they work just fine with Windows Auth (Chrome prompts for password and accepts the first time).
Anything I could check?

[2017-10-19 14:05] leastprivilege commented on #1620
Try another ASP.NET Core application without IdentityServer.

[2017-10-19 14:11] CamiloTerevinto commented on #1620
If I create a new ASP.NET Core 2 on .NET Core 2 with

    WindowsAuthentication = Enabled
    AnonymousAuthentication = Enabled

And use

    [Authorize(AuthenticationSchemes = "Windows")]

It works without even asking for credentials

[2017-10-19 14:40] leastprivilege commented on #1620
..and now do the same thing with the app running IS..

[2017-10-19 15:06] CamiloTerevinto commented on #1620
@leastprivilege Sorry, but I'm not really following. That's what I do in IS already

[2017-10-19 15:54] leastprivilege commented on #1620
ah - so what's the issue then?

[2017-10-19 15:55] CamiloTerevinto commented on #1620
The issue is that in any non-IS application, I get prompted for credentials and login. In IS, I get prompted for credentials infinitely. I'm reading the output carefully and there are no errors nor any useful messages

[2017-10-19 15:58] matthewDDennis commented on #1623
Neither had I, however, I am setting up a project with an MVC, WebAPI, IdentityServer in Docker Linux containers.
I'm using Nginx as the reverse proxy with SSL termination and the difference in the external URLs and Schemes is tricky to handle, especially with .NET Core 1.1.  I thought that what I found would be useful.

This will probably be a fairly common scenario given the Xplat nature of .NET

[2017-10-19 17:03] eflorespalma commented on #460
http://xxxxx:8080/signin-oidc -page not found .... I have the same problem but with IIS and when i run it localhost it works fine. any idea?

[2017-10-19 18:30] CamiloTerevinto commented on #1620
I finally figured it out. I followed the `Combined_AspNetIdentity_and_EntityFrameworkStorage` that does not support Windows Authentication. Copying over the relevant code from `4_ImplicitFlowAuthenticationWithExternal` fixed the issue.

[2017-10-19 18:30] #1620 closed

[2017-10-19 19:40] ondrejtomcik commented on #1645
Let's say team is same for both services.
Service with IdentityServer 4 is small, there is almost no development going on.
+ They are using same source of data, what is also not best solution - two microservices sharing one database.

Are there any other reasons, technical reasons from IS4 point of view, why it should be separated @leastprivilege ?
What about mongodb and IS4? Do you have any produ

[2017-10-19 20:28] null-d3v opened #1647 "Extending ability to set CSP frame-src on EndSessionCallback"
- ☑ I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
I have a Client which itself is a WS-Federation IdP. During the logout process, the CSP headers on the endsession callback are too strict and do not allow the Client to cycle through its realms. I'd like a way to specify or alter the C

[2017-10-19 21:07] jeirix commented on #1623
Hi Matthew, very interesting I'm running a similar project on Ubuntu 16.04 LTS running IDS4 with NGINX as reverse to Kestrel. I made some progress actually Identity Server is running on https://mydomain.com and my MvcClient and API (taken from Quickstart examples) are working correctly on my DEV Environment. As soon as I publish them to the same server the Secure Content is not longer found, I rec

[2017-10-20 01:35] brockallen opened #1648 "Consider checking idp: acr_value against incoming client allowed list during authorize validation"
And not wait until interaction generator.

[2017-10-20 01:38] brockallen commented on #1648
Ok, turns out we already do this, but we don't flag it as error -- it's just ignored

[2017-10-20 01:38] #1648 closed

[2017-10-20 05:20] leastprivilege commented on #1645
Well - I personally like the fact that the IS application itself has a pretty low attack surface.

Adding more screens (and more DB access) changes that. I like to keep things separate - also from a deployment point of view.

[2017-10-20 05:54] kevinlo commented on #1430
@brockallen  Regarding to your [comment](https://github.com/IdentityServer/IdentityServer4/issues/1430#issuecomment-326427943) about putting the SHA256 text in the config file.   I try to do it today.  But then I find out that the [OpenIdConnectHandler](https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectHandler.cs) just send the plain tex

[2017-10-20 06:04] leastprivilege commented on #1430
The config file in IS4 is a data store. You should never store secrets in plain text in your data store.

[2017-10-20 06:22] kevinlo commented on #1430
@leastprivilege  But then why it expect the incoming secret in plain text and default to use the HashedSharedSecretValidator to convert it to the SHA256 to compare.  Can it use a validator to compare the incoming SHA256 directly?

[2017-10-20 06:41] leastprivilege commented on #1430
Because that's the way it works ;)

IS stores the hash so that the real secret does not get compromised in case of a data breach. The client is supposed to store that secret securely as well - but not hashed of course otherwise the hash would become the secret.

[2017-10-20 06:47] brockallen opened #1649 "CustomGrants flows in token endpoint don't call user profile for active"
For consistency.

[2017-10-20 07:10] leastprivilege opened #1650 "Consider removing name from required claims"
`sub` should be enough.

IIRC we only did that for the default UI.

[2017-10-20 07:12] kevinlo commented on #1430
@leastprivilege  Obviously, I am new to the authentication and authorization.   I think I understand why it does now.   Thanks for your explanation.  Is there any good documents explaining the best practices in handling authentication and authorization?

[2017-10-20 07:16] brockallen commented on #1486
Should we do something similar on userinfo?

[2017-10-20 07:17] brockallen commented on #1486
Also, we should always call IsActive regardless if we reload profile. That's a bug IMO.

[2017-10-20 07:23] leastprivilege opened #1651 "Add concept of caller to IsActiveContext"
like `ProfileDataRequestContext`

[2017-10-20 07:24] leastprivilege opened #1652 "Call IsActive from Introspection"

[2017-10-20 10:05] DavidUrting opened #1653 "IdentityServer4 assembly is not strongly named"
When adding the IdentityServer4 2.0.1 NuGet to an ASP.NET Core 2 application that is strongly named (signed) I get a `System.IO.FileLoadException: Could not load file or assembly 'IdentityServer4, Version=2.0.1.0, Culture=neutral, PublicKeyToken=9aed67b161f7db78' or one of its dependencies. A strongly-named assembly is required.` when running the application.

Is it possible to provide a strong na

[2017-10-20 10:49] leastprivilege commented on #1653
We don't provide strong named versions of our assemblies.

Maybe this will help you:
https://github.com/dsplaisted/strongnamer

[2017-10-20 10:50] leastprivilege commented on #1653
..and why would you strong name an ASP.NET Core application in the first place?

[2017-10-20 11:11] DavidUrting commented on #1653
The situation is that the ASP.NET Core application uses an (strongly named) framework library that is used company-wide. In that library there are some `internal` members that should be made visible to the ASP.NET Core application. For this we use `InternalsVisibleTo()`. But to make internals visible from a signed library to another assembly, that assembly has to be signed too. And a signed assemb

[2017-10-20 11:28] leastprivilege commented on #1653
The pragmatic solution would be to remove the strong names everywhere ;)

[2017-10-20 12:12] DavidUrting commented on #1653
I know, but the problem is that the _framework library_ exists since 2004 and is used by 100+ company applications. Also, the library has to be present in the GAC and redirects are used quite heavily. So it is better that I do not touch the signing part of the assembly if I want to keep my job :)

[2017-10-20 12:22] janpieterz commented on #1634
Diving into this with the source.
The handle `TgJERJjLhKZi7LwQ4h998+2ak9kXsRezQxADx3/lQxQ=` is because the handle comes into the `RefreshTokenService` as null (this is the hashed key for a `null` handle).

Looking at the flow of this, I ended up here: https://github.com/IdentityServer/IdentityServer4/blob/19b2f2d55e5c8741a35efb849252c1a769658e60/src/IdentityServer4/Validation/TokenRequestValidator

[2017-10-20 13:15] egmfrs commented on #1626
What is missing in the sample code in order to bring back the bigger list of claims? I have another sample proj from pluralsight which brings back nonce, authtime etc. and can't for the life of me see the difference in the code between samples which causes one to have so many more claims included.

[2017-10-20 13:42] leastprivilege commented on #1653
:) OK - in that case you could clone our repo and sign it yourself.

I am wondering what the Cecil problem is....

[2017-10-20 13:43] leastprivilege commented on #1626
set

`options.ClaimsActions.Clear()` on the OpenID connect handler.

..and thank Microsoft for the intuitive API ;)

[2017-10-20 13:44] leastprivilege commented on #1634
yes please - -

is this related? https://github.com/IdentityServer/IdentityServer4/pull/1646

[2017-10-20 13:55] Roycode opened #1654 "Get the Properties of Client from auth server in accesstoken."
http://docs.identityserver.io/en/release/reference/client.html?highlight=properties

Is there a way for Client Credentials client to get the Properties of Client from auth server? I don't know how/when to use it. I only know how to add a custom property when Creating a client from the document.

[2017-10-20 14:12] janpieterz commented on #1634
Jup, it'd be the same fix, no unit test though (up to you to decide how important that is in this case).

[2017-10-20 14:25] janpieterz opened #1655 "DefaultGrantStore RemoveAsync hides grants possibly leaking out of defined policies"
As discussed in #1634 the DefaultGrantStore's delete method `RemoveItemAsync(string key)` calls the underlying store `Store.RemoveAsync(string key)` and suggests it always goes well (no exceptions nor validation checks it exists). Looking at the EntityFramework implementation (one others will use as a reference implementation) this is very much the case, as seen in the method here: https://github.

[2017-10-20 14:30] dfrunet opened #1656 "Session failure in "multithreading" scenario."
As it was recommended, I first asked this on Stackoverflow, but probably that's too special for the community.
https://stackoverflow.com/questions/46810139/identity-server-4-defaultusersession-how-to-override-get-setclientlistasync
Briefly: a "dashboard" web app (RP1), authorized by idsrv displays several iframes with separate web apps (RPs), using the same OP. Requests from RP2 .. RPN comes simul

[2017-10-20 15:03] egmfrs commented on #1626
@leastprivilege Thank you - it was actually ClaimActions (not claims)

[2017-10-20 16:53] egmfrs opened #1657 "Claim in sample project not showing in User.Claims"
In the sample project for [Hybrid and API Access](https://github.com/IdentityServer/IdentityServer4/blob/release/docs/quickstarts/5_hybrid_and_api_access.rst)

The Users have claims for "website", however when I run the project, website does not show up in the claims list. What is missing?

[2017-10-20 17:29] DavidUrting commented on #1653
I had to build a custom StrongNamer version to find the error: Mono.Cecil.ModuleDefinition.ReadModule() fails on the IdentityServer4.dll: **Format of the executable (.exe) or library (.dll) is invalid**. I will contact the maintainers of StrongNamger to report this issue since it steems to be an issue with the used Mono.Cecil version.

[2017-10-20 17:59] SIkebe commented on #1626
@leastprivilege Was that an intended change? Should I send another PR to bring it back?

[2017-10-20 21:04] rukyoj opened #1658 "Invalid Request with "application/json" content-type"
When I make a POST request (using POSTMAN), to **http://localhost:5000/connect/token**,  When I use  **application/x-www-form-urlencoded** content-type, and pass the client_id/secret/username/password in the body, it works fine. I get a token. But if I use  **application/json** content-type and pass the credentials as json, in the body, I get   an  "**invalid_request**" response. What am I doing w

[2017-10-21 13:30] JustinPealing opened #1659 "Using JWTs as Authorization Grants"
I'd like to use JWTs as authorisation grants as per RFC 7523, [section 2.1](https://tools.ietf.org/html/rfc7523#section-2.1) specifically I want to allow a setup similar to Googles "OAuth2.0 for Service Accounts" setup, where the "sub" field in the JWT can be used to request delegated access to resources on that users behalf.

[This page](http://docs.identityserver.io/en/release/intro/specs.html)

[2017-10-21 14:42] leastprivilege commented on #1658
yes

[2017-10-21 14:42] #1658 closed

[2017-10-21 14:43] leastprivilege commented on #1659
It is not built-in. But this can be added by an extension grant.

If you come up with something re-usable and want to contribute it, start a PR so we can have a discussion.

[2017-10-21 14:45] leastprivilege commented on #1654
Please elaborate.

[2017-10-21 17:59] JustinPealing commented on #1659
Will do - thanks for the info on extension grants

[2017-10-21 17:59] #1659 closed

[2017-10-22 13:02] leastprivilege commented on #1653
OK - keep us posted. I will close this for now.

[2017-10-22 13:02] #1653 closed

[2017-10-22 13:02] leastprivilege commented on #1651
Turns out this already exists...

[2017-10-22 13:02] #1651 closed

[2017-10-22 13:36] brockallen commented on #1651
We're getting old.

[2017-10-22 13:41] brockallen commented on #1656
Possibly, but also what you suggest is very hard to do without imposing server-side state.

[2017-10-22 16:43] lenj962 opened #1660 "Repository does not contain a config.cs file referenced in docs."
- [ ] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem

### Relevant parts of the log file

[code]

[2017-10-22 19:05] leastprivilege commented on #1660
not enough info.

[2017-10-22 21:28] dfrunet commented on #1656
I see, but I have to solve this in my environment anyway... So any suggestion how to override the client list handling without mass coding or copy-pasting would be much appreciated. Wish there were some virtual methods in DefaultUserSession and a possibility to inject my custom inherritor...

[2017-10-22 21:39] lenj962 commented on #1660
I'm working through the "IdentityServer 4 - Protecting an API using Passwords" sample I cannot find the files in the GitHub repository that are reference in the docs.  For example, which file in the repos has the code referenced here:

[2017-10-22 21:41] brockallen commented on #1656
Well, consider a decorator for it then, and pass thru the methods you don't need to tweak. We can consider making those virtual on the default.

[2017-10-22 21:43] brockallen commented on #1660
Here: https://github.com/IdentityServer/IdentityServer4.Samples/blob/release/Quickstarts/2_ResourceOwnerPasswords/src/QuickstartIdentityServer/Config.cs#L40

[2017-10-22 22:11] lenj962 commented on #1660
Got it!  Thanks.  It's a lot easier to follow things when the narrative and the repos are consistent.  Getting on a roll!

[2017-10-22 22:11] #1660 closed

[2017-10-23 09:49] leastprivilege commented on #1650
see PR

[2017-10-23 09:49] #1650 closed

[2017-10-23 09:49] leastprivilege commented on #1642
No response. I merged it.

[2017-10-23 09:49] #1642 closed

[2017-10-23 09:49] #1635 closed

[2017-10-23 09:49] leastprivilege commented on #1630
done

[2017-10-23 09:49] #1630 closed

[2017-10-23 09:50] #1572 closed

[2017-10-23 09:52] leastprivilege commented on #1057
@brockallen have we documented everything? can we close this?

[2017-10-23 10:14] elevate-andrewlock commented on #1627
I was struggling with this issue and getting the same exception - in my case, I had copied and pasted the token into the `Authoriation` header incorrectly, so it wasn't a valid JWT. Fixing the token immediately fixed the issue.

Based on that and @erikkolo's comment, it looks like failure to extract a valid JWT causes this exception.

[2017-10-23 10:46] leastprivilege opened #1662 "UserInfo should call IsActive"

[2017-10-23 10:48] #1662 closed

[2017-10-23 10:49] leastprivilege commented on #1627
I added more logging (trace level) - so it should be easier to diagnose what kind of token was found.

[2017-10-23 14:35] nixa333 opened #1663 "Using IS4 with "old" MVC 5"
Hi there, as the title suggests I'm using IS4 with MVC5. IS4 is great, but I think I'm having problems with MVC5 implementation of Authentication.
For MVC5 I followed IS3 tutorials and set it up like this:

[code]

IS4 is set up by IS4 tutorials and I believe there are no problems with it.

Logout with MVC is done with:

[code]

Although I believe the OidcSignout method is never actually called, a

[2017-10-23 14:52] brockallen commented on #1663
I assume the MVC client has the FrontChannelLogoutUri configured?

I didn't really follow that, but we keep track of the clients you have logged into by adding those to the authentication cookie within IdSvr. If you change the identity of the user at IdSvr (which means getting a new cookie), then you lose the list of client and they won't get notified at signout (because it's a different user at t

[2017-10-23 14:54] brockallen commented on #1057
well, strictly speaking we can't ever say that. but as for the formal docs, i think we have done everything we intended to.

IMO, yes.

[2017-10-23 14:54] #1057 closed

[2017-10-23 15:55] odinnou opened #1665 "No refresh token returned with TokenUsage.ReUse"
Hello,
Is it possible to return the refreshToken (no updated) in the result of refreshToken request ?
It seems to be returned only if we configure RefreshTokenUsage to TokenUsage.OnTimeOnly

Thanks!

Kind Regards

Rémi

[2017-10-23 16:01] brockallen commented on #1647
Given that I don't think you'd want IdSvr to have to know all the upstream WS-Fed hostnames (that would be a very leaky abstraction), then I could simple imagine a flag to disable frame-src altogether... perhaps this could be per-client even?

[2017-10-23 16:06] nixa333 commented on #1663
Hmm, seems that somehow my DB didn't update correctly on last IS4 update with migrations, so I was missing Back/Front channel fields in my Clients table. Is it enough to set FrontChannelLogoutUri to OidcSignout method to configure everything? If not, could you please explain [this help article](http://docs.identityserver.io/en/release/topics/signout.html?highlight=FrontChannelLogoutUri%20) to me s

[2017-10-23 16:08] odinnou commented on #1665
I think, this refreshToken was returned in the 1.5.2 version of IS4

[2017-10-23 16:46] brockallen commented on #1663
It's your responsibility to understand the specs. Here's the one in question: https://openid.net/specs/openid-connect-frontchannel-1_0.html

It would, but this is a project that's paid for by our free time. It's FOSS, so you can contribute.

[2017-10-23 16:57] #1663 closed

[2017-10-23 17:46] brockallen commented on #1045
Done

[2017-10-23 17:46] #1045 closed

[2017-10-23 17:47] brockallen commented on #1212
Done

[2017-10-23 17:47] #1212 closed

[2017-10-23 17:57] brockallen commented on #1285
I recently (and coincidentally) added docs for the profile service: http://docs.identityserver.io/en/release/reference/profileservice.html. How claims come back in the id_token vs. userinfo, IMO, are not really our responsibility to fully document, since those are spec concerns, and, IMO, consumers of IdentityServer are expected to know (at least generally) how the specs work.

Some of the other t

[2017-10-23 20:40] helzgate opened #1666 "Windows auth and Safari not working"
- [ x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
When using the latest example app, when I use windows authentication line 161 result?.Principal is always null from AccountController found [HERE](https://github.com/IdentityServer/IdentityServer4.Samples/blob/release/Quickstarts/8_

[2017-10-23 21:39] brockallen commented on #1666
You mean make ASP.NET Core useless. I'd suggest opening an issue with Microsoft, as they are the ones that provide that feature.

[2017-10-24 00:51] helzgate commented on #1666
@brockallen Ah, good point.  Thanks for the response sir!

[2017-10-24 00:51] #1666 closed

[2017-10-24 06:04] oferAshkenazy opened #1667 "IdentityTokenLifetime vs AccessTokenLifetime vs AuthorizationCodeLifetime"
i have a question
i want to set my client "session" timeout
which should i use ? and what each setting responsibility ?

[2017-10-24 06:29] odinnou commented on #1665
The client :

[2017-10-24 07:38] odinnou commented on #1665
Ok,
I think i found an issue with **TokenUsage.ReUse** : this mode don't care about **TokenExpiration.Sliding** and **SlidingRefreshTokenLifetime**
I tried with **TokenUsage.OneTimeOnly** mode and it works

[2017-10-24 11:57] kassem-abboud commented on #1225
@inyutin-maxim @kolte  I have the same question as well, thank you.

[2017-10-24 13:48] leastprivilege commented on #1665
Thanks - we'll have a look.

[2017-10-24 14:32] wmolyneux opened #1669 "MVC5 client not able to sign out"
I have a instance of Idsvr4 running. When trying to use an MVC client i cannot sign out.

SignoutController:
[code]

Cookie auth:
[code]

OpenId options:
[code]

When I pass the cookie string to the signout method in the controller, the RedirectToIdentityProvider notification is never called with a request type of logout...

However when I remove the cookie string from the signout method the Redir

[2017-10-24 15:40] dankennedy opened #1670 "invalid_grant after sign in"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
I have a .Net core 2 IdSvr and MVC portal running fine locally. I'm trying to deploy them both to docker containers behind an nginx proxy though, and while I can authenticate a locally running MVC portal against the deployed IdSvr, I

[2017-10-24 16:14] #1638 closed

[2017-10-24 16:43] null-d3v commented on #1647
Disabling definitely an option; however the EndSessionCallbackResult does allow this in a way in that if the headers are already set it will not override them. So basic middleware on the /connect/endsession/callback endpoint which sets both CSP headers to empty strings achieves this. Currently this is what we are doing until we are able to kill the undesirable Client.

I think it's an alright appr

[2017-10-24 17:36] PureWeen commented on #1627
Is there a way to have this return the response as a 401 instead of a 500?  In pre 2.0 the request would just go through unauthenticated and I'd return a 401 so the client could react off that 401 status code and request a new token

For now I injected some middleware to catch the exception and modify the response
[code]
but wasn't sure if there exists a better integration point

[2017-10-24 18:13] leastprivilege commented on #1627
If there is a 500, that's a bug. What do the logs say?

[2017-10-24 18:27] PureWeen commented on #1627
Pretty much the error message from the original post but let me grab mine real quick...  Before if there was a bad token the request would still just get through to controllers that allowed anonymous access and the request would just be unauthenticated.  So I would just take these cases and return a 401 back to the client if the client had intended to be authenticated.

I have some tests I run aga

[2017-10-24 18:29] leastprivilege commented on #852
https://github.com/brentschmaltz/Wilson5x/blob/master/src/CreateTokens/CreateTokens/Program.cs#L39

[2017-10-24 18:45] leastprivilege commented on #1627
But what token are you actually sending - JWT or reference token?

[2017-10-24 18:59] PureWeen commented on #1627
My implementation uses JWT tokens.

For my test
I just send a GUID so it's set to something to emulate a "bad token"
[code]

I don't have anything that sets the client like this
[code]

I don't set the AccessTokenType anywhere

[2017-10-24 19:05] leastprivilege commented on #1627
So does it work when you send a valid JWT token? Also - have you tried setting the `SupportedTokenTypes` on the handler?

[2017-10-24 19:20] leastprivilege commented on #1627
OK - I had a look -

so basically you are sending a token that looks like a reference token, but don't configure the handler correctly for reference tokens (the ApiSecret is missing) - right?

I agree that the exception is misleading - so either

* configure the handler with an ApiSecret
* restrict the supported token types to JWT
* don't send garbage for testing

On a related note - if you are us

[2017-10-24 19:23] damienbod commented on #1627
I also had this problem and had to switch.

https://github.com/damienbod/AspNetCoreAngularSignalRSecurity/blob/master/ApiServer/Startup.cs#L99

I have no bearer token in the header.

[2017-10-24 19:40] PureWeen commented on #1627
- So it looks like setting the Supportedtoken to JWT worked
- it looks like setting the secret worked as well... I had the secret set on the Clients that get added in later on from this call `AddInMemoryClients` but I'm probably just mixed up with how I'm thinking it ties together. I figured since the `ApiName` matched up then handler just used those clients

- hehe ... I added this test mainly be

[2017-10-24 20:57] pirovorster opened #1671 "Missing code_verifier"
I am following the following example: https://developer.xamarin.com/guides/xamarin-forms/enterprise-application-patterns/authentication-and-authorization/

I am trying to login using the hybrid flow.
I successfully get the access code. I then try to get the identity token.
I send a post message to my identity server at http://xxxxx/connect/token with content:
grant_type=authorization_code&code=a74

[2017-10-24 21:08] pirovorster commented on #1671
Nevermind I found the problem.

[2017-10-24 21:08] #1671 closed

[2017-10-25 00:31] VincePlatt commented on #926
This is DEFINITELY still an issue today with current tools for .NET Core 2.0.  I had renamed a project to 'IdentityServer4' and of course it had the package of the same name included.  It went to heck for no apparent reason.  I found this post, changed the name, and now it works just like it did previously.

[2017-10-25 05:34] #1654 closed

[2017-10-25 06:35] kassem-abboud commented on #1225
@inyutin-maxim  @kolte  Nevermind I figure it out! Thank you anyway

[2017-10-25 06:40] kolte commented on #1225
@kassem-abboud can you please share solution here? Thank you.

[2017-10-25 06:51] inyutin-maxim commented on #1225
@kolte @kassem-abboud Also problem with infinite redirrect solve library https://github.com/Sustainsys/owin-cookie-saver

[2017-10-25 08:23] alexdrl commented on #1207
I have a similar issue, but with a different scenario.

I have 1 IS in Kestrel which issues JWT tokens using the OpenID and the user-password scheme.
Another IS In IIS which issues JWT tokens using custom code which reads integrated windows authentication.

The problem is that if I add the two middlewares, one after the other, the authentication fails.

Any idea?

[2017-10-25 15:03] murphycrosby opened #1672 "User Access Token is granted on WebAPI even when Scope is defined and user does not have scope"
When I try to access the WebAPI with a different Bearer Token that specifically has a different Scope, I get 403 Forbidden, which is correct.  However, when I use a user access token from a login from the Interactive Identity server login page, the call to the WebAPI (in PostMan) succeeds when it should fail.

[code]

[2017-10-25 15:26] leastprivilege commented on #1672
All code you are showing here is from Microsoft...how is that an IdentityServer problem?

[2017-10-25 16:10] murphycrosby commented on #1672
Apologies.  I followed the code setup like here for validating scopes.  Just not sure the issue for when passing a users access_token.
 http://docs.identityserver.io/en/release/topics/apis.html

[2017-10-25 16:25] #1665 closed

[2017-10-25 16:27] leastprivilege commented on #1665
fixed. thanks!

We publish a new package soon.

[2017-10-25 16:28] leastprivilege commented on #1672
you can use https://jwt.io to have a look inside the token

[2017-10-25 17:14] bjcull commented on #1634
https://github.com/IdentityServer/IdentityServer4/commit/8e25e9bc458dd56997df58a6188262604fb437e1 should fix this too

[2017-10-25 17:30] dfrunet commented on #1656
I've generally solved this by explicit implementing IUserSession.AddClientIdAsync() and IUserSession.GetClientListAsync(), but still need DefaultUserSession to be public to make possible any enheritance. For now just copied and pasted. When could we expect the change to be published?

[2017-10-25 19:48] odinnou commented on #1665
np! I am happy to contribute to this project
You help me so much ^^

Thanks

[2017-10-25 21:04] murphycrosby commented on #1672
For some reason the User has the scope, but the do not anywhere in the database.  Does it get tacked on because that is the site that they are logging in to?

`{
  "nbf": 1508965287,
  "exp": 1508968887,
  "iss": "https://myidentity001.azurewebsites.net",
  "aud": [
    "https://myidentity001.azurewebsites.net/resources",
    "CoreAPI"
  ],
  "client_id": "91d54606-9875-94fa-c5b3-6160286de4f4",

[2017-10-26 04:16] leastprivilege commented on #1672
Users don't have scopes. Clients do.

[2017-10-26 05:29] leastprivilege opened #1673 "Name claim no longer required when signin-in user."
done

[2017-10-26 05:29] #1673 closed

[2017-10-26 06:52] UdayaBhandaru opened #1674 "Revoking access token is not working"
Hi Team,

I am revoking access token as shown in the below code
var accessToken = await HttpContext.GetTokenAsync(OpenIdConnectParameterNames.AccessToken);
            var refreshToken = await HttpContext.GetTokenAsync(OpenIdConnectParameterNames.RefreshToken);
            if (!string.IsNullOrEmpty(accessToken))
            {
                var tokenrevocationClient = await _httpClientProvider.Ge

[2017-10-26 07:35] odinnou commented on #1665
I check this morning and it works like a charm! Thank you

[2017-10-26 09:12] krzyhan commented on #1556
I changed default Logout action (from "Quickstart" AccountController)
add this line:
`HttpContext.SignOutAsync(IdentityServer4.IdentityServerConstants.ExternalCookieAuthenticationScheme);`

And it's works for me

[2017-10-26 10:23] leastprivilege commented on #1674
What kind of access token are you using? You can only revoke reference tokens (and refresh tokens).

[2017-10-26 10:25] leastprivilege commented on #1669
IIRC - Katana did not support the signout cleanup. You should open an issue on their repo. Maybe they are adding that feature in the next release

[2017-10-26 10:25] #1669 closed

[2017-10-26 10:26] leastprivilege commented on #1634
yep. done. and new package pushed.

[2017-10-26 10:26] #1634 closed

[2017-10-26 10:41] #1649 closed

[2017-10-26 11:09] leastprivilege commented on #1610
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-10-26 11:09] #1610 closed

[2017-10-26 11:09] leastprivilege commented on #1611
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-10-26 11:09] #1611 closed

[2017-10-26 11:09] leastprivilege commented on #1622
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-10-26 11:09] #1622 closed

[2017-10-26 11:10] leastprivilege commented on #1633
Have you resolved it?

[2017-10-26 11:10] #1667 closed

[2017-10-26 11:16] leastprivilege commented on #1652
@brockallen Actually - the introspection validator calls the token validator, which in turn calls the custom token validator - which calls IsActive ;)

Now it is debatable if the IsActive check should be part of the custom token validator - or the standard one.

[2017-10-26 11:19] leastprivilege commented on #1486
@brockallen  please open new issue

[2017-10-26 11:48] UdayaBhandaru commented on #1674
We are using JWT Token. What does RevokeAccessTokenAsync in token revocation client do . Name suggests that we are revoking Access Token

[2017-10-26 11:59] leastprivilege commented on #1674
JWT tokens cannot be revoked. You'd need to switch to reference access tokens.

[2017-10-26 12:01] eddietisma commented on #1519
I have encountered the need for this in a situation at my work. Where some clients are requesting scopes for information which is specific to a certain login provider. At the same time we're trying to transition all users/clients to a new provider (which involves a breaking change of user information and claims). During this transition period i need to provide backwards compatibility to old client

[2017-10-26 12:08] UdayaBhandaru commented on #1674
Is there any sample for the sample with the implementation

[2017-10-26 13:01] mantasaudickas opened #1675 "Azure ADFS oidc fails when identityserver4 is load balanced."
Hi,

I have Oidc authentication with Azure ADFS.

[code]

and
[code]

It works fine when service is deployed as single server.
However if I start another instance and requests are load balanced some strange errors begins to happen.

Sometimes it fails on url /signin-oidc url with error message: Exception: Correlation failed.
[code]

If I refresh multiple times (I suspect it is hitting same server)

[2017-10-26 14:41] brockallen commented on #1675
Did you configure this: https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/?

[2017-10-26 14:43] mantasaudickas commented on #1675
No, I basically took an example from
https://github.com/IdentityServer/IdentityServer4/blob/dev/src/Host/Startup.cs

I will take a look to data protection topic.
Thank you.

[2017-10-26 16:13] SebastianStehle opened #1676 "Identity server returns 404 when path ends with slash."
Hi, I just migrated to version 2.0 and I realized the following:

* Make a request to http://localhost:5000/identity-server/connect/token/ -> 404
* Make a request to http://localhost:5000/identity-server/connect/token -> Works :)

The difference is only the ending slash.

[2017-10-26 16:18] leastprivilege commented on #1676
check the discovery document - this has the correct paths...

[2017-10-26 16:19] leastprivilege commented on #1674
Set the `AccessTokenType` on the `Client` to `Reference`.

[2017-10-26 16:21] SebastianStehle commented on #1676
I know, but can you not make it a little bit more flexible? ;)

[2017-10-26 16:23] leastprivilege commented on #1519
You can always get to the information by deriving from our `DefaultClaimsService` - but yeah - considering putting the requested resources on the profile request context.

[2017-10-26 16:34] leastprivilege commented on #1676
why?

[2017-10-26 16:41] SebastianStehle commented on #1676
It is not a big deal, I just got a few bug reports where the token request failed for some of my clients/users, even though I have documented it correctly.

So it seems that it would make life a little bit easier if it works like in version 1 ;)

[2017-10-26 17:07] mo-norant commented on #672
why dont you say your fix then

[2017-10-26 18:22] rbeauchamp commented on #1512
hi @ashtonkj , what was the root cause? thanks!

[2017-10-27 03:38] snwxd opened #1677 "On the OpenIdConnect authentication enabled HTTPS callback RedirectUri does not take effect, the default is HTTP"
IdentityServer4 + asp.net Core 2.0，
Deployed to the production environment, the use of OpenIdConnect authentication, enabled HTTPS, callback RedirectUri default HTTP, how to solve? Server:https://uc.xxx.com, OpenIdClient:https://mvc.xxx.com.

[2017-10-27 05:39] leastprivilege commented on #1677
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2017-10-27 05:39] #1677 closed

[2017-10-27 06:00] leastprivilege commented on #958
no.

[2017-10-27 06:00] #958 closed

[2017-10-27 07:47] levinhtin commented on #1495
@odysseus1973 https://github.com/IdentityServer/IdentityServer4.EntityFramework/tree/dev/src/Host/Migrations

[2017-10-27 09:01] mantasaudickas commented on #1675
Thank you. I have added data protection api usage and it solved the issue.

[2017-10-27 09:01] #1675 closed

[2017-10-27 09:18] nidilong opened #1678 "In Implicit Flow : how to access userinfo endpoint"
- [√] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
I don't know if this is an issue or not, my goal was access userinfo endpoint in implicit flow, but failed.

I have following configuration:
[code]
Startup.cs:
[code]

the website running under port 5105.

when entering url:
http://l

[2017-10-27 09:26] leastprivilege commented on #1678
You need to request an identity related scope to be able to access userinfo - e.g. openid.

For requesting an identity related scope, you need to use `response_type=id_token token`.

[2017-10-27 09:31] nidilong commented on #1678
Thank you, i will try after back home.

[2017-10-27 10:27] UdayaBhandaru commented on #1674
Thanks

[2017-10-27 10:28] UdayaBhandaru opened #1679 "Is there a way where we can call API from another API and pass access token and authorize it in Identity Server"
Hi,

Is there a way where we can call API from another API and pass access token and authenticate the same  in Identity Server

[2017-10-27 10:52] andriysavin commented on #1430
`Client.Claims` doesn't work with configuration. I tried this json:
[code]
Apparently, `Claim` type is immutable, so cant be deserialized from config. But I think nobody expects that, I spent a while trying to understand why I wasn't getting client claims in tokens.

[2017-10-27 12:12] brockallen commented on #1430
I think it's important to understand that Microsoft's JSON-backed config system in ASP.NET Core is not really a real persistence mechanism (and it does not use JSON.NET). In short, it's pretty limited, so you might need to lower your expectations.

[2017-10-27 12:19] brockallen commented on #1679
http://docs.identityserver.io/en/release/topics/extension_grants.html

[2017-10-27 12:19] #1674 closed

[2017-10-27 12:57] nidilong commented on #1678
Hi, lestprivilege, thank you very mush,it's working now. (●'◡'●)

[2017-10-27 12:57] andriysavin commented on #1430
@brockallen Yeah, I understand that. I mean maybe, for loading configs a parallel DTO hierarchy should be created (though it requires some work and later support). Meanwhile, here's my workaround for this:

[code]

[2017-10-27 13:40] #1678 closed

[2017-10-27 14:35] thelastnovemberrain opened #1680 "Could I use IdentityServer for my setup"
Hi, I am trying to understand if I can use IdentityServer for  my setup.

I need to create a system with an authentication service, where other products can login. The idea is to use SSO which would allow me to login with one product, and then use another product without signing in.
The problem is that I need to have a separate session for every login and if, for instance, I login to a ProductA an

[2017-10-27 14:44] stt106 opened #1681 "Implicit flow redirect has to refresh or authenticate twice"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
Not sure whether this is because I am using everything in memory and have no HTTPS. I have an Angular 4 client which has to refresh the page after logging in with valid credentials or has to go through the authentication process twic

[2017-10-27 15:23] leastprivilege commented on #1680
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2017-10-27 15:23] #1680 closed

[2017-10-27 17:23] kibagami-jubei opened #1682 "QUESTION: external providers and provisional users?"
Hi, I'm looking at the code for your guys' ws-federation implementation (this link: https://github.com/IdentityServer/IdentityServer4.WsFederation) and noticed something on the account controller, specifically, with the external-login-callback action. There's a piece of code using the test store and it's looking for a provisional user by ID and identity provider. If none is found, one is created,

[2017-10-27 21:15] karatelambda commented on #1225
@kolte @kassem-abboud  @inyutin-maxim   What is the fix? Can you please share the solution? I have exactly the same problem. The links @inyutin-maxim give seems don't help much....are you saying it's a Microsoft bug?

[2017-10-28 13:27] mikeandersun opened #1683 "Return back to client if authentication was failed"
It is possible  return back to client if authentication was failed.
I want to handle authentication fail messages on the client.
I mean exceptions situation not incorrect password.
But i don't know about when client url is invalid.
Thanks

[2017-10-28 14:20] murphycrosby commented on #1672
Thanks...since I know who the user is now, then in my app I need to look up to see if they can access the app?

[2017-10-29 07:27] leastprivilege commented on #1672
yes

[2017-10-29 07:27] #1672 closed

[2017-10-29 07:28] leastprivilege commented on #1683
Check the quickstart UI - it has a sample for that.

[2017-10-29 20:01] ozonni opened #1684 "Allow IdentityServerTools to not depend on HttpContext"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

IdentityServerTools is a great way to generate tokens in identity server, but it's bound to HttpContext. I use IHostedService to run background job, and there i need to call api protected by identity. But at this point there is no HttpContext. Is there an easy way to issue to

[2017-10-29 20:05] brockallen commented on #1681
Not sure. You will have to debug it yourself.

[2017-10-29 20:09] brockallen commented on #1682
Do what your requirements tell you do do.

You will have to learn how it works and add it yourself to the IdentityServer host. We do have some samples to help you get started, but they're just for that purpose only.

I don't know what `IUserStore` is. For the user database, you'd use whatever you want. You mentioned ASP.NET Identity, so that's an option.

[2017-10-29 21:01] stt106 commented on #1681
@brockallen can you confirm this is not caused by using in-memory store and not using https?

[2017-10-30 00:33] brockallen commented on #1681
Well, it works for our SPA/JS samples. I don't know why in your NG app it works that way. Sorry.

[2017-10-30 07:33] leastprivilege commented on #1684
For an "easy" way - you need access to the DI container. Do you have that in your IHostedService?

[2017-10-30 07:36] ozonni commented on #1684
yes, i do have DI there

[2017-10-30 07:42] leastprivilege commented on #1684
It's not ideal - but I think you can re-create that then:

https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/IdentityServerTools.cs#L45

[2017-10-30 21:20] orvelin commented on #1591
@Astimus  how did you solve your problem?

[2017-10-30 22:57] simondel opened #1685 "Add GitHub issue label 'good first issue'"
[GitHub suggests](https://help.github.com/articles/finding-open-source-projects-on-github/#searching-using-labels) having a label named _good first issue_ for first time / beginning contributors to your open source project to find things they could add/fix/improve.

During oktober this label can be combined with _hacktoberfest_ to accomodate for [Hacktoberfest](https://hacktoberfest.digitalocean.c

[2017-10-31 06:00] PieterLutz commented on #1296
@ruskindantra: thanks for this closing comment, I had already sent 8 hours on this issue and heaven only knows how long I would have battled still, then came across your post.

[2017-10-31 09:51] leastprivilege commented on #1685
OK - do you see any open issues that would qualify for that?

[2017-10-31 09:52] leastprivilege commented on #1595
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-10-31 09:52] #1595 closed

[2017-10-31 09:52] #1633 closed

[2017-10-31 09:52] leastprivilege commented on #1633
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-10-31 09:53] leastprivilege commented on #1670
any update?

[2017-10-31 09:53] #1679 closed

[2017-10-31 09:53] #1683 closed

[2017-10-31 13:41] dankennedy commented on #1670
Some progress, in that I've got the IdSvr4 web app running in a container, and if I run the client locally I can authenticate against IdSvr4 without a problem. If I use the client as deployed in a container however, after a successful authentication I just get the nginx 502 page and no error logged. If I refresh the page and therefore resubmit the form however I get the following error:
`[13:30:07

[2017-10-31 13:51] brockallen commented on #1685
I spoke to @simondel at the workshop yesterday and I suggested he open this, 1) to remind me, and 2) to start a discussion on ways folks can start to participate in this OSS project.

[2017-10-31 14:11] dankennedy commented on #1670
So I finally got to the bottom of it. It seems the default header limits in nginx don't play nice and I found this in the logs
`upstream sent too big header while reading response header from upstream`

Updating the nginx config to include the lines
[code]

prevented the 502 error and it all authenticates fine now.

[2017-10-31 14:11] #1670 closed

[2017-10-31 15:18] leastprivilege commented on #214
Waiting for @blowdart

[2017-10-31 15:19] #1652 closed

[2017-10-31 15:19] leastprivilege opened #1686 "Consider moving the IsActive call from the custom token validator to the core token validatator"
shouldn't be optional I guess.

[2017-10-31 15:43] simondel commented on #1685
For the stryker project we have less docs that we have to write so we mainly use the issue for:
* Refactoring code
* Fixing small issues
* Adding small features

You can see some of the issues [here](https://github.com/stryker-mutator/stryker/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3A%22good%20first%20issue%22%20). In general, we tag/create issues for the _good first issue_ label for things tha

[2017-10-31 21:13] kibagami-jubei commented on #1682
What I'm asking is ASP.NET identity what you're supposed to use, instead of that quick-and-dirty-intended-for-demo test user store?

[2017-11-01 00:27] dicksonkimeu opened #1687 "User Authentication with OpenID Connect"
- [ ] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
See attached/

1. My MVC app authenticates well and redirects back very when i log in with TestUsers. But when i used a user on Asp Identity error/ Wrong username or  password/

### Relevant parts of the log file

[code]
![aspnet ide

[2017-11-01 00:32] dicksonkimeu commented on #1687
This is the DB/ I have a user in the AspNetUsers table and when i use a normal MVC app which i use for user to register it can authenticate very well.

![aspnet identity db - copy](https://user-images.githubusercontent.com/4476822/32254896-06d9f9a0-beb5-11e7-97a0-33e07c205114.PNG)

[2017-11-01 09:32] leastprivilege commented on #1682
yes - you would use some persistent user store - e.g. ASP.NET Identity.

[2017-11-01 09:32] #1682 closed

[2017-11-01 12:01] rene-araujo opened #1688 "Identity Server callback in IIS return error 500"
- [ x ] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
Hi!
I deployed IdentityServer 4 (net core 1.1) with IIS 7.5.  If I try to login by going into "myIs4domain.com/account/login" I'm redirected to "myIs4domain.com/home" successfully with my login information being showed.
Then I depl

[2017-11-01 14:42] dicksonkimeu opened #1689 "SecurityTokenExpiredException: IDX10223: Lifetime validation failed. The token is expired."
- [ ] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem

Deployed OpenId, log in successful but on re direct i get this error.,

### Relevant parts of the log file

[code]

[2017-11-01 15:06] sanathkumarshetty opened #1690 "Multiple Azure Tenant as IDP provider causes Correlation issue"
when i configure more than one Azure Tenant as my IDP provider and i try access the second Azure Tenant the redirection fails with Correlation Error.

Below is the configuration i am using
app.UseOpenIdConnectAuthentication(new OpenIdConnectOptions
            {
                AuthenticationScheme = schemeName2,
                DisplayName = "Login Interal Users",
                SignInScheme = I

[2017-11-01 15:35] brockallen commented on #1685
@richardcampbell suggested another way to help in the OSS community would be to point people at other projects using IdentityServer and have them apply their experience there. For example:

https://github.com/htbox
http://www.htbox.org/

[2017-11-01 15:40] brockallen commented on #1690
You need distinct callback paths for the different upstream providers.

[2017-11-01 15:40] #1690 closed

[2017-11-01 15:44] brockallen commented on #1688
I don't see any 500 error info in the above logs.

[2017-11-01 15:45] brockallen commented on #1689
Sounds like some clock is not in sync.

[2017-11-01 15:52] rene-araujo commented on #1688
I found the problem. I had to set 'Load User Profile' to 'True' in the IdentityServer application pool in IIS.
Thanks!

[2017-11-01 15:52] #1688 closed

[2017-11-01 19:07] janpieterz commented on #1687
Try removing the `AddTestUsers` call you have in there.

The `AddAspNetIdentity` and `AddTestUsers` both register similar services, which makes sense since they're both 'user stores'.

[2017-11-01 19:46] helzgate opened #1691 "Windows Auth Issue on Server 2016"
- [ x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem
I'm running into [THIS](https://stackoverflow.com/questions/41219651/mvc-redirect-error-in-chrome) issue when using windows authentication along with the latest IDSVR4.  Is there anything you guys can do to prevent us from having to

[2017-11-01 22:10] brockallen commented on #1691
I too had seen this issue in older versions of Chrome, but in more recent versions it went away.

[2017-11-01 22:21] osudude opened #1692 "Resource owner password credential grant does not appear to include name claim in generated token"
The browser based auth flows (implicit and authcode) seem to include the user name in the generated token but the Resource owner password credential flow does not seem to include the user name claim. IProfileService impl does not include name as a requested claim so it appears to get filtered out.  How do you get the Resource owner password credential flow to include the user name in the generated

[2017-11-01 23:04] TomCJones commented on #1692
In OpenID Connect the only required claim is sub. The release of another claim requires the consent of the user. The client can ask for anything it wants. It may not get it.

[2017-11-01 23:07] #1692 closed

[2017-11-02 04:59] sanathkumarshetty commented on #1690
what exactly you mean by distinct call back paths

[2017-11-02 05:52] ondrejtomcik opened #1693 "Question: Permission vs Scope"
Hello,

It's clear that using scopes as authorization rules is bad idea and that's what I what my question will be about. In your video from [NDC Oslo](https://www.youtube.com/watch?v=EJeZ3YNnqz8&t=921s) you are presenting that

- Let's have Authorization Server
- It hosts applications and permissions information
- Resource server received token issued by Identity Server
- Resource server addition

[2017-11-02 06:02] ondrejtomcik opened #1694 "Question:"
Hello,

am I able to exclude api resource claims from access token?
Access token requested by the client should not contain claims which belong to the api resource, to which it requires access to.
Something like AlwaysIncludeUserClaimsInIdToken but for Access Token.

Thanks

[2017-11-02 08:51] hadiidbouk opened #1695 "Missing code_verifier"
After updating the IS4 and working with .Net core 2,
the IS4 isn't working anymore for the mobile client.

[code]

After reading the source code , this error will appear only when ```RequirePkce ``` is set to true and the mobile client isn't sending the PKCE.

In my case, i keep getting this error even when i set ```RequirePkce``` to false ( it's set by default)

How can i fix this error ?

[2017-11-02 09:13] leastprivilege commented on #1695
This also happens when the mobile client is sending the code challenge on the authorize request - but not the code verifier at the token endpoint.

Might that be the case?

[2017-11-02 09:24] hadiidbouk commented on #1695
Yes,

I am using  `AppAuth `, and the default of this library isn't sending any code verifier at the token endpoint.

If i want to send it by my self  then it should be as a PlainText and this it's not recommanded.

In fact the code was working without any problem before

[2017-11-02 09:46] leastprivilege commented on #1695
AppAuth is using PKCE - i am pretty sure they send a code challenge to begin with.

[2017-11-02 09:52] hadiidbouk commented on #1695
AppAuth is sending the codeVerifierin the AuthorizationRequest only

[code]

This request is created after the performing the TokenRequest , and in the TokenRequest there is no codeVerifier by default.

[2017-11-02 10:12] leastprivilege commented on #1695
Are you using an old version of AppAuth? - what's the point of sending a challenge without the verifier??

The reason the behavior has changed is - in 1.x when `RequirePkce` was turned off - we simply ignored all PKCE parameters.

In 2.x it is "on demand". IOW **if** the authorize request sends the challenge - we also require a verifier.

[2017-11-02 10:20] hadiidbouk commented on #1695
Thank you @leastprivilege  , now it makes sense .

[2017-11-02 11:38] vbenavidesa opened #1696 "Custom claims for access token"
So I have been learning and working with identity server 4 for a month now, and I want to add some custom claims to my **access_token**. I implemented a custom **IProfileService** and added to my **startup.cs** and it kind of works, let me explain:

[code]
That is my custom test implementation of the **IProfileService**. Then I add it to my **startup.cs** like this:

`services.AddTransient<IProfil

[2017-11-02 11:44] leastprivilege commented on #1696
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2017-11-02 11:44] #1696 closed

[2017-11-02 13:38] brockallen commented on #1690
Set the CallbackPath to different values for the 2 different handlers.

[2017-11-02 13:39] brockallen commented on #1694
access tokens are supposed to be opaque to the client -- IOW they should not be looking at or parsing them. if they are, then use a reference token.

[2017-11-02 13:41] brockallen commented on #1693
scopes, as per the OAUTh2 RFC, are permissions the user has granted the client. permissions in our NDC talk were about user permissions. those are two different sets of permissions.

[2017-11-02 14:46] helzgate commented on #1691
All of our users even remote, including machines we don't manage have this issue using Chrome.  I even downloaded the latest Canary build of Chrome, Version 64.0.3256.0 (Official Build) canary (64-bit) and it still shows this error.   It is because we are running IIS on Server 2016.

[2017-11-02 15:34] hadiidbouk commented on #1695
I fixed this error by setting in the AppAuth library the same generated code in the auth request and in the token request.

I Use to generate the code  ```CodeVerifierUtil.generateRandomCodeVerifier()```

[2017-11-02 15:34] #1695 closed

[2017-11-02 18:49] helzgate commented on #1691
I tried disabling http/2.0 requests within the site using:

`<rewrite>
    <rules>
        <rule name="RequestBlockingRule1" patternSyntax="Wildcard" stopProcessing="true">
            <match url="*" />
            <conditions>
                <add input="{SERVER_PROTOCOL}" pattern="HTTP/2.0" />
            </conditions>
            <action type="AbortRequest" />
        </rule>
    </rules>
</rew

[2017-11-02 19:17] mfuzailzubari commented on #1466
@nixa333 I have tried your code and it worked. (Y) Thanks. But I have to comment this line below:
`o.RequireHttpsMetadata = !CurrentEnvironment.IsDevelopment();`

Also can you please explain your code especially what does it mean:

`o.Audience = Configuration["Settings:Authentication:ApiName"];`
and this
` o.Authority = Configuration["Settings:Authentication:Authority"];`

[2017-11-02 19:51] ondrejtomcik commented on #1694
Probably I didn't explain myself correctly.

Api Resource entity represents some API in the system. You can define scope - at least one, by which you can divide functionality of an API, and give different clients access to those parts.

Then we have user claim types associated with that scope, that should be included in the access token. The claims specified here will be added to the list of claim

[2017-11-02 20:51] weitzhandler commented on #1466
@mfuzailzubari

Perhaps your environment isn't configured as development, so it's requiring HTTPS.

Those settings are retrieved from the _appsettings.json_ file (read [this](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration) for more.

[2017-11-02 23:22] whymatter opened #1697 "Parameters twisted for GetConsentKey"
Hey guys,

on my way though the code which writes into the `PersistedGrants` table I found these bits of code which seem to be wrong.

The first parameter of the `GetConsentKey` function is the `subjectId` and the second one is the `clientId`. But all invocations of this method pass `clientId` as first and `subjectId` as second parameter. This seems wrong to me.

I guess this is not evil but at le

[2017-11-03 01:36] iggy32662 opened #1698 "Question: Windows auth flow, can be more simple?"
Regarding strictly Windows auth, the quickstart UI project Account controller has an external login action that initiates the authentication challenge on HttpContext, captures the result cookie, signs the user in, captures that cookie, then deletes the first temporary cookie. Is it too far fetched to have an MVC app, with Windows auth enabled, simply call SignInAsync with the windows principal and

[2017-11-03 09:46] Krempelj commented on #1460
That's great to see that you've added this to the milestone. Will PS256 algorithm also be supported?

[2017-11-03 09:46] damienbod opened #1699 "Support optional params in the end session endpoint"
I would like to be able to send the culture and ui-culture as optional params to the end session endpoint. Could this be supported?

[2017-11-03 10:44] leastprivilege commented on #1460
tbh - I didn't have yet to research yet. If you want to have a look - feel free.

[2017-11-03 12:30] guidoffm opened #1700 "Question: "name" claim missing in protected API und identity name is null (ASP.NET Core)"
I have in Startup.cs:

[code]
The Web API controller method is:

[code]
The problem is: There is no "name" claim and the identity name is null.
When the JWT token is displayed on the client the "name" claim is there and it is filled correctly.

The JWT Token reads:

[code]

[2017-11-03 12:47] leastprivilege commented on #1700
You are showing the identity token, but you send the access token to the API - decode that - e.g. using https://jwt.io

[2017-11-03 12:50] leastprivilege commented on #1698
You can simpify by calling ChallengeAsync directly when loading the login page - and then AuthenticateAsync to get the windows identity.

[2017-11-03 12:54] #1681 closed

[2017-11-03 12:54] #1689 closed

[2017-11-03 13:10] guidoffm commented on #1700
[code]

[2017-11-03 13:30] janpieterz opened #1701 "Authorization story"
In the much linked post https://leastprivilege.com/2016/12/16/identity-vs-permissions/ it's mentioned that there is the feeling that in 2017 the authorization story might be tackled.

It's one of those things that comes up here often, with a lot of questions/confusion around the difference between `Identity` and `Permissions`.

Took me a while to get a grip on this too, as claims are such an easy

[2017-11-03 13:37] guidoffm commented on #1700
This fixed my problem:

[code]

[2017-11-03 13:38] #1700 closed

[2017-11-03 13:39] leastprivilege commented on #1701
We'll have an announcement at NDC in January.

[2017-11-03 13:40] #1701 closed

[2017-11-03 13:45] janpieterz commented on #1701
I'll be looking forward to that! Cheers

[2017-11-03 16:21] damienbod opened #1703 "Make it possible to set the localization from the /connect/authorize request"
Adding culture=it-CH&ui-culture=it-CH parameters to the URL of the /connect/authorize request and setting the localization using QueryStringRequestCultureProvider is ignored from IdentityServer4

It would be nice if IdentityServer4 supported optional parameters to set the localization from the /connect/authorize request.

[2017-11-03 16:43] osudude opened #1704 "Make it possible to configure the cookie.domain value for identity server cookies"
It would be helpful if Identity Server provided a way to configure the domain for identity server cookies (possibly via IdentityServerOptions?).  This is important for load balanced environments.

[2017-11-04 07:21] leastprivilege commented on #1703
There's a standard OIDC parameter for that `ui_locale`.

[2017-11-04 07:22] leastprivilege commented on #1704
Why? Simply register your own cookie handler with the settings you want and set the default schemes.

[2017-11-04 14:28] osudude commented on #1704
OIC,  is this the correct way to do that?

[code]

Can I just override the domain or do i need to specify all the cookie options?

[2017-11-04 17:08] brockallen commented on #1694
Well, by not configuring them in the first place :)

As for the rest of the question, I'm still a bit confused. Scopes, as defined in OAuth2, are meant for client permission granted by the end user, when the client is 3rd party to the API.

[2017-11-04 17:29] damienbod commented on #1703
Using the ui_locales in the /connect/authorize request does not set the culture either

[2017-11-04 17:34] leastprivilege commented on #1703
of course not - this is your job.

[2017-11-04 17:35] damienbod commented on #1703
CultureInfo.CurrentCulture = new CultureInfo(culture);
CultureInfo.CurrentUICulture = new CultureInfo(culture);

Gets ignored, because the IdentityServer4 middleware is doing something

[2017-11-04 17:46] damienbod commented on #1703
Also this is not a question but a feature request, because I don't see how IdentityServer4 supports culture switches from the /connect/authorize request

[2017-11-05 00:19] activebiz commented on #1433
I am having same issue

`|System.InvalidOperationException: sub claim is missing
   at IdentityServer4.Extensions.PrincipalExtensions.GetSubjectId(IIdentity identity)`

[2017-11-05 02:34] helzgate commented on #1691
If you look at [THIS CHROME BUG](https://bugs.chromium.org/p/chromium/issues/detail?id=685741) it appears to be fixed, but it can take some time for a fix to make it's way to release.  On stack overflow someone told me this fix may show up in early December.

[2017-11-05 02:34] #1691 closed

[2017-11-05 09:49] leastprivilege commented on #1703
I don't follow - the authorize endpoint is a protocol endpoint.

We redirect to your UI and there you can read the standard `ui_locales` parameter from there - and do whatever **you** need to do for localization.

[2017-11-05 09:56] activebiz opened #1707 "Dotnet 2.0 migration sub claim is missing"
- [x] I read and understood how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html)

### Issue / Steps to reproduce the problem

- Migration from dotnet core 1.1 to 2.0.
- Implicit grant
- No in memory stores.

The Auth server successfully issues the token and redirect back to the client. The token looks are shown below.

When trying to make an api call using

[2017-11-05 13:20] leastprivilege commented on #1707
Sorry - this does not make any sense to me.

Can you describe in more detail what you are actually doing?

[2017-11-05 13:22] leastprivilege commented on #1704
I can't remember how MS deals with multiple registrations of the same scheme name - this might work - or not. Give it a try and let us know..

[2017-11-05 13:23] leastprivilege commented on #1687
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2017-11-05 13:23] #1687 closed

[2017-11-05 14:15] brockallen commented on #1691
Thanks for the follow up, and glad to hear it's on their end (not ours) :)

[2017-11-05 19:48] damienbod commented on #1703
No matter how I set the localization from this method, the culture is being used, set from somewhere else. It is not possible to set the culture using the /connect/authorize  which redirects to my login in the AccountController login. Identityserver4 redirects with a returnUrl parameter and the culture is incorrect.