[2018-01-24 13:20] brockallen commented on #1940
Yea, in mentioning it I was just being a jackass in an attempt to avoid doing any work :)

[2018-01-24 13:21] brockallen commented on #2021
No -- I meant all the JSON wrapped around the actual log messages that app insights is adding. It's much easier to see the expanded log messages like from the console or file logger.

[2018-01-24 13:22] #2023 closed

[2018-01-24 13:24] brockallen commented on #2019
This is an issue to ask Microsoft, since that's their plumbing.

[2018-01-24 13:24] #2019 closed

[2018-01-24 13:26] brockallen commented on #2020
Those back channel handlers are mainly there for unit testing, so I've never tried to use them in a prod environment.

[2018-01-24 13:27] #1984 closed

[2018-01-24 13:27] brockallen commented on #1994
Any update?

[2018-01-24 13:27] #1996 closed

[2018-01-24 13:27] brockallen commented on #2001
All set on this issue -- can we close?

[2018-01-24 13:27] brockallen commented on #2006
All set on this issue -- can we close?

[2018-01-24 13:28] brockallen commented on #2007
All set on this issue -- can we close?

[2018-01-24 13:28] brockallen commented on #2010
All set on this issue -- can we close?

[2018-01-24 13:34] jamescrowley321 commented on #1940
Haha well I'll do the work! The only thing I wasn't sure of is how to test
these changes.

On Jan 24, 2018 8:30 AM, "Brock Allen" <notifications@github.com> wrote:

[2018-01-24 14:44] brockallen commented on #1940
I still want to think about it and I've not yet had time. Give me another week or so.

[2018-01-24 15:19] Shadowman4205 commented on #2021
@brockallen sorry for inconvenience, i replaced the log with txt log file by copy-paste from visual studio console. The logs are not all object format so i do not know how make them fast to json.

[2018-01-24 15:30] jtheisen opened #2024 "Using idsrv4 without nonce? Troubles with Katana."
I've disabled nonces in my Katana app like so:

    options.ProtocolValidator.RequireNonce = false;

Then idsrv4 isn't happy and tells me that my "nonce is not valid".

Is there a way to turn the nonce requirement off altogether?

I'm asking because

1. there are some unresolved issues in Katana regarding them, see [this](https://github.com/aspnet/Security/issues/390); I indeed see nonce cookies a

[2018-01-24 15:37] jtheisen commented on #2024
In hindsight, I believe I tripped over this just yesterday when I couldn't log in to the Azure Portal because "the request headers are too large". Indeed the Azure Portal is also leaking such nonces.

[2018-01-24 15:40] Meldow commented on #1994
Helloes, I'm still wrapping some API stuff and in the next week I must get this fixed, so will be resolving this very soon

Thanks for the concern

[2018-01-24 16:10] frjaffery commented on #2007
Thanks for all your help.

[2018-01-24 16:10] #2007 closed

[2018-01-24 16:26] aneequrrehman opened #2025 "How do you get "acr_values" inside IProfileService implementation?"
A lot of online documentation and help material suggest generating a claim inside `GetAuthenticateInfoAsync`. But `GetAuthenticateInfoAsync` isn't available either in IS4, or am I missing something?

[2018-01-24 16:38] brockallen commented on #2024
nonce is part of the sepc and it's required for implicit and hybrid flows, and that's what IdentityServer implements. I don't know why Microsoft has a flag to disable it.

[2018-01-24 16:40] brockallen commented on #2025
I don't follow how the subject of this issue relates to the comment part you wrote.

[2018-01-24 16:48] aneequrrehman commented on #2025
@brockallen My bad. I was trying to access `acr_values` specifically `tenant` inside `IProfileService` implementation. And I saw here at https://github.com/IdentityServer/IdentityServer4/issues/1363 something about `GetAuthenticateInfoAsync` to which you agreed, but I am unable to find this method.

[2018-01-24 17:24] jtheisen commented on #2024
I found more old conversation about this [here](https://github.com/IdentityServer/IdentityServer3/issues/1407) and [here](https://github.com/IdentityServer/IdentityServer3/issues/1124).

Ok, let's close this.

[2018-01-24 20:37] #2024 closed

[2018-01-24 20:37] brockallen commented on #2025
`GetAuthenticateInfoAsync` is unrelated to the authorize endpoint parameters.

[2018-01-24 21:05] aneequrrehman commented on #2025
Right. So how would you suggest accessing "acr_values" inside `IProfileService` implementation? I mean these are accessible using identity server interaction service, but that requires the `Request` which isn't available in `ProfileService`.

[2018-01-24 21:49] brockallen commented on #2025
What do you need them for? Seems like the wrong place.

[2018-01-25 00:23] VictorioBerra opened #2026 "Is the idserv.external cookie encrypted? Is it possible to spoof?"
It is my understanding that external providers set these with SignInAsync and that under the hood DataProtection is used to encrypt the cookie. Cookies are transmitted via SSL. Is this correct?

[2018-01-25 00:26] brockallen commented on #2026
Yes to all, and all of that has nothing to do with IdentityServer -- those are all features of ASP.NET Core.

[2018-01-25 01:22] aneequrrehman commented on #2025
Well, we have our roles dependent upon Tenant (one user can belong to multiple tenants) as well as the particular time of the year. So at first I am loading the default Tenant and the default Role under that tenant, but afterwards if the user switches their profile, I need to know which tenant they are switching to (or maybe to which role they are switching to) so I can load up relevant claims. Th

[2018-01-25 01:28] TomCJones commented on #1971
Well, I have U2F code, now I am trying to decide where it goes in the flow. It could be anywhere, even in the client. It seems to be that the best place for it is when the user clicks "Yes, Allow" on the consent page. Which assumes that consent is required. But if not it could go else where.

The major point is to decide the duration of the 2nd factor. It seems to me it should match consent.

[2018-01-25 02:32] brockallen commented on #1971
I think you're overthinking it. Just treat it as a 2nd factor after username/password. At least that's how I think of it.

[2018-01-25 02:33] brockallen commented on #2025
Why not look at a tenant claim in the Subject?

[2018-01-25 05:29] TomCJones commented on #1971
well, that was the question, before or after consent. But think about it. the user enters the password, and the user record is obtained. then they are asked for two more interactions. Provide the second factor, select the list of data elements to be provided. It is possible for the choice of elements to be provided to include a choice of the second factor (or not). So there is a possible benefit t

[2018-01-25 06:37] aneequrrehman commented on #2025
@brockallen I am just trying to get my head around this. So `Tenant` is available in the middleware and in the Controllers using `_interactionService.GetAuthorizationContextAsync(context.Request.Query["returnUrl"])` but still I want to access this info inside ProfileService.
So this way, let's say the user tried to switch to another tenant, that new tenant's name (or id) value will come as part of

[2018-01-25 07:50] domrin123 commented on #2001
Apologies, thought I replied to this. Go ahead.

[2018-01-25 08:54] #2001 closed

[2018-01-25 12:50] Harmindersingh05 commented on #1969
Workflow + Question.

1: User click on the register button on login page and user is taken to a registration page.
2: User enter a email address and clicks "Continue" a confirmation email is sent to the user with a link to confirm their
email address and continue the registration process.
3: User clicks on the link in his email and is then presented with a registration page.
4: On the registration

[2018-01-25 14:04] brockallen commented on #1971
Again, I'd keep it part of the auth step. Consent might be disabled, so if you put the code there you'd miss your chance for 2fa.

[2018-01-25 14:05] brockallen commented on #2025
There's a context param with a Subject with claims. When the user logs in, issue a tenant claim.

[2018-01-25 14:08] brockallen commented on #1969
I'd put it behind an interface so it can be replaced or stubbed out for testing. Is sendgrid free for demo code like this? For now, I'd stub it out to just write to the log system.

And yes, somehow the return URL might want to be remembered. But it's possible that the reg process takes so long that the client has forgotten about the pending login. So it's tricky with no clear answer.

[2018-01-25 17:30] jkeslinke opened #2028 "IdentityServer4 not redirecting to login page on expired authentication"
I've tried [StackOverflow](https://stackoverflow.com/questions/48411620/force-login-page-on-token-expiry) and [Gitter](https://gitter.im/IdentityServer/IdentityServer4) but I have an issue that has no answer.

### Issue / Steps to reproduce the problem
I have a WebForms client that I am trying to setup to use IdentityServer4. The authentication seems to work correctly with one exception: I want th

[2018-01-25 17:33] brockallen commented on #2028
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-01-25 17:33] #2028 closed

[2018-01-25 17:38] jkeslinke commented on #2028
@brockallen , the first thing I said was that I have tried StackOverflow and Gitter because I've already seen the link you posted. I've actually tried not to post here, but I have run out of options. It's not like I haven't tried to figure this out myself, I've spent a few days on it now.

Since IdentityServer is not operating correctly despite my configuration seeming to be correct, I have posted

[2018-01-25 18:02] Nymdrood commented on #1916
Hi i searched  other issues and i think that my issue was related to this topic.

When i forgot access token in Bearer Authentication using javascript im getting
500 - Internal Server Error

Header:
Authentication: Bearer undefined

If i create any request with that header im getting an Internal.

You can also check this with Postman
Select authentication as Bearer and write undefined to token are

[2018-01-25 18:28] benoitbac opened #2029 "MDM mobile app recommended flow/strategy"
Hi and thanks for IS4 which is really nice product you offered us !
I'm sorry to ask for question here but it's quite difficult for me to try to find sort of answer about that :(
I would like to be able to authenticate via a mobile app MDM enrolled device , without user having to login as with a classical hybrid pkce flow,  on my IS4 openid IS , but I'm not able to find some advices or articles in

[2018-01-25 18:55] TomCJones commented on #2029
there is no safe way.
The ROclients show a way.

[2018-01-25 19:00] benoitbac commented on #2029
Thanks Tomc , but what do toi mean n'y ROclients ?

[2018-01-25 19:02] benoitbac commented on #2029
Sorry for bad language on mobile, what do you mean by ROclients?

[2018-01-25 19:05] brockallen commented on #2028
You have commercial support as an option: http://identityserver.io/#consulting

[2018-01-25 19:11] brockallen commented on #2028
And if you feel this is a bug, then if you can tel us the steps to repro with our samples that would help confirm it as an issue.

[2018-01-25 22:54] aneequrrehman commented on #2025
But the user logs in once which means only the tenant for which user logged in will be in claims, when they try to switch the tenant, there is no login etc.

[2018-01-26 01:14] TomCJones commented on #2029
Quickstart #4 has one that I have used
lots here https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src

[2018-01-26 11:13] monkeylumps opened #2030 "Defining a post login redirect url"
I have a requirement to redirect all users through a PostLoginRedirectController after they have successfully logged in.

This Controller can then, in turn, redirect the users elsewhere in the application based on its own rules, this means I can't use the RedirectUri to pass users to this controller as I can't guarantee they will ever hit the /signin-oidc endpoint.

Is there a way to force a redir

[2018-01-26 16:52] gartak commented on #1573
Sorry to write in a closed task, but I can't find any info about the "idp claim is missing" that's still there with IdentityServer4 v2.1.1
Any suggestion is appreciated.
Thanks

[2018-01-26 22:53] jkeslinke commented on #2028
Unfortunately there is no example for WebForms with IdentityServer4 anymore so I used the Combined_AspNetIdentity_and_EntityFrameworkStorage sample project.

Here is what I changed:

IdentityServerWithAspNetIdentity.StartUp (switched to in-memory to make use of config changes and added a 60s expiration to force the auth cookie to expire)
[code]

IdentityServerWithAspNetIdentity.Config (60s token l

[2018-01-27 14:39] brockallen commented on #2028
Did you see what happened in the browser next? Are you getting redirected for OIDC signin? Please do some more digging to explain why this is a bug.

[2018-01-27 16:05] jkeslinke commented on #2028
Yes, just showed the Secure page again

On the initial attempt to access the Secure page yes. On subsequent attempts, outside of the cookie/token expirations, yes but there is no Login page, it just automatically grants access. I can go to 'Home' and back to 'Secure' same results: no login page presented.

I believe I have provided more than enough information as I've been working on this for 3 da

[2018-01-27 16:26] brockallen commented on #2028
You're doing your job, yes. Free support for IdentityServer is not my job. That's why for free support we ask people to ask on StackOverflow. We ask that the issue tracker be reserved for bugs and feature requests.

Having said that, it's still not clear to me what you think the problem is. If the MVC cookie times out and then you get signed back in from the SSO provider, then that's working as de

[2018-01-27 16:51] techniq commented on #811
@karlpienaar I solved this by adding the external provider's (i.e AAD) claims in `ExternalLoginCallback` (like you did).  I added all the claims from the external provider to additional claims (`additionalClaims.AddRange(claims)`.  I'm not sure if this is bad practice, and I might change this later, but it made them available in the next step...

Then I created a custom profile service,  used it t

[2018-01-27 18:03] jkeslinke commented on #2028
I understand your point, but I am no longer asking a Support question.

As I originally stated, I have already posted on both StackOverflow and Gitter. The consensus being that this should work.

If it should work but does not, then it is a bug, which is why I'm posting here.

What I believe the problem is is that IdentityServer should force a login when presented with expired credentials, but it

[2018-01-27 18:20] brockallen commented on #2028
If the cookie at IdentityServer is still valid, then it won't force a user to re-authenticate. The cookie I think you were configuring above is in the MVC client (not the one within IdentityServer).

[2018-01-27 18:29] brockallen commented on #2028
So I took the time to try to repro what you did. I changed the IdentityServer cookie to 1 min and no sliding. I change the MVC implicit client to 1 min cookie no sliding. I login, wait 1 min, and try to access secure. I see a login page again.

[2018-01-27 19:12] brockallen commented on #2030
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-01-27 19:12] #2030 closed

[2018-01-27 19:13] brockallen commented on #2029
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-01-27 19:13] #2029 closed

[2018-01-27 19:13] #2026 closed

[2018-01-27 19:13] #2006 closed

[2018-01-27 19:13] #2010 closed

[2018-01-27 19:16] brockallen commented on #2025
There is an extensibility point for this called the interaction response generator -- look at overriding it to require the user to login if the conditions aren't right.

[2018-01-28 21:18] Harmindersingh05 commented on #1969
@brockallen
Send grid will be stubbed and you can send 100 free emails per day.

Questions:
What is your take on using claims for first name and last name instead of two new columns in user table?

[2018-01-28 21:47] brockallen commented on #1969
that depends on if the app ever needs to query/filter based on those values. it's hard for a generic sample to know how it will actually be consumed.

[2018-01-28 22:04] Harmindersingh05 commented on #1969
They are not mandatory. I will just create two new columns for them 👍

[2018-01-28 22:07] TomCJones commented on #1969
if you ever plan to be an international offering I would suggest Family-name and Given-name

[2018-01-28 22:09] Harmindersingh05 commented on #1969
Thanks @TomCJones the column names will be Family-name and Given-name as this aligns with claim types as well.

[2018-01-29 04:08] benlinx1018 opened #2031 "How to set error_description, error_uri"
I want to add custon error_description, error_uri  when the user not allow access,
but  can not find any way to set up them

how to do it  on IdentityServer4 using IdentityServer4.Samples.Quickstarts.7_JavaScriptClient?

[2018-01-29 07:40] Nuschler commented on #1997
I had same issue, enabling core.longpaths as git config option
git clone -c core.longpaths=true https://github.com/IdentityServer/IdentityServer4.Samples.git

This solution was found as some of the answers here...
https://stackoverflow.com/questions/22575662/filename-too-long-in-git-for-windows

[2018-01-29 08:10] dlemstra commented on #1842
@brockallen Sorry for hijacking this issues but we are also experiencing issues with the removal of the `'unsafe-inline'` part. We have some clients with very old browsers that can no longer use our services. Would it be an option to add a setting to allow CSP 1? I can send a PR for this if you would be open to adding this setting.

[2018-01-29 09:06] cbfrank opened #2032 "Improvement: Log output for "Invalid redirect_uri" error of TokenRequestValidator"
TokenRequestValidator.cs will get ther error for redirect_url validation, but the error/log output is:
LogError("Invalid redirect_uri: {redirectUri}", redirectUri);
In my case, the requested redirect_url is ***/, while expected redirect_url is ***, and the log shoows:
"Invalid redirect_uri: ***", the reidrect_uri is missing "/" and the end, but is it not obviously to found what's missing or incorr

[2018-01-29 09:25] kosa-gyula-77 commented on #1997
@Nuschler , Your solution has resolved the issue! Thanks.

[2018-01-29 11:03] domisginger commented on #1452
I think this behavior does lead to issues.

We've had to interact with other OpenID Connect providers who expect name to be a String as per the standard. In our case adding Windows login to User who has a name set, will also automatically return the Windows username along with the existing name claim.

i.e.
` name: ['WindowsLogon', 'Firstname Surname']`

Does anyone know where this automatic inclu

[2018-01-29 11:57] domisginger commented on #1452
Having now seen this issue [https://github.com/aspnet/Identity/issues/1394](https://github.com/aspnet/Identity/issues/1394) I think its the problem of ASP.NET Core Identity not Identity Server.

[2018-01-29 13:27] brockallen commented on #2031
As of now, we don't have a way to pass error_description back from the authorize endpoint from your hosting code.

[2018-01-29 13:29] brockallen commented on #1842
We've had the discussion of CSP1, and we didn't want to go there. Mainly CSP1 didn't support script hash for inline script, IIRC, so we'd have to rework all JS to separate script sources, which is a bit of work and more moving parts.

[2018-01-29 13:31] brockallen commented on #2032
`http://foo` is not the same URL as `http://foo/`. Sounds like you have a mismatch in your URL config for `Client`'s `RedirectUri`.

[2018-01-29 14:44] dlemstra commented on #1842
I did some more testing and it turns out that the browsers that support the `sha256` hash will check it and ignore the `unsafe-inline` part. The patches in #1748 break backwards compatibility with older browsers. We now have some middle-ware in place that checks if the `Content-Security-Policy` response header is set and replaces `script-src` with `script-src 'unsafe-inline'` to fix the compatibil

[2018-01-29 14:52] brockallen commented on #1842
The reason we were aggressive about removing this was because of a pen test from a customer complained about it. Yes, I understand that newer browsers know what to do, but it's a difficult trade off when a pen tester that doesn't trust the browser is telling a customer that there's a red flag (when in practice there's not).

[2018-01-29 14:54] brockallen commented on #1842
The other thought is a new config flag to change the behavior. Perhaps you could design a PR for something like this?

[2018-01-29 15:07] leastprivilege commented on #2032
PR?

[2018-01-29 15:21] tbrettallen opened #2033 "Question: What benefits does IdentityServer4 offer over IdentityServer3?"
As the subject states, what benefits are offered? I could not find a comparison between the two.

Also, what level of effort would be required to convert from IdentityServer3 to IdentityServer4? We use a custom user service with custom identity providers, custom claims provider, and a custom sign in view/controller and a custom redirect URL validator.

Is there a guide for conversion?

Due to the

[2018-01-29 15:49] dlemstra commented on #1842
I will work on a PR for this 👍

[2018-01-29 19:51] nicbavetta opened #2034 "Retrieving access token without client ID/secret"
I have defined a protected API within an IdentityServer Host which contains a few "startup" endpoints. These endpoints were added to support a streamlined configuration process when adding new API resources or clients. See the IdentityServer Host ConfigureServices() method below:

[code]

## Ideal Scenario
When a developer in my organization is writing a new API, they will add middleware that regi

[2018-01-29 21:45] jkeslinke commented on #2028
Thank you, I appreciate you trying it out.

I had another dev try out my repro steps and they were able to confirm the same issue though so to clarify, this is how I set the IdentityServer cookie I believe you are talking about:
[code]

If that's not how to do it, then mea culpa, clearly I'm off-base and we'll inquire about consulting.

But since I've been able to reproduce it with other people on

[2018-01-29 23:57] andyblack19 commented on #1940
@jamescrowley321 Will your administration platform be open source?
It's something I'm also going to need to build soon, as I'm using EF Core 2.0 for my configuration store.
I assumed a lot more people would have requested this feature as a quickstart example @brockallen?

[2018-01-30 01:30] brockallen commented on #1940
We have a commercial option for administration: https://www.identityserver.com/products/

[2018-01-30 02:52] jamescrowley321 commented on #1940
@andyblack19 Yes, it will be open source. Message me directly if you want more information or want to collaborate.

I've checked out the commercial version, and it is awesome.

[2018-01-30 05:40] karlpienaar commented on #811
@techniq Thanks a ton for this.  I haven't had a chance to try it yet but it certainly looks like the ticket.  I'll let you know once I've had a chance to give it a go.

[2018-01-30 08:40] karlpienaar commented on #811
@techniq You sir, are a star.  Works as intended.  Have a beer on me 🥇

[2018-01-30 10:23] gartak commented on #1792
Hi, I'm experimenting "idp claim is missing" in development environment (not tested in production, yet) with Identity Server v2.1.1 and Asp.Net Core v2.0.5 for HybridAndClientCredentials flow.
The thrown exception is:

InvalidOperationException: idp claim is missing
IdentityServer4.Extensions.PrincipalExtensions.GetIdentityProvider(IIdentity identity) in PrincipalExtensions.cs, line 203

the cooki

[2018-01-30 10:42] bufferz opened #2036 "associated user claims for api request"
_List of associated user claim types that should be included in the access token._

is it possible to change the behavior of the identity server if the claims required to be included on the token to apply an api request not enough ? is there any example out there ?

thanks!

to clarify : i want to be able to customize the authorization failure . this is can be achieved using custom attributes . bu

[2018-01-30 11:01] schwarzie2478 commented on #2018
I managed to go through the entire login flow and I documented the Headers in the Request and Reponse objects when entering and exiting IdentityServer.

When I log the headers for the response which redirects back to the client,  the url is still the orignal.

So I must conclude this change is not happening inside IdentityServer as I suspected but this is done probable by the reverse proxy as a ru

[2018-01-30 11:01] #2018 closed

[2018-01-30 11:07] schwarzie2478 commented on #2019
Thanks for your resonse,

I solved the problem by doing something different than PublicOrigin PublicOrigin didn't work for me, but this did work:
I added a OWin block ( as the first one!) that sets the scheme to https when the host is the url hosted as https.

`            app.Use(async (context, next) =>
            {
                var log = loggerFactory.CreateLogger<Startup>();

[2018-01-30 14:54] dlemstra commented on #1842
The PR has been submitted @brockallen. Feel free to make changes or request me to make them :)

[2018-01-30 15:26] tiaroque commented on #996
Is this working now, I am using reference token and client credentials and I dont get the Claims in the User principal in the .net core

[2018-01-30 15:35] nicbavetta commented on #1248
@TomCJones @agilenut Have either of you progressed forward with this? I also need to register services dynamically.

[2018-01-30 20:55] TomCJones commented on #1248
Well, there are a few developments, mostly in the UK. I earlier decided that the OpenID federation docs were not helpful. The UK references are not final, and require a certificate for each "member", which I would not mandate. But you can get some ideas of the json exchanges here: https://openbanking.atlassian.net/wiki/spaces/DZ/pages/28737919/The+Open+Banking+Directory+-+v1.1.1-rc1#TheOpenBanking

[2018-01-30 20:58] TomCJones commented on #1248
btw, I look at this as "just" an endpoint with a Get query and a json response. I would be happy to move a real world implementation into a standards track somewhere. I would expect that anon access is fine, but would like to hear from others if that makes sense.

[2018-01-31 00:35] agilenut commented on #1248
@nicbavetta We went forward with the approach that I outlined in my earlier comment. It's similar to the Dynamic Client Registration spec. We are doing this for both Clients and API Resources. This approach seems like it will work for us but it is still very early. APIs are just starting to be ported over to the new registration model. So, we'll see how well it works in practice.

Again, our scena

[2018-01-31 02:41] johnsonps08 commented on #857
@justindrerup curious to know if you figured your issue out. Experiencing the same sort of issue and haven't been able to figure out a workaround. Thanks!

[2018-01-31 03:00] justindrerup commented on #857
@johnsonps08  - sorry, still haven't figured it out.  If you do, please share!

[2018-01-31 08:06] feco93 commented on #1186
@brockallen You mentioned that resource owner password grant would be a possible solution. In that case how would you store the client secret and refresh the access token? Is it possible solution to set the ISRV authentication URL to angular route?

[2018-01-31 09:16] gartak opened #2037 "idp claim is missing on identityserver4 v2.1.1"
Hi, I'm experimenting "idp claim is missing" in development environment (not tested in production, yet) with IdentityServer4 v2.1.1 and Asp.Net Core v2.0.5 for HybridAndClientCredentials flow.
The starting point was your Quickstart6 with AsNetIdentity, with some personalized settings to AppDbContext. Anyway, the thrown exception is:

InvalidOperationException: idp claim is missing
IdentityServer4.

[2018-01-31 10:19] ciptoj opened #2038 "Following Identity server test server demo Logout Logoutid null"
Please only use the issue tracker for bug reports and/or feature requests. For free or commercial support options, see [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

For bug reports,  include the relevant log files related to your issue. See here how to enable [logging](https://identityserver4.readthedocs.io/en/release/topics/logging.html). Delete t

[2018-01-31 11:54] gartak commented on #455
I'm interested to use localstorage instead of cookie, too.
There's some documentation about this feature?

[2018-01-31 14:30] wallymathieu opened #2039 "Bug in Basic Authentication parsing for client credentials"
We have noticed that some of our (NodeJS based) clients have started having issues connecting to IdentityServer4 using existing code. There are two issues related to this on the library that we use:

https://github.com/lelylan/simple-oauth2/issues/148

https://github.com/lelylan/simple-oauth2/issues/167

As far as we have found, we can't use any special chars in client secrets in newer versions of

[2018-01-31 21:08] nicbavetta commented on #1248
@agilenut Do you have any code that can be shared for this? I am only interested in the 1st party trust boundary.

[2018-02-01 02:31] techniq commented on #811
@karlpienaar glad I could help.  I don't drink, but cheers 🍺

[2018-02-01 06:05] TomCJones commented on #1971
another question - which is the priority?  core2.0 or fast release
Here's the problem, some 2 factor packages, like https://github.com/brucedog/U2F_Core
have core 2.0 packages, but so far as i have been able to tell, they all have .net framework 4.5 or 4.6.x dependencies. I thought i could rework the package above, but that will take some time as there still are things, like crypto, that are not y

[2018-02-01 06:13] DiginessForever commented on #2039
Have you posted a question to Stack Overflow?  Please do and post the link here.  You'll likely need to post at least some code fragments from your clients to go with that question.

[2018-02-01 06:20] wallymathieu commented on #2039
What kind of question would be suitable for stackoverflow?

The code to reproduce it is simply to use the above mentioned library to connect to identity server with a password that is different when url encoded.

https://github.com/lelylan/simple-oauth2/blob/master/example/index.js
[code]

[2018-02-01 06:22] wallymathieu commented on #2039
Since I've not read the spec, I was hoping that someone else could read it and say : yay or nay. If this is something that is wrong in identity server, then changing it might break things ...

[2018-02-01 06:29] leastprivilege commented on #2039
yes

https://identityserver4.readthedocs.io/en/release/intro/specs.html

[2018-02-01 06:33] wallymathieu commented on #2039
thanks @leastprivilege

[2018-02-01 06:36] wallymathieu commented on #2039
I'm closing the question, since it's answered.

[2018-02-01 06:39] wallymathieu commented on #2039
I currently have not enough time to file a full bug report. But someone with more time could perhaps do that ...

[2018-02-01 08:41] tomek14 commented on #1201
@siggirh can you give more brief background on this? How you solve it ? Becouse I'am facing the same problem

[2018-02-01 09:18] AKlaus commented on #1087
@Tratcher, your solution from the above with using an instance of `FacebookOptions`  to `Unprotect` `state` doesn't work on .NET Core v2 due to a different of setting the options in .NET Core v2 (see [migration docs ](https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/identity-2x)from v1 to v2).
`UseFacebookAuthentication(FacebookOptions options)` was replaced with `AddFacebook(Action

[2018-02-01 09:37] arekkas commented on #2039
If I may jump in here, username and password (from OAuth2 clients) must be url-encoded according to RC6749. This is to keep consistency between using them in POST body, query params, and headers as well as to prevent this: `user:name:password` (urlencoded: `user%3Aname:password`). If that's not the case, then you should consider fixing it.

[2018-02-01 10:23] siggirh commented on #1201
Our problem was when the user logged out we had a javascript redirect in the logout page where we redirected to our official landing page as soon as the redirect page started loading. We just needed to let the logout page finish rendering (so the iframes load properly and do their thing) and then redirect on a delayed timer.

[2018-02-01 12:59] ChristoKolander opened #2040 "HttpClient"
Hello!
Setting up an Identity Server Protected Web API, consuming it from an MVC Client - using the HttpClient class provided from Microsoft. As far as attaching the headers to the request, I only got it to work when explicitly attaching an authorization header with token in each controller action. No other way? Gets kind of bloated, this manual approach, but using a class library builder pattern

[2018-02-01 13:01] brockallen commented on #1971
I thought you were adding 2fa via ASP.NET Identity's support for RFC6238 authenticator apps?

[2018-02-01 13:01] brockallen commented on #2040
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-02-01 13:01] #2040 closed

[2018-02-01 13:22] brockallen commented on #2039
HTTP Basic says the username is TEXT (except the ":"), whereas 6749 says it's a form-urlencoded value. But those aren't exactly the same.

What we implemented was HTTP basic authentication, not the OAuth2 version of HTTP basic.

So this is what you think we need to change to?
`Authorization Basic Base64(FormUrlEncode(client_id):FormUrlEncode(client_secret))`

[2018-02-01 13:41] arekkas commented on #2039
That's how I solved it for [fosite](https://github.com/ory/fosite) & [hydra](https://github.com/ory/hydra)

[2018-02-01 15:57] CrustyJew commented on #1658
Out of curiosity @leastprivilege , why is that the only supported content-type?

[2018-02-01 17:41] brockallen commented on #1658
that's what the spec defines

[2018-02-01 18:04] TomCJones commented on #1971
the google authenticator is pretty lame as a 2nd factor, even google has moved on to U2F, but if the U2F stuff is not available on core 2.0 crypto at this point it makes sense to use it as a poc.

[2018-02-01 18:27] brockallen commented on #1971
Yea, this is just sample code so people know how to fit such things into the UI workflow. It's not meant to be their actual 2fa architecture.

[2018-02-02 08:16] bhaidar opened #2042 "Invalid object name 'Clients'"
Hello,
I am trying to generate migrations from a project hosting the Identity Server 4.
The project is configured with .NET core 2 and using the NUGET packages:

- IdentityServer4 (2.1.1)
- IdentityServer4.EntityFramework (2.1.1)

I've configured the Startup.cs as it should be, for instance:

[code]
Also, I've added a DesignTimeFactory class as follows:

[code]
Then, I create an empty Database man

[2018-02-02 13:48] jtheisen opened #2043 "ForbiddenResult from controller action leads to redirect"
### Issue / Steps to reproduce the problem

Bootstrap a ASP.NET Core webapi app from the VS templates.

Hook up IdentityServer4 just like so:

[code]

Write a controller action that returns a `ForbiddenResult`.

Query the action.

You get redirected to `/Account/AccessDenied`.

It's probably not IdentityServer4 directly that causes this, but it definitely causes it indirectly.

I want to have a we

[2018-02-02 13:49] jtheisen commented on #2043
I had [posted this question](https://github.com/IdentityServer/IdentityServer4/issues/2043) earlier on SO.

[2018-02-02 13:56] brockallen commented on #2042
I suspect you left in the code in `Startup` that tries to seeds the DB.

[2018-02-02 15:30] nicbavetta opened #2044 "Requesting access token with multiple scopes"
The 'RequestClientCredentialsAsync' TokenClient extension only allows a token to be requested for a single scope. What is the reasoning for this? **Is there a way to request a token that contains multiple scopes?** I thought this would be possible by passing a dictionary to the 'extra' parameter containing a { "scope", "scope_name" } pair, however, this did not work. Any insight? If this is not po

[2018-02-02 15:34] nicbavetta commented on #2044
Okay, I have found the solution. It _is_ possible.

You can pass multiple scope names to the 'scope' parameter. Each scope needs to be separated by a space. For example:

`await tokenClient.RequestClientCredentialsAsync("scope1 scope2");`

[2018-02-02 15:34] #2044 closed

[2018-02-02 15:49] nicbavetta commented on #1943
@chrisrestall Hope this helps: https://github.com/IdentityServer/IdentityServer4/issues/2044

[2018-02-02 16:52] bhaidar commented on #2042
Hi @brockallen
Indeed, I am calling this method from inside the Configure method in Startup and nothing there being called from inside the ConfigureSevices. I thought with EF Core 2.0, only ConfigureServices is called when doing migrations!

Is that wrong? How would that affect the migration thing? And how would I seed the DB?

[code]

[2018-02-02 17:21] robrtrix commented on #2042
I've been stuck on this for several hours. What's weird is that Quickstart #8, "QuickstartIdentityServer", does generate the tables when the DB doesn't exist, but taking out all of the ApplicationDbContext logic in "IdentityServerWithAspIdandEF" and thus almost the same startup.cs, still does NOT work.

Haven't found anything online about EF7 on Multiple Contexts and Migrations that is helping wit

[2018-02-02 17:24] bhaidar commented on #2042
Hello @robrtrix

@brockallen's note above made me think that I might need to comment out the Seeding logic up until the database is created. Here is what I did to make it work:

- Comment on the seed logic
- Create an empty database manually
- Generate migrations one per context (ConfigurationDbContext, PersistedGrantDbContext and UserDbContext)
- Issue a "database update" comment one per context

[2018-02-02 18:16] robrtrix commented on #2042
@bhaidar Thank you.

So the Migrations weren't working because I think we were missing the .designer.cs files for the ConfigurationDb and the PersistedGrantDb contexts. I figured out the content of the .designer.cs is identical to the Snapshot file, except the additional [Migration("XXX")] attribute, and then the BuildTargetModel method name vs BuildModel, and the class name is the same as the der

[2018-02-02 20:44] lgigrl commented on #2033
+1

We are asking ourselves the exact same questions around here. Could anyone provide some guidance?

[2018-02-02 20:59] Jackalex36 commented on #2033
We are wondering the same thing. From what we have seen, similar features are mostly possible in both cases but sometimes harder to achieve. Or at least it might be less straight forward to set up or less optimized.

The obvious difference is that the IS3 is archived, no longer in active development, beside major security patches. We can expect better community support, issue handling and document

[2018-02-02 22:00] FrankV01 commented on #399
Is `AddSigningCredential` the new name for `SetSigningCredential` or are these different?

[2018-02-03 08:28] damienbod opened #2045 "Feature Request RP-init logout optional ui_locales parameter"
As a user I want to set the culture when doing a RP logout using the ui_locales parameter.

Note: This will be included in the next specification release or draft.

https://bitbucket.org/openid/connect/issues/1017/session-management-rp-init-logout-proposal

  RP-Initiated Logout Will be updated with the ui_locales.

http://openid.net/specs/openid-connect-session-1_0.html#RPLogout

[2018-02-03 08:34] damienbod commented on #2045
related : https://github.com/IdentityServer/IdentityServer4/issues/1480

[2018-02-03 08:34] damienbod commented on #1480
@TomCJones

Here is the issue:

https://bitbucket.org/openid/connect/issues/1017/session-management-rp-init-logout-proposal

thanks

[2018-02-03 12:52] LaurentFromParis opened #2046 "[BEGINNER] IDX 10803 ISSUE IIS 8.5 HTTPS"
### Issue / Steps to reproduce the problem
Starting with Combined_AspNetIdentity_and_EntityFrameworkStorage

**launchSettings.json**
`
{
  "iisSettings": {
    "windowsAuthentication": false,
    "anonymousAuthentication": true,
    "iis": {
      "applicationUrl": "https://authorize.mydomain.suf",
      "sslPort": 443
    }
  },
  "profiles": {
    "IIS": {
      "commandName": "IIS",
      "laun

[2018-02-03 15:14] brockallen commented on #2042
Exactly. It's a chicken and egg issue. In the newer templates, I think we removed that approach for seeding.

[2018-02-03 15:56] TomCJones commented on #1480
It doesn't seem that this changes much. ui_locals could always have been added as it was always in the core spec. Now it will be explicitly listed as OPTIONAL for the logout instead of implicitly optional as it is today.  @leastprivilege asked if it were a common scenario. @brockallen said "there are other ways to track that for the logout page." It was also suggested to be added to one of the qui

[2018-02-03 16:03] TomCJones commented on #1480
By the way, where would the value be stored? in the application user object?

[2018-02-03 16:08] cormacrelf commented on #504
Thanks @Robban1980. Here's some PowerShell to add a cert to the store and then set the ACL appropriately, leaning on [this thread](https://social.technet.microsoft.com/Forums/windowsserver/en-US/1557e379-26a8-46d0-bf26-d32176395085/how-to-grant-permission-to-private-key-from-powershell?forum=winserverpowershell).

Note that it's `IIS_IUSRS`, at least on IIS 10. Note also that you will have to rest

[2018-02-03 16:24] LaurentFromParis commented on #2046
I found this very interesting post
[https://weblog.west-wind.com/posts/2017/Sep/09/Configuring-LetsEncrypt-for-ASPNET-Core-and-IIS#2.FixLetsEncrypt-WinSimpleWeb.config](url)
I think Let's Encrypt is the issue.
I tried proposed solutions but they didn't work

[2018-02-03 17:01] hugoqribeiro opened #2047 "WWW-Authenticate header in Unauthorized response"
I'm reproducing the question published on Stackoverflow as it didn't get any answer and because I am wondering if this may be related to the Identity Server 4 implementation.

[WWW-Authenticate header in Identity Server 4 Unauthorized response](https://stackoverflow.com/questions/48520034/www-authenticate-header-in-identity-server-4-unauthorized-response)

As I understand the OAuth spec [here](htt

[2018-02-03 18:07] empitegayan commented on #1786
this is exactly what i was looking for. thanks @matthewDDennis .. obviously they not going to disclose everything because they are looking for people to be get stucked and get back to them with commercial support option

[2018-02-03 20:44] brockallen commented on #1786
You're getting paid by your employer to write software, yes? Then why should you expect us to do work for you for free? You're already getting this FOSS that would otherwise cost your company money. Please stop with the childish attitude.

[2018-02-04 18:02] navidehsa commented on #1941
I am also using MySql and IdentityServer4 ,it seem persistedGrantDbContext.Database.Migrate doesn't create the table for me.when I use Sql server it works perfect but not in Mysql.

[2018-02-05 05:58] leastprivilege commented on #2047
The JWT handler from Microsoft (which we use internally) has not implemented that specific feature. You can handle the JWT events though and add the header yourself.

[2018-02-05 09:57] hugoqribeiro commented on #2047
Well, I have tried that like this:

[code]

But the event handler never gets called and I cannot figure out why.
I suspect that when no token is provided the error is returned before the JWT handler is called.
May be IDS is missing an extensibility point in this particular case, don't you think?

[2018-02-05 10:51] leastprivilege opened #2050 "Make DistributedCacheStateDataFormatter public"
@damianh needs it

[2018-02-05 10:52] #2050 closed

[2018-02-05 12:12] DominikPfeifer opened #2051 "EntityFramework LINQ expression cannot be translated"
### Issue / Steps to reproduce the problem

1. Use **Identityserver4.EntityFramework** package
2. Enable token cleanup

### Relevant parts of the log file

[code]

Line:
https://github.com/IdentityServer/IdentityServer4.EntityFramework/blob/1d7a862903b82c08f28d0787b1dafe1590e2f526/src/IdentityServer4.EntityFramework/TokenCleanup.cs#L113

### Fix
`.Where(x => x.Expiration.HasValue && x.Expiration.V

[2018-02-05 14:21] CrustyJew commented on #1658
Is that defined for any security reasons or just a base level compatibility? I'd think expanding it to include JSON wouldn't harm anything, especially since .NET handles most of those conversions.

[2018-02-05 14:26] brockallen commented on #1658
but then you won't be using standard libraries that know the protocol

[2018-02-05 14:27] brockallen commented on #2051
Which DB are you using?

[2018-02-05 14:33] CrustyJew commented on #1658
Oh I see what you're saying, it's to keep the clients from straying to non-standards based.

And if someone really needed it, I haven't checked, but it seems definitely extensible enough to manually implement it yourself.

Thanks for the time and satisfying my curiosity.

[2018-02-05 14:46] DominikPfeifer commented on #2051
I am currently using Sqlite for the Operational Store.

I only realized the Warning on our Seq Server ;)

I attached a RAW Log file from Seq
[event-826a571e6c7408d5e7a6b10200000000.txt](https://github.com/IdentityServer/IdentityServer4/files/1695531/event-826a571e6c7408d5e7a6b10200000000.txt)

[2018-02-05 14:53] brockallen commented on #2051
Ok... we'll have to determine is this is provider specific or not. Do you have other DBs you use?

[2018-02-05 15:18] DominikPfeifer commented on #2051
Currently we only have the SqliteDB.

I can test that tomorrow on a SqlServer too.

[2018-02-05 16:22] brockallen commented on #2051
Please do and let us know. Thanks.

[2018-02-06 00:59] speige commented on #1251
Fyi for future people who get this error. I caused this issue by changing the default cookie policy settings.

For Google OAuth I was getting "Correlation Failed". For Twitter I was getting "invalid cookie state".

			app.UseCookiePolicy(new CookiePolicyOptions()
			{
				HttpOnly = HttpOnlyPolicy.Always,
				Secure = CookieSecurePolicy.Always,
				MinimumSameSitePolicy = SameSiteMode.Strict
			})

[2018-02-06 07:51] leastprivilege opened #2053 "Update tests for FluentAssertions v5"
breaking changes

http://www.continuousimprover.com/2018/02/fluent-assertions-50-best-unit-test.html

[2018-02-06 08:41] DominikPfeifer commented on #2051
SqlServer works fine

aspnet/EntityFrameworkCore#10887

[2018-02-06 10:33] klemencicd commented on #1151
Does anyone has an answer to stt106's question? I also have resource owner grant type for client and would like to use either domain login or log in with user name and password. For domain login I used the sample from IdentityServer4.Quickstart.UI but I don't know how to use this to access API.

[2018-02-06 10:38] leastprivilege commented on #2053
done - thanks @Erwinvandervalk

[2018-02-06 10:38] #2053 closed

[2018-02-06 13:15] leastprivilege commented on #2047
This is really unrelated to IdentityServer - you can try to use the plain JwtBearer handler from Microsoft to see if your scenario is supported (I can't remember). That's what we use under the covers.

[2018-02-06 13:22] brockallen commented on #2051
Ok, so that tells me it's provider specific... so question is then -- what should be done (if anything)?

[2018-02-06 13:29] brockallen commented on #2046
I'd suggest first getting your HTTPS working in an ASP.NET Core app without IdentityServer. I don't think it's related to our OSS.

[2018-02-06 13:31] leastprivilege commented on #2039
fixed on dev

[2018-02-06 13:31] #2039 closed

[2018-02-06 13:31] brockallen commented on #2043
I suspect you need to set the scheme on the result to get the behavior you want.

[2018-02-06 13:32] brockallen commented on #2038
Not enough info. I'd suggest debugging into when you need a logoutId.

[2018-02-06 13:33] brockallen commented on #2037
Can you repro this in our samples and give us exect repo steps?

[2018-02-06 13:33] leastprivilege commented on #2034
well - that's a chicken/egg problem. There's no solution to that without introducing a special "registration" client or similar (check the dynamic client reg spec).

that being said

This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intr

[2018-02-06 13:33] #2034 closed

[2018-02-06 13:34] brockallen commented on #2036
This is already a feature -- check the docs on ApiResources and UserClaims.

[2018-02-06 13:35] brockallen commented on #1994
Closing. If you still have issues, feel free to reopen.

[2018-02-06 13:35] #1994 closed

[2018-02-06 13:35] brockallen commented on #2020
Closing. If you still have issues, feel free to reopen.

[2018-02-06 13:35] #2020 closed

[2018-02-06 13:36] #2025 closed

[2018-02-06 13:36] brockallen commented on #2032
Any update?

[2018-02-06 13:37] brockallen commented on #2033
We did a video showing what's new. Check our video listing: http://docs.identityserver.io/en/release/misc/videos.html

[2018-02-06 13:38] brockallen commented on #2042
Any update? Can we close this issue?

[2018-02-06 13:42] ciptoj commented on #2038
I already resolve this.
turns out in the angular need to configure redirect url,
http://xxxx/sign-inodc

On Tuesday, February 6, 2018, Brock Allen <notifications@github.com> wrote:

https://ci3.googleusercontent.com/proxy/4-q5Jr4Prk6wVqAjRprDamBj6sMTh5UU45H7Kf1Q-WGL8eksBowSMcZUsXEOV9YIOuMe08Pr29d6MQo19RgpuEx9yNaMJCKAlYiYD-KDhJxWCXAOIMc7x5g_eywsyfE1MwbUS3qfEUJFplTTiLN2ezYhB_yFow=s0-d-e1-ft#https://

[2018-02-06 14:01] cbfrank commented on #2032
I'm sorry that I'm a littly busy these days, and will creata a pull request after about two weeks.

[2018-02-06 14:19] joshmouch commented on #2020
It's still an issue, as I have no way to host IdentityServer and the site using it in the same web app.  It mostly works, but certain scenarios (e.g. deployment testing, azure auto-scaling, etc.) faile when you can't point to an internal Authority rather than an external one.

[2018-02-06 14:26] jtheisen commented on #2043
What scheme? I want the ForbiddenResult to cause a 403 as it's supposed to.

[2018-02-06 15:00] jtheisen commented on #2043
Indeed there's some conceptual stuff I don't know about yet. Returning some scheme doesn't redirect but throws some exception.

Ok, feel free to close this then.

[2018-02-06 15:02] jtheisen commented on #2043
You don't happen to know what IdentityServer does that sets this up though, do you?

[2018-02-06 16:10] gartak commented on #2037
My starting point was your Quickstart - 6_AspNetIdentity but I'm unable to reproduce the issue on this example, so it's something I've personalized on my Application.
Any idea to put me in the right direction to solve this issue?

[2018-02-06 19:28] LaurentFromParis commented on #2046
Thanks for your answer.
I try.
Best regards

[2018-02-07 07:48] DominikPfeifer commented on #2051
It will be fixed in the next EfCore release, so nothing should be necessary to do.

Thanks for the investigation :)

[2018-02-07 07:48] #2051 closed

[2018-02-07 08:33] LindaLawton opened #2055 "Consider create datetime on ClientSecret"
Client secrets are created and we can have more then one.     I was thinking that our developers may create several client secrets.      It would be nice to know when a secret was created.   My current solution is to add a time stamp to the description property which works but isn't ideal.

I am willing to submit a pull request on this if you agree its wroth adding.

[2018-02-07 10:52] henkli opened #2056 "Add option to allow credentials in CorsPolicyProvider"
To be able to re-authenticate on-the-fly, it would be great to have an option in CorsPolicyProvider to set AllowCredentials on the CorsPolicyBuilder.
If this is not possible/wanted, another option would be to be able to override CorsPolicyProvider and provide an own implementation.

In short, in CorsPolicyProvider.cs instead of this:
[code]

I want to do this:
[code]

[2018-02-07 12:44] leastprivilege commented on #2055
This would mean a schema change - and we try to avoid that..

I will put it in backlog.

[2018-02-07 13:03] LindaLawton commented on #2055
Do you have any idea how much hair pulling i have had from the schema changes in 1.x -> 2.0 upgrade?

I kind of thought you guys loved schema changes :)

[2018-02-07 14:38] brockallen commented on #2020
Two different authority URLs are two different token servers, at least that's how the specs work.

[2018-02-07 14:39] #2046 closed

[2018-02-07 14:40] brockallen commented on #2043
Check our docs, or look at the code -- those are the best ways to learn it and understand how it works.

[2018-02-07 14:40] #2043 closed

[2018-02-07 14:41] brockallen commented on #2055
Migrations are the concern of the hosting application. This is because fundamentally EF migrations don't support library style schemas.

[2018-02-07 14:42] #2038 closed

[2018-02-07 16:15] henkli commented on #2056
Basically, this is the setup:
SPA app gets id token from idsrv using WS Federation.
Id token expires, client does an AJAX request to app, which fails because id token has expired.

Instead of asking the user to reauthenticate, I do an inflight ajax request to idsrv to get a new id token, and resend the original ajax request.

If credentials are not passed to idsrv for the inflight re-auth request,

[2018-02-07 16:45] brockallen commented on #2056
That doesn't make sense to me. You mean SPA uses OIDC to IdentityServer, and IdentityServer uses ws-fed to some upstream IdP?

This doesn't make sense to me either. JS apps don't use id_token to make Ajax calls. They use access tokens.

[2018-02-07 17:19] DiginessForever commented on #2042
I'm about to hit quickstart 8.  I'm waiting on some feedback to a question in StackOverflow (on quickstart 7 - I noticed that a lot of the model/views from quickstart 6 were just dropped out of the project) before moving forward.  If I have trouble, I'll comment on it.

[2018-02-08 08:19] Iamcerba opened #2057 "Question: Why access_token is not updated with new scopes during refresh token request?"
Hi **Guys**,

**I have the following setup (for IdentityServer4 v1.5.2)**:

[code]

**Use case**:

1. I would like to add **new** ApiResource:
[code]

2. Then I update existing client with new scope:

[code]

**The question is**:

All existing reference tokens are not updated with new scopes during refresh token request (**Please find info about updated reference token from Data column in Persiste

[2018-02-08 10:38] henkli commented on #2056
You're correct in your assumptions, sorry for the haphazard explanation. I'll try to open more details as I discover them myself.

The endpoint I'm interested in allowing CORS credentials for, is the /wsfed endpoint, which is based on your IdentityServer4.WsFederation WsFederationController sample. Without CORS allowing credentials to be passed, the session cookie for WsFederationController isn't

[2018-02-08 10:38] fredrik-lundin opened #2058 "Forcing login on request to authorization endpoint - without using prompt"
Hi,

I'm in a scenario where our SSO (identity server) has several clients. Different clients requires to be authenticated using different authentication methods.

**QUESTION/TL;DR:**
Can we force identity server to run our login logic when in an already authenticated state, without having the user include _prompt="login"_ in their auth request?

**Background:**
To make this work right now, we are

[2018-02-08 11:53] andy194 opened #2059 ".Net Framework 4.6.2 MVC Application."
Hi,
I've been through the "quick starts" as far as getting ID4 run-able and responding correctly to the example MVC .net core application.

We have an already existing .net application which is using MembershipReboot that we'd like to switch to using ID4.  As a quick test I created an basic .Net Framework 4.6.2 MVC app and have the startup.cs file set as follows...

[code]
In ID4 config, I created

[2018-02-08 12:03] leastprivilege commented on #2058
You can derive from our default authorize interaction generator - and always trigger login. Don't have a sample - but search for an interface with Interaction in it ;)

[2018-02-08 12:54] docseuss commented on #577
leastprivilege I am having difficulties deploying to Azure as well. I have created a new project using the dotnet new is4ef template and have the solution up and running on my local machine. However when I publish to Azure the site never comes up.
Link to published server is http://gambitcreationspawsidentityserver.azurewebsites.net/

Are there any special steps needed to get this up and running i

[2018-02-08 13:40] justmara opened #2060 "AbsoluteRefreshTokenLifetime=0 for 1.5.2"
### Issue / Steps to reproduce the problem
Currentl documentation [says](http://docs.identityserver.io/en/release/topics/refresh_tokens.html?highlight=AbsoluteRefreshTokenLifetime):

Maximum lifetime of a refresh token in seconds. Defaults to 2592000 seconds / 30 days. **Zero allows refresh tokens that never expire when used with RefreshTokenExpiration = Sliding.**

So if we use this code with 1.5

[2018-02-08 16:44] NazmiAltun opened #2061 "Question : Client Credentials to authorize a controller on Identity Server"
Is it possible to authorize  an api controller , that is implemented on identity server app , to a particular client  by using client credentials grant type?

For example on identity server i have a controller such as;

[code]
and i have a client  with following config;
[code]

I want  GetAllUsers  method to be authorized only to the client above . Is this possible without user login?

[2018-02-08 17:41] timcodesdotnet commented on #1842
@dlemstra would it be possible for you to post your middleware? I've tried to do something similar, but it does not get hit on the authorize endpoint. The only way I've thought to add the unsafe-inline on there is to build a custom IdentityServer package, which I really don't want to do.

I am having issues with Safari <= 9 not liking the hash in the CSP.

[2018-02-08 18:16] alexander-schmidt-it opened #2062 "Configure WebApp to authenticate users and clients not working..."
### Issue / Steps to reproduce the problem
Add this to startup:

[code]

Assuming client: with client id = "client" and allowed scope "api1"

Part 1 alone works perfectly to authenticate "client" to the webapp.

Adding
Part2 "client" will be rejected and redirect to sso/identityserver. But authenticating users works with this added code.

Rearranging Code fragments keeps logic the same.

[2018-02-08 18:25] dlemstra commented on #1842
@timcodesdotnet Still hoping this will get merged soon so we can get rid of the middleware. Will need to ask my manager if we can share this. But I can probably tell how we did it. Will get back to you on this tomorrow.

[2018-02-09 05:29] SarapinIT opened #2063 "ClientSecretValidationResult.Error and ClientSecretValidationResult.ErrorDescription not used"
Hello, i'm try to add Custom realization of IClientSecretValidator with custom Error and ErrorDescription in returned ClientSecretValidationResult. But i find that Error and ErrorDescription fields not used in Endpoint result.

IdentityServer4.Endpoints.TokenRevocationEndpoint
[code]

IdentityServer4.Endpoints.TokenEndpoint
[code]

Can we use Error and ErrorDescription in Error ctor and TokenRevoc

[2018-02-09 06:07] Iamcerba commented on #2060
I solved this issue by overriding UpdateRefreshTokenAsync method from DefaultRefreshTokenService:

[code]

[2018-02-09 08:58] fredrik-lundin commented on #2058
Thanks for a very quick response and a great product!

Following your suggestion worked fine for us. Here is a really quick explanation of we solved it, if someone finding the issue in the future would be interested :)

1. Derived from `AuthorizeInteractionResponseGenerator` and overrode the `ProcessLoginAsync` method

[code]

2. Replace the default Identity Server implementation of `IAuthorizeInt

[2018-02-09 08:58] #2058 closed

[2018-02-09 12:50] nkolchakov commented on #1396
How it should be ?

[2018-02-09 13:15] Astimus opened #2064 "Loop on requests (HTTPS/HTTP cookies issue)"
I have similar problem as discribed in this [link](https://github.com/IdentityServer/IdentityServer3/issues/294).

I have IdSrv4 and Node.js with oidc-client-js. Both of them can work on http and https. I have option in settings. So if client authenticated throw http. And platform rebooted with https. Client trying to login again and have problem which described in link above. How to fix such beha

[2018-02-10 02:37] brockallen commented on #2061
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-02-10 02:37] #2061 closed

[2018-02-10 02:38] brockallen commented on #2062
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-02-10 02:38] #2062 closed

[2018-02-10 02:40] brockallen commented on #2064
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-02-10 02:40] #2064 closed

[2018-02-10 02:43] #2033 closed

[2018-02-10 02:43] #2036 closed

[2018-02-10 02:45] brockallen commented on #2037
There are several other issues in the archive which discuss this. Several have solutions that explain when this happens.

[2018-02-10 02:45] #2037 closed

[2018-02-10 02:45] #2042 closed

[2018-02-10 12:35] patricknolan commented on #1173
@nukec asked if AutomaticAuthenticate and AutomaticChallenge are obsolete and what the replacement is but there doesn't seem to be an answer posted. Could someone please confirm what has happened to these two properties?

[2018-02-11 09:47] SaviCarlone opened #2065 "IdentityServer4 suggested architecture for n per m users per profiles"
I am really new to IdentityServer but I really appreciate it.
The app I am going to build is a game G1 where a user U1 can logon with standard user/pwd and then has a default profile for G1 that we can call P1 (let's say team name, etc..). So U1 owns P1 profile, U2 owns P2 profile and so on, but at a certain time U1 can say: "I want to share my P1 profile with U2 (in readonly/in read-write)". From

[2018-02-11 14:51] leastprivilege commented on #2065
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-02-11 14:51] #2065 closed

[2018-02-11 16:52] brockallen commented on #2059
Sorry, it's not clear what the issue is. It also sounds more like the issue is on your client app, rather than anything wrong going on in IdentityServer.

[2018-02-11 16:53] brockallen commented on #2057
Refresh tokens can't be used to gain access to scopes beyond those of the original grant. That's covered somewhere in the spec.... I don't recall where.

[2018-02-11 16:54] brockallen commented on #2060
I don't see us adding this back to the 1.x branch. I'd suggest doing what @Iamcerba suggested.

[2018-02-11 17:11] Iamcerba commented on #2057
I understood, thanks. Looks like you are talking about [RFC 6749](https://tools.ietf.org/html/rfc6749#section-6):

"The requested scope MUST NOT include any scope not originally granted by the resource owner, and if omitted is treated as equal to the scope originally granted by the resource owner."

[2018-02-11 17:12] #2057 closed

[2018-02-11 19:30] justmara commented on #2060
@brockallen surely I can avoid this misbehavior the way @Iamcerba suggested. **BUT** 1.5.2 still **IS** the actual version for aspnet core 1.x and IdentityServer4. And it works **not** like documentation says. So looks like this is what can surely be called _a bug_.
So you can add remark to documentation saying "_infinite AbsoluteLifeTime can be set only in 2.x package version_" or you can merge t

[2018-02-11 20:09] leastprivilege commented on #2060
Something wrong with the docs?

[2018-02-12 05:53] himalpatel81 opened #2066 "Signout for Google External Identity Provider isn't working"
I'm using the [Sample Project](https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Quickstarts/4_ImplicitFlowAuthenticationWithExternal) which works against Google as External Authentication provider.
During Signout, I also want to signout the user from Google. But that isn't happening.
It only signout the user from the MVC App.

[2018-02-12 06:49] justmara commented on #2060
@leastprivilege ohshi... **there is version selector**! ok then, it `looks legit` now :) I'll close this issue/pr

[2018-02-12 06:49] #2060 closed

[2018-02-12 09:14] andy194 commented on #2059
I didn't point the finger at ID4, just want to know whether there were some missing settings as 'the issue' is Identity Server 'appears' to be not replying in a way that a .net framework web application understands.

I needed to ask the question of someone who is working with ID4 on a daily basis as all the examples for ID4, that I can find, are for .net core not .net framework so there's nothing

[2018-02-12 13:08] brockallen commented on #2059
The issue tracker for IdentityServer is not for general questions. If you have a problem with how to configure components ASP.NET Core (which is what you're struggling with above), then contact Microsoft's support, please.

[2018-02-12 13:09] brockallen commented on #2066
Googles doesn't support that.

[2018-02-12 13:09] #2066 closed

[2018-02-12 13:27] andy194 commented on #2059
I'm not struggling with .net core.  The client and server are working when it's a .net core web application contacting Identity Server, it doesn't when it's contacted from a .net framework app.  I thought this was fairly clear from the descriptions I've provided previously.   I believe it's an issue because there's no response from ID4 back to a .net framework app.

[2018-02-12 18:29] neyromant opened #2067 "Why does the IdentityServer4.EntityFramework project not use asynchronous EF methods?"
Hi, I'm surprised that all calls to Db Context are synchronous. And I'm ready to replace them with asynchronous ones.
I wanted to know why it was not done before?

Is there any good reason for this?

[2018-02-12 18:41] neyromant commented on #2067
UPD:
@brockallen I found your use_async_ef branch (https://github.com/IdentityServer/IdentityServer4.EntityFramework/compare/use_async_ef)

Is there any reasons why it does not merge into the main branch?

[2018-02-12 18:59] brockallen commented on #2067
We've had issues with the underlying EF implementation under load.

[2018-02-12 19:05] neyromant commented on #2067
Currently we can see the following behavior - under load and with a long ping to DB, all application's threads get busy. Kestrel successfully processes connections, but the application is not responsible for sufficient time.

[2018-02-12 19:11] neyromant commented on #2067
Can we find out what kind of problems you had? Maybe you have stress tests?

[2018-02-12 19:41] neyromant commented on #2067
I have another question - why do not you use AsNoTracking for read-only queries? Is there any reason for this?

[2018-02-13 04:23] xplatsolutions opened #2068 "Converting to .NET Core 2.0 broke the client"
Identity server updating to `IdentityServer4 v2.1.2`. I only replaced `AddTemporarySigningCredential` with
`AddDeveloperSigningCredential`.

[code]

Client after updating to` IdentityServer4.AccessTokenValidation v2.3.0`.

Removed from Configure method.
[code]

And added in `ConfigureServices` below the `AddAuthorization`.

[code]

Requesting a token from the auth service returns a bearer access t

[2018-02-13 04:33] xplatsolutions commented on #2068
Looks like `app.UseAuthentication();` is needed in `Configure`.

[2018-02-13 04:33] #2068 closed

[2018-02-13 04:42] DiginessForever commented on #2042
Yeah, the quickstart 8 repo seeder migration works.

[2018-02-13 07:51] LindaLawton commented on #2059
@andy194  sounds like its a issue with your redirect uri like your not getting the response back.   This really isnt an issue with this library you may want to consider asking a question on stackoverflow.com

[2018-02-13 08:36] navidehsa commented on #1970
I am trying to implement reset password , I am not sure how to create callbackurl which should be send by email??would please help me on that?

[2018-02-13 12:16] #2059 closed

[2018-02-13 15:31] juniormayhe commented on #647
@m-shanti I was wandering if you have seen this url: [](https://stackoverflow.com/questions/35304038/identityserver4-register-userservice-and-get-users-from-database-in-asp-net-core)

There are some code samples there that could help you out

[2018-02-13 15:32] dlemstra commented on #1842
@timcodesdotnet  We use the `UseMiddleware` extension method of `IApplicationBuilder` to register the middleware.  And in your `Invoke` method you will need to do `context.Response.OnStarting(yourFuncThatChangesTheHeader, context)` to get access to the response.

[2018-02-13 15:40] timcodesdotnet commented on #1842
@dlemstra thank you. I have tried this method but it doesn't affect the authorize endpoint, unless I did something wrong? I guess I need to wait for this PR to be merged.

[2018-02-13 15:42] dlemstra commented on #1842
@timcodesdotnet Did you register the Middleware before you called `app.UseIdentityServer();`?

[2018-02-13 16:24] timcodesdotnet commented on #1842
@dlemstra :/ no...many thanks for the pointers, that's working now. Look forward to replacing it soon with your new option.

[2018-02-13 16:58] dlemstra commented on #1842
@timcodesdotnet Happy to hear you managed to resolve it. Also hope we can use this new option soon :)

[2018-02-13 17:07] gartak commented on #1878
@atpyk, sorry for my limits, but I'm into this issue too. Can you explain in more details what have you done to solve this problem?
Many thanks

[2018-02-13 18:25] neyromant commented on #2067
@brockallen I added AsNoTracking for readonly queries - https://github.com/IdentityServer/IdentityServer4.EntityFramework/pull/136

[2018-02-13 19:49] brockallen commented on #2067
What does `AsNoTracking` do? How does it affect different providers?

[2018-02-13 21:08] vladbondarenko1 opened #2069 "Discovery endpoint retrieval problem"
Hi. Have a problem with discovery document endpoint.
**Steps:**

1. Stop the IdentityServer website.
2. Start application which use IdentityServer authentication
3. Make a request to application
4. Start the IdentityServer website.
5. Make the request again

**Expected result**

Step 3 fails with
`System.InvalidOperationException: Error parsing discovery document from http://localhost:9090/.well-k

[2018-02-13 21:34] TomCJones commented on #2067
Is this designed to hold the value of DNT - or DoNotTrack from the HTTP header?

DNT would mean (inter alia) that any existing OP signin cannot store or release information about the sites visited. (Obviously the OP does record all the clients that have been registered for a user, at least if pairwise sub is implemented.) It should imply that no client or external provider can get any information

[2018-02-13 22:56] HerbBenton opened #2070 "NuGet Install Error for 'IdentityServer4.AspNetIdentity 2.1.0'"
The Nuget Package install fails when attempting to add the package to an WebForms .Net Standard (4.5.2)project. I see there are others that have had this issue but no work arounds are posted ...

Error message:
Could not install package 'IdentityServer4.AspNetIdentity 2.1.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5.2', but the package does not

[2018-02-14 01:04] chrisowhite commented on #2070
.NET Standard 2.0 is not compatible with .NET Framework 4.5.1.

https://docs.microsoft.com/en-us/dotnet/standard/net-standard

[2018-02-14 07:38] LindaLawton opened #2071 "[BUG] Cant load one of the samples on windows do to path to long."
This issue is cross posted from [IdentityServer4.Samples](https://github.com/IdentityServer/IdentityServer4.Samples/)

### Issue / Steps to reproduce the problem

On windows 10 VS17  try to open the solution file associated with [Combined_AspNetIdentity_and_EntityFrameworkStorage](https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Quickstarts/Combined_AspNetIdentity_and_EntityF

[2018-02-14 08:22] neyromant commented on #2067
@brockallen  AsNoTracking avoids the overhead of setting up change tracking for each entity instance

[2018-02-14 13:23] brockallen commented on #2067
Since this store API is designed as read-only, would it make more sense to set this globally? https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.changetracking.changetracker.querytrackingbehavior?view=efcore-2.0#Microsoft_EntityFrameworkCore_ChangeTracking_ChangeTracker_QueryTrackingBehavior?

[2018-02-14 13:23] brockallen commented on #2071
Didn't someone just recently update the docs or quickstarts with a note about avoiding this?

[2018-02-14 13:25] brockallen commented on #2069
Do you know if this is an issue in the client libraries or something in IdentityServer itself?

[2018-02-14 13:50] scottbrady91 commented on #2067
On a per project basis, yes. It would be a breaking change to bring into the EF library though. A lot of people are using the context's and our registrations for client & scope management.

[2018-02-14 13:51] LindaLawton opened #2072 "Feature Request: Consider checking [AccessTokenLifetime] to something other than 0"
### Issue / Steps to reproduce the problem

I recently manually inserted a client into the database in error i had forgotten to set the [AccessTokenLifetime] which lead to the following error

### Relevant parts of the log file

### Suggestion / question

When we validate the client as the user logs in would it be possible / a good idea to validate that the access-token life time is not set to 0.

[2018-02-14 13:54] brockallen commented on #2067
Also, does anyone really know the perf difference for using this?

[2018-02-14 13:56] MV10 opened #2073 "Feature Request: Standard .NET events for purposes other than logging"
Any chance you'd consider raising events through the normal .NET event system? This should make it easy to respond to things like a successful login where OIDC Prompt is set to "none".

My client app registers a non-default OIDC challenge with no UI to achieve persistent login (between sessions -- a silent challenge when a new anonymous user first arrives). We'd like to update the user data's "las

[2018-02-14 14:44] vladbondarenko1 commented on #2069
Looks like that issue is in `IdentityModel.AspNetCore.OAuth2Introspection` library
in `PostConfigureOAuth2IntrospectionOptions` class `GetIntrospectionEndpointFromDiscoveryDocument ` method

[2018-02-14 15:01] brockallen commented on #2069
Open an issue on that repo then, please.

[2018-02-14 15:12] vladbondarenko1 commented on #2069
Already opened https://github.com/IdentityModel/IdentityModel.AspNetCore.OAuth2Introspection/issues/26

[2018-02-14 17:02] #2069 closed

[2018-02-14 18:38] andy194 commented on #2059
Why oh why didn't someone just point me to the page on the subject?  This is for anyone else looking for an answer...

https://leastprivilege.com/2017/03/03/extending-identityserver4-with-ws-federation-support/

[2018-02-14 19:38] neyromant commented on #2067
@brockallen I have prepared some simple benchmarks (https://github.com/neyromant/Benchmarks/blob/master/Benchmarks/AsNoTracking/AsNoTrackingTests.cs) using BenchmarkDotNet (https://github.com/dotnet/BenchmarkDotNet)

Here is the results:

Method | Records | DbType | Mean | Error | StdDev | Scaled | Gen 0 | Gen 1 | Gen 2 | Allocated
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
Track | 1 | I

[2018-02-14 21:44] manojkgarg commented on #1987
I have similar situation.
Is anything available now for migrating tokens from IDM3 to IDM4.

[2018-02-14 23:10] manojkgarg opened #2074 "Convert reference tokens from Identity server 3 to Identity server 4"
This issue has been discussed and closed in 2016.
https://github.com/IdentityServer/IdentityServer4/issues/1987

Just want to know, if it is possible now.
Or some else implemented something like this.

[2018-02-15 13:02] #2071 closed

[2018-02-16 04:59] drjaydenm opened #2076 "XML API documentation"
Hi there, great work on IdentityServer4!

We are implementing this software and are using Swagger/Swashbuckle to document the API for the identity server. Our own endpoints are showing correctly in the docs, however the IdentityServer4 endpoints do not show (obviously because they are part of the middleware & not part of our application code).

Is it possible to include a way to get the XML docume

[2018-02-16 05:00] brockallen commented on #2076
This is not the first time I've seen this request. What's the use case... or who would the consumer of these APIs be? The reason this is somewhat of an odd request (to me) is that the specs defines these endpoints, so I'm confused as to why they need to be documented in something like swagger.

[2018-02-16 05:09] drjaydenm commented on #2076
We have 6 dev teams all looking to utilize this system for different applications, some of them aren't using the .NET stack so can't make use of all the IdentityServer* libraries.
Arguably they should probably use some other sort of OAuth/OpenID framework to do the calls for them, but some are legacy systems. But having these endpoints all documented in one place makes it easy to visualize what th

[2018-02-16 06:23] leastprivilege commented on #2076
We discovery endpoint has a list of all protocol endpoints - and the corresponding specs document them.

https://identityserver4.readthedocs.io/en/release/intro/specs.html

We have no other plans beyond that.

[2018-02-16 06:23] #2076 closed

[2018-02-16 07:13] Sathiyamm opened #2077 "How to refresh identity token ?"
I'm generating token in the login time

` var identityService = await DiscoveryClient.GetAsync("http://localhost:5000");
                        // request token
                        var tokenClient = new TokenClient(identityService.TokenEndpoint, "ro.client", "secret");
                        tokenResponse = await tokenClient.RequestResourceOwnerPasswordAsync(user.UserName, model.Password, "a

[2018-02-16 07:22] Sathiyamm opened #2078 "How to refresh that identity token in mobile?"
I'm generating token in the login time

` var identityService = await DiscoveryClient.GetAsync("http://localhost:5000");
                        // request token
                        var tokenClient = new TokenClient(identityService.TokenEndpoint, "ro.client", "secret");
                        tokenResponse = await tokenClient.RequestResourceOwnerPasswordAsync(user.UserName, model.Password, "a

[2018-02-16 07:22] #2077 closed

[2018-02-16 13:56] brockallen commented on #2078
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-02-16 13:56] #2078 closed

[2018-02-16 13:57] brockallen commented on #2073
I'm not entirely sure what this means.

[2018-02-16 13:58] brockallen commented on #2074
The answer hasn't changed from the prior issue.

[2018-02-16 13:58] #2074 closed

[2018-02-16 14:04] MovGP0 opened #2079 "Feature Request: Code Example using TwoStepsAuthenticator"
### Issue / Steps to reproduce the problem

There should be an example for 2-step authentication using the Time-Based One-Time Password Algorithm (TOTP).

There is an open source project for this here: [TwoStepsAuthenticator](https://github.com/glacasa/TwoStepsAuthenticator)

### Secondary goal

Implement an example using a QR Code (maybe [this library](https://github.com/codebude/QRCoder)?) on th

[2018-02-16 18:26] brockallen opened #2080 "Potential URL host encoding"
https://github.com/aspnet/Security/issues/1646#issuecomment-366311408

[2018-02-16 21:05] mackvatoloco commented on #1783
Anwering the original question for everyone still trying to figure this out.
Try using the same configuration method used in IdentityServer4.

Create a class that implements IConfigureNamedOptions<CookieAuthenticationOptions>.

[code]

Then add it to services collection in your startup.

`services.AddSingleton<IConfigureOptions<CookieAuthenticationOptions>, ConfigureCookieOptions>();`

This way Co

[2018-02-16 21:30] MV10 commented on #2073
I was assuming events like `UserLoginSuccess` were generally raised (logged), but now I see it's only raised in the case of [`TokenRequestValidator`](https://github.com/IdentityServer/IdentityServer4/blob/c7eade457ec75a6ea99af307293776011a8d1717/src/IdentityServer4/Validation/TokenRequestValidator.cs#L732). I was referring to exposure of events internal to Identity Server (by which I mean, excludi

[2018-02-16 22:11] brockallen commented on #2073
I don't foresee us moving in that direction: 1) it's a major breaking change, and 2) it's not DI friendly and counter to the ASP.NET Core style

[2018-02-17 07:26] cbfrank commented on #2032
Hi, The pull request has been submitted. #2081

[2018-02-17 11:06] MV10 commented on #2073
Is there an existing way to add code that is guaranteed to run in response to a successful login?

[2018-02-17 12:49] leastprivilege commented on #2073
Logins only happen on the account controller. This is your code anyways.

[2018-02-19 11:55] mule commented on #1124
I know this is old and closed  but ts this a bug or is it caused by some config issue etc?
Because the code in PrincipalExtensions.cs is still the same. Just asking because I have the exact same problem and AFAIK there is no PR to fix this.
Anyways, going to use the fix provided by @mikeandersun for now at least.

[2018-02-19 14:14] hubertstrk opened #2082 "Token verification fails caused by missing kid"
I am trying to use the external login functionality with Identity Server 4.2 where I get the following exception: `System.Exception: Correlation failed` ([correlation-failed.txt](https://github.com/IdentityServer/IdentityServer4/files/1736981/correlation-failed.txt))

Currently there are a few uncertainties for me. Therefore to get a better insight I used the [https://openidconnect.net](https://op

[2018-02-19 14:51] brockallen commented on #2082
I don't understand -- IdentityServer always provides a kid, so which token server are you talking about when you say the kid is missing?

Also, this error:

Is a client-side error typically due to cookie issues (which means it's unrelated to IdentityServer). Check with Microsoft support on this issue -- there are tons of issues related to it since many people run into it.

[2018-02-19 15:34] NilsEngelbach opened #2083 "JWT client authentication only supports "self issued" assertions"
When looking into the code for client assertion i stumbled over this line:

`"Both 'sub' and 'iss' in the client assertion token must have a value of client_id."`

https://github.com/IdentityServer/IdentityServer4/blob/2fec5dbcf4f8eea735d3d616296caad9540ebdb9/src/IdentityServer4/Validation/PrivateKeyJwtSecretValidator.cs#L104

In the [Open ID Spec](http://openid.net/specs/openid-connect-core-1_0.h

[2018-02-19 16:15] alesdvorakcz opened #2084 "Question: How to set different IdentityServerAuthenticationOptions for integration tests?"
Hello, in older version, it was possible to set IdentityServerAuthenticationOptions as a singleton to DI Container like this:
[code]

but now I cant find any way ho to do it (I need different settings for production/development and different for integration testing (there identity server runs in memory trough TestServer).
I tried something like this
[code]
but it looks I cant create from scratch m

[2018-02-19 16:30] stefanlohr opened #2085 "Strange Behavior in SecretValidator "HashedSharedSecretValidator""
we upgraded from IdentityServer 1.52 to 2.1.2 and after the update most of your users (all with sharedsecret) cant get a bearer token anymore.

we have a client naming schema which is more or less like "<type><.name>" like interface.company_a or postman.<name>

i can create new secrets with an old client and it will not work - also renaming will not work. i can create new clients following our nam

[2018-02-19 18:39] rshramko opened #2086 "Plus character in client's secret causes failed secret validation"
We upgraded from IdentityServer4 from 2.1.1 to 2.1.2 and suddenly discovered that some of our clients cannot get tokens using client_credentials grant type anymore.

We quickly looked into the issue and found out that if a client has the plus character in its secret (+) and the client sends the secret using Basic authentication header, this leads to the auth failure. If the client sends the secret

[2018-02-19 19:22] brockallen commented on #2083
For a token issues by a separate STS, then you'd implement it as an extension grant: http://docs.identityserver.io/en/release/topics/extension_grants.html

[2018-02-19 19:24] brockallen commented on #2084
Here's how we do it: https://github.com/IdentityServer/IdentityServer4/blob/dev/test/IdentityServer.IntegrationTests/Common/IdentityServerPipeline.cs#L74

[2018-02-19 19:28] neyromant commented on #2067
What do you think about it?

[2018-02-19 20:13] brockallen commented on #2067
I've not had time to consider it. In general I think I will like the idea -- I just need to spend the time learning more about it.

[2018-02-19 20:52] XplMarcel opened #2087 "Session cookie(s) not removed after logout with MVC hybrid client"
If i logout using my MVC client, the browser gets correctly redirected to the /endsession endpoint, which in turn calls the Logout on the AccountController.

[code]

However, after returning to the MVC client the idsrv.session cookie and .AspNetCore.Identity.Application cookie are still present in the browser. Isn't the HttpContext.SignOutAsync() responsible for removing those local cookies ?
How

[2018-02-19 21:56] brockallen commented on #2087
It clears the default signout scheme. Sounds like there might be some misconfig in your ASP.NET authentication schemes.

[2018-02-20 08:02] alesdvorakcz commented on #2084
so there is no way how to do it with .UseStartup<Startup>() ?

[2018-02-20 08:08] leastprivilege commented on #2086
We recently fixed a bug with how credentials transmitted via the authorization header are decoded (https://tools.ietf.org/html/rfc6749#section-2.3.1).

My guess is you are also encoding them not 100% correctly. See this discussion:

https://github.com/IdentityServer/IdentityServer4/issues/2039

[2018-02-20 08:09] leastprivilege commented on #2085
We recently fixed a bug with how credentials transmitted via the authorization header are decoded (https://tools.ietf.org/html/rfc6749#section-2.3.1).

My guess is you are also encoding them not 100% correctly. See this discussion:

https://github.com/IdentityServer/IdentityServer4/issues/2039

[2018-02-20 08:35] stefanlohr commented on #2085
i use postman to test our api and to get the bearer tokens.

![2018-02-20 09_33_17-postman](https://user-images.githubusercontent.com/5890459/36414072-3855f9e8-1621-11e8-85ea-2d2ec95a3b49.png)

i tried this manual with the credtials like described in the mentioned post
`Authorization Basic Base64(FormUrlEncode(client_id):FormUrlEncode(client_secret)`
i still got bad request.

[2018-02-20 09:04] leastprivilege commented on #2085
Hm - then this needs some debugging.

[2018-02-20 09:39] rshramko commented on #2086
@leastprivilege Thank you for the clarification, now it's clear why the plus character doesn't work anymore.

Well, I won't be arguing about the correctness, or incorrectness of the fix applied. As for me this smells like a problem with RFC6749 itself.

Responding to to your question: yes, we don't do URL-encoding of secret in our internal implementation, we need to adjust the code.

And so do our

[2018-02-20 09:51] ozonni commented on #2086
this literally brakes all clients in the world, starting with `curl` and millions of nodejs/js libs for oatuh. @leastprivilege how am i suppose to ask all of them suddenly adjust the way they send credentials to us?

[2018-02-20 11:31] stefanlohr commented on #2085
what can i do to debug this?

[2018-02-20 11:58] Sathiyamm opened #2088 "How to got new access token using refresh token? #Help Wanted"
Hi, I'm got new access code using refresh code. That time refresh code gets null in new token response.Is it correct?
And **one more time RefreshAccessToken method call in same refresh code** using that time I'm getting **Error = "invalid_grant".**
Is it correct or any mistakes in doing?

[code]

[2018-02-20 12:16] leastprivilege commented on #2086
I understand - and I also didn't know it. But we got error reports from people using spec-compliant client libraries where we decoded the secret using standard basic authN.

I guess the fact is that OAuth2 does NOT use basic authentication - but their own flavour of it.

As an alternative you can always send client id and secret in the POST body instead.

[2018-02-20 12:19] leastprivilege commented on #2085
Download the repo, set up a client and put a breakpoint into the secret validator.

As an alternative you can also send the id/secret in the POST body.

[2018-02-20 12:41] rshramko commented on #2086
Thank you, @leastprivilege

We will communicate to our API clients, asking either for the code adjustment, or the client_secret itself.

I'm closing the issue then, as there's nothing you can really do about it.

Thanks again for being responsive, really appreciate it!

[2018-02-20 12:41] #2086 closed

[2018-02-20 13:00] stefanlohr commented on #2085
after sending the id / secret in the body it works for all clients / secrets i have availble for test. i will still debug it because its frustrating for me that all clients have to change their code to authenticate on our api

[2018-02-20 14:17] brockallen commented on #2084
We use the IOptions pattern in ASP.NET Core, so you can look into how to configure that.

[2018-02-20 15:37] mhtsbt commented on #1970
Hi, I would like to contribute some of the requested samples. As I am going to need them myself.

If I read correctly they would have to be comitted to: IdentityServer4.AspNetIdentity/src/Host/Quickstart/ in seperate feature folders

[2018-02-20 15:56] ChristophBroeker commented on #2082
We are using the external login functionality of the Identity Server 4.2. So the Identity Server ist the client and the idp is form an other company. So during the implicit flow we got the error
`System.Exception: Correlation failed`.

To get a better insight we run the flow with https://openidconnect.net. And there we got the error that the kid parameter is missing. But that should not be the pro

[2018-02-20 17:43] brockallen commented on #2082
All of these are in your login page that is using OIDC and the Microsoft OIDC authentication handler, right? The fact that it's hosted along side of IdentityServer sounds unrelated, IMO. IOW, I'd suggest getting a stand alone ASP.NET Core app working with your OIDC IdP outside of IdentityServer. If/when you run into these errors, then contact Microsoft for help as I think you will find it's all re

[2018-02-20 17:49] brockallen commented on #1970
@mhtsbt Actually, elsewhere: https://github.com/IdentityServer/IdentityServer4/issues/1971#issuecomment-356751798

[2018-02-20 18:50] eliasnawfal opened #2089 "Notifying clients that the user has signed-out not working"
Upgrading from 1x to IdentityServer4 2.1.2.
I have many MVC clients that I want to logout from when the user triggers logout on client
`  await HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
            await HttpContext.SignOutAsync("oidc");`
This action redirects to logout action method "logout" in IdentityServer that is like the sample
[IdentityServerSamples Accoun

[2018-02-20 22:49] chrisowhite opened #2090 "Use Exception overload of ILogger.LogCritical for unhandled exceptions"
Unhandled exceptions are caught in `IdentityServerMiddleware` this way:

`_logger.LogCritical("Unhandled exception: {exception}", ex.ToString());`

Since this is not using the overload of `LogCritical` that takes an exception object, registered loggers do not receive the full exception details, making it difficult to aggregate resulting log data based on just the exception message. When using Kest

[2018-02-20 23:01] brockallen commented on #2090
Yep, good catch.

[2018-02-21 02:25] #2090 closed

[2018-02-21 07:09] pgrm commented on #2086
Maybe add a `+` character to one of the test-clients credentials?

[2018-02-21 09:15] Sathiyamm opened #2092 "How to revoke the access and refresh token? #help_wanted"
I've used this method for revoke the token. But the access token and refresh token again reusable. How to revoke the access and refresh token?

[code]

[2018-02-21 11:38] darkurse commented on #2047
I have the same issue.

@hugoqribeiro, the handler never gets called because it is internally instantiated by [IdentityServer4.AccessTokenValidation] (https://github.com/IdentityServer/IdentityServer4.AccessTokenValidation/blob/3fd88d9ae73734504e269b08901779a7bac1484f/src/IdentityServer4.AccessTokenValidation/IdentityServerAuthenticationOptions.cs#L148) module.  (Should `IdentityServerAuthenticati

[2018-02-21 12:17] phoenixjun opened #2093 "Flow to update access token claims when coming through refresh token"
We are developing a Identity server in the company which has a few child company and the user information stores in the database within the child company. So currently the structure is the Identity server 4 will talk to individual IDP to get the access token and then forward back to the client (We implement IResourceOwnerPasswordValidator and control which IDP to talk to). Everything is working fi

[2018-02-21 12:22] phoenixjun commented on #2093
https://stackoverflow.com/questions/48905831/flow-to-update-access-token-claims-when-coming-through-refresh-token

I have posted a question in the stackoverflow as well. Any comments / suggestions are welcome.

[2018-02-21 16:40] hugoqribeiro commented on #2047
@darkurse that was exactly my point! And that is why I think that IDS4 needs some new extensibility point to override/listen those events.

[2018-02-21 19:42] dtsmith94 commented on #2073
In my IS4 implementation, I audit user logins and I would find it useful to be able to detect somehow when a js client validates an auth token with IS4 - in the case of 'Remember Me' when I have no way of knowing a user has authenticated on a given day, only the day they physically typed in their username and password. I need to be able to log this in my own custom way - not looking through the lo

[2018-02-21 22:08] chrisowhite commented on #2090
Looks like there are 2 more spots in TokenValidator...

`_logger.LogError("JWT token validation error: {exception}", ex.ToString());`
`_logger.LogError("Malformed JWT token: {exception}", ex.ToString());`

[2018-02-21 22:34] brockallen commented on #2090
Just PR please. Thanks

[2018-02-21 22:34] phoenixjun commented on #1996
Is there a way in the profile service to access the scope and grant in the token request? in our scenario, there are multiple upstream IdP and we need to validate in different upstream IdP based on the request context.

[2018-02-21 22:36] brockallen commented on #2073
This can already be done in the authorize request validator:
https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Endpoints/AuthorizeEndpointBase.cs#L67

and in the user interaction response generator:
https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Endpoints/AuthorizeEndpointBase.cs#L81

So those are the places you can get involved with the

[2018-02-22 02:14] dtsmith94 commented on #2073
Thanks for shining a light... I’ve extended the AuthorizeInteractionResponseGenerator class to achieve this.

[2018-02-22 03:01] garymacpherson opened #2096 "Validating acr values (specifically idp) in TokenRequestValidator"
On a standard front channel request in AuthorizeRequestValidator there is logic for "check custom acr_values: idp" to ensure that if a client has idp restrictions that the request contains an idp and it is in that restriction list.

All working as expected.

When moving on to implementing the resource owner flow I was expecting the same checks to be made in the TokenRequestValidator however there

[2018-02-22 06:08] leastprivilege commented on #2047
a) We do use the events

https://github.com/IdentityServer/IdentityServer4.AccessTokenValidation/blob/2ea977807e27c22a98325e8b2a9a6fa94b0f6dc3/src/IdentityServer4.AccessTokenValidation/IdentityServerAuthenticationOptions.cs#L148-L159

b) have you tried my suggestion of using the plain JwtBearerHandler to make sure it behaves as expected?

[2018-02-22 12:03] shawndewet commented on #414
Nuts, so I've changed my client's AccessTokenType to Reference.  And after login, there is still nothing written to the PersistedGrants table.
In my Client startup.cs I have
[code]
In my IdentityServer startup.cs I have:
[code]

What else could I be missing?

[2018-02-22 12:17] darkurse commented on #2047
@chemass, I have changed my code to match what you're doing and I added a breakpoint in OnAuthenticationFailed handler. But it never stops there when I fail authentication.

None of the breakpoints below is caught. So there might be smthing else you're doing ??

[code]

[2018-02-22 12:55] shawndewet commented on #414
mmm, seems I had to setup my client to require Consent.  AND, on the consent page, I had check the "Remember" option.  Only then did a "user_consent" record get written to the PersistedGrants table.

[2018-02-22 13:34] BootsThunderclap commented on #747
I used a very similar technique, but @lenniebriscoe's solution was my jumping off point. I used DI to inject an instance IHostingEnvironment into the AccountController. Basically, I wanted developers and testers to be able to log in as local test users to be able to test various authorization policies. If the environment is prod or UAT, I call the ExternalLogin action directly. If it's a test or d

[2018-02-22 14:45] cooxkie commented on #1396
@yiren : Could you give us (with @nkolchakov) the right answer please ?

I have same issue, but I didn't find the solution.

Regards

[2018-02-22 16:34] shawndewet commented on #414
Well it still leaves the question "How do I get a ReferenceToken to be stored in that table?"

[2018-02-22 17:54] brockallen commented on #2096
That's hard to do in resource owner flow -- for example, there's not way in resource owner to accept google credentials. Also, resource owner does not travel the UI workflow, and it's not technically OIDC.

[2018-02-22 18:34] hugoqribeiro commented on #2047
@chemass:

I have confirmed that your code works fine when the token expires. The event is raised.

But that was not the scenario. The scenario was when the client **does not provide any token at all**.
And I have also confirmed that in that scenario the event is not called.

The idea here was to implement an authentication callback so that the client would not need to know in advance the authorit

[2018-02-22 19:55] Icidis opened #2098 "Using HttpMethods.IsGet() and HttpMethods.IsPost() instead of string comparison"
Hi,

I would like to suggest that all checking for HttpMethod verbs be done by using the static helpers methods provided in Microsoft.AspNetCore.Http.Abstractions.

**Changing from:**
`if (context.Request.Method != "GET")`

**To:**
`if (!HttpMethods.IsGet(context.Request.Method))`

Reference to Microsoft Docs:
[HttpMethods Class (Microsoft.AspNetCore.Http)](https://docs.microsoft.com/en-us/dotnet/

[2018-02-22 19:58] brockallen commented on #2047
This is simply an anonymous call, and if you require the caller to pass a token you need to issue a 401 response. Why not put a middleware in front of the API to check for this response condition and add the header?

[2018-02-22 20:13] leastprivilege commented on #2098
Ok. Go ahead. Thanks!

-------
Dominick Baier

On 22. February 2018 at 20:55:32, Ryan Gunn (notifications@github.com)
wrote:

[2018-02-22 21:44] brockallen commented on #2098
merged, thanks!

[2018-02-22 21:44] #2098 closed

[2018-02-22 22:52] hugoqribeiro commented on #2047
There is also a different scenario where the events are not raised and you cannot do the WWW-Authenticate.

The Web API I'm protecting has 2 scopes: one is called "monitoring" and the other is called "calculation".

Now you have a client that gets a valid token for scope "monitoring" and then tries to access an action that requires "calculation". It gets a 403 Forbidden but the AuthenticationFaile

[2018-02-22 23:30] brockallen commented on #2047
No, that;'s by design and it's Microsoft's code that's doing that. No token simply means anonymous, and you still need something that requires authorization. So on the way out, agreed, Microsoft's code possibly should be adding www-auth response header, but it's not or at least not doing it the way you want. So forget about their programming model and events (that apparently don't get called) and

[2018-02-23 01:44] garymacpherson commented on #2096
Ahhhh... I guess that makes sense. Our implementation exclusively respects internal credential stores, so we always have the ability to handle any idp via the resource owner flow... which wouldn't be the case for something like Google.

In that case can you see any obvious problems with that checking logic existing in the IResourceOwnerPasswordValidator implementation?

[2018-02-23 09:54] leastprivilege commented on #2089
We simply call whatever logout URI is configured. You need to debug/network trace why this does not work for you.

Check our samples repo for working examples.

[2018-02-23 09:55] leastprivilege commented on #2088
check the logs?

[2018-02-23 09:56] leastprivilege commented on #2079
Good idea! Let us know where you put that sample so we can link to it.

[2018-02-23 10:52] coffeymatt commented on #720
@ChrisPritchard Hi Chris, you mention handling the exception for this error, do you know where the hook is to do that, is it an event you can hook into when configuring the id server middleware?

[2018-02-23 14:35] DiginessForever opened #2100 "IRedirectUriValidator"
I created a custom class to validate redirectUris, implementing IRedirectUriValidator on my IdentityServer4 implementation.

In the IdentityServer4 startup in ConfigureServices, I have:
[code]

(the .AddRedirectUriValidator line is just one of the many sub functions called after AddIdentityServer())

I've tried putting the above in different orders, but regardless, when I run a client through the

[2018-02-23 16:08] DiginessForever commented on #2100
I've been playing with a client and its redirectUris and finally got the above to trigger.  It seems though that the standard redirect validator is still running beforehand and rejecting any uris that aren't explicitly mentioned in the server side client config.  Any way I can completely override it?

[2018-02-23 16:15] DiginessForever commented on #2100
It seems that without being explicitly in the allowed uris, it fails on the authorize endpoint and throws an error:  (the below being run with minimal validation in the interface, only for debugging)

[2018-02-23 16:23] DiginessForever commented on #2100
I created a StackOverflow question as well:
https://stackoverflow.com/questions/48952192/identityserver4-redirect-validator-implementing-iredirecturi-interface

[2018-02-23 16:25] hugoqribeiro commented on #2047
@brockallen but I'm not convinced by the approach that you're suggesting.

I have finally understood how to use the JwtBearerHandler directly and I have confirmed that it works as supposed.

- If you don't send any token, you receive a 401 with the WWW-Authenticate header without error description.
- If you send an expired token, you receive a 401 with the WWW-Authenticate header with the correct

[2018-02-23 16:40] lineker commented on #376
any news on this ?

[2018-02-23 19:10] ChrisPritchard commented on #720
We ended up just using an anonymous home page to minimise the issue. However, from what I remember, there was no obvious way in the framework to catch it. So I would have probably built a specific handler for the exception in global exception handling.

[2018-02-23 19:30] babakarj opened #2101 "Why redirect_uri is not HTTPs while AllowedRedirectUris it is?"
Both *https://store.example.com/* and *https://auth.example.com/* are hosted on Ubuntu server behind NGINX as a proxy server. While trying to authenticate *store* application we get this error from *auth* application.

Why `redirect_uri` is not in HTTPs?

Things are going fine in the development machines.

### Relevant parts of the log file

[code]

[2018-02-23 21:15] v2Shridhar commented on #1955
Is there a workaround available if we cant upgrade out IdentityServer to 2.x nuget packages? Right now we are in 1.5.2

[2018-02-23 21:41] ivanstamenic commented on #1603
I'm sorry for reopening this!

Getting culture by querying interaction service works like a charm, but my question is how to set ui_locales query string in Authentication Request request from MVC Client?

[2018-02-23 23:07] chrisowhite commented on #2101
As far as validation, IdentityServer4 is simply taking the string value of redirect_uri from the request and doing and exact comparison to those registered in the allowed URIs. What does the HTTP request look like going to NGINX?

[2018-02-23 23:17] chrisowhite commented on #2063
The "invalid_client" error response is prescribed in the OAuth 2.0 spec.

https://tools.ietf.org/html/rfc6749#section-5.2

You should see your custom error and description in the logs. Generally you want to avoid sending back too much validation failure information to a potential attacker.

[2018-02-24 06:25] babakarj commented on #2101
Here is the NGINX log:

in the second line the **redirect_uri** is not **HTTPs**!
[code]

And the configuration:
[code]

[2018-02-24 08:02] eliasnawfal commented on #2089
@leastprivilege Thank you for your response, I was able to solve the problem after reading OpenId documentation about FrontChannelLogout and BackChannelLogout, I set FrontChannelLogoutSessionRequired to false, and I pointed FrontChannelLogoutUri to my logout ActionMethod of each client.

[2018-02-24 08:02] #2089 closed

[2018-02-24 10:07] MovGP0 commented on #2079
I don't have a sample. Just wanted to keep track of the idea.

Also currently too busy to implement a sample myself :-(

[2018-02-24 10:18] Bogatinovski opened #2102 "IdentityServer4 well known configuration generates invalid url schemas with double backslashes"
Both http://www.mvc.meetcorepoint.com and http://www.server.meetcorepoint.com are hosted on Amazon Linux server behind NGINX as a proxy server. While trying to authenticate store application we get this error from auth application.

When I try to authenticate the mvc app with the idsr4 it throws exception ```Unable to parse host name``` and fails to do authentication because it can't parse the url

[2018-02-24 11:42] Bogatinovski commented on #2102
As it turns out this had nothing to do with Linux, .net core or IdentityServer. The problem was in my nginx configuration which is used as a reverse proxy to the .net core applications. When I was coping the nginx proxy configuration from the web, it somehow prepended a backslash on the Upgrade and Host headers. So instead of having ```proxy_set_header Host $host;``` I had used ```proxy_set_header

[2018-02-24 11:42] #2102 closed

[2018-02-24 13:27] YINZHU2016 opened #2103 "How to debug Identityserver4 source code"
I want to debug Identityserver4 source code, so I can understand the underlying logic of the entire code, but I do not know how to do it. Does anyone know how to debug identityserver4 source code? Thank you

Please forgive me my English is not very good

[2018-02-24 13:39] chrisowhite commented on #2101
Then appears your client application at store.example.com is not sending the correct scheme when it redirects the user agent to the authorize endpoint.

See here, and make sure your client application is configured to respect the X-ForwardedProto header.
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?tabs=aspnetcore2x

[2018-02-24 13:53] babakarj commented on #2101
I just changed these lines:
[code]
to:
[code]

Now, it goes to auth from store and successfully authenticates but the auth app POST to `http://store.example.com/signin-oidc` instead of `https://store.example.com/signin-oidc` (mind the **s** in HTTPs)

What is this, now?! Any idea?

[2018-02-24 14:27] babakarj commented on #2101
I'm confused. Would you, please, explain more?
Getting `502 Bad Gateway` from NGINX.

[2018-02-24 14:48] chrisowhite commented on #2101
This is not an IdentityServer4 issue and really belongs in a different repository. Probably https://github.com/aspnet/KestrelHttpServer

[2018-02-24 15:32] srikrsna commented on #720
Well, the way we solved it is by catching the exception using the ExceptionHandler Middleware of ASP.NET Core and checked if the Request path was `/sign-in-oidc` (Redirect URI). If it was then redirect to any page that requires authentication (home page in our case, i.e. `/`). If it was not then handle the exception just like any other exception.
@coffeymatt @ChrisPritchard

[2018-02-24 15:41] leastprivilege commented on #2063
agreed.

[2018-02-24 15:42] leastprivilege commented on #1603
You can use the events/notifications of the OIDC handler/middleware.

[2018-02-24 15:44] leastprivilege commented on #2100
I don't think your observation is right - check our main repo, we use a custom validator there as well and it works as expected.

[2018-02-24 16:29] agilenut commented on #1248
@nicbavetta Sorry. At this time, all of the code that we have is interwoven with quite a bit of proprietary logic that I cannot currently share.

[2018-02-24 16:31] YINZHU2016 opened #2104 "non .net core WebApi how to use identityserver4"
I want to use Identityserver4 as a SSO product for prod. But I have 2 questions

1. Is this project already in release version? Because I didn't find the message that the stable version was published in the github document.but i see a release branch and some version tag in github.but i not sure.

2,  I want to use identityserver4 to do sso, but because the company before the API project is the use

[2018-02-24 16:43] brockallen opened #2105 "Consider internal grant type that persists user's claims from session and tags it by sid"
This will help with the gateway scenario where the gateway really just wants to be a pass thru and there's no explicit profile service that has stored/cached the external IdP issued claims (again for pass thru purposes). In short, we'd do the temp storage as this custom grant type, and we'd tag it by the sid so user info lookup with be able to find the specific set of temp/pass-thru claims.

[2018-02-24 17:03] brockallen commented on #2104
Yes it is, and those are how we track formal releases. You can find the release binary on nuget.

We implement specifications of protocols, so any app that can communicate with those protocols then yes. It's all about interopability.

As for the details of using OIDC and OAuth2 in your apps and API, this issue tracker is not the place for that.

[2018-02-24 17:03] #2104 closed

[2018-02-24 17:45] aneequrrehman commented on #2103
@YINZHU2016 This isn't exactly an issue.

Identity Server 4 is open source, so you can look into the code any way you want. But to run it in debug mode, you can project-reference it by cloning a copy.

[2018-02-25 03:26] YINZHU2016 commented on #2104
Is there any blog or document ask how to do it in non .net core ? because i don not how to do it.

[2018-02-25 03:31] TomCJones commented on #2104
If you want .net framework for the api just use I’d server3 to get the samples for that.

Then use id server4 for all the rest.

[2018-02-25 07:47] babakarj commented on #2101
The problem has been solved. It wasn't a Kestrel problem, it seems that NGINX doesn't allow a large header. From this help https://medium.com/@mshanak/solve-nginx-error-signin-oidc-502-bad-gateway-dotnet-core-and-identity-serve-bc27920b42d5 , we have set these properties:

nginx.conf
[code]

default.conf
[code]

@chrisowhite , would you tell us more why we have set those properties and there is an

[2018-02-25 14:33] #2101 closed

[2018-02-25 14:33] brockallen commented on #2103
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-02-25 14:33] #2103 closed

[2018-02-25 14:34] brockallen commented on #2092
Check the logs to see if there was a problem with revocation.

[2018-02-25 14:35] brockallen commented on #2072
So then if it is found to be zero, what do we do then? I lean towards this just being a configuration error and not something we can do much about, expect add defensive error logging anywhere an external configuration value is loaded. It's possible to write all that defensive code, but it's work.

[2018-02-25 14:36] brockallen commented on #2021
Any update on this?

[2018-02-25 14:37] brockallen commented on #2073
all set on this issue -- can we close?

[2018-02-25 14:37] brockallen commented on #2082
Closing. If you still have issues, feel free to reopen.

[2018-02-25 14:37] #2082 closed

[2018-02-25 14:38] #2083 closed

[2018-02-25 14:38] #2084 closed

[2018-02-25 14:38] brockallen commented on #2087
All set on this issue -- can we close?

[2018-02-25 14:38] brockallen commented on #2088
All set on this issue -- can we close?

[2018-02-25 14:40] brockallen commented on #2096
I guess I don't know how you're using the idp acr_value then, as it's designed to assist when using external IdP.

[2018-02-25 14:40] brockallen commented on #2093
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-02-25 14:40] #2093 closed

[2018-02-25 16:30] YINZHU2016 opened #2106 "Is Old .net mvc or webapi can use idrv3 plug to connect idrv4 sso"
I check a lot of information,like google,github,stackoverflow, many people have such a scene, is the use of isrv4 as the SSO server, then they have a lot of non.Net core.Net freamwork webapi , the old project to nedd token verification in idrv4 sso, so they can only use IdentityServer3.AccessTokenValidation.

In theory, a client system like AccessTokenValidation doesn't need to pay attention to wh

[2018-02-25 17:03] #2073 closed

[2018-02-25 17:22] LindaLawton commented on #2072
I agree it's a configuration error.    Even so the error return really isn't helpful in diagnosing the confirmation error.

I think we should inform either the owner of the identity server and/or the developers using the client id that there is an issue.

If you are worried about the time it would take to add this don't be.  I would be happy to do it, I would just like some direction from you on h

[2018-02-25 18:41] LaurentFromParis opened #2107 "[Question] Startup.cs - throw new Exception("need to configure key material");"
Hi,

This is not a bug, just a question.
When I tryed to execute dotnet MyIdServer.dll /seed
I got : throw new Exception("need to configure key material");

I did this :
`
#if DEBUG
                var certPath = Path.Combine(Directory.GetCurrentDirectory(), "Cert", "MyIdServerLocalhost.pfx"); //IISExpressCertificate
                X509Certificate2 cert = new X509Certificate2(certPath, "MyLocalho

[2018-02-25 18:55] LaurentFromParis opened #2108 "[Bug] IdentityServerWithAspIdAndEF sample DBGeneration cluster index max lenght"
Hi,

I work on IdentityServerWithAspIdAndEF sample
I replaced UseSqlite with UseSqlServer, I regenerated my migration and I created the database.
I used the script database task to create a second database with the same structure for my tests.
SSMS throw a warning : max length for a clustered index is 900 bytes and [PK_AspNetUserLogins, PK_AspNetUserRoles, PK_AspNetUserTokens] has a length of [180

[2018-02-25 20:52] brockallen commented on #2106
https://github.com/IdentityServer/CrossVersionIntegrationTests

[2018-02-25 20:52] brockallen commented on #2106
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-02-25 20:52] #2106 closed

[2018-02-25 20:53] brockallen commented on #2108
That's a Microsoft issue, not an IdentityServer issue.

[2018-02-25 20:53] #2108 closed

[2018-02-25 20:53] brockallen commented on #2072
Ok, thanks. Let us discuss and then we'll get back to you.

[2018-02-25 20:56] brockallen commented on #2107
The docs have many of your answers:
http://docs.identityserver.io/en/release/quickstarts/0_overview.html
http://docs.identityserver.io/en/release/topics/crypto.html

[2018-02-26 01:29] garymacpherson commented on #2096
Yeah that's fair. I guess our scenario is a little out of the ordinary (treating internal credential stores as if they were external but still allowing RO flow). Thanks for your comments.

[2018-02-26 01:29] #2096 closed

[2018-02-26 07:12] leastprivilege commented on #2107
Also - learn about the hosting environment concept in ASP.NET Core - this is orthogonal to DEBUG.

[2018-02-26 08:48] leastprivilege commented on #2085
What did the debugging bring up?

I published a new version of IdentityModel - there's a new property on TokenClient that let's you choose the encoding style - it defaults to Rfc6749 behavior.

https://github.com/IdentityModel/IdentityModel2/blob/dev/src/IdentityModel/Client/TokenClient.cs#L133

[2018-02-26 10:48] leastprivilege commented on #2047
OK - i verified that and you are right - we don't seem to handle the challenge code path correctly.

I am looking into it - thanks for reporting.

[2018-02-26 12:29] coffeymatt commented on #720
I've found a hook on the middleware to handle this error. On the authenticating client application where the openid connect middleware is configured, I've put:

`options.Events.OnRemoteFailure = RemoteAuthFail;`

`        private Task RemoteAuthFail(RemoteFailureContext context)
        {
            context.Response.Redirect("/Home/AuthError");
            context.HandleResponse();
            re

[2018-02-26 12:31] chrisccowdrey commented on #686
I came across this issue with my IDSVR project today. Can we have a link to the correct duplicate or can this thread be re-opened?

[2018-02-26 13:10] stefanlohr commented on #2085
Hi, im currently on medical leave so i can't debug it right away. hopefully i can do it in a few days again. :-(

[2018-02-26 13:42] #2047 closed

[2018-02-26 13:45] leastprivilege commented on #2047
OK - I pushed 2.4.0 of the access token validation handler. This should fix the problem.

[2018-02-26 22:25] Jurabek commented on #461
@stombeur maybe might be helpful https://github.com/Jurabek/IdentityServer4.PhoneNumberAuth

[2018-02-27 06:56] Sathiyamm opened #2110 "How to Implement Authentication using Reference Token ? It's not for issues. I don't Know about that. So Some one help me?"
**API call not working** in using access token (reference token) Identity server
It returns Unauthorized (401)
I'm already referring this sites
http://docs.identityserver.io/en/release/topics/reference_tokens.html
https://github.com/IdentityServer/IdentityServer4.AccessTokenValidation

Hi I'm used **API startup** method in is

[code]
and **config** file is

[code]
and _login time_ **generate the t

[2018-02-27 07:40] SarapinIT commented on #2063
Ok, I understand, thanks

[2018-02-27 07:40] #2063 closed

[2018-02-27 10:56] Shadowman4205 commented on #2021
@mackie1001
At the moment i created this Action
[code]
what do you mean by 'You can customise the path via IDS4 config.'

[2018-02-27 11:16] oottoohh commented on #1396
how should it be?

[2018-02-27 11:41] oottoohh opened #2111 "[QUESTIOn] Azure Deploy fail redirect URI"
i have client app with razor MVC and identity server running on   **azure**
my problem is client always fail to call redirect uri with IP public

**this is my startup.cs**

`services.AddAuthentication(options =>
            {
                options.DefaultScheme = "Cookies";
                options.DefaultChallengeScheme = "oidc";
            })
                .AddCookie("Cookies")

[2018-02-27 12:44] sharfanfq opened #2112 "Setting user specific access token lifetime"
I am having my identity server running with multiple clients and having different access-token lifetime per client.. which works perfectly, I would like to know how it is possible to have tokens generated on different lifetime span based on user preference

### I have added a sample client here

[code]
thanks

[2018-02-27 14:38] brockallen commented on #2072
So you're suggesting a log entry to let the dev know? If that's all, then yes please send a PR for that.

[2018-02-27 14:42] brockallen commented on #2055
We'll add this on the 3.0 milestone, since that will be an expected big (schema) change.

@leastprivilege also is mentioning a "last access" time so people know which secrets are stale.

[2018-02-27 14:44] brockallen commented on #2112
You could have a custom authorize/token request validator that changes the `AccessTokenLifetime` on the `ValidatedRequest`.

[2018-02-27 14:45] brockallen commented on #2111
Not enough info and really no idea -- sounds like an environmental issue you need to work out.

[2018-02-27 14:47] brockallen commented on #2021
You might need one that supports GET. Check our quickstart host samples.

[2018-02-27 14:47] #2021 closed

[2018-02-27 14:47] #2032 closed

[2018-02-27 14:48] #2087 closed

[2018-02-27 14:48] #2088 closed

[2018-02-27 14:49] brockallen commented on #2092
All set on this issue -- can we close?

[2018-02-27 14:49] brockallen commented on #2092
Closing. If you still have issues, feel free to reopen.

[2018-02-27 14:49] #2092 closed

[2018-02-27 14:49] #2100 closed

[2018-02-27 14:49] brockallen commented on #2107
Closing. If you still have issues, feel free to reopen.

[2018-02-27 14:49] #2107 closed

[2018-02-27 14:50] brockallen commented on #2110
As per our issue guidelines: https://github.com/IdentityServer/IdentityServer4/blob/dev/.github/ISSUE_TEMPLATE.md

[2018-02-27 14:50] #2110 closed

[2018-02-27 14:55] brockallen commented on #1941
Closing. If you still have issues, feel free to reopen.

[2018-02-27 14:55] #1941 closed

[2018-02-27 14:59] hugoqribeiro commented on #2047
Thank you @leastprivilege!

[2018-02-27 20:18] fatihapaydin commented on #1521
@rizamarhaban
while(true){
Console.WriteLine("Thank you very much :)");
}

[2018-02-27 21:21] vivekse commented on #1675
@mantasaudickas I am facing the same issue: getting Correlation Failed when the app is hosted in load balanced environment, I tried adding Data Protection with Blob Storage, but still, the issue persists.  what exactly fixed your issue?

[2018-02-27 21:40] mantasaudickas commented on #1675
I used something like this:
[code]
Which basically loads and saves generated keys in database which is used by all running instances.

[2018-02-28 01:03] AKlaus commented on #328
The [Introspection Endpoint](http://docs.identityserver.io/en/dev/endpoints/introspection.html) (referred by @scottbrady91) seems to be working for reference tokens only and doesn't work for JWT tokens...
Is there a way to validate JWT tokens?

[2018-02-28 02:17] richardlawidjaja commented on #1961
yes please, so i was in a middle of migrating from spring framwork Oauth2 to IS4 (java to .net)
in the spring framework version looks like they have remove all the Nbf,Aud, iss etc
but i could not find a setting to hide those value, could you please consider this?

thank  you!

[2018-02-28 06:00] richardlawidjaja opened #2113 "ResourceId usage and implementaion"
so at the moment i am migrating from spring framework to IS4, however i am puzzled on how can we set the resource id,
so here is the scenario a Java based microservices called customer will make a call to my IS4 services to get the access token. everything went well we able to verify the token generated however since the client is a java based it throws a
{
    "error": "access_denied",
    "error

[2018-02-28 07:34] leastprivilege commented on #2113
I don't know what ClientDetails is - certainly not one of our classes. I also don't know what a "ResourceId" is - never heard the term before.

[2018-02-28 07:46] leastprivilege commented on #2085
OK - no prob. Gute Besserung!

[2018-02-28 10:28] LindaLawton commented on #2072
For now i cant think of a better option then logging that the client is not valid it was setup wrong.  You happy with adding it to AuthorizeRequestValidator?   or do you have a better place?

[2018-02-28 11:23] leastprivilege opened #2114 "Add more configuration validation to token/authorize pipeline"
initiated by https://github.com/IdentityServer/IdentityServer4/issues/2072

let's collect more config checks here and then implement them in one go.

* AccessTokenLifetime is 0

what else?

[2018-02-28 11:23] leastprivilege commented on #2072
I guess this should be part of a bigger effort - moving to https://github.com/IdentityServer/IdentityServer4/issues/2114

[2018-02-28 11:23] #2072 closed

[2018-02-28 13:02] LindaLawton commented on #2114
1. Browser enabled with no redirect URI set?
2. Using JavaScript without setting cors
3. RequireClientSecret missing a secret?

I don't think its worth invaliding the max tokenlifetime,  being that its an int the potential age of the access token is greater then the epoch time.   I think you and I discussed this on stack. [link](https://stackoverflow.com/a/48149679/1841839)

[2018-02-28 15:59] adrian-heath opened #2115 "Getting Correlation Failure whenever returning from authorizing against an external provider"
I am attempting to set up external authorization against OpenID endpoints for Azure AD B2c and IDPee.  In both cases I can navigate to the the appropriate login pages from Identity Server login page but on return I get Correlation Failure.

I've tried various googled suggestions to fix the issue but none will so wasn't sure what to try next or if it was a bug.

This is a sample of the B2C registra

[2018-02-28 20:53] HasanAJ opened #2116 "Wrong GrantValidationResult error value"
I get the wrong error value from GrantValidationResult inside my custom IResourceOwnerPasswordValidator.

Here is the code:

    if (roles.Contains(Constants.ROLES_CLIENT))
    {
        if (!user.PhoneNumberConfirmed)
            {
                 context.Result = new GrantValidationResult(TokenRequestErrors.InvalidRequest, "Phone
                 number not verified");
                 return;

[2018-02-28 21:23] VictorioBerra opened #2117 "Is there any backport or library like IdentityServer4.AccessTokenValidation for non-core frameworks?"
We have a full framework Web API 2.2 app we want to add Identity Server Authentication to.

I know that I can use any easily available 3rd party JWT token to verify the JWT but what about reference tokens?

[2018-02-28 21:34] joaco-espinosa opened #2118 "Server generates token, client returns "Message contains error: <invalid_request>""
Hello,

I'm experiencing an issue hosting my Identity server behind load balancer.
I have one instance (planning on adding more) and I always get an error message on the client even though the login is successful and the token is correctly generated on the server.

Could you please help me narrow down the problem? I'm not sure if this is a client side problem or a server side one.

Client message:

[2018-02-28 22:01] mrnewrochelle opened #2120 "Multi-tenant or dynamic ClientID - identityServer 4 and ASP.NET Core 2.0"
Hi People.
 We have 1 Website (Client), and 1 Identity Server (Authorization Server with IdentityServer4).
 Our website it is multi-tenant, then our customers will do something like http://customerName.MyWebsite.com

 I would like in the Client side, when I am creating the Authentication, to use as cleintID the URL, so in the Authorization server I will call ClientStore =>FindClientByIdAsync(strin

[2018-02-28 22:04] VictorioBerra commented on #2117
@brockallen Isn't that only for Katana? I don't have anywhere I can do `x.Use` or `x.Add`.

[2018-02-28 22:37] brockallen commented on #2117
That's all there is. You can always build your own. It's just the introspection spec:
https://tools.ietf.org/html/rfc7662

As part of it you could use IdentityModel's IntrospectionClient library:
https://github.com/IdentityModel/IdentityModel2
https://github.com/IdentityModel/IdentityModel2/blob/dev/src/IdentityModel/Client/IntrospectionClient.cs

[2018-02-28 22:48] VictorioBerra commented on #2117
I see in the middleware handler after you get the token you call AuthenticateAsync, how does it validate the tokens from there? I assume I will have to do that part too?

[2018-02-28 22:51] VictorioBerra commented on #2117
I think I see what's happening. You AddJwtBearer and then AuthenticateAsync invokes that handler. Does it hit the discovery endpoint for the pubic signature to verify the token and all that? How does it know how to do that

[2018-03-01 00:15] brockallen commented on #2117
Read the code. It's all up there.

[2018-03-01 01:02] AKlaus commented on #328
The [docs say](http://docs.identityserver.io/en/dev/endpoints/introspection.html):

So, is it possible to validate a JWT token (not a reference token) in a more traditional way (e.g. with using [JwtSecurityTokenHandler.ValidateToken()](https://msdn.microsoft.com/en-us/library/dn451163) or like [here](https://blogs.msdn.microsoft.com/webdev/2017/04/06/jwt-validation-and-authorization-in-asp-net-cor

[2018-03-01 02:23] brockallen commented on #328
yes

[2018-03-01 03:30] justintubbs commented on #861
This code above was the ONLY thing that worked for me with .NET Core 2.0 + IdentityServer4

Startup.cs > ConfigureServices()
[code]

Startup.cs > Configure()
[code]

AccountController.cs > Login()
[code]

[2018-03-01 03:34] justintubbs commented on #861
Maaan, it would have been nice if this was implemented to allow you to configure the application cookie expiration:
[code]

[2018-03-01 06:26] leastprivilege commented on #2118
The stack trace you are showing comes from the OpenID Connect handler from Microsoft. Open an issue with them.

Feel free to link to this issue and update us.

[2018-03-01 06:28] leastprivilege commented on #2120
You wouldn't change the client ID dynamically - the client is always the same.

You rather pass some extra parameter in the authorize request to indicate the tenant - this can be done using the `OnRedirectingToIdentityProvider` event on the handler.

[2018-03-01 09:23] zejnov opened #2122 "Apache 2.0"
From apache license (yes, I know, no1 read that :D):

"Copyright {yyyy} {name of copyright owner}"
https://github.com/IdentityServer/IdentityServer4.Quickstart.UI/blob/release/LICENSE

[2018-03-01 10:36] oottoohh commented on #1223
how to solve this?

[2018-03-01 10:39] leo9223 commented on #1625
Thank you so much @weitzhandler was fighting with the issue for 20 hours.

[2018-03-01 17:25] user1336 commented on #2116
I think I found it, this line shouldn't use `OidcConstants.TokenErrors.InvalidGrant` but use the `resourceOwnerContext.Result.Error`
https://github.com/IdentityServer/IdentityServer4/blob/dev/src/IdentityServer4/Validation/TokenRequestValidator.cs#L427

Can I submit a PR?

[2018-03-01 20:23] BrahmaReddyMadhira opened #2123 "Question:Would like to have API instead of a login authentication screen"
As part of my work,  I required to have  WEBAPI instead of a Login screen. I know that we can do this.
However would like to know challenges and concerns around it?

I know I have a weird requirement.

[2018-03-02 00:45] shafaetkarim opened #2124 "Getting intermittent 500 error from Microsoft.AspNetCore.Server.Kestrel - Connection id ""0HLBVQDD273IB"", Request id ""0HLBVQDD273IB:00000002"": An unhandled exception was thrown by the application"
We are using ID4 with IIS 6.1  ( windows server 2008 box ).  We are trying to use the identity server for and internal Aurelia application.  It works fine for a while... but after login-logout few times it fails to communicate with the ID server with 500 error.

If I try to open the id server home page, it would fail to load ... If I remove the cookies from the browser... or open the Id 4 home pag

[2018-03-02 01:15] brockallen commented on #2124
That's an exception somewhere down in ASP.NET Identity. You will have to debug or ask Microsoft for help.

[2018-03-02 01:42] sajrashid opened #2125 "Unable to run Quickstarts/7_JavaScriptClient"
### Issue / Steps to reproduce the problem
IdentityServer Project does not build in Quickstarts 7.

**3 errors in total all in _AccountController_**

Line 255   User.GetDisplayName

'ClaimsPrincipal' does not contain a definition for 'GetDisplayName' and no extension method...

Line 369  logout?.ClientName
'LogoutRequest' does not contain a definition for 'ClientName' and no extension method...

[2018-03-02 02:00] brockallen commented on #2125
Can you try to update to the latest IdentityServer nuget?

[2018-03-02 02:10] sajrashid commented on #2125
Updated to 2.12 and it's now working, thank you.

[2018-03-02 02:10] #2125 closed

[2018-03-02 05:20] leastprivilege commented on #2116
Yes. Thanks.

[2018-03-02 08:21] tongfei-github opened #2126 "csp frame-ancestors"
Problems with iframe nested pages：Refused to display 'http://auth.myurl.com/connect/authorize?parame=1' in a frame because an ancestor violates the following Content Security Policy directive: "frame-ancestors http://my_main_url.com".
How to solve this！！！thanks

[2018-03-02 08:29] #2116 closed

[2018-03-02 12:27] mrnewrochelle commented on #2120
Thanks for the tip @leastprivilege  I will try today to do that. My wife just deliver our baby yesterday so I wasn't able to code/read anything :) I'll let you know in a while (probably on Monda) if I was able to do your suggestion with OnRedirectingToIdentityProvide. I'm still in the Hospital until Sunday.
 --Luis

[2018-03-02 13:39] brockallen commented on #2120
Congrats!

[2018-03-02 19:47] ReeceWilliams7 commented on #2123
What exactly do you mean by a Web API? If you are referring to an API that you can call to validate some credentials and return your token(s), then perhaps you want to look at the resource owner password credentials grant: http://docs.identityserver.io/en/release/topics/resource_owner.html

It's not recommended as stated on this page: http://docs.identityserver.io/en/release/topics/grant_types.htm

[2018-03-02 23:34] ovidiaconescu opened #2128 "Multi-Tenant with AspNetCore.Identity"
Is there a preferred way to enable multi-tenancy on IDS4 on aspnetcore 2.0 using `AspNetCore.Identity`?

The samples from #442 - https://github.com/schatekar/IdentityServer4.MultiTenant and https://github.com/khelben/IdsvrMultiTenantExample based on https://github.com/saaskit/saaskit no longer work due to the fact that the method `UseCookieAuthentication` in `CookieAppBuilderExtensions` is now obs

[2018-03-02 23:56] Exocomp opened #2129 "Add SSL SNI Support"
I have the latest Identity Server 4 (v 2.1.2) behind an SSL box that supports SNI to return the right cert.

The problem I'm seeing is that when I configure an app for IS4 the server side request that goes to the discovery document is not using SSL+SNI this causes the SSL box to return the wrong SSL cert which throws an SSL security error.

I configure the app like this:

[code]

I understand that

[2018-03-03 19:02] TomCJones commented on #1971
i got this working a few weeks ago, but had several blockers porting the code to your framework. I have some time again now so I can try that again. My questions are all about what you want to support, for example arguments, should I install some particular package, or eliminate checking. for example:

        [Required]
        [EmailAddress]
        public string Email { get; set; }

[2018-03-03 21:18] brockallen commented on #1971
Can you elaborate if it's still blocking you?

All I'd want is something similar to what the ASP.NET Identity templates support for 2FA using their authenticator plumbing that implements RFC 6238.

[2018-03-04 12:51] Exocomp commented on #2129
The issue looks to be on the SSL server, closing for now, will re-open once the SSL server issue is fixed and it still happens.

[2018-03-04 12:51] #2129 closed

[2018-03-04 20:15] vdecristofaro commented on #2120
Congrats!

Have a look at this one. While being targeted to IDS3 it still applies to IDS4 https://github.com/IdentityServer/IdentityServer3/issues/841

[2018-03-05 04:13] scossgrove opened #2130 "Load Balancing not verifying tokens from other instance"
Hi,

I have two identical site that are API end points. Both these are not the UI for the identity server but merely an api back-end (CRUD basically) for the users in the system.

everything is working fine for the following when on the same server:
1. Generate an email confirmation token. [ userManager.GenerateEmailConfirmationTokenAsync(user) ]
2. verify email token. [ userManager.VerifyUserToke

[2018-03-05 07:07] tongfei-github commented on #1915
I have the same problem.No one answered the question I issued，Can you help me to solve it！？

[2018-03-05 08:17] sharfanfq commented on #2112
Okay thanks

[2018-03-05 09:04] bartbreur opened #2131 "RevokeAccessTokenAsync is returning true, even when it is not revoked"
When the warning

is given: `true `is returned, which is confusing. Suggestion to return `false `in this case, since the token was not revoked.

method `protected virtual async Task<bool> RevokeAccessTokenAsync(TokenRevocationRequestValidationResult validationResult)`
file `TokenRevocationResponseGenerator.cs`

### Issue / Steps to reproduce the problem
Try to revoke a token of another client (on

[2018-03-05 09:28] loveaddict opened #2132 "Sorry but issue facing regarding identity server3"
Entity framework code first automatic migrations not working while using identity server3 entityframework. please help

[2018-03-05 09:56] leastprivilege commented on #2132
This repo is about IdentityServer4 - try StackOverflow. thanks!

[2018-03-05 09:56] #2132 closed

[2018-03-05 11:20] VijayPatel1 opened #2133 "Logout is not working in Edge browser. In Chrome it is working fine"
I am using Identityserver4 and oidc-client.js for for angular4 application signout. The Identityserver4 is configured for login using external IDP using WS-Federation protocol.
So the flow is like as below:
Identityserver 4 is configured to use WS-Federation to use ADFS as a RP and the ADFS redirect the request to other client IDP.

My client application >> Identityserver4 >> ADFS >> Other IDP

So

[2018-03-05 14:43] brockallen commented on #2130
This issue tracker is for IdentityServer issues. That's a feature of ASP.NET Identity, not IdentityServer. Check with Microsoft support.

[2018-03-05 14:43] #2130 closed

[2018-03-05 14:43] #2112 closed

[2018-03-05 15:22] ninjaboy opened #2134 "Quickstart1_clientcredentials Client project is not building"
### Issue / Steps to reproduce the problem

Opening quickstart1_clientcredentials solution and trying to build it it generates the following errors for Client project:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS8104	An error occurred while writing the output file: System.IO.IOException: Incorrect function.	Client	C:\Code\IdentityServer\IdentityServer4.Samples\Quickstart

[2018-03-05 16:22] brockallen commented on #2134
Do you have the latest nugets for IdentityServer?

[2018-03-05 16:22] brockallen commented on #2134
Do you have the latest nugets for IdentityServer?

[2018-03-05 16:31] ninjaboy commented on #2134
I have simply cloned this repository today as it is, packages are restored by default.
I have just updated the packages manually within Visual Studio and I believe all the packages are the latest now.

The issue still reproduces.

[2018-03-05 16:39] brockallen commented on #2134
Ok, thanks. We'll see if we can repro it.

[2018-03-05 16:45] brockallen commented on #2134
I just built the latest from both dev & release. It requires ASP.NET Core 2 SDK, etc...

[2018-03-05 17:05] ninjaboy commented on #2134
@brockallen , latest SDK is installed indeed.
Can you try one more thing please? In my case when I right click the solution itself and Build - it's ok. However, there's no dll created in src\Client\bin\Debug\netcoreapp2.0\ folder.
The issue reproduces when I explicitly right-click on the Client project and try to build.

I have also manged to reproduce the same issue on my colleague's machine with

[2018-03-05 17:17] ape-box commented on #2134
I'm having the same issue

[2018-03-05 19:33] BrahmaReddyMadhira commented on #2123
Thank you!  I meant like I don't to have Login screen where user enter username and password but rather I would like to have an API that can Authenticate and authorize.    I got the answer what I am looking for.
Thank you

[2018-03-06 05:41] #2123 closed

[2018-03-06 06:10] leastprivilege commented on #2115
This is really a question for Microsoft since it is their authentication handler. But I have seen similar problems when you have more than one OIDC handler in DI and you don't set a unique callback path for each of them.

[2018-03-06 06:10] #2124 closed

[2018-03-06 06:11] leastprivilege commented on #2122
thanks! Will update them.

[2018-03-06 06:11] #2122 closed

[2018-03-06 06:11] leastprivilege commented on #2113
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2018-03-06 06:11] #2113 closed

[2018-03-06 06:12] leastprivilege commented on #2111
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2018-03-06 06:12] #2111 closed

[2018-03-06 06:13] #2117 closed

[2018-03-06 06:13] leastprivilege commented on #2118
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2018-03-06 06:13] #2118 closed

[2018-03-06 07:17] oottoohh commented on #2111
yea you can close this, thanks

[2018-03-06 07:55] richardlawidjaja commented on #2113
I found what was the problem so basically in Spring framework implemntation they have a default value for a resource id, now the reason why IS4 does not work is because we dont really need the resource Id.
the quickest fix that i have done is by adding the java resouce id value to IS4 and it works well. so yes case is closed.

[2018-03-06 08:07] shafaetkarim commented on #2124
We were using our own Implementation for LDAP Authentication ... and we had to set the 'SecurityStamp'  property on the 'IdentityUser' ..
That seems to fixed the issue for us.

Thanks.

[2018-03-06 13:51] joaco-espinosa commented on #2118
Following up on https://github.com/aspnet/Security/issues/1677

[2018-03-06 16:49] DiginessForever commented on #992
I am having this exact problem with that client as well, and doing the above has not fixed it.

[2018-03-06 17:46] adrian-heath commented on #2115
Thanks.  I removed all but 1 provider and still get a correlation error.

Is there an easy way to setup IdentityServer to support a different callback path for each provider.  Currently it is just set to Login2/signin-oidc.  Login2 is where Identity Server is hosted.

[2018-03-06 19:02] TomCJones commented on #2134
visual studio seems to have some really weird behaviors based on historical files left around. I have had to completely restart one project (ie delete and re-new) and rebuild from scratch. I hear that the new release is fixing some of these problems. It can sometimes be fixed by deleting the bin on obj folders and rebuilding, but not always.

[2018-03-06 20:30] ovidiaconescu commented on #2128
Since the problem is with `builder.UseCookieAuthentication`, as it is now obsolete,  I've done a PR on saaskit to update it to netcoreapp2.0 and changed the way auth is set in the `AspNetMvcAuthDemo`

I'm using two transient services that set the configuration from the tenant every time it is needed.
This is something that @brockallen suggested way back in #19

See PR here: https://github.com/saas

[2018-03-07 00:15] haquex19 commented on #1911
I apologize for commenting on this two month old issue, but I am also experiencing this issue. When working locally in debug, all works fine. We are using azure to host the identity server. After deploying to azure, the first call always fails with the security error exception. All subsequent calls work well. Is it possible you can explain in a little more detail what was done to the ciphers to ma

[2018-03-07 03:10] huytnd opened #2135 "Problem when publishing to IIS (IDX10803)"
I developed an asp.net project with some asp.net core 2.0 apps which integrated IDS4 for authentication, and authorization successfully on my dev machine.
When I published it to IIS hosting, I created a self-signed certificate from IIS Manager. The app that host IDS worked, but other clients which connect to it for authentication, and authorization didn't work.

I used asp.net core 2.0.5
IdentityS

[2018-03-07 03:28] huytnd opened #2136 "RequireHttpsMetadata set to false doesn't work"
I tried to use http for development by setting RequireHttpsMetadata to false, but the app didn't work.
Below is the output from Visual Studio.

[code]
Any suggestion for this situation? Thank you.

[2018-03-07 04:39] avinash1422 opened #2137 "after publish the identiy 4 getting issue, in local it is working fine.."
![identity issue](https://user-images.githubusercontent.com/29281656/37073798-12b3cf2e-21ef-11e8-81a4-69626ebc2208.jpg)

i created identiy 4 solution. it is working fine my local. when i publish to azure ,i am getting above issue after deploying the identity 4.

[2018-03-07 04:53] huytnd commented on #2137
Can you provide more details, especially the log file content?

[2018-03-07 05:19] avinash1422 commented on #2137
thanks for your quick reply.
i published using azure web service profile. i am unaware of the getting log file . could you please let me know where can i find it..

[2018-03-07 05:32] huytnd commented on #2137
set stdout to true in the webconfig file, and create a "logs" folder.

[2018-03-07 06:13] leastprivilege commented on #2136
I only see Microsoft code on the call stack.

Either you ask them - or provide more details.

[2018-03-07 06:15] leastprivilege commented on #2135
When I browse to

https://14.161.23.70:8888/.well-known/openid-configuration

I see an invalid cert warning in the browser. You need to fix your HTTPS first.

[2018-03-07 06:15] #2135 closed

[2018-03-07 06:19] leastprivilege commented on #2115
That's not an IdentityServer configuration - it's all done in the authentication handler.

Try setting up your handler in a plain asp.net core app without IdentityServer - once this is working, copy it over.

[2018-03-07 06:35] Anexsoft commented on #1727
Thx a lot, It's working for me :)

[2018-03-07 09:48] surya19876 commented on #1554
Hi, I am new to IdentityServer4 and I want to know how it is redirected to account/login by default.
I have written my own AccountController and provided login action. But it is not redirected over there. Can anyone explain, why is it happening?

[2018-03-07 16:14] santiagomolinadecastro commented on #197
Where can i find that token_id? I have the same problem. I'm sending Access token but i have to send token_id.

[2018-03-07 20:14] siemens-slohr commented on #2085
Hi Dominick,

i could reproduce the same behavior we are having right now.

i cloned the repositroy and used this client to test.
`
                new Client
                {
                    ClientId = "Postman.Stefan",
                    ClientSecrets =
                    {
                        new Secret("BmM4cUNGwD+BKRKzjJhSoDUlUhY0yzQMGn+mIud04Xi3ED1zEDq4w9Xe75U9x3tEl7zwsntGm8QAHJXF

[2018-03-08 06:29] leastprivilege commented on #2137
OK good - not IdentityServer related. Can I close?

[2018-03-08 06:32] leastprivilege commented on #2085
yeah - you need to debug. Otherwise we'll not find out where the problem really occurs.

[2018-03-08 09:13] gb056 opened #2138 "Prompt Mode handling does not support multiple values"
### Issue / Steps to reproduce the problem
The OpenIdConnect spec says the following of the prompt parameter:

This states that you can, for example, add `prompt=login consent` to force both login and consent, this (and any of the other combinations) however is not supported by IdentityServer4.

Suggest splitting the prompt parameter with the space delimiter and treating it as a list of requested

[2018-03-08 09:35] guidoffm opened #2139 "Code flow problem with IdentityModel NuGet package > 3.0.0"
Server is IdentityServer4 2.0.2

When using code flow with IdentityModel client package 3.0.0 everything is fine.
After upgrading to a version > 3.0.0 gives this error:

"Client secret validation failed for client"

[2018-03-08 09:43] avinash1422 commented on #2137
i found the issue only , any solution for that.
 my local is working fine that sql credentials

[2018-03-08 11:40] leastprivilege commented on #2139
There was a bug in IdentityServer and IdentityModel - either upgrade to the latest IdentityServer4 - or there is a new flag on the TokenClient to use the legacy behavior:

https://github.com/IdentityModel/IdentityModel2/blob/dev/src/IdentityModel/Client/TokenClient.cs#L123

[2018-03-08 11:42] leastprivilege commented on #2138
Thanks! We'll consider it.

[2018-03-08 11:43] leastprivilege commented on #2128
Any update on the issue? closing for now - feel free to re-open if it needs further discussion.

[2018-03-08 11:43] #2128 closed

[2018-03-08 12:18] ovidiaconescu commented on #2128
Not unless there is another suggested way to achieve multi-tenancy?

[2018-03-08 12:42] guidoffm commented on #2139
Worked for me.

:-)

[2018-03-08 12:42] #2139 closed

[2018-03-08 12:45] leastprivilege commented on #2128
ASP.NET Core itself is not multi-tenant. So regardless how much duct-tape you put around it - there are limits.

[2018-03-08 13:35] RomainWilbert commented on #857
OIDC tokens lifetime and IdentityServer session (= the cookie which is created upon authentication) are not correlated...
You could try
` services.AddIdentityServer(options =>
                {
                    options.Authentication.CookieLifetime = TimeSpan.FromHours(2);
                })
`

[2018-03-09 01:04] JudeAlquiza opened #2140 "on the topic of Identity Server 4 pages being hosted in an iframe."
Hi,
    In relation to this thread, https://github.com/IdentityServer/IdentityServer3/issues/2442 does this mean that its also not secure to host any other identity server pages in an iframe for that matter.

We currently have an angular client. which has a nav bar in it but we want that same nav bar to be in one of the identity server pages. Our problem is that with that we will be having code du

[2018-03-09 03:15] #2136 closed

[2018-03-09 07:54] huytnd opened #2141 "No DbContext named 'ConfigurationDbContext' was found. (EF Migration)"
I use this command to do migration for ConfigurationDbContext follow this [doc](https://identityserver4.readthedocs.io/en/release/quickstarts/8_entity_framework.html).
[code]
And I got this from Package Manager Console:
[code]
The startup.cs file:
[code]
The Program.cs file:
[code]

[2018-03-09 09:37] #2137 closed

[2018-03-09 09:51] merijndejonge commented on #720
@coffeymatt I ran in the same problem and I'm trying to follow your approach. However RemoteAuthFail is never called. Did you do anything else to get this working?

[2018-03-09 15:56] paulschalkwijk commented on #437
Hi sarora, I have the same problem as you describe in this ticket. Could you please inform me how you solved it? I'm already working on this for hours and this would help me a lot!

[2018-03-09 16:06] sarora2073 commented on #437
Hi, Sorry this isn't code that I use any more and don't recall anything beyond the general approach of intercepting the request.

[2018-03-09 16:07] paulschalkwijk commented on #437
Thanks for you response!

Met vriendelijke groet

Paul Schalkwijk

T +31 348 460096<tel:+31%2088%202384522>　

T +31 6 15097509<tel:+31297745547>

E paul@digiframebv.nl

W www.digiframebv.nl<http://www.digiframebv.nl>

[1506868616686_digiframelogo.png]

Digiframe BV I Maltakade 4 I 3446 BC  Woerden

________________________________
Van: sarora2073 <notifications@github.com>
Verzonden: vrijdag 9 maa

[2018-03-09 18:52] Darrenthebrit commented on #1497
I also needed to perform the same action.

To do this, i took advantage of ```AsQueryable()``` in System.Linq and ```Include()``` in the EntityframeworkQueryableExtensions to include the AllowedScopes enties.

Where you're fetching your client from the ConfigurationDbContext, you can do this:

[code]

Then any changes to the AllowedScopes will be stored when you call

```await _configurationDbCont

[2018-03-10 00:46] terrasynq opened #2142 "OpenID Provider Authentication Policy Extension 1.0"
Do you have any plans to implement this?
http://openid.net/specs/openid-provider-authentication-policy-extension-1_0.txt

We have a use-case in which we'd like the SP to request that the user is verified against higher trust providers such as multi-factor authentication. This would be achieved by the SP specifying the desired flows as acr_values, and the IdP responding with both the acr and amr cl

[2018-03-10 00:58] brockallen commented on #2142
That looks like a spec from OpenID, not OpenID Connect.

[2018-03-10 01:15] terrasynq commented on #2142
The spec is from OpenID, but it's used in OpenID Connect under the id_token spec in the values of the acr claim http://openid.net/specs/openid-connect-core-1_0.html#IDToken

The flow I want to achieve is:
The OP publishes a list of supported mfa options (OpenID.PAPE / spec above)
RP includes acr_values with the desired validation level (zero or more policies to apply)

Issued tokens contain:
acr -

[2018-03-10 01:30] brockallen commented on #2142
That's not something IdentityServer internally would know how to do. That's something you'd do in your login page.

[2018-03-10 04:50] huytnd commented on #2141
Anyone has suggestion for this problem?

[2018-03-10 05:59] brockallen commented on #2141
Does that line from your error help?

[2018-03-11 10:11] hadiidbouk opened #2143 "Logout doesn't work"
I am trying to logout from my Mvc client :

`public async Task Logout(){
      HttpContext.SignoutAsync("Cookies");
      HttpContext.SignoutAsync("oidc");
}`

When logout i am getting back to identity server and a message show me that i am logged out now.

But when i press continue to my mvc project the identity server redirect me back directly without login,

there is cookies in identity server

[2018-03-11 14:29] brockallen commented on #2143
If you're using ASP.NET Identity, then you need to use the SignInManager to manage your cookies (including at logout time).

[2018-03-12 06:24] huytnd commented on #2141
I found the issue that cause this exception at the connection for the configurationsDbContext.

[2018-03-12 06:24] #2141 closed

[2018-03-12 06:26] StanislavChankov opened #2144 "Unable to resolve type: IdentityServer4.Endpoints.TokenEndpoint"
System.InvalidOperationException: Unable to resolve type: IdentityServer4.Endpoints.TokenEndpoint, service name:  ---> System.InvalidOperationException: Unresolved dependency [Target Type: IdentityServer4.Endpoints.TokenEndpoint], [Parameter: requestValidator(IdentityServer4.Validation.ITokenRequestValidator)], [Requested dependency: ServiceType:IdentityServer4.Validation.ITokenRequestValidator, S

[2018-03-12 06:36] StanislavChankov commented on #2144
Relevant references are:
<PackageReference Include="IdentityServer4" Version="2.1.2" />
<PackageReference Include="IdentityServer4.AccessTokenValidation" Version="2.4.0" />
<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0" />

[2018-03-12 06:45] hadiidbouk commented on #2143
Thank you

[2018-03-12 06:45] #2143 closed

[2018-03-12 06:48] hadiidbouk commented on #2133
It happens to me also after login

[2018-03-12 06:51] StanislavChankov commented on #2144
services.AddIdentityServer()
                .AddProfileService<IdentityProfileService>()
                .AddResourceOwnerValidator<ResourceOwnerPasswordValidator>()
                .AddInMemoryCaching();
to:
            services.AddIdentityServer()
                **.AddDeveloperSigningCredential()**
                .AddProfileService<IdentityProfileService>()
                .AddResourceOwnerVa

[2018-03-12 06:51] #2144 closed

[2018-03-12 07:13] rocketRobin opened #2145 "Column length too big(50000) for mysql"
When I succeeded made migrations for identity server 4,I try to do update datebase.
But an error occurred.

[code]

the sql is

[code]

The filed Data's length is 50000 !!!
That was too long for mysql.

[2018-03-12 09:47] huytnd opened #2146 "Successfully authenticated, but redirect to 404"
I successfully created a solution with some asp,net core 2.0 projects. Everything worked as expected on the dev machine. When I publish to IIS on a Windows Server for demo and testing. I got the problem as described below:
- I browsed to a mvc client, it redirected to the login screen of IDS hosted in a separated app for authentication.
- I successfully authenticated, and redirect back to the mvc

[2018-03-12 09:50] huytnd commented on #2146
Some info section from the log file:
[code]
[code]

[2018-03-12 14:14] brockallen commented on #2145
I'd try deriving from the DbContext and override the mapping.

[2018-03-12 21:13] osudude opened #2147 "IdentityServer4.AccessTokenValidation - Access token not propagating via JwtBearerEvents::OnTokenValidated"
We have been successfully using IdentityServer4.AccessTokenValidation 2.1.0 with our .NET Core 2.0 web api.  New requirement was recently added to store the validated access token as a claim on the current ClaimsIdentity so API1 can call API2 under the same jwt user context.  Added the following code to the identity server options to handle this but doesn't seem to work as the ClaimsIdentity does

[2018-03-12 22:12] osudude commented on #2147
Think I may have figured this out (at least in IdentityServer4.AccessTokenValidation 2.1.0).

Looks like you have to set options.JwtBearerEvents rather than options.Events...

[code]

[2018-03-12 22:14] #2147 closed

[2018-03-13 05:56] rocketRobin commented on #2145
But is that a good idea, and how I integrat it into AddOperationalStore? can you show me the code?

[2018-03-13 07:02] #2146 closed

[2018-03-13 14:23] RakicSrdjan commented on #1223
I had same problem, and my uri and rest of code was fine... I solved problem by installing Microsoft.AspNetCore.Mvc NuGet in my identity server project. Hope this helps... :)

[2018-03-13 14:38] RakicSrdjan commented on #1396
I had similar problem, solved by installing NuGet Microsoft.AspNetCore.Mvc in identity server project. Hope this helps. :)

[2018-03-13 16:14] 893949088 commented on #2028
@jkeslinke  Hi,Budy,How do you solve your question?

[2018-03-13 16:18] jkeslinke commented on #2028
I didn't use ASP.Net Identity falling back to our own custom user database instead. Seems like the ASP.Net Identity integration with Identity Server 4 in version 2.1.1 does something that makes the timeouts not work because once I removed it everything worked as expected.

So I would recommend trying different versions and/or dropping ASP.Net Identity if that's an option. Good luck!

[2018-03-13 16:23] mrnewrochelle commented on #909
Hi @Haleni888 and the rest!!
Question: How do I send parameter in the returnUrl?
 I have this in my Client:
`services.AddAuthentication(option =>
            {
                option.DefaultScheme = "Cookies";
                option.DefaultChallengeScheme = "oidc-client1";
            })
            .AddCookie("Cookies")
            .AddOpenIdConnect("oidc-client1", options =>
            {

[2018-03-13 18:21] MogauGeeky commented on #720
@coffeymatt @srikrsna Combining your suggestions works perfectly.
OnRemoteFailure event I check for the `/signin-oidc` path, if so, I simply redirect to a secured endpoint on the client then the client redirects to identity server, this time with valid request params but since the user is already logged on identity server they are simply redirected back to the client without the need to re-enter t

[2018-03-13 21:02] Icidis opened #2149 "Spelling corrections in documentation"
### Issue

Spelling mistakes in documentation.

###Comments

Accidently created the PR before submitting an issue.

PR (#2148) relates to this issue.

[2018-03-14 05:46] brockallen commented on #2149
Merged, thanks.

[2018-03-14 05:46] #2149 closed

[2018-03-14 07:40] Thor-Kristian-Valderhaug opened #2150 "Question regarding Identityserver 4 together with Microsoft.AspNetCore.Identity"
Hi

We are looking at using Identityserver 4 together with Microsoft.AspNetCore.Identity.
I see from the [AspNetIdentity example](https://github.com/IdentityServer/IdentityServer4.AspNetIdentity)  that you have chosen to store the roles as claims with the type `JwtClaimTypes.Role`.
Why have you gone for this approach and not used the role mechanism provided by Microsoft.AspNetCore.Identity via the

[2018-03-14 11:50] daghelge opened #2151 "Creating JWTs on full framework with CNG certificates"
Hi,

we've retargeted our STS from core to full framework (4.6.2) as we want to support SAML and WS-Fed. Our signing certs are using a CNG Key Storage provider, and now we get the following exception when IS4 attempts to generate a JWT.

[code]
As far as I can gather Microsoft.IdentityModel.Tokens.X509SecurityKey has been rewritten to support CNG (using RSACertificateExtensions), but it looks like

[2018-03-14 13:49] brockallen commented on #2150
Roles are just claims. RoleManager treats them as something special. If you don't need the role manager, then don't use it. The samples didn't need it.

[2018-03-14 14:16] Thor-Kristian-Valderhaug commented on #2150
Ok, thanks for the clarification.

[2018-03-14 14:54] leastprivilege commented on #2151
tbh - I don't know.

WS-Fed and SAML would also work on .NET Core though.

[2018-03-14 16:35] BrandonScharf opened #2152 "How to stop IndentiyServer / OpenID re-auth from interrupting a POST?"
I have a scenario where-in a user may be sitting on an edit page for a long time (more than 3 minutes). When the user finally finishes and submits the POST request, the authorization redirects back to the ID Provider (i.e., .../identity/connect/authorize?...), gets authorized, and then redirects back to the target url - but now as a GET. All the POST data has been entirely discarded.

The token is

[2018-03-14 16:43] chesco commented on #1908
@joaocolombo were you able to solve your issue? I am going through the same thing. I have an existing web api built on .net framework and there is no documentation on how to do this on a .net framework only for .net core.

[2018-03-14 17:37] joaocolombo commented on #1908
yeah, i solved this problem, actually is simples, you will need a Startup class and import these libraries
(IdentityServer3.AccessTokenValidation; Microsoft.Owin.Security.Cookies; Owin;).
It is harder if you have a injection dependecy, you will need some other librery, but if you want, i can help you.
Sorry about my english i still study  :D

[2018-03-14 18:07] brockallen commented on #2152
It's a hard problem to solve.

[2018-03-14 18:07] #2150 closed

[2018-03-14 18:11] brockallen commented on #2140
We don't allow many UI pages in an iframe. We want to prevent click-jacking scenarios (https://en.wikipedia.org/wiki/Clickjacking). Google's login page is the same, so we used that as precedent. Of course, you control the UI in IdentityServer, so if you want to relax those protections that's up to you and your threat modeling.

[2018-03-14 18:12] brockallen commented on #2085
Any update @stefanlohr?

[2018-03-14 18:12] #2115 closed

[2018-03-14 18:24] #2142 closed

[2018-03-14 21:24] chesco commented on #1908
Thank you. I’d really appreciate your help if possible. I’m on instagram @chesco.me and my email is chesco9@me.com if you want to reach out directly.

I think I got the api setup correctly but I still keep getting a 401 error

//Francisco

[2018-03-14 21:48] chesco commented on #1908
@joaocolombo thank you. Is there a way I can reach you? I can be found on IG @ chesco.me

[2018-03-15 00:10] JudeAlquiza commented on #2140
@brockallen Thanks for the response, we actually ended up white listing the domain that is allowed to host our server side pages in an iframe, only where the angular client app runs where we allowed it be hosted in an iframe and not anywhere else for security reasons.

[2018-03-15 05:46] #2140 closed

[2018-03-15 12:19] leastprivilege commented on #2151
Can you repro that outside of identityserver?

[2018-03-15 12:26] daghelge commented on #2151
I'll throw something together with test certificates for CSP and CNG.

[2018-03-15 12:30] leastprivilege commented on #2151
With an isolated sample it will be easier to talk to Microsoft I guess

[2018-03-15 14:20] 893949088 commented on #2028
@brockallen  Have you tried the sliding cookie expire?

[2018-03-15 15:15] Mardoxx commented on #905
`KeyId` is the id of the key, not the key itself.

Export a key as XML with all props (`RSA.Create().ToXmlString(true)`). Save this somewhere safe.

Modify your startup to do this:

[code]

If using netcore, you'll have to implement `fromXMLString(string xml)` yourself: `https://github.com/dotnet/core/issues/874#issuecomment-323894072`

[2018-03-15 15:46] siemens-slohr commented on #2085
im currently on vacation. will be back in april.

[2018-03-15 18:56] MonDeveloper commented on #1164
I agree with both of you:
- Scope must be unique (as said by @leastprivilege and @brockallen)
- Something to make the List unique is due (as requested by the @bungeemonkee).

I mean, the classic "vision" of the IdentityServer authors (or at least the vision I understood reading the docs) classify the "Scope" as something "smaller" that the "Api", I started designing my solution with this approach

[2018-03-16 00:30] DiginessForever commented on #1549
I found this aspnet issue about OIDC overwriting session cookie expirations:  https://github.com/aspnet/Security/issues/147
At the end of that issue, everyone was happy, the ASP.NET Identity team decided to set UseTokenLifetime to false so it wouldn't overwrite.  However, later, the issue may have started again when Azure B2C users complained about their B2C settings on token lifetime not being ho

[2018-03-16 01:00] bronumski opened #2153 "Serilog output to Seq is not treating details as a Json object but as a raw string"
### Issue / Steps to reproduce the problem

Configure IdentityServer logging as per:

http://docs.identityserver.io/en/release/topics/logging.html

Adding in a Sink to Seq

https://docs.getseq.net/docs/using-serilog

The rich Json output is there but it is not treated as a Json object but a string

![image](https://user-images.githubusercontent.com/3909845/37498185-163167f6-287a-11e8-85a8-590b21ff

[2018-03-16 06:07] maximpashuk opened #2154 "Bug in IdentityServerAuthenticationService.SignIn: 'idsrv.session' cookie not set if I pass 'scheme' explicitly"
I think there is a bug in [async Task IdentityServerAuthenticationService.SignInAsync(...)](https://github.com/IdentityServer/IdentityServer4/blob/18f092180495c5725b55a61e74879eec82d7a7d7/src/IdentityServer4/Hosting/IdentityServerAuthenticationService.cs#L61) method

I call this method with "scheme" parameter explicitly set, but **user session cookie not set**.
In my case 'scheme' != options.Defau

[2018-03-16 14:30] DiginessForever commented on #857
"OIDC tokens lifetime and IdentityServer session (= the cookie which is created upon authentication) are not correlated..."

If you were to set the client signin cookie to the same name as the IdentityServer authentication cookie, which if I understand correctly, is what was implied should be done on past cookie issue threads here, then you get this issue (evolution of the issue is below - oidc ov

[2018-03-17 00:02] DiginessForever commented on #1549
I also put a question up on StackOverflow if anyone wants to help dig at this issue:
https://stackoverflow.com/questions/49325793/identityserver4-cookie-expiration

I'm currently more than a little stuck around this.

[2018-03-17 01:19] brockallen commented on #1549
in which release did they make this change?

[2018-03-17 12:34] leastprivilege commented on #2154
What scheme do you want to pass in? Something else than the default sign-in scheme?

[2018-03-17 12:36] leastprivilege commented on #2153
The current logging is not really designed to be fully structured - that's a todo.

If you need structured data, look into events.

https://identityserver4.readthedocs.io/en/release/topics/events.html

[2018-03-17 13:53] mooths opened #2155 "GetProfileDataAsync not called in authorization code flow?"
I have successfully managed to add my own claims to Implicit flows (OpenId) sing the ProfileService, but when trying to do the same with an authorization code flow (OAuth2) the GetProfileDataAsync  method seem not to be called. I can get a security token from connect/token. This token contains a set of claims.
Would have been nice to have also my own claim in this set.

I have tried using the Iden

[2018-03-17 20:23] MPapst opened #2156 "EntityFramework Storage exception when inserting Client"
### Issue / Steps to reproduce the problem
Clone the samples and start the `Combined_AspNetIdentity_and_EntityFrameworkStorage` > `IdentityServerWithAspIdAndEF` sample project. Add /seed argument. I also replaced the connectionstring from sqlite to LocalDB and replaced UseSqlite with UseSqlServer.

### Relevant parts of the log file

[code]

When manually fixing the Client (by setting an Id before

[2018-03-18 09:11] vicmosin commented on #1816
Have the same issue, IdentityServer4 v2.0.6

[code]
While curling:
[code]

Give me wrong `aud` field:
[code]

[2018-03-18 09:12] vicmosin commented on #1816
@brockallen I added scopes to api-resource according your previous answer. Any ideas?

[2018-03-18 13:37] vicmosin commented on #1816
Not sure how exactly it can be avoided since it seems it's hardcoded in `DefaultTokenService.CreateAccessTokenAsync`

[2018-03-18 15:27] kamranbashir opened #2157 "asp.net Mvc web deploy / azure ready web app (Paas)"
Do we have a example or sample for identity server 4  to publish as a azure web application?

like we have in previous version identity sever 3 code available here
https://github.com/IdentityServer/IdentityServer3.Samples/tree/master/source/CustomUserService/CustomUserService

if some one can help, the help will be appreciated.

we need to publish identity server 4 as asp.net MVC into as web appli

[2018-03-18 21:23] LisaTatum opened #2158 "ASP.NET Core Identity has now Identity UI nuget, does IdentityServer want to follow?"
asp.net core identity =>

https://blogs.msdn.microsoft.com/webdev/2018/03/02/aspnetcore-2-1-identity-ui/

identityserver 4 =>

copy/paste and adapt the:  https://github.com/IdentityServer/IdentityServer4.Quickstart.UI

It would be cool to have the quickstart ui as nuget too where I could e.g. configure for inmemory or db persistance.

Its a feature request ;-)

[2018-03-18 21:31] brockallen commented on #2158
you can use the dotnet CLI: https://github.com/IdentityServer/IdentityServer4.Templates

[2018-03-18 21:35] LisaTatum commented on #2158
thx man, did not know that stuff, hoped for such an answer :-)

[2018-03-18 21:35] #2158 closed

[2018-03-19 06:07] YINZHU2016 opened #2159 "why Implicit return id token"
client configuraion
[code]

server configuration

[code]

but in my client i wirte token in page,but only id_token has value .but access_token not have value.
but in oauth protocol Implicit will return access token not id_token.
I know **Hybrid** can return access_token and id_token.At the time, I only wanted access tokens. Of course, by jumping to SSO to log in, and then getting the token. I don'

[2018-03-19 09:37] maximpashuk commented on #2154
Actually, I already solved my problem.

My case was: trying to use DefaultAuthenticationScheme as "Bearer" and DefaultSigninScheme as "idsrv".
In IdentityServerAuthenticationService.SignInAsync authscheme must be equal to signinscheme.
So I create this issue.

But later I have found a workaround: DefaultScheme is "idsrv", controllers where "Bearer" should be used I decorated with Authorize(Authent

[2018-03-19 09:55] #2154 closed

[2018-03-19 09:58] leastprivilege commented on #2159
The default response_type in the OIDC handler is `id_token`. For returning an access token to a server-side web app, you should use a reponse type of `code id_token`.

[2018-03-19 10:02] leastprivilege commented on #2155
GetProfileDataAsync is always called whenever we need claims for tokens or for userinfo. Check the logs in addition.

[2018-03-19 11:28] #2159 closed

[2018-03-19 12:32] JonasDbt commented on #1849
This would really be nice. Even the possibility to give a message (text) would be great. Maybe by setting a value in the options?

[2018-03-19 13:28] xcellsoft commented on #1331
@kspearrin solution worked for me on aspnet core version 2.0.5, this alone `ForwardedHeaders = ForwardedHeaders.XForwardedFor | ForwardedHeaders.XForwardedProto` does not work by itself, it needs the other options like the `RequireHeaderSymmetry = false`

I also am running on azure app services for linux with containers.

[2018-03-19 14:25] YINZHU2016 opened #2160 "How To Exit directly instead of jumping to the SSO exit interface"
http://docs.identityserver.io/en/release/topics/signout.html
i see many document about identityserver4,but i can not find how to do it .
the Front-channel,Back-channel , session management Very complicated, do not understand meaning

I was recently learning how to use identityserver4. I used the quickstart's page templates and features. I used hybird's mixed mode. Then my client is openid middlewa

[2018-03-19 16:09] DiginessForever commented on #1549
I don't know.  However, if you set the expiration of the client cookie before it gets back to the client middleware with the SecurityTokenValidated event, it's not set.

For instance, if you do:
[code]
Then it's not set, but then you can do (within the OpenIdConnectAuthenticationOptions block):
[code]
then the client cookie at least has its expiration set.  I'm still stuck though because everythin

[2018-03-19 16:14] brockallen commented on #2160
This is how it works. Check the specs: https://openid.net/connect/

[2018-03-19 16:33] DiginessForever commented on #1549
OK.  Bad assumption on my part, read that wrong on the AspNet Identity:  backtracking leads to this - it's actually just an Azure sample:
https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp/issues/19
So that's not the problem then.

[2018-03-19 16:37] DiginessForever commented on #1549
So, a review of the overall issue - here's my understanding so far:
If I want to set sessions to expire later, I need to set the cookie expiration on client and server and either set UseTokenLifetime to false or set the individual token lifetimes.  Still working on the server cookie flow with Azure.

[2018-03-19 23:09] wonl opened #2161 "loading CustomTokenRequestValidator after ProfileService"
### Startup.cs ###
[code]
In runtime, CustomTokenRequestValidator loads after CustomClient and before CustomProfile. Is this order intentional?

Is there a way to change the order so CustomProfile loads before CustomTokenRequestValidator? I need to retrieve a few claims from CustomProfile in CustomTokenRequestValidator. When I view CustomTokenRequestValidationContext, I see claims inside Client.Cl

[2018-03-20 00:39] maxmantz opened #2162 "Question: Why is my HttpContext.User not authenticated?"
I'm in the process of migrating from .NET Core 1.1 to 2.0 and while updating the IdentityServer4 configuration, I got stuck with the following situation.

### My Startup config:
[code]

### The situation:
The login and call to my `ProfileService` works fine, but when I'm sending a request to the protected API, my ClaimsPrincipal (accessed via `HttpContext.User`) is not authenticated, and his claim

[2018-03-20 04:55] YINZHU2016 commented on #2160
i have see the https://openid.net/connect/,but i still do not know how to do it.
please help thanks.
I want the client to log out of the local login state, and then can tell the SSO to exit the login state in the background, and can notify its client that the account is logged out, but instead of jumping to the SSO's loginout to use the iframe to notify other clients. I want to call a SSO interfac

[2018-03-20 07:07] MPapst commented on #2156
Found it.

Since the Initial Migration in the sample is built using Sqlite, it has added Annotations for Sqlite only:
[code]

For SqlServer a different annotation is necessary. By adding this one (just another anotation should work for both engines), the value is generated properly when inserting entities to the database:
[code]

[2018-03-20 07:56] Haleni888 commented on #909
Hi @mrnewrochelle,

To send a parameter from MVC hybrid client, I have used the following code as part of the OpenId Connect middleware initialization (.net core 1.x, this method is [obsolete in 2.x](https://github.com/aspnet/Security/issues/1310)):

[code]
Hope that helps.

[2018-03-20 12:59] brockallen commented on #2162
Does the API controller/action have [Authorize(Scheme="Bearer")]?

[2018-03-20 12:59] brockallen commented on #2160
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-03-20 12:59] #2160 closed

[2018-03-20 13:04] vanbukin opened #2163 "Resource Owner Credentials Flow returns id_token only when refreshing original token"
If we create client, that configured to work through Resource Owner Credentials Flow like this (client_id and clinet_password are `"password"`)
[code]
and request a tokens
[code]
we've got something like this
[code]
But if we refresh our access token
[code]
we got response that contains `id_token`
[code]
So my questions is:
Should IdentityServer issue an `id_token` during first request if `openid`

[2018-03-20 13:19] brockallen opened #2164 "Encode redirect uri on authorization response"

[2018-03-20 14:19] maxmantz commented on #2162
The controller does have the `[Authorize]` attribute, and after changing it to `[Authorize("Bearer")]` or `[Authorize(AuthenticationSchemes = "Bearer")]` nothing changed.

I'm wondering about the debug line `CORS request made for path: /api/data from origin: http://localhost:3000 but was ignored because path was not for an allowed IdentityServer CORS endpoint`. Maybe I'm missing something in the C

[2018-03-20 15:35] maxmantz commented on #2162
When I change `services.AddAuthentication()` to `services.AddAuthentication("Bearer")`, the problem gets reversed. Now an already existing token is accepted by the API, but the login fails at the call to `await HttpContext.SignInAsync()` with an exception::

[code]

[2018-03-20 16:55] maxmantz commented on #2162
Got it!

The problem was I was trying to access `HttpContext.User` from a custom middleware before the call to the controller. There, the user was null. I had to call `await httpContext.AuthenticateAsync("Bearer")` to get the user data.

Very informative talk - thanks for your help!

[2018-03-20 16:55] #2162 closed

[2018-03-20 16:56] akhileshcoer commented on #2162
I'm also facing same issue. Below is how I configuration..
`// removed

services.AddIdentityServer();
services.AddAuthentication(options =>
{
      options.DefaultAuthenticateScheme = JwtBearerDefaults.AuthenticationScheme;
      options.DefaultSignInScheme = IdentityServerAuthenticationDefaults.AuthenticationScheme;
      options.DefaultSignOutScheme = IdentityServerAuthenticationDefaults.Authent

[2018-03-20 17:55] akhileshcoer commented on #2162
This is closed. I was doing same mistake.

[2018-03-20 18:22] mrnewrochelle commented on #909
Thanks @Haleni888  Yes, I am looking how to do that exact thing in Core 2.0, so far documentation is not enough for Core 2.0, and all that I found is for Core 1.x.
Thanks again.

[2018-03-21 00:43] mrukas commented on #1625
This should be mentioned in the documentation of IdentityServer4. Thanks @weitzhandler your solution works great. Nothing more needed!

[2018-03-21 06:27] leastprivilege commented on #2163
No - the password grant type is not an OIDC flow

It is legal (per spec) to return an id_token on a refresh request if an identity scope was initially requested

Or maybe I should disallow openid scope for that flow and it is my miss in configuration?

Generally speaking the password grant type is not recommended and is only for legacy apps.

[2018-03-21 08:47] mhasanunal opened #2165 "[Question] Authority with both hostname and IP"
### 1. Explanation
I have a local DNS server thus I write all my configs with hostnames ( Both Identity Server and an MVC client ).
In local network it doesn't a problem and works like a charm.
For ex:
id_serv --> http://sso.mysite.com **Port (80)** _expects this hostname_
client --> http;//www.mysite.com/site1 **Port (80)** _expects this hostname_

### 2. Issue
My company uses **APN** service fro

[2018-03-21 13:14] mrnewrochelle commented on #909
I found the problem, I was doing everything with asp.net Core 2.0 Razor Pages, and I move everything to a Controller, and now it works perfectly.

Thanks all!

[2018-03-21 13:48] AndrePinto-NET opened #2166 "QuickStart - Windows authentication"
I've spent some time trying to set up windows authentication, and long story short, I think there is a mistake om the quick start samples. [Here](https://github.com/IdentityServer/IdentityServer4.Samples/blob/1264aacccfd532c8b4f1e181738c4943183afc3b/Quickstarts/Combined_AspNetIdentity_and_EntityFrameworkStorage/src/IdentityServerWithAspIdAndEF/Quickstart/Account/AccountController.cs#L417), I think

[2018-03-21 15:31] Sebosek opened #2167 "Secrets with `plus` symbol in secret aren't parsed well"
Symbols `+` (plus) are replaced by space (or any whitespace) which is a bug or breaking change in API.
Here is [a link to a reproducible solution on GitHub](https://github.com/Sebosek/ids4-2.1.2-parse-bug).
A bug occurs between version >2.0.6 and <=2.1.2.

### Issue / Steps to reproduce the problem
Here is a sample CURL
[code]

Which contains client `client` with secret `1+1`.
In the sample applic

[2018-03-21 16:09] leastprivilege commented on #2167
This has been discussed a couple of times - OAuth does not use HTTP Basic Authentication - but a variant of it (IOW curl does the wrong encoding)

https://tools.ietf.org/html/rfc6749#section-2.3.1

[2018-03-21 21:08] klanglie opened #2168 "NullReferenceException - IdentityServerWithAspIdAndEF Quickstart"
When I attempt to change the database for 'Quickstarts\Combined_AspNetIdentity_and_EntityFrameworkStorage' from using SqlLite to Sql Server, I get the following error.

Update - This is similar to [https://github.com/IdentityServer/IdentityServer4/issues/2156](url)

`
            services.AddDbContext<ApplicationDbContext>(options =>
                options.UseSqlServer("Data Source=localhost;Init

[2018-03-21 21:58] bronumski commented on #2153
Ok, thanks

[2018-03-21 21:58] #2153 closed

[2018-03-21 23:01] brockallen commented on #2164
Fixed.

[2018-03-21 23:01] #2164 closed

[2018-03-22 00:43] victorschinaider commented on #1739
And.... was solved?

[2018-03-22 01:22] brockallen commented on #2126
I think we will need a better description of what you're trying to achieve.

[2018-03-22 01:25] brockallen commented on #2161
I don't understand. You should look thru the code to understand the dependency graph.

[2018-03-22 01:26] brockallen commented on #2165
No, not with IP. TLS and PKI are involved to establish trust, so IPs won't work.

[2018-03-22 01:42] victorschinaider commented on #1739
In `Configure.cs`, i changed lines and work it. I think it's a bug.

When it was:
[code]

It gives me a 'CORS' error, but when i changed:

[code]

It worked.

[2018-03-22 02:20] brockallen commented on #1739
Yes, CORS config needs to come prior to any authentication middleware.

[2018-03-22 07:36] galgodage commented on #140
How can i use identityserver4 with asp.net MVC,  not core. Can i have sample

[2018-03-22 07:37] galgodage opened #2169 "How can i use identityserver4 with asp.net MVC, not core. Can i have sample"
How can i use identityserver4 with asp.net MVC, not core. Can i have sample

[2018-03-22 07:40] mooths commented on #2155
The problem I had seem to be the fact that I needed to define the openid profile scopes. That was probably why I got forbidden when calling userinfo.

[2018-03-22 08:39] richardlawidjaja commented on #2161
@brockallen so what he meant is the CustomTokenRequestValidator is triggered before we load data for Custom Profile in this case let say if we want to append additional response that has been loaded by the custom profile it will not be available when we trigger CustomTokenRequestValidator. as i have mention it above we can append some of the response in  IResourceOwnerPasswordValidator.

[2018-03-22 09:25] Sebosek commented on #2167
Oh, thanks for the reply. So, basically, it means that I should `client:1+1` encode by parts with form-encoding and than to base64.
I guess this could be closed then...

[2018-03-22 09:25] #2167 closed

[2018-03-22 11:41] tamas-kozma opened #2170 "Client identity proof and automatic authorization request processing"
A native (_public_) client uses the _code flow_ to authenticate the user and get consent, using a local loopback response URL. The user clicks remember me and remember consent check boxes. Next time the client makes an authorization request, it will be granted without user interaction. But what if next time it is a rogue app that uses the same client ID, and thus gets an _access_token_ for free.

[2018-03-22 11:56] leastprivilege commented on #2170
Well - if you want that behavior - don't allow saving consent.

[2018-03-22 11:58] tamas-kozma commented on #2170
But that will force my legit app to always show the consent page as well.

[2018-03-22 12:25] wickstargazer opened #2171 "HTTP POST connect/authorize seen as HTTP GET connect/authorize behind HAPRoxy SSL Termination"
### Issue / Steps to reproduce the problem
1. Setup a simple round-robind haproxy with ssl termination (Forward to port 80)
2. Deploy identity server with kestrel with UseIISIntegration
3. Post into the connect/authorize endpoint.

### Relevant parts of the log file

[code]
Please help me figure it out... As i tried using several middleware setup and it still does not work

[2018-03-22 14:41] leastprivilege commented on #2170
Sure - there is no way to distinguish between "legit" apps - and spoofed ones.

A native app would typically use refresh tokens to keep the "session" alive - so no need to go back to the authorize endpoint.

[2018-03-22 14:58] BrandonScharf commented on #2152
Any other suggestions? There has to be a way to solve this in the IDP, we cant be the first group who have seen this issue.

[2018-03-22 15:47] Ya-Wang opened #2172 "[ImplicitFlow] Redirect after authentication to goes nowhere"
The issue is that with the quickstart(with entity), I used my own database to authenticate the users and manage claims. I put a simple authetication method into the login model and called it in the login callback. It works and the user authenticates but never redirects to the main page it came from instead it goes back to the login page. Already logged in you can see the username and logout option

[2018-03-22 15:50] TomCJones commented on #2170
This is a severe problem with apps on a user's device. OpenID is trying to address the issue with FAPI http://openid.net/wg/fapi/
But I am afraid that even it does not go far enough. As the current Facebook imbroglio shows, it is hard for a user to understand which apps are trustworthy, let alone some random web site.

[2018-03-22 15:57] TomCJones commented on #2170
Proof of possession is another avenue you could explore https://datatracker.ietf.org/doc/rfc7800/

[2018-03-22 16:20] MPapst commented on #2168
HI @klanglie,
as you updated it. Its the same as #2156, if you dig deeper into the exception you will get the one that states the identity column may not be null.

[2018-03-22 16:24] brockallen commented on #2152
This has been a problem for 20+ years. I've not seen a solution.

[2018-03-22 16:30] brockallen commented on #2169
IdentityServer4 is ASP.NET Core based. Clients or APIs can use any technology stack.

[2018-03-22 16:30] #2169 closed

[2018-03-22 16:32] #2134 closed

[2018-03-22 16:35] brockallen commented on #2171
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-03-22 16:35] #2171 closed

[2018-03-22 16:36] klanglie commented on #2168
Okay. Then I will mark this as closed. I fixed the problem in my repo. [https://github.com/klanglie/IdentityServerAngularImplicitFlow](https://github.com/klanglie/IdentityServerAngularImplicitFlow)

[2018-03-22 16:36] #2168 closed

[2018-03-22 16:37] brockallen commented on #2172
It's unclear. You will need to debug more.

[2018-03-22 17:13] Ya-Wang commented on #2172
[code]

[2018-03-22 17:53] jklawrence opened #2173 "PublicOrigin with the value empty string results in invalid Issuer"
### Issue / Steps to reproduce the problem
- Set `IdentityServerOptions.PublicOrigin` to `string.Empty`.
- `IdentityServerApplicationBuilderExtensions.ValidateOptions(...)` does not log the fact that the PublicOrigin has been overwritten, because the IsPresent() extension method checks for !string.IsNullOrEmpty
[code]
- The `BaseUrlMiddleware` uses the null-coalescing operator to set the IdentityS

[2018-03-22 19:58] Ya-Wang commented on #2172
**Fixed.

I had to remove the add test users. Since I wasn't using test users no more.**

[2018-03-22 20:09] GeertVL opened #2174 "Two times localhost uri's as redirecturi gives errors"
### Steps to reproduce

When you add a client as follow:

[code]

### Relevant parts of the log file

[code]

Is it allowed to have localhost twice in your client definition or do I have to do it differently.

It is needed to use with Angular once to run it locally and twice to run the end to end tests.
Both use a different port.

[2018-03-22 20:47] zyofeng commented on #2089
Sorry for resurrecting an old ticket, I am still unclear on how this worked.
I have two RPs using IdV4, when I sign-out without specifying the logoutId, shall I expect both clients to be notified through multiple iframes?

If so how is this achieved? I am using the QuickStart sample code and I can only get it working with one client (since there is only 1 iframes on the LoggedOutView)

The OpenId

[2018-03-22 21:20] brockallen commented on #2172
All set on this issue -- can we close?

[2018-03-22 21:21] brockallen commented on #2174
There's not enough info here.

[2018-03-23 00:34] victorschinaider commented on #1739
Thanks for feedback!

[2018-03-23 05:17] FreePhil opened #2175 "OpenId2 Provider"
Fail to add existing **OpenId2** provider to IdentityServer 4.  Should I customize the authentication builder for **OpenId2**?

[2018-03-23 06:04] leastprivilege commented on #2175
You would need an ASP.NET Core OpenID authentication handler. This is independent of IdentityServer.

[2018-03-23 07:03] GeertVL commented on #2174
First question here. What more info do you need?

[2018-03-23 08:02] alesdvorakcz commented on #2084
the solution for me was IStartup interface which is not well documented. More info for example here: (just in case anyone will have same problem)
https://www.strathweb.com/2017/06/resolving-asp-net-core-startup-class-from-the-di-container/

[2018-03-23 08:09] FreePhil commented on #2175
Wondering if there is any open source I can reference?

[2018-03-23 09:56] Ya-Wang commented on #2172
all set, thanks.

[2018-03-23 09:56] #2172 closed

[2018-03-23 13:22] brockallen commented on #2174
For some reason on the user info endpoint, the access token being sent by the client is not being found by IdentityServer -- that's what it sounds like. Can you check the network trace on the call to useinfo to verify the presence of the access token?

[2018-03-23 13:53] brockallen commented on #2175
Perhaps here: https://github.com/aspnet-contrib/.

[2018-03-23 13:53] #2175 closed

[2018-03-23 13:56] brockallen commented on #2161
I guess I'm not following exactly. The ordering is the way it is. If you need to pass context from one to another, then that's beyond our design. If it's all in the same HTTP request, the consider putting info in the HttpContext.Items collection.

[2018-03-23 13:56] #2163 closed

[2018-03-23 13:57] brockallen commented on #2156
This is why migrations are the host's responsibility and not this library's. Glad you found it.

[2018-03-23 13:57] #2156 closed

[2018-03-23 14:06] brockallen opened #2176 "Allow client ids with spaces in check session endpoint"
https://github.com/IdentityModel/oidc-client-js/issues/490

[2018-03-23 14:15] ekarlso opened #2177 "Error after changing from Identity server 2.0.6 -> 2.1.3"
We have a identity server where we have additional endpoints on the server for user management etc that have:
    [Authorize(AuthenticationSchemes = "Bearer", Roles="admin")]

It seems the issue when we access for example /api/users is related to IdentityModel but I am not sure. Does anyone have an idea on this?
# Logs
[code]

[2018-03-23 15:21] icistrate commented on #1156
hi @yehonathan , @leastprivilege

I found this quite helpful, although it doesn't answer to one of my questions..

If I would like to attach a custom claim to a client (this coming from the client itself, after successful authorization).. how could I achieve this? how could I get this info on ids?
For example, in _/connect/authorize_ I don't see any extra params which client could post. Could you

[2018-03-23 19:11] brockallen commented on #2177
check for an update to all your nugets. there was a problem with .net 4.7 i think and identitymodel.

[2018-03-23 20:51] ddotm commented on #1627
For me this error occurs when sending a request from a JavaScript client to Web API **only** when Authorization header is on the request but the token is null, like so - `Authorization: Bearer null` or `Authorization: Bearer `

[2018-03-24 15:48] TomCJones commented on #1971
I have a working sample at https://github.com/TomCJones/IdentityServer4.AspNetIdentity
I would appreciate feedback.
I created a pull, but think some additional testing would be good.

[2018-03-24 22:24] brockallen commented on #1971
Ok, I"ll try to have a look when I'm back home in a week or so.

[2018-03-26 08:55] icistrate commented on #1156
Actually I realized that I could inspect the extra params via the "Raw" property of the ValidatedTokenRequest.. Unfortunately when I add new claims here, they are not showing up in the access token on client side.. not sure what I am missing

[2018-03-26 09:13] icistrate commented on #1156
Well, I discovered that `context.Result.ValidatedRequest.ClientClaims` should be used instead of `context.Result.ValidatedRequest.Client.Claims` .. could anybody confirm that this is how it should work?

[2018-03-26 14:38] brockallen commented on #2174
redirect uris are matched exactly, so if the port is configured then it needs to be in there.

[2018-03-26 14:50] DebasishEuro commented on #1256
Hello ,

Does Identity Server 4 support OAuth and SAML?.As we have an existing MVC application which needs to support the above two security protocols.This MVC application is using external Identity Providers like SSO..But our Identity Server is configured as OpenId and OAuth.If its possible please give a solution.

Thanks

[2018-03-26 14:53] scottbrady91 commented on #1256
You would need to implement something like https://tools.ietf.org/html/rfc7522. This isn't currently supported by IdentityServer or the IdentityServer SAML component.

[2018-03-26 15:11] YINZHU2016 opened #2178 "Define the settings for multiple single sign on"
hello
I have 6 web app, namely A, B, C, D, E and F I have used idrv4 SSO for their login, I have deployed a idrv4 server, but I have a special scenario. I hope it is single sign on A, B, C. Then D, E,F are single sign on another. But the situation is that they are all connected to the one idrv4 SSO, so now they are just logged together. What are the objects I can set to client in idrv4 to implemen

[2018-03-26 15:36] brockallen commented on #2178
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/release/intro/support.html) for more details.

Thanks!

[2018-03-26 15:36] #2178 closed

[2018-03-26 16:06] galgodage opened #2179 "After sign in i want take email address,"
Hi,
I have MVC application. i use identityserver4 for google and azure AD sign in. After sign in i want take login email address to my mvc application. How can i take it

lakmal